[2017-05-09 17:41] zepumph commented on #289
@ariel-phet please change priority if you feel differently.

[2017-06-06 22:28] pixelzoom commented on #274
Would be nice to wrap this up, it's been open too long for a high-priority issue.

In https://github.com/phetsims/axon/issues/124, we change Property.dispose to unlink all listeners.

Has `PHET_IO_FUNCTION` been removed from everywhere?

[2017-06-06 22:31] pixelzoom commented on #217
Labeling for developer meeting, we should try to clean up these problems in sun buttons.

[2017-06-06 22:33] pixelzoom commented on #289
HSlider allows you to customize the thumb, see options.thumbNode.  I'm skeptical that we'll come to an agreement on 1 thumb to be used in all sims, or be able to convince designers to use a single thumb.

[2017-06-06 22:34] pixelzoom commented on #289
FYI, the default HSlider thumb looks like this:

![screenshot_269](https://user-images.githubusercontent.com/3046552/26854989-f77ff566-4ad5-11e7-8528-0dd2e183fd28.png)

[2017-06-07 20:01] jonathanolson opened #290 "Mutability of view nodes"
The biggest pain point during development of the last two sims has by far been common view components not supporting mutable properties or resizing content.

Examples include:

- AccordionBox not being able to resize based on content
- RadioButtonGroup not being able to re-layout when item nodes change size
- RadioButtonGroup's colors can't be changed
- RectangularPushButton/BooleanRoundToggleButt

[2017-06-07 20:12] samreid commented on #290
I haven't had any sims where those described mutations would be necessary but it's easy to imagine cases where they would be valuable and I'm not opposed to having them added.  Also, let's consider `tandem` names and make sure this kind of mutation is not overdone.  For instance, the tandem/phet-io interface (and the sim implementation) would be awkward if there is a red "add electron" button that

[2017-06-07 20:27] jonathanolson commented on #290
An actual Area Model example that inspired this issue:

I have two RadioButtonGroups that are in two different panels (in two different files). They have icons that are specific to each file. It's now desired to have those buttons be the same size across the two panels.

- Desired implementation: I pass in an AlignGroup to both panels for the icon sizing. Each panel creates its icons, wraps them i

[2017-06-07 20:29] jonathanolson commented on #290
Is it awkward for phet-io if view nodes for the same model object are getting constantly replaced with slightly different view nodes every time a model property changes? That would presumably cause a lot of tandem.addInstance / tandem.removeInstance for something that shouldn't even be changing.

[2017-06-07 20:34] samreid commented on #290
Yes, PhET-iO interface is simpler for static items.  By static, I mean that `tandem.addInstance` is only called during simulation startup, and `tandem.removeInstance` is never called.

[2017-06-08 04:26] samreid commented on #274
I don't see that term in our codebase in master.

[2017-06-08 15:06] pixelzoom commented on #290
I understand the frustrations and motivation for suggesting mutability of UI components.

A few additional thoughts and observations:

(1) It's often unclear when implementing (or generalizing) a UI component which aspects need to be mutable. So when @jonathanolson says "New common components should have this type of mutation as the default", that sounds nice. But what exactly is "this type of mut

[2017-06-08 15:26] jbphet commented on #274
Yes, I removed usages of PHET_IO_FUNCTION (there were only one or two usages).

[2017-06-08 15:28] jbphet commented on #274
The only remaining work item on this is from comment https://github.com/phetsims/sun/issues/274#issuecomment-299270120 where it says, "[S]can through Property creation in common libs and make sure that Properties are disposed".  I can do that tomorrow, Friday June 8 2017, since that is my common code day.

[2017-06-08 16:26] jonathanolson commented on #290
Agreed that we don't want to over-do mutability.

Understood, but using workarounds (and then having to rewrite into a mutable form) also classifies the same way.

Agreed, it can be a balancing act.

[2017-06-08 17:27] samreid commented on #217
@ariel-phet says @jbphet will have some time freed up soon after Gene Expression and Expression Exchange is published.  Perhaps @jbphet can work on this while working on sonification and common code things.  Perhaps in a month or so?

[2017-06-08 17:40] samreid commented on #274
One option that was brought up: each UI component would create their own Property instances.  If a parameter is passed in, it could be *linked* to the UI component property.

[2017-06-08 17:46] samreid opened #291 "Should UI components always declare their own Properties?"
From https://github.com/phetsims/sun/issues/274#issuecomment-307175326

We would like to investigate UI components creating their own Property instance so it can always be disposed when the UI component is disposed.  When a Property is passed in through an option, it will be *linked to* the UI Property rather than replacing it.

Assigning @jbphet since he was assigned in #274

[2017-06-08 17:53] samreid opened #292 "Make sure Properties are disposed"
From
https://github.com/phetsims/sun/issues/274#issuecomment-307139130

Perhaps we should complete #291 first because it may inform this issue.

[2017-06-08 17:54] samreid commented on #292
@ariel-phet recommended @jbphet look into this when he look into sun in the next month or so.  But we should also consider other libs that may need this attention as well.

[2017-06-08 17:54] samreid commented on #291
@ariel-phet recommended @jbphet look into this when he look into sun in the next month or so.  But we should also consider other libs that may need this attention as well.

[2017-06-08 17:55] samreid commented on #274
Closing, the outstanding issues will be tracked in the above 2 issues.

[2017-06-08 17:55] #274 closed

[2017-06-09 03:14] pixelzoom opened #293 "bug changes the size of HSlider"
Discovered while working on Color Vision.

Here's how the "RBG Bulbs" screen is supposed to look (1.1.9 on the PhET website):

![screenshot_274](https://user-images.githubusercontent.com/3046552/26959642-46f70986-4c8e-11e7-8bff-e28e30ce6d55.png)

Here's how the "RBG Bulbs" screen looks in master. Note that all of the sliders are taller; the red slider is outside the layout bounds, and the blue sli

[2017-06-09 03:20] pixelzoom commented on #293
Perhaps this change to HSlider isn't properly accounting for cases like Color Vision, where an HSlider is rotate to a vertical orientation?

[2017-06-09 03:22] pixelzoom commented on #293
Spot checking HSlider in several other sims, I don't see any problem. So I'm more convinced that the offending code is broken for vertical sliders.

[2017-06-09 06:32] samreid commented on #293
The HSlider change made the slider 8px wider.  RGBSlider was adding 30px for its margin.  If we subtract off 8 from that margin, everything looks nice again (and we can retain the HSlider fix where the slider bounds don't change when the thumb goes off the edge of the track):

[code]

![image](https://user-images.githubusercontent.com/679486/26963671-11f662c8-4cab-11e7-9804-b395eecc5764.png)

Henc

[2017-06-09 20:36] pixelzoom commented on #293
That indeed fixes the issue for Color Vision. But what about other sims that are doing computations based on the slider width (or height, if the slider is rotated)?  Assuming that all HSlider instances are assigned to a var named "*Slider".... There are 9 occurrences of "lider.width", and 2 occurrences of "lider.height".

[2017-06-09 20:54] samreid commented on #293
@ariel-phet, a recent change to HSlider fixed a layout problem but also increased its width by 8 pixels.  @pixelzoom pointed out how this led to a layout problem for color vision "rgb bulb" screen, see above.  @ariel-phet Should we look through the rest of our sims and see if there are slider-related layout problems?  Can you please prioritize and delegate?

[2017-06-09 22:09] ariel-phet commented on #293
@samreid I imagine this will just require a quick visual inspection of all sims on master? Correct?

[2017-06-09 22:38] samreid commented on #293
@pixelzoom do you think a quick visual inspection of all sims on master in one browser would be sufficient?

[2017-06-12 15:01] pixelzoom commented on #293
Visual inspection on one browser should be sufficient to discover any serious problems (like Color Vision).    Comparison with published version would be needed to discover any less obvious layout differences, then decide whether the differences are important.

[2017-06-12 15:03] samreid commented on #293
Thanks for your comment @pixelzoom, back to you @ariel-phet.

[2017-06-12 17:24] ariel-phet commented on #293
I will take a look

[2017-06-13 21:16] jbphet opened #294 "tandem IDs for button fired emitters look a little odd"
Emitters were recently added to allow phet-io clients to see when the listeners for a button are about to be fired and then are done being fired.  I'm starting to use this functionality, and I noticed that the emitters are called `startedFiredEmitted` and `endedFiredEmitted`.  Since they represent emitters, I was a bit surprised that names weren't `startedFiredEmitter` and `endedFiredEmitter` or `

[2017-06-14 05:59] ariel-phet commented on #293
- [ ] Acid-Base Solutions
- [ ] Area Builder
- [ ] Arithmetic
- [ ] Atomic Interactions
- [ ] Balancing Act
- [ ] Balancing Chemical Equations
- [ ] Balloons and Static Electricity
- [ ] Beer's Law Lab
- [ ] Bending Light
- [ ] Build an Atom
- [ ] Charges And Fields
- [ ] Color Vision
- [ ] Concentration
- [ ] Energy Skate Park: Basics
- [ ] Faraday's Law
- [ ] Forces and Motion: Basics
- [ ] Frac

[2017-06-14 16:35] zepumph commented on #294
Definitely a typo. Can I just fix this in master, or would you like this in maintenance releases for the recently published phet-io sims that are being used in sonification?

[2017-06-14 23:13] zepumph commented on #294
assigning to @jbphet too, let me know if we need to do a maintenance release, or if it's good to close now.

[2017-06-14 23:51] ariel-phet commented on #293
Ohm's law on master:
![ohm](https://user-images.githubusercontent.com/4051174/27159408-0e251ad0-512a-11e7-8ab4-ca9ed9f997b6.PNG)

Ohm's law published:
![ohm1](https://user-images.githubusercontent.com/4051174/27159422-25597156-512a-11e7-85d5-0eca21903eb1.PNG)

[2017-06-15 00:03] ariel-phet commented on #293
I compared published and master on Windows Chrome for all sims with sliders.

@samreid looks like Ohm's law and RIAW are not passing, but all other sims look good.

Can you or @zepumph fix up RIAW and Ohm's Law?

[2017-06-15 00:48] zepumph commented on #293
@ariel-phet I would love a little bit of explanation on what there is to be done for this issue. I think that the main reason that you are seeing a difference between master on the phet site with these two, is because they were originally published with a custom slider implementation, and have since been moved over to master using HSlider. Here is RIAW

In master
![image](https://user-images.githu

[2017-06-15 01:50] ariel-phet commented on #293
@zepumph - yes basically the length of the black track should match the published version in both Ohm's Law and RIAW (currently on master the black track is quite short vertically)

[2017-06-15 02:26] samreid commented on #293
@ariel-phet HSlider does not currently support having the edge of the knob goes to the edge of the track.  It only supports having the middle of the knob going to the edge of the track.

![image](https://user-images.githubusercontent.com/679486/27162628-8f1584b2-513f-11e7-8cfa-9a0a6bf4984b.png)

This changed when @veillette rewrote the sim to use HSlider instead of a custom/independent implementat

[2017-06-15 04:56] ariel-phet commented on #293
@samreid @zepumph please replace the "custom" slider thumb in RIAW and Ohm's law with the standard slider thumb (but with a "silverish" coloring). Then extend the track more to match the original.

[2017-06-15 15:45] jbphet commented on #294
I think a maintenance release would be good.  I know it's a small thing, but I'm now using these IDs in the sonification wrapper, and they will break on the next release from master and we will have to remember why if we don't fix it now.  Better to get it taken care of.

[2017-06-15 15:46] jbphet commented on #294
Back to @zepumph to do a maintenance release.

[2017-06-15 15:58] pixelzoom commented on #293
The space between the bottom of the track and the label below it is probably also relevant.  There is excessive space in the screenshots taken from master.

[2017-06-15 16:05] zepumph commented on #294
@jbphet can you think of any other commits that should be added to these, while I'm doing it anyways?

[2017-06-15 17:12] jbphet commented on #294
Yes, actually, there was a maintenance release for BASE where an issue about the positions of the charges on the wall was fixed.  Please work with him to get this fix in.  I'll add him to the list of assignees.

[2017-06-15 21:46] zepumph commented on #294
I will watch https://github.com/phetsims/balloons-and-static-electricity/issues/273 for when the spot check QA task looks good.

[2017-06-15 22:51] zepumph commented on #294
Maintenance releases are live:
* https://phet-io.colorado.edu/sims/john-travoltage/1.4.1-phetio/wrappers/index/
* https://phet-io.colorado.edu/sims/build-an-atom/1.5.3-phetio/wrappers/index/
* https://phet-io.colorado.edu/sims/balloons-and-static-electricity/1.3.1-phetio/wrappers/index/

After talking to @jessegreenberg I added commits from https://github.com/phetsims/balloons-and-static-electrici

[2017-06-15 22:51] #294 closed

[2017-06-16 16:23] jbphet commented on #294
Thanks @zepumph!

[2017-06-20 19:11] pixelzoom opened #295 "delete unused icons in FontAwesomeNode"
While adding the 'reply' icon for equality-explorer, I noticed that several of the icons in FontAwesomeNode appear to be unused.  Since these are included in every sim that uses FontAwesomeNode, we decided awhile back (see #15) that it's important to include only icons that are actually used.

The unused icons and who added them:

ban_circle @samreid
fullscreen @samreid
keyboard @jessegreenberg
re

[2017-06-20 19:46] pixelzoom opened #296 "update check mark icons?"
`FontAwesomeNode.ICONS` currently has `check` and `check_without_box`. The latter is something that PhET created, and does not correspond to a Font Awesome icon; i.e.:

[code]

It looks like these could be updated to use [fa-check-square-o](http://fontawesome.io/icon/check-square-o/) and [fa-check](http://fontawesome.io/icon/check/) respectively.

`'check'` is used exclusively by sun.CheckBox.

`'

[2017-06-20 20:47] jessegreenberg commented on #295
```keyboard``` is no longer being used and I removed it from FontAwesomeNode in the above commit.

[2017-06-21 18:25] samreid commented on #295
I confirmed the icons are no longer used by manual search and aqua load only test, then I removed them in the above commit.  @pixelzoom anything else to do here?

[2017-06-21 18:41] pixelzoom commented on #295
Done, closing.

[2017-06-21 18:41] #295 closed

[2017-06-21 20:29] samreid commented on #296
Now that Font Awesome provides a check without a box, we should use it.

[2017-06-22 16:37] pixelzoom commented on #296
Updated check icons in the above commits using font-awesome-4.7.0.

Verified that CheckBox looks the same after switching to fa-check-square-o.

fa-check is slightly larger than PhET's check_no_box.  I verified that it looks OK in sims (all of which were mine) and in the PhET menu's "Fullscreen" menu item (the only place it appears in common code).

Leaving this labeled for developer meeting to al

[2017-06-22 19:19] #296 closed

[2017-06-25 01:39] zepumph commented on #293
I just need to do RIAW now.

[2017-06-26 22:31] zepumph commented on #289
I agree, I will just change the ones in RIAW and OL to spruce them up a bit. OL was done in https://github.com/phetsims/ohms-law/issues/53, and RIAW in phetsims/resistance-in-a-wire#88

Closing

[2017-06-26 22:31] #289 closed

[2017-06-28 19:48] phet-steele opened #297 "Segment start is infinite (6/28/17)"
Hunch that this came from https://github.com/phetsims/sun/commit/ff3a14c30db9b9a4e7efdd7ee711c0920ed21557. Affects a bunch of sims, they fail to load. Example from GAO:
[code]

[2017-06-28 21:01] #297 closed

[2017-07-03 19:50] zepumph commented on #289
I removed the default thumbs RIAW now too.

[2017-07-03 19:56] zepumph commented on #293
RIAW is done now. I will get feedback during the dev test. See above commit.

[2017-07-03 21:20] zepumph commented on #293
@ariel-phet supplied designer feedback for the color. Closing

[2017-07-03 21:20] #293 closed

[2017-07-05 17:59] jonathanolson opened #298 "Suspicious ComboBox spacing"
pendulum-lab:
![pendulum-popup](https://user-images.githubusercontent.com/480878/27877796-43e38c06-6179-11e7-9ce0-7069b03b8a6d.PNG)

masses-and-springs:
![ms-popup](https://user-images.githubusercontent.com/480878/27877816-59d169e8-6179-11e7-89e5-0781cb90fe87.png)

Probably related to listYMargin, investigating.

[2017-07-05 18:01] pixelzoom commented on #298
@samreid commented out buttonYMargin and listYMargin options in the client, and the problem went away.  I verified that commenting out both of these was required.

[2017-07-05 18:36] jonathanolson opened #299 "ComboBox leaks parents references on item nodes"
Whenever an item is selected, its added with:
[code]
where the item is added as a child in ComboBoxItemNode, but it is never removed. Switching back and forth between items results in a leak where the parents array of the items only grows:

![combobox-leak](https://user-images.githubusercontent.com/480878/27879360-943b4bee-617e-11e7-9cca-f464bcbf5210.PNG)
(tested reproduction in molarity).

[2017-07-05 18:42] jonathanolson commented on #298
Looks like the direct positioning of item nodes in the ComboBoxItemNode is likely to blame, as the ComboBoxItemNode for the ButtonNode wants to position it differently than the ComboBoxItemNodes for the listNode.

[2017-07-05 18:46] jonathanolson commented on #298
Or possibly not, spoke too soon.

[2017-07-05 19:56] #299 closed

[2017-07-05 19:59] jonathanolson commented on #298
Changes:

- Now always using different ComboBoxItemNodes for the ButtonNode, instead of using the first of listNodes (that was the main layout bug, where it repositioned the first item node).
- Fixed up disposal for handling the ComboBoxItemNodes for the ButtonNode (see https://github.com/phetsims/sun/issues/299).
- Did assorted other cleanup that was somewhat related.

Passed spot checks (pendulu

[2017-07-05 20:25] zepumph opened #300 "[phet-io] ComboBox doesn't record state of selection menu or highlight"
@jonathanolson pointed out that in the state wrapper, comboBoxes are not saving the state of the open menu or highlight. As a result in the state wrapper, the downstream sim is only updated when an option is submitted. See below. @samreid have we discussed this before and decided these don't belong in the state of a sim?

![image](https://user-images.githubusercontent.com/6856943/27883371-c2a23c42

[2017-07-05 20:27] phet-steele commented on #300
@zepumph @jonathanolson @samreid see https://github.com/phetsims/phet-io/issues/1102#issuecomment-293361510 for why I haven't mentioned this before.

[2017-07-06 16:31] pixelzoom commented on #298
I skimmed the changes, didn't see anything amiss, looks good.   I also ran a few sims from master, compared to their published versions, and I didn't see any problems, they spacing in the combo boxes was unchanged.

Closing.

[2017-07-06 16:31] #298 closed

[2017-07-11 16:56] pixelzoom opened #301 "HSlider: add option to vertically offset thumb"
HSlider vertically centers its thumb in the track, for example in sun demo:

![screenshot_311](https://user-images.githubusercontent.com/3046552/28079874-334d0fcc-6627-11e7-932e-7f422a6f5d23.png)

If you need to provide a custom thumb, this can be problematic.  For example, in Molecule Polarity we are discussing using this custom thumb (see https://github.com/phetsims/molecule-polarity/issues/39),

[2017-07-11 17:03] pixelzoom commented on #301
"JO"

@jonathanolson please review.

[2017-07-11 17:17] jonathanolson commented on #301
Looks good to me.

[2017-07-11 17:17] #301 closed

[2017-07-14 18:57] pixelzoom opened #302 "HSliderTrack: add cornerRadius option"
Add option `cornerRadius:0` to HSliderTrack.
Propagate through HSlider via option `trackCornerRadius:0`.

This is needed to reproduce this look in Molarity, see https://github.com/phetsims/molarity/issues/40:

![screenshot_316](https://user-images.githubusercontent.com/3046552/28226575-e3fff50a-6893-11e7-9645-15ae1dc7ecf5.png)

[2017-07-14 19:01] pixelzoom commented on #302
[code]

@jonathanolson please review.

[2017-07-14 20:11] jonathanolson commented on #302
Your change looks good. Diff highlighted the line that got a comma added:
[code]
Since this has been broken before your changes, I'm not sure if "correcting" it to `lineWidth` would break usages?

[2017-07-14 20:12] jonathanolson commented on #302
(Probably fine to close this issue and create an issue for the `ineWidth`?)

[2017-07-14 20:17] pixelzoom commented on #302
I'll create a new issue for `ineWidth`.

[2017-07-14 20:20] pixelzoom opened #303 "Option typo (ineWidth) in HSliderTrack"
In https://github.com/phetsims/sun/issues/302#issuecomment-315455989, @jonathanolson noticed a problem:

The offending code is in HSliderTrack, line 82:

[code]

No idea what this might break, but I'm going to fix it, then notify developer.

[2017-07-14 20:21] #302 closed

[2017-07-14 20:25] pixelzoom commented on #303
Email to devs:

[2017-07-14 20:25] #303 closed

[2017-07-17 20:14] jonathanolson opened #304 "AccordionBox resizing"
Per https://github.com/phetsims/sun/issues/290 and this coming up as a pain point two consecutive sims I've worked on, I'd like to add a `{ resize: true }` option to AccordionBox, so that it can handle content/title size changes (and potentially other changes) naturally. Default will be to `{ resize: false }` for compatibility.

[2017-07-17 20:16] jonathanolson opened #305 "[branch] accordion-resize"
For https://github.com/phetsims/sun/issues/304, changes may be significant.

[2017-07-17 23:16] jonathanolson commented on #304
Assigning to @jbphet for review of changes.

[2017-07-17 23:17] jonathanolson commented on #305
Branch removed, merged to master.

[2017-07-18 00:20] jonathanolson commented on #276
I'm sufficiently satisfied with this solution for sizing the content and alignment, so I'm fine personally with closing it. (Tagging for developer meeting to see if people have used it).

Sizing the container instead of the content is a whole other animal, and would be a separate issue.

[2017-07-18 23:45] samreid commented on #276
I've had good a experience with AlignGroup in CCK.

[2017-07-19 17:27] pixelzoom opened #306 "HSlider: option for pointy thumb?"
Migrating this issue from https://github.com/phetsims/molecule-polarity/issues/39.

HSlider's default thumb is rectangular, like this:

![screenshot_326](https://user-images.githubusercontent.com/3046552/28380459-a5d0031c-6c74-11e7-8f3a-b2653b37bd86.png)

In Molecule Polarity, we decided that a "pointy thumb" was more effective, like this:

![screenshot_325](https://user-images.githubusercontent.c

[2017-07-19 17:32] pixelzoom commented on #306
... or rather than adding yet-another option.

Clients could instantiate their own PointyThumb (as is done in molecule-polarity ElectronegativityControl) and provide it to the HSlider, e.g.:

[code]

[2017-07-24 21:31] samreid opened #307 "Carousel should support objects of different sizes"
Carousel is currently optimized for items of the same size.  When objects are different size, the layout strategy will lead to unequal spacing as documented in https://github.com/phetsims/circuit-construction-kit-dc/issues/91.  See https://github.com/phetsims/circuit-construction-kit-dc/issues/91#issuecomment-317186449 in particular for pics of this phenomenon.

[2017-07-24 21:32] samreid commented on #307
In https://github.com/phetsims/circuit-construction-kit-dc/issues/91#issuecomment-317205783 @pixelzoom said:

[2017-07-24 21:37] samreid commented on #307
I originally investigated a solution like this:

[code]
...
[code]

The client code looked like this:
[code]

And the view looked like this:
![image](https://user-images.githubusercontent.com/679486/28545863-da90c856-7085-11e7-917d-7129be5914e8.png)

[2017-07-24 21:39] samreid commented on #307
The above approach seems like it would allow complete flexibility in the positioning of objects, but it requires a lot of manual adjustment on the simulation side.  I wonder what a solution would look like that maintains a constant spacing between object edges rather than between their centers.

[2017-07-24 21:57] ariel-phet commented on #307
@samreid just to be clear, this is certainly a lower priority issue to me. Lots of fish to fry on CCK, and this is a visual tweak that will become important to me once we are close to publication and other bugs are all worked out. Recommend not spending time on it for the moment.

[2017-07-24 22:01] samreid commented on #307
Sounds fine, I'll just jot down some thoughts before turning my attention elsewhere. I investigated the idea of setting the spacing between top/bottom (can be generalized to left/right) and it looked something like this:

[code]

And the spacing came out like this:

![image](https://user-images.githubusercontent.com/679486/28546674-d318bef0-7088-11e7-99dc-c1d4a35b55e8.png)

This could take longer

[2017-07-24 22:02] samreid commented on #307
Reassigned to @ariel-phet to evaluate the approaches identified above, and to prioritize, delegate and schedule.

[2017-07-24 22:03] samreid commented on #307
The time estimate for the approach in https://github.com/phetsims/sun/issues/307#issuecomment-317562469 is about 15 minutes.

[2017-07-24 22:23] arouinfar commented on #307
@samreid I think the "after" in https://github.com/phetsims/sun/issues/307#issuecomment-317562469 looks really nice.

[2017-07-24 22:25] ariel-phet commented on #307
@pixelzoom mind chiming in on the proposed approach. I think being able to set spacing top an bottom might be quite nice when dealing with carousels that have this objects with various sizes (which will happen more).

[2017-07-25 16:40] samreid commented on #307
I'd also love to hear from @pixelzoom before further investigation on the strategy to deal with spacing between object edges rather their centers--it seems liable to have a page end halfway across an item (or lead to gaps).  We may need to live with an adjustment pattern?

[2017-07-25 16:50] ariel-phet commented on #307
@samreid could things be set up, so spacing between centers is the default (works well for all objects the same size) and an option for using spacing between edges? (Or is that what you were already proposing)?

[2017-07-25 18:50] samreid commented on #307
It would be simplest if one strategy worked well for for all cases, but not too crazy if we need to support 2 strategies.

For the new strategy, what if you specify the number of items per page but not the spacing between items (well, perhaps a minimum spacing), and it will automatically position them have the correct edge-edge (or center-center) spacing?

[2017-07-25 20:11] samreid commented on #307
In discussion with @jonathanolson, he recommended the best long term solution for Carousel would be to use HBox/VBox style spacing (between edges of objects).  This would need to detect the proper padding to align things, you would need to pass in a minimum spacing, and it may need to add a little extra spacing on some pages so the alignment would look correct.  If the last page is unfilled, it wo

[2017-07-26 18:10] pixelzoom commented on #307
You (collectively) seem to feel that this is worth complicating Carousel.  I don't share that opinion.   When you decide on an implementation, have tested it thoroughly, and have added a demonstration to sun's demo application, then I'll be happy to review the changes.

[2017-07-26 18:45] samreid commented on #307
I'm satisfied with the workaround applied in Circuit Construction Kit, so this is not a high priority issue for me.  Generally, it seems like Carousel should gracefully accommodate objects of different size.  I'll leave it up to @ariel-phet to decide if/when to proceed with that.

[2017-07-26 19:05] ariel-phet commented on #307
@samreid sounds good. Will unassign for the moment, and we can revisit as needed (will likely come up again in further CCK incarnations).

[2017-07-26 20:53] pixelzoom commented on #276
Reviewed for developer meeting. I have had no experience with this yet, unlikely to be needed in the sim that I'm working on.

[2017-07-29 01:00] zepumph commented on #300
Since opening this issue I talked with @samreid again about things like this. State is only for keeping track of the "meat and bones" of the sim. State's could be thought of as any configuration that a teacher may want to have on start up, so we don't are about partial states like an open combo box. Just like how we aren't keeping track of the phetMenu, since it is unlikely that teachers would wan

[2017-07-29 01:00] #300 closed

[2017-08-07 20:31] jbphet commented on #304
I have a handful of comments:

+ It would be good to add a demo/test of this to the Sun demo, including having a resize button (or something) to resize the content and test/demonstrate this capability.  This would be helpful for regression testing future changes as well as for having a demonstration of how to use it.
+ this._titleBarFill and this._titleBarStroke are both unused.  If the idea is to

[2017-08-07 21:01] jonathanolson commented on #304
Demo added.

Removed the unused properties, sorry about that!

Using self now.

Pendulum Lab uses it (the energy accordion box changes size on startup, since it's all attached through an AlignGroup). Demo also exists now. Plan to handle that Area Model TODO when doing more Area Model stuff (it's more than just that change).

I removed the comment for now, as it doesn't really help the current stat

[2017-08-09 23:04] jessegreenberg opened #308 "Improve documentation in HSliderTrack"
In slack, there were some questions about why HSliderTrack ```enabledTrack``` and ```disabledTrack``` are layered, and why both are visible when enabled.  There is some documentation at the top of the file, but it could be improved.

[2017-08-09 23:12] jessegreenberg commented on #308
Tried to clarify some things, @jonathanolson since you noticed that it wasn't clear can you please review?

[2017-08-09 23:29] jonathanolson commented on #308
Looks great, thanks!

[2017-08-09 23:29] #308 closed

[2017-08-12 17:10] samreid opened #309 "branch: key-events-in-phet-io"
To support https://github.com/phetsims/phet-io/issues/1198

[2017-08-25 20:21] jessegreenberg opened #310 "Instrument HSlider enabledProperty"
From https://github.com/phetsims/forces-and-motion-basics/issues/242. I can optionally pass in an instrumented ```enabledProperty```, but should HSlider's default ```enabledProperty``` be instrumented?

[2017-08-25 21:20] samreid commented on #310
Yes, the HSlider default enabledProperty should be instrumented, but I don't see a straightforward way to do so.  If we add a tandem in the options declaration, it will register the property.  Then if the enabledProperty is replaced by the options arguments, we would need to unregister it.  Or we could wait until after the options extension to decide whether to create the HSlider enabledProperty,

[2017-08-25 22:51] jessegreenberg commented on #310
Can tandems and associated properties be set dynamically or do they need to be set up during construction?

Would something like this work after the options extension?
[code]

[2017-08-25 22:52] jessegreenberg commented on #310
Ah, it looks like Node might be the only thing with a getter for tandem.

[2017-08-25 22:55] samreid commented on #310
As a convention, tandems are provided as constructor arguments and never changed.  But we could delay creation of the Emitter until we are sure it is needed.

[2017-08-25 23:02] jessegreenberg commented on #310
I see, so something like this before the options extension?

[code]

[2017-08-25 23:03] samreid commented on #310
Yes, that looks like it would work well, want to give it a try?

[2017-08-25 23:03] jessegreenberg commented on #310
Sure! We will want to do this for ```enabledRangeProperty``` too.

[2017-08-25 23:29] jessegreenberg commented on #310
Seems to be working but @samreid can you please take a look? The "tandem stuff" requires ```options.tandem``` to be defined, so they had to be wrapped in an extra conditional. What is the phetioValueType for the 'range' object passed to HSlider? Do we need something new for this like THSliderRange?

[2017-08-27 17:13] samreid commented on #310
Yes, it seems we will need to create TRange.  Also, the given implementation seems to be working, but these lines will need to be changed:

[code]

Also, it seems unfortunate that the values would have to be set outside of the options declaration, since that is the natural place for developers to look--but I couldn't find a palatable way to do so.  Maybe I just need to look further...?

[2017-08-27 17:21] samreid commented on #310
I created TRange and used it in HSlider, it seems to be appearing nicely in instance proxies.

![image](https://user-images.githubusercontent.com/679486/29752364-bfc6fa64-8b19-11e7-85f0-8fd1e5cbd6db.png)

[2017-08-27 17:26] samreid commented on #310
Also, I'm wondering if should fill in those instrumented properties after the options in order to make sure the tandem gets filled in correctly (in the options extend call).

[2017-08-27 17:29] samreid commented on #310
I'd love help finding a more elegant solution for this, if one exists, unassigning for now but would be good to collaborate with @jessegreenberg or @zepumph when our time matches up.

[2017-08-29 21:51] pixelzoom opened #311 "branch: ama/dispose"
Looks like this undocumented branch was created by @andrewadare on 7/7/2016, with one commit related to https://github.com/phetsims/sun/issues/212.

https://github.com/phetsims/sun/issues/212#issuecomment-258960706 seems relevant:

Based on the comments that appear after the above comment, it seems like the work in this branch is a bit of a dead end, and should likely be deleted.

@samreid any rec

[2017-08-31 22:37] samreid opened #312 "Replace color strings with Color.CONSTANTs"
For instance, Panel.js has:

[code]

Using colors like that instantiates extra objects and takes more work, it seems it would be better to use Color.WHITE and Color.BLACK.  I'm seeing many occurrences of 'white' and 'black' throughout the sim.  @jonathanolson can you confirm that this would be a desirable change?

[2017-09-01 16:02] samreid opened #313 "Panel(resize:false) alignment incorrect when content size changes"
For Circuit Construction Kit: DC we would like the panel width to be a fixed size (for the max value of 10.0 ohms), but we would like all text to be right-aligned.  Putting resize:false prevents the background from resizing but it also prevents the text from remaining aligned.  Reference issue is https://github.com/phetsims/circuit-construction-kit-common/issues/396

How should we address this?

[2017-09-01 16:24] jonathanolson commented on #313
The more I think about it, `align` isn't a supported feature when `resize:false` (if you want it to maintain alignment when the content changes bounds). It's more of an "align on startup".

[2017-09-01 17:12] samreid commented on #313
We decided to use Rectangle instead of Panel for cases like this, see the CCK issue mentioned above, closing.

[2017-09-01 17:12] #313 closed

[2017-09-04 17:49] jonathanolson commented on #312
It may be a minor memory/performance win to directly reference color objects like that. Probably not significant unless there are a large number of objects of a specific type.

[2017-09-05 21:36] jonathanolson commented on #307
I removed the REVIEW note in CCK.

I'd like to state that, for the record, I believe this may be valuable behavior, even if it becomes a separate "Carousel" implementation that doesn't complicated the original.

Waiting for the next usage (in another sim) sounds workable to me.

[2017-09-08 15:32] samreid commented on #312
Perhaps we should keep this in mind for sims that are known to have performance problems.  Maybe I'll add a section to the developer guide?

[2017-09-08 16:15] samreid commented on #312
The development overview is now sporting a performance section: https://github.com/phetsims/sun/issues/312

[2017-09-08 16:15] #312 closed

[2017-09-08 22:10] samreid commented on #311
I reviewed the branch and it seems it can be deleted now, I'll do so.

[2017-09-08 22:10] samreid commented on #311
Branch is gone, closing.

[2017-09-11 23:45] zepumph commented on #310
This does seem messy! I committed above a small fix that is a bit more robust. Now I would like to talk through potential solutions.

Maybe we could have phet-io have a built in way of overriding something in the tandem registry. Currently we just have this line to protect against this:
[code]

But if there was a way to opt out of that and say "Hey, I know that this tandem already exists. It was a

[2017-09-12 00:10] samreid commented on #310
I tried to clean up the given implementation.  We already know `options` exists after the extend call.  We also know options.tandem exists because it is provided as a default or overriden.  I also added a spot in the options for the two properties so clients will know to look for them below. I also switched to the `||` syntax in case it is clearer.   Tested in instance proxies with concentration a

[2017-09-12 00:12] samreid commented on #310
It would be nice if we can avoid having to add something like overriding tandems or `phetioDefaultTandemOverwritable`.  Having "assigned once and correct on instantiation" is a great simplifying factor.

[2017-09-12 00:28] zepumph commented on #310
Looks very nice. I am much happier with this solution that where it was an hour ago. I don't think that there are many Types where this will take place, and so I think this is fine, as long as it is well documented.

I agree in favor of solutions without adding additional flags like `phetioDefaultTandemOverwritable`. Closing.

[2017-09-12 00:28] #310 closed

[2017-09-12 17:57] jessegreenberg opened #314 "Make ComboBox accessible"
From https://github.com/phetsims/molarity/issues/37, we would like to make ComboBox accessible with keyboard navigation and description. We found recommendation from W3 for best practices and a working example:

https://www.w3.org/TR/2016/WD-wai-aria-practices-1.1-20160317/#combobox
http://demos.telerik.com/kendo-ui/combobox/keyboard-navigation

but it would be great to have a more solid mockup fo

[2017-09-14 18:23] zepumph opened #315 "Why do TPanel and TVerticalCheckBoxGroup exist?"
I see that these two TTypes don't add anything to the type. Nothing is added to the event stream, and no methods are exposed to the api. @samreid do you think we should delete these and just use TNode?

[2017-09-18 22:26] zepumph opened #316 "Make sure all a11y radio buttons have the name attribute"
In Reactants, Products and Leftovers as well as Build an Atom there is inconsistent focus highlight with the radio buttons.

When you tab forward (tab key) to the radio buttons, it will always highlight the first radio button, and when you tab backwards to it (shift + tab keys) the focus highlight will always be around the last radio button.

The ideal behavior would be to have the focus highlight

[2017-09-18 22:49] zepumph commented on #316
@jessegreenberg and I found some seriously strange behavior. We looked into AquaRadioButtons in AtomView in BAA.  It looks like there was no name attribute on these components, which is responsible for linking them to some extent. In the chrome debugger we added the name attributes directly and all looked good (the radio button behavior was fixed, and worked like MAL which uses RadioButtonGroup).

[2017-09-19 03:32] samreid commented on #315
I think they should be deleted and use TNode instead.

[2017-09-19 03:33] samreid commented on #315
Reopened after accidental close, @zepumph can you please remove those types and replace usages with TNode?

[2017-09-20 01:23] zepumph commented on #315
These have been deleted and TNode is being used by default.

Fuzz Tests are passing. Closing

[2017-09-20 01:23] #315 closed

[2017-09-20 16:35] jessegreenberg commented on #316
BASE uses VerticalAquaRadioButtonGroup and this isn't a problem in that sim. RPAL and BAA use AquaRadioButtons without using VerticalAquaRadioButtonGroup, so we should compare the generated HTML again.

[2017-09-20 16:40] jessegreenberg commented on #316
Accessible HTML in BAA:
[code]

HTML in BASE:
[code]

[2017-09-20 16:41] jessegreenberg commented on #316
Differences I see are that BAAs buttons are not in a list, don't have the name attribute, and the labels are empty. Wondering if the browser is getting confused with an empty ```<label for="id"></label>``` element?

[2017-09-20 17:02] jessegreenberg commented on #316
When I change the HTML in BAA to look like this (adding ul, name, and label content)

[code]

Both radio buttons are removed from focus order. But when I press one of the buttons with the mouse, they are focusable and then keyboard focus  works exactly as it should.  So what happens when we click on them? I see no change in the HTML.

[2017-09-20 17:20] pixelzoom commented on #316
@jessegreenberg said:

In case you're considering using VerticalAquaRadioButtonGroup, see https://github.com/phetsims/sun/issues/30.   It is not the right approach to grouping UI components, and I'd prefer to not find it used in sims that I'm responsible for.

[2017-09-20 17:25] jessegreenberg commented on #316
We won't be using VerticalAquaRadioButtonGroup everywhere, just noticed that this bug isn't happening when using it and trying to figure out what the difference is. Keyboard nav should work the same in both cases.

[2017-09-26 01:07] zepumph opened #317 "Should you be able to focus on a button that is disabled?"
In https://github.com/phetsims/reactants-products-and-leftovers/issues/56 I realized that when a button is disabled via the `enabledProperty`, it is still focusable with a11y. @jessegreenberg how is the best way to tackle this. I don't think we want this functionality.

[2017-09-26 03:01] jessegreenberg commented on #317
Good question @zepumph, I am not sure.  I have read that it is important for a11y to keep disabled buttons focusable so that AT users can still find them and so the flow remains the same. AT read these buttons as "Disabled". (https://ux.stackexchange.com/questions/103239/should-disabled-elements-be-focusable-for-accessibility-purposes)

But it looks like Chrome removes disabled buttons by default!

[2017-09-26 03:03] jessegreenberg commented on #317
W3C recommendation is pretty vague: https://www.w3.org/TR/wai-aria/states_and_properties#aria-disabled.

[2017-09-26 03:05] jessegreenberg commented on #317
Now I am leaning toward removing these from focus order, from [MDN](https://developer.mozilla.org/en-US/docs/Mozilla/Tech/XUL/Attribute/disabled):

But it would still be good to hear from @terracoda.

[2017-09-26 12:59] terracoda commented on #317
@zepumph, I will look into this, but my intuition is that a control that is disabled and visible should be findable and communicated as disabled to AT users. Need to check about the actual findability level (remains in Tab order, or remains findable with cursor keys).

[2017-09-26 17:20] jessegreenberg opened #318 "NumberSpinner should behave like NumberPicker for keyboard navigation"
In NumberPicker, the focus highlight goes around the buttons and the arrow keys can be used to increment/decrement the values.  NumberSpinner should behave the same way. The focus highlight should go around the arrow buttons and not include the  readout.

[2017-09-28 19:52] pixelzoom opened #319 "add option for aligning icons in ToggleNode"
ToggleNode currently assumes that you want the icons center aligned:

[code]

In equality-explorer, I have 2 icons that most definitely cannot be center aligned.  They are:

![lock-artwork](https://user-images.githubusercontent.com/3046552/30987426-34a2999e-a454-11e7-83f3-16f403a0c8cc.png)

So that I can use ToggleNode for this application, I'm going to add an option to specify the strategy for al

[2017-09-28 19:57] pixelzoom commented on #319
Done. Tested in BASE. Could not test in FAMB because it currently fails at startup in requirejs mode ("this.phetioArgumentTypes[0].toStateObject is not a function").

Assigning to @zepumph to address FAMB, or assign to someone who should fix it.  Then feel free to close.

[2017-09-29 15:15] zepumph commented on #319
https://github.com/phetsims/phet-io/issues/1223 addressed the concern yesterday. I only see SoundToggleButton being used in FAMB, and it runs without error and looks well aligned. Closing

[2017-09-29 15:15] #319 closed

[2017-09-29 23:45] jessegreenberg commented on #317
@terracoda in a discussion today with @emily-phet and @zepumph we decided that it was best to keep disabled buttons in the navigation order like your original intuition. @zepumph brought up that that for groups of UI components that can be enabled/disabled it is much more convenient to remember how many buttons are in the order and leverage that to navigate the page quickly. In that sense it is *l

[2017-09-29 23:45] #317 closed

[2017-09-29 23:55] jessegreenberg opened #320 "VoiceOver gestures don't work with HSlider"
In a recent interview with a VoiceOver user, the user tried to use a VoiceOver gesture to interact with an HSlider and it didn't work. According to https://www.apple.com/voiceover/info/guide/_1131.html#vo27992, the gesture can be done by doing this with VoiceOver enabled:

This is likely happening because we decided to roll our own implementation of an accessible slider to support PhET's atypical

[2017-09-30 19:24] terracoda commented on #317
@jessegreenberg, sounds good. Sorry I didn't get back to you on this issue.

[2017-10-02 16:54] samreid opened #321 "PhET-iO API for PushButtonModel.isFiringProperty"
We will need to update the sonification wrappers, the PushButtonModel.dispose function, UtteranceQueue and possibly other things!

We'll need to coordinate the sonification wrapper updates with new deploys of the sims they use, so they don't go through a broken period of time.

[2017-10-02 21:21] jessegreenberg commented on #320
Testing with macOS 10.12.1, verified that

is correct.  When I use the gesture to increment/decrement the slider, we are going through a ```change``` event.

Also, when using the arrow keys in this version, the slider doesn't move at all, VoiceOver is preventing the keydown event and only providing the browser with an ```input``` event.

[2017-10-03 00:18] jessegreenberg commented on #320
The above commit fixes this issue.  It adds a listener to the ```change``` event which VoiceOver triggers while using gestures and the default arrow keys to interact with a slider.  For ```change``` to  work correctly, the ```min``` and ```max``` accessible attributes needed to be provided.  Verified that sliders are still working with VoiceOver and JAWS. Closing.

[2017-10-03 00:18] #320 closed

[2017-10-05 03:31] samreid opened #322 "NumberControl and HSlider vs enabledProperty"
Discovered in https://github.com/phetsims/axon/issues/140

NumberControl passes `enabledProperty` to its `HSlider`. During `dispose`, the `HSlider` disposes the `enabledProperty` and hence when we try to remove a listener in `NumberControl`, there is an axon assertion failure since `enabledProperty` has no listeners.

Is the correct solution to this to:

(a) have HSlider keep track of whether it c

[2017-10-05 03:48] jonathanolson commented on #322
Presumably just (a). Disposing a Property that you don't own (was passed in) should be a general no-no.

[2017-10-05 03:49] samreid commented on #322
Thanks @jonathanolson, I'll investigate that.

[2017-10-05 03:53] samreid commented on #322
I tracked 2 optional properties in HSlider and only dispose them if they are "owned". Fuzz test is passing now with the axon branch, closing.

[2017-10-05 03:53] #322 closed

[2017-10-07 00:40] zepumph commented on #321
Commits for this issue:
https://github.com/phetsims/sun/commit/64bcf7ece2a4e3a12accf3cef0c81fb5f04756fc
https://github.com/phetsims/scenery-phet/commit/dc455fb69e90cac1e45dd0d3e4bc0e894a90285f

I haven't touched the sonification wrapper yet, but that won't matter until we republish next week. I will make sure I cover this as part of integrating phetsims/ohms-law#92 into the sonification wrapper. C

[2017-10-12 20:18] jessegreenberg opened #323 "Button state should change with keyboard interaction"
It would be great if button hover state changed with keyboard interaction.  When focused, the button should look like it does when the mouse is over it.  When the button is pressed it should look down.

This has been lower priority for a11y, but would be good to start investigating.  Ideally, this will work when the screen reader is active.

Our limitation with screen readers is that while active,

[2017-10-12 20:24] jessegreenberg commented on #323
Lets verify this and make sure we understand screen reader cases first.

[2017-10-20 13:29] terracoda commented on #314
Adding some resources for review:
- [https://www.levelaccess.com/differences-aria-1-0-1-1-changes-rolecombobox/](https://www.levelaccess.com/differences-aria-1-0-1-1-changes-rolecombobox/)

- [https://labs.ssbbartgroup.com/index.php/ARIA_Combobox](https://labs.ssbbartgroup.com/index.php/ARIA_Combobox)

- [https://www.w3.org/blog/wai-components-gallery/widget/combobox-with-aria-autocompleteinline/]

[2017-10-20 23:06] zepumph commented on #323
I ran into this today when implementing the home screen. It would be nice to have `hover` to that the small screen buttons light up even before `click`.

[2017-10-24 21:53] jessegreenberg opened #324 "ToggleNode should use Node.swapVisibility"
From https://github.com/phetsims/plinko-probability/issues/104, ToggleNode should manage focus for a11y. Node.swapVisibility was added to replace visibility of two Nodes and manage focus, so ToggleNode can make use of this.

[2017-10-24 22:09] jessegreenberg commented on #324
@samreid since you are listed as an author would you mind reviewing?

[2017-10-24 22:22] zepumph commented on #318
I worked on this, basically copying the implementation from NumberPicker. There the component is an input of type "number." I think that this works pretty well. A few comments:

* The original assignment was to have the focus highlight surround just the two arrows, but why not the whole component? That is idiomatic to other implementations, see the example here:
![image](https://user-images.github

[2017-10-24 23:43] jessegreenberg commented on #323
The current approach is problematic because buttons will fire continuously for as long as 'enter' key is held down (default click event behavior), which can be far too often.  A solution for this issue could potentially fix this problem.

[2017-10-25 17:59] jessegreenberg opened #325 "Use options instead of setters post construction where posssible"
From  slack:

Chris Malley [11:55 AM]
In NumberControl, is there a reason why the focus option is being set after instantiation, rather than in the options provided to constructor call?   Eg, for `leftArrowButton.focusable = false;`

Michael Kauzmann [11:55 AM]
There is not!

Chris Malley [11:56 AM]
Ditto for NumberSpinner.  Highly recommended to set options during construction. (edited)

Michael

[2017-10-25 18:22] pixelzoom opened #326 "a11y bloat in Slider"
Prior to adding a11y to `HSlider`, it was 393 lines of code. It’s now 632 lines, a 60% increase.

Before a11y, 5/3/17: https://github.com/phetsims/sun/blob/ed3e260b55d430c2980c854f27a4296f04ed6ebb/js/HSlider.js
Current, 10/25/17:
https://github.com/phetsims/sun/blob/f309a64160ae1802ba57a1924cc4b5c25ded6c19/js/HSlider.js

And though I was the author of `HSlider`, I’d have a difficult time modifying

[2017-10-25 18:23] pixelzoom commented on #326
Slack:

[2017-10-25 18:25] pixelzoom commented on #326
Let's investigate separating ally and non-ally features in HSlider.

[2017-10-25 18:35] pixelzoom opened #327 "HSlider correctRounding"
Function `correctRounding` is defined inside the `HSlider` constructor, so every instance has a copy of this function.  If you add one more parameter (the value of valueProperty.value), then this function could be moved outside the constructor (private to the file, not in the `inherit` call), and 1 copy of the function will be shared by all instances.

Recommended signature:

`function correctRoun

[2017-10-25 18:40] pixelzoom commented on #327
Btw... Private functions are typically located after the `sun.register` call and before the `inherit` call.

[2017-10-25 18:41] terracoda commented on #318
@zepumph, typically with a input type number, the actual box is editable, so the Left and Right Arrows are reserved to move within the number to edit it. The Up and Down Arrows are for increasing and decreasing.

Since we don't have an editable box, and in some cases the arrows display horizontally, it would make sense in our case to enable all the arrow keys for for increasing and decreasing chan

[2017-10-26 16:22] pixelzoom commented on #326
Tasks for 10/26/17 developer meeting:
• make all developers aware of a11y bloat, be on the lookout for it
• brainstorm about how to encapsulate a11y features in HSlider specifically
• decide whether what is done for HSlider should be applied anywhere else

[2017-10-26 17:11] jessegreenberg commented on #326
Would a "traits" pattern work? (Not mixin  because of https://github.com/phetsims/scenery/issues/700). Implementation for accessibility could be separated into another file called something like AccessibleSlider. Then HSlider would look like this.

[code]

[2017-10-26 18:48] pixelzoom commented on #326
10/26/17 dev meeting:
JO: Trait not appropriate here. Traits usually used for reusable code. Probably relying on internal details of HSlider, so pulling out into a trait is difficult
SR: a11y should remain in HSlider. consider factoring out accessible listener, possibly as an inner type?
CM: do a11y "step" features play nice with other features (snap, etc.)

@jessegreenberg will look at factoring

[2017-10-26 23:07] zepumph commented on #325
@mbarlow12 if you see any of these in places either, please make sure to change them!

[2017-10-26 23:12] zepumph commented on #318
I can't speak to phet's relationship to editable components, but I feel like we just don't use them, not sure why. Perhaps @ariel-phet could speak to that.

As for the "custom" interaction of adapting the left/right arrows to do the same as the up/down ones. I think that would be a good improvement.

[2017-10-30 02:59] samreid commented on #324
On hold pending discussion in https://github.com/phetsims/scenery/issues/694#issuecomment-340331112

[2017-10-31 23:18] jessegreenberg commented on #324
Discussion is complete in https://github.com/phetsims/scenery/issues/694, we changed swapVisibility to look like `node.swapVisibility( otherNode )`. Visibility of `node` and `otherNode` cannot be equal, but otherwise there are no restrictions to which node is visible before calling the function. @samreid removing the 'on-hold' label but feel free to wait until final review of https://github.com/ph

[2017-11-02 19:26] jessegreenberg commented on #326
Actually, this trait could be reused outside of HSlider. From https://github.com/phetsims/scenery-phet/issues/341 the keyboard interaction for NumberControl is meant to behave exactly like HSlider, so it would be great if a trait for a11y to introduce slider functionality there. It might even be used by anything that can move in 1-D if we want those things to behave just like sliders.

I would sti

[2017-11-02 23:05] zepumph commented on #318
@jessegreenberg please review the above commit. I had to use a different event (keydown) since the input event isn't called with left/right with a number input. How does that look?

[2017-11-02 23:05] zepumph commented on #318
@jessegreenberg please review the above commit. I had to use a different event (keydown) since the input event isn't called with left/right with a number input. How does that look?

[2017-11-03 04:46] samreid commented on #324
ToggleNode will need to override `dispose` to avoid a memory leak because the constructor introduced a new listener to a non-owned Property.

I tested plinko probability with ?accessibility and it appeared that focus transferred properly to the grayed out play button when I pressed all + play.

[2017-11-03 20:35] jessegreenberg commented on #324
Thanks @samreid, I added dispose to ToggleNode, and also added ToggleNode to MemoryTestsScreenView to test for ToggleNode leaks. Before adding dispose you can see a climbing JS Heap in between major garbage collections:
![capture1](https://user-images.githubusercontent.com/6396244/32394764-ddec0bc8-c0a3-11e7-97c7-5c90eee0221f.PNG)

And after dispose was added that goes away:
![capture3](https://us

[2017-11-03 21:15] samreid commented on #324
Looks great, thanks, closing.

[2017-11-03 21:15] #324 closed

[2017-11-06 22:08] zepumph commented on #321
Reopening because phetsims/phet-io#1225 made us question the practice of having a button model isFiringProperty, but turning it off for all instances except for the resetAllButton.
@samreid and I think that the best way to proceed is to have the buttonModel.isFiringProperty not be instrumented, and then have the ResetAllButton create a mirror property that is instrumented.

[2017-11-06 22:14] zepumph commented on #321
This is looking pretty good. The only problem I can see is that it doesn't nest in the data stream:
[code]

[2017-11-06 22:17] zepumph commented on #321
@samreid  please review commit and comment.

[2017-11-09 16:31] samreid commented on #321
All looks good, thanks @zepumph, closing.

[2017-11-10 01:18] zepumph commented on #316
In a11y dev meeting today we found the problem with this. It is because single aquaRadioButtons are not having their 'name' attribute set. But RadioButtonGroups do have this happening:

`      radioButton.setAccessibleAttribute( 'name', 'radioButtonGroup' + instanceCount + 'Member' );`

We think that the above is not the best solution, since the name is sorta gibberish to screen readers, but it  a

[2017-11-10 01:25] zepumph opened #328 "Add `a11y` prefix to specific type options related to accessibility?"
In https://github.com/phetsims/sun/issues/316 we decided that a RadioButton specific a11y option deserved the prefix `a11y`. Is this something that we want to make as standard practice? If so the best place to start is in HSlider.

In todays' a11y dev meeting we were a bit on the fence about doing this, I think mainly because of added verage/verbosity/boiler plate to options that would potentially

[2017-11-10 17:14] jessegreenberg commented on #316
+1 for making the way in which the `name` attribute is set consistent, but we should determine whether or not the `name` is read by screen readers since that could have an impact on the way this option is implemented and used.  @terracoda could you please verify whether or not the `name` attribute is read by screen readers?

[2017-11-10 18:25] jessegreenberg commented on #328
As an example, the options might change from
[code]
to
[code]

[2017-11-10 18:32] zepumph commented on #323
unassigning myself, let's hit this hard at a dev meeting discussion.

[2017-11-10 19:09] zepumph commented on #325
I'll  keep my eye open in the sims I'm working on. Unassigning for now.

[2017-11-16 00:00] zepumph commented on #328
We decided that we like the convention. This prefix will be applied to all options not defined by the Accessibility Trait. This will further help define the difference between the general Node accessibility options, and specific (a11y prefixed) options needed for the subtype's implementation of accessibility.

@jessegreenberg agreed to take it on since the main place that we need these options are

[2017-11-16 00:01] zepumph commented on #325
Here are some obvious ones that I found:
- [ ] ItemToolBoxNode
- [ ] MagnetNodeWithField
- [ ] Book

[2017-11-20 22:29] jessegreenberg commented on #327
Thanks @pixelzoom, I changed the signature to what you recommended in the ticket. I also moved the function out of constructor so it is shared, and moved it after sun.register call. But for #326 it is no longer in HSlider and in a trait called AccessibleSlider. AccessibleSlider is going to be reviewed in that issue. Closing this one.

[2017-11-20 22:29] #327 closed

[2017-11-20 23:26] jessegreenberg commented on #326
I moved almost all a11y code out of HSlider and into a trait called AccessibleSlider that can be used  for HSlider and other Nodes. It is now mixed into HSlider, as well asNumberControl and the draggable objects in inverse-square-law-common. Making this a trait already seems very beneficial. @jonathanolson can you please review?

The main implementation is in https://github.com/phetsims/sun/blob/m

[2017-11-27 21:07] phet-steele opened #329 "Assertion failed: Undefined not allowed for Node key: phetioReadOnly"
@zepumph looks like I'm getting an error related to work in https://github.com/phetsims/faradays-law/issues/83? Everywhere a RectangularPushButton is used:

[code]

[2017-11-27 21:40] zepumph commented on #329
Ooops, sorry about that.

[2017-11-27 21:40] #329 closed

[2017-12-09 00:03] jessegreenberg commented on #323
Also removing assignments, this is on our radar during dev-a11y meetings and we will revisit once we discuss there.

[2017-12-14 01:13] samreid opened #330 "Options are doubly applied to HSlider"
Discovered while @pixelzoom and I were working on https://github.com/phetsims/tandem/issues/44

I also tried this harness to check if scales get applied twice:

[code]

It showed the rectangle getting scaled correctly, and the slider getting scaled by an extra factor:

![image](https://user-images.githubusercontent.com/679486/33970587-1045daf2-e031-11e7-84fb-1c54713b9fba.png)

@jessegreenberg can

[2017-12-14 01:19] samreid commented on #330
Proposed fix is above, it shows like this in my harness:

![image](https://user-images.githubusercontent.com/679486/33970757-10bc9100-e032-11e7-986a-e4aa23ee058b.png)

And it fixes the IOObject problem too.  Ready for @jessegreenberg review.

[2017-12-20 00:23] samreid opened #331 "`phetioEventSource: this` is awkward"
See https://github.com/phetsims/joist/issues/469

Perhaps there is a better way to pass options to the button models.

[2018-01-05 20:08] jessegreenberg commented on #323
Assigning to myself and bumping priority because this needs to  be addressed before publication of keyboard navigable rutherford-scattering and plinko-probability.

[2018-01-07 21:16] emily-phet commented on #154
This can probably be addressed with the appropriate ARIA role, aria-disabled was explored for this in the a11y-research repo. Looks like it was successful for all browsers we test for screen reader accessibility.

[2018-01-07 21:16] #154 closed

[2018-01-09 21:41] jessegreenberg commented on #323
I added this in the above commit, and went with something similar to what @zepumph suggested in https://github.com/phetsims/scenery-phet/issues/341#issuecomment-350147488 because of the a11y limitations mentioned in https://github.com/phetsims/sun/issues/323#issue-265072389. @zepumph could you please review this commit? https://github.com/phetsims/sun/commit/8b6250c05797014d1a8dcf4da04814d2b116f02

[2018-01-10 20:02] samreid opened #332 "VerticalCheckBoxGroup uses an odd loop"
VerticalCheckBox has a for loop combined with an IIFE which should be simplified.  Discovered in https://github.com/phetsims/phet-io/issues/1298

[2018-01-10 20:02] samreid commented on #332
Fixed above and tested by launching Gravity Force Lab: Basics.  @jessegreenberg can you please review this before GFLB goes to production?

[2018-01-11 01:08] jessegreenberg commented on #332
Nice improvement @samreid, thanks. Looks good to me and I spot checked a number of sims that use VerticalCheckBoxGroup.

[2018-01-11 01:08] #332 closed

[2018-01-12 04:36] samreid commented on #331
Passing the `phetioEventSource: this` seems a reasonable way to redirect events, closing.

[2018-01-12 04:36] #331 closed

[2018-01-26 00:26] jessegreenberg opened #333 "Instrument ComboBox with a11y"
From phetsims/a11y-research#64, we would like to add a11y to ComboBox. I am going to take a first stab adding accessibility in a one-off branch because the focus highlight look, keyboard interaction, and output from screen reader are still being discussed. It was requested to implement an initial prototype to facilitate design decisions.

[2018-01-26 00:30] jessegreenberg opened #334 "branch: molarity-a11yComboBox"
For #333, a11y will be added to Combobox.js in a branch because there are still a number of questions about the a11y design for this UI component. one-off version will be out of molarity.

[2018-01-26 00:50] jessegreenberg commented on #333
First pass at instrumentation has been added to the branch, we will want to clean this up before it is ready for master. But this should get us through discussion for a11y meeting on 1/26/18.

[2018-01-29 21:30] jessegreenberg commented on #318
@zepumph, @mbarlow12 and I decided to try the mixin pattern we used in HSlider to add accessibility to NumberPicker and NumberSpinner with the same implementation. I had forgotten about this issue, but would you mind reviewing AccessibleNumberTweaker since you took the lead on this issue? The highlight surrounds the whole input as you suggest in https://github.com/phetsims/sun/issues/318#issuecomm

[2018-02-02 00:18] jessegreenberg commented on #330
Sorry about that @samreid, this change looks great and fixes the problem. Thanks!

[2018-02-02 00:18] #330 closed

[2018-02-02 00:26] jessegreenberg commented on #333
This is on hold until we hear more about how combobox should behave with  keyboard nav.

[2018-02-06 20:29] pixelzoom opened #335 "anti-pattern for setting phetioEventSource"
Throughout sun buttons, `phetioEventSource` is currently set in options, e.g.:

[code]

Problems:

(1) `phetioEventSource` is relevant only to the model, but it's being passed to the model and view.

(2) Since it's in the default options, `phetioEventSource` can be overridden by the client.

The preferred approach is to specify `phetioEventSource` only in the options for the model, e.g.:

[code]

[2018-02-06 20:32] samreid commented on #335
See parent issue https://github.com/phetsims/build-a-molecule/issues/81

[2018-02-06 22:32] pixelzoom commented on #335
This still allows the client to override `phetioEventSource`:

[code]

We should add an assertion prior to instantiating `PushButtonModel`, e.g.:

[code]

[2018-02-06 23:18] samreid commented on #335
Agreed, thanks!

[2018-02-07 04:36] samreid commented on #335
Pushed fixes above, and would be good for @pixelzoom to spot check. Also, regarding lines like these in StickyToggleButtonModel.js
``js
    options = _.extend( {
      tandem: Tandem.required,
      phetioEventSource: new PhetioObject( { tandem: Tandem.optional } ) // TODO: may not be necessary if all clients are passing this in
    }, options );
[code]

[2018-02-07 17:25] pixelzoom commented on #335
@samreid said:

Changes spot checked, they look good.

Let's chat about this on Slack. The need for this (and my feedback) is motivated by some more general "semantic" issues about what it means for a PhetioObject to be "initialized", and whether initializing is required.

[2018-02-07 17:36] samreid commented on #335
Some notes from slack:

Creating that "default" PhetioObject is just so we don't get an undefined error when trying to make calls on it.  The data just won't go anywhere
(if a true proxy is not supplied)
otherwise we could use `if (phetioEventSource){...}`
Maybe that would be clearer?
For instance, MomentaryButtonModel.js line 46 would read:
`options.phetioEventSource && options.phetioEventSource.

[2018-02-08 14:00] terracoda commented on #314
My understanding is that work on this issue is happening in https://github.com/phetsims/a11y-research/issues/64, and we are almost there with an accessible combobox.

[2018-02-08 15:49] terracoda commented on #314
@jessegreenberg, I have made further recommendations in https://github.com/phetsims/a11y-research/issues/64#issuecomment-364152234

and am re-assigning these 2 issues for you to distribute.

[2018-02-08 20:23] pixelzoom commented on #335
Discussion with @samreid on Zoom:

(1) I don't have a preference for whether to default `phetioEventSource` to `null` or `new PhetioObject( { tandem: Tandem.optional } )`.  Using `null` will require adding short-circuits in PushButtonModel, StickyToggleButtonModel, etc. wherever `phetioEventSource` is used.  @samreid has a preference for using `null`, so he'll proceed with that.

(2) PhetioObject

[2018-02-08 20:25] pixelzoom commented on #335
(1) above seems relevant to this issue.  (3) should probably be factored out into a new issue.

[2018-02-09 06:03] samreid commented on #335
I committed the change for (1) above.  There is a problem with (2), I tried running it and ran into failures in phet brand, which causes phetioTypes to come up as undefined (because they load with the `ifphetio` plugin.)  Hence we cannot require them to exist (given the way things are currently done).  I think the most we can do now is require that the tandem be defined.

@pixelzoom you can reprod

[2018-02-09 16:41] pixelzoom commented on #335
`phetioType` is an option that is passed through to phetio.js via `tandem.addInstance`.  This assignment appears in PhetioObject `initializePhetioObject`:

[code]

If annotation is `@private`, and `phetioType` is not used anywhere in PhetioObject.  So I believe this assignment should be removed.

[2018-02-09 16:42] pixelzoom commented on #335
It’s not at all obvious that PhetioObject DEFAULTS are the options for phetio.js.  And these defaults are duplicated in PhetioObject DEFAULTS and phetio.js PHET_IO_INSTANCE_OPTIONS:

[code]

`phetioEvents`, on the other hand, is present in phetio.js PHET_IO_INSTANCE_OPTIONS, but missing from PhetioObject DEFAULTS.

Is `phetioEvents` inadvertently missing from PhetioObject DEFAULTS? Should PhetioOb

[2018-02-09 16:44] pixelzoom commented on #335
Above I said:

Investigating these options more... It’s not at all obvious that PhetioObject DEFAULTS are the options that are passed through to phetio.js via tandem.addInstance.  And these defaults are duplicated in PhetioObject DEFAULTS and phetio.js PHET_IO_INSTANCE_OPTIONS:

[code]

`phetioEvents`, on the other hand, is present in phetio.js PHET_IO_INSTANCE_OPTIONS, but missing from PhetioObje

[2018-02-09 17:07] pixelzoom commented on #335
Going still deeper...  Why are options passed to `tandem.addInstance`?  Shouldn't these options be fields in PhetioObject?  And shouldn't the instance passed to `tandem.addInstance` be an instanceof PhetioObject?

[2018-02-09 17:31] pixelzoom commented on #335
@samreid and I discussed via phone.  The plan is:

• PhetioObject becomes responsible for all phetio* options. Move all phetio options to PhetioObject, DEFAULTS, and (on initialization) they become instance fields.
• Remove PHET_IO_INSTANCE_OPTIONS and options from phetio.js.
• In phetio.js, replace uses of `phetio.getOptions` with `phetio.getInstance`.  Delete `getOptions`.
• Change Tandem `addIn

[2018-02-09 17:32] samreid commented on #335
Thanks, I opened a new issue in https://github.com/phetsims/phet-io/issues/1304 and will move your notes there.

[2018-02-09 17:35] pixelzoom commented on #335
I think we're probably done with the `phetioEventSource` issue, and tangents are tracked in other issues.  So we can probably close this.  @samreid please close if you agree.

[2018-02-12 18:01] #335 closed

[2018-02-19 19:52] zepumph commented on #323
@jessegreenberg this looks really nice for click. I think it is a nice solution, but I am noticing that the approach is completely orthogonal to the PushButtonInteractionStateProperty type that seems to control this for clicking. Is this because we need more flexibility in some way?

I also want to note that this approach doesn't support hover. Although I don't think that there are problems with t

[2018-03-01 19:46] samreid opened #336 "We should use FireListener instead of SUN/buttons/ButtonListener"
SUN/buttons/ButtonListener is used in only 5 spots.  May be a good candidate to try SCENERY/FireListener instead.

Over to @ariel-phet for triage/priority/delegation.

[2018-03-02 00:02] mbarlow12 commented on #316
First, I discovered that RadioButton.js is only used in AquaRadioButton, so I wonder if it would be worth it to 1) remove RadioButton.js all together and fold the functionality into AquaRadioButton or 2) spread it's utilization to RadioButtonGroupMember and the like. @zepumph @jessegreenberg thoughts?

Also, I worked through the a11y sims and confirmed the name attribute in all of them. Here are a

[2018-03-02 04:57] samreid opened #337 "snapValue should be moved out of HSlider"
HSlider supports a feature called `snapValue` which is only leveraged by Forces and Motion: Basics and HeaterCoolerNode.  This is something that should be handled in the simulation, not in the common code.  Can it be easily moved?

@samreid and @pixelzoom are still discussing this.

[2018-03-02 04:57] samreid commented on #337
Maybe snapValue should just be renamed “clearValueOnRelease” and kept in HSlider? (edited)

[2018-03-02 04:57] samreid commented on #337
Chris Malley [9:56 PM]
I don’t see the point in having `snapValue` (whatever the name) in HSlider.  Trivial to handle in `options.endDrag`.

[2018-03-02 04:57] samreid commented on #337
@ariel-phet is this something @jessegreenberg can look into?  He is familiar with Forces and Motion: Basics and HSlider.

[2018-03-02 16:40] ariel-phet commented on #337
@samreid yes, that seems appropriate

[2018-03-02 16:41] ariel-phet commented on #337
@jessegreenberg mind taking a look at this. Feel free to mark for dev meeting or discuss wtih @jbphet since he worked on the heat bucket.

[2018-03-02 17:58] mbarlow12 commented on #316
Another note: @jessegreenberg was unsure that screen readers and other AT use this attribute. So there is currently no option to pass to the ...Group types to name their constituent buttons, and those types still use the `instanceCount` as the unique identifier.

[2018-03-03 02:34] terracoda commented on #316
@mbarlow12,

is more than odd, it is not valid code and could present issues for Assistive Technology.

I would advise taming the wild `li` tags with a parent `ul`.

Radio buttons that are not grouped with a `ul` tag or a `radiogroup role` may not be navigable with arrow keys. If they are visually in a group, we should strive to communicate them as a group to AT users.

[2018-03-03 02:49] terracoda commented on #316
The html `name` attribute, I don't think this has any relevant effect on accessibility. I am pretty sure it is used for programmatic identification purposes, much like the id attribute and useful to identify things for servers ([](https://developer.mozilla.org/en-US/docs/Web/HTML/Attributes)), but not for users. I think the attribute is only used on form elements for form submission purposes
[](ht

[2018-03-05 17:21] jonathanolson opened #338 "Are keydown/keyup callbacks on input listeners still used?"
I saw some in ButtonListener (in sun), but I believe the a11y system now uses different things. I couldn't find a case where these would be called from in Input, and I believe we removed the scenery "key" events fully.

Can these be removed?

[2018-03-05 18:00] jonathanolson commented on #336
Handled this as part of the sun "new scenery listener" integration. @samreid can you review the changes to the phet-io event stream for the buttons?

[2018-03-05 18:24] samreid commented on #336
I'm seeing new aqua fuzz issues (phet-io) related to `pressListener`.  Perhaps we need to dispose?  I'm looking into it:

[code]

[2018-03-05 20:38] mbarlow12 commented on #325
Note: https://github.com/phetsims/faradays-law/commit/9cdbedd3cd72e5c7c9108fb50a5ccbc3ccf9ad56 was performed in the keyboard_jump branch. Changes are identical, but it will lead to a merge conflict.

[2018-03-05 21:01] samreid commented on #336
See also related issue https://github.com/phetsims/scenery/issues/744

[2018-03-05 21:24] samreid commented on #336
Faraday's Law now has 5 instrumented `pressListener` instances and the data stream reads like:

[code]

It seems like this is exposing an implementation detail to the PhET-iO API.  Perhaps we should use the `phetioEventSource` paradigm to collapse the press listener into the button that uses it?  Or is the PressListener a good level of granularity for the PhET-iO API, and we should make sure it is

[2018-03-05 21:50] zepumph commented on #336
I agree that the pressListener subComponent adds nothing substantial to the API, and I think clients would be happier to see that the parent button is triggering the event.

[2018-03-05 23:02] jessegreenberg commented on #338
@jonathanolson yes, can definitely be removed. It looks like sun/ButtonListener was already deleted so closing this issue.

[2018-03-05 23:02] #338 closed

[2018-03-05 23:35] samreid commented on #336
I'm running into a problem: when a Node gets a PressListener inputListener, how can we indicate that it is OK for that Node to trigger the PressListener events (without having to make a custom SubNodeIO type each time)?

I considered eliminating events declarations from IO types, but that seems an important part of the API.

I considered making all Nodes able to emit `press`, `release`, `drag` but

[2018-03-06 00:38] samreid commented on #336
@zepumph and I agreed to investigate the latter strategy--it adds even more complexity to the instrumentation process and sim side, but helps us get to our API-side goal.

[2018-03-06 03:29] samreid commented on #118
The new radio buttons have a mouseover highlight (at least the unselected ones do), closing.

[2018-03-06 03:29] #118 closed

[2018-03-06 05:40] jonathanolson commented on #336
Would you also have DragListenerNodeIO and FireListenerNodeIO, since DragListener and FireListener extend PressListener?

How do you handle nodes that have a DragListener and a FireListener both added to it? (Thus the advantage of having tandems for individual listeners). I've had similar things done in the past where two listeners were the best implementation choice.

How would using something li

[2018-03-06 16:34] samreid commented on #336
Great points @jonathanolson--I'm thinking we should look at standardizing the `pressListener` as part of the PhET-iO API, making sure we are confident about the name/events and trying to keep it stable as a public feature (rather than treating like an implementation detail).

From MVC pattern, it makes sense that Controller events come from something other than the View, and that seems fair enough

[2018-03-06 18:38] zepumph commented on #336
I'm convinced that we should create and keep PressListenerIOs in the phet-io api. I would just want to do two things before proceeding:

1. Bring this up in a design meeting (or something like that) to double check with @kathy-phet and @ariel-phet that this aligns with the features that make sense for a stable faradays-law (since that what we are working on now) api. It may also be good to show th

[2018-03-06 19:20] zepumph commented on #318
A few thoughts:

* Why are the options `timerDelay` and `timerInterval` not prefixed with "a11y"? They seem keyboard specific, and specific options to this mixin.
* `incrementDownEmitter` and `decrementDownEmitter` are a11y specific, but they aren't named as such, which makes
[code]
     in NumberPicker:394 a bit confusing since really it is just passing the up state from the keyboard to the compo

[2018-03-06 23:46] jessegreenberg commented on #337
I actually also worked on HeaterCoolerNode so it makes sense for me to work on this.

[2018-03-07 00:18] jessegreenberg commented on #337
This was done in the above commits, HeaterCoolerNode and forces-and-motion-basics use endDrag now instead. Was a straight forward change but Ill let @samreid review if he wishes since this is a common code component.

[2018-03-10 04:38] pixelzoom opened #339 "AccordionBox: does hiding the title when expanded present a11y issues?"
AccordionBox has a feature where the title can be hidden when the box is expanded.  Some sims use this feature when they are tight on space.  Some use it as an aesthetic choice.   At 3/1/18 dev meeting, there was discussion about whether hiding the title presents a11y problems for users.  @jessegreenberg was going to followup with @terracoda.

I'm interested in this because Equality Explorer (new

[2018-03-12 16:43] samreid commented on #337
The change set in HSlider looks great.  Runtime behavior in Forces and Motion: Basics looks great.  Code change in Forces and Motion: Basics looks great.  I didn't look at HeaterCoolerNode.  Nice work @jessegreenberg, closing.

[2018-03-12 16:43] #337 closed

[2018-03-12 16:57] samreid commented on #336
Another issue for discussion: PressListener also signifies drag events.  So now it is possible (for example), to see in the data stream if the user tried to drag a button:

![image](https://user-images.githubusercontent.com/679486/37297728-fa4a4186-25e3-11e8-90d5-8dc359a0474a.png)

This seems OK to me but I wanted to raise it as a difference from the previous version.

[2018-03-12 16:58] samreid commented on #336
Forces and Motion: Basics now has 1155 instrumented instances, 33 of which are PressListeners (presumably corresponding to the 33 instrumented buttons).

[2018-03-12 18:14] samreid opened #340 "PushButtonModel should use Emitter"
While @jonathanolson and I were looking at https://github.com/phetsims/sun/issues/336 and the API for pressListener/dragListener, we noticed that PushButtonModel has its own Emitter-like implementation.  Perhaps we could use Emitter there?  It would also be possible to put the Emitter on the PhET-iO API, so it would be easy to listen for when the button is pressed (instead of a proliferation of `a

[2018-03-12 18:19] samreid commented on #336
Neither of us are confident that the names are stable.

[2018-03-12 19:55] samreid commented on #336
I slacked @ariel-phet:

[2018-03-12 20:19] samreid commented on #340
I've converted PushButtonModel to use Emitter, and there were two logic changes:

1. PushButtonModel previously silently ignored requests to add the same listener twice, Emitter will throw that as an error
2. PushButtonModel previously silently ignored requests to remove a non-existent listener, Emitter will throw that as an error.

I'm partway through aqua tests and haven't seen any problem come

[2018-03-12 20:31] samreid commented on #340
@zepumph can you please review the change above and discuss using the Emitter as the PhET-iO API (instead of PushButtonIO.addListener)?

[2018-03-12 22:57] zepumph commented on #340
The change looks nice, good simplification.

For PhET-iO, I want to make sure that I understand fully. Currently the data stream looks like a "fired" event from the button, but you are proposing changing that to an "emited" event from the button's `firedEmitter`. Haven't we been down this road before? Am I not understanding this correctly?

[2018-03-12 23:01] samreid commented on #340
We flip-flopped with respect to `pressListener`, I was wondering if the reasons we went with `pressListener` apply in this case too.

[2018-03-12 23:09] zepumph commented on #340
I don't feel strongly enough to warrant the cost of making the change. Is the main/only thought that each TypeIO that uses this model type will need to have an 'addListener' method?

[2018-03-15 01:17] zepumph commented on #316
I confirmed that AquaRadioButton is the only use of RadioButton, but I don't know if it is separate for a good reason, or just because of something vestigial. @samreid may know more about its past.

@terracoda would know best, but that sim is not in active a11y development, and so none of that mess (largely that I left) will be published anytime soon. I personally wouldn't spend a lot of time on i

[2018-03-15 01:22] samreid commented on #316
Good catch @mbarlow12, I'm inclined to combine them into AquaRadioButton and delete RadioButton, but we should check with @pixelzoom since he is the original author of both.

[2018-03-15 12:41] terracoda commented on #316
Regarding my own comment (https://github.com/phetsims/sun/issues/316#issuecomment-370110686):

I haven't tested this, so I do not know for sure how groups of radio buttons that are not explicitly grouped with code behave.

[2018-03-15 12:43] terracoda commented on #316
@zepumph, I agree that the lists in BAA is not a good example to be looking at because it is not in active development.

[2018-03-15 17:03] pixelzoom commented on #316
@samreid said:

Long ago, in a galaxy far far away, the look-&-feel of HTML5 sims was very much in flux. RadioButton was intended to be the base type for all radio buttons, and AquaRadioButton was a radio button with the Aqua (macOS) look-&-feel.  Apparently AquaRadioButton was sufficient.

My recommendation would be to fold RadioButton into AquaRadioButton, delete RadioButton, and then optionally

[2018-03-15 17:15] samreid commented on #316
What about keeping the name `AquaRadioButton` or something similar, so as not to confuse `RadioButton` with `RadioButtonGroup`?

[2018-03-15 17:16] pixelzoom commented on #316
Fine with me, that's why I said "optional".

[2018-03-15 19:17] jessegreenberg commented on #339
I will bring this up for discussion at the next a11y meeting, which is 10am 3/16/18.

[2018-03-16 20:08] jessegreenberg commented on #339
We discussed this on 3/16/18. @terracoda said that as long as the close button touch area is plenty big and the button is well labeled for screen reader users, it is not an issue for a11y to make the title invisible when the AccordionBox is open.

Back to @pixelzoom to review, but no changes for a11y are recommended.

[2018-03-17 17:43] pixelzoom commented on #339
Thanks for following up @jessegreenberg.

Labeling for dev meeting to share with other devs.

[2018-03-20 02:40] samreid commented on #340
The main reasoning is that now we have two ways of doing the same thing.  If the button is powered by an Emitter and Emitters are normally how events are emitted from a PhET-iO simulation, it seems reasonable that the PushButtonModel emitter would take care of it.  So the proposal is that we would get rid of this code marked with TODOs:

[code]

and instead instrument the emitter.

Do you mean tha

[2018-03-21 16:29] samreid opened #341 "Reduce the radius of AquaRadioButton"
From slack:

Ariel Paul [10:14 AM]
Hey Sam, why are radio buttons so big by default?
We have a general "rule of thumb" these days to make the radio button about the same radius as the first uppercase letter of its label
It seems we are always tweaking this size, maybe we should improve the default?

Sam Reid [10:16 AM]
Are you talking about the “Aqua” style radio buttons with circles and dots?

Ar

[2018-03-21 16:30] samreid commented on #341
I'm testing aqua with code that detects non-default values for the AquaRadioButton radius.  So far I'm up to the letter "f" with no hits.

[2018-03-21 16:32] samreid opened #342 "Reduce the slider knob default size"
Similar to #341, @ariel-phet recommended reducing the default size of the HSlider knob (thumb).

I'll run a similar test to check for sims using the default.  If we find sims using the default, we can decide to (a) move to the new smaller default for new publication, and use the new layout or (b) have those occurrences specify their original size (prior default).

[2018-03-21 16:32] samreid commented on #342
On hold until #341 is complete.

[2018-03-21 16:33] samreid opened #343 "Reduce the default size of checkboxes."
Same as #342 and #341 but for checkboxes.  I'm expecting to see many occurrences of this using the defaults though (may be harder to change the default without impacting many sites).

[2018-03-21 16:35] samreid commented on #341
Got my first occurrence of default AquaRadioButton radius used in a sim:

[code]

[2018-03-21 16:43] samreid commented on #341
No other hits in a full aqua fuzz.

In my opinion, the size in Molecule Shapes is great:

![image](https://user-images.githubusercontent.com/679486/37723529-2f1e8d06-2cf4-11e8-8e44-fa1b0ea1f94a.png)

I'll change the default down to 7 (6 seemed too small and 8 seemed too big) and make sure Molecule Shapes keeps the prior default of 16.

[2018-03-21 16:44] samreid commented on #341
Update: VerticalAquaRadioButtonGroup had an independent default of 12--I was not checking for this.

[2018-03-21 17:05] samreid commented on #341
Wave Interference and Wave on a String were the only places using the default of 12 for VerticalAquaRadioButonGroup.
Here's the default of 12 in Wave on a String:

![image](https://user-images.githubusercontent.com/679486/37725056-b38b2420-2cf7-11e8-8e55-a26821c1584e.png)

[2018-03-21 17:09] samreid commented on #341
Fixed above, @ariel-phet can you please assign a reviewer?  @jonathanolson may be a good candidate if he has time, since he is responsible for the two sims that were using defaults.

[2018-03-21 17:11] ariel-phet commented on #341
Sounds good @samreid, I assume this should be quick. Assigning @jonathanolson

[2018-03-24 05:09] terracoda commented on #339
@jessegreenberg and @pixelzoom, one more thought on this interaction. You both may have already thought about this, but just in case, I will mention it here.

When opening and closing an accordion box, there is no change in context, only a change in content, so focus should remain on the triggering element, the heading.

In the case where the heading text is visually remove, we will likely need to

[2018-03-24 13:04] terracoda commented on #316
I think I answered the a11y questions.
Regarding BAA code, I agree with @zepumph that that sim should not be used as an example. It is not in active development.

I am unassigning myself. Please re-assign if you need anything else from me.

[2018-03-26 17:36] zepumph commented on #316
I think this issue is largely back to you @mbarlow12.

[2018-03-27 20:19] mbarlow12 commented on #316
RadioButton and RadioButtonIO removed in above commits. @zepumph or @jessegreenberg would either of you like to review?

[2018-03-27 22:05] pixelzoom commented on #316
AquaRadioButton line 137: `this.disposeRadioButton` should be `this.disposeAquaRadioButton`

[2018-03-27 22:15] pixelzoom opened #344 "changes to VerticalAquaRadioButtonGroup and VerticalCheckboxGroup"
In addition to https://github.com/phetsims/sun/issues/262 ...

At the top of `VerticalAquaRadioButtonGroup`:

[code]

(1) Contrary to the first comment, there are no checkboxes involved here.

(2) Contrary to the first TODO, this module occurs 15 times, in 12 sims, including many that are published.

(3) The second TODO is essentially issue https://github.com/phetsims/sun/issues/30, created 10/28/

[2018-03-27 22:21] pixelzoom opened #345 "TODO in AccordionBox with no associated issue"
AccordionBox line 218, added by @zepumph in https://github.com/phetsims/sun/commit/cac6e3841deb3cdb1a700b398e0bac81b80cdd93:

`    // TODO: a11y`

All TODO items in common code are supposed to have an associated GitHub issue. Please identify (or create) an issue, and note it in the comment.

[2018-03-27 23:03] zepumph commented on #345
This was added back when BAA was top priority for the a11y team, it no longer is in active conversion, and no other sims are using it so I removed the TODO. I will make sure that TODOs get issue numbers from now on.

[2018-03-27 23:03] #345 closed

[2018-03-28 15:27] pixelzoom opened #346 "problems with RoundButtonView"
Noticed while working on https://github.com/phetsims/scenery-phet/issues/363...

Lots of problems related to "margins" in RoundButtonView:

[code]

(1) Why are there separate options for x and y margins? One will always be ignored, and you’d need to know something about the content to decide which one is relevant.  And if you change which dimension is longer for the button content, you may then br

[2018-03-28 15:31] pixelzoom commented on #346
Slack:

Sam Reid [9:25 AM]

It’s a way of saying “no matter what the content is, I want at least h pixels vertical margin and at least w pixels horizontal margin”--that seems a reasonable way to think of the layout.  That being said, I’m not opposed to hearing an alternative API, if you have one to propose.

Chris Malley [9:26 AM]
That might be nice, but that’s not at all what it currently does.

[2018-03-28 15:33] pixelzoom commented on #346
My proposal is to (a) change to `margin`, and (b) if the user specified `radius`, assert that the radius can accommodate the margin, and scale the content to fit the button.

[2018-03-28 15:35] pixelzoom commented on #346
This is also not good, we never set something to `undefined`, it should be set to `null`:

`45 radius: ( options && options.content ) ? undefined : 30,`

[2018-03-28 18:58] pixelzoom commented on #346
Slack developer discussion:

Jonathan Olson [12:25 PM]
So if a square icon was being put into a round button, instead of the sides being a certain distance from the edge, now the corners of the icon will be (so there will be a full margin all the way around the button?)

Chris Malley [12:27 PM]
Closest point on the content would be `margin` distance from the edge of the button.

Jonathan Olson [12

[2018-03-28 19:00] pixelzoom commented on #346
Based on the above conversation, the most we could probably do is collapse to one `margins` option, applies to x and y dimensions.  Forget about fitting content into button, that needs to be done via inspection.   I'm inclined to punt, so closing this issue.  If someone feels differently, feel free to reopen and self-assign.

[2018-03-28 23:13] jessegreenberg commented on #339
Understood @terracoda, we can make sure focus is managed in this way and make sure that the content is there for screen readers even if invisible.

[2018-03-28 23:22] zepumph commented on #323
@jessegreenberg @mbarlow12 and I added hover functionality to buttons today in the above commits. Closing

[2018-03-29 00:43] zepumph commented on #344
It is probably worth reminding people (since I forgot this in the past week) that TODOs in common code should have issues with them.

[2018-03-29 00:56] samreid commented on #346
How about combining minXMargin and minYMargin to `margin`, with the meaning that it behaves like minXMargin=minYMargin?

[2018-03-29 01:05] pixelzoom commented on #346
... and are these the only changes needed?

[code]

... or is it more complicated?

[2018-03-29 01:06] samreid commented on #346
I think that's the only change to RoundButtonView.js, then we will also need to convert all usages in client options, and test.  Perhaps prudent to assert that the old options are not provided.

[2018-03-29 01:08] pixelzoom commented on #346
Let's see if @jbphet has any strong feelings about this, since he's the author.

[2018-03-29 13:23] terracoda commented on #339
All that said, making the heading disappear does put a higher cognitive load on visual users. We may need to investigate that aspect further. I was thinking about non-visual access.

[2018-03-29 16:35] jonathanolson commented on #344
What priority is handling the TODOs?

[2018-03-29 17:25] amanda-phet commented on #339
@jessegreenberg do you mean because the user needs to "remember" what the title was? I'll just throw out there that sometimes we put content in a panel and later decide we'd like to minimize that panel. When we turn it into an accordion box we are forced to come up with a title, and if not for that requirement we would never have included a title.

[2018-03-29 17:29] terracoda commented on #339
Thanks for chiming in @amanda-phet, I was going to ask who is the deisgner in this sim ;-)
Yes, I did mean, forcing a user to remember causes cognitive load.

If you think the title is almost unnecessary (i.e., content of open accordion is self-explanatory) than there should be no cognitive load on the user when the box is expanded and the title is hidden.

[2018-03-29 17:35] amanda-phet commented on #339
I think we are talking generally about sims, but the original post was about Equality Explorer and yes I'm the lead on that sim :)

Another example you should look at is Area Builder (https://phet.colorado.edu/sims/html/area-builder/latest/area-builder_en.html). In this sim, the title (Values) doesn't offer anything useful about the content (Area= and Perimeter= ). It was clearly put in there so t

[2018-03-29 17:46] pixelzoom commented on #339
Discussed this a bit at 3/29/18 developer meeting. To summarize:

• Hiding the title when expanded doesn't cause a11y problems.
• When expanding/collapsing the accordion box, a11y focus should remain on the triggering element (the title).
• If the contents of the accordion box are obvious, then it's OK to hide the title (for either aesthetic or vertical space reasons), since the purpose of the tit

[2018-03-29 17:50] terracoda commented on #339
@pixelzoom, I think we are all in agreement.

[2018-03-29 18:13] samreid commented on #344
@samreid will take a look.  It could be that "factor out related parts between vertical checkboxes" is stale, may precede VBox.

I'll also add a comment like `// The vertical dilation is set automatically so the buttons are flush`

[2018-03-29 18:23] #30 closed, assigned to nobody

[2018-03-29 19:01] jessegreenberg opened #347 "Create a pane system for pop ups and dialogs"
Mostly in support of #359 (dialogs), but can be used for other things too. For that issue I made a prototype for managing dialogs in a "pane" system. This is as far as I got

`PaneLayer:` A layer that manages node siblings. Moves nodes to the front depending on user interaction, manages addition and removal of nodes. It is the client's responsibility to add the layer to the correct place in the sc

[2018-03-29 19:04] jessegreenberg opened #348 "branch: panePrototype"
For #347, documents a prototype for supporting panes. "Pane" comes from the Java terminology "GlassPane" which was for managing view elements in a top-most layer, which is good for dialogs and popups.

Once we are happy with a system that uses panes (or decide to go in another direction entirely),  this branch can be deleted.

[2018-03-29 23:17] pixelzoom commented on #344
Re this TODO:

[code]

VerticalAquaRadioButtonGroup `padding` is used in pendulum-lab.
VerticalCheckBoxGroup `padding` is not used.
So I suggest that we change it to `xMargin`.

[2018-03-29 23:19] pixelzoom commented on #344
Re this TODO in VerticalCheckBoxGroup:

[code]

I suggest that we track down usages of these and change to:

[code]

[2018-03-29 23:20] pixelzoom commented on #344
Re this TODO in VerticalCheckBoxGroup:

[code]

@jessegreenberg I suspect that these fields are missing from VerticalCheckBoxGroup because it hasn't been instrumented for a11y yet.  Is that correct?

[2018-03-29 23:24] pixelzoom commented on #344
Re this TODO in

`//TODO #344 there's a bug here, indent for each item is not considered`

Highly recommended to fix the bug.   When `indent` is used, members of the group currently do _not_ have uniform width.    And it's possible (though unlikely) for `maxWidth + options.padding - indent` to result in a negative HStrut width.

[2018-03-29 23:26] pixelzoom commented on #344
@samreid please review my proposals above for addressing TODO items.  Comment here, or ping me on Slack.

[2018-03-30 21:18] jessegreenberg commented on #323
Reopening. The hover styling goes away after clicking a button with the keyboard. Also, if a button is focused with keyboard and then a mouse hovers over it, the "over" styling goes away until the button is clicked with a keyboard. @emily-phet is this a case we care about?

[2018-03-30 21:27] jessegreenberg commented on #344
Correct, VerticalCheckBoxGroup has not yet been instrumented.

[2018-03-30 21:31] pixelzoom opened #349 "a11y instrumentation of VerticalCheckBoxGroup"
... which should be similar to VerticalAquaRadioButtonGroup. See https://github.com/phetsims/sun/issues/344#issuecomment-377401457.

[2018-03-30 21:33] pixelzoom commented on #344
a11y-related TODO items removed, a11y instrumentation moved to #349.

[2018-04-02 21:56] jbphet commented on #346
If I recall correctly, I believe I was thinking about textual labels and translations when I added support for both x and y margins.  If a small x margin and a relatively large y margin is specified, the button won't shrink if a short translation is used for a longer English word.  I just tried this in the sun button demo (`ButtonsScreenView.js`), and set `minYMargin` to 15, then tried it with a s

[2018-04-02 21:57] jbphet commented on #346
BTW, I'm fine with removing the "min" prefix - it's definitely inconsistent with other common code.

[2018-04-02 22:39] pixelzoom commented on #346
@jbphet asked:

I'm convinced we shouldn't do that.   I think the only thing to decide is whether to rename `minXMargin` and `minYMargin` or (perhaps) document why they are named differently than other similar options.

[2018-04-04 19:50] jbphet commented on #346
I'm retracting what I said in https://github.com/phetsims/sun/issues/346#issuecomment-378059169.  These option names have the 'min' prefix because they really are minimum values, but the actual margin can be larger based on the shape of the content and the value of the other minimum value.  For instance, if the content node is tall and narrow, and both the min x and min y margins are set to the sa

[2018-04-04 20:54] jessegreenberg opened #350 "AccessibleSlider: issue with keyboardStep and constrainValue"
@jbphet discovered  that combinations of options of constrainValue and keyboardStep can result in a slider that is not usable with the keyboard.  For example, if the keyboardStep is small enough such that constrainValue will round the value back to what it was before the change, arrow keys will do nothing.

@jbphet recommended throwing an assertion to warn of this case.

[2018-04-05 03:59] pixelzoom commented on #344
To summarize... Here are the proposed changes:

- [ ] change option `padding` to `xMargin`, with code changes to use `2 * xMargin` wherever `padding` appears
- [ ] add option `checkboxOptions: {...}` to VerticalCheckBoxGroup and move related options into it
- [ ] change `items[ {constant:...},...]` to `items[ {node: ...},...]` for VerticalCheckBoxGroup
- [ ] add `indent` feature to VerticalAquaRad

[2018-04-05 19:04] pixelzoom commented on #121
4/5/18 dev meeting:
• pattern in https://github.com/phetsims/sun/issues/121#issuecomment-209141994 is still preferred
• some of the UI components identified here may have been fixed already
• @pixelzoom will work with @andrea-phet on this

[2018-04-06 02:31] pixelzoom commented on #344
Unassigning myself. @samreid please reassign to me when you have feedback.

[2018-04-11 23:53] jonathanolson opened #351 "Visual appearance of rectangular buttons"
Noticed with mockups and current vegas level selection buttons:

The lower-right corner of our rectangular buttons look kind of weirdly unshadowed:
![button-current](https://user-images.githubusercontent.com/480878/38648933-1adf3598-3db1-11e8-86d8-20b5917a99f0.PNG)

whereas things like ShadedRectangle have a shadow along the corner:
![button-desired](https://user-images.githubusercontent.com/48087

[2018-04-13 15:52] jbphet commented on #351
The rectangular buttons have been like this since they were created.  It's because they use two separate linear gradients - one the is horizontal and one that is vertical - to create both the shading and the pressed appearance, and there isn't any ability to round those at the corner.  If you look closely at the highlight in the upper left corner, it has the same problem.

I don't think ShadedRect

[2018-04-13 17:52] jbphet opened #352 "Add flag to tell if thumb on HSlider is being dragged"
In order to support some sonification work, I have a need to be able to tell whether the thumb in an HSlider is being dragged by the user.

[2018-04-13 17:54] jbphet commented on #352
I've added the flag in https://github.com/phetsims/sun/commit/3a7e605912b9aaeb8cffa93ca8a89580a930c716, but I'm using a property in SimpleDragHandler that is marked as private, so I'll follow up on that before going further.

[2018-04-13 20:01] jonathanolson commented on #351
Yup, I hadn't noticed it on any other buttons.

I think this is done in ShadedRectangle by using a radial gradient on the upper-left and lower-right corners.

[2018-04-16 17:16] samreid commented on #173
As part of this issue, we will need to search through all of the lower-case strings and see which of them should be converted to use the upper-case enum. (such as https://github.com/phetsims/joist/issues/482)

[2018-04-16 17:33] samreid commented on #173
@pixelzoom suggested on slack:

I have bumped the priority.

[2018-04-16 18:03] jbphet commented on #173
My bad - I missed the usages in joist.  I fixed these and reverted the workaround.  It's a little tricky to look for all the usages, because the radio buttons also use these names, but that's part of the problem.  I'll address it in the radio buttons, and hopefully all will be well.

[2018-04-16 19:43] zepumph commented on #316
I'll take a look

[2018-04-16 21:30] jbphet commented on #173
I added the same enum pattern for radio buttons and searched through the code base, and I think I got them all.  I tested radio buttons and normal buttons on a number of sims.  Selecting random reviewer from those who have participated in this issue discussion:
[code]
@pixelzoom is the lucky winner.

[2018-04-16 21:32] zepumph commented on #316
This looks very nice to me! Thanks for doing this, back to you @mbarlow12 to review my commits and close.

[2018-04-16 21:38] pixelzoom commented on #173
Sorry, I just spent 2 days on vegas and I'm _way_ behind on Equality Explorer.  Choose someone else or ask @ariel-phet to do so.

[2018-04-16 21:52] jbphet commented on #173
No worries @pixelzoom.  @ariel-phet - see above please.

[2018-04-16 22:35] samreid commented on #346
Sounds good to me, thanks!

[2018-04-16 22:40] jbphet commented on #352
Done.  This is a minor change that shouldn't affect existing functionality, and is working well in the tambo demo.  @pixelzoom is the logical reviewer as the original author of HSlider, but he's busy, and I'm confident with the change, so I'm just closing this.

[2018-04-16 22:40] #352 closed

[2018-04-18 18:14] ariel-phet commented on #351
This definitely falls under the "bigger fish to fry" category. I understand the aesthetic concern, but I think we will leave this alone for the moment. Might be a nice project for a new hire to tweak in the future.

[2018-04-19 04:50] ariel-phet commented on #173
Marking dev meeting just to see who is free to do this review.

[2018-04-23 20:47] mbarlow12 commented on #316
Everything looks good to me @zepumph. Closing.

[2018-04-23 20:47] #316 closed

[2018-04-25 23:26] pixelzoom opened #353 "label layout bug in RadioButtonGroup"
RadioButtonGroup supports an optional `label` for each button.   Line 232 below looks buggy; the expression should probably be `( options.labelAlign === 'left' || options.labelAlign === 'right' )`.

[code]

I don't see this feature being used by any clients currently.  I'll add a TODO as a warning.

[2018-04-25 23:32] pixelzoom commented on #353
The above code is in fact correct.  Verified using sun demo. Removed TODO, closing.

[2018-04-25 23:32] #353 closed

[2018-04-26 17:05] samreid commented on #173
This code was QA tested and deployed with Area Model.  We'll check for review volunteers next week.

[2018-05-08 22:43] samreid opened #354 "Add Component Documentation"
See the "Style Guide" in Google Docs

[2018-05-09 04:05] samreid commented on #354
I added this code to the bottom of the Checkbox constructor:

[code]

Then I ran it in the aqua fuzz harness and got this HTML:

![image](https://user-images.githubusercontent.com/679486/39795174-9618a194-530b-11e8-8089-416f8fbf552d.png)

It would be nice to scale this out to other components, remove duplicates, identify what sim they came from, and show the corresponding background color (white t

[2018-05-10 15:57] jessegreenberg opened #355 "add way to map valueProperty to another output value for AT"
Required for https://github.com/phetsims/area-model-introduction/issues/2, it would be nice to be able to map the value of `valueProperty` of AccessibleSlider to another value that is read by AT when the `valueProperty` changes.

Will need to work well  with the other options that specify precision, and the string pattern that wraps the value with more content.

[2018-05-10 16:20] jessegreenberg commented on #355
This was pretty straight forward, I tested it out in molecules-and-light. @jonathanolson can you please review and test in area-model sims where you need it?

[2018-05-14 19:26] jonathanolson opened #356 "Add/investigate value readout for AccessibleNumberTweaker"
Currently it doesn't have a readout for the current value.

(potentially) desired for Area Model.

[2018-05-14 19:30] jonathanolson opened #357 "How to support name/description for AccessibleNumberTweaker?"
It was a bit unclear whether to use innerContent or labelContent for the main "name" of the tweaker. Currently Area Model is passing `innerContent` in to a NumberPicker for this purpose, but I had a TODO note to check.

Given the desire for a bit of abstraction, how ideally would we want to specify the name and description for this?

[2018-05-14 19:33] jonathanolson opened #358 "AccessibleSlider options"
Can initializeAccessibleSlider's options be changed somehow so we can specify a label and description?

Right now, I need to call initializeAccessibleSlider, and then manually mutate the labelTagName/labelContent/descriptionContent afterwards (in ProportionalPartitionLineNode).

For abstraction, should we have a field for the label and description (so if the implementation changes, we don't have t

[2018-05-14 19:40] jonathanolson opened #359 "AccordionBox design for a11y"
It sounds like we'll want to put the expand/collapse button inside the block-level label tag, and potentially other changes.

Area Model will want to pick this up before release (ideally), so I'll be happy to implement once it is designed.

[2018-05-14 19:41] samreid opened #360 "Generalize ToggleNode"
From slack:

Sam Reid [12:53 PM]
Do we have something like ToggleNode.js but that works for an arbitrary number of nodes?

Chris Malley [1:02 PM]
RadioButtonGroup
You want a toggle with N states?

Sam Reid [1:03 PM]
I was asking about a generalization of ToggleNode, not ToggleButtonNode.
right (edited)

Michael Kauzmann [1:04 PM]
like you keep clicking the same node and it goes into state 1, then

[2018-05-14 19:41] samreid commented on #360
I'm planning to rename ToggleNode => BooleanToggleNode and use the name ToggleNode to refer to the new general (out of N) type.

[2018-05-14 19:42] jonathanolson opened #361 "RadioButtonGroup description"
When working on implementing Area Model's a11y, @zepumph pointed out we may want the description for the RadioButtonGroup to go below its fieldset.

Is this desired? (Could probably easily implement using `appendDescription:true`)

[2018-05-14 19:48] jonathanolson commented on #355
Working great, used in area-model (in the above commit).

Only note is about the JSDoc. At a brief glance, it looks like a partial doc for a function. Usually we'd just note `{function} - accessibleMapValue( { number } ): {number}` or something like that to note the input and return values.

Also if it's helpful, we could use _.identity as the value (lodash provides a shortcut for identity functio

[2018-05-14 20:09] zepumph commented on #356
To be clear. We may not want to publish Area Model with any interactive alerts, because we are only implementing static descriptions, so it may be good to have a way to navigate the PDOM and see what the current value of the spinner is.

[2018-05-14 20:09] zepumph commented on #356
@jessegreenberg what do you think?

[2018-05-14 20:09] samreid commented on #360
I've prepared an initial draft.  I tested Equality Explorer (uses the lock icon), Balloons and Static Electricity, Energy Skate Park: Basics and Plinko Probability, and haven't seen any problems so far.  Committing shortly, will affect several repos.

[2018-05-14 20:28] samreid commented on #360
Commits are pushed above, @pixelzoom you were listed as a co-author of the original ToggleNode (now renamed to BooleanToggleNode), and LockControl uses BooleanToggleNode, would you like to review?

[2018-05-15 14:06] pixelzoom commented on #360
Looks good.  One question about this comment in ToggleNode:

[code]

Should this be "different that BooleanToggleNode" ?

[2018-05-15 14:09] pixelzoom commented on #360
Also wondering about this comment in BooleanToggleNode:

[code]

I'm curious about which prior usage(s) rely on horizontal alignment.  Would it be advantageous to make those usages specify `ToggleNode.HORIZONTAL`, rather than using what seems like an odd default?

[2018-05-15 15:56] jonathanolson commented on #361
Here's currently how the RadioButtonGroup for scene selection looks in area-model (using RadioButtonGroup, and with tabindices removed for readability):

[code]

It looks like the "recommended" way of handling this would be to change `fieldset` => `ul` and the `div`s inside => `li`? Can this be done for every similar structure (i.e. every time we use the RadioButtonGroup component)? (@jessegreenbe

[2018-05-15 17:34] samreid commented on #360
I reviewed usages of BooleanToggleNode, and checked if BooleanToggleNode defaulting to CENTER gives identical results.

Balloons and Static Electricity: wall button, looks the same in either case (in english).
Forces and Motion: Basics: Go/Pause button looks the same in either case
Equality Explorer: supplies an override anyways.
Plinko Probability: Play/Pause Button

It seems reasonable that icon

[2018-05-15 18:30] terracoda commented on #361
@jonathanolson, no need for `div`'s inside the `li`'s. The list item itself wraps the radio button and its label. No need to have 2 wrappers.

[2018-05-15 19:31] samreid commented on #360
I pushed the commit that defaults BooleanToggleNode to CENTER (as specified in ToggleNode).  @pixelzoom back to you for review.

[2018-05-15 21:48] #360 closed

[2018-05-16 22:05] pixelzoom commented on #173
I'm still swamped, not available to review.

[2018-05-17 02:04] terracoda commented on #359
@jonathanolson, I will be creating an official design pattern for this as soon as possible.

I think the HTML will look something like this:
[code]
Our A11y API, likely puts parent `div`s around the heading and the container. That's ok :-)

The Javascript will have to manage the aria-expanded and aria-hidden attributes, and the button element is activated with Enter or Space like any button. Focus

[2018-05-17 02:12] terracoda commented on #361
@jessegreenberg, @zepumph, I will re-listen to sample radio button groups that I mocked up a while ago asap and then create an MD file that includes a couple of valid options.

I'm not convinced we need to use `fieldset`, but I'll look into this.

[2018-05-17 15:47] jonathanolson commented on #361
Yup understood, was just trying to indicate I meant the `div`s inside the fieldset would change to `li`s (not the `div` that is the parent of the fieldset).

[2018-05-17 15:50] jonathanolson commented on #359
Sounds good.

I'm not sure how to do that, is that something @jessegreenberg would be familiar with?

Also, I'm interested in what the "ideal" focus highlight should look like (visually) for the button. Is the current behavior good?:

<img width="401" alt="screen shot 2018-05-17 at 9 49 47 am" src="https://user-images.githubusercontent.com/480878/40188657-acc5e278-59b7-11e8-8b5b-4b8e2b12053c.png">

[2018-05-17 17:39] terracoda commented on #361
@jonathanolson, one other thing.

The code you pasted had `checked="checked"`, that's xhtml code, not HTML5 code. The HTML5 state attribute is just `checked`, all by itself. If that is not recognized, I would say we should use the aria attribute, aria-checked="true/false".

Was `checked="checked"` generated from our API? If so, I should create an issue to fix that. HTML5 not strict in this sense,

[2018-05-17 17:44] jbphet commented on #173
In dev meeting we decided @jessegreenberg would review.

[2018-05-17 18:14] amanda-phet commented on #361
Much of this conversation seems to be based on dated static description work. What we ended up putting in the design doc is as follows:

Radio Button Group
Accessible Name: Area Grid Size
10 by 10
12 by 12

So, the description text needs to be changed to "Area Grid Size", and the help text can be removed.

[2018-05-17 19:28] terracoda commented on #361
@jessegreenberg, didn't mean to suggest making the ul focusable. I need to do to that in my simple mock-ups, so I can Tab onto groups to see what it sounds like. I am not able to focus on groups otherwise.

Regarding the checked syntax, I guess it's fine if

[2018-05-17 20:09] jessegreenberg commented on #361
I understand now, thanks @terracoda. In the above commit, the `aria-labelledby` attribute was added, pointing to a default `h3` tag. The `role=radiogroup` was also added.

@jonathanolson back to you, if you added a labelTagName of `p` in aria-model-introduction, that probably needs to be removed now.

[2018-05-17 20:55] terracoda commented on #361
I'll leave myself assigned until I have the markdown file done.

[2018-05-18 13:32] terracoda commented on #361
I've started a markdown file. It is called RadioGroup.md for now.

[2018-05-20 20:30] terracoda commented on #361
@zepumph, I agree this is a problem.

I think that we could handle this in a couple of different ways:
- using a general name on the md file and then listing out (or linking to) the js files inside the md file
- using the most common js file name, and then doing the same association to other js file (list or link)
- make one md file and name it in a comment in the top of the js file?

I think for

[2018-05-22 16:26] samreid commented on #354
We will tackle this in the new project called "binder", closing.

[2018-05-22 16:26] #354 closed

[2018-05-25 00:33] zepumph commented on #361
Consensus on how to proceed with style guide documentation will be decided in phetsims/binder#11. @terracoda what is left for this issue for @jonathanolson to implement in area model?

[2018-05-25 00:50] terracoda commented on #361
@zepumph, I haven't quite finished the radio group md file, but I should tomorrow. I'm not sure if there is anything holding up further implementation in Area Model?

[2018-05-25 00:52] terracoda commented on #361
@jonathanolson, are you ready to close this issue?

[2018-05-25 01:38] jonathanolson commented on #361
A default H3 seems weird to me, usually a sim would specify where the headers go?

For example, the radio button group mentioned in this issue is explicitly NOT supposed to be an h3.

That said, I don't see anything else that needs to be done here in common code. I'll need to go through and update things with new labels/help text.

[2018-05-25 12:37] terracoda commented on #361
@jonathanolson, the `h3`does not replace the `radiogroup,` it names the `radiogroup`. In our experience thus far,  the Play Area is an `h2`, so generally objects and groups directly under the Play Area would be named with an `h3` if an name is needed.

Is that more clear?

[2018-05-25 12:46] terracoda commented on #361
And for more clarification, headings usually go with other elements containing content. Each heading starts a new section or subsection. Often in our case they are used to name a group of things or an object made up of multiple elements. So a group of radio buttons is usually named by a `h3` heading. A custom object like the balloon in Balloons and Static Electricity is a group of elements, so the

[2018-05-25 14:28] terracoda commented on #361
@jessegreenberg, @jonathanolson, @mbarlow12, @zepumph the following HTML provides the best described experience (in my opinion in VoiceOver). I moved the `radiogroup` role to the parent wrapping element.

I'll use this as our design pattern, and then we can test with NVDA and JAWS.

[code]

Upon focus of the selected radiobutton, I hear the follow:
"Show all charges, selected radio button list Cha

[2018-05-25 14:41] terracoda commented on #361
Actually, `aria-labelledby` is on both the parent wrapper `div `and the` ul`. This sounds best in VoiceOver in Safari and Chrome and ChromVox. I can only test on those 2 systems.

It would be nice to verify if there is repetition of the group name in either NVDA and JAWS.

[2018-05-25 18:03] jessegreenberg commented on #361
Discussed during 5/25/18 meeting.

@terracoda is going to keep testing. We were curious about whether `aria-labelledby` is required on both the parent element and the `ul`. @terracoda will test it out on VO and then paste some examples here to be tested by someone with access to NVDA and JAWS.

[2018-05-25 20:06] terracoda commented on #361
@jessegreenberg, I committed 3 more examples to the radiogroup-examples.html file in a11y-research. There are some differences which I will have to summarize in a post later tonight, sorry for the delay.

[2018-05-25 22:48] zepumph commented on #357
This seems like a duplicate of https://github.com/phetsims/area-model-common/issues/150. In that issue we decided that it is best to use `labelContent`.  I suspect as abstractions develop, this will be revisited and trasferred to some sort of `accessibleName` and `helpText` api. Closing. If anyone feels like more is needed, please reopen.

[2018-05-25 22:49] #357 closed

[2018-05-26 00:52] zepumph commented on #358
I'm tempted to hold off on this until we settle out and implement https://github.com/phetsims/scenery/issues/795.

[2018-05-26 01:40] jonathanolson opened #362 "Color Properties with buttons"
I'm having to use MutableOptionsNode in multiple places in Area Model, and this was brought up during the code review. Basically, Scenery accepts fills/strokes (known as 'paints' collectively) to be of multiple types, including `Property.<Color|string>`. Sun buttons (and associated types like RadioButtonGroup) for the most part do NOT accept arbitrary paint values, most notably color Properties. I

[2018-05-26 04:24] jonathanolson opened #363 "Generalization of ComboBox"
@samreid noted in the Area Model review that ideally ComboBox should be generalized to allow different layouts (and potentially different ways of highlighting options?) so that Areal Model doesn't need its own replacement (GenericLayoutSelectionNode):

<img width="313" alt="screen shot 2018-05-25 at 10 17 47 pm" src="https://user-images.githubusercontent.com/480878/40572452-d01830b0-6069-11e8-89d6

[2018-05-26 04:27] jonathanolson commented on #363
This would also include adding a `preferredWidth` to the API of ComboBox, since in Area Model it needs to match the width of the panels/boxes.

[2018-05-26 04:29] jonathanolson commented on #363
Also will want a way to be able to precisely control touch areas as part of the layout?

<img width="312" alt="screen shot 2018-05-25 at 10 28 41 pm" src="https://user-images.githubusercontent.com/480878/40572490-0f6e674c-606b-11e8-8868-8f34398e0206.png">

[2018-05-26 12:01] terracoda commented on #361
@jessegreenberg, using `aria-controls` on the parent div also ensures the group's name is included. I am going to run through again using `aria-controls` to see the differences.

[2018-05-26 12:14] samreid commented on #362
If the color of a button changes, and that is implemented by disposing a button and creating a new one, will that have any negative ramifications for the parallel dom and accessibility?  For example, the screen reader mentioning that a button was removed and another one created?  Or do screen readers tend to ignore that kind of thing?

[2018-05-26 12:16] samreid commented on #362
Next question: for Area Model, do attributes other than color change (for instance, the icon or size of the button)?  Implementing mutable color may be significantly easier than implementing something that mutates the bounds/size of the button.

[2018-05-28 14:45] terracoda commented on #361
@jessegreenberg, I take https://github.com/phetsims/sun/issues/361#issuecomment-392256873 back. It does not seem to be consistent.

[2018-05-28 16:48] terracoda commented on #361
After repeat testing in VoiceOver & Safari and Chrome & ChromeVox, the best option is actually, html sketch **Example 4** that I made using a `fieldset`, a `legend` and an `ul` containing the radio buttons.

For the record, this structure sounds the same as **Example 11** see https://github.com/phetsims/sun/issues/361#issuecomment-392075670 with the 2 instances of `aria-labelledby` (one on the lis

[2018-05-28 18:37] terracoda commented on #361
The coded examples for the ARIA Practices 1.1 sound similar, but still different than the raw html, I've posted above.

@jessegreenberg, @zepumph and @mbarlow12 could one of explain to me how they are getting the count semantics even when they do not use a list structure.

[Example 2](https://www.w3.org/TR/wai-aria-practices/examples/radio/radio-2/radio-2.html) and [example 1](https://www.w3.org/T

[2018-05-29 19:36] jonathanolson commented on #362
I'd need to defer to @jessegreenberg or @zepumph, but so far it's appeared that you can just focus the "new" object and things generally work OK.

[2018-05-29 19:38] jonathanolson commented on #362
The current usage of MutableOptionsNode is now only blocked by color changes. I've had to refactor common code for Area Model / Proportion Playground for certain cases where other things needed to change (for instance, resizable accordion boxes).

[2018-05-29 19:42] zepumph commented on #362
That too is my understanding, from one frame to another, it may be 2 different DOMElement objects in memory, but it will have the same id, accessible name, role, etc. such that there will be no issues for the AT client.

[2018-05-30 10:05] samreid commented on #362
I ran this test:

[code]

I tested with VoiceOver with the button focused, and VoiceOver didn't mention any changes (even when in one test, I changed the text of the button to `'it\'s the hello button!'`).

[2018-05-31 01:01] terracoda commented on #361
The html code in the renamed sun/doc/RadioButtonGroup.md was discussed at the A11y Dev meeting, and it is fine to implement it now. There are two examples in the mark down file.

Please note that I am not sure which method is currently being used to select a radio button, ARIA or HTML. The sample code uses html5's attribute `checked`. It is well supported, but if we have any issues with the HTML5

[2018-05-31 01:03] terracoda commented on #361
@jessegreenberg could you assign to the appropriate person if it is not you :-)

[2018-05-31 01:14] terracoda opened #364 "RadioButtonGroup.md General Design considerations, etc"
@amanda-phet and @arouinfar, I have committed my contributions to the RadioButtonGroup.md which now lives here https://github.com/phetsims/sun/blob/master/doc/RadioButtonGroup.md

I didn't add a section for the keyboard dialog, nor did I separate out example screen reader utterances. I created a section called "PhET Components" near the bottom, but I am not sure that's the best spot yet.

Please g

[2018-05-31 01:16] terracoda commented on #364
Please assign me if you have any questions for me, thanks.

[2018-05-31 16:28] jonathanolson commented on #121
I'm not sure what to respond to (why it's tagged for the developer meeting), but if sun button work is being done, https://github.com/phetsims/sun/issues/362 could be done presumably at the same time.

[2018-05-31 16:50] jonathanolson commented on #363
@ariel-phet noted this should not block Area Model's 1.1. Unassigning.

[2018-05-31 16:53] pixelzoom commented on #121
This is tagged for developer meeting to decide how to proceed with adding/fixing `dispose` for sun buttons.

[2018-05-31 19:50] zepumph commented on #340
@samreid does this issue seem like it is blocking stable phet-io of FL?

[2018-05-31 21:59] samreid commented on #340
I don't recall what issue it was, but I think we ultimately concluded that it was acceptable to have a nested emitter for events (even though it is clunky in the API, it makes life very easy on the implementation/maintenance side).

I think as long as we use Emitter consistently (using it for many emitter-type events instead of inlining some), it will be OK.

This issue pertains to stability for F

[2018-05-31 22:16] samreid commented on #340
After the change, the data stream looks like this:

![image](https://user-images.githubusercontent.com/679486/40811280-d5265856-64ed-11e8-998e-3bd29c62f208.png)

Furthermore, this will help us to move away from the `phetioEventSource` anti-pattern.

[2018-05-31 22:18] samreid commented on #340
@zepumph can you please review the proposed change set (pushed above)?  If it seems OK, reassign to me and I'll apply this pattern to the other places we are using `phetioEventSource`.

[2018-05-31 22:30] zepumph commented on #340
That sounds really nice.

I'm convinced, and the implementation looks really nice. Thanks! What are the next steps? I see 43 usages of `phetioEventsSource` in 11 common code files. Should we do this for all? New issue?

[2018-05-31 22:32] samreid opened #365 "Convert from phetioEventSource to nested Emitter"
As we did for https://github.com/phetsims/sun/issues/340

[2018-05-31 22:32] samreid commented on #340
I created issue #365, one for each day of the year.  Closing and will continue there.

[2018-05-31 22:45] samreid commented on #365
I'm looking at RadioButtonGroupMemberModel:

[code]

The Property is passed in by a client and may not be instrumented.  Also, the Property would be a model event, not a user event.  I recall we previously experimented with a synthetic Emitter (that cascades to the Property), but we removed it for some reason.  Not sure how to proceed for this case.

[2018-06-01 04:43] samreid commented on #340
Sorry, false alarm.  Due to implementation constraints in the Round/Rectangular buttons of several types, we should use the `phetioEventSource` pattern.  I've re-applied the pattern and cleaned it up.  Committing shortly.

[2018-06-01 04:52] samreid commented on #365
We are forced into using *ButtonModel because of the Rectangular/Round button types as a way of factoring out logic across the types.  It is important to have a user event like "button pressed" instead of a model event "button.emitter emitted", so I've kept this pattern and simplified it a bit.  Local tests are green and Bayes is OK with it (... so far).

[2018-06-01 04:58] samreid commented on #340
Typically the listener can be added on the underlying property.

[2018-06-01 07:07] jonathanolson commented on #365
Bayes is unhappy, and after pulling I'm running into errors with button interaction in area-model.

[2018-06-01 12:30] samreid commented on #365
Thanks, I see the problem on bayes.  Here's what aqua looks like locally, so I'm not yet sure what's happening.  I'll keep looking:

![image](https://user-images.githubusercontent.com/679486/40840755-3822fb40-6565-11e8-938d-9f9f33fe404f.png)

[2018-06-01 12:33] samreid commented on #365
I should mark this as "blocks publication" but we don't have that label yet.  I'll notify slack.

[2018-06-01 12:41] samreid commented on #365
It looks like https://github.com/phetsims/joist/commit/348266688b483e0bfc868b33dd3a453d1f97818c was committed but not pushed.  I pushed it now and will keep an eye on Bayes.

[2018-06-01 13:03] samreid commented on #365
CT is happier after the push:

![image](https://user-images.githubusercontent.com/679486/40841937-6a6c564c-6569-11e8-9397-3e8f0783e6e9.png)

So I'm cautiously optimistic.

[2018-06-01 13:14] samreid commented on #365
Closing again for now.

[2018-06-01 13:14] #365 closed

[2018-06-01 16:31] terracoda commented on #356
@zepumph, I am not sure there is a way to silence values on spinners and sliders. You likely know this, but the values themselves are not alerts, but just the current value.

[2018-06-01 20:01] zepumph commented on #356
What is the best way to proceed with this issue then @terracoda? Is the `aria-valuenow=4` enough? Are we done here?

![image](https://user-images.githubusercontent.com/6856943/40860898-731e74d0-6593-11e8-93db-524a70458168.png)

[2018-06-04 16:31] ariel-phet commented on #237
Marking for dev meeting as I would be curious how much work this would be (perhaps @pixelzoom suggestion of a general API that could allow us to dismiss all pop ups)

[2018-06-04 16:37] pixelzoom commented on #237
Yes, ComboBox should eventually use the same "pop up" mechanism as menu, dialogs, etc.  But since this issue is reportedly specific to CCK, I don't believe it requires and changes to ComboBox.

[2018-06-04 17:36] jonathanolson commented on #237
This was an issue in masses-and-springs, where I noticed two potential issues:

1. When the ComboBox was moved, the popped-up content didn't shift to compensate.
2. If the list parent was transformed before things popped up, the transform didn't seem to compensate.

[2018-06-04 20:49] pixelzoom commented on #340
I reported on Slack:
In EqEx fuzz testing, I’m seeing an occasional assertion failure in PushButtonModel, line 143, “Cannot fire when already firing”.  PushButtonModel was last changed by @samreid for https://github.com/phetsims/sun/issues/340.  EqEx is not instrumented for PhET-iO.

[2018-06-05 04:19] terracoda commented on #356
@zepumph, this is looking good.
Is the context for this issue that the read outs were a bit non-sensical in the first go around?

I think the actual pdom might want to read more like this:

Factors, button, expanded
Change dimensions of rectangle.
Height, stepper, <aria-valuetext: 4> times  Width, stepper, <aria-valuetext: 1>

Or

Factors, button, expanded
Area Height, stepper, <aria-valuetext: 4>

[2018-06-05 16:01] pixelzoom commented on #340
Re https://github.com/phetsims/sun/issues/340#issuecomment-394494633... I haven’t seen this in CT, and it didn’t occur again in 3+ continuous hours of EqEx fuzz testing that I did last night.  So it’s probably something that is highly improbable.  So if you're confident that changes for this issue are unrelated, then feel free to close.

[2018-06-06 21:21] zepumph commented on #356
So it looks like the `AccessibleNumberTweaker` is acting accordingly, back to you @jonathanolson to work with @terracoda and @amanda-phet about designing the descriptions.

[2018-06-06 23:39] jbphet commented on #121
This has been low priority for such a long time because having buttons come and go from a sim is a rare occurrence, so there isn't a lot of real memory leakage occurring, at least not yet.  @pixelzoom mentioned that he had at least one sim where buttons *do* come and go (was it Models of the Hydrogen Atom?).  Perhaps one way to prioritize the work would be to look at this sim and any others where

[2018-06-07 02:07] jonathanolson commented on #362
Added PaintColorProperty to handle this type of case. Rect/round buttons now accept baseColors that are Properties. RadioButtonGroupAppearance was also reworked to support color properties.

Since this is not necessarily "complete", I'm unassigning instead of closing.

[2018-06-07 15:39] Denz1994 commented on #237
This drifting behavior is also present in projectile-motion.

This sounds reasonable, because changing screen bounds would require a user input unrelated to the ComboBox. Any other similar action currently closes the pop-up so this seems like a natural extension of that behavior.

[2018-06-07 16:28] jessegreenberg commented on #237
That would be a good short term workaround until a more general pop up system is ready.

[2018-06-07 16:55] samreid commented on #237
Is there a more general way to listen for the global bounds of the node, and automatically remove the popup when the global bounds changes?

[2018-06-07 17:06] jessegreenberg commented on #237
How about
[code]
Are we trying to avoid usage of Events?

[2018-06-07 17:14] Denz1994 commented on #121
@andrea-phet Will continue work and retag for dev meeting when this becomes blocking. @jbphet currently has other higher priorities.

[2018-06-08 00:16] pixelzoom commented on #121
To clarify the above comment...  @andrea-phet will continue working on scenery-phet components, likely skipping anything named *Button.

Self un-assigning. @andrea-phet let me know if there's anything you'd like me to review.

[2018-06-11 15:50] andrea-phet commented on #121
@pixelzoom, FaucetNode, GaugeNode, and MeasuringTape are ready for review.

[2018-06-12 19:40] terracoda commented on #363
@mbarlow12, is this issue relevant to you and me?

[2018-06-12 21:38] arouinfar commented on #364
In the above commit, I updated the "General Design Considerations" and "Aesthetic Considerations" to match the Style Guide working doc.

We still need to flesh out how to separate `VerticalAquaRadioButtonGroup` and `RadioButtonGroup` so I'll leave this issue open for discussion at next week's meeting.

[2018-06-12 21:40] arouinfar commented on #364
@terracoda did you say you were going to look into `VerticalAquaRadioButtonGroup` vs `RadioButtonGroup`?  Feel free to unassign yourself if this discussion should be left to the keyboard nav meeting.

[2018-06-13 14:34] terracoda commented on #364
Thanks @arouinfar. I updated the PhET Component section and changed the Design Document Template to a list for formatting purposes.

I also have a question for the meeting, ""Where does RadioButtonGroup.js live?"

I'll un-assign myself for now.

[2018-06-14 23:30] pixelzoom commented on #362
Major unreviewed changes and unassigning?....

Labeling as "block-publication". What work is remaining here? Who will review the changes?

[2018-06-14 23:31] pixelzoom commented on #341
Unreviewed changes here to radio buttons.  Labeling as "block-publication".

[2018-06-14 23:33] pixelzoom commented on #304
This issue made changes to AccordionBox and is still open.  Labeling as "block-publication".

[2018-06-15 05:56] jonathanolson commented on #362
I only integrated support for arbitrary paints to the fields used in area-model. I haven't checked to see how many places do not support arbitrary paints, but there are probably a decent amount. A quick check shows disabledBaseColor in Rectangular/RoundButtonView, stroke in RectangularButtonView, etc.

I'll leave that to @ariel-phet to answer. I definitely should have assigned for review.

[2018-06-15 18:36] pixelzoom opened #366 "ComboBox: provide methods to control popup list"
There's currently no way to programmatically hide the ComboBox's list.  This would be useful in situations like https://github.com/phetsims/sun/issues/237 and https://github.com/phetsims/projectile-motion/issues/164.  When the browser window is resize, ScreenView.layout is called.  Subtypes of ScreenView would override layout to handle hiding the ComboBox list.  Something like:

[code]

Should inv

[2018-06-15 18:39] pixelzoom commented on #366
@ariel-phet If there is consensus that this would be a useful enhancement, consider having @andrea-phet implement, since she could use it immediately in https://github.com/phetsims/projectile-motion/issues/164.

[2018-06-18 17:51] jonathanolson commented on #341
The current status of master here (with the changed and refactored out default) looks good to me. Closing.

[2018-06-18 17:51] #341 closed

[2018-06-18 20:17] jbphet commented on #362
I was asked to review the changes made so far, here are my comments:

+ Test code should be added to the Sun demo that exercises these changes, please see `ButtonsScreenView.js`, particularly the variable `changeButtonColorsButton` which currently tests the ability to change button colors.
+ The header is marked as TODO for `PaintColorProperty.js`.  This should be thoroughly documented, including

[2018-06-18 23:04] pixelzoom commented on #362
@jbphet said:

+1.  Partially implementing something to meet a need of some sim, then leaving it in a temporary/experimental state happen (in my opinion) too often.  Not to pick on JO, but https://github.com/phetsims/phet-core/issues/35 (improved Pooling) is another recent example.  And last time I check, there was > 100 in-progress issue with the dev:a11y label.

[2018-06-19 21:06] pixelzoom commented on #340
@samreid This assertion failure appears in CT yesterday (6/18/2018, 10:24:42 PM) for equality-explorer-two-variables.  First time I've seen it in CT.   So there is a problem somewhere, but (so far) rarely encountered in CT.

equality-explorer-two-variables : fuzz : require.js : run
Uncaught Error: Assertion failed: Cannot fire when already firing
Error: Assertion failed: Cannot fire when already f

[2018-06-19 22:15] mbarlow12 opened #367 "branch: yamldocs"
Documentation only. This branch is for testing the utility of YAML front matter in our markdown documents. See https://github.com/phetsims/binder/issues/15 for more details.

[2018-06-21 05:03] jonathanolson commented on #362
Done, both mutating the Property value and individual Color channels independently.

Yikes, I'm not sure how I let that slip through. I've added documentation at the top.

I asked on Slack (dev-public):

@samreid did prefer something other than "factor", but his recommendation of "brighteningAmount" also had the same problem of my example, that it sounded like it couldn't be darkened.

I'd be more

[2018-06-21 07:29] jonathanolson commented on #362
I've updated a number of different places/components in the commits above.

I still need to handle:

- [ ] ProbeNode
- [ ] ShadedRectangle
- [ ] SpinningIndicatorNode
- [ ] VisibleColor

Once I'm done I'll reassign for review of all of the commits (since I'm having to touch a lot of core components and code).

[2018-06-21 07:36] jonathanolson commented on #362
Refactoring also removed updateFillsAndStrokes from RoundButtonView/RectangularButtonView.

One question I had was based on the old disabledStroke for RoundButtonView (3d appearance). It looks like it was initialized to a conditional value, but was overwritten before being used by anything else. Extra review from @jbphet to make sure the current form of this is OK (since I removed the unused value

[2018-06-21 16:08] andrealin commented on #366
I added `showList` and `hideList` to ComboBox.

There are some checks within showList and hideList about the listNode visibility, so would `isListVisible` still be necessary?

[2018-06-21 16:22] andrealin commented on #121
I have checked the following scenery-phew components for memory leaks and implemented/fix dispose where necessary:

- [ ] FaucetNode
- [ ] GaugeNode
- [ ] LeftRightSpinner
- [ ] MeasuringTape
- [ ] NumberPicker
- [ ] ScientificNotationNode
- [ ] ThermometerNode
- [ ] WavelengthSlider

[2018-06-21 16:23] jonathanolson commented on #362
Additionally, I'll want feedback on the variable names for the "derived" color properties. They could potentially be more verbose/clear.

[2018-06-21 17:00] jonathanolson commented on #362
Refactored the remaining cases above (VisibleColor didn't look like it warranted changes).

[2018-06-25 16:40] jonathanolson commented on #362
Memory testing looked OK. Assigning to @jbphet for review of above commits.

[2018-06-26 04:02] jonathanolson opened #368 "AccessibleSlider decimal places"
In area-model, the number of decimal places is dependent on the scene, and the a11y sliders are used across multiple scenes.

Should AccessibleSlider be refactored so that accessibleDecimalPlaces is a mutable parameter (has getter/setter)? Presumably we don't want to support a Property for that?

[2018-06-26 18:21] zepumph commented on #368
That sounds good to me, I too think a Property could be overkill.

[2018-06-27 21:38] jessegreenberg commented on #364
@terracoda I noticed this has the a11y meeting label, would you like to add this to the agenda of an upcoming a11y meeting?

[2018-06-27 21:40] jessegreenberg commented on #361
Ill work on this, removing the meeting label.

[2018-06-28 14:55] terracoda commented on #364
@jessegreenberg, I think we decided that the two types of radio button groups can be descried in the same markdown file for now.

[2018-06-28 18:52] terracoda commented on #364
@jessegreenberg, I reviewed the Binder Meeting notes from Tuesday. I think I possibly need to split the document up into CommonToAllRadioButtonGroups, RadioButtonGroup, and VerticalAquaRadioButton. I'll double check with @mbarlow12

[2018-06-29 20:41] jbphet commented on #304
The commits all look good, and I tested out the demo and it behaves as one would expect.  Closing.

[2018-07-02 14:52] samreid commented on #362
I noticed the shading of ShadedRectangle changed recently.  Here is https://phet-dev.colorado.edu/html/wave-interference/1.0.0-dev.13/phet/wave-interference_en_phet.html

![image](https://user-images.githubusercontent.com/679486/42170942-32180e2e-7dd5-11e8-8ad7-b0b79d1bbc2f.png)

And here is master:

![image](https://user-images.githubusercontent.com/679486/42170951-3879a8f4-7dd5-11e8-94a5-dfd548b

[2018-07-02 18:20] jonathanolson commented on #362
Not intentional, I'll look into the break.

[2018-07-02 20:56] andrealin commented on #366
@pixelzoom could you take a look at the new functionality added and let me know if changes/improvements are needed? See [above comment](https://github.com/phetsims/sun/issues/366#issuecomment-399158040)

[2018-07-02 22:55] jonathanolson commented on #362
@samreid can you see if the above fix resolves all of the issues? I hadn't properly negated things.

[2018-07-03 13:01] samreid commented on #362
Here's a screenshot after the preceding commit:
![image](https://user-images.githubusercontent.com/679486/42221276-cb4b6636-7e8e-11e8-9f8a-bad064e65b64.png)

Looks great to me, thanks!  Leaving assigned to @jbphet as described in https://github.com/phetsims/sun/issues/362#issuecomment-400017122

[2018-07-03 21:59] jessegreenberg commented on #323
We discussed this in a11y meeting 7/3/18. We will want to consider these cases in the future, but this case is very low priority now.  We will work on these cases when we consider mouse+keyboard interactions in general. Closing.

[2018-07-03 21:59] #323 closed

[2018-07-07 00:25] zepumph opened #369 "Add isShowingProperty to dialog?"
related to https://github.com/phetsims/molecules-and-light/issues/185,

In SpectrumWindowDialog.js [CM: now LightSpectrumDialog.js] in MAL, there is this block:
[code]

For phet-io especially, but probably elsewhere this may be nice to have in Dialog. I see a boolean property for `isShowing`, but maybe it could be promoted to a Property?

@pixelzoom @andrealin this is not high priority all, and I

[2018-07-09 16:33] andrealin commented on #369
It should be easy enough to change `isShowing` on line 152 of Dialog.js to a Property. I would also update its visibility annotation from private to public. @pixelzoom should I proceed with that? I would also replace any `this.isShowing` within Dialog.js to `this.isShowingProperty.get()` or `.set()`.

I also see that AboutDialog.js and UpdateDialog.js use `this.isShowing`. That would also be chang

[2018-07-09 16:42] pixelzoom commented on #369
I'm not clear on whether @zepumph was proposing to add `isShowingProperty` as part of Dialog's public API, or as a private (internal) Property for the purposes of PhET-iO.   I'm also not clear on why we need a Property to show the state in the PhET-iO message stream.  This seems like a general problem, and do we really want to be adding Properties whose sole purpose is the data stream?

@zepumph?

[2018-07-09 16:54] zepumph commented on #369
I'm not clear on whether @zepumph was proposing to add isShowingProperty as part of Dialog's public API, or as a private (internal) Property for the purposes of PhET-iO.

I was thinking of continuing to have it be a private instance, but to expose it as a read only Property to the PhET-iO api.

@pixelzoom there are two ways to instrument a property (lower case) for PhET-iO. In this example we COUL

[2018-07-09 19:20] pixelzoom commented on #369
@zepumph said:

The doc for SpectrumWindowDialog `this.shownProperty` says "can also be used to show/hide the dialog remotely".   Is that not a requirement?

[2018-07-09 19:33] pixelzoom commented on #369
I don't follow the previous comment.  The state of the control use to display the Dialog should have nothing to do with this.  Taking into account that we are considering adding `isShownProperty` to Dialog, which will eventually support both modal and non-modal dialogs... Should the visibility of the Dialog be controllable via `isShownProperty`, or is it `// {BooleanProperty} (read-only, phet-io)`

[2018-07-09 19:36] pixelzoom commented on #369
Btw...  The fact that we're having to negotiate the visibility and responsibilities of this Property is the very reason why I don't agree that adding such Properties (that exist solely to provide messages to the PhET-iO data stream) is a good approach.

[2018-07-09 19:37] pixelzoom commented on #369
Related to this discussion... SpectrumWindowDialog is now LightSpectrumDialog.

[2018-07-09 20:37] samreid commented on #369
I think in general, PhET-iO should have an API for controlling and observing whether dialogs are visible.  For example, one wrapper may ask students a question about a phenomenon that the student has to answer without the dialog, then the wrapper pops open the dialog.  Having a setVisible/getVisible/linkVisible behavior seems best handled by a Property.

[2018-07-09 20:38] jbphet commented on #362
Looking good.  Here are my comments from the 2nd round of review:

+ I agree that `factor` is too generic of a term.  I looked around online, and my suggestions would be to use one of the following (see http://www.workwithcolor.com/color-properties-definitions-0101.htm):
  + luminanceFactor
  + luminanceChangeFactor
  + brightnessChangeFactor
  + tintFactor
  + tintAndShadeFactor
+ Since 'PaintCol

[2018-07-09 20:57] jonathanolson commented on #362
I'll make the change to luminanceFactor then if that sounds good?

In that particular case, it was mirroring how our color profile properties work (since the buttons will need to use PaintColorProperty to handle the property in all cases). I don't see how making those PaintColorProperties would help. Might be good to discuss on a call?

But they support passing in `Property.<Color|string>` for e.g

[2018-07-09 21:29] jonathanolson commented on #362
Discussed with @jbphet.

I'll make the `luminanceFactor` name change, and the rest was handled with documentation changes.

[2018-07-10 17:13] pixelzoom commented on #369
I think a design meeting about this is needed.  I can forsee many problems with allowing PhET-iO to control visibility and change the control flow (as proposed by @samreid in https://github.com/phetsims/sun/issues/369#issuecomment-403611903).

[2018-07-10 19:10] pixelzoom commented on #121
@andrealin I completed review of the components listed in https://github.com/phetsims/sun/issues/121#issuecomment-399162547.  Two minor changes in the commits above.  Let me know if you have any questions.

[2018-07-10 19:55] pixelzoom commented on #366
Too much of the implementation for `showList` and `hideList` was in the constructor.  In this case, I think it's making it more difficult to read and (of secondary concern) the implementation of the functions is duplicated in every instance of ComboBox.   So I created some addition fields (`this.listNode`, etc.) and moved the full implementations of `showList`, `histList` and `moveList` to the pro

[2018-07-10 21:42] andrealin commented on #121
The commits above make sense. Removing the status:block-publication label since all changes have been reviewed.

[2018-07-11 15:47] andrealin commented on #366
Looks good. CT also looks good, closing.

[2018-07-11 15:47] #366 closed

[2018-07-12 16:41] jonathanolson commented on #362
Implemented above, closing.

[2018-07-12 16:41] #362 closed

[2018-07-12 19:08] terracoda commented on #359
@jonathanolson, an AccordionBox.md file has been created. Please see:
https://github.com/phetsims/sun/blob/master/doc/AccordionBox.md

Does this address your concerns? Can you move forward?

[2018-07-12 19:17] terracoda commented on #359
@jonathanolson, I am unassigning myself. Please re-assign if you have further questions.

[2018-07-17 18:08] jessegreenberg commented on #356
Discussed on 7/17/18 - The common work for this issue is complete. Any remaining work will be sim specific, lets create an issue in area-model-common to discuss what the remaining sim specific readout for this input should be.

[2018-07-17 18:08] #356 closed

[2018-07-17 18:11] jessegreenberg commented on #358
We should go ahead and add these options in the meantime while we continue to work on https://github.com/phetsims/scenery/issues/795. @jessegreenberg will work on this.

[2018-07-17 18:15] zepumph commented on #359
@terracoda mentioned in the dev meeting today to make sure that the way to get from the expand/collapse button to content is fluid (like with arrow keys or something).

[2018-07-19 14:00] terracoda opened #370 "Design Pattern: Checkbox.md - ready for general additions and feedback"
I updated Checkbox.md file. I still have to add examples for a groups of checkboxes, but in the mean time @amanda-phet and/or @arouinfar could update General and Aesthetic Considerations.

[2018-07-19 14:01] terracoda commented on #370
Note, you can update the MD file directly. The google sheet sand box does not have any content.

[2018-07-19 14:02] terracoda commented on #370
Please close when done, or re-assign to me if you have questions.

[2018-07-26 00:43] jessegreenberg opened #371 "Remove timeout from ButtonModel a11yClick"
a11yClick was introduced as a way to implement accessibility in the button model. Motivated originally by #323. When using a screen reader or assistive device, clicking a button with the keyboard often doesn't register a `keydown` and `keyup` event,  rather the user agent sends a single `click` event to the browser.

Because of this, we update the `overProperty` and `downProperty` using a timeout

[2018-07-26 16:14] zepumph commented on #371
Maybe @jonathanolson has insight, we can try to talk about this issue too tomorrow with him, when we meet for phetsims/scenery#831

[2018-07-26 22:06] zepumph commented on #340
@samreid what is the status of this issue. I don't see any commits fixing this error, but I don't see this error in CT anymore.

[2018-07-27 18:56] zepumph commented on #340
Oops, assigned the wrong person.

[2018-07-27 22:06] jessegreenberg commented on #371
After more discussion in https://github.com/phetsims/scenery/issues/831, we are going to try to use PressListener for a11y. Since the implementation will be in that type, we can better handle cases like the one the motivated this issue originally. Because of that, we decided that we should proceed with the timeout because it generally handles the input from AT in the most general way. @zepumph I a

[2018-07-27 23:13] zepumph commented on #371
Actually I'm still unsure about this, the error we were getting on Wednesday is all about how the timer was delaying, async, too long, so we got weird logic where the dialog and phetmenu were both showing. I'm not yet clear how phetsims/scenery#831 could solve that.

[2018-07-30 17:35] andrealin commented on #121
Dispose has been implemented or fixed in the scenery-phet components in (list) that are not buttons. Retagging for developer meeting to evaluate how to proceed.

[2018-07-31 23:49] samreid commented on #340
I'm very confused.  It seems like https://github.com/phetsims/sun/issues/340#issuecomment-393756250 contradicts https://github.com/phetsims/axon/issues/180

Assigning for discussion tomorrow.

[2018-08-01 19:31] zepumph opened #372 "PressListener release assertion with MomentaryButtonModel"
The assertion happens when the MomentaryButtonModel "turns off" by getting set `enabled = false`. Recently as part of https://github.com/phetsims/axon/issues/180 we added emitters to this ButtonModel, but this issue occurred before that change.

Steps to reproduce:
* In BLL, go to concentration screen and select the Solution radio button
* Fill of the entire liter by holding how the eye dropper bu

[2018-08-01 19:34] zepumph commented on #372
Also noting that it will error out if you don't release the mouse in the same case, but instead try to drag the eye dropper around, here is the stack on that one:
[code]

[2018-08-01 20:01] zepumph commented on #372
@chrisklus and I investigated and see that it may be because of how the downProperty is linked we will investigate and potentially commit a change for review.

[2018-08-01 20:07] zepumph commented on #372
We found in `RoundMomentaryButton` that adding this interrupt code worked to fix the bug:
[code]

But shouldn't PressListener's interrupt just be handled more generally for all enabledProperty changes? Perhaps somthing like this in `ButtonModel`:

* have `ButtonModel.createListener()` keep track of all listeners created
* add a listener in the constructor to the enabled property to interrupt the p

[2018-08-01 22:11] arouinfar commented on #370
I edited the design/aesthetic considerations sections in the above commit.

I saw this note in the .md file:

@terracoda @amanda-phet I don't believe there are other types of visual checkboxes, so we can probably delete this bit from the file.

The Aesthetic Considerations section stated that checkboxes used Sentence case, but I only found one sim using sentence case (Trig Tour). Most checkboxes u

[2018-08-01 23:12] samreid opened #373 "RadioButtonGroupMember should use Emitter"
RadioButtonGroupMember needs the same Emitter implementation that @zepumph @chrisklus and @samreid introduced in https://github.com/phetsims/axon/issues/180 and https://github.com/phetsims/sun/issues/340.  I saw this code:

[code]

@zepumph can you investigate?

[2018-08-01 23:13] samreid commented on #373
Also, what is the logical conclusion of this approach?  Are most/all of the `phetioStartEvent` going to convert to `Emitter`?  What would the pros and cons of that be?

[2018-08-02 01:22] samreid opened #374 "Impossible set state from enabledProperty"
Uncaught Error: Impossible set state:
friction.navigationBar.a11yButtonsHBox.keyboardHelpButton.keyboardHelpDialog.closeButton.enabledProperty

Discovered during https://github.com/phetsims/tandem/issues/61

[2018-08-02 19:31] andrealin commented on #121
Re assigning to myself to make sure the current scenery-phet components with dispose are not leaking memory.

[2018-08-08 17:04] chrisklus opened #375 "Convert createListener to take options as a parameter"
@samreid and I noticed that `.createListener()` doesn't take any options, so we are unable to pass through `phetioInstanceDocumentation` or other phetio options.

[2018-08-09 14:21] samreid commented on #340
@zepumph and I focused on this, and got the button model types to use Emitter.  This means the following:

* They have uniform API for phet-io
* You can subscribe to events from them in phet-io
* They appear in the data stream
* You can trigger the buttons to fire by firing the emitter

Outstanding issues are mentioned above, closing this one.

[2018-08-09 14:21] #340 closed

[2018-08-13 17:39] pixelzoom commented on #333
Based on the title of this issue, it appears to be a duplicate of https://github.com/phetsims/sun/issues/314.   If it's somehow different, please change the title to reflect that.

[2018-08-13 17:43] pixelzoom opened #376 "use a consistent default for cornerRadius"
AccordionBox and Panel have different values for their `cornerRadius` options.  In the past few sims that I've worked on, we used both AccordionBox and Panel, and this difference forced me to set a consistent `cornerRadius`.   Rather than continue to do this, let's choose a consistent default.

[2018-08-14 16:38] zepumph commented on #373
I'll take a look

[2018-08-15 14:20] samreid opened #377 "Why does VerticalAquaRadioButtonGroup specify a11yNameAttribute: 'verticalAquaButtonGroup' + instanceCount + 'Member'"
Discovered while looking at https://github.com/phetsims/sun/issues/344

VerticalAquaRadioButtonGroup has:

[code]

I can't figure out why it is important or useful for AquaRadioButton instances to have a name attribute like that.  Is it just important that they have unique names?  Why don't other components have something like this?  Is it a special requirement for radio button peers?

[2018-08-15 14:30] samreid commented on #344
The change will be from `content` to `node`.

All proposed changes sound great.  I recommend either (a) renaming this issue to be clear that it covers VerticalCheckboxGroup as well as VerticalRadioButtonGroup or creating a new related issue to cover VerticalCheckboxGroup.

Additionally, do you think it would be possible to factor out a parent class that takes care of responsibilities common to bot

[2018-08-15 15:03] jessegreenberg commented on #377
Thanks, that is correct. Each button in a group of radio buttons must have the same `name` attribute, or else the browser will treat all radio buttons in the document as in a single group and arrow keys will navigate through all of them. I added documentation about this in particular, @samreid does it look better?

[2018-08-15 15:04] jessegreenberg commented on #377
Same needs to be done for RadioButtonGroup.js

[2018-08-15 15:11] samreid commented on #377
Thanks, that is much clearer.  I'm seeing

AquaRadioButton:
[code]

VerticalAquaRadioButtonGroup:
[code]

Will everything be OK if a null value gets set with `setAccessibleAttribute`, or do we need checking around that?  Also, this commit changed the value type from string to number, will that be OK?

[2018-08-15 15:29] jessegreenberg commented on #377
non-string values are are automatically converted to string, so numbers are OK, but `null` is not OK for the same reason. Thanks, I added a check.

[2018-08-15 15:37] mbarlow12 commented on #367
Branch merged into master and deleted.

[2018-08-15 15:47] samreid commented on #377
The check looks like it will work at the moment, but would fail if `instanceCount++;` was moved later in the `VerticalAquaRadioButtonGroup` constructor.   Perhaps it would be better to:

(a) default `a11yNameAttribute` to something other than null and remove the check
or
(b) check whether `a11yNameAttribute` is non-null instead of checking whether it is truthy

I suspect (b) may be better, but I'm

[2018-08-15 16:06] jessegreenberg commented on #377
I see what you mean, I went with (b) that does seem best. Look OK @samreid?

[2018-08-15 16:49] samreid commented on #374
Automated tests may miss this if it doesn't fuzz the about dialog.

[2018-08-15 16:55] pixelzoom commented on #344
@samreid asked:

Most of the implementation of these types is concerned with creating checkboxes or radio buttons, and the layout is handled by VBox.  So VBox is essentially the "parent class".   There's a small amount of other stuff (pointer area dilation) that they share, but it doesn't seem significant enough to factor out.

[2018-08-15 17:25] samreid commented on #374
Going on hold until https://github.com/phetsims/molarity/issues/48 is addressed.

[2018-08-15 18:30] arouinfar opened #378 "HSlider doesn't play well with panels that expand for i18n"
A common strategy for i18n is to allow panels to expand by some amount before scaling down the contents/strings within.

Masses and Springs contains a panel with some pretty long strings, so I requested this behavior, which ended up leading to a bit of refactoring, and ultimately required that the default panel width itself be wider, as @Denz1994 explained in https://github.com/phetsims/masses-and

[2018-08-15 18:37] zepumph opened #379 "Test disposal of RadioButtonGroupMember's new emitter"
From https://github.com/phetsims/sun/issues/373,

@chrisklus can you please test the new `firedEmitter` for memory issues, as well as a sanity check that the general disposal is not buggy.

[2018-08-15 18:40] zepumph commented on #373
We converted this event to `firedEmitter`. This involved us deleting RadioButtonGroupMemberIO because it was no longer doing anything. Next steps are to test disposal in https://github.com/phetsims/sun/issues/379, closing

[2018-08-15 18:40] #373 closed

[2018-08-15 19:35] pixelzoom commented on #344
I completed several of the checklist items in https://github.com/phetsims/sun/issues/344#issuecomment-378813752.  But when I got to the one involving `padding`, it occurred to me that this responsibility don't belong here. It should be up to whatever is using these groups to add margins.   So my feeling is that the padding options should be removed.   Labeling for developer meeting to discuss.

[2018-08-15 19:39] pixelzoom commented on #344
The only place the I see `padding:` for one of these groups is in `PLINKO_PROBABILITY/HopperModeControl`, see screenshot below.  The padding is really doing nothing here, since there's no container.   So I'm going to go ahead and remove the `padding` option.

![screenshot_714](https://user-images.githubusercontent.com/3046552/44169058-88767700-a090-11e8-94db-cb113536606d.png)

[2018-08-15 19:55] pixelzoom commented on #344
The `indent` option was used in 1 place (WAVE_ON_A_STRING/BottomControlPanel), where it was set to zero.    So I see no reason to add it to VerticalAquaRadioButtonGroup, or fix the related bug in VerticalCheckboxGroup.  Instead, I'm going to remove the `indent` option.

[2018-08-15 20:05] pixelzoom commented on #344
All work is completed. Here's a summary of what I did related to https://github.com/phetsims/sun/issues/344#issuecomment-378813752:

- VerticalAquaRadioButtonGroup: renamed `item.content` to `item.node`
- VerticalAquaRadioButtonGroup: moved option `radius` into `radioButtonOptions`
- VerticalCheckboxGroup: added option `checkboxOptions`
- VerticalCheckboxGroup and VerticalAquaRadioButtonGroup: del

[2018-08-16 00:56] zepumph commented on #376
Sounds like a good idea. I don't have any preference on what that value it.

[2018-08-16 15:36] Denz1994 commented on #378
A generalization of this behavior extends to Panels whose content has default sizes that are larger than the Panel. This behavior was also present in the VerticalCheckboxGroup above the gravity slider.

The current solution involves making the Panel larger so the content fits its default size. There is room for discussion on a general solution.

[2018-08-16 19:12] pixelzoom opened #380 "generalize HSlider to support horizontal and vertical orientations"
We currently have HSlider, whose implementation is specific to horizontal orientation.  Several sims need a vertical slider, e.g. graphing-lines, curve-fitting, capacitor-lab-basics, color-vision.  Those sims take an HSlider and rotate it 45 degrees.  The tick mark features are unusable, and the sim must decorate the slider with ticks using a combination of hacks (e.g. see `GRAPHING_QUADRATICS/Coe

[2018-08-17 16:25] chrisklus commented on #379
@zepumph the new `firedEmitter` appears to be disposing correctly.

However, `RadioButtonGroupMember` is leaking memory. I tested it in `MemoryTestsScreenView`, and at ~100 create/disposes its size was 17 MB, ~1000 was 24 MB, and ~5000 was 49 MB. I will investigate.

[2018-08-17 17:17] chrisklus commented on #379
@zepumph I don't seem to be getting very far with this one. If you're interested, I wouldn't mind some help tracking the leak down. I think this is probably the same problem as `RadioButtonGroup` in this list that I'm working on: https://github.com/phetsims/sun/issues/121

[2018-08-17 20:07] zepumph commented on #379
Yeah sure thing, let's schedule something for next week.

[2018-08-19 00:03] samreid commented on #374
I tested opening and closing the keyboard help dialog in friction and did not get an error.  @zepumph is this fixed?

[2018-08-20 18:40] zepumph commented on #374
Yes it has been fixed for some time, we left this issue open until Molarity maintenance release was published (see https://phet-dev.colorado.edu/html/molarity/1.4.1/phet-io/wrappers/state/state.html)
Closing

[2018-08-20 18:40] #374 closed

[2018-08-22 20:02] pixelzoom opened #381 "Carousel: replace TWEEN with TWIXT/Animation"
The animation in `Carousel` currently relies on TWEEN, which we've deprecated.  It should be covered to use the latest TWIXT animation types (`Animation`, `Easing`, etc.)

Assigning to @ariel-phet to prioritize and assing.  I'll be happy to handle this, if you'd like, since I just did a similar conversion for Hooke's Law in TRANSLATION_DURATION.

[2018-08-22 20:07] pixelzoom commented on #381
Correction... SCENERY_PHET/Drawer uses TWIXT/MoveTo, which is currently implemented using TWEEN.  It might be easier to reimplement MoveTo and OpacityTo, so that we don't need to change common or sim code that uses these.

[2018-08-22 21:34] pixelzoom commented on #378
I don't understand what the problem is here.  Developers can set (and should be setting) independent `maxWidth` values for all of the text elements in HSlider and NumberControl.   That includes titles, tick labels, etc.   Additionally, they may set `maxWidth` on the entire UIComponent.   So unless you decide the you need more width to accommodate English strings (or translated strings), there's no

[2018-08-22 21:38] pixelzoom commented on #380
I converted `GRAPHING_QUADRATICS/CoefficientSlider` to use the approach used in `CAPACITOR_LAB_BASICS/BatteryNode`.  It seems like this would be relatively easy to support in a `Slider`, `HSilder`, `VSlider` hierarchy, like I described in https://github.com/phetsims/sun/issues/380#issue-351332340.

[2018-08-23 15:50] jonathanolson commented on #376
Changing the current defaults would change sims - would we plan to keep all "current" behavior (adding corner radii overloads in many places)?

[2018-08-23 15:54] mbarlow12 commented on #325
@zepumph @jessegreenberg I searched through our sims for additional instances of the setter scenario and the usages are either within a listener function or used on a type that doesn't inherit from `Node` (e.g. `Screen.js`).

I think this can be closed but wanted to check with you two first.

[2018-08-23 16:32] zepumph commented on #325
I looked through all usages of `.innerContent` and `.tagName` and only saw two files needing work. I feel good closing this, and updating any other usages as we stumble across them. Closing

[2018-08-23 16:32] #325 closed

[2018-08-23 19:35] pixelzoom commented on #376
Currently: Panel is 10, AccordionBox is 3.

[2018-08-23 19:38] pixelzoom commented on #376
8/23/18 dev meeting consensus:   I will change AccordionBox default to `cornerRadius: 10`, and make all existing call sites set `cornerRadius: 3`, so that behavior of sims is unchanged.

[2018-08-23 20:11] pixelzoom commented on #380
8/23/18 dev meeting:

Assigned to me.

For vertical sliders, want options for whether labels are on left vs right, and whether the tick extends out on both left and right sides.

a11y: Aria orientation option in AccessibleSlider. Make sure arrow keys work.

[2018-08-23 20:19] pixelzoom opened #382 "support non-linear behavior in sliders"
Discussed at 8/23/18 dev meeting.

It would be nice to have different functions for how sliders behave.  E.g. logarithmic, quadratic, etc.

This could be accomplished by having a `DynamicProperty` inside HSlider, and options to provide its `map` and `inverseMap` functions.  E.g.

[code]

And we would have a set of pre-defined mapping functions for common behaviors.

[2018-08-23 23:59] chrisklus opened #383 "Cannot dispose interactionStateProperty before disposing parent in RadioButtonGroupMember"
@zepumph and I were looking for a leak in `RadioButtonGroupMember` and decided that `interactionStateProperty` should be disposed, but found that it couldn't be disposed before disposing the parent type because the parent type was trying to unlink the listeners to this property. One potential option:
[code]

[2018-08-24 00:03] zepumph commented on #383
We found that the interactionStateProperty had to be disposed before the `buttonModel`,because it is a derived Property that depends on many ButtonModel Properties, and tries to unlink them on dispose.

Thus the above code snippet is a bit of a hack/workaround to get around the faulty hierarchy weirdness of sun button disposal. @samreid didn't we run into something like this with PhET-iO emitters

[2018-08-24 00:05] zepumph commented on #121
I helped out @chrisklus today and we found that after `RadioButtonGroupMember`'s interaction state property is disposed as part of https://github.com/phetsims/sun/issues/383, there doesn't look to be any more memory leaking in `RadioButtonGroupMember`.

[2018-08-24 00:57] pixelzoom commented on #376
I changed AccordionBox's default to `cornerRadius: 10`.

I only had to explicitly set `cornerRadius: 3` in 5 sims, FYI developers mentioned here:

area-builder @jbphet
build-an-atom @jbphet
isotopes-and-atomic-mass @jbphet
least-squares-regression @jonathanolson
sugar-and-salt-solutions (unpublished) @samreid

Closing.

[2018-08-24 00:57] #376 closed

[2018-08-24 19:37] pixelzoom commented on #381
After Slack discussion (see https://github.com/phetsims/twixt/issues/19#issue-353869087) about what default to use for the Animation `stepper` options, I decided:

[2018-08-24 19:46] pixelzoom commented on #381
Carousel animation has been reimplemented using TWIXT/Animation, with default `stepper: 'manual'`.  At existing call sites, `stepper: 'timer'` has been added, and an issue has been created for each affected sim to evaluate the `stepper` option.

[2018-08-24 21:00] pixelzoom commented on #381
@jonathanolson randomly selected to review.

[2018-08-26 02:58] samreid commented on #383
I added this code to MemoryTestsScreenView.js

[code]

I commented out the other ComponentHolders and ran the memory test.  It suggested there was no memory leak, at least the way it is being used in this context:

![image](https://user-images.githubusercontent.com/679486/44624361-8048e380-a8a9-11e8-9df4-31065760112b.png)

Can you please be more specific about the test harness you are using, or wh

[2018-08-27 03:56] samreid commented on #344
The proposed changes look great.  I read the combined change sets, the new code, tested Forces and Motion: Basics and Balloons and Static Electricity.  I discovered a few tangential issues which I'll reference below, but this issue is ready to close.

[2018-08-27 03:56] #344 closed

[2018-08-27 04:08] samreid opened #384 "Investigate dependency injection for VerticalCheckBoxGroup or VerticalAquaRadioButtonGroup"
Discovered in https://github.com/phetsims/sun/issues/344, it may be possible to use a dependency injection strategy as described in https://github.com/phetsims/wave-interference/issues/79#issuecomment-416045828.  This could simplify the call sites and the constructor implementations, and may allow us to unify the implementations.  This will be an investigation because it is unclear whether the `HS

[2018-08-28 02:08] pixelzoom opened #385 "identify sims that have a vertical slider"
Related to https://github.com/phetsims/sun/issues/380.   Before I do a lot of work on this, we should verify the requirements.

First, we should identify HTML5 sims that have a vertical slider so that:

(1) we are certain that our requirements for vertical slider are complete
(2) we can identify where vertical slider should be used

@ariel-phet could you please assign this to someone to compile a

[2018-08-29 01:03] ariel-phet commented on #385
@KatieWoe this would be a good task for you to familiarize yourself with any #HTML5 sim you have not opened yet :).

[2018-08-29 14:37] KatieWoe commented on #385
Sure thing.  @pixelzoom Does this include only published sims, or also any sims still in development?

[2018-08-29 14:59] samreid opened #386 "DemoScreenView can leak CPU/memory"
DemosScreenView can select animated components, but doesn't have a dispose or unregister phase when a component is deselected.  Hence components that animate or attach listeners elsewhere will leak.  Discovered during https://github.com/phetsims/wave-interference/issues/111

These demos are not given to clients and are for internal testing only.  It seems OK to proceed as-is, as long as other deve

[2018-08-29 16:06] KatieWoe commented on #385
Published sims:
Capacitor Lab: Basics
Color Vision
Gravity And Orbits
Least Squares Regression
Molarity
Neuron
Ohm's Law
Resistance In a Wire
States of Matter
States of Matter: Basics
(Unsure of pH Scale)

@pixelzoom Do you have any ideas of how to check any unpublished sims?  I thought of going through phettest, but if there are any that are in early stages of development I might miss them.

[2018-08-29 18:53] KatieWoe commented on #385
Question for pH Scales for anyone who may know.
Would these movable boxes be sliders?  I don't think so, but I'm less confident.
![slider2](https://user-images.githubusercontent.com/41024075/44808813-6bf73600-ab8a-11e8-8326-21dcaf220748.PNG)
Per @jonathanolson
"That’s interesting. In the code, it is almost assuredly NOT treated as a slider, although for its a11y code it will probably want to ACT l

[2018-08-29 18:54] samreid commented on #386
When the user selects “Component X” from the dropdown menu, then selects “Component Y” from the dropdown menu, the instance of type Component X is never disposed (that I know of).  Sorry that I phrased it confusingly.

@pixelzoom replied:

[2018-08-29 18:55] samreid commented on #386
Assigned for developer meeting so we can choose who should work on this, when and with what priority.

[2018-08-29 19:43] phet-steele commented on #385
@KatieWoe phettest would include sims in the earliest of stages,

[2018-08-29 20:02] KatieWoe commented on #385
Other Sims from Phettest:
(Possibly Blackbody Spectrum.  Same question as https://github.com/phetsims/sun/issues/385#issuecomment-417065378)
Curve Fitting
Energy Forms and Changes
Graphing Quadratics

[2018-08-29 20:03] KatieWoe commented on #385
These are all the ones I was able to find.

[2018-08-30 00:44] pixelzoom commented on #386
Some relevant Slack conversation:

I just tried the sun demo, and when one switches back and forth between components, the original component seems to be retained, not recreated (I switched back and forth between a carousel and an HSider, changing the state of each).  If the components stay around, no dispose would be necessary, right?

In Griddle, it would be creating and animating a plot that is

[2018-08-30 00:52] pixelzoom commented on #385
Thanks @KatieWoe.  Both published and unpublished (what you did) is great.

FYI, pH Scale example will most definitely not be implemented using a VSlider.   It's a very special "one off" design.  It's a11y behavior will probably be similar to a VSlider, but I would expect it to be somewhat different (again) because of it's unique design.

Back to me.

[2018-08-30 14:14] Denz1994 commented on #378
Considering the above comments from @pixelzoom and further discussion with @jonathanolson, I should not be using maxWidths to size texts or nodes. Instead, they should be sized using font, scale, etc. and then a maxWidth should be applied.

There isn't anything that needs to be added to common code but instead, this revised approach should be taken in the future to negate the need to refactor sim

[2018-08-30 14:14] #378 closed

[2018-08-30 16:37] jessegreenberg commented on #386
I agree, especially since we already have MemoryTestsScreenView. In https://github.com/phetsims/wave-interference/issues/111 I didn't see how @samreid encountered this, in your testing were you able to observe that performance slowed down? If not, I don't think that it is too important that DemosScreenView be leak free.

[2018-08-30 16:51] jonathanolson commented on #386
To me, it would be good to (sometime) fix the leaks in demos, but it's probably not a particularly high priority.

[2018-08-30 16:52] samreid commented on #386
I didn't observe any slowing down or other symptoms, and I think that would be unlikely during normal usage.

[2018-08-30 16:53] samreid commented on #386
Actually, if the components are not re-created, then it is not a very bad leak at all.  The leak is "capped" at the number of creatable components.

[2018-08-30 20:45] zepumph opened #387 "Checkbox.js doesn't have a public enabled Property"
found while working on https://github.com/phetsims/forces-and-motion-basics/issues/258.

in FAMB's MotionControlPanel, there was code creating what we not refer to as a "subProperty" to publically expose the checkbox's enabled value over the phet-io interface. As part of that issue I removed support for that, because I think it should be managed generally from this issue instead. @samreid we just

[2018-08-30 20:45] zepumph commented on #387
NOTE: (I found this because I was using the new API diff tool!! http://localhost/phet-io-wrappers/api-diff/index.html?sim=forces-and-motion-basics&ea&otherClientURL=http://localhost/forces-and-motion-basics/build/phet-io/lib/phet-io.js)

[2018-08-30 21:30] samreid commented on #387
Yes, Checkbox.js should have an instrumented `enabledProperty`.  Unassigning self, but reassign me if I should work on this.

[2018-08-30 22:44] zepumph commented on #387
Faradays Law has checkbox, but I don't think this needs to be done for FL stable. Keeping at no priority.

[2018-08-31 16:06] pixelzoom commented on #386
@jonathanolson said:

The description of this issue has been confusing (here and in Slack).

My understanding is that the current demos (with the exception of `MemoryTestsScreenView`) do not dynamically create components. So I'd be surprised if there were significant leaks.   I suspect that it's more likely that @samreid encountered a leak when attempting to use this in a new griddle demo.

@samre

[2018-08-31 17:02] pixelzoom commented on #385
We'll ignore blackbody-spectrum for the same reason as pH Scale.  It's slider is a special "one off" design.

[2018-08-31 17:13] pixelzoom commented on #385
Visual guide to vertical sliders in PhET sims

capacitor-lab-basics
![screenshot_723](https://user-images.githubusercontent.com/3046552/44926055-742bae80-ad0d-11e8-9ff4-77ec282c4951.png)

color-vision
![screenshot_724](https://user-images.githubusercontent.com/3046552/44926087-8f96b980-ad0d-11e8-80e6-9dd707fc93ca.png)

curve-fitting
![screenshot_725](https://user-images.githubusercontent.com/30465

[2018-08-31 20:04] pixelzoom commented on #380
After Slack discussion (expand Details below):

- OK to rename things with prefix "HSlider" to prefix "Slider" (HSlider, HSliderIO, HSliderThumb, HSliderTrack, HSliderTrackIO)
- orientation does not need to be public to PhET-iO
- AccessibleSlider should set `ariaOrientation` based on `options.orientation` that was passed to Slider and propagated to AccessibleSlider via `initializeAccessibleSlider`

[2018-08-31 20:30] pixelzoom opened #388 "questionable options to a11y mixins"
In AccessibleSlider, anything in the default options (`defaults`, line 79) can be changed by the client.  Do you really want the client to be able to change `ariaRole`, `tagName`,… other things?  As currently implemented, I could (for example) pass in `ariaRole: 'spinbutton'` and there would be no complaint.

Same question about AccessibleNumberSpinner.

If there are options that should not be set

[2018-08-31 21:50] pixelzoom commented on #380
Changes in the above commits:

- renamed Slider to HSlider
- added `orientation` option to Slider
- added HSlider and VSlider convenience types
- renamed HSliderIO, HSliderThumb, HSliderTrack, HSliderTrackIO to have "Slider" prefix
- addressed `ariaOrientation` for AccessibleSlider

[2018-08-31 21:53] pixelzoom commented on #385
After completing the initial work (see https://github.com/phetsims/sun/issues/380#issuecomment-417798090), I also noticed that all sims with vertical sliders have their labels on the left, and that is consistent with the current implementation.   So I'm going to propose that we don't make any additional enhancements related to tick marks until they are actually needed.  @ariel-phet does that sound

[2018-08-31 21:59] samreid commented on #380
Normally WebStorm can track history across file renames.  However for HSlider.js => Slider.js, it is failing to follow the history:

![image](https://user-images.githubusercontent.com/679486/44937456-9980e280-ad36-11e8-87a9-65deafc4d8a1.png)

This is confusing because `git log --follow` does seem to follow the history.  Perhaps `--follow` works based on contents?

[code]

I typically find it most

[2018-08-31 22:01] samreid commented on #380
In the GitHub diff page showing the diff, it is treating Slider.js as a new file (if I'm reading this correctly):

![image](https://user-images.githubusercontent.com/679486/44937570-14e29400-ad37-11e8-9104-94da37d2ef93.png)

[2018-08-31 22:07] pixelzoom commented on #380
I'm not sure what went on here.  I used WebStorm to rename the file.  And for any file that was renamed, I noted it's original name in the JSdoc at the top of the file.  What do you suggest?

[2018-08-31 22:08] samreid commented on #380
It looks like something went wrong with the rename.  Perhaps WebStorm had a git failure during that step.  Can that step be re-done so we can easily access the history?  Easy access to the history for this file seems particularly important because it crosses a11y and phet-io and is a widely used component.

[2018-08-31 22:13] pixelzoom commented on #380
There was no git failure indicated by WebStorm.  Perhaps it got confused because the file was renamed, and then a new file named HSlider was created.  I have no idea how to this can be "re-done".

[2018-08-31 22:56] pixelzoom commented on #380
https://github.com/phetsims/sun/issues/380#issuecomment-415555699 says:

After completing the initial work (see #380 (comment)), I also noticed that all sims with vertical sliders have their labels on the left, and tick marks that point only to the left. That is consistent with the current implementation. So I'm going to propose that we don't make any additional enhancements related to tick marks

[2018-08-31 22:57] pixelzoom commented on #385
Moving the requirements issue to https://github.com/phetsims/sun/issues/385.

[2018-08-31 22:58] pixelzoom commented on #385
All sims that were identified have been converted to VSlider.   On Slack I announced:

All sims with vertical sliders have been converted to use VSlider.  If you’re responsible for one of the sims listed in https://github.com/phetsims/sun/issues/385, you may wish to review.

Closing.

[2018-08-31 22:58] #385 closed

[2018-08-31 23:16] pixelzoom opened #389 "restore history for Slider.js"
As part of https://github.com/phetsims/sun/issues/380, HSlider.js was renamed Slider.js, and a new HSlider.js was created.   After committing and pushing, the history is with the new HSlider file, and Slider is being treated as a new file.  Everything was done using WebStorm.

[2018-08-31 23:16] pixelzoom commented on #389
@samreid said in https://github.com/phetsims/sun/issues/380#issuecomment-417799811:

Normally WebStorm can track history across file renames.  However for HSlider.js => Slider.js, it is failing to follow the history:

![image](https://user-images.githubusercontent.com/679486/44937456-9980e280-ad36-11e8-87a9-65deafc4d8a1.png)

This is confusing because `git log --follow` does seem to follow the his

[2018-08-31 23:17] pixelzoom commented on #389
@samreid said in https://github.com/phetsims/sun/issues/380#issuecomment-417800129:

In the GitHub diff page showing the diff, it is treating Slider.js as a new file (if I'm reading this correctly):

![image](https://user-images.githubusercontent.com/679486/44937570-14e29400-ad37-11e8-9104-94da37d2ef93.png)

[2018-08-31 23:17] pixelzoom commented on #389
I'm not sure what happened here. I used WebStorm to rename the file. And for any file that was renamed, I noted it's original name in the JSdoc at the top of the file. What do you suggest?

[2018-08-31 23:17] pixelzoom commented on #389
@samreid said in https://github.com/phetsims/sun/issues/380#issuecomment-417801452:

It looks like something went wrong with the rename. Perhaps WebStorm had a git failure during that step. Can that step be re-done so we can easily access the history? Easy access to the history for this file seems particularly important because it crosses a11y and phet-io and is a widely used component.

[2018-08-31 23:18] pixelzoom commented on #389
There was no git failure indicated by WebStorm. Perhaps it got confused because the file was renamed, and then a new file named HSlider was created. I have no idea how to this can be "re-done".

[2018-08-31 23:18] pixelzoom commented on #389
@samreid said in https://github.com/phetsims/sun/issues/380#issuecomment-417804318:

Basically, you could try:

1. Revert head to the SHA before your changes
2. Commit the renaming of HSlider.js => Slider.js as one commit (don't push yet)
3. Commit your other changes
4. Push all commits

EDIT: changed would => could
EDIT: changed could => could try

[2018-08-31 23:19] pixelzoom commented on #380
The issue of restoring history for Slider.js was moved to https://github.com/phetsims/sun/issues/389.

[2018-09-01 00:15] samreid commented on #389
Something like https://stackoverflow.com/questions/4114095/how-to-revert-a-git-repository-to-a-previous-commit

History should only be a problem when moving repos, which we are not doing here.

[2018-09-01 01:58] pixelzoom commented on #389
@samreid When I select Slider.js and press the "Show history" button in the WebStorm toolbar:

![screenshot_738](https://user-images.githubusercontent.com/3046552/44941272-4408fd80-ad57-11e8-9f91-b1de13c46ba8.png)

Slider.js appears _twice_ in the History menu for the Version Control pane:

![screenshot_740](https://user-images.githubusercontent.com/3046552/44941275-5f740880-ad57-11e8-914c-8a091fb

[2018-09-01 02:43] pixelzoom commented on #389
More at https://stackoverflow.com/questions/2314652/is-it-possible-to-move-rename-files-in-git-and-maintain-their-history.  A few statements from that topic:

[2018-09-02 15:29] samreid commented on #389
I'd like to get this sorted out sooner rather than later, since subsequent commits on sun (such as https://github.com/phetsims/sun/commit/eb7cd2b2f9f78c820a9b284d33202bb13e1ff9c0 ) could complicate things.  However, if I follow the git revert strategy proposed in https://github.com/phetsims/sun/issues/389#issuecomment-417818352 and apply the changes in https://github.com/phetsims/sun/issues/389#is

[2018-09-02 15:52] samreid commented on #389
I followed these steps:

// Work in a branch, just in case (optional)
(1) `git checkout -b slider-history`

// // Revert the 3 commits on this repo related to the name change, newest first.  Use the default commit message that git generates
(2) `git revert 519b915eec459137d1d03b59487890550a4e5137`
(3) `git revert d3819e5309208f64a17e8a8de112e4b21a60d035`
(4) `git revert fd6daf25e543b73f9a19dce2f53

[2018-09-03 17:50] pixelzoom commented on #389
Let's work on this together, because the above steps are not working for me.  After the reverts, WebStorm tells me that I have nothing to commit.  I'm also not seeing history across rename for SliderTrackIO (renamed from HSliderTrackIO).   So I'd like to:

(1) Make sure we address all problem files at once.
(2) Identify why this happened, and how to rename in the future.

[2018-09-03 21:00] pixelzoom commented on #380
To restore history for some files that we renamed, some commits were reverted (see above) and then reapplied (see #389).

[2018-09-03 22:02] samreid commented on #389
WebStorm can now easily access the history of Slider.js, I did not see any other issues, closing.

[2018-09-03 22:02] #389 closed

[2018-09-03 22:07] samreid commented on #389
I found these notes about what the JetBrains history shows:

https://intellij-support.jetbrains.com/hc/en-us/community/posts/115000464604-What-Is-The-Git-History-Showing-

[2018-09-04 02:23] samreid opened #390 "Investigate re-entrant Property in ButtonModel"
In https://github.com/phetsims/axon/issues/179 we identified Property instances that are re-entrant.  In this context, re-entrant means a change in value of the Property causes (via listeners) another change in the value of the same Property instance.

Re-entry can occur for at least 3 different reasons, which are document here: https://github.com/phetsims/axon/issues/179#issuecomment-414717687

[

[2018-09-04 16:18] pixelzoom commented on #380
@ariel-phet Assuming that deferring enhancements is acceptable (seehttps://github.com/phetsims/sun/issues/380#issuecomment-417808952), please assign someone to review this work.

[2018-09-04 19:17] ariel-phet commented on #380
@pixelzoom deferring enhancements is fine (if enhancements are needed, they are likely to come in graphing quadratics anyhow, but we can wait to see if that is actually necessary/desirable)

@zepumph I feel like you are in a good position for this review, being very familiar with a few vertical sliders.

[2018-09-04 19:26] pixelzoom commented on #380
@zepumph This issue got a little confused with the git history and file renaming problem (addressed in #389).  So let me attempt to clarify and point you to what needs to be reviewed.

The majority of the commits are related to renaming for files to have "Slider" prefix instead of "HSlider" prefix. Feel free to skim these, but they are pretty straightforward.

The primary change to Slider.js is sh

[2018-09-05 15:20] pixelzoom opened #391 "delete Checkbox.createTextCheckbox"
Noted by @samreid in https://github.com/phetsims/tasks/issues/952#issue-357267913:

In https://github.com/phetsims/tasks/issues/952#issuecomment-418768720, I said:

There are 17 occurrences of `Checkbox.createTextCheckbox`, and all but 6 (in least-squares-regression) are mine.  So I'm going to make this method go away.

[2018-09-05 15:51] pixelzoom commented on #391
Done, closing.

[2018-09-05 15:51] #391 closed

[2018-09-05 15:56] pixelzoom opened #392 "Checkbox: delete fadeCheckboxWhenDisabled, fadeContentWhenDisabled"
Checkbox currently has 2 static methods that don't really need to be static, and certainly shouldn't be public.  They are `fadeCheckboxWhenDisabled` and `fadeContentWhenDisabled`.   Looks like I did this in a long-ago commit.  They are not currently used elsewhere, so I'm going to clean this up.

[2018-09-05 16:05] pixelzoom commented on #392
Done, closing.

[2018-09-05 16:05] #392 closed

[2018-09-05 16:08] pixelzoom commented on #387
See ComboBox or NumberSpinner for the pattern used to add enabledProperty.

[2018-09-05 16:12] pixelzoom commented on #387
If no one objects, I'll handle this, since I've been in Checkbox a bit today.

[2018-09-05 16:25] pixelzoom opened #393 "Checkbox dispose cleanup"
Introduced in https://github.com/phetsims/sun/commit/80548d6c4b0eccbdd8ede835cceee5f754aae9a2 by @zepumph.

[code]

Inside the function, `this` should be `self`.   I guess no one is disposing any Checkboxes, because this would have failed hard.

I'll fix this.

[2018-09-05 16:26] pixelzoom commented on #393
Fixed, closing.

[2018-09-05 16:48] pixelzoom commented on #121
@chrisklus @zepumph serious problems in many of these dispose functions.  E.g.  ButtonModel:

[code]

Each function has its own context, so `this` needs to be `self` inside of these functions.

This problem is present in these types (and possibly others):

ExpandCollapseButton
ButtonModel
MomentaryButtonModel
PushButtonModel
RadioButtonGroupMember
RectangularButtonView
RectangularPushButton
RoundB

[2018-09-05 16:49] pixelzoom commented on #121
... and this makes me wonder.  Are you actually testing these changes?...

[2018-09-05 16:58] pixelzoom commented on #121
Mea culpa... In these functions, `this` refers to the owner of the function. So either `this` or `self` will work.   But it's still confusing to use both `self` and `this`, e.g. in MomentaryButtonModel:

[code]

[2018-09-05 17:00] jbphet commented on #291
@samreid - I think we decided that we need to support cases where UI components take in Properties created by the client as well as creating their own, and that correct disposal for both situations is being pursed under https://github.com/phetsims/sun/issues/121.  Does this issue need to remain open?

[2018-09-05 17:03] pixelzoom commented on #384
There are many forms of dependency injection.   And if these types don't create their components, you've whittled them down to VBox.  Could you clarify what you had in mind, perhaps with an example?

[2018-09-05 17:09] pixelzoom commented on #383
To avoid this type of ordering dependency, I recommend checking `hasListener` before attempting to `unlink` or `removeListener`.   This is especially true for any Property that have been passed in to a type; you have no control over when or whether the client may have disposed of that Property.

E.g. in FaucetNode:

[code]

[2018-09-05 17:24] pixelzoom opened #394 "Avoid assertions when removing a listener from a disposed object"
In https://github.com/phetsims/sun/issues/121, we've been adding `dispose` to sun and scenery-phet components.   The way that `dispose` has been implemented has introduced an ordering dependency, and I'm proposing that we should be calling `hasListener` before doing `unlink`, `removeListener`, etc.

Here's an example of the pattern that's been followed so far:

[code]

The above implementation int

[2018-09-05 18:11] zepumph commented on #393
@pixelzoom thanks for handling this. I'm curious about https://github.com/phetsims/sun/commit/a171d3ee332d4a5bd262d6a53af15c539631d970,

Why do we not need to remove listeners internal to the file, and why do we not need to dispose things like the toggledEmitter?

For phet-io I think that the tandem will not be unregistered unless dispose is called. What are your thoughts?

[2018-09-05 18:18] chrisklus commented on #121
@pixelzoom yes of course I'm testing any changes, it's the only way to know if fixing a leak was successful. I agree that we should be consistent on using `self` or `this`, I'll look out for that in the future.

[2018-09-05 18:33] pixelzoom commented on #393
You don't need to dispose of something that the Checkbox owns and that's not publicly accessible.  Those things will not result in references to a Checkbox instance, which is what constitutes a memory leak.  For example, `toggledEmitter` is entire private to the internal of CheckBox, so there's no way that it can result in a memory leak.   Ditto for `checkboxButtonListener` and `changeListener`.