[2020-10-21 20:38] zepumph commented on #585
I'll take a look since I got to this issue anyways while working on https://github.com/phetsims/scenery/issues/1047.

[2020-10-21 20:50] zepumph commented on #515
I got here while reviewing https://github.com/phetsims/sun/issues/585.

I updated a TODO to point to this issue, unfortunately https://github.com/phetsims/sun/issues/257 didn't seem to solve this workaround. I agree that I don't see a way around this except to rethink how sun buttons work. We could do this on a micro scale for enabledProperty, but for that to make sense we would at least want to r

[2020-10-21 20:51] zepumph commented on #515
If we wanted to ignore the problem, this patch would obfuscate the button M/V separation, and potentially get us far in duplicating a consistent API for sun buttons:

[code]

[2020-10-21 20:59] zepumph commented on #585
I have no problem with https://github.com/phetsims/sun/commit/c3f449b7542ad484b7a87ee48600360372c67a31, but was wondering if you could explain your rationale.

[2020-10-21 21:13] zepumph commented on #585
I looked through every commit, I also checked out the new features in the scenery-phet demo. I then ran a couple of sims that used  these components and played around with setting their enabledProperties, and the same when passing in an `enabledProperty`.

In general I am totally ecstatic about these changes. The above  commits removed so much duplication! Thank you so much @pixelzoom for taking t

[2020-10-21 21:15] zepumph commented on #585
@pixelzoom can you also please comment on this, do you think this is necessary? If so how should we set that up? What tests may be good to do?

[2020-10-21 21:44] pixelzoom commented on #515
The above patch solves difference (1) mentioned in https://github.com/phetsims/sun/issues/515#issuecomment-709625808.   Does it do anything to address difference (2), or can we come up a workaround?

[2020-10-21 21:59] pixelzoom commented on #585
AccessibleSlider uses the enabledProperty created by EnabledNode.  So `initializeEnabledNode` must be called before `initializeAccessibleSlider`.  Therefore it seems like good hygiene to call `mixInto` in the same order.

[2020-10-21 22:03] pixelzoom commented on #585
In general, developers and QA should be verifying that "in progress" interactions that are cancelled when the target of the interaction becomes disabled.  I doubt that's happening, and I don't know how to make that happen other than a PSA/reminder.

If there are any regressions introduced, they might be caught by CT, assuming that fuzzing uses multitouch.

[2020-10-21 22:13] zepumph commented on #585
That will be added as part of https://github.com/phetsims/aqua/issues/106.

I agree, but also know that multi-touch testing is often not done (for cost saving). Perhaps a discussion point on the dev meeting agenda? I would also be fine with catching things in CT and calling it good. Up to you!

[2020-10-21 22:21] pixelzoom commented on #585
Not done by whom? Developers, QA, both?  Imo there's not much cost if the developer checks this "as you go" -- it's just a good habit.  And it shouldn't be QA's responsibility to do all of the multi-touch testing.

[2020-10-21 22:23] pixelzoom commented on #585
Assigning to @ariel-phet to decide if he wants to do something about (a) testing for `interruptSubtreeInput` regressions, and (b) clarifying (in general) what multi-touch testing should be done and by whom.

[2020-10-21 22:39] zepumph commented on #585
In that message I was speaking to QA personally. I know that a lot of devs don't have access to multi-touch devices, and it likely isn't in many people's workflow (it definitely isn't in mine). Perhaps a psa at dev meeting would be nice.

[2020-10-21 23:07] pixelzoom commented on #515
Self assigning. @zepumph's patch above has inspired me to take another stab at this.

[2020-10-21 23:20] pixelzoom commented on #515
I added the patch suggested by @zepumph in https://github.com/phetsims/sun/issues/515#issuecomment-713870207.  I documented it as "intentional obfuscation":

[code]

And I tested it in ButtonsScreenView, where it makes the API look more typical:

[code]

I feel conflicted after doing this, because it's a workaround that relies on obfuscation. But I don't have a better idea.  So... Should we keep t

[2020-10-21 23:24] zepumph commented on #515
Best solution: fix sun buttons
other good solution: your commit

Probably we should keep it. As we want Button Node's api to act like all other enabledProperty apis, regardless of implementation. This will help future-proof us for when we actually make sun-buttons what we want.

[2020-10-21 23:32] zepumph commented on #642
Yes, that sounds right to me. If this was in Node, then we could just call `interruptSubtreeInputIO` and wouldn't need to do this weirdness. Anything else here?

[2020-10-21 23:36] pixelzoom commented on #515
To fix problem (2), adding the linked element, add this to the constructors for RectangularButtonView and RoundButtonView:

[code]

I tested this in Natural Selection by adding `enabledProperty: new BooleanProperty( true, {...} )` to the ResetAllButton in NaturalSelectionScreenView.  It adds the linked element like this:

<img width="169" alt="screenshot_587" src="https://user-images.githubusercon

[2020-10-22 00:20] zepumph commented on #515
I'm going to prototype some stuff and get back to you!

[2020-10-22 00:46] zepumph opened #643 "Factor out a common supertype for Button Nodes"
From many issues, like https://github.com/phetsims/sun/issues/515, it seems to be time to consolidate sun buttons into a central common code Node. This should be independent of view (what it looks like), and just hold logic that applies to all buttons. I don't think the refactor will be that challenging, and will likely help us get a better enabledProperty API over in https://github.com/phetsims/s

[2020-10-22 00:56] zepumph commented on #643
I have a pretty much successfully working refactor into `ButtonNode`, which RectangularButtonView and RoundButtonView both extend from.

It houses:
* creating the listener from the buttonModel
* setting the buttonModel
* creating the `baseColorProperty`
* Helper methods for these three features.

I think I will commit soon, because it is working well, and may unblock weirdness over in #515. That s

[2020-10-22 00:58] zepumph commented on #643
Blocking publication until CT has its way with this commit, and this can be discussed/reviewed.

[2020-10-22 01:22] pixelzoom commented on #643
Should this base class be called `ButtonView`, in keeping with the `RectangularButtonView and `RoundButtonView` names? Or call it`ButtonNode`, and rename the subclasses to `RectangularButtonNode` and `RoundButtonNode`?  I think I prefer the latter, I've never liked the "View" suffix here.

[2020-10-22 01:23] zepumph commented on #643
Agreed.
- [ ] Rename RectangularButtonView -> Node
- [ ] Rename RoundButtonView -> Node

[2020-10-22 01:28] zepumph commented on #515
Ok, above I did something weird, and I'm excited for feedback. I decided to add EnabledNode to ButtonNode (new as of https://github.com/phetsims/sun/issues/643), but instead of having it create its own, separate from the ButtonModel's, we just pass the model's enabledProperty in. This way we can keep the same Property reference, but add all the logic that the EnabledNode mixin subtype adds that we

[2020-10-22 04:29] samreid commented on #631
`buttonModelOptions` sounds most robust and consistent with the rest of our patterns.  Is the main disadvantage of that approach the initial cost to split up the options?

[2020-10-23 17:25] pixelzoom commented on #642
In the above commits, I renamed ButtonModel `createListener` to `createPressListener`, and improved the doc.  @zepumph feel free to take a peek, but I'm going to go ahead and close this issue.

[2020-10-23 17:25] #642 closed

[2020-10-23 17:33] pixelzoom commented on #643
I'm pretty sure that this should be removed from RoundButtonView, since it's handled by EnabledNode:

[code]

[2020-10-23 17:36] pixelzoom commented on #643
RoundButtonModel and RectangularButtonModel are now setting options twice in constructors:

[code]

This will really mess things up for transform-related options, and perhaps for other options.

[2020-10-23 17:48] pixelzoom commented on #643
- [ ] Move handling of pickable to ButtonNode

RoundButtonView does this, which seems redundant:

[code]

RectangularButtonView does this, which seems wrong, because the content is actually `alignBox`:

[code]

We should probably remove all of this and just do this in ButtonNode:

[code]

[2020-10-23 18:05] pixelzoom commented on #515
Re renaming `RectangularButtonView` and `RoundButtonView`....  Here are some of their subclasses:

[code]

In this content, `RectangularButton` and `RectangularButton` seem like better names. With abstract base class `ButtonNode` or `Button` or `SunButton` or ... ?

[2020-10-23 18:24] pixelzoom commented on #643
- [ ]

It's difficult to see what else RectangularButtonView and RoundButtonView might have in common, because their constructors do things in different orders.  I'm going to clean that up.

[2020-10-23 18:32] pixelzoom commented on #643
- [ ] Move `interactionStateProperty` listener to ButtonNode

After cleaning up constructors, I see this code duplicated in RectangularButtonView and RoundButtonView. Can it be moved to ButtonNode?

[code]

[2020-10-23 18:42] pixelzoom commented on #643
- [ ] ButtonNode `addListener` and `removeListener` will fail. Delete them?

ButtonModel has these methods:

[code]

But ButtonModel has no `addListener` and `removeListener` methods.  I verified that this bug was not introduced in https://github.com/phetsims/sun/commit/b606357bca9ae477f13f30e7a2264f5b7b674303. I I suspect that we can just delete these methods.

[2020-10-23 18:49] pixelzoom commented on #643
- [ ] `baseColor` option belongs in ButtonNode

It's currently duplicated in the options for RectangularButtonView and RoundButtonView.  And there's a bug in both RectangularButtonView and RoundButtonView where `this.baseColorProperty` should be used to create the button's background Node.

[2020-10-23 18:52] pixelzoom commented on #643
- [ ] EnabledNode and appearanceStrategy are both changing the button's appearance when disabled.

This is causing the button to look doubly disabled.  We should delete `options.disabledBaseColor` and remove this responsibility from appearanceStrategy.

[2020-10-23 18:57] pixelzoom opened #644 "EnabledNode should be solely responsible for enabled/disabled look of sun buttons"
Discovered in https://github.com/phetsims/sun/issues/643.

EnabledNode, contentAppearanceStrategy, and appearanceStrategy are all changing the button's appearance when disabled. This is causing the button to look doubly disabled. You can see this in the sun demo Buttons screen.

Three changes are necessary:

- [x] Delete contentAppearanceStrategy. It handles how the button content looks when disab

[2020-10-23 19:05] pixelzoom commented on #643
- [ ] Change cursor by listening to `enabledProperty`:

Above I moved the duplicate interactionStateProperty listener into ButtonNode:

[code]

I also suspect that this code is totally unnecessary.  When `enabledProperty` is false, it's not pickable, and the cursor is not shown.  This is also also buggy, because it sets cursor to 'pointer', effectively blowing away any cursor that might have been

[2020-10-23 19:48] pixelzoom commented on #643
Re renaming `RectangularButtonView` and `RoundButtonView`....  Here are some of their subclasses:

[code]

In this content, `RectangularButton` and `RectangularButton` (with the "Node" suffix) seem like better names.

With abstract base class `ButtonNode` or `Button` or `SunButton` or ... ?

[2020-10-23 21:14] pixelzoom commented on #644
contentAppearanceStrategy should also be deleted from sun buttons. It handles how the button content looks when disabled, and that is now handled by EnabledNode.

[2020-10-23 22:08] zepumph commented on #639
@jessegreenberg and I talked about this today. We looked into trying to use the preferred pattern for this, which is `SceneryEvent.isFromPDOM` but found that we couldn't. This is a limitation with sun buttons because of how the scenery listener events are obfuscated when as they control ButtonModel Properties like `downProperty`. Thus, when the button models cause firing of sun button listeners ba

[2020-10-23 22:10] zepumph commented on #633
Over in https://github.com/phetsims/sun/issues/639#issuecomment-715611674 @jessegreenberg and I cleaned up some of the a11y clicking logic in sun buttons. Please review that, and feel free to comment on if you think that a11y could still be better in sun buttons.

[2020-10-23 22:25] pixelzoom commented on #644
In the above commit, I did away entirely with contentAppearanceStrategy.

[2020-10-23 22:28] pixelzoom commented on #644
Before messing with buttonAppearanceStrategy, I published these dev versions of sun and scenery-phet demos, for before/after comparison:

https://phet-dev.colorado.edu/html/sun/1.0.0-dev.14/phet/sun_en_phet.html
https://phet-dev.colorado.edu/html/scenery-phet/1.0.0-dev.21/phet/scenery-phet_en_phet.html

[2020-10-23 22:41] jbphet opened #645 "Escape key should close dialogs"
I often use the Esc (Escape) key to close dialogs in apps that I use.  This doesn't seem to work for the dialogs in PhET sims, except when the dialog is selected via keyboard nav, in which case it _does_ work.  I mentioned this to @ariel-phet, and he said that it was worth an issue.  I know we've added a lot more key processing than we used to have, so maybe it wouldn't be too big of a deal to add

[2020-10-23 23:26] pixelzoom commented on #644
In the above commit, I remove handling of the disabled state from buttonAppearanceStrategy.  EnabledNode is now solely responsible for making sun buttons look disabled.  The major change here is that buttons do not change their color, only their opacity, when disabled.  This is consistent with all other PhET UI components, but is worth mentioning.

For example, here's the Button screen of the sun

[2020-10-23 23:55] pixelzoom commented on #644
Discussion with @jbphet on Slack about these changes:

Chris Malley  5:38 PM
FYI, since you are the primary author of sun buttons... contentAppearanceStrategy no longer exists, and buttonAppearanceStrategy no longer deals with "disabled" look.  That's all handled by EnabledNode now.  See https://github.com/phetsims/sun/issues/644

John Blanco:house_with_garden:  5:45 PM
Thanks for the heads up.  I

[2020-10-24 00:04] pixelzoom opened #646 "convert sun button AppearanceStrategy functions to class"
Chris Malley  5:51 PM
Should appearanceStrategy functions be converted to classes? They are very confusing currently.  They look like a function, but define this.dispose.

John Blanco:house_with_garden:  6:02 PM
Yes, they should be converted.  They are defined as functions because that's how we used to define constructors before class was available, but I think they were all used with new.

[2020-10-24 00:19] pixelzoom commented on #646
Done in the above commits. Tested in sun demo and scenery-phet demo.  Closing.

[2020-10-24 00:19] #646 closed

[2020-10-24 00:24] pixelzoom commented on #644
@ariel-phet please have someone review.

[2020-10-24 00:24] pixelzoom commented on #644
@ariel-phet please have someone review.  Not that this issue block publication.

[2020-10-24 00:25] pixelzoom commented on #644
@ariel-phet please have someone review.  Note that this issue blocks publication.

[2020-10-24 00:28] pixelzoom commented on #643
I did a ton of work here.   The only issue that I haven't addressed is https://github.com/phetsims/sun/issues/643#issuecomment-715478451:

This is causing problems in layout of buttons, because transform options will be applied twice.  A couple of examples (there are likely many others):

In Natural Selection, the environment radio buttons are messed up:

<img width="165" alt="screenshot_593" src=

[2020-10-24 02:11] zepumph commented on #643
Some review this far:

- [ ] buttonAppearanceStrategy needs type doc, as the interaface for the option is sorta scattered around.
- [ ] Can you comment on why contentAppearanceStragety was no longer needed?

I agree that dealing with calling `options` multiple times is the next step.

[2020-10-24 05:50] pixelzoom commented on #643
Documentation for `buttonAppearanceStrategy` option added in the above commit. Rather than a complicated type expression, I just referred to an example, e.g.:

[code]

There's also the possibility that some values of `buttonAppearanceStrategy` won't need to implement `dispose`, so I made that conditional, e.g.:

[code]

@zepumph look OK to you?

[2020-10-24 16:58] samreid commented on #643
There is a failure in CT in Wave on a String.

[code]

WOASScreenView has this code:

[code]

Unfortunately, the resetAllButton does not have the right location, even though `this.layoutBounds.maxX` is correct.  This means there is a problem with the positioning.  Looking into RoundButton.js, I can see that the options are passed through to the `super` call before the child `button` is added.  The

[2020-10-24 17:02] zepumph commented on #643
That is correct. Please see https://github.com/phetsims/sun/issues/643#issuecomment-715642747. That is the last large piece of regression that we are sorting out right now.

[2020-10-24 17:54] zepumph opened #647 "Factor out duplicated FlatAppearanceStrategies To ButtonNode"
When I compare RectangularButton.FlatAppearanceStrategy to RoundButton.FlatAppearanceStrategy, they are basically identical:

![image](https://user-images.githubusercontent.com/6856943/97088644-d0817480-15de-11eb-9c88-8e1f0504ce1a.png)

From work over in #643, I am trying to move the `buttonAppearanceStrategy` option up to ButtonNode anyways, so factoring these out to a central strategy seems real

[2020-10-24 18:42] zepumph commented on #643
Above I have been trying to move more logic into ButtonNode. My end-goal hope is that we can mutate options only at the end of ButtonNode, and that it will fix all the layout problems currently caused by calling options multiple times. To get there, we may have to move content up to the super type first, and align options. That is probably the most complete.

Above, I moved up a couple of things:

[2020-10-24 18:43] zepumph commented on #647
@pixelzoom please review this refactor in correlation with https://github.com/phetsims/sun/issues/643#issuecomment-716037524.

[2020-10-24 18:53] zepumph commented on #643
- [ ] lineWidth can be factored out to the superType, at which point, we could turn the setters on buttonBackground into a `mutate` call, since there are three options applied consistently to the passed in buttonBackground.

[2020-10-24 19:27] zepumph commented on #643
In the above, I was able to factor out `content` wrapping and adding as a child into ButtonNode. There are a lot of TODOs in the code, but none felt so large that they stopped me from committing what I had. Layout is now working, and RoundButton and Rectangular button inject many more dependencies to the super type. @pixelzoom I would love you to take a look at these changes, and TODOs, as I won't

[2020-10-25 00:38] zepumph commented on #643
The above commit fixed a couple of CT errors that looked like:

[code]

I think it was where the baseColorPropety and/or the pressListener were disposed before the buttonAppearanceStrategy. I couldn't reproduce locally after the above.

[2020-10-26 18:45] pixelzoom commented on #643
@zepumph can this item in https://github.com/phetsims/sun/issues/643#issuecomment-715478451 be checked off?

Looks like you have addressed it.  Are there still any layout problems with buttons? Or do we need to confirm that, and (if so) how?

[2020-10-26 19:29] zepumph commented on #643
I checked it off just now. There are now only 1 set of options being applied, in ButtonNode. I was able to see that all the buggy usages that were reported and that I saw are fixed in master:

* Reset all button layout where the reset all button was on the top and left (0,0) (in SOM atomic interactions screen and MAL)
* NS environment button that you pointed out in https://github.com/phetsims/sun/

[2020-10-26 19:34] zepumph commented on #643
Because both subtypes use `lineWidth` and `stroke` in an appearance strategy specific to that subtype, I couldn't remove those options from the sub types. Thus, this feels a little moot.

@pixelzoom please take a look at this patch to see if you think we should apply it, or just leave things as they are.

Furthermore all the work I did this weekend is complete and ready for review.

[2020-10-27 00:16] arouinfar commented on #515
On Slack, @kathy-phet said:

This comment seems at least partially related to the work being done in this issue. However, the work is still in progress and it is unclear what designer input is necessary. I'm tagging this issue for discussion in phet-io meeting.

[2020-10-27 00:36] ariel-phet commented on #645
Marking for dev meeting, seems worth understanding a bit better from @jessegreenberg and @zepumph and getting a feel for the effort of making this feature more ubiquitous in our dialogs

[2020-10-27 03:29] ariel-phet commented on #585
@pixelzoom I think doing a regression test would be good. Can you make a QA issue with some suggestions of what to test/how (not immediately clearly to me) and place it in the pipeline project (I will triage, but I think there is room to test immediately)

[2020-10-27 15:40] jessegreenberg commented on #643
I noticed that opacity of content for deselected RadioButtonGroupMembers is no longer changing and tracked it down to https://github.com/phetsims/sun/commit/4f6ed2827256acd1f10e1bc0c524731db62520b4#diff-847130871035dab4cf7080a2b28b5fe5ec50c7dd3f45e13652e98e4bba0a0963 referencing this issue. Was this change intentional? If so, can the RadioButtonGroupMember options relating to content opacity be re

[2020-10-27 15:41] jonathanolson commented on #643
It looks like the forward/back buttons now look uncentered (a regression):

![image](https://user-images.githubusercontent.com/480878/97325461-a1663f80-1838-11eb-928c-46e81ac6212a.png)

[2020-10-27 15:46] pixelzoom commented on #643
Looks like that change to RadioButtonGroupMember was not intentional. EnabledNode should have responsibility for enabled state, but RadioButtonGroupMember should have responsibility for selected state.

[2020-10-27 15:51] pixelzoom opened #648 "selected state is broken for RectangularRadioButtons"
In https://github.com/phetsims/sun/issues/643#issuecomment-717331490, @jessegreenberg  reported:

[2020-10-27 15:53] pixelzoom opened #649 "ButtonNode xContentOffset and yContentOffset options are broken"
In https://github.com/phetsims/sun/issues/643#issuecomment-717332418, @jonathanolson reported:

![image](https://user-images.githubusercontent.com/480878/97325461-a1663f80-1838-11eb-928c-46e81ac6212a.png)

[2020-10-27 15:54] pixelzoom commented on #648
Looks like that change to RadioButtonGroupMember was not intentional. EnabledNode should have responsibility for enabled state, but RadioButtonGroupMember should have responsibility for selected state.

[2020-10-27 15:59] pixelzoom commented on #643
This should definitely not be handled by ButtonNode.  buttonBackground is {Node}, which does not have lineWidth.   And for the same reason, this line also does not belong in ButtonNode:

`    buttonBackground.fill = this.baseColorProperty;`

[2020-10-27 16:01] pixelzoom commented on #643
lineWidth should definitely not be handled by ButtonNode.  buttonBackground is {Node}, which does not have lineWidth.   And for the same reason, this line also does not belong in ButtonNode:

`    buttonBackground.fill = this.baseColorProperty;`

But I think we can let baseColorProperty slide (for now? forever?), because it's needed by buttonAppearanceStrategy.

[2020-10-27 16:07] pixelzoom commented on #649
Definitely a regression.

StepButton sets xContentOffset like this:

[code]

1.0.0-dev.21 (before changes):

<img width="123" alt="screenshot_611" src="https://user-images.githubusercontent.com/3046552/97328907-1e46e880-183c-11eb-9688-d0d405828081.png">

master (after changes):

<img width="119" alt="screenshot_610" src="https://user-images.githubusercontent.com/3046552/97328932-230b9c80-183c-11eb

[2020-10-27 16:18] pixelzoom commented on #649
The problem here is that ButtonNode wraps the content in an AlignBox, which negates the offsets that were applied:

[code]

[2020-10-27 16:25] pixelzoom commented on #649
This is affecting all UI components that use options `xContentOffset` and `yContentOffset` -- ResetButton, ResetAllButton, StepButton, LeftRightSpinner, UpDownSpinner, and a couple of sim-specific buttons.

[2020-10-27 16:39] pixelzoom commented on #649
This patch fixes the icon positioning problem. But it also changes the bounds of the button, and that manifests as increased spacing around some buttons (like the StepButtons) in scenery-phet demo.  So that creates a new kind of layout problem.

<details>
<summary>patch</summary>

[code]

</details>

[2020-10-27 16:47] zepumph commented on #649
I had a copy of the scenery-phet demo open loaded from pre-changes, and then I compared it to a new sim instance loaded post changes. I didn't see this spacing bug, oops.

[2020-10-27 17:04] pixelzoom commented on #649
Fixed in the above commit. The tricky part was using AlignBox in a way that didn't cause it's bounds to unnecessarily spill outside the button's background, thus cause other layout problems.

Test in scenery-phet (compare to 1.0.0-dev.21) and collision-lab (compare to https://phet-dev.colorado.edu/html/collision-lab/1.1.0-dev.9/phet/collision-lab_en_phet.html).

@zepumph please review the changes.

[2020-10-27 17:07] pixelzoom commented on #236
Not going to do this. As I'm discovering in https://github.com/phetsims/sun/issues/643 and https://github.com/phetsims/sun/issues/649, this would be way too much work. And what really should be done is "sun buttons 2.0", a rewrite of sun buttons.

[2020-10-27 17:07] #236 closed

[2020-10-27 17:19] pixelzoom commented on #647
Since you renamed `button` to `buttonBackground` in ButtonNode, RoundButton, and RectangularButton, I renamed that parameter to all of the appearance strategies. E.g.:

[code]

[2020-10-27 17:20] pixelzoom commented on #647
I think it makes sense to move FlatAppearanceStrategy to ButtonNode. What still bothers me a bit is that param `buttonBackground` is:

[code]

And then FlatAppearanceStrategy does things that are not supported by Node, like:

[code]

This is not specific to FlatAppearanceStrategy, the other strategies do the same.  That said, I'm inclined to leave this alone.  So...

@zepumph feel free to close if

[2020-10-27 17:33] pixelzoom opened #650 "rename classes for rectangular radio buttons"
Slack dev channel:

For "round" radio buttons, we have AquaRadioButton and AquaRadioButtonGroup.  For rectangular radio buttons, we have RadioButtonGroupMember and RadioButtonGroup.  There's nothing "group" specific about RadioButtonGroupMember, it's used in other contexts (see ESP and vector-additions), and it extends RectangularButton.

I propose to rename:
RadioButtonGroupMember -> RectangularR

[2020-10-27 19:03] pixelzoom commented on #648
This is definitely a different "look" for unselected radio buttons, but it's behaving as intended.  Opacity is now (uniformly) used to signal "disabled", not "unselected".

For example, for the radio buttons in Molecules and Light:

master:
<img width="707" alt="screenshot_612" src="https://user-images.githubusercontent.com/3046552/97348897-683bc880-1854-11eb-9d73-9f757ba9b122.png">

published (1.

[2020-10-27 19:11] pixelzoom commented on #650
Done. PSA about the name changes to Slack developer channel. Closing.

[2020-10-27 19:11] #650 closed

[2020-10-27 19:18] pixelzoom commented on #648
Hmmm... Taking a closer look at RectangularRadioButton.FlatAppearanceStrategy, it looks like the intention was to preserve the old behavior (change opacity when deselect). But the options in RectangularRadioButtonGroup are not being propagated to the RectangularRadioButtons.

[2020-10-27 19:37] pixelzoom opened #651 "remove disabled states from InteractionStateProperties"
Related to https://github.com/phetsims/sun/issues/644.

Removed "disabled" states from *InteractionState, *InteractionStateProperty, and *AppearanceStrategy.  EnabledNode is now responsible for the enabled/disabled "look", and interrupts listeners when disabled. So appearance strategies should not be concerned with whether a button is enabled or disabled.

The values to remove are:

ButtonInteract

[2020-10-27 19:39] jbphet commented on #644
Review complete.  The basic idea of removing `contentAppearanceStrategy` seems sound given that the responsibility for changing the appearance when disabled now rests elsewhere.  The commits look reasonable, and I tested the behavior in the sun demo, in "States of Matter" (looking at the disabled appearance of the step button) and in "Number Line: Operations" (looking at the disabled behavior of t

[2020-10-27 19:52] pixelzoom commented on #648
The  options in RectangularRadioButtonGroup _ARE_ being propagated to the RectangularRadioButtons.  But there is no longer a contentAppearanceStrategy to use them.  Do we need to restore contentAppearanceStrategy?

[2020-10-27 20:17] pixelzoom commented on #651
Done in the above commit.  @zepumph please review, since you've been working in this code recently and therefore are probably most familiar with it.

[2020-10-27 20:22] pixelzoom commented on #633
I don't really understand #639, but I'll take your word for it.   But that is still a specific issue, and I have yet to receive an answer to the general issue:

[2020-10-27 20:24] pixelzoom commented on #639
I don't understand this topic at all, so I'll take your word for it.

Have done so.

Closing.

[2020-10-27 20:24] #639 closed

[2020-10-27 20:42] pixelzoom commented on #644
They cannot be unified, they deal with different interaction states.
ButtonNode.FlatAppearanceStrategy has interactionStateProperty of type {Property.<ButtonInteractionState>}.  RectangularRadioButton has a totally different implementation of FlatAppearanceStrategy, whose interactionStateProperty is {Property.<RadioButtonInteractionState>}.

@zepumph and I have been throwing this work back and for

[2020-10-27 20:45] pixelzoom opened #652 "use Enumeration for button interaction states"
This occurred to me when responding to https://github.com/phetsims/sun/issues/644#issuecomment-717526958.

ButtonInteractionState and RadioButtonInteractionState are currently old-style enums. They should be converted to Enumeration.

[2020-10-27 21:01] pixelzoom commented on #652
Summary of above commit:

* converted ButtonInteractionState and RadioButtonInteractionState to Enumeration
* added `isValidValue` check to all *InteractionStateProperty classes
* added type expression for `@param interactionStateProperty` for all appearance strategy classes, e.g. `@param {Property.<ButtonInteractionState>} interactionStateProperty`

[2020-10-27 21:02] pixelzoom commented on #652
@zepumph would you mind taking a quick look at this? If all looks well, feel free to close.

[2020-10-28 00:10] pixelzoom commented on #648
In the above commit, I restored the contentAppearanceStrategy option to ButtonNode. It is now null by default.  I also restored RectangularRadioButton.ContentAppearanceStrategy, which is where content appearance was formerly modified based on interaction state.

Testing in scenery-phet demo and MAL, the "look" has been restored for the radio buttons.

But comparing MAL master to [1.5.5](https://ph

[2020-10-28 01:25] pixelzoom commented on #515
@zepumph said:

Yeah, a little weird, but I think it's OK.  It's certainly preferable to having to use something like DynamicProperty to sync 2 different enabledProperty instances for model and view.  In the above commit I cleanup up how this is done a tad.

[2020-10-28 01:29] pixelzoom commented on #515
@zepumph said:

Did you mean a literal TODO?  I don't see one related to this issue.

Thoughts on why `addLinkedElement` in EnabledPhetioObject isn't working (I haven't confirmed) and how to get it to work?

[2020-10-28 02:02] pixelzoom commented on #644
@ariel-phet reopened without commenting, so assigning to him to clarify.

[2020-10-28 14:48] ariel-phet commented on #644
@pixelzoom I initially reopened to discuss the "disabled" look and options with regards to that look. But after our discussion with @jonathanolson yesterday I think we can consider this issue closed.

[2020-10-28 16:13] pixelzoom commented on #648
I discussed the MAL button labels mentioned in https://github.com/phetsims/sun/issues/648#issuecomment-717614811 with  @jessegreenberg.  Labels are apparently supported as an optional field in RectangularRadioButtonGroup's `contentArray` constructor parameter.  So I need to track down why those labels are not changing opacity based on button selection.

[2020-10-28 16:44] pixelzoom commented on #648
Behavior of the optional button labels is restored in the above commit.  The contentAppearanceStrategy (if provided) needed to be applied to the labels.  I also fixed a memory leak -- the contentAppearanceStrategy instances created for labels were previously not being disposed.

MAL master and 1.5.5 behavior are now the same, and I spot checked a couple of other sims.

@jessegreenberg please confi

[2020-10-28 16:51] pixelzoom opened #653 "use nested options for appearance strategies"
In RectangularRadioButton:

[code]

This would be a great place to use nest options, something like this:

[code]

`contentAppearanceStrategy` and its options also appear in RectangularRadioButtonGroup.

This would be a relative easy change in RectangularRadioButton and RectangularRadioButtonGroup.  The time-consuming part would be locating and adjusting call sites that use these options.

[2020-10-28 17:51] pixelzoom commented on #648
Hmmm... Something is suddenly wrong in master.  The selected radio button is missing its thicker stroke, see screenshot below. Not sure how I produced the correct-looking screenshot in https://github.com/phetsims/sun/issues/648#issuecomment-717614811. Investigating...

<img width="691" alt="screenshot_616" src="https://user-images.githubusercontent.com/3046552/97476329-e57a4280-1913-11eb-9866-4b02

[2020-10-28 17:59] pixelzoom commented on #648
Selected button stroke fixed in the above commit. Ready for review.

[2020-10-28 18:06] zepumph commented on #643
How about this updated type doc that expects buttonBackground to be able to support fill?

I agree the lineWidth is good where it is.

[2020-10-28 18:12] zepumph commented on #652
Looks great. ValidatorDef supports `Enumeration` as a valueType, so I simplified the validators. Anything else here?

[2020-10-28 18:29] zepumph commented on #515
The above commit fixes the problem as far as I can tell.

Further work over in https://github.com/phetsims/sun/issues/643 has made it easy to just initialize the EnabledNode after the mutate call. This required an extra check to make sure we don't try to add a LinkedElement in the `enabledProperty` spot when the actual Property has that phetioID.

I was able to remove the `phetioLinkEnabledElement

[2020-10-28 19:17] pixelzoom commented on #652
Thanks for the `valueType` change, that's much better.

Closing.

[2020-10-28 19:17] #652 closed

[2020-10-28 19:21] pixelzoom commented on #643
"this updated type doc" is:

[code]

That resolves the issue of usages of the Paintable API.  But it does not cover uses of the Node API, like:

[code]

[2020-10-28 20:10] pixelzoom commented on #643
Over in Slack developer channel, we decided that type expressions involving mixins and traits should use the general form `{Class,Mixin,Trait,...}`.   @zepumph cited https://github.com/jsdoc/jsdoc/issues/1199#issuecomment-492586767.  So in this case:

[code]

[2020-10-28 22:16] pixelzoom commented on #644
Reopening. There are some vestigial uses of `disabledBaseColor` that need to be removed.

[2020-10-28 22:32] pixelzoom opened #654 "Carousel buttons do not work"
Slack bug report:

I reproduced in number-line-operations and expression-exchange, and I also see the problem in function-builder.  It's not a problem in sun demo for some reason.

Carousel hasn't been touched since ES6 conversion on 9/22, so it's probably related to one of the many changes that have been made to sun buttons over the past week.

[2020-10-28 22:39] #647 closed

[2020-10-28 22:39] zepumph commented on #647
Type docs were updated in another issue. Closing.

[2020-10-28 22:39] pixelzoom commented on #654
This is probably related to changes to addListener for push buttons.

CarouselButton extends RectangularPushButton.  Carousel adds listeners by calling CarouselButton.addListener.

Because addListener and removeListener are specific to PushButtonModel, they were moved to RectangularPushButton and RoundPushButton in c547c3d548dd63f7bbe133fa41afba04bd51a6b1.

[2020-10-28 22:44] pixelzoom commented on #654
In sun demo ButtonScreenView, I verified that both of these ways of adding listeners to a push button work:

[code]

[code]

[2020-10-28 23:16] zepumph commented on #649
Your commit looks really nice. Thanks! I'm ready to close this issue. Ignore the above commit, it is for another issue.

[2020-10-28 23:18] zepumph opened #655 "Regression if x and y margins are different for a RoundButton"
Promoting TODO in ButtonNode:

[code]

Related to https://github.com/phetsims/sun/issues/643

[2020-10-28 23:21] zepumph commented on #655
I looked at all usages of `xMargin` and `yMargin` with a file mask of `*Button.js` in the project, and I found only one place where RoundButton was not specifying the same value for x and y margin. This means that since work in https://github.com/phetsims/sun/issues/643 and https://github.com/phetsims/sun/issues/649 where RoundButton now uses AlignBox for its layout, the roundness of it could be c

[2020-10-29 00:28] pixelzoom opened #656 "clean up ButtonsScreenView"
While recently working on various issues related to sun buttons, ButtonScreenView (the buttons demo) has been a little difficult to work with.  I'm going to give it a quick cleanup. And I'm going to make it write message to the console (like scenery-phet demo) instead of to a Text node.

[2020-10-29 00:50] zepumph opened #657 "RoundButton and RectangularButton still have different APIs"
Though most of these two types were largely factored out into ButtonNode over in https://github.com/phetsims/sun/issues/643, there are still a couple of big differences between the two's apis.

**1. The way in which the backgroundNode (a Circle or Rectangle) is computed.**

In RectangularButton, there is no way to specify the total width or height, you just pass in content, and then pass in margin

[2020-10-29 00:50] zepumph commented on #655
I think that ResetButton looks fine, and https://github.com/phetsims/sun/issues/657 really is a super set of this issue. Closing

[2020-10-29 00:50] #655 closed

[2020-10-29 00:53] pixelzoom commented on #656
... and that's as much cleanup as I'm going to do.

Closing.

[2020-10-29 00:53] #656 closed

[2020-10-29 00:56] pixelzoom commented on #654
I added CarouselButton to the sun buttons demo (ButtonsScreenView) and reproduced the problem there.  It appears to be related to pointer areas.  The problem goes away if I comment out these lines at the end of  CarouselButton's constructor:

[code]

[2020-10-29 01:10] pixelzoom commented on #654
These options to CarouselButton all default to zero:

[code]

When zero values are used, the problem occurs.  When non-zero values are used, there's no problem.  For example, if I comment out these option values in ComponentsScreenView, then I can cause the problem in the sun demo:

[code]

[2020-10-29 01:20] pixelzoom commented on #654
What's happening when the option values are 0 is that touchArea and mouseArea are set to null.  According to Node `setTouchArea`, this is supposed to result in "the default behavior".   This still seems to work OK for other UI components (e.g. Checkbox), but is broken for sun buttons.  For example, this change to ButtonsScreenView results in `aButton` becoming unresponsive to mouse events:

[code]

[2020-10-29 01:22] pixelzoom commented on #654
I'm stumped, no idea what change to sun buttons might have caused this.

@zepumph does anything come to mind?

[2020-10-29 02:54] pixelzoom commented on #644
Vestigial uses of `disabledBaseColor` where removed in the above commits. CT is clear. Closing.

[2020-10-29 02:54] #644 closed

[2020-10-29 03:08] pixelzoom opened #658 "add "greyscale when disabled" option to sun buttons"
In https://github.com/phetsims/sun/issues/644, we moved responsibility for the disabled look of sun buttons from "appearance strategies" to EnabledNode.  This standardizes the API and UX for enabledProperty across all PhET UI components.   But as noted in https://github.com/phetsims/sun/issues/644#issuecomment-715630739, it means that buttons do not change to a gray color palette when disabled.  L

[2020-10-29 03:24] zepumph commented on #657
Famous last words. . . it was only 2 hours. . .

Anywho, I ended up adding scaling to RoundButton. The changes are pretty minimal, but the effects on any RoundButton in the project were large. I ended up writing code that threw an error if the scaling had any effect on the content, and then going to each spot and adding margin. I started in scenery-phet, so things weren't so bad. There were maybe

[2020-10-29 03:26] pixelzoom commented on #657
Thanks for the nice summary above.

A couple of clarifications:

This is indeed the case with `xAlign: 'center'` and `yAlign: 'center'`. With other align values, the margins will be applied.

Something like this...

For RoundButtons:

[code]

For RectangularButtons:

[code]

[2020-10-29 03:31] zepumph commented on #657
That could potentially be quite simple, as @pixelzoom just demonstrated. This is because it wouldn't alter the current api, but just add to it. Once we figure out RoundButton and feel good about it, I bet we could just add the same thing to Rectangular button and an example or two in the sun demo and call it a day!

[2020-10-29 03:33] zepumph commented on #657
For clarity I will include a screen capture. Note that even with alignment as "center", this still works:

![image](https://user-images.githubusercontent.com/6856943/97522338-66f1c500-1954-11eb-8c86-056c55c5aa8b.png)

[2020-10-29 03:34] zepumph commented on #651
I really like this. Personally I prefer the consistent opacity-driven disabled look to the grayed-out one. Thanks for taking care of this. It feels pretty safe, closing

[2020-10-29 03:34] #651 closed

[2020-10-29 03:46] zepumph commented on #654
With this patch, I do not get pointer areas in the sun demo around the CarouselButton. I'll keep poking around.

Index: js/buttons/CarouselButton.js
IDEA additional info:
Subsystem: com.intellij.openapi.diff.impl.patch.CharsetEP
<+>UTF-8
===================================================================
--- js/buttons/CarouselButton.js	(revision d1fb82f3656d41298c6f0f440a537fbf59a30d4d)
+++ js/bu

[2020-10-29 03:54] zepumph commented on #654
This patch fixes the problem, and I can use the button again.

[code]

It seems to be something about setting the touchArea to null, because setting the touch area to null in RectangularButton.js like:

[code]

Breaks all the RectangularButtons:

![image](https://user-images.githubusercontent.com/6856943/97523456-3a8b7800-1957-11eb-8c04-1ac145b95cde.png)

@jonathanolson, I poked around Picker.js b

[2020-10-29 16:34] zepumph commented on #657
Oh! One particular thing I would like reviewed;

ResetAllButton and StepButton had automatic margins added to them based on the radius. These two, more than all others, had really finicky content that was set up without concern for margins (since RoundButton didn't support that when created).

Please make sure to review https://github.com/phetsims/scenery-phet/blob/1928025f0d14aebbe80656c8108e0107

[2020-10-29 17:56] jbphet commented on #658
Discussed in the 10/29/2020 dev meeting, and we are going forward with this but need to determine what the defaults will be.

[2020-10-29 18:13] pixelzoom opened #659 "factor out button shape from sun buttons"
Currently, the design of sun buttons does not address separation of button shape.  So we end up with subclasses that differ only in which subclass they extend.  For example, look at the constructors for RoundPushButton and RectangularPushButton -- they are identical.  So when adding/changing features, duplicate code must be added to "round" and "rectangular" subclasses.

It would be preferable to

[2020-10-29 18:14] jonathanolson commented on #654
Looks like the content under the buttons has pickable:false, so this is the expected Scenery behavior. Looks like it relies on the mouse/touch area (probably for performance?)

[2020-10-29 18:16] zepumph commented on #654
Thanks @jonathanolson!

@pixelzoom, I think that the best way forward is to not null our the touch are, since the super type will have set the default one in the super call. How about this (untested):

[code]

[2020-10-29 18:23] pixelzoom commented on #654
Discussed in 10/29/2020 dev meeting. The problem is in ButtonNode. Both the button background and content are set to `pickable:false` "for performance":

[code]

When pointer areas are set to null, this causes the problem reported for this issue.

I'm skeptical that there's any significant performance improvement by setting `pickable: false` in this case, so I've removed them in the above commit.

[2020-10-29 18:31] jonathanolson commented on #654
Button content can have complicated icons or shapes, which would in this case likely be hit-tested (and can be potentially non-trivial). I'd presumably want to measure performance impact, hear a good reason why things are different (I recall performance testing showing a benefit before), or have this handled somehow.

[2020-10-29 18:33] pixelzoom commented on #654
@zepumph said:

If we wanted to do that, I think this patch is preferable:

[code]

But that wouldn't fix the root problem. sun buttons are (were) broken when setting `null` pointer areas, and `null` is a legitimate value.

[2020-10-29 18:37] pixelzoom commented on #654
OK. I'll revert to what was done before we started work on sun buttons, which is to set `options.content.pickable = false`.

[2020-10-29 18:38] jessegreenberg commented on #648
I also verified this, they look identical to me. I double checked a few sims that use RectangularRadioButtonGroup and they also look identical to production versions.

I scanned through commits, the optional `contentAppearanceStrategy` looks good.

Thanks, closing!

[2020-10-29 18:38] #648 closed

[2020-10-29 18:39] pixelzoom commented on #654
`options.content.pickable = false` has been restored, to address performance concerns.

Back to @jonathanolson for review.

[2020-10-29 18:43] pixelzoom commented on #643
It looks like any remaining work is being tracked in other issues.  So I think we can close this issue.

@zepumph anything else here? If not, please close.

[2020-10-29 18:50] pixelzoom commented on #515
I tested this in Natural Selection, with the ResetAllButton that is created in NaturalSelectionScreenView.

With no `enabledProperty` option to ResetAllButton, I see the expected tree structure in Studio:

<img width="157" alt="screenshot_622" src="https://user-images.githubusercontent.com/3046552/97618644-e7600680-19e4-11eb-99fc-4e86a97c5df2.png">

Then I added an `enabledProperty` options, like

[2020-10-29 18:53] pixelzoom commented on #515
Over to @arouinfar for PhET-iO design review.  She said:

Please confirm that:

(1) The tree structure is as expected, and similar to other PhET UI components. That is, the button model is not exposed, and `enabledProperty` is directly under the UI component.

(2) If an `enabledComponent` is supplied to the button, the tree structure should be the same, with the addition of an element named `enabl

[2020-10-29 18:57] jbphet commented on #631
This was discussed in the 10/29/2020 dev meeting and we decided to pursue the nested `buttonModelOptions` approach.

[2020-10-29 20:30] pixelzoom commented on #631
Also noted in 10/29/2020 dev meeting is that this is not the only case where sun buttons should be using nested options.  https://github.com/phetsims/sun/issues/653 identifies the need for nested options related to appearance strategies.

[2020-10-29 20:33] pixelzoom commented on #653
Note that there are additional options (lineWidth, stroke,...) that are related to "appearance" and should probably be moved into `buttonAppearanceStrategyOptions` and/or `contentAppearanceStrategyOptions`.

[2020-10-29 22:05] zepumph commented on #643
I think this is excellent. Thanks for the type doc.

[2020-10-29 22:11] zepumph commented on #654
I'm confused, there is no reason to set pointer areas in CarouselButton in the case we are talking about, because RectangularButton will handle the default. That is why I decided to surround the entire setter in CarouselButton.

[2020-10-29 23:04] pixelzoom commented on #654
CarouselButton has very different needs for pointer areas, as implemented in `computePointerArea`. Returning `null` was a design decision, not a coincidence.  The `*Shift` options to RectangleButton should generally be ignored, so RectangularButton's behavior of pointer areas is generally not correct.  If you feel strongly otherwise, then by all means make your change to CarouselButton.

[2020-10-29 23:49] zepumph commented on #654
Sounds good to me! https://github.com/phetsims/sun/commit/061e6e5c197e5fe8c1007e677d30be634fcc39b9 seems like the right decision.

[2020-10-30 00:10] pixelzoom commented on #585
Discussed on Zoom with @ariel-phet.  I really don't know how to specify this as a task for QA.  So what we decided is:  I'll identify which classes need to be tested, create an issue in QA repo, and assign to @ariel-phet.  That issue is https://github.com/phetsims/QA/issues/572.

Closing.

[2020-10-30 00:10] #585 closed

[2020-10-30 00:32] pixelzoom opened #660 "RoundButton doesn't account for lineWidth when setting pointer areas and focus highlight"
In RoundButton.js:

[code]

Using `buttonRadius` for pointer areas and focus highlight does not account for button's stroke and lineWidth, so is not the actual radius.   For example, I made these changes to `buttonD` in sun ButtonsScreenView:

[code]

... and the result is pointer areas and focus highlight that are _smaller_ than the button:

<img width="116" alt="screenshot_631" src="https://user

[2020-10-30 00:39] pixelzoom commented on #660
In the above commit:

[code]

And buttonD pointer areas and focus highlight now look correct:

<img width="118" alt="screenshot_629" src="https://user-images.githubusercontent.com/3046552/97646700-f14e2d80-1a15-11eb-9222-4a0f54e28506.png">

Assigning to @jessegreenberg to review, since he added focusHighlight and I'm less familiar with that feature.

[2020-10-30 01:18] pixelzoom commented on #657
Re ResetAllButton and StepButton... The assert in both cases should check for undefined, not falsey. E.g.:

[code]

Re RoundButton...  This looks good. And to convince myself that it was working correctly, I added examples to sun demo in  f2f0631.  See `roundButtonWithSize` and `roundButtonWithDerivedSize`:

<img width="145" alt="screenshot_634" src="https://user-images.githubusercontent.com/30465

[2020-10-30 01:24] pixelzoom commented on #653
So close to cleaning up appearance strategies, and this would be a big improvement . But I can't spend any more time on sun buttons, someone else will need to take this on.  I feel like it's "medium" priority. Assigning to @ariel-phet to prioritize and assign.

[2020-10-30 01:34] zepumph opened #661 "Add RectangularButton.size option"
From https://github.com/phetsims/sun/issues/657, basically this should follow the same pattern as with RoundButton in https://github.com/phetsims/sun/commit/3483e0d164e04193194c42821f1c75b18ecdf624.

This time we will do so with a `size {Dimension2}`. I should also add examples to sun buttons like https://github.com/phetsims/sun/commit/f2f0631d8757c5d0ae4c0dba3307c955a2f2781a

[2020-10-30 01:34] zepumph commented on #657
I created https://github.com/phetsims/sun/issues/661, and I think we are ready to close this issue. Please reopen if there is more.

[2020-10-30 01:34] #657 closed

[2020-10-30 15:36] pixelzoom commented on #515
This is a prerequisite for moving forward with some dev (Natural Selection) and RC versions.  So increasing the priority of PhET-iO design to high.

[2020-10-30 15:39] pixelzoom commented on #515
Discussed at 10/29/2020 phet-io meeting. @arouinfar if you have any more questions about what/how to review the enabledProperty PhET-iO API for sun buttons, let me know.

This is a prerequisite for moving forward with some dev testing (Natural Selection) and RC testing. So increasing the priority of PhET-iO design to high.

[2020-10-30 18:58] zepumph commented on #640
I'd like to understand this better. Marking for a11y meeting for discussion.

[2020-10-30 21:09] zepumph commented on #658
I found a manual example of this being done in FAMB/js/common/view/SliderKnob.js.

[2020-10-30 22:18] zepumph opened #662 "[Checkbox]: Error: Assertion failed: invalid property"
Checkbox expects a `Property`, but since https://github.com/phetsims/scenery/issues/1100 it could get a `TinyProperty`.

[2020-10-30 22:41] zepumph commented on #662
This will at least deal with the assertions that we are getting. I don't know if it is a bandaid or solution. On hold until we discuss https://github.com/phetsims/scenery/issues/1107.

[2020-10-30 23:44] samreid opened #663 "Convert EnabledComponent from mixin to class"
From https://github.com/phetsims/scenery/issues/1100, @zepumph and I discussed that `EnabledComponent` only has 2 usages in our simulations, and in each case it is mixed into a type that extends `Object`.  This means that, at least at the moment, `EnabledComponent` would work as a `class` instead of a mixin.

Mixins are dynamically created types which should be used only when necessary.  They cann

[2020-10-31 00:12] samreid commented on #663
I committed this, and tested in natural selection with studio and the reset all button enabledProperties.  It seems like it is working well.  It also reduced about 20 lines of code in EnabledComponent.js and eliminated one TODO (which referenced https://github.com/phetsims/sun/issues/638).

@zepumph can you please review?

[2020-10-31 19:27] pixelzoom commented on #515
I see in https://github.com/phetsims/scenery/issues/1100 that work is not done on enabledProperty.  It's now moving into Node.  That work has the potential (though unlikely) to introduce regressions in the PhET-iO API, so it probably makes sense to have @arouinfar wait to review `enabledProperty` in sun buttons until that work has been completed.

Assigning to @zepumph and @samreid, because I don'

[2020-11-02 06:19] zepumph commented on #515
Thanks @pixelzoom. I kept @arouinfar apprised privately via slack on Friday but didn't update this issue. That work is complete in regards to it blocking this issue. This is still ready for review.

[2020-11-02 18:47] samreid commented on #541
The CCK dc carousel pages are implemented via VBox, so it was trivial to make it automatically adjust layout.  I did so in the commit.

![Kapture 2020-11-02 at 11 41 23](https://user-images.githubusercontent.com/679486/97906438-e4c12200-1d00-11eb-9a9b-5f4d2750f9bd.gif)

Can this issue be closed?

[2020-11-02 19:01] pixelzoom commented on #541
I have no idea. I haven't been following this issue, and I don't have time to read through all of the comments to determine how this was addressed.

[2020-11-02 19:02] samreid commented on #541
@ariel-phet where would you like to go with this issue?

[2020-11-02 19:18] pixelzoom commented on #541
To clarify... If someone wants to summarize how this issue was addressed, I'll be happy to review.  I see that LayoutBox option `excludeInvisibleChildrenFromBounds` is somehow involved.  But it's not clear to me how Carousel features that assume the same number of items per page (e.g. `itemsPerPage`, `spacing`, `scrollToItem`, `scrollToItemIndex`) are being supported.  Are you still using the "hac

[2020-11-02 19:29] ariel-phet commented on #658
@jonathanolson I think published Gravity and Orbits shows a good example of a grayed-out strategy that works well for both a dark and light background as shown with projector mode (the "clear" button)

[2020-11-02 20:18] samreid commented on #541
Yes, we are still using the "hack" of `itemsPerPage: 1` as prescribed in https://github.com/phetsims/sun/issues/541#issuecomment-586002421 to allow clients to form their own pages.

[2020-11-02 20:28] pixelzoom commented on #541
So let me see if I can summarize:

* The title of this issue is "Improve carousel support for items of different sizes".
* We did not add any such support to carousel.
* If a client wants different-sized items, and/or different number of items per page, then they must (1) set `itemsPerPage: 1` and (2) create their own composite "items" that handle the custom layout of their actual items.

If that'

[2020-11-02 20:34] arouinfar commented on #515
I reviewed this in the context of Gravity and Orbits, and compared master to the most recently QA-tested version, [1.2.0-dev.16](https://phet-dev.colorado.edu/html/gravity-and-orbits/1.2.0-dev.16/phet-io/wrappers/studio/). Generally, things are looking really nice and the tree seems undisturbed. The only difference I noticed was that setting the `enabledProperty` of the buttons in the navbar false

[2020-11-02 21:27] pixelzoom commented on #515
Re navigation bar buttons...

[2020-11-02 21:29] pixelzoom commented on #515
Re the problems with navigation bar buttons reported by @arouinfar in https://github.com/phetsims/sun/issues/515#issuecomment-720709179...  Navigation bar buttons are not sun buttons. Joist has it's own button implementation.  So please see https://github.com/phetsims/joist/issues/676.

[2020-11-02 22:03] zepumph commented on #638
Though this is still a problem generally, we have lost out only usage (that I know of) of these assertions guarding overwriting.

Perhaps the solution to this problem is with the new, es6 mixin pattern, since it involves inheritance, we can directly check on that type. For example `DensityBuoyancyModal`. @jonathanolson what do you recommend?

[2020-11-02 22:04] zepumph commented on #663
Looks great thanks.

[2020-11-02 22:20] #663 closed

[2020-11-02 22:25] zepumph commented on #515
Good find @arouinfar. That is awesome to see.

Thanks @pixelzoom for creating the issue. I'll take the lead on that.

From this, I feel like we are ready to close this issue. Anyone, feel free to reopen if there is anything else.

[2020-11-02 22:25] #515 closed

[2020-11-02 22:30] zepumph commented on #662
It will be best to keep someone assigned here.

[2020-11-02 22:33] samreid commented on #541
That sounds reasonable to me.

[2020-11-03 18:12] pixelzoom commented on #654
@jonathanolson We need to wrap this up for RCs to move forward.  You expressed concerns about changes to pickable in https://github.com/phetsims/sun/issues/654#issuecomment-718941629.  I addressed them in https://github.com/phetsims/sun/issues/654#issuecomment-718946253.  Your review is needed with high priority.

[2020-11-03 18:19] jonathanolson commented on #654
Looks good to me.

[2020-11-03 18:28] #654 closed

[2020-11-03 23:42] zepumph opened #664 "AccessibleValueHandler.a11yRepeatEqualValueText is broken"
I found while working on https://github.com/phetsims/ratio-and-proportion/issues/221 that I want the same valuetext to repeat on each key press. I thought that this would work:

https://github.com/phetsims/sun/blob/f8156a38545ab207d437aca485e2102471487b75/js/accessibility/AccessibleValueHandler.js#L364-L368

But, at least on NVDA/chrome, it was not. I put a console log into that if statement, and

[2020-11-03 23:42] #664 closed

[2020-11-04 21:55] ariel-phet commented on #658
For Sun buttons we will go with a default of grayscale.

fter reviewing sims as part of regressions testing, it is clear to me that opacity was an inferior strategy in certain cases, where as grayscale worked reasonably in pretty much all cases (although I would have an aesthetic leaning towards opacity in a few circumstances, the eraser button is one that comes to mind). Several designers and dev

[2020-11-04 22:15] jonathanolson commented on #658
I've added that default, but we'll need to talk about strategies and where those should live. Because the behavior is currently in Node's `onEnabledPropertyChange`, I've overridden that in ButtonNode (however pickability shouldn't be connected, and there should be a better way of overriding and customizing).

Tagging for developer meeting to discuss.

[2020-11-04 23:06] ariel-phet commented on #612
Not a priority in the foreseeable future. Marking deferred.

[2020-11-04 23:11] ariel-phet commented on #541
I agree we can go ahead and close.

[2020-11-04 23:11] #541 closed

[2020-11-05 18:33] zepumph commented on #658
Partially designed greyscale filter:

1. greyscale
1. opacity only on content
3. some brightness?

[code]

[2020-11-05 18:54] zepumph commented on #599
@kathy-phet, @arouinfar, @samreid, @jonathanolson, @pixelzoom, @zepumph discussed during PhET-iO Meeting today. We think it is OK to opt out here, and in general for hover behavior. Here is the code:

https://github.com/phetsims/sun/blob/6351a940918f1f2de223731b8b966e9d6db6395f/js/SliderThumb.js#L61-L70

I will add documentation about opting out of hover behavior in general. Then I will close.

[2020-11-05 19:16] arouinfar commented on #658
It's probably best to iterate on this in real-time. @jonathanolson @samreid I'm available after 3 today.

[2020-11-05 19:18] jessegreenberg commented on #660
This looks great, thanks. I see it working well in the example. Closing.

[2020-11-05 19:18] #660 closed

[2020-11-05 21:36] zepumph commented on #643
I still see a TODO for this issue in ButtonNode:

[code]

[2020-11-05 21:52] zepumph commented on #633
I'm going to summarize the current state of sun buttons as it pertains to accessibility.

focusHighlightDilation is no longer here, and the round-specific focusHighlight is only in the RoundButton correctly. The default focusHighlight is a rectangle.

This is now factored out to ParallelDOM generally.

This has been factored out to ButtonNode, and is used consistently in both visual button impleme

[2020-11-06 21:00] samreid commented on #658
@jessegreenberg pointed out that the ExpandCollapse button should be red/green, but it got set to blue after the commits.

We changed `baseColorProperty` to a `DerivedProperty` so setting a `paint` attribute on that isn’t having the expected behavior.  @jonathanolson can you please investigate?

[2020-11-06 21:10] zepumph commented on #658
Introduced by https://github.com/phetsims/sun/commit/678bd58d861f114d262d8519fe0ca54f84e1cef6, and fixed above. We want baseColorProperty to respect enabled, while still being able to be mutated. I felt like an customizable implementation Property was the best solution for now.

[2020-11-06 21:16] arouinfar commented on #658
Please re-assign to me when things are ready to review.

[2020-11-06 21:23] zepumph commented on #658
Ready!

[2020-11-06 21:30] zepumph opened #665 "Should all disabled sun components look the same?"
There has been a lot of work around factoring out enabled logic from each sun component, and consistently applying visual differences.

Up until this point, the visuals have been this:

[code]
Where by default, disabledOpacity has been `.45`.

Previous train of recent enabledProperty work (just the important ones, ordered by time):
#257 (create an EnabledNode mixin)
https://github.com/phetsims/sce

[2020-11-06 21:40] zepumph opened #666 "pickable is likely not the way to disable sun components"
Almost all sun components (except for sun buttons), have been setting pickable:false on disabled components for quite some time (years?). @jonathanolson pointed out over in https://github.com/phetsims/scenery/issues/1112 that this is problematic.

Setting `pickable:false` results in behavior where disabled components can be clicked through, such that a draggable/pressable item behind the disabled

[2020-11-06 21:58] zepumph commented on #666
One other buggy behavior when using pickable. Hover state can be buggy, since enter/exit events won't keep the Pointer in check while disabled.

We want to make sure that this would work on a component with highlight behavior:
1. disable component
2. mouse over component
3. while over, reenable component. Highlight behavior should occur (like hover style).

[2020-11-06 22:24] zepumph commented on #658
One change that has come from https://github.com/phetsims/sun/commit/678bd58d861f114d262d8519fe0ca54f84e1cef6 is that now the base color changes when becoming disabled. In the sun demo, the previous "transparent button" used alpha in the color to achieve transparency. Knowing that, it makes sense that the disabled state of that button is fully opaque. I added an example of a transparent button usi

[2020-11-06 22:31] jonathanolson commented on #658
@zepumph thanks for the base color fix!

[2020-11-06 22:45] zepumph commented on #658
I also factored this enabled logic into an option, so that it can be overridden. I have done all that I will for this issue. @arouinfar please review, and then assign to @jonathanolson for a spot check if all looks good.

[2020-11-06 23:48] arouinfar commented on #658
I reviewed the sun button demo in master, as well as a handful of random sims in studio. I'm generally happy with the appearance of disabled sun buttons. I did notice a few quirks, though I'm not sure how much of it is related to this issue specifically.

* It seems like the pickableProperty of disabled buttons remains true. The button gets brighter on hover and the cursor remains a hand. I think

[2020-11-06 23:55] arouinfar commented on #665
Thanks for opening this issue @zepumph.  With the scenery filters, there are a variety of ways we could disable UI components. @jonathanolson, @samreid, and I touched on this a bit when we met to discuss #658 and I definitely think this is something we could discuss further as a team.

[2020-11-07 00:17] zepumph commented on #666
If we decide to remove pickable, we will need to re-integrate cursor behavior into the enabled listeners generally, since pickable:false used to do that for us (removed in https://github.com/phetsims/sun/commit/add7c947f1ff15b1f1519a63f02ace907440c141)

[2020-11-07 00:18] zepumph commented on #658
Yes this was done over in https://github.com/phetsims/sun/issues/651, but it was because buttons were being set to pickable: false instead. Talks with @jonathanolson make me feel like this is perhaps the wrong approach. @jonathanolson can you please weigh in on that? Should we move logic back into interactionStateProperties to respect if the buttonModel is disabled? And have the appearance strateg

[2020-11-07 00:22] zepumph commented on #658
- [ ] @jonathanolson can you please take a look. I can fix this by removing the `Greyscale.full` filter:

[code]

[2020-11-07 00:24] zepumph commented on #658
- [ ] This is likely because we are hard coding the background color when disabled: ColorConstants.LIGHT_GRAY. Currently this isn't changable. More and more, I'm wondering if we shouldn't have this integrated back into the button appearance strategy.
 We could also create a new option for it. @jonathanolson what do you think?

[2020-11-07 00:28] zepumph commented on #643
I confirmed that AlignBox covers this. This refactor wasn't possible until we centralized alignBox into ButtonNode.js

[2020-11-07 00:29] #643 closed

[2020-11-10 01:43] zepumph opened #667 "enabledAppearanceStrategy should be added to all sun/scenery-phet components that make sense"
We found it wasn't in AccordionBox (which makes sense to not have it), but it also wasn't in ToggleNode (which doesn't make sense to me).

In part from https://github.com/phetsims/sun/issues/665

[2020-11-10 01:45] zepumph commented on #665
@ariel-phet and I discussed this, and we feel like in general buttons look better with the greyscale. Even though there are some places where opacity looks better,

Over in https://github.com/phetsims/scenery/issues/1112 we added support for overriding the default enabled strategy, and that could be used to make a button use the "opacity" strategy instead of a greyscale one, like so:

[code]

Ever

[2020-11-10 01:45] #665 closed

[2020-11-10 01:58] zepumph commented on #666
After discussing the two issue cases above (press through, and hover state), @ariel-phet would like to add this to dev meeting. He is erroring towards not doing this work because things aren't that broken. I didn't feel really confident explaining the issue completely.  @ariel-phet feels like he needs to be convinced that this is a problem that is worth attention.

[2020-11-10 03:14] pixelzoom commented on #633
👍🏻 Closing

[2020-11-10 03:14] #633 closed

[2020-11-10 19:24] zepumph opened #668 "[AccessibleValueHandler] Support iOS description with double tap and hold interaction"
From https://github.com/phetsims/ratio-and-proportion/issues/232, it was recognized that double-tap and hold way of interacting with a PDOM slider on iOS doesn't support description from AccessibleValueHandler.js. This is a known issue (tagging @jessegreenberg), but the Ratio and Proportion team felt like this was problematic coming from an interview where the user only used double-tap and hold to

[2020-11-10 20:18] zepumph commented on #668
During a brief conversation with @jessegreenberg, he mentioned that we could solve this by changing the focus logic of phet sims. Instead of having a touch event blur the PDOM element, we could keep focus on the PDOM input slider, and then likely aria-valuetext would continue to work for free. Likely context responses wouldn't come along for free, since they are tied to an interaction, instead of

[2020-11-10 20:21] zepumph commented on #668
but since `AccessibleValueHandler.alertContextResponse()`, we can just call that to opt into context responses on some DragListener.end call.

[2020-11-10 21:02] jessegreenberg commented on #640
@zepumph and I worked on this today - The original issue for this was https://github.com/phetsims/sun/issues/519. We did some testing and found that this was also a problem for radio buttons. Basically anywhere where interaction with PDOM would cause some native HTML attribute to change this is required. We moved it out of checkbox and into ParallelDOM's new `pdomEnabledListener` so all PDOM eleme

[2020-11-10 21:02] #640 closed

[2020-11-10 23:07] terracoda commented on #668
This sounds very promising.
Let's have a look at this again once we have all the issues for this sim sorted out.

[2020-11-10 23:09] terracoda commented on #668
Oh, we are in sun, this affects more than just RaP, of course.
It affects all sims with sliders and mobile accessibility.
Lets work on this as we can in between top priorities.

[2020-11-10 23:32] zepumph commented on #667
This is good cleanup to have for the general enabledProperty work I've been working on.

[2020-11-12 00:06] zepumph commented on #666
Also noting that over in https://github.com/phetsims/scenery/issues/1105, it was brought up that toggling pickable between false and true blows away the default of `null`, and never brings that state back. Even still, it is likely that we will not change what is currently in master.

[2020-11-12 01:59] zepumph commented on #667
* ToggleNode doesn't have any input listeners, it just swaps between two difference views based on a value
* AccordionBox is a container, and likely doesn't need its own enabled support
* Carousel was added above
* PageControl didn't seem useful to add it to

Scenery PhET Components feel like they deserve a bit more design time when they are ready to add enabledProperty. For example, I don't feel

[2020-11-12 01:59] #667 closed

[2020-11-12 16:58] jonathanolson commented on #658
I'll look into this, I'm curious if it's present on different browsers (since it's somewhat unexpected).

Yes, being pickable is a necessary condition to be interactive, but is different. It's more "this component is invisible to any input".

We could also create a new option for it. @jonathanolson what do you think?

Having that back in the button appearance strategy (with an option for it) sound

[2020-11-12 17:59] jonathanolson commented on #658
Added a commit that should work around the cut-off buttons. It unfortunately looks like SVG's filter regions are applied WITHOUT taking strokes into consideration.

[2020-11-12 18:25] jonathanolson commented on #638
I think with the new mixin pattern, it's now almost the same problem with normal inheritance. For methods, we can call `super.method && super.method()` if desired?

Would this also be valuable in normal inheritance code too? E.g. `Node` making sure things haven't been previously defined due to potential overrides? We typically have possibilities for naming conflicts there too.

[2020-11-12 19:39] zepumph commented on #658
To unblock this issue, we can add pickable setting to the enabledAppearanceStrategy in ButtonNode. Then we can work towards a better solution over in https://github.com/phetsims/scenery/issues/1116.

[2020-11-12 19:39] zepumph commented on #658
@jonathanolson recommended `node.pickable = enabled? null: false`.

[2020-11-12 19:42] chrisklus commented on #666
From 11/12/20 dev meeting:

`Node.interactive`, being handled over in https://github.com/phetsims/scenery/issues/1116, will be the way to handle this in the future.

[2020-11-12 20:01] chrisklus commented on #645
From 11/12/20 dev meeting:

JG: I feel pretty confident we could do this.
MK: Start investigating in Popupable.js

CM: Should this apply to all UI components that should have "escapable" behavior (ComboBox, PhET Menu, etc)?

For now, we think esc should close everything, until at some point when we have better support for dialogs, it should respect the stack (like nested open dialogs).

@jessegree

[2020-11-12 22:51] zepumph commented on #638
I understand that. Perhaps if we need to make sure that we don't override, then we can check like `assert && assert( typeof super.method !== 'function', . . . )` or something like that.

I don't know of a usage for this right now, so I'm happy closing. Over to @pixelzoom.

[2020-11-12 23:01] zepumph commented on #658
Workaround is implemented above. Unmarking as blocking. All that is left is to deal with the hard coded light grey as the disabled background.

[2020-11-12 23:16] zepumph commented on #667
Setting enabled:true on Carousel broke the component. I'm going to revert the above.

[2020-11-12 23:18] zepumph commented on #667
When we have Node.interactive, this could be added again, but I'm not too worried since we haven't needed a Carousel enabledProperty thus far.

[2020-11-12 23:19] zepumph commented on #658
https://github.com/phetsims/sun/issues/658#issuecomment-723357910 was solved in the above commit. Appearance strategies don't have control over it, but it is now an option that can be specified. @jonathanolson how does that sound? Anything else for this issue?

[2020-11-12 23:27] jonathanolson commented on #658
Sounds good to me.

[2020-11-13 00:01] #658 closed

[2020-11-13 02:07] zepumph commented on #544
I personally feel like swapping makes the most sense. width/height or x/y make a lot of sense and are conventional to our project. Refactoring to have options more like "alongTrack/acrossTrack" seems like it would be more confusing.

If you feel like exploring using Orientation to solve VSlider vs HSlider differences, would you please open a new issue to investigate and explain?

[2020-11-13 02:45] pixelzoom commented on #638
I don't feel like we got anywhere with this, but I'm tired of the issue. So closing.

[2020-11-13 02:45] #638 closed

[2020-11-13 21:02] zepumph opened #669 "[AccessibleValueHandler] add option to map value before setting Property value"
Over in https://github.com/phetsims/ratio-and-proportion/issues/175, we need a bit more control over the valueProperty being set by AccessibleValueHandler. We need to detect a case before setting the value. I think the best way to do this is to create a new option that is called before `constrainValue` is called. I thought about altering `constrainValue`, but since Slider.js supports that option,

[2020-11-13 22:22] zepumph commented on #669
I renamed the PDOM value mapper and created `a11yMapValue` I tried to explain how one maps the Property value as it pertains to keyboard input, and the other is for mapping the value to a number to be displayed by assistive technology. This work was necessary for https://github.com/phetsims/ratio-and-proportion/issues/175, but it adds another option, and some complexity to AccessibleValueHandler.

[2020-11-14 00:30] samreid commented on #544
I don't think we need an issue for that potential future change.  If we are working more in Slider, we may think of it again.  Everything else seems ready to close.

[2020-11-14 00:30] #544 closed

[2020-11-16 18:35] ariel-phet commented on #520
I highly doubt this issue will get worked on until there is some pressing need reported (although the Gas properties example is not a great UX, it is not particularly problematic from a pedagogical standpoint or such). Closing.

[2020-11-16 18:35] #520 closed

[2020-11-16 18:43] ariel-phet commented on #653
@chrisklus is willing to take on this task. I let him know to feel free to ping @pixelzoom if he needs any help getting rolling on it.

[2020-11-17 21:39] zepumph commented on #669
Please also note https://github.com/phetsims/sun/commit/278bd57e33ca0bf57ed770e8eafb4b5e6a678ee2 while reviewing.

[2020-11-17 22:34] zepumph commented on #669
While working on https://github.com/phetsims/ratio-and-proportion/issues/175, I have asked myself the following question three times:

"Why have this "map" function? Why not just use constrain value?"

I'll answer it again explicitly here for the record, even though it is reiterating from the original comment in this issue. While the placement in AccessibleValueHandler makes me think that it could

[2020-11-18 16:56] ariel-phet commented on #10
Completely stale, closing

[2020-11-18 16:56] #10 closed

[2020-11-19 18:55] zepumph commented on #48
This may be getting some traction, marking for dev meeting to discuss the plan.

[2020-11-19 20:51] zepumph commented on #661
I see `minWidth` and `maxWidth` that can be used to specify part of this feature. This doesn't scale down the content though, so I still think it makes sense to create a `size` that triggers the scaling down of the content.

[2020-11-19 21:31] zepumph commented on #661
I added options.size above. It was generally smooth and easy. I found that people were hacking this feature by using `minWidth` and `minHeight` to get a button with no content. I added an assertion to try to make sure people use `size` instead.

I then looked through all usages of `minHeight` on the project (most were for buttons), and found no places other than the sun demo where it was being use

[2020-11-19 22:00] zepumph commented on #626
Grunt update was not run on every sim, so each dev html and readme is out of date. I discovered this while running grunt update on every sim over in https://github.com/phetsims/chipper/issues/981

[2020-11-19 22:24] ariel-phet commented on #433
This work is just not currently a priority for the project. Marking deferred

[2020-11-19 22:26] ariel-phet commented on #347
This work is not currently a priority for the project, and it is unclear when it will be picked up again. Marking deferred.

[2020-11-21 20:14] samreid opened #670 "We need a way to get the width of the carousel (not including the dots)"
In https://github.com/phetsims/circuit-construction-kit-common/issues/618 it was requested to match the UI components to the carousel width (not including the dots).

[2020-11-21 20:16] samreid commented on #670
I added a public, read-only accessor for the dimensions so they can be used for layout, and I'm using that in CCK.  @pixelzoom can you please review?

[2020-11-22 04:43] emily-phet commented on #668
Hey folks - if I'm understanding [this comment](https://github.com/phetsims/sun/issues/668#issuecomment-724943115) correctly, a proposed solution would allow interaction to occur with the double-tap + hold interaction, providing some description but not all.

Since we can tell if someone is on a mobile device, perhaps the solution here is a combination of supporting whatever access to the descript

[2020-11-22 05:44] pixelzoom commented on #670
I'm guessing that yor carousel must be vertical, and that you really want an API that works for width or height.   And it looks like adding `this.backgroundWidth` and `this.backgroundHeight` should give you that.  If I'm missing something, please clarify and assign to me again.

[2020-11-22 12:56] terracoda commented on #668
@emily-phet, my understanding of https://github.com/phetsims/sun/issues/668#issuecomment-724944562 is that it might be straight forward to get both object and context responses using the Accessible Value handler to call context responses.

[2020-11-22 13:04] samreid commented on #670
You're not missing anything, I suspect this issue can be closed.   Please reopen if there's more to discuss or review.

[2020-11-22 13:04] #670 closed

[2020-11-22 23:03] samreid commented on #558
ResetAllButtonIO was deleted in https://github.com/phetsims/scenery-phet/issues/572 and I couldn't find any usages of RoundMomentaryButtonIO.  I deleted it in the commit, and used ph-scale to make sure the API change looked reasonable.  I think this issue can be closed.

[2020-11-22 23:03] #558 closed

[2020-11-23 17:37] Denz1994 commented on #641
SR/JO: We could consider an inheritance tree that looks like 'DerivedProperty' extending`ReadOnlyProperty` and Property extending from 'SettableProperty'. This would add technical debt to changing documentation and setting a bunch of "settable" Property.

JO/SR: Have a method that sets an attribute to determine if a Property is settable. Subtypes would call this function and assertions should fail

[2020-11-24 05:23] #628 closed

[2020-11-30 16:10] samreid commented on #48
Some notes from https://github.com/phetsims/studio/issues/192#issuecomment-730570376

KP: Yes, changing language dynamically is highly desirable if we can accomplish it.

CM/JO: Layout managers are the right solution to this.
JO: We don't support setPreferredSize() or anything like that which

JO: MiG layout is like a next generation layout manager.

KP: Before work begins on rosetta, there should

[2020-11-30 18:47] jbphet commented on #217
@pixelzoom - This issue has been assigned to me for quite a while, but is unfortunately never getting any attention.  I know you spent a fair amount of time on sun buttons recently when you were adding support for `enabledProperty`.  What's your opinion on this now - is there still some work that needs to be done on the button type hierarchy?  If so, let's label this issue for developer meeting an

[2020-12-01 18:21] pixelzoom commented on #217
I review the problems reported in https://github.com/phetsims/sun/issues/217#issue-125714682.  All of them were addressed as the result of the recent work on sun buttons that factored out ButtonNode base class.

Closing.

[2020-12-01 18:21] #217 closed

[2020-12-01 18:25] pixelzoom commented on #661
Changes related to option `size` look good, including the assertion mentioned above.

Should options `minWidth` and `minHeight` be deleted?  Or is it still useful to specific (for example) just a `minWidth` and let the height be taken care of based on the content?

[2020-12-02 19:01] pixelzoom opened #671 "dynamically change items that are shown in ComboBoxListBox"
Fourier has a "Math Form" combo box.  The items to be shown in the listbox depend on the value of another Property (the domain: space, time, or space and time).  So I need to be able to dynamically change the items that are shown in the listbox.

This feature is already available via PhET-iO (by setting `visibleProperty` of listbox items), but there is no programming API.  My plan is to add this m

[2020-12-02 19:39] pixelzoom commented on #671
Changes in the above commits:

* Added `setItemVisible` and `getItemVisible`
* Added an assertion verifying that items have unique values. This was an important assumption for the implementation of both of these new methods, and the developer consensus on Slack was that values should be unique.

@ariel-phet please assign to a reviewer.

[2020-12-02 20:13] samreid commented on #671
I reviewed the changes and tested by removing items in Molarity, to see if it coordinated with PhET-iO visibility in studio, and everything worked out OK.  My main questions were:

* There is a bit of a mismatch because you pass an array of ComboBoxItem to the constructor, but setItemVisible takes a ComboBoxItem.value (not a ComboBoxItem).  I'm not sure whether I would change anything about this,

[2020-12-02 20:38] pixelzoom commented on #671
In my experience, you don't keep references to the ComboBoxItem instances, you have references to their values. In Fourier it's not even currently possible to get references to the ComboBoxItems, because they are generated from a higher-level description (see FMWComboBox).

In the above commit, I've renamed to `isItemVisible`, for a better match with the Node API.

I don't think so.  I think refer

[2020-12-02 20:39] samreid commented on #671
Sounds great, thanks!  Closing.

[2020-12-02 20:39] #671 closed

[2020-12-03 19:44] zepumph commented on #48
Discussed during dev meeting today. @ariel-phet thinks we should bring this to quarterly planning. It would be good to bring it with a plan/brainstorm first.

We will come up with a sub-team  to take a first pass. Assigning to @jonathanolson, @pixelzoom, @samreid  to take a look first.

[2020-12-04 19:48] zepumph commented on #496
No I don't think so. I believe that was https://github.com/phetsims/phet-io/issues/1720

[2020-12-04 19:50] zepumph commented on #496
It seems like we didn't instrument the list box because making it manually visible was buggy (https://github.com/phetsims/phet-io/issues/1102#issuecomment-293102248), so likely we wouldn't want to feature it.

[2020-12-04 19:53] zepumph commented on #496
Reviewing https://github.com/phetsims/molarity/issues/77 (why this issue was open), I can't find details about why we needed the listbox instrumented, but it seems to be for sonification-wrapper specific logic. My guess is that we shouldn't instrument this anymore, since that is a deprecated approach to sonification.

[2020-12-04 19:57] zepumph commented on #496
@samreid, does it seem reasonable that the listbox doesn't get instrumented? Please review.

[2020-12-04 19:59] samreid commented on #496
The listbox doesn't need to be instrumented.  Can this issue be closed?

[2020-12-04 20:35] #496 closed

[2020-12-05 18:52] zepumph commented on #661
I'm not sure if it is useful, but it is currently available with not usages that I can see. Would you prefer removal, to simplify the API as much as possible, or do you think we should leave it, and add a button to the demo exercising the feature?

[2020-12-07 17:42] pixelzoom commented on #48
Or first big decision is what

[2020-12-07 17:44] pixelzoom commented on #48
Our first big decision is where layout responsibilities should live.   From https://en.wikipedia.org/wiki/Layout_manager

Given PhET's history with LayoutBox, I'm guessing that we'll want to pursue the former approach, where layout is the responsibility for specific types of Nodes.

[2020-12-07 18:00] pixelzoom commented on #48
Some useful links...

Visual Guide to Swing layout managers: https://docs.oracle.com/javase/tutorial/uiswing/layout/visual.html

Mig Layout: http://www.miglayout.com
* porting to other frameworks: http://www.migcalendar.com/miglayout/Porting.pdf
* cheat sheet: http://www.migcalendar.com/miglayout/mavensite/docs/cheatsheet.pdf

CSS layouts
* Grid: https://www.w3schools.com/css/css_grid.asp
* Flexbo

[2020-12-07 18:32] pixelzoom commented on #661
I guess we can keep `minWidth` and `minHeight` for now.  I've added this doc:

[code]

If this looks OK, feel free to close.

[2020-12-07 18:48] #661 closed

[2020-12-07 23:19] samreid commented on #48
Some desired features and questions:

1. Automatic relayout when child components change size.
2. Could these sliders have the same track width?

![image](https://user-images.githubusercontent.com/679486/101415373-020b8200-38a5-11eb-8dd6-a6a64ba2af60.png)

3. Could we left-align radio buttons and text, but right-align the icons?  We do this in many (most?) cases, but we should make it easy to do.

[2020-12-07 23:37] samreid commented on #546
I standardized the variable names, documentation, and assertion.  @pixelzoom can you please review?

[2020-12-09 02:54] pixelzoom commented on #546
Much nicer, thanks for doing this. Closing.

[2020-12-09 02:54] #546 closed

[2020-12-10 01:29] samreid commented on #48
Some interesting links:

Discussion about cassowary, which is the constraint based layout engine used in iOS
https://news.ycombinator.com/item?id=13125093

Autolayout
https://github.com/IjzerenHein/autolayout.js

![image](https://user-images.githubusercontent.com/679486/101709308-70d70f80-3a4c-11eb-85b4-ece865036a0e.png)

Apple's constraint API
https://developer.apple.com/documentation/quartzcore/

[2020-12-11 15:37] samreid commented on #48
It seems like the conventional wisdom around constraint-based layouts is it can be very tricky to debug or understand, or if you put in a bad constraint then everything can go wrong easily.

We should also consider the cost to move pre-existing code forward to a new paradigm. I wonder if a sweet spot would be like the proposal in https://github.com/phetsims/joist/issues/608#issue-565036762, which

[2020-12-11 15:56] samreid commented on #48
One of the issues that inspired this issue was https://github.com/phetsims/energy-forms-and-changes/issues/349, where labels are off-center if the text bounds change:

![image](https://user-images.githubusercontent.com/679486/101924512-06c68380-3b8e-11eb-88e9-a8e2f4ba82c2.png)

I'm trying to figure out how a "layout manager" would solve that problem, or how we would want that code to look after we

[2020-12-22 03:20] samreid commented on #48
On slack, @jonathanolson said:

[2020-12-22 03:43] samreid commented on #48
For comparison, here is the `link` code:

[code]

And here is the equivalent `AlignBox` implementation:

[code]

It's not clear to me which is preferable.

[2020-12-23 21:48] samreid opened #672 "Carousel foregroundNode is blocking input events"
@jbphet said:

[2020-12-23 21:56] samreid commented on #672
I committed a fix that makes the carousel foreground non-pickable, and confirmed after this change Function Builder is usable again.  However, this issue (or a new, related issue) should remain open until we figure out how/when this broke in the first place, and see if that problem may impact other parts of the project.  @jonathanolson can you please advise?

[2020-12-23 23:29] jbphet commented on #672
Thanks @samreid - I just pulled and this does appear to fix the problem that I was having in number-line-operations.

[2020-12-29 01:46] pixelzoom opened #673 "height of ComboBox listbox can exceed layoutBounds"
DemosScreenView is used in the sun and scenery-phet demo applications. It lets you choose a demo from a combo box.  With a large number of demos (like https://github.com/phetsims/scenery-phet/issues/655) the listbox can become taller than the screen's layout bounds.   Then you have to know to resize your browser window in order to see the full listbox.

Some options:

(1) Live with it. Require use

[2021-01-04 18:36] jonathanolson commented on #672
Is there a good way I can reproduce this? Perhaps because the foreground has Paintable's default `fillPickable: true`, it was catching events? `strokePickable: true, fillPickable: false` almost sounds like a good strategy.

[2021-01-04 20:43] samreid commented on #672
I was able to reproduce the problem just now by reverting https://github.com/phetsims/sun/commit/fe13dfe1ea3f3ae0721fa5ec1100cce08efa1464 then testing function builder--nothing can be dragged out of the carousel on the 1st screen.

[2021-01-04 22:52] jonathanolson commented on #672
Confirmed. Since the foreground is in front of the content, AND the background covers the same area, presumably we prefer the foreground to not be pickable.

In the previous setup, it seems like it would block input. I'm not particularly concerned about why we entered a buggy state, but it seems good now. Thoughts?

[2021-01-05 00:29] samreid commented on #672
It would be more satisfying to understand why we entered a buggy state, so that we could extrapolate and see if it may happen elsewhere.  But perhaps since we have no leads, its sufficient to wait until we detect another case and go from there.  The symptom seems pretty easy to detect.  Closing.

[2021-01-05 00:29] #672 closed

[2021-01-07 04:11] jessegreenberg commented on #668
In https://github.com/phetsims/scenery/issues/1094 a change was made so that most events with iOS VoiceOver go through pointer events rather than click events. So this issue is going to be important to get the general flow with iOS VoiceOver working correctly.

It also has overlap with other upcoming features like getting focus highlights to persist while using a mouse or finger. I think this shou

[2021-01-07 18:06] jessegreenberg commented on #668
I am working on this change in https://github.com/phetsims/scenery/issues/1137, when testing a slider I am finding that iOS 13 and 14 VoiceOver does not read the new value or the aria-valuetext when operating a slider with the double-tap and drag operation. I tested with this example outside of a PhET sim:
<details>

[code]
</details>

I tried both `change` and `input` events in this example, neit

[2021-01-07 20:39] terracoda commented on #668
I wonder if we could provide a plat-form specific alert to use swipes to use the object. At some point in the future, iOS VoiceOver should be able to deliver aria-valuetext naturally like macOS VoiceOver.

[2021-01-07 20:40] terracoda commented on #668
And can we submit a bug report to Apple?

[2021-01-07 20:57] jessegreenberg commented on #668
Discussed with TS and MK:

- We will not go any farther with a custom solution here since this is the behavior with iOS VoiceOver and sliders at the moment.
- I will submit a bug report to apple.
- If we need to convey this to users it is the kind of thing we could put in teacher tips.

[2021-01-07 21:00] #668 closed

[2021-01-12 22:51] zepumph opened #674 "MenuItem selection on iOS + VO "double presses" on first interaction"
From https://github.com/phetsims/scenery/issues/1094, @jessegreenberg and I saw that the most recent solution causes strange behavior when selecting a dialog to open for the first time. When double tapping to open the AboutDialog, the dialog opens and then immediately closes. Subsequent presses keeps the dialog open. When logging PDOM events, we were never getting a "click" event. This should bloc

[2021-01-14 04:23] samreid commented on #673
I've been satisfied with (1) for now, sometimes preferring to use query parameters to select a specific component demo.  Another option is:

(5) Find another way to split up the component demos, such as grouping them and moving some to another screen (if we haven't passed our screen limit).

[2021-01-15 21:13] zepumph opened #675 "Context response timing is too long!"
@terracoda and I felt like a max of waiting 2 seconds for the context response most often too long. We liked 1500 in RaP, and thought it would help GFLB too. I'll make the change.

[2021-01-15 21:14] #675 closed

[2021-01-19 22:28] jessegreenberg commented on #462
@zepumph and I tried to do this today but couldn't finish because FireListener/PressListener responds to `click` events, but we need the ComboBoxListItemNode to fire on `keyup` events. Here is the patch we tried:
<details>

[code]
</details>

We would like to see PressListener optionally fire from `keydown`/`keyup` events instead of `click` events so this kind of thing would work.

[2021-01-21 17:51] zepumph opened #676 "AccordionBox title bar not always clickable"
From https://github.com/phetsims/collision-lab/issues/195 and perhaps https://github.com/phetsims/ratio-and-proportion/issues/88. The RaP issue makes it seem like it was fixed, but perhaps it has regressed. Over to @jessegreenberg, let me see if it will help.

This should block any sim that supports pan/zoom with an accordion box.

[2021-01-21 17:53] zepumph commented on #676
https://github.com/phetsims/ratio-and-proportion/issues/328 may be a helpful bread crumb, as it notes that having scenery Node's pickability listener fire eagerly changes to behavior of the clickability of the title bar. Perhaps this isn't related to pan/zoom though.

[2021-01-21 18:30] arouinfar commented on #676
Something weird is going on, and in discussion with @jessegreenberg it doesn't seem like a pan/zoom problem. I *thought* that `supportsPanAndZoom=false` fixed the issue in circuit-construction-kit-dc, but it doesn't actually.

Steps to reproduce in cck-dc
1. Open sim, select Intro screen (this screen doesn't have the AccordionBox)
2. Click Lab screen icon in navbar
3. The AccordionBox title is not

[2021-01-21 18:34] arouinfar commented on #676
I naively tested the same process in states-of-matter-basics which is also a two-screen sim with a single AccordionBox on the 2nd screen. The cck-dc procedure of Home Screen > Screen 2 does not result in a pickable AccordionBox title.

[2021-01-21 18:35] jessegreenberg commented on #676
The related scenery issue and related comments for the ratio-and-proportion issue mentioned above were https://github.com/phetsims/scenery/issues/1056#issuecomment-661277631.

But I don't think this issue is related to pan and zoom. I am seeing this issue in collision-lab, CCK:DC, and gas-properties with/without the `?supportsPanAndZoom=false`.

But there are input cases where this issue goes away

[2021-01-21 18:46] arouinfar commented on #676
This didn't work for me.

<details><summary>Troubleshooting info</summary>

Name: Circuit Construction Kit: DC
URL: https://bayes.colorado.edu/dev/phettest/circuit-construction-kit-dc/circuit-construction-kit-dc_en.html?ea&brand=phet
Version: 1.2.0-dev.10 (unbuilt)
Features missing: applicationcache, applicationcache, touch
User Agent: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/53

[2021-01-21 18:49] jessegreenberg commented on #676
@arouinfar that seems to only be true in CCK:DC. Are you not able to get it to happen in that sim?

[2021-01-21 19:04] arouinfar commented on #676
No, when I used pinch-to-zoom on my trackpad, the cursor over the AccordionBox remained an arrow.

However, if I click anywhere within the empty play area, the AccordionBox title becomes pickable again. I also tried clicking on a UI element like a checkbox or voltmeter, but that didn't change the pikcability of the AccordionBox title.

[2021-01-21 19:06] arouinfar commented on #676
Note that clicking in empty space doesn't fix things in other sims, like gas-properties.

[2021-01-21 19:09] jessegreenberg commented on #676
The behavior is different in https://phet-dev.colorado.edu/html/circuit-construction-kit-dc/1.2.0-dev.10/phet/circuit-construction-kit-dc_all_phet.html (build date 1/5/21). You cannot click the AccordionBox title the first time you click it, but all subsequent clicks work.

[2021-01-21 22:08] zepumph commented on #676
https://github.com/phetsims/ratio-and-proportion/issues/328 makes me wonder if this is a bug with how pickable is implemented and as it pertains to the Node structure in AccordionBox. I'm not really sure how though.

[2021-01-21 22:39] zepumph commented on #674
@jessegreenberg should this block Ratio and Proportion?

[2021-01-21 22:45] pixelzoom opened #677 "ensure that ComboBox listbox selection occurs during fuzzing"
I've noticed when fuzz testing Fourier that combo box listbox is rarely exercised.  The listbox is popped up, but then immediately dismissed when fuzzing "clicks" elsewhere.   The first screen (Discrete) has 3 combo boxes. 2 of them are never exercised. The one that is exercised repeatedly selects the first item in the listbox.  I'd estimate something like 85% of the code is not being exercised. C

[2021-01-21 22:47] pixelzoom commented on #677
Also on Slack, we decided that checking whether "fuzzing is enabled" should be handled via a new global function, added to initialize-globals.js.  It should be a function so that associated query parameters (eg `phet.chipper.queryParameters.fuzz`) can be changed in the console while the sim is running.

[2021-01-21 23:01] pixelzoom commented on #677
Implemented in the above commits, and used in a couple of obvious places.

Tested to verify that fuzzing can be dynamically turned on/off via the console:

[code]

[2021-01-21 23:09] pixelzoom commented on #677
I noticed that PhetMenu was statically computing whether fuzzing is enabled:

[code]

... so would not work with changes to query parameters via the console.  There were 6 uses of fuzzes in PhetMenu (5 in menu item callbacks), and I changed them to phet.chipper.isFuzzEnabled() in the above commit.

[2021-01-21 23:09] jessegreenberg commented on #674
Yes, I think so.

[2021-01-21 23:13] pixelzoom commented on #677
@samreid volunteered to review. Thanks!

[2021-01-21 23:44] pixelzoom commented on #677
In Slack, @zepumph pointed out that the approach used in ComboBox could be applied in a few other places. This issue is not going to address those proactively.

[2021-01-22 02:08] samreid commented on #676
If you click in the play area first, then mouse over the accordion box next, it is clickable.

[2021-01-22 03:53] samreid commented on #676
This did seem similar to the Carousel problem in https://github.com/phetsims/sun/issues/672, I set pickable: false on a few occluding components and it seemed to correct the problem.  I tested in CCK-DC Lab screen.  I discovered that @zepumph identified this solution in https://github.com/phetsims/ratio-and-proportion/issues/328#issuecomment-752289947. @zepumph can you please review?

[2021-01-22 04:54] arouinfar commented on #676
@samreid things still aren't behaving quite right.

Here's  a recording from Gas Properties in master (pulled all and cleared cache before recording). There are 5 AccordionBoxes on the Energy screen, and they all behave differently.
https://drive.google.com/file/d/1-C30Vj2_gWaVANPvDgguiNBs26d0QAgd/view?usp=sharing

| AccordionBox | ExpandCollapseButton | Title |
| --- | --- | --- |
| Average Speed

[2021-01-22 05:38] samreid commented on #676
Keeping the changes in AccordionBox, if I additionally comment out these 2 lines in EnergyScreenView.js, all of the accordion boxes on the screen seem to work properly.

[code]

@pixelzoom is the author of that file, so I'll add him as an assignee.  Maybe he can figure out why those `moveToBack` are causing problems (is something invisible occluding the accordion boxes), or make it unnecessary to

[2021-01-22 05:42] samreid opened #678 "AccordionBox({stroke:null}) fails"
Discovered during https://github.com/phetsims/sun/issues/676, if you pass `stroke: null` to AccordionBox, you get this error:

[code]

Assigning to @jbphet and @pixelzoom who are listed as authors in AccordionBox.

[2021-01-22 05:59] pixelzoom commented on #676
I'll take a look at Gas Properties sometime next week.

But in the meantime, the change that @samreid made in 7f6b09a will crash with AccordionBox defaults. You added `this.titleNode.pickable = false` at a point where `titleNode` may still be `null` (the default).    Fixed in the above commit. @samreid please review.

[2021-01-22 06:01] samreid commented on #676
Oops, I committed that 22 minutes ago, but I think I failed to push.  Thanks for the review!

![image](https://user-images.githubusercontent.com/679486/105453046-a3277f80-5c3c-11eb-9f5d-dd6f27b83806.png)

[2021-01-22 06:08] pixelzoom commented on #676
Re the moveToBack calls... EnergyScreenView is a subclass of IdealGasLawScreenView, and is adding additional UI components. Those moveToBack calls are required to ensure that those addition UI components (panels, specifically) are behind components that need to be in the foreground, like the stopwatch.

And I'm seeing bigger problems on macOS 10.13.6 + Chrome 88.0.4324.96 + Safari 13.1.2 + Firefox

[2021-01-22 06:16] samreid commented on #676
I'm also seeing the checkboxes are unclickable on my Mac/Chrome with the `moveToBack` calls.  If I comment out the `moveToBack` calls, then the checkboxes are clickable.  I looked for some invisible node occluding them, but didn't see anything obvious.  But I did see the IdealGasLawContainerNode extends to the left--I wonder if it occluded some of the controls on the left?

![image](https://user-i

[2021-01-22 06:16] pixelzoom commented on #676
I'm seeing the same problems on macOS 11.1 with all browsers.  These UI components are unresponsive:

Ideal screen:
* all of the "Hold Constant" radio buttons

Explore screen
* thermometer combo box
* all of the checkboxes

Energy Screen
* Average Speed accordion box expand/collapse button
* Particles accordion box expand/collapse button
* Checkboxes in the Speed accordion box
* handle on the top

[2021-01-22 06:18] pixelzoom commented on #676
All of the things that are unresponsive seem to be in the top part of the screen.

[2021-01-22 06:19] samreid commented on #676
I'd like to alert you to another recent problem that seems related, in https://github.com/phetsims/sun/issues/672.  Carousels recently started getting input events occluded for unknown reasons (and with no changes to Carousel).  They may have a similar underlying cause in scenery.

[2021-01-22 06:19] pixelzoom commented on #676
How would that explain all of the controls to the right that don't work? Or the fact that this was working fine for a long long time?

[2021-01-22 06:21] samreid commented on #676
No idea, like I said:

Just pointed out the container node bounds were not as I expected--not sure if that is at all related to the problem at hand.

[2021-01-22 06:27] samreid commented on #676
This patch makes many (all?) problems go away:

[code]

[2021-01-22 06:27] pixelzoom commented on #676
What you're seeing is the bounds where particles may be drawn.  This was recently changed -- @jonathanolson convinced me to switch from CanvasNode to Sprites.

[2021-01-22 06:33] pixelzoom commented on #676
I reverted to a876535219709444eef057857fc895afaba29ae3, the commit before the change to Sprites. Then replaced Utils.toFixed with Number.toFixed so the sim would run.  All of the problems with UI components go away.

Time to get @jonathanolson involved.

[2021-01-22 06:35] samreid commented on #676
There is a commit to Sprites.js on July 13, 2020 https://github.com/phetsims/scenery/commit/c9041b5a8509ca0d41b0ec59fd3d70337e1b58f1

It relates to hit testing and input integration.  Was that around the time this stopped working?

[2021-01-22 06:43] pixelzoom commented on #676
Tracking how this affects gas-properties in https://github.com/phetsims/gas-properties/issues/190, assigned to @jonathanolson with high priority.

[2021-01-22 06:53] pixelzoom commented on #676
IdealGasLawParticleSystemNode is not the only subclass of Sprites.  Rather than patching gas-properties, let's pause until @jonathanolson can be consulted.

[2021-01-22 07:10] pixelzoom commented on #676
A reasonable fix for gas-properties was commited in the above commit. More explanation in https://github.com/phetsims/gas-properties/issues/190#issuecomment-765184864.

But none of this seems to explain the problems with AccordionBox in Collision Lab and RaP.

[2021-01-22 14:06] samreid commented on #676
Maybe Collision Lab and Ratio and Proportions were corrected in https://github.com/phetsims/sun/commit/7f6b09a6a6b4d0c327abd7da38e987404ba38bc5, they seem to be working in master at the moment from what I can see.

[2021-01-22 18:05] arouinfar commented on #676
I've tested a few sims out in master, and some AccordionBoxes are totally fine (Density, Collision Lab, CCK: DC). Others are still showing some weird behavior, for example:

[Energy Skate Park](https://bayes.colorado.edu/dev/phettest/energy-skate-park/energy-skate-park_en.html?ea&brand=phet)
* Intro & Playground screens: The bar graph icon in the title of the AccordionBox is pickable in latest, bu

[2021-01-22 22:35] samreid commented on #676
That sounds best, self-unassigning for now.

[2021-01-22 23:35] zepumph commented on #676
In addition, it seems like this should likely not just block accordion boxes, but could be more general. Let's block everything until we understand The problem better.

[2021-01-23 00:52] jessegreenberg commented on #676
I think this started happening after https://github.com/phetsims/ratio-and-proportion/issues/282, but not sure yet if there is anything wrong with the commit there. I found this by reverting https://github.com/phetsims/sun/commit/7f6b09a6a6b4d0c327abd7da38e987404ba38bc5 locally for testing and stepping through Picker.recursiveHitTest when clicking the MomentaDiagramAccordionBox of collision lab. T

[2021-01-23 02:35] zepumph commented on #462
Over in https://github.com/phetsims/scenery/issues/1137, we were able to get rid of one of these TODO links (https://github.com/phetsims/sun/commit/4e6d4c7e91638ed25eecef6f7576dda13f307ed4) because you can now focus elements even when input is mouse/touch. Focus highlights will only be shown when needed for keyboard.

[2021-01-23 03:00] zepumph commented on #674
I just spent about 15 minutes trying to reproduce on iOS 14.3 + VO and was not able to. I remember it being challenging when we first saw this, but I also remember that it was halfway through a change set over in https://github.com/phetsims/scenery/issues/1137. Perhaps it solved itself there? @jessegreenberg can you please try to reproduce, and recommend next steps.

[2021-01-23 03:49] zepumph commented on #635
Makes sense to me. I understand that though it was safe in its current state, it was not the right decision nor maintainable. Closing

[2021-01-23 03:49] #635 closed

[2021-01-23 04:58] samreid commented on #677
I tested fuzzing in Fourier with and without the ComboBox change, and the change looks good.  I reviewed the code and everything looks good.  I just had a few questions, and I'll open a side issue regarding the prior comment.

Should this be marked as `@public`, or is that obvious from context?

[code]

Some commits use `phet.chipper` whereas some prefix with `window.phet.chipper`.  What is the se

[2021-01-23 05:00] samreid opened #679 "The fuzz-focusing solution in ComboBox may apply elsewhere"
From https://github.com/phetsims/sun/issues/677, @pixelzoom said:

@pixelzoom or @zepumph can you recommend an initial priority for this issue?

[2021-01-23 05:26] pixelzoom commented on #679
The additional cases involve sim-specific code:

area-model-common (GenericLayoutSelectionNode)
build-a-molecule (BAMScreenView)
cck-common (CircuitElementNode, VertexNode)
energy-skate-park (ControlPointUI)

I would assign to the responsible devs, let them evaluate/discuss to see if there's anything "common" to be done, then address those sims.

Longterm, I think this is something that should be

[2021-01-23 05:34] pixelzoom commented on #677
I don't see any other globals in initialize-globals.js with visibility annotations. And a private global makes no sense. I guess you could have a global that's intended to be used only in specific places, but again there's no precedent for that.  So I don't think a visibiltiy annotation is needed here.

I noticed that, for example:

`window.phet.chipper.brand = window.phet.chipper.brand || phet.ch

[2021-01-23 05:50] pixelzoom commented on #677
Lots of subtleties here, another example of JavaScript taking something simple and making it unneessarily complicated. Demonstration by examples:

`window` is optional for defining and referencing globals:

[code]

`var` is automatically added to the global object -- `window` in the browser, `globals` in Node.js:

[code]

`const` and `let` are _not_ added to the global object. They will shadow.  S

[2021-01-23 14:46] samreid commented on #677
Thanks, I think this issue can be closed.  Feel free to reopen or open a side issue at your discretion.

[2021-01-23 14:46] #677 closed

[2021-01-23 17:13] pixelzoom commented on #679
@samreid did you intend to assign to responsible sim devs?  If so, none of these sims are mine, and @jessegreenberg is responsible for ESP.

[2021-01-23 17:16] samreid commented on #679
Thanks, I'm not sure why I assigned you--probably an accident.  Thanks for fixing it.

[2021-01-25 16:38] jessegreenberg commented on #674
I was able to reproduce with iOS 14.3 after pulling all changes. Ill take a look.

[2021-01-25 18:01] jbphet commented on #641
Discussed in the 1/25/2021 supplemental design meeting.

- A full refactoring of the `Property` type hierarchy might resolve this, but it would be prohibitively expensive, and might not work for things like `DynamicProperty`.  In this approach, the base type would essentially be immutable, and mutability would be added in a sub-type.
- The typedef proposal (see previous comment) would help, but it

[2021-01-25 22:03] jessegreenberg commented on #674
So for some reason, the first time I double the "About Dialog" menu item in the PhetMenu I get two down events - both at the same spot (presumably the center of the "About Dialog" menu item.  The second time I press the "About Dialog" menu item I only get one down event.

This is only happening for the "About Dialog" menu item, it is not happening for others like the "Check for Updates..." item.

[2021-01-25 23:31] jessegreenberg commented on #674
Listing out notes from things I tried today:
- I tried to see this in another context, but haven't been able to duplicate. I tried both completely removing menu content from the DOM and also just using hidden. Here is some playground html
<details>

[code]
</details>

- I tried removing aria attibutes from menu items/the PhET menu but it had no impact.
- I tried an OptionsDialog as well, but it di

[2021-01-25 23:34] jessegreenberg commented on #674
I just noticed that when I move the virtual cursor to the "About..." menu item VoiceOver plays a unique sound like two rising tones. When virtual cursor leaves the "About..." item it plays the same sound in reverse. So something is different about the "About..." menu item in particular.

[2021-01-25 23:58] jessegreenberg commented on #674
I replaced the callback of the "About..." menu item with the callback for the "Check for Updates..." item and the problem went away. So it must be about the opening of the About dialog rather than menu items.

[2021-01-26 00:28] jessegreenberg commented on #674
With this information, I tried all of these in the example HTML which did not make the problem happen:
- Copying the contents of the AboutDialog into the test.html example above.
- I tried adding/removing the dialog with links from the DOM.
- I tried creating a new link and adding it to the dialog every time it is opened.
- I tried creating a new Dialog with new HTML elements with links and insert

[2021-01-26 04:57] jonathanolson commented on #676
The commit mentioned above in https://github.com/phetsims/sun/issues/676#issuecomment-765803724 (https://github.com/phetsims/joist/commit/180efd8722f2a11aede948f4e8d5b6b769860e10) essentially makes `pickable:null` equal to `pickable:true` since every single Node under a ScreenView will have an input listener under it.

While it sounds most helpful long-term to be diligent about setting things to `

[2021-01-26 05:06] jonathanolson commented on #676
AccordionBox seems to have a lot of rectangles that when made essentially pickable:true block certain input. This is triggered by anything that adds a listener to the entire component or above (so in this case, the listener added to the view in Screen.js). As things would be buggy anytime a listener would be added to AccordionBoxes in general, I'd recommend we adjust the pickability in that type.

[2021-01-26 15:56] samreid commented on #679
In the commit, I short circuit the click to dismiss listeners for the CircuitElementNode and VertexNode.  I also want fuzzing to exercise the click to dismiss listeners some of the time, so I put it at 1% frequency.  @pixelzoom can you please review this part?

[2021-01-26 16:55] jessegreenberg commented on #674
Oh man...

This whole time my iPad was on iOS 14.2. Last night I updated to 14.3 and now the problem is gone. And that aligns with what @zepumph found when he tried to produce this. That should have been the first thing I verified. The bad news is that cost about 2 hours of pointless debugging. But the good news is there is nothing else for us to do here since it has been resolved in an Apple upda

[2021-01-26 16:55] #674 closed

[2021-01-26 17:58] zepumph commented on #676
See https://github.com/phetsims/joist/issues/688.

[2021-01-26 18:00] pixelzoom commented on #679
CircuitElementNode and VertexNode changes look reasonable, though I'm not a fan of function that have multiple return points.

[2021-01-26 18:05] pixelzoom commented on #679
This seemed like a good thing to incorporate into ComboBox, so I did so in the above commit.  Rather than 1% frequency, I used 25%, and it still seems to be resulting in good coverage in Fourier.  @samreid does this seem reasonable?

[2021-01-26 18:08] pixelzoom commented on #679
Oops, my logic in ComboBox was wrong -- I was actually exercising clickToDismissListener 75% of the time. Fixed in the above commit.

[2021-01-26 18:15] pixelzoom commented on #679
This seemed like a good thing to incorporate into ComboBox, so I did so in the above commit.  Rather than 1% frequency, I used 25%, and it still seems to be resulting in good coverage in Fourier.  @samreid does this seem reasonable?

EDIT: Oops, my logic in ComboBox was wrong -- I was actually exercising clickToDismissListener 75% of the time. Fixed above.

[2021-01-26 18:19] pixelzoom commented on #678
@samreid Please clarify. Do you have a use case where you want to be able to set `stroke: null`.  Or is it sufficient to add an assertion that required `stroke` to be non-null.

[2021-01-26 18:21] pixelzoom commented on #676
Since gas-properties is fixed, I'm going to self-unassign.  Feel free to assign if you need more input from me.

[2021-01-26 18:25] samreid commented on #678
I don't have a use case that requires a `null`-stroked Accordion box. But the options look like so:

[code]

and there is no indication that null is disallowed.  I don't have a preference about whether we add support for `null` or add an assertion that it is non-null.

[2021-01-26 18:56] pixelzoom commented on #678
Fixed in the above commit, AccordionBox now supported `stroke: null`.

`this.expandedBoxOutline` and `this.collapsedBoxOutline` are created conditionally, if `options.stroke` is truthy.  So in `layout`, they should be updated only if they exist.

@samreid please review.

[2021-01-26 18:58] jonathanolson commented on #676
The commit mentioned above I believe resolves the majority of these issues. @arouinfar can you verify? (We'll leave this open to discuss at developer meeting)

[2021-01-26 21:31] samreid commented on #679
I went with a small percent by estimating the fraction of area of the clickable regions compared to the screen size. That being said, I tested Fourier with the commits, and I did see the combo boxes exercised a good amount.

For the record, here is my comment from https://github.com/phetsims/joist/issues/685#issuecomment-767832937

Also, during review I found a serious bug that should block public

[2021-01-26 21:35] samreid commented on #679
I wrote on Slack:

[2021-01-26 21:40] zepumph commented on #679
The above made the click to dismiss listener fire every time for me when fuzzing was not enabled. I think this can unblock.

[2021-01-26 22:09] samreid commented on #679
That looks good to me, thanks @zepumph.

[2021-01-26 23:22] jonathanolson commented on #679
If the BAM reference is about `phet.joist.display.addInputListener( this.clickToDismissListener );`, it seems like those low-chance things happen all the time with fuzzing, and that if we want better coverage we should do something more precise (like playing back recorded sim sessions, etc.)

I'm not concerned about changing things in that sim.

[2021-01-26 23:45] jessegreenberg commented on #679
I tried something like this out in energy-skate-park, but it didn't work as well. It is important for the behavior of the sim that the `clickToDismissListener` is called unless input is on the dismissable UI components, so preventing it from dismissing at the right time put the sim in a buggy state. We might be able to support this by making other changes to the sim/listener, but more substantial

[2021-01-26 23:51] samreid commented on #679
Would you like to share your patch?  It seems like Energy Skate Park is similar to CCK, where sometimes you want to exercise the buttons for the component and sometimes want to allow the fuzzer to click away.  I solved this by adding some randomness, so it could only click away sometimes--increasing the odds that it clicked one of the popup buttons.

[2021-01-27 00:10] jessegreenberg commented on #679
Sure, I tried something similar to https://github.com/phetsims/circuit-construction-kit-common/commit/a1a84ae9ad92f11752ff57c19fde92afcd56e71f,

[code]

If the ControlPointUI is not dismissed but fuzzing happens to delete a Track or its control points, it might try to split or remove a ControlPoint that has already been removed. Maybe we should remove the ControlPointUI more aggressively when a tr

[2021-01-27 00:20] samreid commented on #679
Thanks for clarifying on the problem--I'm not convinced it is worth the additional effort to try to increase fuzzing coverage for this case.

If you agree, feel free to close this issue.

[2021-01-27 04:03] arouinfar commented on #676
@jonathanolson things look good in master.

[2021-01-27 05:29] samreid commented on #641
I added Property.isSettable.  I wasn't sure if there was more to do for this commit.  For instance, there are no usage sites.
 @zepumph can you please review and advise?

[2021-01-27 05:33] samreid commented on #678
I reviewed the commit and tested with null in build an atom, everything seems nice!  Closing.

[2021-01-27 05:33] #678 closed

[2021-01-27 18:23] jessegreenberg commented on #679
OK sounds good, that was my thinking as well. Closing.

[2021-01-27 18:23] #679 closed

[2021-01-27 19:36] pixelzoom commented on #676
I'm seeing problems related to https://github.com/phetsims/sun/issues/676 in Fourier.  I have a slider track that is not getting input events when a decoration (which has no input listener) is in front of it.  I have to explicitly set pickable: false on the decoration.

Specifically...  In AmplitudeSlider.js, I have a custom slider track, inner type BarTrack.  BarTrack has invisibleTrackNode (the

[2021-01-27 19:41] pixelzoom opened #680 "expose DragListeners for Slider thumb and track"
For https://github.com/phetsims/fourier-making-waves/issues/31, we need to know the state of the DragListeners associated with a Slider's thumb and track -- specifically their `isHighlightedProperty` value.   Slider adds the DragListener to the thumb, SliderThumb adds its own DragListener. These listeners are currently not part of the public APIs.

@jonathanolson and I also considered added in `is

[2021-01-27 20:04] jessegreenberg commented on #669
Changes look good, and see the change at 278bd57e33ca0bf57ed770e8eafb4b5e6a678ee2.

I am curious though if this could have been handled by the `roundToStepSize` option. I reviewed https://github.com/phetsims/ratio-and-proportion/issues/175 and it seems similar to the behavior in ohms-law, where you can drag the sliders outside of the keyboard step intervals with a mouse, but next alternative input

[2021-01-27 20:06] jessegreenberg commented on #669
Also, `setMapValueFunction` is unused should that be removed now?

[2021-01-27 20:19] pixelzoom commented on #680
Done in the above commit.  @jonathanolson would you mind doing a quick review, since you and I discussed this?

[2021-01-27 21:11] jonathanolson commented on #680
Looks great to me! Thanks.

[2021-01-27 21:11] #680 closed

[2021-01-27 21:31] jonathanolson commented on #676
Also, for anyone else cherry-picking things in for maintenance, do NOT cherry-pick just 361385e82e35a8a084b34d57a9d7f06ba74a85e2 (it includes a lint error, and threw a wrench in the automated process). Include the following commits in order:

- https://github.com/phetsims/joist/commit/361385e82e35a8a084b34d57a9d7f06ba74a85e2
- https://github.com/phetsims/joist/commit/c41bd915e65e6308630b823f0c0dfb

[2021-01-27 23:07] jbphet commented on #672
Follow up note: There has been some work on pickability in input events over the last few days, and I checked in with @jonathanolson as to whether the code that was added to `Carousel` to set the foreground's pickability should stay or go.  He said (over Slack): "It should definitely be left, unless you want the foreground to intercept events.  I can clarify more at dev meeting (hopefully we'll be

[2021-01-28 03:29] zepumph commented on #669
Yeah good idea. Let's simplify the API as we can. No need to add mutation until there is a good reason to.

[2021-01-28 03:31] zepumph commented on #669
roundToStepSize is not quite enough functionality, because for Ratio and Proportion we needed to also support snapping directly to a value in between snaps that would create the "in proportion" state. That was important for usability and modality equity.

Anything else here?

[2021-01-28 17:11] pixelzoom commented on #614
I'll take over this one.

[2021-01-28 17:18] jonathanolson commented on #543
We're un-assigning this, whenever Dialog work is started again, we should include this. See https://github.com/phetsims/sun/issues/433

[2021-01-28 18:11] jonathanolson commented on #462
That seems like a SceneryEvent feature, but `targetNode` can also be used. Might be good to have a call if I can help!

[2021-01-28 18:16] zepumph commented on #672
Related to https://github.com/phetsims/sun/issues/676

[2021-01-28 18:17] zepumph commented on #676
We discussed this today during PhET-iO meeting, we determined that this doesn't block publication of Gravity and Orbits. @jonathanolson will create an issue specific to what he wants to discuss in terms of "the future of pickability." This issue though is ready for close.

[2021-01-28 18:17] #676 closed

[2021-01-28 19:11] pixelzoom commented on #673
scenery-phet demo is currently at the limit of 6 screens. But that limit is a bug, not a features, see https://github.com/phetsims/joist/issues/673.

[2021-01-29 17:20] samreid commented on #291
I added documentation in the design patterns doc, and I should also note that usage of `enabledProperty` significantly changed since we factored it out to scenery.  Closing.

[2021-01-29 17:20] #291 closed

[2021-01-29 22:48] zepumph opened #681 "AccessibleValueHandler should not set a default aria-valuetext"
I think this will be a better solution that what was originally done over in https://github.com/phetsims/ratio-and-proportion/issues/283#issuecomment-760350874. I think that that bug was because we were just setting the valuenow as a string in the valuetext. That doesn't seem valuable at any rate. Let's see if we can get away with no valuetext unless it would add something more than just the value

[2021-01-30 00:48] zepumph commented on #681
I used this patch to test this out, and it gave percents again, so I'm bailing. Closing

[code]

[2021-01-30 00:49] #681 closed

[2021-01-30 01:32] zepumph opened #682 "Should a11yCreateAriaValueText be required to prevent description percents on iOS?"
From https://github.com/phetsims/ratio-and-proportion/issues/283, my findings were basically that any AccessibleValueHandler that we want to support for Interactive Description needs to pass in a a11yCreateAriaValueText that differs from the current value. In that sim-specific issue, we got around this by spelling out the number as a word. I'm not sure if this is the most maintainable, but it fixe

[2021-01-30 02:13] samreid commented on #641
The TinyProperty method seems necessary.  Please feel free to commit that or let me know if you prefer me to.

The assertion in Node seems like it may trigger some false positives on CT, where a DerivedProperty is passed in but never attempted to set.  Perhaps the assertion error we already have in DerivedProperty is already appropriate?

[2021-01-30 02:49] zepumph commented on #641
I used this example to understand what you were saying about the assertion in Node.

![image](https://user-images.githubusercontent.com/6856943/106344932-1fcbe680-6259-11eb-9e96-b917d5dc8852.png)

This issue was created to handle enabledProperty though. It seems like a large amount of enabledProperty work has occurred since this issue was created, and onEnabledChange has been refactored substantia

[2021-01-31 23:19] samreid commented on #641
My apologies, I'm not following the previous comment.  If I apply the patch, and click Components => Time Control Panel => enabled, then I get this error:

This error seems to be expected, but I think I didn't follow the point.

Are you picturing something at the moment, or for potential future use?

[2021-02-01 00:21] pixelzoom commented on #614
@zepumph I think `expandedProperty` should be reset only if it was created by AccordionBox, for the same reason that it would be disposed only if created by AccordionBox.   And that brings up another point -- AccordionBox `dispose` is not cleaning up the `expandedProperty` that it creates -- worthy of a new issue or address here?

[2021-02-01 01:12] zepumph commented on #614
Here seems good to me.

[2021-02-01 19:29] jessegreenberg commented on #682
Instead of requiring this maybe we could try a different default function for a11yCreateAriaValueText. Rather than just toString we could try adding an extra 'hairspace' to support _a11yRepeatEqualValueText?

However, if Apple has decided that the best output for sliders is to report the percentage, would it be acceptable for PhET to allow it unless it is pedagogically problematic? Or we could sub

[2021-02-01 19:43] zepumph commented on #682
To me the subtext of this issue is that PhET is using the wrong HTML input. Ideally it would be number instead of range, since range conveys percentage semantics, at least in many cases. NumberPicker is not meant to be used in a percentage case, so I don't think that a default of allowing percentages makes too much sense. In a perfect world, we would probably be using type `number`, but I don't th

[2021-02-01 20:51] jessegreenberg commented on #682
I agree, that makes sense to me.  Thanks for checking the hairspace workaround. In my opinion requiring a map that would often just be from number -> numeric word is a last resort. I would be more interested in maybe trying a different HTML element, if this is evidence that slider is semantically not a good fit for NumberPicker. Maybe that means having AccessibleValueHandler support more than `inp

[2021-02-01 21:19] zepumph commented on #641
Right, I don't think there should be an enabled-specific error when you try to set enabled, it just throws the general one in `DerivedProperty.set()`. Because you tried to set a DerivedProperty

My thought was that there may be cases that want to be general and graceful to unsettable Properties. In my example above, I was able to control enabled by setting window.property. I didn't try to set the

[2021-02-01 21:27] zepumph commented on #682
This code in handleInput makes me worried that we would not be able to use too much of the same code if we went with `inputType:'number'`:

https://github.com/phetsims/sun/blob/af5112a29abc017b3c575657bf415acf0f4f9b10/js/accessibility/AccessibleValueHandler.js#L658-L664

but even before that, inputType:'number' is a completely different UI, which allows for typing in numbers directly (which aren't

[2021-02-01 23:08] samreid commented on #641
We may have opportunities to use a graceful guard like you described.  In the same way, if we redo the inheritance hierarchy to be:

[code]
we may have common code that takes a parameter type `AbstractProperty` and checks instanceof to see if we want to try to set it.

Anything else to do on this issue at the moment?

[2021-02-01 23:16] zepumph commented on #641
I don't think so, perhaps a new issue to encapsulate Property hierarchy refactoring, and then perhaps close this issue?

[2021-02-01 23:24] jessegreenberg commented on #682
I agree, I don't think we can use inputType: 'number' for the reason you described. That input also has native keyboard input that I recall being tricky to prevent.  I was thinking we might either create something new with a `div` and `aria-roledescription` or maybe put the arrow buttons back in the navigation order. But I am also happy to create a new issue and defer.

[2021-02-01 23:28] zepumph commented on #682
I really feel like the problem doesn't outweigh the cost of a solution at this time. I'll make a new issue.

[2021-02-01 23:28] #682 closed

[2021-02-01 23:33] zepumph opened #683 "Rewrite NumberPicker PDOM implementation"
From https://github.com/phetsims/sun/issues/682, input type range was being described in percents on iOS + VO. This was only when the aria-valuetext was not being overridden by individual instances. The larger solution would be to create a new implementation for NumberPicker, that isn't quite `range`, but also is not `number`, since that uses keyboard number input in a way that is challenging to p

[2021-02-01 23:43] jessegreenberg commented on #683
Sounds good.  I also wanted to point out that @zepumph tried to modify the aria-valuetext content to try to prevent the value from being read as a percentage (https://github.com/phetsims/sun/issues/682#issuecomment-771109734).

The change may be creating a custom `div` described as a number input wth `aria-roledescription`, or create a composite component that added the NumberPicker buttons back t

[2021-02-02 02:44] samreid commented on #641
Thanks, I opened a new issue, closing.

[2021-02-02 02:44] #641 closed

[2021-02-02 18:52] pixelzoom commented on #614
The first commit above addresses `reset`.  `expandedProperty` is reset only if we own it.

The second commit above addresses `dispose`.  `expandedProperty` was indeed being cleaned up properly.  I did not recognize the unusual dispose pattern being used here (and Emitter instead of `disposeAccordionBox`).   No changes were needed, but I added documentation for `disposeEmitterAccordionBox`.

I don'

[2021-02-02 19:22] zepumph commented on #614
This issue was likely caused by my usage over in MyChallengeAccordionBox, which uses the default AccordionBox expandedProperty, so I think your change won't break anything there.

I searched for `accordionbox.reset` case insensitive and found GAS_PROPERTIES/SpeedAccordionBox  and KineticEnergyAccordionBox passing in an expandedProperty, no other accordionboxes being reset passed in their own expan

[2021-02-02 19:32] pixelzoom commented on #614
All looks well in gas-properties.  Closing.

[2021-02-02 19:32] #614 closed

[2021-02-08 19:04] jessegreenberg commented on #669
OK, thanks for clarifying, understood. Closing.

[2021-02-08 19:04] #669 closed

[2021-02-10 03:33] pixelzoom commented on #48
I recall this issue being discussed during a project planning meeting, but I don't see any notes from that meeting here. My recollection is that @kathy-phet asked @jonathanolson if he could explore some of the ideas that he had in mind.  But I don't recall what was decided -- Is @jonathanolson going to do that? How much time? When will he bring ideas back to the subgroup?...

@kathy-phet @jonathan

[2021-02-10 05:02] kathy-phet commented on #48
Yes, Q1 goal is for @jonathanolson to spend up to 20 hours on exploration of approaches and share his findings/proposed directions with devs for feedback by end of March.

[2021-02-11 18:16] samreid commented on #673
Dev meeting:

@pixelzoom: This probably doesn't warrant a scrollable combo box
@zepumph: a vertical carousel could work instead?
@pixelzoom: that sounds great, I'll fix it for the demo screen view.
@zepumph: you can also use a button that pops up the carousel
@pixelzoom: let's just have it always showing.  I'll volunteer to work on this for the demo harnesses. DemoScreenView will address this.

[2021-02-11 23:48] pixelzoom commented on #673
I created `CarouselComboBox`, a combo box that pops up a carousel, and was able to reuse `ComboBoxItem`, `ComboBoxButton`, and `Carousel`.   I'm certainly open to renaming this. And for now it lives in sun/demo/, since it's use is intentionally limited to DemoScreenView.

Tested in all Screens that extend DemosScreenView (sun, scenery-phet, bamboo, tambo, function-builder).

Over to @zepumph for r

[2021-02-11 23:49] pixelzoom commented on #673
Example screenshot, from scenery-phet demo's _Components_ screen:

<img width="643" alt="screenshot_862" src="https://user-images.githubusercontent.com/3046552/107713731-1eeb7980-6c89-11eb-8fc6-0591ef5b8943.png">

[2021-02-12 19:51] zepumph commented on #673
Looks really, really nice. Well done. I personally would want to see a PageControl accompanying the Carousel (for framing how many items there are), but see that that is not built into the Carousel type, and so may be challenging to add to this ComboBox implementation.

I see you put the type inside the `demo/` directory, which I understand to mean that you don't think this is ready for production

[2021-02-12 20:52] pixelzoom commented on #673
I'll keep this open for a little bit and mull over the possibility of adding the page controls.  @zepumph I saw that you did that in Interaction Dashboard.   If I made that change, and moved to top-level of sun, could you use it in Interaction Dashboard?

[2021-02-12 21:30] zepumph commented on #673
Yes definitely. Though that data visualization project isn't in active development, I'd be happy to add it to help make CarouselComboBox.js more robust.

No pressure either way.

[2021-02-12 21:30] zepumph commented on #673
In that sim, it was vital because of how many items were in the list.

[2021-02-15 18:12] pixelzoom commented on #673
Summary of changes:

* Added PageControl
* Fixed order of subcomponent disposal
* Factored out inner class CarouselItemNode
* Moved CarouselComboBox to sun/js/

Back to @zepumph for review, and possible integration into Interaction Dashboard.

[2021-02-15 18:33] pixelzoom opened #684 "clean up 'Buttons' screen in sun demo"
ButtonsScreenView is getting to be a bit of a mess, particularly the layout code. I'm going to make it extend DemosScreenView, and select the type of button that you're interested in (push button, radio button, toggle button, momentary button,...)

Before doing this work, I published [1.0.0-dev.15](https://phet-dev.colorado.edu/html/sun/1.0.0-dev.15/phet/sun_en_phet.html).

[2021-02-15 19:39] zepumph commented on #673
Excellent looking stuff. I used it in interaction dashboard successfully. It looks much nicer than my hacked button + carousel before.

Because CarouselComboBox doesn't support a list parent, I did some hackary with an HStrut placeholder, otherwise opening up the combobox would push all the other data down to be parallel with the bottom of the open carousel list. I spent about 10 minutes trying to

[2021-02-15 20:16] pixelzoom commented on #684
Work is done. Screenshot below shows the 4 demo categories available in the combo box.  I also cleaned up handling of `enabledProperty` so that a Property is passed via options to each button, instead of having a giant listener that has to know about every button and set each `enabled` value.

I'm not going to request a review because this is demo app.  But I will do a PSA on Slack dev-public chan

[2021-02-15 20:16] #684 closed

[2021-02-15 20:20] pixelzoom commented on #673
👍🏻

[2021-02-15 20:20] #673 closed

[2021-02-17 04:30] samreid commented on #121
During review of the PlayControlButton, we noticed this code:

[code]

That is, the listener is always added, but conditionally removed. I noticed there are 3 commits in this issue with the commit message:

Are all of those checks necessary?  Are some of them potentially hiding a problem?  We can open a new issue for investigation if desired but I thought I would start here for context.  @pixelzoo

[2021-02-17 05:57] pixelzoom commented on #121
They were necessary at one time.  It used to be the case that `unlink` threw an assertion if the listener was not a listener.  So if you added a listener to a Property that you didn't own, you needed to check `hasListener` because the owner might have disposed that Property before you were disposed.

That apparently changed at some point, see TinyEmitter `removeListener`:

[code]

No, I don't thin

[2021-02-17 19:18] samreid commented on #121
Thanks for the explanation.  Also, I hadn't noticed that `isPlayingProperty` is passed in to PlayControlButton and hence is not owned.  Closing.

[2021-02-17 19:18] #121 closed

[2021-02-22 06:20] jonathanolson commented on #48
I think it would be good to have a call with @samreid and @pixelzoom to show my prototype work and discuss. If that sounds good, let's schedule something!

Notably I've arrived at 3 main tools:

1. A way of expressing manual constraints which will automatically update, AND will handle coordinate transforms transparently, e.g.:

[code]

Systems can be constructed with multiple manual constraints. B

[2021-02-22 15:28] samreid commented on #48
A few questions based on a quick read-through:

1. What will happen if you create a cycle using `ManualConstraint`?  Stack overflow?
2. What are the relationships between (1), (2) and (3).  Is one of them implemented using the other?  Are they all independent?
3. Should we ask how much the memory footprint increases by adding `layoutOptionsChangedEmitter` and `layoutOptions` to every Node?  I reca

[2021-02-22 15:41] jonathanolson commented on #48
Yes pretty much. Auto Layout does handle "trying to satisfy multiple constraints as best as possible", but I've read it seems very hard to predict/debug.

Independent.

I don't mind looking, but I believe it's likely to be not much and worth it to me.

It's still fairly prototyped. I'd ideally like to see if the API/design should have changes (and I have a few pointed questions) before refining th

[2021-02-23 02:29] zepumph opened #685 "Convert usages of ValueChangeUtterance to use AccessibleValueHander.a11yCreateContextResponseAlert()"
from https://github.com/phetsims/scenery-phet/issues/637.

@jessegreenberg and I think that for simple cases where we need the context response to accompany an interaction driven by AccessibleValueHandler (through aria-valuetext), we can use AccessibleValueHandler instead of implementing our own utterances.

From https://github.com/phetsims/scenery-phet/issues/637#issuecomment-717504764:

I also t

[2021-02-23 19:17] pixelzoom commented on #48
On Slack, @jonathanolson said (presumably about the above commits):

[2021-02-23 21:04] pixelzoom commented on #48
2/23/21 Zoom meeting: @jonathanolson @samreid @pixelzoom

We reviewed @jonathanolson's prototype, and it's looking really excellent.  He kept notes about some suggestons, and will continue to work on it.  When he feels like it's ready, he'll put things in a new scenery/js/layout/ directory, merge to master, and PSA to the dev team.

Still to discuss:
* When/where to start using this in production

[2021-02-23 21:08] pixelzoom commented on #48
In Slack, @samreid said:

Get away from memoize/mixin/trait.
Put preferred size in every node?  Or use a lazy instantiation approach?
We have no schema for checking layoutOptions, right?
Is that a problem?
Could FlowLayout be implemented using GridLayout?
Does ManualConstraint supercede AlignBox?
What should be used instead of VBox/HBox?

[2021-02-24 21:33] jonathanolson commented on #48
These seem like more issues in our IDE, maybe we could fix those? Should ParallelDOM and Paintable and Imageable all also be put in Node? (It would presumably blow up our memory usage, slow things down, and cause maintenance headaches).

It sounds important to be able to check this.

No, they are fundamentally different.

No, ManualConstraint doesn't adjust localBounds. I'd presumably add somethin

[2021-02-25 06:12] arouinfar opened #686 "PhET-iO Design for NumberControl"
Related to https://github.com/phetsims/projectile-motion/issues/244

Here's an example of what the studio tree currently looks like for a NumberControl

<img src="https://user-images.githubusercontent.com/8419308/109109786-31d36480-76f3-11eb-8f67-a7e108eb94a7.png" width=200>

Some of the decisions we made about NumberSpinner in https://github.com/phetsims/sun/issues/575 are appropriate here.
- [x]

[2021-02-25 17:46] arouinfar opened #687 "PhET-iO Design for AccordionBox/ExpandCollapseButton"
Related to https://github.com/phetsims/graphing-quadratics/issues/139

We've reviewed a few PhET-iO sims with AccordionBoxes and/or ExpandCollapseButtons. There have been a few patterns we have seen (and sometimes requested), which we would like to standardize with these components.

The name of the AccordionBox in the tree should be {{title}}AccordionBox, and the underlying property of the Expand

[2021-02-25 19:18] pixelzoom commented on #687
When looking at the default instrumentation of ExpandCollapseButton, keep in mind that it is not used exclusively by AccordionBox.  It is used in other contexts.

[2021-02-25 22:10] jessegreenberg commented on #589
I reviewed the above commits and comments again. I think the concern in https://github.com/phetsims/sun/issues/589#issuecomment-614265318 is that we perhaps didn't think through all the potential problems of passing the `drag` listener from Slider as the `onChange` listener in AccessibleValueHandler.

Looking at where optional `drag` is called in Slider, I think that the current implementation in

[2021-02-25 22:24] arouinfar commented on #686
Discussed with @kathy-phet and @zepumph during the Projectile Motion design meeting, and things looked reasonable to @zepumph. I'm untagging this for phet-io design meeting, and assigning to @zepumph.

[2021-02-26 02:25] zepumph commented on #666
As of 2 seconds ago, we are using inputEnabled instead. see https://github.com/phetsims/sun/commit/1af3a31be1d4807550570e4a157c6f42d8e328cc. Closing (wahoo!)

[2021-02-26 02:25] #666 closed

[2021-03-01 21:24] jessegreenberg opened #688 "branch: preferences"
Same as https://github.com/phetsims/joist/issues/694, but for sun. Mostly involving the change to Popupable.layout so that Popupables can have layout relative to provided Bounds rather than centered in width/height.

[2021-03-09 21:37] jessegreenberg commented on #589
Discussed with @zepumph again - since this issue has been open we haven't encountered any problems with the change, and it is working as expected for existing sliders with description/alternative input. Perhaps there will be a slider in the future where passing the startDrag/drag/endDrag callbacks directly as startChange/change/endChange callbacks will cause a problem and we will address it then w

[2021-03-09 21:37] #589 closed

[2021-03-10 14:54] samreid commented on #687
Self-unassigning until after meeting discussion.

[2021-03-19 19:13] zepumph commented on #631
I hit this today over in https://github.com/phetsims/phet-io/issues/1746. Raising priority, as currently there is some confusing buggy behavior in how enabledPropertyOptions are being passed around. In the ButtonHeirarchy they are for ButtonModel, but Node also accepts enabledPropertyOptions. These need to be split out!

[2021-03-19 20:00] zepumph commented on #631
Options I'm really not excited about doing this for:

* `listener`: To me this refactor would be exposing an implementation detail in order to make the call site (at least one per screen with a `ResetAllButton`) less suave.
* `enabledProperty`. Right now it is a total implementation detail that the ButtonNode passes its enabledProperty option to the ButtonModel before taking that and passing it up

[2021-03-20 01:28] zepumph commented on #631
Snapshot comparison was not clean, so I can't commit right now. Here is the patch that covers everything except for `listener` and `enabledProperty`.

<details>

[code]
</details>

[2021-03-24 23:44] jonathanolson commented on #524
Approach looks great, implementation looks great. Thanks!

[2021-03-24 23:44] #524 closed

[2021-03-25 14:20] jonathanolson commented on #649
Looks great!

[2021-03-25 14:20] #649 closed

[2021-03-25 15:34] jonathanolson commented on #421
Looks good to me!

[2021-03-25 15:34] #421 closed

[2021-03-30 17:06] samreid opened #689 "Carousel Combo Box page control looks odd when there is only 1 page"
Related to https://github.com/phetsims/sun/issues/673 and discovered in https://github.com/phetsims/bamboo/issues/26, the page control looks odd/buggy when there is only 1 page:

![image](https://user-images.githubusercontent.com/679486/113027918-e411a800-9147-11eb-8758-0a3d7140eff4.png)

Assigning @zepumph and @pixelzoom who worked on the carousel combo box and its page control.

[2021-03-30 19:54] pixelzoom commented on #689
Yes, I saw the "1 page" part of the description.   But you didn't say what aspect looks odd.  It sounds like you're only concerned with the page control, but I'm still not sure because you haven't commented on whether the disabled arrow buttons are significant.

If it's only the page control that bothers you....It's trivial to add the page control only if there's > 1 page.  I did just that, then d

[2021-03-30 20:03] samreid commented on #689
Yes, the disabled arrows didn't bother me at all.  I'll take a look at the patch.

[2021-03-30 20:06] samreid commented on #689
I repaired the failing unit test and committed the patch, closing.

[2021-03-30 20:06] #689 closed

[2021-04-06 17:30] pixelzoom commented on #48
This issue hasn't moved since in almost 6 weeks.  Where are we at?

[2021-04-06 17:34] pixelzoom commented on #48
Here's where we're at...

We need to discuss next steps listed in: https://github.com/phetsims/sun/issues/48#issuecomment-784511849

We need to determine if @samreid's questions have been answered/addressed. @jonathanolson answered those questions in https://github.com/phetsims/sun/issues/48#issuecomment-785399207. @samreid does this address your questions, or do they require additional discussion

[2021-04-06 17:41] samreid commented on #48
Those questions have been answered, with some more conversation about trait/mixin continuing in https://github.com/phetsims/phet-info/issues/143#issuecomment-792919089.

Also, would be good to touch base on simple layout problems such as https://github.com/phetsims/sun/issues/48#issuecomment-743275274 now that the layout engine is further along.  For cases like that would we still just manually li

[2021-04-06 20:50] pixelzoom opened #690 "Buggy swapping of dimensions in VSlider"
Related to https://github.com/phetsims/sun/issues/544, and discovered while working on https://github.com/phetsims/dot/issues/108.

There's a serious bug in VSlider, introduced by @zepumph in https://github.com/phetsims/sun/commit/2fb8c041030fa8cd0ce8ac73ff5a79c13742e613 on 12/2/2019.

In VSlider constructor:

[code]

"... because we want to check against undefined and to use Slider.js defaults" m

[2021-04-06 20:56] pixelzoom commented on #690
Oh, I see what's going on here.  Slider expects trackSize and thumbSize to be in horizontal orientation.  So if they are provided for VSlider, swap them to horizontal orientation.   I'll clean up the documentation in VSlider and ComponentsScreenView.

[2021-04-06 21:08] pixelzoom commented on #690
Doc and demo improved, closing.

[2021-04-06 21:08] #690 closed

[2021-04-07 18:13] samreid opened #691 "Add PhET-iO instrumentation to the harness"
This will be used to support `phetioDesigned` API metadata tracking as part of https://github.com/phetsims/phet-io/issues/1750

[2021-04-08 00:17] samreid opened #692 "Eliminate cacheDemos"
From https://github.com/phetsims/sun/issues/386 and discussion on slack, we would like to eliminate `cacheDemos`.

@samreid said:

@pixelzoom replied:

[2021-04-08 01:50] pixelzoom commented on #692
That's not the case.  It defaults to `false` in DemosScreenView.js, and I see no overrides.

[2021-04-08 16:11] samreid commented on #692
Good point, thanks!  I was misled by a change in my working copy.  Closing for now.

[2021-04-08 16:11] #692 closed

[2021-04-09 14:27] samreid opened #693 "Add support for PhET-iO API breaking and design change tracking"
From https://github.com/phetsims/phet-io/issues/1750, we would like to add PhET-iO API breaking and design change tracking to sun.  One of the steps will be instrumenting the demo and some of its components that we want to track.

I reached out to @jonathanolson and @pixelzoom about how DemoScreenView could be adapted to support this, here is our conversation from slack:

Sam Reid  3:44 PM
Hi Chri

[2021-04-09 15:06] samreid commented on #693
I realized we can use `PHET_IO_ENABLED` as the flag to turn on the "create trackable API component" mode.  However, there are several hassles for this.  Generating the API currently requires phetioValidation to be turned on.  I don't think we should add a mode where we can generate an api and opt out of validation, so we'll need to provide Tandem.OPT_OUT in a few places.

[2021-04-09 19:06] samreid commented on #693
@zepumph and I worked on a first version of this today.  Next step will be to commit the API file to phet-io/api and add sun as a stable repo.

[2021-04-12 15:58] pixelzoom opened #694 "Slider PhET-iO problems custom thumbNode and trackNode"
Broken by https://github.com/phetsims/sun/commit/afbfeab5031e1c78bb30a45d2d589c638dd52eb7.

[code]

If you pass in a custom `trackNode` or `thumbNode` via options, they must now have standard tandem names.

Problems:
* This apparently was not tested or fixed for sims that use `trackNode` or `thumbNode`.
* There's no documentation about this with the `trackNode` and `thumbNode` options.
* There are

[2021-04-12 16:01] pixelzoom commented on #694
Sam Reid  9:58 AM
Yes, as the assertion says, it expects the tandem to be “thumb”, not “thumbNode”.  Sorry we neglected to check for inconsistencies before committing.

Chris Malley  9:58 AM
Since the options are trackNode and thumbNode, I think this is a very bad idea.
That violates tandem naming conventions.

Sam Reid  9:59 AM
Are you recommending we change the tandem name to “trackNode” etc?

C

[2021-04-12 16:24] pixelzoom commented on #694
Search for `thumbNode:`, `trackNode:`, `options.thumbNode =`, and `options.trackNode =`, to find usages that need to be inspected and possibly changed.

[2021-04-12 16:53] KatieWoe opened #695 "CT random was called more times in the playback sim on startup"
[code]

[2021-04-12 18:29] zepumph commented on #694
This issue seems to be a great example of how poorly phet-io works with dependency injection. Above is what I was forced to do in order to fix the assertion error in a CL usage.  This is a really really awkward example, perhaps some of the worst we may find for this case. A common code type (ISLCObjectControlPanel) composes a NumberControl, and then a subtype of that panel (ChargeControl) provides

[2021-04-12 21:10] pixelzoom commented on #694
Instead of options `thumbNode` and `trackNode`, you could have functions that create those subcomponents.  Then make Slider responsible for passing the correct tandem to those functions.

[code]

On second thought, I don't like that either.  It really limits the constructor signture for these custom nodes.  For example, in Fourier AmplitudeSlider.js, I have these nested classes for custom thumb an

[2021-04-12 22:49] samreid commented on #694
We discussed creating functions that take a tandem and return a component in https://github.com/phetsims/phet-io/issues/1617 and it was not among our favorites (for that problem).

[2021-04-12 23:14] samreid commented on #694
In the commits, I changed the names, added documentation to indicate the required tandem names, and I visited the instrumented cases at thumbNode:, trackNode:, options.thumbNode =, and options.trackNode =.  @zepumph can you please review?

[2021-04-12 23:41] pixelzoom commented on #694
Two things:

(1) You didn't test. FAMB fails to start in Studio, because of a bug in MotionControlPanel.js.  It's also failing CT.

(2) There are no constants for these standard tandems.  I expected to see something like `Slider.THUMB_NODE_TANDEM_NAME` and `Slider.TRACK_NODE_TANDEM_NAME`.  Instead, literals `'thumbNode'` and `'trackNode'` have been copied everywhere.  Using constants at a call sit

[2021-04-12 23:56] pixelzoom commented on #694
Fixed in the above commits.

Over to @samreid for review.

[2021-04-13 00:01] pixelzoom commented on #694
I agree with @zepumph.  This tandem in ChargeControl.js is awful:

[code]

[2021-04-13 04:03] samreid commented on #694
Thanks for the corrections, the code changes look good and CT didn't indicate any problems related to this, closing.

[2021-04-13 15:15] samreid commented on #695
This is happening because the align box test in screen 2 calls for randomness in stepTimer.

[2021-04-13 15:28] samreid commented on #695
I added a workaround in the commit.  @zepumph can you please review and advise?  It seems the long term solution would be to make sure the stepTimer is called the same number of times in the upstream and downstream sim, but I'm not sure how to do that and this seems to be the only place affected at the moment.

[2021-04-13 17:33] zepumph commented on #694
https://github.com/phetsims/coulombs-law/blob/2518a5cd5fc2649df81ec9fc91cbf5214530cc23/js/common/view/ChargeControl.js#L83

This still seems unacceptable to me, @samreid by closing this issue are you recommending that we keep this line because even though there is duplication we still have an assertion letting us know when it needs to be updated? If you still feel good about it please re-close.

[2021-04-13 17:45] pixelzoom commented on #694
Yeah, I agree with @zepumph.  ChargeControl.js is awful.  Again:

[code]

Besides the verbose grossness...  That `'slider'` literal is copied from line 150 in NumberControl:

[code]

So the code in ChargeControl.js is relying on internal non-public details of  NumberControl.  If that ever changes in NumberControl, someone must know to change 'slider' in  ChargeControl.  That's just not going to ha

[2021-04-13 18:42] samreid commented on #694
Is the proposal to factor out `'slider'` (to sun) and `'numberControl'` (to ISLC) string constants?  Can those be done in a separate issue?  Aside from those two steps, what do you recommend?

[2021-04-13 19:04] pixelzoom commented on #694
No, not quite.

There's no need to factor out `'numberControl'` -- that's a sim-specific choice in ChargeControl.js.

Promoting `'slider'` to a constant belongs in NumberControl, not Slider.  It's a convention of NumberControl that its Slider subcomponent has tandem name `'slider'`.   So something like:

[code]

After that, we end up with this in ChargeControl.js:

[code]

This addresses the possi

[2021-04-13 19:11] pixelzoom commented on #694
Yikes.  Things are even work than I thought in ChargeControl.js.  Again:

[code]

That `'numberControl'` literal must be the same as this over in ISLCObjectControlPanel.js:

[code]

Change on of these and the tandem hierachy is broken.

There are 3 problems here:
* dependency injection
* sloppy copying of tandem name literals
* some really odd code design in this sim

[2021-04-15 15:48] jessegreenberg commented on #534
Looks good, thanks!

[2021-04-15 15:48] #534 closed

[2021-04-15 16:12] jessegreenberg commented on #535
This is a good improvement but has a potential problem because of https://github.com/phetsims/scenery/issues/1137. Since the ComboBox item receives focus when opened with a mouse, it looks selected when focus highlights are invisible. I think this is a problem because setting the highlight for one rectangle does not clear the other. The result can be the following, where focus is on the first item

[2021-04-16 21:13] jessegreenberg opened #696 "Instrument ToggleSwitch with PDOM"
The ToggleSwitch has a requested PDOM representation as
[code]

This much is easy enough. But there is an issue with activating the ToggleSwitch because it uses DragListener and click is specifically disabled with that listener at https://github.com/phetsims/scenery/blob/5120fcc377304ca15532e2ee867c24c87448e71a/js/listeners/DragListener.js#L314-L316 because of https://github.com/phetsims/scenery/i

[2021-04-16 21:47] jessegreenberg commented on #696
Another issue is that DragListener functionality is generally implemented with `start` and `end` options, which currently are not called with PressListener's `click`. To correctly respond, DragListener needs to override `click` and call these functions.

[2021-04-16 22:21] jessegreenberg commented on #696
I did this in the above commits. @zepumph could you please review? In https://github.com/phetsims/scenery/commit/4dd8aa3ad49a9109c7578a6124968df56665bd08 I added click support to DragListener by adding an option called `allowClick` and overriding `click` to support DragListener callbacks. In https://github.com/phetsims/sun/commit/6e99b23a34650ddf7c9152ebd36de3cc332a7d37 I added PDOM to ToggleSwitc

[2021-04-22 20:23] pixelzoom opened #697 "Slider API for sound"
From https://github.com/phetsims/fourier-making-waves/issues/54#issuecomment-825159430:

[2021-04-22 21:10] pixelzoom commented on #697
@jbphet FYI, until the Slider sound API is available, I've implemented crude non-pedagogical for amplitude sliders in Fourier.  It uses the same sounds as WaveInterfereSlider (at the request of Fourier design team).

[2021-04-22 22:46] zepumph commented on #696
Review:

* Would `PressListener.click()` return false if `this.canClick()` was false?

* is `allowClick` basically just us treating the DragListener like a "pdom-only PressListener"? That feels a bit strange to me, perhaps a name that suggests general pdom support for the DragListener, like `overridePDOM:true` (i don't like that). Or maybe just name it to be the same as the function `canClick: tru

[2021-04-22 23:39] zepumph commented on #535
Sounds good. On hold until https://github.com/phetsims/sun/issues/462 is done.

[2021-04-26 17:57] pixelzoom commented on #697
See https://github.com/phetsims/wave-interference/issues/523 for some question about WaveInterferenceSlider.js that might inform the Slider sound API.

[2021-04-26 22:05] pixelzoom opened #698 "Slider keyboard "step" options don't work if their value is smaller than constrainValue step."
In Fourier, I have amplitude sliders that I want to configure like this:

[code]

The designers want dragging constrained to STEP - no intermediate values.  This was working great until I added the PDOM options, and discovered that `options.constrainValue` is also passed to AccessibleValueHandler. For Slider.js:

[code]

So `shiftKeyboardStep` is not working, because it's value is smaller than STE

[2021-04-27 17:36] zepumph commented on #698
What a fun problem. We, in the past, have had good success using these two options in combination, like using constainValue to appropriately round all step sizes. Is there a patch/commit for a component that I could play around with before recommending a path forward?

[2021-04-27 17:42] pixelzoom commented on #698
The example code in https://github.com/phetsims/sun/issues/698#issue-868238784 is a simplified version of fourier-making-waves AmplitudeSlider.js, where you'll find this TODO:

[code]

[2021-04-27 18:15] Ashton-Morris commented on #697
A lot of sliders end up having a pedagogical need, but for the ones that don't I feel that the Waves Intro slider UI sound would work well as a default.

https://phet.colorado.edu/sims/html/waves-intro/latest/waves-intro_en.html

[2021-04-27 18:35] pixelzoom commented on #697
Indeed. From https://github.com/phetsims/fourier-making-waves/issues/54#issuecomment-820753954:

And the currently implementation of fourier-making-waves/AudibleSlider uses the same sounds and behavior as WaveInterferenceSlider.js.

[2021-04-27 21:32] jbphet commented on #697
@Ashton-Morris and I discussed this in the 4/27/2021 sound design meeting, here are our initial thoughts:

- We should probably support discrete and continuous modes.
- In the discrete mode, if tick marks are specified, we should play sounds that match them, i.e. are played each time a tick mark is crossed.
- Use the sounds currently used for Wave Interference.
- The clicks should be the default.

[2021-04-27 21:56] pixelzoom commented on #697
Don't forget to consider the Slider track.  Clicking on the track moves immediately to that value.  Does that need a sound?  How does that work with discrete vs continuous?

[2021-04-27 23:58] jbphet commented on #697
@Ashton-Morris - Can you comment on @pixelzoom's question just above?  I don't think we have considered this much in previous designs.  In Waves Intro there doesn't appear to be a sound at all.  In Molarity, it makes a single sound for the new position, which seems quite nice.  In Gravity Force Lab it activates the continuous sound for a short time (and I know this isn't coming directly from the s

[2021-04-28 00:19] pixelzoom commented on #697
I noticed the lack of a sound for the track when I was implementing sound for Fourier's amplitude sliders, and patterning it on the sliders in Waves Intro / Wave Interference - which as you noted, does not support sound for the track.   It wasn't clear to me how I'd even implement sound for the default slider track on the client side.  Fourier has a custom slider track, so I can do anything I want

[2021-04-28 01:55] zepumph commented on #698
The "high" priority label is for me to get to it anytime in the next 2 weeks. Feel free to remove if @jessegreenberg is able to answer your questions.

[2021-04-28 18:48] samreid commented on #693
Since we will use the `phetioDesigned:true` approach as part of https://github.com/phetsims/phet-io/issues/1758#issuecomment-828694118, we will immediately have coverage of lots of common code components from the 5 api-stable sims.  In the future, we can improve on this test harness for when we have instrumented components that aren't exercised in a `phetioDesigned:true` sim (or exercised in a cer

[2021-05-03 20:26] zepumph opened #699 "RadioButtons: use labelContent for voicing name response"
From https://github.com/phetsims/ratio-and-proportion/issues/384, it seems that we can get an on-focus object response put into common code for all radio buttons. For selection, we usually defer to the usage to implement (for interactive description and voicing), but it should be easy enough to use labelContent to supply the voicing object response.

I'll do this for aqua and rectangular radio but

[2021-05-03 20:57] zepumph commented on #699
This went smoothly for RectangularRadioButton. I committed the simple line change above. @jessegreenberg it would be good to take a look at that to confirm.

It was much weirder for AquaRadioButton.  I made a patch below to note my progress. It is not a ButtonNode, so I tried to compose Voicing into AquaRadioButton.

The issue was that upon selecting new items with arrow keys, the next  AquaRadioB

[2021-05-03 22:18] zepumph commented on #699
Actually, @jessegreenberg and I just paired and this does in fact block Ratio and Proportion. I found that RectangularRadioButton was also getting these focus callbacks, but the Property lazyLink voicing utterance was overwriting it immediately.

[2021-05-03 23:28] zepumph commented on #699
@jessegreenberg and I discussed, and feel like it makes sense that the object response for the buttons would always be on focus, even on activation. After the above bug fix, we are able to use `cancelOther: false` to allow both the object response from the focus listener and the context response from the Property listener.

This is a bit inflexible, but I would like to see how far we can get with

[2021-05-03 23:31] zepumph commented on #699
ARG!! @jessegreenberg I just realized this approach won't work for mouse/interactive highlights to give the object response. I'll keep thinking about it. I can't think of a way to have focus take the object response until it "can't." And then to have the Property handle it instead.

[2021-05-04 15:02] Ashton-Morris commented on #697
For clicking on the track I feel that a single "middle slider sound" like the ones on the waves intro slider would be sufficient.

For continuous sounds I am not sure. My instinct is that if we had a short sample of the continuous slider sound play after clicking it would sound out of place.

[2021-05-04 16:42] jessegreenberg commented on #699
I guess in this case we need the object response on both focus and down. This wouldn't work after what was proposed in https://github.com/phetsims/scenery/issues/1217, but would it work if you removed the check for `event.type === 'focus'` in https://github.com/phetsims/sun/commit/861e30d87b75b71e7e0608f30176759249977f6a?

You would get the object response on press and on focus. Then the context r

[2021-05-06 01:09] zepumph commented on #694
Yes but it is a loud error, because we are testing for equality in places like https://github.com/phetsims/sun/blob/1c65b742f539ae32e4cfc4ebd0410470dcb7c3d8/js/Slider.js#L201-L205, so presumably it would be simple enough to handle as we went. Even so I elected to create a couple more constants for clarity.

[code]

Anything else here? Feel free to close @pixelzoom.

[2021-05-10 22:39] zepumph commented on #686
It is unlikely that I get to this before my June vacation, coassigning.

[2021-05-10 23:17] zepumph commented on #694
The commits above factored out duplicated tandem names into constants to fix the gross line in ChargeControl. It used the same pattern that you used for Slider tandem names (like the second checkbox in https://github.com/phetsims/sun/issues/694#issuecomment-818312613).

[2021-05-10 23:30] pixelzoom commented on #694
Thanks for clarifying.

So we went from this:

[code]

to this:

[code]

This likely does not address your comment in https://github.com/phetsims/sun/issues/694#issuecomment-818917012, but I don't have any other suggestions. It's still gross, but less likely to get broken now that you're using constants.

I don't see anything else that needs to be done here, so closing.

[2021-05-10 23:30] #694 closed

[2021-05-17 17:14] pixelzoom opened #700 "Opening a modal popup should interrupt other user interactions"
Opening a modal dialog does not currently interrupt other user interactions. For example, with multitouch, I can be dragging a slider, open a modal dialog, and continue dragging the slider.  And it does not seem like this should be the responsibility of the client.

A modal dialog is (by definition) supposed to prevent the user from interacting with the reset of the application until the dialog is

[2021-05-17 17:45] pixelzoom commented on #700
Dialog extends Popupable( Panel ).  Popupable calls phet.joist.sim.showPopup.   So Sim `showPopup` is where this should be handled.

[2021-05-17 17:49] pixelzoom commented on #700
The first thing I did (in the above commit) was to clean up Sim `showPopup` and `hidePopup`.  Specifically, I renamed parameter `node` to `popup`, and improved the overall documentation.

[2021-05-17 17:58] pixelzoom commented on #700
I added `this.rootNode.interruptSubtreeInput` in the above commit, and that seems to have the desired effect.  I'm not certain, but I probably also could have called `this.display.interruptInput`.

@jonathanolson please review, feel free to change if there's a better way.  High priority, since this is a change to Sim.js.

[2021-05-19 17:56] jonathanolson commented on #700
Looks great to me, and looks like the right approach. Thanks!

[2021-05-19 18:13] #700 closed

[2021-05-25 16:09] zepumph opened #701 "public Emitters from input needed in code code"
While discussing https://github.com/phetsims/ratio-and-proportion/issues/380 with @jessegreenberg, @samreid, and @jonathanolson, we realized the need for being able to subscribe generally to when input occurs in common code, and not just when/how the underlying Property changes.

We looked at Checkbox in particular and came up with this patch.

<details>
<summary>Checkbox updates with a usage in R

[2021-05-25 16:17] zepumph commented on #701
This is just high priority for me, not for the project.

[2021-05-28 16:00] terracoda commented on #699
@jessegreenberg, have we solved this issue by creating the "Name Response"?
On click or upon focus, the user will always get the Name Response, and then also get the Context Response of that checkbox is checked?

[2021-05-28 20:02] pixelzoom opened #702 "Rename AccessibleValueHandler option `keyboardStep`"
AccessibleValueHandler option `keyboardStep` needs a new name and revised documentation. It is not specific to keyboard and works for other alternative input devices.

<details>
<summary>Slack thread</summary>

Chris Malley  1:50 PM
Question about these Slider options: `keyboardStep`, `shiftKeyboardStep`, `pageKeyboardStep`.  Are they keyboard-specific, or do they determine the step for other inpu

[2021-05-28 20:04] pixelzoom commented on #702
While we're at it.... Are there other classes that have similar "keyboard" options that should be renamed?

[2021-05-28 20:16] jessegreenberg commented on #702
Was brainstorming different names:
[code]

I like `accessibleValueStep` because it is clearly specific to the trait. I could imagine collisions with `inputStep` and `valueStep` someday.

[2021-05-28 23:08] pixelzoom commented on #698
I'm going to rename this issue, because the problem is not specific to `shiftKeyboardStep`.   It will be a problem for any step options that has a smaller value than the step used by `constrainValue`.

[2021-05-29 00:35] jessegreenberg opened #703 "Reconsider the API for Slider so that it supports all forms of input"
From a slack discussion and out of https://github.com/phetsims/sun/issues/702, there was a suggestion to reconsider the API of Slider for all types of input. For mouse/touch the value during drag is constrained just with `constrainValue`. AccessibleValueHandler, which is used by Slider, provides `keyboardStep`, `shiftKeyboardStep` and `pageKeyboardStep`. But the latter three options are independen

[2021-06-01 17:48] pixelzoom commented on #703
Here's another issue with "step size".   If we're not clear about the meaning of "step" options, and don't carefully consider all forms of alternative input, we run the risk that some users will not be set some values.

As @emily-phet mentioned on Slack, PhET sometimes uses a `keyboardStep` size that is larger than the mouse/touch step size, because it would be inefficient to use an alternative in

[2021-06-01 18:33] pixelzoom opened #704 "NumberSpinner support for "step" options"
For Fourier, the "step size" for NumberSpinner is specified by @arouinfar in https://github.com/phetsims/fourier-making-waves/issues/53#issuecomment-846284868:

I tried passing there options to NumberSpinner:

[code]

... and received this assertion failure:

    at window.assertions.assertFunction (assert.js:25)
    at new NumberSpinner (NumberSpinner.js:238)
    at new HarmonicsSpinner (Harmonic

[2021-06-02 16:38] terracoda commented on #703
@pixelzoom, are you thinking switch access like sip 'n puff, perhaps mouth sticks (though mouth stick users typically use their sticks on a keyboard), and perhaps swipe and tap on iOS with VoiceOver.

It might be nice to list out what inputs we are trying to cover - what do we think of as alternative input.

The arrow buttons in GFL's combined slider and number picker was indeed not needed for ful

[2021-06-02 21:06] pixelzoom commented on #703
I didn't have any specific input devices in mind.  But the goal is presumably to design an API that accommodates more than just keyboard input.   The current API for Slider has a problem in that regard - described in https://github.com/phetsims/sun/issues/703#issuecomment-852325705 - in that the API does not provide consistent "step" support for all forms of input (alternative and otherwise).

[2021-06-02 21:12] emily-phet commented on #703
@terracoda I think @pixelzoom is trying to identify, and then to avoid or address, situations where the implementation is being input specific - or overly input specific - when it doesn't need to be. Not quite the same thing as tackling expanding a specific interaction design for a specific input method, but helpful in moving in that direction.

@pixelzoom Just trying to help bridge the discussion

[2021-06-02 21:20] pixelzoom commented on #703
Yes, precisely @emily-phet. Thanks for clarifying.  I'm not suggesting that PhET needs to be be actively testing with or supporting other devices.  But the programming APIs should be generalized (not device specific) where possible, so that supporting future devices is less of a burden.

[2021-06-02 21:24] pixelzoom commented on #703
... and not to harp on the same issue.  But https://github.com/phetsims/sun/issues/698 is an example where the Slider API is causing problems because it is unable to handle "step" for mouse/touch and keyboard.   The options for mouse/touch are currently at odds with the keyboard options.  The root of this problem is that the options are device specific, instead of generalized to meet the needs of

[2021-06-03 21:48] samreid opened #705 "Use anonymous class for Popupable"
During https://github.com/phetsims/tasks/issues/987, I used this tsconfig.json file to run tsc on our java code, from scenery-phet:

<details>

[code]

</details>

It reports 2 errors:

[code]

This feels like a bug in the `tsc`, but we can easily work around it by using the anonymous method we use elsewhere for our mixins.  I'll make that minor change shortly, but just wanted a paper trail about

[2021-06-03 22:04] samreid commented on #705
The commit fixes problem with `tsc` and matches our convention in other places, closing.

[2021-06-03 22:04] #705 closed

[2021-06-05 11:54] terracoda commented on #703
I would love to generalize :-)
We added keyboard steps because the original slider design was mouse and touch specific.
Totally onboard for one thing that has options that handle the needs of all inputs.

The user experience needs are different for different inputs which makes it challenging to step back and see what we can do to support them all.

Love the discussion and the effort going into thi

[2021-06-07 16:54] pixelzoom commented on #704
We are not going to use this feature for Fourier.

[2021-06-07 17:06] pixelzoom commented on #703
Raising the priority of this, because I currently cannot meet the requirements specified for Fourier.

[2021-06-07 17:35] pixelzoom commented on #698
@arouinfar and I were trying to figure out why this doesn't seem to be a problem in GFL.  I found this in NumberControl.js:

[code]

It's circumventing `constrainValue` when the Shift key is down.  This must have been added as a workaround for GFL.  This has no business being in NumberControl, it belongs in Slider.

[2021-06-07 18:26] pixelzoom commented on #698
I asked:

Looking at commit messages... This identical issue was discussed and addressed by @zepumph and @jessegreenberg  in https://github.com/phetsims/scenery-phet/issues/528.  But for some reason, all of the work was done in NumberControl, and the identical problem wasn't addressed in Slider.   Do either of you recall why the Slider-specific stuff (like the code shown above) was not done in Sli

[2021-06-08 22:14] jessegreenberg commented on #704
I tried to clarify some of this by improving the documentation in https://github.com/phetsims/sun/commit/4f8c4f4258f9d98e5ff04400fcc815b9466bf5b2. @pixelzoom can you please review, does this answer questions?

 What is the expected behavior with Page? It currently moves between the 2 arrow buttons.

`pageKeyboardStep` is allowed for NumberSpinner and it is working as I would expect. I just tried s

[2021-06-09 17:37] jessegreenberg commented on #698
This much was done in the above two commits, moving the check for `shiftKeyDown` to AccessibleValueHandler and removing it from NumberControl. I tested the case in Fourier and it is working as expected, and checked a number of things using AccessibleValueHandler (NumberControl, sim sliders, NumberSpinner, hands in ratio-and-proportion, appendages in john-travoltage).

@pixelzoom could you please r

[2021-06-09 17:47] pixelzoom commented on #698
Looks great, thanks @jessegreenberg.  I tweaked one comment in the above commit when something non-optional was still documented as "optional".    Tested in Fourier and GLF, and everything is working as expected/desired.

Closing.

[2021-06-09 18:19] pixelzoom commented on #704
Thanks @jessegreenberg, the improved documentation is helpful. It tells me that the intent is to have the ArrowButtons handle step size.

But I'm still not clear on:

* How do I set `keyboardStep` and  `shiftKeyboardStep` for the ArrowButtons? There's no API to pass these options to its ArrowButtons. Shouldn't ArrowButton options be combined into `options.arrowButtonOptions`?
* Why isn't `pageKeyb

[2021-06-09 19:35] pixelzoom commented on #698
Reopening. Because `constrainValue` is now specific to mouse/touch, there is some documentation of options that needs to be revised,

This:

[code]

and:

[code]

and:

[code]

I'll make a pass at revising, then assign to @jessegreenberg for review.

[2021-06-09 19:38] pixelzoom commented on #698
Oh wait. `constrainValue` is not mouse/touch specific.  It's currently ignored only when the Shift key is down.   Hmm.... maybe we should just leave the doc as is for now?  @jessegreenberg what do you think?

[2021-06-09 19:42] pixelzoom commented on #698
Regardless of whether the doc gets changed, this issue should be left open.  There's a workaround for `shiftKeyboardStep`, but the other 2 options could still be a problem (though unlikely).

Something should also be added that verifies that:

shiftKeyyBoardStep < keyboardStep < pageKeyboardStep

[2021-06-09 19:54] pixelzoom commented on #702
Also need to validate that:

shiftKeyboardStep < keyboardStep < pageKeyboardStep

[2021-06-09 20:01] pixelzoom commented on #702
@jessegreenberg said:

I agree -- it's specific to AccessibleValueHandler, so `accessibleValueStep` makes for a nice programming API.   I realize that there were other suggestions in a Slack discussion, but I think that the name should be informed mainly by the programming API in this case.

[2021-06-10 02:29] jessegreenberg commented on #698
Thanks, I updated the documentation for the option to make it clear there.

I am seeing a couple of CT errors related to this change.
[code]
Because `constrainValue` isn't being used when shift is down, it requires that a `shiftKeyboardStep` be specified and that it adheres to the NumberProperty's validation.

[2021-06-10 03:04] jessegreenberg commented on #698
Oops, this workaround was also in the wrong spot. Just checking for whether the shift key was down means that we aren't using `constrainValue` when shift is down other keys like home or end. The above two commits fixed the CT errors, @pixelzoom please be aware of https://github.com/phetsims/fourier-making-waves/commit/8d482bc84fd8cacd2d3b7f5aa7cce81f16f81a2e to Fourier.

[2021-06-10 16:15] jessegreenberg commented on #698
CT is stable now, @pixelzoom can you please review these latest changes? If OK then the "high" priority label can be removed and a better solution for `keyboardStep` and `pageKeyboardStep` can be worked on another time, and probably as part of #703.

[2021-06-10 16:24] pixelzoom commented on #698
Thanks for the doc updates, looks good.

You added this to ComponentSpacingSlider in https://github.com/phetsims/fourier-making-waves/commit/8d482bc84fd8cacd2d3b7f5aa7cce81f16f81a2e:

[code]

Rather than requiring clients to redundantly specify `shiftKeyboardStep` and `pageKeyboardStep`, can AccessibleValueHandler set them to the value of `keyboardStep` if they have not been specified by the clien

[2021-06-10 16:41] pixelzoom commented on #698
Oh boy...  There's more to this issue than I orginally reported.

I originally described this problem as:

But there's another relationship that must exist between the step options and `constrainValue`'.  It's currently the case that `keyboardStep` and `pageKeyboardStep` must be multiples of the `constrainValue` interval.

For example, suppose I have a slider with these options -- you can try thes

[2021-06-10 16:46] pixelzoom commented on #703
A workaround was added in #698, so this is no longer blocking Fourier.  I'll remove the "priority high" label, and let the a11y team decide on priority and scheduling.

[2021-06-10 16:49] pixelzoom commented on #697
Raising the priority of this to medium.  Fourier is supposed to be feature-complete by 6/30/2021.  That will likely slip a few weeks, but I would expect Fourier to be ready for dev testing in mid to late July.  This issue definitely blocks dev testing.

[2021-06-10 21:19] pixelzoom commented on #703
6/10/21 Fourier design meeting: @arouinfar @kathy-phet @jessegreenberg @KatieWoe @pixelzoom

* Fourier is working with the current implementation, nothing in this issue is blocking 1.0.
* @kathy-phet and @jessegreenberg will discuss this work for Q3 goals
* Include consideration of how fine-grain and coarse-grain steps might be handled on non-keyboard alt-input devices.

[2021-06-18 16:37] jessegreenberg opened #706 "Component icons should generally be hidden in the PDOM"
From https://github.com/phetsims/fourier-making-waves/issues/73.

Component icons should generally be hidden in the PDOM. Sometimes icons are created programmatically and may have interactive content. The sun component generally makes the icon `pickable: false`, and it should similarly be removed from the PDOM so it is not focusable or discoverable with a screen reader. Accessibility for the compo

[2021-06-22 21:18] jessegreenberg opened #707 "Add global hot key support to sun buttons"
It would be useful to add a way to support global hot keys with buttons. It seems that often global hotkeys will fire a button in some way. Relevant slack discussion, illustrating boilerplate that currently exists when adding hotkeys.

<details>

[code]
</details>

Currently, I am envisioning that an optional list of hotkeys could be added to ButtonNode. If supplied, a listener is added to the glo

[2021-06-22 21:49] pixelzoom commented on #707
I'm going to make the title of this issue more general, since I think it's potentially useful to have hot-key support for any UI component.   It might be something that is handled with a mixin/trait, similar to have enabled is handled by EnabledComponent.

[2021-07-01 17:50] pixelzoom opened #708 "RectangularRadioButtonGroup problem with pointer areas"
Reported in https://github.com/phetsims/natural-selection/issues/284.

There is a general problem with pointer areas in RectangularRadioButtonGroup.  `selectedLineWidth` and `deselectedLineWidth` can be used to set the width of the stroke around the buttons.  When these values are significantly different, the button that is initially selected will have significantly different point areas than the

[2021-07-02 18:09] samreid commented on #686
@zepumph would you like to take the lead on this?  Or please reassign me if I should work on it.

[2021-07-03 21:35] samreid commented on #236
There was a stray TODO in the code, but based on the prior comment, I decided to convert it to a NOTE.

[2021-07-05 16:32] pixelzoom opened #709 "NumberSpinner has layout problems when range is dynamic."
Blocking for Natural Selection https://github.com/phetsims/natural-selection/issues/299

NumberSpinner should be using LayoutBox for the layout of its NumberDisplay and 2 ArrowButtons. It's currently doing fixed layout, around line 153.  This doesn't account for the fact that valueRangeProperty may change, and it assumes that the size of its NumberDisplay will never change.  That's not always the

[2021-07-05 16:52] pixelzoom commented on #709
... or if using LayoutBox is too disruptive, then NumberSpinner should observe `numberDisplay.boundsProperty`, and update the layout if it changes.

[2021-07-05 17:07] pixelzoom commented on #709
Because there are 4 different layout options, I went with the approach of observing `numberDisplay.boundsProperty`.  That require no changes to the layout code, seems unlikely to introduce changes/regressions in sims that use NumberSpinner, and seems like an OK longterm solution.   Verified in natural-selection and a couple of other sims.

I consider making `updateLayout` a class method, so that i

[2021-07-05 18:19] samreid commented on #709
I used this test harness, and confirmed that without the fix there is overlapping, and with the fix the overlapping is resolved:

<details>

[code]

</details>

I also observed that the commit message for https://github.com/phetsims/sun/commit/b42e11befa48ce2df2e02c3f113d56f82983902b was just 2 issue references, and not an explanation of the changes in the commit, but I presume that was just a mis

[2021-07-05 22:26] pixelzoom commented on #709
Yeah, sorry about that. The commits were related to 2 issues, so I had to find 2 URLs. Then I forgot to put more than the URLs in the commit message.

Correct.  But this caused me to notice an unrelated bug in NumberSpinner.  It creates tandems for subcomponents (`numberDisplay`, `incrementButton`, `decrementButton`), but fails to clean those up in `disposeNumberDisplay`.  I'll create a separate i

[2021-07-05 22:26] #709 closed

[2021-07-05 22:27] pixelzoom opened #710 "NumberSpinner dispose does not clean up tandems for subcomponents."
As noted for NumberSpinner in https://github.com/phetsims/sun/issues/709#issuecomment-874352963:

[2021-07-05 22:30] pixelzoom commented on #710
It looks like this problem was introduced in https://github.com/phetsims/sun/commit/71bab21626297f898ff318e2463ea571bd620869 bby @samreid, and https://github.com/phetsims/sun/commit/3a6227ccefd59ae1b6dfca8493a01d06176d6f95 by @pixelzoom.

I'll take care of it, then ask @samreid to review.

[2021-07-05 22:33] pixelzoom commented on #710
Note to self, add something like this to `disposeNumberSpinner`:

[code]

[2021-07-06 15:30] pixelzoom commented on #710
Fixed in the above commit, tested in a few sims that use NumberSpinner (including Fourier).

Over to @samreid for review.

[2021-07-06 20:12] pixelzoom commented on #48
This issue has stalled out. The last time this subgroup met was Feb 23.  Since @samreid has unassigned, I guess I'll do that same, and await further instructions from @jonathanolson or @kathy-phet.

[2021-07-07 18:04] pixelzoom commented on #708
It looks like there was an attempt to do the right thing in RectangularRadioButtonGroup, but it's not working:

[code]

[2021-07-07 18:39] pixelzoom commented on #708
In the above commit, pointer areas now take the lineWidth of the stroke into account, and are sized to accommodate the largest of `options.selectedLineWidth` and `options.deselectedLineWidth`.

For my Equality Explorer example above, the initial selection now looks like this:

<img width="371" alt="screenshot_1048" src="https://user-images.githubusercontent.com/3046552/124811542-ceb6d180-df1f-11eb

[2021-07-07 19:27] pixelzoom commented on #697
This API will also need to be accessible via NumberControl, which has Slider as a subcomponent.  Fouier is not yet using NumberControl, but the goal is to replace the 4 custom sliders in the Wave Packet screen with NumberControl.

[2021-07-07 19:28] pixelzoom commented on #697
Fourier feature-complete milestone has been revised to 8/24/21.  It will then go immediately into QA, for 9/30/21 publication.

[2021-07-07 19:29] zepumph commented on #708
Looks right to me! Thanks.

[2021-07-07 22:50] jessegreenberg commented on #708
I noticed a CT issue caused by this change. When a radio button item has a `label`, the focus highlight was using the calculated mouse area to determine its size, but since that calculation was moved it is no longer available. I am seeing this now on CT:

Also, this change made it so that radio button labels are no longer clickable.  The list of "buttons" in this iteration https://github.com/phets

[2021-07-07 22:59] pixelzoom commented on #708
I've reverted the changes.  It's unclear to me why radio buttons in a group should have labels, or who added this feature.  Someone with knowledge of the a11y issues will need to address this issue.

[2021-07-07 23:00] pixelzoom commented on #708
Labeling for dev meeting to assign to someone.

[2021-07-07 23:04] jessegreenberg commented on #708
To be clear, I am referring to the graphical label which has been a feature of RectangularRadioButtonGroup since cd51b22c96f0527abf349039c9656c59b866ccdc in 2014 and is demonstrated in the sun demo.

[2021-07-07 23:20] pixelzoom commented on #708
Thanks for clarifying, and for the pointer to the sun demo.

I'm not clear on where (or whether) the `label` feature is actually used in sim -- it's difficult to search for "label:".  I'm obviously not familiar with the focus highlight issues, since I broke it.  And it's not at all clear to me what pointer areas should look like when we have labels, or a mishmash of labels and no labels.  Should e

[2021-07-08 15:47] KatieWoe opened #711 "CT Designed api changes detected"
[code]

[2021-07-08 16:15] pixelzoom commented on #711
In https://github.com/phetsims/phet-io/issues/1799#issuecomment-875810345, @zepumph said:

So it looks like CT is catching it :)

Perhaps @zepumph has not backed out this breaking change.  Assigning to him.

[2021-07-08 16:44] jessegreenberg commented on #708
The setting of the focus highlight was also fragile, would have been pretty easy to break it.

I worked on a fix in the above commit. The implementation is mostly the same as https://github.com/phetsims/sun/commit/a9fc44a2a2d9cf12b0ff6044581619b6d11dd1b5, but we keep a reference to the RectangularRadioButton to set mouse/touch areas and focus highlight on it. To make it explicit I added an inner c

[2021-07-09 16:34] pixelzoom commented on #708
Looks good to me. Thanks for taking this on @jessegreenberg!  Closing.

[2021-07-09 16:34] #708 closed

[2021-07-09 21:39] samreid commented on #691
I'm not planning on working on this at the moment, will leave it in my project board for future triage.  One way forward may be to add demo instrumentation for components as they are designed, or as they are updated.  I guess this seems like a lot of work and I'm not sure when to schedule it.

[2021-07-09 21:45] samreid commented on #693
Another solution would be to have 2 entry points for sun, one for the visual demo and another for the phet-io instrumentation coverage.  In a related comment, I just punted on https://github.com/phetsims/sun/issues/691, but maybe it will unblock it if we can have 2 entry points or 2 modes (one standard and one for phet-io).  @zepumph what do you recommend?

[2021-07-11 18:34] zepumph commented on #711
Commit reverted in https://github.com/phetsims/phet-io/issues/1799. Closing

[2021-07-11 18:34] #711 closed

[2021-07-11 18:46] samreid commented on #710
I reviewed the commit and it seems good.  I confirmed there are no other `createTandem` children that require disposal. @pixelzoom can this issue be closed?

[2021-07-12 14:54] #710 closed

[2021-07-12 17:26] jbphet commented on #305
Reopening.  This branch was restored during an effort to recover some branches that were accidentally deleted.  This one had been _intentionally_ deleted, and now needs to be re-deleted.  See https://github.com/phetsims/special-ops/issues/198.

[2021-07-12 17:27] jbphet commented on #305
Re-deletion complete.  Closing.

[2021-07-12 17:27] #305 closed

[2021-07-12 17:28] jbphet commented on #311
Reopening.  This branch was restored during an effort to recover some branches that were accidentally deleted.  This one had been _intentionally_ deleted, and now needs to be re-deleted.  See https://github.com/phetsims/special-ops/issues/198.

[2021-07-12 17:28] jbphet commented on #311
Re-deletion complete.  Closing.

[2021-07-12 17:28] #311 closed

[2021-07-12 17:31] jbphet commented on #529
I came across this GitHub issue while working on https://github.com/phetsims/special-ops/issues/198, and noticed that it's almost two years old and the linked issues are all closed.  @jessegreenberg - can this branch be deleted and this issue closed?

[2021-07-12 17:33] jbphet commented on #608
@jonathanolson - This branch got some scrutiny while I was working on https://github.com/phetsims/special-ops/issues/198.  It has had no work done on it for a year and has no commits that aren't on master.  Can it be closed?

[2021-07-12 17:47] jbphet commented on #309
I looked at this branch while working on https://github.com/phetsims/special-ops/issues/198.  It has two commits that aren't on master, and those commits are coming up on 4 years old.  @samreid - can we delete the branch and close this issue?

[2021-07-12 17:50] jbphet commented on #334
Reopening.  This branch was restored during an effort to recover some branches that were accidentally deleted.  This one had been _intentionally_ deleted, and now needs to be re-deleted.  See https://github.com/phetsims/special-ops/issues/198.

[2021-07-12 17:51] jbphet commented on #334
Re-deletion complete.  Closing.

[2021-07-12 17:51] #334 closed

[2021-07-12 17:55] zepumph commented on #309
Yes thanks

[2021-07-12 17:55] #309 closed

[2021-07-12 17:56] jbphet commented on #348
This issue is over three years old and the associated branch is listed as "stale" in GitHub, and there isn't much on it.  @jessegreenberg - can it be deleted and this issue closed?

[2021-07-12 18:29] jonathanolson commented on #608
Deleted, thanks!

[2021-07-12 18:29] #608 closed

[2021-07-12 18:44] samreid commented on #309
I noticed this issue was closed but the branch hasn't been deleted.  I'll delete the branch.

[2021-07-12 19:15] jessegreenberg commented on #529
Yes, thanks - branch deleted.

[2021-07-12 19:15] #529 closed

[2021-07-16 20:31] jbphet commented on #269
Yo @jonathanolson - I came across this branch while working on https://github.com/phetsims/special-ops/issues/198, and it looks super old and stale.  Can you delete it and close this issue or, if you still need it, update the issue with an explanation as to why?