[2020-02-17 20:00] pixelzoom commented on #559
ABSwitch tandem structure was modified in the above commits, to match what is shown in https://github.com/phetsims/sun/issues/559#issuecomment-585982604.   There is a SimpleDragHandler in OnOffSwitch that still need to be changed to DragListener.

This also required instrumenting the A/B label Nodes is a couple of sims:
* balancing-act @jbphet
* energy-skate-park @jessegreenberg

[2020-02-17 20:43] pixelzoom commented on #559
ABSwitch and OnOffSwitch were converted to ES6 classes in the above commits, and constants were factored out for default option values.

[2020-02-18 23:26] pixelzoom commented on #559
OnOffSwitch was converted from SimpleDragHandler to DragListener in the above commits, with assistance from @jonathanolson.

[2020-02-18 23:29] pixelzoom commented on #559
I'm having second thoughts about the class names that were chosen in https://github.com/phetsims/sun/issues/559#issue-557027536.

Here's the direction that I'm currently considering:

[code]

[2020-02-18 23:43] pixelzoom commented on #559
A couple of PhET-iO related things that I'm wondering about @samreid @zepumph @chrisklus:

* Why do we have OnOffSwitchIO but no ABSwitchIO?  Why is an IO type needed at all?

* OnOffSwitch drag listener contains `phetioStartEvent` and `phetioEndEvent` calls to indicate when the value is toggled, see below.  Why is this necessary?  The same info comes from `onProperty`.

[code]

[2020-02-19 00:31] pixelzoom commented on #559
From Slack conversation with @chrisklus....

* create IO types for things that have events
* use `Action` instead of `phetioStartEvent` (see Checkbox.js)

So I guess that I'll have `ToggleSwitchIO` that prints the new & old values to the data stream when the value changes.  But... ToggleSwitch can toggle between 2 values of any type.  How do I handle that in the 'toggled' event?

[2020-02-19 01:08] pixelzoom commented on #559
Discussed with @samreid and @chrisklus via Zoom...

`Action` in ToggleSwitch should look something like this:

[code]

[2020-02-19 03:31] pixelzoom commented on #559
Ha! Well that didn't take long to disprove.  @kathy-phet @arouinfar @ariel-phet

<img width="987" alt="screenshot_129" src="https://user-images.githubusercontent.com/3046552/74799339-809f2080-528d-11ea-91f9-be8dd6f931ed.png">

[2020-02-19 03:36] pixelzoom commented on #559
And another @jbphet:

<img width="987" alt="screenshot_130" src="https://user-images.githubusercontent.com/3046552/74799678-67e33a80-528e-11ea-8cce-8914da938241.png">

[2020-02-19 03:38] pixelzoom commented on #559
Ha! Well that didn't take long to disprove.  @kathy-phet @arouinfar @ariel-phet @amanda-phet

In Molecule Polarity, but yours truly:

<img width="987" alt="screenshot_129" src="https://user-images.githubusercontent.com/3046552/74799339-809f2080-528d-11ea-91f9-be8dd6f931ed.png">

In Tambo, by @jbphet:

<img width="987" alt="screenshot_130" src="https://user-images.githubusercontent.com/3046552/7479

[2020-02-19 04:12] pixelzoom commented on #559
@arouinfar please review in master, by running ph-scale in Studio.  You can check either of these switches:

phScale.microScreen.view.graphNode.graphControlPanel.graphUnitsSwitch
phScale.microScreen.view.graphNode.graphScaleSwitch

When you're done, assign back to me so that I can have this reviewed by someone on the PhET-iO team.

[2020-02-19 04:15] pixelzoom commented on #559
Here's what `phScale.microScreen.view.graphNode.graphScaleSwitch` looks like:

<img width="230" alt="screenshot_131" src="https://user-images.githubusercontent.com/3046552/74801404-af1ffa00-5293-11ea-86ee-a7d19671e0df.png">

[2020-02-19 04:39] kathy-phet commented on #559
I guess I owe you a 6-pack. ;)

Sent from my iPhone

On Feb 18, 2020, at 9:15 PM, Chris Malley <notifications@github.com> wrote:

﻿

Here's what phScale.microScreen.view.graphNode.graphScaleSwitch looks like:

[screenshot_131]<https://user-images.githubusercontent.com/3046552/74801404-af1ffa00-5293-11ea-86ee-a7d19671e0df.png>

—
You are receiving this because you were mentioned.
Reply to this emai

[2020-02-19 16:18] jessegreenberg opened #567 "Best way to support aria-labelledby associations for RadioButtonGroup"
From a thread in https://github.com/phetsims/ohms-law/issues/156.

`aria-labelledby` is used to signify to a screen reader that a group of content is labelledby something else. When cursor/focus first enters the group, the label will be read to the user.

In https://github.com/phetsims/ohms-law/issues/156 it was determined that some of our radio button groups need this association and others don't

[2020-02-19 16:22] jessegreenberg commented on #567
Can we assume there there will never be an "outside node" for the aria-labelledby association? In OL and GFL the label is just on the RadioButtonGroup itself and there isn't an outside node. Maybe the option should be `includeAriaLabelledbyAssociation` (or something) which conditionally adds

[code]

[2020-02-19 18:08] terracoda commented on #567
@jessegreenberg, is there anything functionally different between the radioButtonGroup and the AquaRadiobuttonGroup or the VerticalAquaRadioButtonGroup. From the names it seems there may only be visual differences.

[2020-02-19 21:37] jessegreenberg commented on #567
No functional differences, the only differences are visual.

[2020-02-19 22:48] arouinfar commented on #566
@pixelzoom said:

This sounds reasonable to me. I think it would be good to have an option for uniform pointer areas, but I don't think it needs to be the default. i would prefer the non-uniform pointer areas in the example shown in https://github.com/phetsims/sun/issues/566#issuecomment-586402164 to the uniform ones.

[2020-02-19 23:06] pixelzoom commented on #559
I thought of one more thing that needed to be added - a link from the toggleSwitch to the Property that it controls.  Here's the revised structure of `phScale.microScreen.view.graphNode.graphScaleSwitch`.

<img width="221" alt="screenshot_133" src="https://user-images.githubusercontent.com/3046552/74884986-b0076900-5331-11ea-8356-946540540055.png">

[2020-02-19 23:35] ariel-phet commented on #566
@arouinfar @pixelzoom I generally agree that uniform pointer areas would be a nice option, but need not be the default.

However, I do not recall - is this uniform pointer area desirable for keyboard nav? I feel like that was one of the original motivations. However, when keyboard traverse the options in this twitter menu, they follow a "ragged edge" strategy:

![Recording #1](https://user-images.

[2020-02-19 23:47] KatieWoe opened #568 "CT property.phetioType must have parameterTypes and cannot read property 0 of undefined"
[code]
[code]

[2020-02-20 00:03] arouinfar commented on #559
@pixelzoom the `graphUnitsSwitch` and `graphScaleSwitch` both look good in studio.

[2020-02-20 00:06] pixelzoom commented on #559
Thanks @arouinfar.

@samreid @zepumph @chrisklus I need someone from the PhET-iO team to review this work with high priority.  I'll let you decide who the lucky person is :).  I need a review of general code, tandem structure, and data stream.

[2020-02-20 00:07] zepumph commented on #566
I have seen @terracoda prefer uniform sizing for keyboard focus, but I'm not sure what the exact rationale is. @terracoda can you comment if there is an a11y reason to expand shorter keyboard nav focus out to the length of the longest element?

[2020-02-20 00:15] pixelzoom commented on #566
Uniform seems to work when radio buttons are inside of a container (panel, or some rectangular area).  But PhET radio button are often sitting out by themselves (not in a panel), like the radio buttons in Natural Selection (see below).  This is where uniform pointer areas really feels wrong to me, especially if the button labels have significant different widths.

<img width="961" alt="screenshot_

[2020-02-20 00:17] pixelzoom commented on #566
@zepumph said:

@zepumph can you clarify why keyboard focus is relevant here? Is keyboard focus using pointer areas for sizing?  If so, is it using mouseArea or touchArea?

[2020-02-20 00:31] pixelzoom commented on #568
Fixed in the above commit.  This was related to #559.  Thanks @KatieWoe!

[2020-02-20 00:31] #568 closed

[2020-02-20 00:33] pixelzoom commented on #559
Reviewer, note this requirement at the top of `ToggleSwitch` constructor:

[code]

This means that your Property _must_ be instrumented, regardless of whether your sim is instrumented yet or not.   I don't particularly like this requirement, and I also don't the reason for it's use, also in `ToggleSwitch`:

[code]

But this is what was recommended by @samreid.  If you have a better solution, let's

[2020-02-20 00:37] pixelzoom commented on #559
Reviewer, note these requirements at the top of `ToggleSwitch` constructor:

[code]

This means that your Property _must_ be instrumented, regardless of whether your sim is instrumented yet or not.   I don't particularly like this requirement, and I also don't like the reason for why it's necessary, also in `ToggleSwitch`:

[code]

Reaching info `phetioType` to get `parameterTypes[ 0 ]` feels uncl

[2020-02-20 15:15] terracoda commented on #566
Having large touch areas is generally a good thing to have for accessibility. People using small devices or people with tremors have more success with larger target areas.

The keyboard highlight is relevant because it also shows up on the screen with touch activation on iOS devices when using a VoiceOver.

@pixelzoom, touch and keyboard are both input mechanisms. Touch with a screen reader is ver

[2020-02-20 15:18] terracoda commented on #566
I have deigned myself into traps here and there when I just thought about keyboard navigation and not about all the input options together.

[2020-02-20 15:22] terracoda commented on #566
People use different fingers for tapping and people have different size fingers. A longer label could support one-hand use and tapping with the thumb.

The article article on touch targets might be helpful https://www.smashingmagazine.com/2012/02/finger-friendly-design-ideal-mobile-touchscreen-target-sizes/

[2020-02-20 15:23] terracoda commented on #566
@ariel-phet example is a menu - styled with button-like looking things. It is not a group of radio buttos and I do not feel it is a relevant visual comparison.

[2020-02-20 15:24] samreid commented on #566
Twitter's "ragged edge" UI looks nice, but I noticed if you press the "more..." button at the bottom, it shows a popup with the "uniform edge" strategy:

![Kapture 2020-02-20 at 8 23 28](https://user-images.githubusercontent.com/679486/74948991-539c5c00-53ba-11ea-902e-619853853ee2.gif)

So it seems Twitter settled on a combination of both.

Good point!

[2020-02-20 15:26] terracoda commented on #566
Nice addition @samreid.

[2020-02-20 15:32] samreid commented on #566
One more point on the twitter example.  Even though their displayed highlights are ragged, their touch regions are uniform.  This screencast shows me using the mouse to click outside of the area of the visible buttons:

![Kapture 2020-02-20 at 8 31 21](https://user-images.githubusercontent.com/679486/74949757-695e5100-53bb-11ea-8e25-b984450ca86c.gif)

[2020-02-20 15:36] terracoda commented on #566
I have also read that radio buttons on mobile are often coded more like buttons, i.e., larger target areas.

I would recommend a larger target area as the default with an option to reduce it to a minimum no smaller than the minimum recommendation. And there is likely little harm in having a PhET minimum larger than the industry standard minimum.

Similar to skateboards, bigger provides easier, smo

[2020-02-20 15:38] terracoda commented on #566
@samreid, thanks for pointing out the touch targets!

[2020-02-20 16:07] pixelzoom commented on #566
@terracoda said:

Agreed! (And I'll assume that you mean all pointer areas, not just touch areas.) But why does that mean that all radio buttons in a group must have the same pointer area size?

Agreed - but to a point.  If the pointer areas are excessively large, as in the example we've been discussing below, isn't it more likely that they may accidentally choose something with an excessively lar

[2020-02-20 16:11] pixelzoom commented on #566
I asked:

Ah, I see.  @samreid's example is a group of buttons, and pressing one of them results in the menu.

[2020-02-20 16:12] pixelzoom commented on #566
I asked:

Ah, I see.  @samreid's example is a group of buttons, and pressing one of them results in the menu.  So I agree - nice addition.  But I still disagree that @ariel-phet menu example is not relevant.

[2020-02-20 20:22] terracoda commented on #566
@pixelzoom, I meant make them all as big as the biggest one.

[2020-02-20 22:14] pixelzoom commented on #555
I ran into a problem when trying to use `VerticalAquaRadioButtonGroup` in gas-properties.  `HoldConstantControl` observers other Properties to decide which of the radio buttons should be enabled.  So I need references to the radio buttons, which `AquaRadioButtonGroup` does not provide.

If any devs are watching this issue, please chime in with suggestions.

[2020-02-20 22:43] pixelzoom opened #569 "need to get radio buttons from AquaRadioButtonGroup"
Related to https://github.com/phetsims/sun/issues/555, converting sims to use AquaRadioButtonGroup.

Over in gas-properties, I ran into a problem when trying to use `VerticalAquaRadioButtonGroup`. `HoldConstantControl` observers other Properties to decide which of the radio buttons should be enabled. So I need references to the radio buttons, which `AquaRadioButtonGroup` does not provide.

@zepump

[2020-02-20 22:45] pixelzoom commented on #569
Done in the above commits, and used in gas-properties.

@ariel-phet please assign someone to review.

[2020-02-20 23:09] pixelzoom commented on #555
@ariel-phet I've looked at my sims in the checklist.  Only a couple were straightforward to convert. Others have significant problems to work out, and I've created issues, as noted in the checklist.

[2020-02-20 23:13] pixelzoom commented on #566
I'm not hearing any interest in being able to set pointer areas on a per-button basis. So I'm going to punt on any such option, as well as the things that I was going to investigate in https://github.com/phetsims/sun/issues/566#issuecomment-586403658.

@ariel-phet please assign someone to review.  And if there are additional features to be added here, please assign someone else, because I've excee

[2020-02-21 02:01] zepumph commented on #559
I would say that in general that is true, but for `Property` we have done that a fair amount. To me it is pretty safe to reach into there, especially if you assert that `property instanceof Property`. To me the bigger issue is how much of this code is not only run, but required for phet brand. I want to try to see if we can make it more clear that the phet-io code is only for phet-io brand, but so

[2020-02-21 02:17] zepumph commented on #559
For the data stream I thought it was weird that one interaction where it toggled once could potentially yield 2 data stream events. For example in ph-scale, take the switch and drag it to the other state. This will trigger an appropriate switch with the right data stream event. Then when you mouse up, there will be another data stream event. Notice that last even in each of the two event stacks be

[2020-02-21 02:20] zepumph commented on #559
* I want to note that `ToggleSwitchIO` doesn't look like it is needed for anything. That said, keeping it such that `ToggleSwitchIO` shows up in studio instead of `NodeIO` is good with me if desired.

[2020-02-21 03:15] zepumph commented on #559
@samreid and I just paired for a bit and found a solution that I'm very excited about, and can't wait to use in other UI components. In this. . .
* we don't assert except when validating tandems
* we always provide as much information as we can (i.e. passing the phetioType if we have it)
* we can support phet brand with phet-io code that is clearly annexed into a phet-io specify.

@pixelzoom pleas

[2020-02-21 03:20] zepumph commented on #559
`ABSwitch` looks really good. All above comments are about `ToggleSwitch`. Review complete, thanks for the instrumentation. Back to you.

[2020-02-24 17:47] KatieWoe opened #570 "Sound for opening and closing panel only when using button"
Found during https://github.com/phetsims/QA/issues/482
When you open and close the accordion panels there seems to be a sound involved now. It only plays when you use the +/- button. If it is done by clicking on the title bar, it closes or opens, but doesn't make the sound.
![thesethings](https://user-images.githubusercontent.com/41024075/75177218-f58db280-56f2-11ea-97a1-4a1725a9788b.png)

[2020-02-24 19:10] pixelzoom commented on #559
Discussed with @samreid and @zepumph on Zoom.  Decisions, implemented in above commit:

* deleted ToggleSwitchIO
* removed params from toggleAction
* made sure to use present tense for action ('toggleAction' vs 'toggledAction')
* add `if ( property.value !== value )` guard in `end`

[2020-02-24 19:12] #559 closed

[2020-02-24 20:32] pixelzoom commented on #67
No one has asked for this in the ~5 years sim the issue was created, so no reason to add proactively. Closing.

[2020-02-24 20:32] #67 closed

[2020-02-24 21:05] pixelzoom commented on #465
@terracoda could you please weigh in on whether there's anything else to do here? ComboBox has been done for quite awhile, and this is a "loose end" that needs to be tied up.

[2020-02-24 21:50] ariel-phet commented on #569
@chrisklus is on the review case

[2020-02-24 22:01] terracoda commented on #465
Last I checked, the combobox was working fine in Molarity.
We just might revisit later if we want to make it behave differently on mobile. I think there is a different issue for that.

[2020-02-24 22:04] terracoda commented on #465
And I will add, the combobox works nicely on mobile, but the popped up list stays open if nothing is selected and the user moves their cursor. This is not a barrier...just something to work out in a different issue.

I think this one can be closed if the review is all done.

[2020-02-24 22:11] #465 closed

[2020-02-24 22:14] ariel-phet commented on #566
@jessegreenberg is on the review

[2020-02-24 22:48] chrisklus commented on #569
Looks good @pixelzoom, back to you.

[2020-02-24 23:19] pixelzoom commented on #569
Thanks @chrisklus. Closing.

[2020-02-24 23:19] #569 closed

[2020-02-26 17:45] jbphet commented on #570
This is more of a general issue with `AccordionBox` rather than a specific build-an-atom issue, so I'm transferring it to sun.

[2020-02-26 17:52] jbphet commented on #570
@Ashton-Morris - We need open and close sounds for the accordion box.  Shall I use the ones that are now used for combo box and dialogs, or would you like to come up with something unique for this case?

If it's the latter, please go ahead and create the new sounds.  In either case, when it is ready for me to implement the sound, please assign this issue back to me.

[2020-02-28 00:21] arouinfar opened #571 "Add an enabledProperty to ABSwitch"
In https://github.com/phetsims/ph-scale/issues/117 @kathy-phet and I reviewed the ABSwitch in depth in studio. The changes made in #559 are looking great in studio, but the one thing that we think is missing is a top-level enabledProperty. Currently a client could make an ABSwitch look disabled by adjusting opacityProperty and pickableProperty, but that's a bit clunky.

In today's status meeting @

[2020-02-28 00:28] arouinfar opened #572 "ABSwitch phetioFeatured defaults"
In https://github.com/phetsims/ph-scale/issues/117 @kathy-phet and I reviewed the ABSwitch, and decided on the general pattern for what should be featured.

ABSwitch.visibleProperty
ABSwitch.AText.textProperty
ABSwitch.AText.visibleProperty
ABSwitch.BText.textProperty
ABSwitch.BText.visibleProperty
ABSwtich.toggleSwitch.visibleProperty

Assigning to the PhET-iO team.

[2020-02-28 02:34] pixelzoom commented on #571
ToggleSwitch is now the base class of this UI component hierachy, so that's where this would be added.  I'll change the title of this issue to reflect that.

We can certainly add enabledProperty to ToggleSwitch.   But PhET's current way of implementing enabledProperty is to add it to each UI component, essentially duplicating the same code/pattern over and over.  A longterm solution would be prefe

[2020-02-28 18:19] zepumph commented on #257
https://github.com/phetsims/sun/issues/571 felt like as good a time as any to create a mixin for UI components that can add the enabledProperty to a `Node`. The mixin is called `UIComponent` and is currently only used in ToggleSwitch (addition felt like a nicer way to start than refactoring).

Currently these types create `this.enabledProperty`:

* AquaRadioButton.js
* Checkbox.js
* ComboBox.js
*

[2020-02-28 18:20] zepumph commented on #571
I added this by creating a UIComponent mixin.  see https://github.com/phetsims/sun/issues/257 for details. ToggleSwitch is currently the only usage of it, and this issue should be out for review with https://github.com/phetsims/sun/issues/257 (review of the whole mixin).

[2020-02-28 19:32] zepumph commented on #571
This isn't quite complete. Though there is a working enabledProperty in ToggleSwitch, we need to add a listener in ABSwitch to toggle pickability and opacity.

[2020-02-28 19:44] zepumph commented on #571
In the above commit, I added the listener to ABSwitch so that it can look disabled when the ToggleSwitch is disabled. @jbphet does this look good to you?

[2020-02-28 19:49] zepumph commented on #572
ABSwitch.visibleProperty

Implemented above. These were easy because we create these in `ABSwitch`

ABSwitch.AText.visibleProperty
ABSwitch.BText.textProperty
ABSwitch.BText.visibleProperty

This is going to be much more difficult, because these use "dependency injection" such that they are created, and then passed to ABSwitch. Things to note. ABSwitch allows these to be any Node, it is only ph-sc

[2020-02-28 20:28] pixelzoom commented on #571
I suspect a complaint with https://github.com/phetsims/sun/commit/62d4c17c4165f60012d6d9dec8202c262085f60e is that may be that designers will want an `enabledProperty`  associated with the top-level UI component, e.g.:

[code]

In the current implementation, you're going to have something like:

[code]

But I think that this is an inherent problem with composition (as used in ABSwitch), and we nee

[2020-02-28 20:29] pixelzoom commented on #571
Before working on this (and before doing any more work on this), I would ask the designer how they want this to look in the scenery tree.

[2020-02-28 20:55] arouinfar commented on #572
ABSwitch.visibleProperty

👍

ABSwitch.AText.visibleProperty
ABSwitch.BText.textProperty
ABSwitch.BText.visibleProperty

Thanks for the clarification @zepumph! I think it would be best to handle these in the overrides, since it isn't a general pattern for all ABSwitches.

I don't think there's anything else that needs to be done for this issue, so I'll go ahead and close.

[2020-02-28 20:55] #572 closed

[2020-02-28 21:39] arouinfar commented on #571
@pixelzoom's first example in https://github.com/phetsims/sun/issues/571#issuecomment-592714040 was what I meant by "top-level enabledProperty" to ABSwitch:

[code]

I didn't realize the work would need to be done in ToggleSwitch, but @pixelzoom's https://github.com/phetsims/sun/issues/571#issuecomment-592281295 clarified that.

The current implementation in master with `myABSwitch.toggleSwitch.en

[2020-02-28 22:09] pixelzoom commented on #571
@zepumph and I discussed this on Zoom and made some refinements:

`ToggleSwitch` looks good, it has its own `enabledProperty`, which is `phetioFeatured: true`.  The mixin `UIComponent` looks nice, but will be renamed to `EnabledComponent`, which better reflects its responsibilities.

ABSwitch composes 3 Nodes: 2 labels (provided by the caller) and a ToggleSwitch.  But ABSwitch  needs to have its o

[2020-02-28 22:14] pixelzoom commented on #571
So to summarize, here's what you'll see for PhET-iO Featured:

For a ToggleSwitch:

[code]

For an OnOffSwitch (which is a subclass of ToggleSwitch):

[code]

For an ABSwitch (which uses a ToggleSwitch via composition):

[code]

[2020-02-28 22:20] zepumph commented on #571
Agreed and thanks for the summary @pixelzoom. I will rename to EnabledComponent over in #257 for clarity in that review.

Everything else is implemented above except one thing:

  enabledProperty
  visibleProperty
  **+labelANode
  +labelBNode**
  -toggleSwitch
    visibleProperty

Note that as explained and agreed upon in https://github.com/phetsims/sun/issues/572#issuecomment-592724144, the labe

[2020-02-28 22:27] zepumph commented on #257
Over in https://github.com/phetsims/sun/issues/571#issuecomment-592751733, @pixelzoom and I thought that `EnabledComponent` was a bit better of a name. Renamed above. @jbphet, clarity I will reiterate that this issue is marked for you to review the mixin, and then to update more UI components as desired. https://github.com/phetsims/sun/issues/571 is marked for you to review only to have a look at

[2020-02-28 22:30] pixelzoom commented on #571
Thanks for the clarification on the label nodes.  Agreed.

[2020-02-28 23:23] arouinfar commented on #571
Things are looking great in studio, thanks @pixelzoom @zepumph!

Here's an example of the studio tree for the graphScaleSwitch in pH Scale
![image](https://user-images.githubusercontent.com/8419308/75594519-3a448100-5a46-11ea-9c98-06e84effb01d.png)

When viewing the featured elements, the tree is also looking good (A & B elements will be featuerd in overrides, as decided in #572)
![image](https://

[2020-02-29 05:09] kathy-phet commented on #571
@arouinfar - I'm confused as to why the lower image has enabledProperty at the top level, but the upper image has it in the toggleSwitch? Did the common code change between these images?

[2020-02-29 05:13] arouinfar commented on #571
@kathy-phet it's because I had two versions of ph-scale open, and I took the screenshot from the wrong tab. I've updated the screenshot.

[2020-03-02 16:28] Ashton-Morris commented on #570
@jbphet I feel like making them a tiny bit shorter and more subdued would fit better since its a common on screen function. I have created those files here.

[accordian-open](https://drive.google.com/open?id=1aiu-FUB3HcGBx5p3XhzqI6hUPXLCNACw)

[accordian-close](https://drive.google.com/open?id=1OeCOMoVqQSs8glb-jfsUn29fU2fkBVOD)

[2020-03-02 23:51] arouinfar opened #573 "AccordionBox: titleBar remains interactive when expandedProperty is pickable:false"
Discovered in phetsims/ph-scale#117

The `view.pHMeterNode.expandCollapseButton.pickableProperty` is not behaving as expected. The button remains interactive when the pickableProperty is set to false.

Steps to reproduce:
1. Open the sim in studio
2. Navigate to `phScale.microScreen.view.pHMeterNode.expandCollapseButton.pickableProperty` or `phScale.mySolutionsScreen.view.pHMeterNode.expandCollaps

[2020-03-03 20:05] jbphet commented on #570
This was discussed in the 3/3/2020 UI sound design meeting, and @emily-phet said that we are using soon-to-be-released sims to drive which common code components have sound added to them, and we don't really have time and funding at this point to work towards adding sound to all components.  With this in mind, I'm going to mark this issue as "deferred" until we have a sim in the sound design pipel

[2020-03-04 19:08] zepumph opened #574 "Use `change` event for Checkbox instead of `click`"
From https://github.com/phetsims/gravity-force-lab/issues/257 and https://github.com/phetsims/a11y-research/issues/156, it seems like we should investigate using the `change` event instead of the `click` event for a11y interaction with our checkboxes. I won't be able to work on this too soon, but feel like I should give a bit of back story.

We were finding that when NVDA selects the label for a c

[2020-03-04 19:09] zepumph commented on #574
@jessegreenberg what do you think?

[2020-03-05 16:49] jessegreenberg commented on #574
Interesting, does that indicate that https://github.com/phetsims/a11y-research/issues/156 is actually not a bug? What would be solved by using the change  event instead of the click event, does the change event behave differently?

[2020-03-05 17:14] zepumph commented on #574
Yes, I added some change logging to our snippet, note here that mouse clicking the label (or NVDA labeled clicking) results in click events from the label and the input, but ONLY one change event from the input.

[code]

[2020-03-05 18:13] pixelzoom opened #575 "PhET-iO design for NumberSpinner"
`NumberSpinner` is a spinner that deals with a numeric value. sun demo demonstrates some of its features and configurations:

<img width="1041" alt="screenshot_167" src="https://user-images.githubusercontent.com/3046552/76011189-6726e700-5ed1-11ea-88f2-70e6e8b1dce6.png">

The tandem hierarchy looks like this in Studio, e.g. `gasProperties.diffusionScreen.view.controlPanel.settingsNode.massControl.

[2020-03-05 20:53] pixelzoom commented on #575
3/5/20 design meeting:

* I will group the buttons, named `buttonGroup`.
* Stick with `incrementButton` and `decrementButton`, since NumberSpinner supports different layouts.

[2020-03-05 21:33] pixelzoom commented on #573
3/5/20 design meeting:  @arouinfar @kathy-phet and I came up with a solution for this, see above commit.  @arouinfar please review in master.

[2020-03-05 22:41] pixelzoom commented on #575
I've renamed the buttons in FineCoarseSpinner.  But I've run into a problem with grouping the buttons in both classes, which I'll need to discuss with @arouinfar.

[2020-03-06 00:26] arouinfar commented on #575
@pixelzoom I reviewed the NumberSpinner in the ph-scale tree, and it's looking good.
![image](https://user-images.githubusercontent.com/8419308/76037724-02857f80-5f05-11ea-8424-271a20d50b81.png)

I confirmed this with @kathy-phet. Grouping the buttons is not essential.

I believe the only thing remaining is to decide on the phetioFeatured defaults. My best guess is that we'll want the tree to look

[2020-03-06 00:30] arouinfar commented on #573
@pixelzoom I reviewed this in master in ph-scale and gas-properties. Everything's looking good, closing.

[2020-03-06 00:30] #573 closed

[2020-03-06 23:27] jessegreenberg commented on #574
Interesting, thanks! In that case using the `change` event seems very reasonable to me.

[2020-03-06 23:29] jessegreenberg commented on #574
I was hoping this would be a quick change but since Checkbox uses ButtonListener (which is what adds the `click` listener) it will take a little more thought. We likely don't want to change ButtonListener, as continuing to use `click` for buttons makes sense.

[2020-03-08 21:42] pixelzoom commented on #571
@zepumph It looks the name change to `EnabledComponent` was not applied to methods `disposeUIComponent` and `_disposeUIComponent`.   Fixed in the above commit, please review.

[2020-03-08 22:53] pixelzoom commented on #575
@arouinfar I think that NumberSpinner and FineCoarseSpinner should also have links to their associated Properties, like Checkbox, Slider, and other UI components.  Do you agree?

[2020-03-09 16:44] arouinfar commented on #575
I'd generally agree, but it seems less clear-cut for pH Scale. There's already a link to pHProperty in the pHMeterNode which contains the spinner. Would you move the linked property down into the spinner, or would you add a 2nd linked property?

<img src="https://user-images.githubusercontent.com/8419308/76236208-f3971980-61f1-11ea-9752-2330b006cf4c.png" width=200>

In Gas Properties, I think it w

[2020-03-09 16:54] pixelzoom commented on #575
Re ph-scale...  I would either remove the `pHMeterNode.pHProperty` linked element, or just leave it, whichever you prefer.

Re numberDisplay in FineCoarseSpinner... We generally instrument NumberDisplay so you can see what value is actually displayed, since it may have a different number of decimal places than the Property value.   NumberControl is another example -- it's NumberDisplay is instrume

[2020-03-09 17:01] pixelzoom commented on #575
Actually...  There would be a problem with removing the pHMeterNode.pHProperty linked element.  The _Micro_ and _My Solution_ screens use the same pH meter.  But the _Micro_ screen has no spinner, so would have no link to the pH Property.

[2020-03-09 17:08] pixelzoom commented on #575
@arouinfar I've added `*property` links to NumberSpinner and FineCoarseSpinner, if you want to see how that looks in ph-scale and gas-properties respectively.

[2020-03-09 17:11] pixelzoom commented on #575
@arouinfar I've added `*property` links to NumberSpinner and FineCoarseSpinner, if you want to see how that looks in ph-scale and gas-properties respectively.

[2020-03-09 17:24] pixelzoom commented on #575
@arouinfar in the above commit, I've added a link to `pHProperty` only if `pHMeterNode` doesn't have a spinner.   The downside is a lack of consistency -- the `pHMeterNode` in _Macro_ and _Micro_ screens have a link , the one in _My Solutions_ does not.  See Studio trees below.

phScale.mySolutionScreen.view.pHMeterNode:
<img width="208" alt="screenshot_174" src="https://user-images.githubusercont

[2020-03-09 17:26] pixelzoom commented on #575
Actually... I'm going to move the ph-scale specific part of this to https://github.com/phetsims/ph-scale/issues/138.

[2020-03-09 18:05] pixelzoom commented on #575
Over in https://github.com/phetsims/ph-scale/issues/139, @kathy-phet said:

So it sounds like you'd like NumberSpinner `incrementButton. enabledProperty` and `decrementButton.enabledProperty` to be `phetioReadOnly: true` and `phetioFeatured: false`.   @arouinfar is that correct?  And should the same be done for FineCoarseSpinner?

[2020-03-09 21:47] arouinfar commented on #575
@pixelzoom thanks for this explanation. I can now see why `FineCoarseSpinner` has its numberDisplay instrumented, but it seems like we should be doing the same for `NumberSpinner`.

Yes, that would be correct. If this is straightforward to do in `NumberSpinner` and `FineCoarseSpinner` that would be great. We weren't sure how messy this would be since the featured behavior is coming from the button

[2020-03-09 22:04] pixelzoom commented on #575
Ugh. I just discovered that `NumberSpinner` doesn't use `NumberDisplay`, likely because it pre-dates it.   Guess I'll have to take another detour here and fix that.

Buttons `enabledProperty` instrumented with `phetioReadOnly: true` and `phetioFeatured: false` in the above commits.

[2020-03-10 00:29] pixelzoom commented on #575
I took a stab at converting NumberSpinner to use NumberDisplay.  Every use of NumberSpinner looked significantly different, and I couldn't figure out why.   So I reverted my changes.   This is going to be a bigger job than I have time for.

@arouinfar is this needed for the upcoming PhET-iO version of ph-scale?

[2020-03-12 19:55] pixelzoom commented on #575
According to @arouinfar in 3/12/20 status meeting, this is not a prerequisite for the first PhET-iO release of ph-scale.

[2020-03-12 19:56] pixelzoom commented on #575
@ariel-phet As noted in https://github.com/phetsims/sun/issues/575#issuecomment-596842234, I ran into problems when converting NumberSpinner to use NumberDisplay.  It's going to be more work than I currently have time for.  Please prioritize and assign.

[2020-03-16 19:37] jbphet commented on #257
@zepumph - thanks for getting on this.  It's been on my plate for a while and I haven't found time for it, so I'm glad that you're moving it forward.

Here are my comments so far:

+ I agree that `EnabledComponent` is a better name than `UIComponent`, since it is more clear and specific.
+ In one of the comments above, you said:

  From my review of `EnabledComponent`, it seems like the code is de

[2020-03-16 20:03] jbphet commented on #571
Two review comments:

+ The call to `this.disposeEnabledComponent()` seems to me like it should be in the `dispose` function, not the internal `this.disposeToggleSwitch`.  My reasoning here is that this is much like calling `super.dispose()`.
+ There is a header comment above the class declaration that says "@mixes {EnabledComponent}".  This seems like a good idea, since it will allow us to look i

[2020-03-16 20:21] pixelzoom commented on #257
@jbphet said:

To clarify... Default metadata (including `phetioFeatured` can be set without having `enabledPropertyOptions`.  And (most) defaults can be overridden via Studio without it.  So we only need `enabledPropertyOptions` if the defaults needs to be overridden programmatically.

[2020-03-16 21:44] zepumph commented on #571
Excellent. Thanks. I also hit the initialize method.

Great idea, I implemented that, and did the same for ABSwitch.

I can't link of an easy way to make a lint rule for this. Perhaps an item in the CRC like "any traits or mixins for a class should be annotated with `@mixes MyMixin`. I don't feel too strongly, as I think this is largely done already (46 usages of `@mixes MyType`). I added an item

[2020-03-17 01:04] pixelzoom opened #576 "NumberSpinner: add options for incrementFunction and decrementFunction"
NumberSpinner current defines the listeners for its arrow buttons like this:

[code]

Over in https://github.com/phetsims/ph-scale/issues/143, `options.delta` isn't enough, I need more sophisticated behavior for the listeners.  So I'm going to add these options:

[code]

[2020-03-17 01:07] pixelzoom commented on #576
Done in the above commit.  Now being used in pH Scale.

@ariel-phet please assign someone to review.

[2020-03-17 16:00] chrisklus commented on #576
Looks good @pixelzoom, back to you to close.

[2020-03-17 16:09] pixelzoom commented on #576
Thanks @chrisklus. Closing.

[2020-03-17 17:50] pixelzoom commented on #575
I converted NumberSpinner to `class` in the above commit, so that it will be easier to work on.  There were only 2 cases when NumberSpinner was uses as a superclass, and they were already using `class`, so no sim changes were necessary.  I confirmed that `AccessibleNumberSpinner.mixInto` is working by running the sun demo with `?a11y`, then using arrow keys to increment/decrement.

[2020-03-18 14:44] KatieWoe opened #577 "CT Unloaded frame before complete"
[code]

[2020-03-18 18:04] zepumph commented on #577
@jonathanolson has told me to ignore these problems about "location probably changed". I think it has something to do with a bug in CT. So I'm going to close.

[2020-03-18 18:04] #577 closed

[2020-03-19 02:36] samreid opened #578 "Decrease the opacity of disabled components"
From https://github.com/phetsims/gravity-and-orbits/issues/294#issuecomment-600735987, @kathy-phet said:

- [ ] Making Enbled=false dims the controls a lot, making them hard to see. It looks like it it is setting things to about 30% opacity. We would recommend 50%. Can you look at the defaults here?
![image](https://user-images.githubusercontent.com/5096804/76984137-0dc4ac00-6904-11ea-8b8c-bf8d06d

[2020-03-19 02:43] samreid commented on #578
Changed in the commit.  I tested this in both concentration (white background) and gravity and orbits (black background) and it seemed reasonable to me.  Still, this change will appear in all or nearly all of our sims, so I think it should be carefully reviewed before publication.  Blocking until then.  @pixelzoom or @zepumph can you please review the implementation side?  Are there any components

[2020-03-19 03:10] pixelzoom commented on #257
@jbphet said:

Agreed!

[2020-03-19 03:11] pixelzoom commented on #578
I have qualms about applying this across the project.  This affects many common-code and sim-specific UI components.  The only reason it doesn't affect _all_ of them is because it's not being used in every place that it should be.  And that's certainly going to change when `EnabledComponent` mixin gets integrated to support `enbledProperty` across the project, see https://github.com/phetsims/sun/i

[2020-03-19 03:13] pixelzoom commented on #578
I also think that evaluating this on a black background what's causing you to use a higher opacity value.

[2020-03-19 03:16] pixelzoom commented on #578
I have qualms about applying this across the project.  This affects many common-code and sim-specific UI components.  The only reason it doesn't affect _all_ of them is because it's not being used in every place that it should be.  And that's certainly going to change when `EnabledComponent` mixin gets integrated to support `enbledProperty` across the project, see https://github.com/phetsims/sun/i

[2020-03-19 03:32] samreid commented on #578
Here is opacity 0.3 (top) and opacity 0.5 (bottom) for Concentration.  I believe our lives will be simpler if we can choose a value that works well by default on many backgrounds, if possible.  Maybe 0.4 or so is a good compromise?  But I agree we often also want the ability to fine-tune beyond the defaults:

![image](https://user-images.githubusercontent.com/679486/77028933-e8fe2200-695f-11ea-962

[2020-03-19 03:47] pixelzoom commented on #578
I believe that was our conclusion when we chose 0.3 as the default. See https://github.com/phetsims/sun/issues/171#issuecomment-94833804 and https://github.com/phetsims/sun/commit/1068a9802ddfe4f267c551ef0de17a192b0252a7.

[2020-03-19 03:52] pixelzoom commented on #578
See also https://github.com/phetsims/sun/issues/489, where `SunConstants.DISABLED_OPACITY: 0.3` was used throughout the project.  The value `0.3` was widely used, and was simply consolidated into a constant.

I'm not saying that we shouldn't change it if it's indeed an improvement.  But I am questioning the context in which we're making that decision, and wondering why 0.3 has been OK for so long.

[2020-03-19 03:56] pixelzoom commented on #578
Note that 0.3 is still hard-coded in sun buttons.

[code]

[2020-03-19 03:58] pixelzoom opened #579 "use SunConstants.DISABLED_OPACITY in sun buttons"
Related to https://github.com/phetsims/sun/issues/489 and https://github.com/phetsims/sun/issues/578.

Disabled opacity of 0.3 is still hard-coded in sun buttons.  It should be replaced with `SunConstants.DISABLED_OPACITY`.

[code]

[2020-03-19 04:04] pixelzoom commented on #579
Done in the above commit.  The current value of `SunConstants.DISABLED_PROPERTY` can be evaluated in the _Buttons_ screen of sun demo, by pressing the "Disable Buttons" button.

@samreid please review.

[2020-03-19 05:12] arouinfar commented on #564
@samreid I reviewed this in the context of https://github.com/phetsims/gravity-and-orbits/issues/294 and it looks good.

[2020-03-19 10:39] terracoda commented on #559
I didn't know you folks were working on an AB Switch. I would like to add this article by Heydon Pickering, [Inclusive Toggle Buttons](https://www.smashingmagazine.com/2017/09/building-inclusive-toggle-buttons/). MAL now has two toggle buttons, one a somewhat traditional push button which can be made accessible with `aria-pressed=true/false`). The other is a play/pause button which has a label cha

[2020-03-19 13:45] samreid commented on #564
Thanks @arouinfar, @zepumph or @chrisklus can you please review the implementation?  Close if all is well.

[2020-03-19 15:05] pixelzoom commented on #559
Thanks for the nice info and reference @terracoda.  Since this issue has been reviewed and closed, I recommend creating a new "sun" issue and putting this information there - something like "strategies for accessible toggle buttons".

[2020-03-19 15:07] pixelzoom opened #580 "investigate PDOM design patterns for different toggle interactions."
Moving this here from  https://github.com/phetsims/sun/issues/559, since that issue is reviewed and closed, and this is new a11y work.

In https://github.com/phetsims/sun/issues/559#issuecomment-601108751, @terracoda said:

I didn't know you folks were working on an AB Switch. I would like to add this article by Heydon Pickering, [Inclusive Toggle Buttons](https://www.smashingmagazine.com/2017/09/

[2020-03-19 15:08] pixelzoom commented on #559
@terracoda I took the liberty of creating the new issue: https://github.com/phetsims/sun/issues/580

[2020-03-19 15:26] kathy-phet commented on #578
As I have been testing in Studio over the past few months, the disabled opacity has been feeling consistently too transparent. I agree we should have a meeting of designers to discuss and look across components, but at this time, I would lean to a default closer to 0.5 across all components and backgrounds.

[2020-03-19 16:49] zepumph commented on #564
- [ ] The assertion in for enabledProperty in TimeControlNode should be guarded on `Tandem.errorOnFailedValidation()` in my opinion.

Otherwise this seems great. Thanks for implementing.

[2020-03-19 17:08] zepumph commented on #564
@pixelzoom reported that this assertion was blocking him in collision lab, so I just committed the change https://github.com/phetsims/scenery-phet/commit/d90eeca8eff761bebf61322345de6875b2544e1b

This largely applies to https://github.com/phetsims/scenery-phet/issues/577 too.

[2020-03-19 17:22] zepumph commented on #578
I agree with @pixelzoom that the default should first be decided based on light backgrounds. It sounds like another design meeting for this would be good. I am skeptical that we will be able to find an opacity with good enough contrast for all backgrounds, but it would be very pleasant if that happens.

[2020-03-19 17:52] ariel-phet commented on #575
@Denz1994 take a look over this issue and see if it is something you can take on

[2020-03-19 18:08] zepumph opened #581 "Remove data from Checkbox toggleAction"
Related to https://github.com/phetsims/sun/issues/559#issuecomment-589478249

[2020-03-19 19:06] mattpen commented on #578
Dev Meeting 3/19: We'll revert to 0.3 opacity so this doesn't block publication, then experiment further with the design team.

@samreid is going to revert it.

[2020-03-19 19:06] zepumph commented on #581
We discussed that over in ToggleSwitch, it didn't make sense to expose the Property details to the UI action. We should be consistent and remove this data from checkbox's toggleAction as well.

[2020-03-19 20:21] zepumph commented on #581
Implemented above. @chrisklus please review.

[2020-03-19 21:23] pixelzoom commented on #581
This is failing in CT.  Programming error on Checkbox.js line 125: `toggleAction.execute();`  This needs to have `newValue` arg or the BooleanProperty will be set to `undefined`.  This causes every checkbox to fail the first time it's pushed. Did you test before pushing this?

[code]

[2020-03-19 21:28] samreid commented on #581
The value still needs to pass through the `Action`, so I marked it as `phetioPrivate` and ran `grunt update` on every sim.  Only States of Matter (and basics) changed.  @zepumph can you please review?

[2020-03-19 21:31] pixelzoom commented on #581
Thanks for fixing @samreid.

Inspecting the commit, I see this in Checkbox.js:

`parameters: [ { phetioPrivate: true, isValidValue: value => value === true || value === false } ],`

Having to test for `true` and `false` is unfortunate, and not typical of what I'd expect to see in a validator.  Is this not possible?

`parameters: [ { phetioPrivate: true, valueType: 'boolean' } ],`

[2020-03-19 21:32] samreid commented on #581
That's much better, thanks!

[2020-03-19 21:32] pixelzoom commented on #581
Here's what it was prior to @zepumph's commit:

`parameters: [ { name: 'isChecked', phetioType: BooleanIO } ],`

[2020-03-19 21:44] samreid commented on #581
`valueType` will be better since data should not be instrumented for phet-io

[2020-03-19 23:01] arouinfar commented on #578
A few thoughts here...
* The opacity of disabled UI components hasn't gotten much notice from designers because sims rarely have that many disabled components (if any at all). As PhET-iO work ramps up and we spend lots of time in studio, the opacity of disabled components is something we've attended to more, especially because many components have their `enabledProperty` featured.
* Consistency is

[2020-03-19 23:13] pixelzoom commented on #578
Thinking about this more...  We should choose an opacity that works well on both light and dark backgrounds.  Otherwise we're liable to end up with a bunch of different (inconsistent) opacities on dark backgrounds.  If we can't come up with such an opacity, let's create a new constant like `SunConstants.DISABLED_OPACITY_DARK_BACKGROUND` and use that where needed, instead of hard-coding opacity val

[2020-03-19 23:26] zepumph commented on #581
I'm so terribly sorry to commit such a bug.

Thanks for fixing it @samreid.

I felt like a key reason for this issue was to get rid of that parameter. This seems simpler to me, but let me know if you disagree. Please review.

[2020-03-19 23:33] pixelzoom commented on #581
https://github.com/phetsims/sun/commit/e1abf4da29c39db5e2762cc88d2643296d1790d2 does seem better to me.

[2020-03-19 23:51] kathy-phet commented on #578
On the plus side, PhET-iO makes is really easy to try out lots of conditions now.

[2020-03-20 00:59] samreid commented on #578
@arouinfar are you set up so that you can change the value in sun/js/SunConstants.js in your working copy, and test it in a variety of different simulations and recommend a value that will work in the majority of cases?  Would that be a good way to proceed?

[2020-03-20 19:09] pixelzoom opened #582 "add enabledProperty to AquaRadioButtonGroup"
This is required for https://github.com/phetsims/hookes-law/issues/76 and possibly other sims.

This should be done via `EnabledComponent` mixin.

Assigning to @ariel-phet to prioritize and assign.

[2020-03-20 19:15] pixelzoom opened #583 "AquaRadioButtonGroup does not support interleaved UI components"
For https://github.com/phetsims/sun/issues/555, and a prerequisite to sims like https://github.com/phetsims/acid-base-solutions/issues/161 and https://github.com/phetsims/hookes-law/issues/76.

In order to support PhET-iO, AquaRadioButtonGroup is now the required way of instantiation AquaRadioButtons, see https://github.com/phetsims/sun/issues/555#issue-545165314.   But it does not support interle

[2020-03-20 19:17] pixelzoom commented on #555
In https://github.com/phetsims/sun/issues/555#issuecomment-570730096, it was noted that AquaRadioButtonGroup has no support for interleaved UI components, a requirement for several sims.  Since work/discussion on this has stalled, I've moved that to its own issue. See https://github.com/phetsims/sun/issues/583.

[2020-03-20 20:48] zepumph commented on #359
Unassigning until we work on interactive descriptions in a sim with an Accordion box again.

[2020-03-20 21:22] arouinfar commented on #578
Since there aren't many sims with disabled components, I decided to make the changes to `opacityProperty` in studio to simulate different alpha levels for `enabledProperty`.

Here's a side-by-side comparison of various UI components on different backgrounds. If the images look small on your screen, I suggest clicking on them to open in a new tab. I generally  think an opacity of 0.3 is too low. An

[2020-03-20 22:01] kathy-phet commented on #578
Thanks, Amy. I favor the 0.5 one myself.

[2020-03-22 23:14] zepumph opened #584 "move a11y strings into main strings json"
From phetsims/chipper#795

[2020-03-24 00:24] #584 closed

[2020-03-24 19:03] ariel-phet commented on #578
@arouinfar @kathy-phet I would go with 0.4 personally.

Although I agree in that in many of the cases the 0.5 would probably be sufficient, when there are bright colors on a background, it is less obvious to me. For instance in the case of the speed graph in gas properties (and to a lesser extent the multiple check boxes in natural selection), 0.5 feels a bit ambiguous to me.

So I would strongly

[2020-03-25 23:43] pixelzoom commented on #576
Reopening.  This new feature fails to take into account disabling of the buttons, and is causing https://github.com/phetsims/ph-scale/issues/152.

[2020-03-26 00:01] pixelzoom commented on #576
Luckily this was only used in ph-scale so far.  I changed the API for incrementFunction and decrementFunction, and used those functions for both the button listeners and changing the enabled/disabled state of the buttons.  I tested the defaults in gas-properties, and I tested custom values in ph-scale.

@chrisklus sorry, but would you mind taking a peek at this again?  If it looks OK, feel free to

[2020-03-26 16:41] ariel-phet commented on #582
@zepumph is up for this. Marking medium since this should not be an huge project.

[2020-03-26 16:56] zepumph commented on #583
A solution to this would be for radio button groups to accept created radio buttons as parameters. The "full dependency injection" approach. And to group the radio buttons in a type that doesn't try to manage layout, but instead just collecting them and adding the appropriate a11y/phet-io/enabledProperty support. A "RadioButtonGroupModel.js" or something.

[2020-03-26 16:58] ariel-phet commented on #583
I think we can defer this issue until necessary for the mentioned sims (which are not yet priorities in my understanding)

[2020-03-26 17:04] zepumph opened #585 "Convert components to use EnabledComponent mixin"
From https://github.com/phetsims/sun/issues/257, once that issue is complete, and EnabledComponent is "production ready", we should begin swapping out custom enabledProperty instances for this mixin. Hopefully each of these will be minimally invasive, because the api should likely not change (in most cases at least).

Here is a list of components to update. Most probably deserve dedicated issues,

[2020-03-26 17:05] zepumph commented on #257
@pixelzoom said:

Double Agreed! See https://github.com/phetsims/sun/issues/585

[2020-03-26 18:38] arouinfar commented on #578
Thanks for the feedback @ariel-phet @kathy-phet. I have a slight preference for 0.4 over 0.5, but I think it would be good for @amanda-phet to also chime in here since this is a change affecting all sims.

@amanda-phet can you take a look at https://github.com/phetsims/sun/issues/578#issuecomment-601916312? Currently, setting `enabledProperty` to false sets the opacity of the UI component to 0.3 w

[2020-03-26 18:57] amanda-phet commented on #578
I reviewed this issue to catch up and took a close look at many of the examples (thanks for creating all of those). For sims with a black background, 0.5 seems the best, but for colored backgrounds, 0.4 seems better to me. The annoying thing about using opacity is that in any case other than a white background the component can look really muddy, so I understand why 0.5 seems preferable to some. H

[2020-03-26 19:06] kathy-phet commented on #578
We should have a in-person meeting to discuss it. Even on white, the 0.5 looks quite disabled to me compared to the 1.0. The 0.4 gets quite challenging for me to read.

[2020-03-26 19:08] arouinfar commented on #578
Thanks @amanda-phet!

@kathy-phet agreed that it would be good to discuss as a team. I've set up a reminder to request time for this at next week's design meeting.

[2020-03-26 19:10] kathy-phet commented on #578
@arouinfar - Can you make a middle of the road - 0.45 version?

[2020-03-26 19:21] arouinfar commented on #578
Will do @kathy-phet.

[2020-03-26 19:34] pixelzoom commented on #578
Strongly recommended to choose a value that works on all background.  If we decide to use different opacity for different backgrounds (light vs dark), it's going to be a significant cost in the long run.

[2020-03-26 19:38] pixelzoom commented on #578
I'm going to abstain from a offering an opinion on which opacity value is best.  But I strongly recommended choosing a single default value for use on all background (with an option to change the default that is rarely used).  If we decide to use different opacity for different backgrounds (light vs dark), it's going to be a significant cost in the long run.  So if it comes down to a compromise, I

[2020-03-26 19:40] jbphet commented on #555
This was discussed in the 3/26/2020 developer meeting, and it seems like there is significant tension between the current phet-io API design and the ability to use radio button groups in different layouts, such as the ones shown in https://github.com/phetsims/sun/issues/555#issuecomment-570730096.  @pixelzoom was making the point that the layout and the "groupness" are separate functionalities tha

[2020-03-26 21:36] zepumph commented on #257
In the above commit I generalized EnabledComponent to be able to be used on any object. I did this is a bit of an uncommon way. I kept the Node and PhetioObject specific code in the mixin, but we can detect if the instance that is mixing in is of those types, and if so, execute that logic. From this EnabledComponent supports `Object`, `Node`, and `PhetioObject` gracefully. If `this` isn't an insta

[2020-03-26 21:47] zepumph commented on #585
One thing that we need to make sure to do as part of regression testing is to look at interrupting input when toggling enabled. This has been added to EnabledComponent, but isn't is most custom usages across the project.

over in https://github.com/phetsims/sun/issues/257#issuecomment-599724039 @jbphet  said:

I agree, but think it will be best to do this as a batch here (or in component specific

[2020-03-26 22:35] zepumph commented on #257
I implemented the cursor and `interruptSubtree` above. I also updated tests to make sure that the cursor logic is as expected. There was no easy way I could think of to add tests for interruptSubtree.

[2020-03-26 22:36] chrisklus commented on #576
Looks good @pixelzoom - and looks like that was a bug waiting to happen since the original enabled listener was basically duplicating the incrementFunctions, so nice improvement. Closing.

[2020-03-26 22:36] #576 closed

[2020-03-26 22:39] zepumph commented on #257
I think that keeping them as `enabledPropertyOptions` is important. It seems really valuable to have the option to specific phetio metadata via these options, and I don't see a reason to limit this to just phetio metadata. I'm going to keep it as is. I also added a test to make sure this was working to pass through metadata programmatically.

[2020-03-26 22:40] zepumph commented on #257
That sounds really nice to me!

[2020-03-26 22:42] zepumph commented on #257
That was an important todo to me up until this type was able to get reviewed. In the off chance that this issue was left behind, I didn't want anyone thinking that the file was something to be used just yet. Now that it has been reviewed by you (and feedback implemented by me right now), I removed that TODO.

[2020-03-26 22:42] zepumph commented on #257
see https://github.com/phetsims/sun/issues/585

[2020-03-26 22:45] zepumph opened #586 "Review phet-io structure of EnabledComponent"
From over in https://github.com/phetsims/sun/issues/257 @jbphet said:

@samreid can you take a look at `EnabledComponet` in a phet-io context. Any thoughts or possible ways to improve it?

[2020-03-26 22:47] zepumph commented on #257
See https://github.com/phetsims/sun/issues/586.

I have gone through everything. Back to you @jbphet.

[2020-03-26 22:51] zepumph commented on #582
On hold until review of https://github.com/phetsims/sun/issues/257 is finished.

[2020-03-26 23:19] samreid commented on #586
I tested pH scale with its `phScale.microScreen.view.graphNode.graphControlPanel.graphUnitsSwitch`, and I tried as-is and commenting out the call to `this.initializeEnabledComponent( options );`.  Studio correctly showed the `enabledProperty` when this was initialized.  I didn't have any phet-io specific recommendations (though there is one question below).  My other questions and comments are mor

[2020-03-26 23:31] zepumph commented on #586
I'm going to merge this issue into the main review, for clarity, and one thread. Closing.

[2020-03-26 23:31] #586 closed

[2020-03-26 23:32] zepumph commented on #257
The phet-io review in https://github.com/phetsims/sun/issues/586 turned into a more general one, so I'm going to put @samreid's comments here. Unassigning @jbphet until I address them, and back to @jbphet for a check of all comments/implementations.

[2020-03-26 23:32] zepumph commented on #257
@samreid's review:

I tested pH scale with its `phScale.microScreen.view.graphNode.graphControlPanel.graphUnitsSwitch`, and I tried as-is and commenting out the call to `this.initializeEnabledComponent( options );`.  Studio correctly showed the `enabledProperty` when this was initialized.  I didn't have any phet-io specific recommendations (though there is one question below).  My other questions

[2020-03-26 23:47] zepumph commented on #257
We don't have such a thing. Thus far we haven't needed to implement it, and I think that we should wait to do so until there is a case that we have that can inform the implementation and help with testing.

[2020-03-26 23:52] zepumph commented on #257
Yes I thought about that! I ended up going with this slightly worse implementation (which links a no-op no matter what) because it felt most maintainable and future proof. If in the future, there was logic a non Node mixer wanted to do on enabled change, then it could do so in the same, single listener.

I really really like this, and would enjoy going down this road, but would like to hear from @

[2020-03-27 03:46] pixelzoom commented on #257
Self assigning.

[2020-03-27 17:47] pixelzoom commented on #257
👎 It's fine for a trait to have knowledge of the host class, that's an acceptable pattern.  It is not OK for the host class knowledge to have knowledge of the mixin, which is what would be required in the `acceptEnabledComponent` method.   So let's make EnabledComponent a trait, and not try to do something backwards just to make it a mixin.

[2020-03-27 18:06] pixelzoom commented on #257
Two more things I'd like to see:

(1) Safeguards to prevent the mixin/trait from overriding properties of the host class.  As we use mixins and traits more (scenery, a11y, and now here) this becomes more important.  See https://github.com/phetsims/phet-core/issues/54.

(2) Clearly specify and verify the prerequisites of the host class. `EnabledComponent` currently has conditional dependency on the

[2020-03-27 18:22] zepumph commented on #257
I agree with everything you said and have two more thoughts. First, I want to make sure that it is clear that this mixin currently supports mixing into an object that isn't a Node or PhetioObject. This feels important to me, and I'd like to keep the logic conditional to allow that. This will support at least one real world case (ButtonModel.js) and maybe more in the future. Second, because of the

[2020-03-27 18:36] pixelzoom commented on #257
That was not clear from the implementation, precisely because the prerequisites for host classes are not clear identified.  So the `instanceof` assertions are not sufficient. And the `assertHasOwnProperties` assertions make it clear that there are prerequisites that are specific to host classes.

I'm guessing you're saying this because (as far as I can tell) `EnabledComponent` has no prerequisites

[2020-03-27 18:43] pixelzoom commented on #257
About this:

[code]

Why is `enabledListener` is added in all cases? It does nothing unless this is a Node.  It would be better to create and add `enabledListener` only for Node.  Proposed patch:

<details>
<summary>Patch</summary>

[code]

</details>

[2020-03-27 20:14] zepumph commented on #257
I created `assertHasOwnProperties` and I like it as an easy way to specify what pieces of the host api we will be using. It is a bit of a misnomer because prototype functions will be treated as a "property" of the object for this function. Perhaps a better name is needed.

As for the code in `EnabledProperty`, It is easy to get out of sync, but hopefully people will add to the assertions when addi

[2020-03-27 20:25] zepumph commented on #257
Above @pixelzoom had the following line of code:

I think we have cleared this up already, but I want to confirm that EnabledCompont does not require one of these to be true, and can work with any object.

Sorry that I've been so stubborn! After @jbphet, @samreid and @pixelzoom all recommended this, I'm definitely refactoring. Added above.

That is all of the review comments from @pixelzoom. Back

[2020-03-27 21:21] pixelzoom commented on #257
Looks great to me, thanks for handling this.

Agreed, `assertHasOwnProperties` needs a better name.  Maybe as simple as `assertHasProperties`?

Confirmed, this assertion is not desirable:

[2020-03-27 23:16] zepumph commented on #567
@jessegreenberg I don't yet see how this fits into a general case. Would you like to discuss at an upcomming meeting?

[2020-03-27 23:47] zepumph commented on #582
https://github.com/phetsims/sun/issues/257 has made good progress, and this issue would be useful for https://github.com/phetsims/ohms-law/issues/159. I'm going to go ahead and implement now.

[2020-03-28 00:14] zepumph commented on #582
Added above. Things are looking great in studios and in sim runs. I linted and built a few sims.

I think getting @pixelzoom to review the change in sun is important. I also think that designers should take a look to see if there are any spots where this phetioFeatured enabledProperty shouldn't be featured. For example somewhere like `projectileMotion.introScreen.view.timeControlNode.speedRadioBut

[2020-03-28 21:49] samreid commented on #564
The commit looks good.  Anything else for this issue?

[2020-03-30 15:57] pixelzoom commented on #582
AquaRadtioButtonGroup is missing a call to `disposeEnabledComponent()`. Added in the above commit.  Back to @zepumph for review.

[2020-03-30 16:03] pixelzoom commented on #582
One more commit.  I moved the call to `this.disposeEnabledComponent()` into `dispose`, rather than putting it in `disposeAquaRadioButtonGroup`.   This is the way it's done in other class where `EnabledComponent` is used.  And it makes sense to me, because calling `super.dispose()` and `this.disposeEnabledComponent()` are somewhat similar.

[2020-03-30 23:20] arouinfar commented on #582
@zepumph said:

I think it's nice to have the top-level `enabledProperty` of the RadioButtonGroup be phetioFeatured: true. When @kathy-phet and I requested updates the default behavior in #564, we would have included the `enabledProperty` had it existed at the time.

Even in something like TimeControlNode, it seems appropriate to have `speedRadioButtonGroup.enabledProperty` be phetioFeatured: true

[2020-03-31 18:46] jessegreenberg commented on #567
Discussed today - since RadioButtonGroup.js has the aria-labelledby association we would like to add the aria-labelledby association to VerticalAquaRadioButtonGroup.js as well. At some point, RadioButtonGroup and VerticalAquaRadioButtonGroup will be re-written to consolidate, and at that time we want it to be clear that these two types have the same a11y behavior regardless of their visual represe

[2020-03-31 18:50] jessegreenberg commented on #563
This was discussed with a11y designers, who also checked current behavior with the ARIA working group. They agreed that the virtual cursor should not be constrained to the open combo box so this is not necessary for accessibility. So I am not going to work on this, closing.

[2020-03-31 18:50] #563 closed

[2020-03-31 18:50] jessegreenberg commented on #565
This was discussed with a11y designers, who also checked current behavior with the ARIA working group. They agreed that the virtual cursor should not be constrained to the open combo box so this is not necessary for accessibility. So I am not going to work on this, closing.

[2020-03-31 18:50] #565 closed

[2020-03-31 20:13] jessegreenberg commented on #567
Done in the above commits. The radio button group in BASE looks great. I also verified with one more search that remaining usages of `ariaLabelledbyAssociation` are for things other than radio button groups. Closing.

[2020-03-31 20:13] #567 closed

[2020-03-31 23:13] zepumph commented on #582
Excellent @arouinfar, thanks for the update. All of that sounds good to me!

@pixelzoom your commits look very good. I think that is the appropriate pattern.

I think someone recommended that to me when I did ABSwitch and ToggleSwitch. Thanks for doing that.

I'm ready to close this issue. Please reopen if anyone feels differently.

[2020-03-31 23:13] #582 closed

[2020-03-31 23:38] jbphet commented on #257
First off, kudos to @pixelzoom for the thorough review and insightful comments, and to @zepumph for taking this on and continuing to evolve it.

This may be far fetched, but would it be possible to pull out the code that is specific to `Node` and `PhetioObect` and add it back using `extends`?  That would keep the base type as a pure mixin, and make the sub-types traits, and clear up the hybrid nat

[2020-04-01 02:49] pixelzoom commented on #575
Natural Selection is now using NumberSpinner, so using NumberDisplay herein is also desirable for that sim. Milestones: 6/1/2020 dev version to client, 8/1/2020 publication.

[2020-04-01 19:53] Denz1994 commented on #575
I refactored `valueNode` in NumberSpinner to use NumberDisplay. It was mentioned, in https://github.com/phetsims/sun/issues/575#issuecomment-596842234 that use cases of NumberSpinner looked different. The changes I saw (Sun, Collision-Lab and EE)  were related to NumberSpinner.options that needed to be passed into NumberDisplay.

@pixelzoom Is this the only blocking item in this issue for Natural

[2020-04-01 19:58] pixelzoom commented on #575
Yes, I believe so.

[2020-04-01 19:58] pixelzoom commented on #575
Yes, I believe so.  It's also on the "wish list" for ph-scale.

[2020-04-02 01:51] pixelzoom commented on #575
Things are not looking right.

Here's Gas Properties 1.0.4 before the change:

<img width="1060" alt="screenshot_238" src="https://user-images.githubusercontent.com/3046552/78202323-3f378e80-7451-11ea-82ae-0b8490069b11.png">

Here's what master looks like:

<img width="1057" alt="screenshot_237" src="https://user-images.githubusercontent.com/3046552/78202263-16af9480-7451-11ea-9a6d-26059fcde7cd.pn

[2020-04-02 02:19] Denz1994 commented on #575
Along with the above Gas Properties example listed above, I didn't update the `PhET-iO API` causing this error in ph-scale:
[code]

A note on future development related to this issue provided by @pixelzoom on slack:
- make common-code changes
- run for-each.sh phet-io grunt update
- test a few IO sims (Studio, State Wrapper,...)
- commit and push common-code and API changes together

[2020-04-06 21:02] arouinfar opened #587 "ComboBox PhET-iO design pattern"
Several sims currently undergoing PhET-iO instrumentation contain ComboBox, see:
* https://github.com/phetsims/ph-scale/issues/92
* https://github.com/phetsims/projectile-motion/issues/177
* https://github.com/phetsims/states-of-matter/issues/245

In design reviews @kathy-phet and I have discussed the general pattern what we would like featured in a ComboBox. If any of these requests are better ha

[2020-04-06 23:30] zepumph commented on #536
I now think that this is a duplicate of https://github.com/phetsims/scenery/issues/1016. Over there we are trying to add more general logic to `DragListener` instead of just to a slider. Closing

[2020-04-06 23:30] #536 closed

[2020-04-07 19:17] pixelzoom commented on #583
More notes from 3/26/20 dev meeting, as noted in https://github.com/phetsims/acid-base-solutions/issues/161#issuecomment-610570790:

[2020-04-08 19:06] arouinfar commented on #587
@kathy-phet and I talked a bit more about this today, and `listBox.opacityProperty` and `listbox.pickableProperty` are not high priority since these properties are not exposed to the client.

Addressing the checkboxes in https://github.com/phetsims/sun/issues/587#issue-595425648 should be the priority for this issue.

[2020-04-09 00:48] zepumph commented on #564
I don't think so

[2020-04-09 00:48] #564 closed

[2020-04-09 17:16] Denz1994 commented on #575
Regarding my above comment:

For more direct reference see the newly updated https://github.com/phetsims/phet-io/blob/master/doc/phet-io-instrumentation-guide.md#before-instrumentation

[2020-04-09 18:34] arouinfar commented on #578
@pixelzoom I believe we're all on board with choosing a single default value. The only remaining question is what that value will be.

Here's an updated table which includes 0.45 for today's design meeting.

| 0.4 | 0.45 | 0.5 |
| --- | --- | --- |
| ![image](https://user-images.githubusercontent.com/8419308/77195115-bad72a00-6aa6-11ea-911c-0a98c66484a1.png) | ![image](https://user-images.githubus

[2020-04-09 19:45] arouinfar commented on #578
Reviewed in 4/9/20 design meeting with @ariel-phet @kathy-phet @amanda-phet and @chrisklus, and we've decided that 0.45 is a happy medium. We would like to move forward with updating `SunConstants.DISABLED_PROPERTY`  to 0.45, and well as updating the various hard-coded opacities mentioned by @pixelzoom. Assigning to @chrisklus.

[2020-04-10 19:42] terracoda commented on #578
In some cases, using opacity doesn't seem appropriate because, the background begins to show through the control (see the slider on the battery and the Pause/Play controls on the grid).

I don't know much about color, but would a combination of opacity and desaturation be a good option as mentioned in item 4 of this web page on [designing button states](https://cloudfour.com/thinks/designing-butto

[2020-04-13 13:28] pixelzoom opened #588 "ComboBox listbox does not resize when last item is made invisible"
Over in https://github.com/phetsims/joist/issues/608, option `excludeInvisibleChildrenFromBounds` was added to LayoutBox, and the default was set to `true`.   This makes LayoutBox effectively resize when the visibility of children change.

The first usage of this was in ComboBox, where the listbox changes size.  Apparently this was not tested for the case where the list item is the selected item.

[2020-04-13 13:59] samreid commented on #588
It would be best for @jonathanolson to answer these questions, unassigning for now. Please reassign me if I should assist.

[2020-04-13 14:01] pixelzoom commented on #588
This is not related to the selected item, it's related to the last item in the list.

1. start ph-scale in Studio
2. go to Macro screen
3. set Solute combo box to 'Blood'
4. Pop up the Solute listbox
5. Set visibleProperty to false for phScale.macroScreen.view.soluteComboBox.listBox.blood.visibleProperty. Note that 'Blood' disappears from the list and the listbox resizes.  'Blood' is still the sel

[2020-04-13 14:04] pixelzoom commented on #588
If the combo selection is changed in either of the above 2 scenarios, then the listbox resizes to eliminate the gap where 'Water' was.

[2020-04-13 15:47] jonathanolson commented on #588
I believe the above fix results in the correct behavior happening here. Testing locally, there isn't a gap anymore:

<img width="138" alt="Screen Shot 2020-04-13 at 9 46 30 AM" src="https://user-images.githubusercontent.com/480878/79134892-b7645500-7d6b-11ea-8678-7e3989521ff2.png">

Sorry about the regression! Can you verify?

[2020-04-13 16:24] pixelzoom commented on #588
The above fix looks good, verified in ph-scale.

But to clarify...  There are 2 problems to address here:
(1) The listbox should resize if any item in the list is made invisible.
(2) Is it a problem when the selected item is made invisible in the list?

(1) is fixed.  Do we do anything about (2)?  Adding @samreid and @arouinfar for their opinion.

To summarize, the remaining question is whether it

[2020-04-13 16:25] pixelzoom commented on #588
Also adding @jessegreenberg for an a11y perspective, in case there's an issue that I'm not aware of. Please see summary in previous comment.

[2020-04-13 17:56] samreid commented on #588
It may be acceptable if this happens during customization in studio.  However, what if a client develops a wrapper that removes a UI component that has focus or is being used?

[2020-04-13 18:00] pixelzoom commented on #588
Given that iO provides access to potentially any Node, I would hope that scenery's input system would interrupt any interaction that is in progress when the target Node becomes invisible.  @jonathanolson is that the case?

[2020-04-13 18:34] jessegreenberg commented on #588
It seems problematic to me as well. I think it would be best to not allow the selected item to be removed from the list (if possible). But if this behavior sticks around we will want to support it with keyboard focus. ComboBoxListBox puts focus on the selected item when opened, which cannot happen if the item isn't in the list.

[2020-04-13 18:39] pixelzoom commented on #588
Hmmm... This is going to be tricky.  The `phetioReadOnly` metadata of an iO element's `visibleProperty` cannot be conditionally controlled.  So we can't prevent changing a list item's `visibleProperty` when it's the selected item, and allow it at other times.

[2020-04-13 18:42] jonathanolson commented on #588
Currently no visibility listeners are added, although this would be possible to implement (interaction with a target node temporarily adds a listener so that if visibility is toggled to false it interrupts). I could imagine cases where we could be doing this unintentionally, but that's unlikely and could be worked around.

Thoughts on adding that feature to PressListener?

[2020-04-13 19:14] arouinfar commented on #588
It also seems a bit odd to me, but I think it is acceptable since it doesn't break the sim or cause it to crash. PhET-iO is not foolproof, and there are myriad ways that clients can screw things up when customizing a sim. Our stance so far has been to put the burden on the client, and I don't really see how this case is any different.

[2020-04-13 19:57] kathy-phet commented on #578
@terracoda - This issues has primarily come up because in PhET-iO the ability to disable something is present for clients. In this case, you often want to be able to read what is available, so going too dim is undesirable. We use disable sparcely in our basic version of the simulations. As we come across those cases in our regular simulations, we can explore if some of these other strategies. woul

[2020-04-13 20:50] terracoda commented on #578
@kathy-phet thanks for the clarification that this is not a system wide solution for PhET sims in general.

[2020-04-13 22:01] chrisklus commented on #578
I updated SunConstants.DISABLED_OPACITY to 0.45 in the above commit. I searched for `= 0.3`, `: 0.3`, and `? 0.3` project wide, and `0.3` in `sun` and `scenery-phet`. I found one sim-specific usage of 0.3 that seemed like it should be using `SunConstants.DisabledOpacity` - reviewer do you agree, or should we not touch sim code and revert that change? I also updated a usage in MoveToTrashButton.js

[2020-04-14 18:05] jbphet commented on #516
@zepumph has taken on much of the work for creating a mixin to handle enabled/disabled functionality, please see https://github.com/phetsims/sun/issues/257.  That's progressing well, so I'm going to delete the enabledDisabledMixinExperiments branch.

[2020-04-14 18:10] jbphet commented on #516
Turns out I never pushed the branch anyway, so I just deleted my local copy.  Closing.

[2020-04-14 18:10] #516 closed

[2020-04-15 00:38] pixelzoom commented on #578
Looks good @chrisklus.  `MoveToTrashButton` has some other problems related to opacity, but we'll track that in https://github.com/phetsims/scenery-phet/issues/598.

Closing.

[2020-04-15 00:38] #578 closed

[2020-04-15 19:14] jessegreenberg opened #589 "Add optional "change" function to AccessibleValueHandler"
This "change" function would behave similarly to Slider.js optional `drag` function.

We have an optional `startChange` and `endChange` but not a callback for every change. This would be useful for press and hold type functionality while using a keybaord, and would be beneficial in cases like https://github.com/phetsims/wave-interference/issues/484#issuecomment-614151459.

It hasn't been added yet

[2020-04-15 19:43] zepumph commented on #589
I think that this is a good first step, but I worry about the difference in API (generally) between `drag` and `change`. I would recommend one of two things:

1. In AccessibleValueHandler, only call `change` when not calling start/endChange.
2. Keep committed logic in AccessibleValueHandler since it makes sense in terms of "change", but then in `AccessibleSlider` handle logic that makes sure that

[2020-04-15 19:43] zepumph commented on #589
(I shouldn't have commented yet, I see https://github.com/phetsims/sun/commit/1d917fccaf7d2e31c1a165cf2a6cb6bee0a375c2 now)

[2020-04-15 20:08] jessegreenberg commented on #589
Thanks so much for taking a look, was just about to request feedback from you!

At first I totally agreed with you, but after trying out the change I believe I it is correct as is. For pointer events, the callbacks behave like
- `down` event: `startDrag`
- `move` event: `drag`
- `up` event: `endDrag`

In order to capture all of this with alternative input, we need to keep as we are now because the

[2020-04-15 20:32] zepumph commented on #589
I understand and trust you. Is it possible to create a test case where we find that a callback passed to `drag` is strange and broken when passed as the `change` callback? I think it would be very benefitial to understand if there are shortcommings in certain situations and then to document how the API for AccessibleSlider behaves differently (even though it is named the same) as Slider.js. Again

[2020-04-15 21:19] zepumph commented on #257
* renamed to `assertHasProperties` above.

I love the idea of using a hierarchy! It will definitely work, as we did it for `AccessibleSlider` and `AccessibleValueHandler` and I think it is way to go.

Above I created the following Hierarchy:
[code]

I also split up tests and made all usages thus far (which all mixed into Nodes) use EnabledNode. Great idea @jbphet, I'm really happy with this change

[2020-04-15 22:16] arouinfar commented on #587
@zepumph @samreid @chrisklus this issue needs to be addressed before delivering a dev version of ph-scale to the client.

[2020-04-15 22:21] zepumph commented on #257
I caught two bugs in the above tests.

[2020-04-15 22:25] zepumph commented on #257
RE: this todo:

@jbphet said this in regards to my originally asking this question in https://github.com/phetsims/sun/issues/257#issuecomment-599724039:

I'm inclined to agree with it. When we get to AquaRadioButton over in https://github.com/phetsims/sun/issues/585, we will need to fix api usages that use `options.enabled`. Or determine that it is worth adding that support. For now I'll just mark

[2020-04-15 22:27] zepumph commented on #585
From https://github.com/phetsims/sun/issues/257#issuecomment-614310370:

- [ ] Note that when converting `AquaRadioButton.js`, the api for it has changed, as we don't support a default value passed in via `options.enabled`. If that proves too challenging, we can add it, but it is nice to try to keep a simpler api to begin with.

[2020-04-15 22:47] zepumph commented on #587
Currently this is only supported for default enabledProperties. In all three sims above it looks like comboboxes are not being passed a premade enabledProperty. So this will be good. I don't want to build out any more logic in ComboBox for this because it will be fixed when we use `EnabledNode` as a trait to add the `enabledProperty` instead.

I would be simple enough to link the pickability and o

[2020-04-15 23:08] zepumph commented on #587
All the checkboxes have been implemented above.

All that remains is the above discussion point about linking opacity and pickability of the listbox to the combo box.

[2020-04-15 23:09] zepumph commented on #587
@arouinfar please review and remove the blocking label if all looks as you desire.

[2020-04-16 05:31] arouinfar commented on #587
Thanks @zepumph!

I noticed that `comboBox.button.visibleProperty` is still phetioFeatured: true in ph-scale and states-of-matter (and I suspect the other sims too). Can you make it false?

That seems reasonable to me. I'll make a note in case I run into a sim in the future where `comboBox.enabledProperty` needs to be featured in the overrides.

Good to know. I think this may take may merit a bigg

[2020-04-16 15:50] pixelzoom commented on #587
Setting `comboBox.button.visibleProperty` to `phetioFeatured: false` is a blocking issue for ph-scale.  See https://github.com/phetsims/ph-scale/issues/163.

[2020-04-16 16:05] pixelzoom commented on #587
From Slack phet-io channel 4/15/20:

Kathy Perkins  4:16 PM
Hi PhET-iO team, Can someone work on this issue for Combo Box? It's blocking delivery of dev version of pH Scale to client:
https://github.com/phetsims/sun/issues/587
Note also that Studio issues block RC publication but not this dev delivery.
Thanks! - Amy and Kathy

[2020-04-16 16:06] pixelzoom commented on #587
From Slack phet-io channel 4/15/20:

Michael Kauzmann  4:48 PM
It would be nice to get a dev or two to comment on my second paragraph in https://github.com/phetsims/sun/issues/587#issuecomment-614317610. I won't proceed until we discuss that further. Everything else is simple and will be added shortly.

4:50
As stated in https://github.com/phetsims/sun/issues/587#issuecomment-611136989 though, thi

[2020-04-16 16:07] pixelzoom commented on #587
@zepumph if your second paragraph is this:

I'm not aware of anything in ComboBox (or it's subcomponents) that should interfere with that.  But there have been a lot of hands in ComboBox, and I haven't looked at it in awhile.  That sounds like the proper approach, so I would proceed with that.

[2020-04-16 16:10] zepumph commented on #587
Thanks! I see my typo in ComboBoxButton and will commit shortly. (with grunt updates).

I'm interested in pursuing this strategy, and think it is probably best to do that now while we are on this issue.

[2020-04-16 16:43] zepumph commented on #587
combo box button visibleProperty phetioFeatured false bug should be fixed above.

In https://github.com/phetsims/sun/commit/954cf46e3d9c2f785e7d046d27e8385dd559185e I synced opacity and pickable of the listbox to the value of the ComboBox. I think my preference from here (if this is what we like and want to go with), is to make the listbox pickable/opactity Properties `phetioReadOnly`. I'll go ahe

[2020-04-16 17:18] zepumph opened #590 "Convert Slider from SimpleDragHandler to DragListener"
This will help make a more consistent PhET-iO API. Furthermore SimpleDragHandler is deprecated, and  Slider.js is used enough that we should definitely do this.

@jonathanolson was volunteered(told) to do this. Thanks @jonathanolson!

[2020-04-16 17:20] zepumph commented on #590
We also found usages in scenery-phet too. Can we do those too?

* ConductivityTesterNode.js
* FaucetNode.js
* MeasuringTapeNode.js
* SpectrumSlider.js

[2020-04-16 19:48] zepumph commented on #587
list box has read-only opacity and pickle Properties above.

@pixelzoom can you please review https://github.com/phetsims/sun/commit/217dbaaf3814cc094e51b237f7699b4eb24efa48

That is one-directional, but, when coupled with the fact that on the PhET-iO API the list box's Properties are read-only, I think that it is sufficient.

[2020-04-16 22:30] zepumph commented on #561
While looking at https://github.com/phetsims/wave-interference/issues/484 I was curious as to why we decided to call drag first. Can you clarify? Looking around at other usages of "callbacks" on the project make me feel like it makes more sense to call it at the very end, after the Property has been updated. I see callbacks called last in PressListener, and SimpleDragListener, and KeyboardDragList

[2020-04-16 22:32] pixelzoom commented on #587
I verified that that `comboBox.button.visiblityProperty` is `phetioReadOnly: false`.

I verified changing `comboBox.opacityProperty` results in the same change to `comboBox.listbox.opacityProperty`.

Changing `comboBox.pickableProperty` results in the same change to `comboBox.listbox.pickableProperty`.  I'm not sure why this was necessary or desirable, because the only way to popup the listbox is

[2020-04-17 16:19] samreid commented on #561
I marked this as blocking for Waves Intro

[2020-04-17 16:31] jessegreenberg commented on #561
https://github.com/phetsims/sun/issues/561#issuecomment-614929991 Makes sense to me.

I was trying to match the behavior of Slider in AccessibleValueHandler, if the callback moves in Slider.js it should move in the AccessibleValueHandler trait as well.

[2020-04-17 20:11] arouinfar commented on #587
The behavior is definitely a bit funky. Now that`comboBox.listBox.visibleProperty` is read-only, I'm less convinced that the listbox needs to listen to the parent `pickableProperty`. I think it would fine to remove the linkage.

[2020-04-17 20:14] pixelzoom commented on #587
@zepumph sounds like it would be OK to remove the linkage for `pickableProperty`.  If you don't have any objections, could you make it so?

[2020-04-17 22:57] pixelzoom opened #591 "ComboBox: selected item may not appear in the list"
Pulling this issue out of #588.

If the selected item is made invisible in the list box, you end up with something like this:

<img width="192" alt="screenshot_274" src="https://user-images.githubusercontent.com/3046552/79620139-3212d480-80cc-11ea-8504-a42ca938757f.png">

This seems odd to me, but I don't have a proposal for addressing it. And it doesn't cause a problem.

In https://github.com/phe

[2020-04-17 22:57] pixelzoom commented on #588
I've moved the remaining question to https://github.com/phetsims/sun/issues/591.

Closing this issue.

[2020-04-17 22:57] #588 closed

[2020-04-23 15:22] Denz1994 commented on #575
Raising priority on this issue so I'll pick up on it this week.

[2020-04-27 20:53] jessegreenberg opened #592 "ABSwitch label Nodes should have a 'pointer' cursor"
In https://github.com/phetsims/energy-skate-park/issues/262#issuecomment-620161307 @arouinfar pointed out that the label Nodes for ABSwitch don't have a 'pointer' cursor until they are pressed.

ABSwitch used to have `cursor: 'pointer'` but that was removed in phetsims/sun@8030fd0 from https://github.com/phetsims/sun/issues/559.

[2020-04-27 20:56] jessegreenberg commented on #592
`cursor: 'pointer'` is default for the ToggleSwitch, but it still needs to be set on the ABSwitch for the labels. I added it back, assigning to @pixelzoom to review (author of ABSwitch.)

[2020-04-28 19:00] pixelzoom commented on #592
Since the listeners are added to the labels, not to ABSwitch, and the client may have set pointer areas for the labels, my first instinct would have been to set `cursor` on the labels, not the ABSwitch.  But this seems to work, so closing.

[2020-04-28 19:00] #592 closed

[2020-04-29 17:27] terracoda commented on #580
We have a nice on/off switch in Molecules and Light. That sim's code can be used as a good design pattern.

[2020-04-29 17:29] terracoda commented on #580
Unassigning myself. Please re-assign if needed.

[2020-04-30 16:25] ariel-phet commented on #513
@jessegreenberg will work on this issue after ESP is published. It may makes sense to bring back to developer meeting before doing the work.

[2020-04-30 23:59] zepumph commented on #587
That is a very great call. Thanks you two!

[2020-04-30 23:59] #587 closed

[2020-05-05 19:47] zepumph opened #593 "AquaRadioButton labelTagName should default to h3"
While working on https://github.com/phetsims/ratio-and-proportion/issues/34, I noticed that this is the case for RadioButtonGroup, but not for AquaRadioButtonGroup. I'll add it and then remove duplications in usages.

[2020-05-05 19:51] zepumph commented on #593
@jessegreenberg please spot check the above commits.

[2020-05-06 15:06] jessegreenberg commented on #593
Cool, looks good thanks!

[2020-05-06 15:06] #593 closed

[2020-05-06 20:06] jonathanolson commented on #590
Implemented, assigning to @ariel-phet to decide on review.

[2020-05-07 00:01] pixelzoom opened #594 "dynamic layout doesn't consider visibility of children on construction"
Related to https://github.com/phetsims/joist/issues/608.

I believe I've found a bug in dynamic layout... Visibility of children does not seem to be taken into account on construction.  For example, when I create a VBox that has an invisible child, there's a gap where that child would be.  If I create the same VBox with the same children, but make the child invisible after the VBox constructor is

[2020-05-07 02:47] chrisklus opened #595 "CT: Slider PhET-iO API validation failed: error report should be empty"
[code]

[2020-05-07 02:49] chrisklus commented on #595
From slack:

@samreid said in response to the above error mentioned on dev-public:

(in a modular way as opposed to testing the full phet-io API file)

@chrisklus

@samreid

Or go with a strategy like the patch in https://github.com/phetsims/phet-io/issues/1657

[2020-05-08 16:07] pixelzoom commented on #591
This was discussed in 5/7/2020 dev meeting, and I agreed to move it forward, since it's on the list of issues to evaluate before ph-scale 1.4 RC.

It's not at all clear what an appropriate solution to this is.  Any solution that I can think of is complicated and may have unintended side-effects.  And as is, it doesn't break anything - the sim continues to function properly - it just feels odd.

So

[2020-05-08 17:00] arouinfar commented on #591
I agree @pixelzoom. Let's close.

[2020-05-08 17:00] #591 closed

[2020-05-08 20:43] jessegreenberg commented on #561
We discussed this yesterday during developer meeting and agreed that the optional drag callback should be moved to after the Property value is set.

[2020-05-08 21:46] jessegreenberg commented on #561
The optional callback was moved, @samreid can you please review?

[2020-05-08 22:24] jessegreenberg commented on #561
Oh and I should mention that WaveInterferenceSlider was the only place I could find that used the `drag` option which made this change feel pretty safe.

[2020-05-12 00:07] samreid commented on #561
I reviewed the change and tested in Wave Interference and it is working nicely, thanks!  Closing.

[2020-05-12 00:07] #561 closed

[2020-05-21 21:57] samreid commented on #199
There are still TODOs marked for this issue, discovered during https://github.com/phetsims/chipper/issues/946

[2020-05-22 01:44] pixelzoom commented on #199
Found and closed 1 TODO, that should have been removed when we decided:

[2020-05-22 01:44] #199 closed

[2020-05-26 17:56] zepumph opened #596 "use Orientation.js for values of ariaOrientation"
From TODO marked in https://github.com/phetsims/gravity-force-lab-basics/issues/134#issuecomment-632366221:

[code]

Now we have Orientation.js.

@jessegreenberg, how do you feel about using that here? Assigning to both of us for whoever gets to it first. Let me know if you feel differently.

[2020-05-27 21:41] zepumph opened #597 "use Orientation.js for values of Slider.orientation"
Related to https://github.com/phetsims/sun/issues/596, I can't really to that one until I do this, so I think I will do them together. I don't see too many usages outside of HSlider and VSlider.

Also want to note the parent issue https://github.com/phetsims/phet-core/issues/76

[2020-05-27 21:51] zepumph commented on #597
Implemented above I didn't find a single usage of the `orientation` option outside of HSlider.js and VSlider.js. I will keep this open and check back after CT has a few runs.

[2020-05-27 21:51] zepumph commented on #596
Implemented above. Closing

[2020-05-27 21:51] #596 closed

[2020-05-28 18:22] pixelzoom opened #598 "PhET-iO assumes that ResetAllButton listener will be set via options"
In ResetAllButton.js:

[code]

Passing a listener via options is not the only way to attach a listener.  It could also be done via `addListener`.  Is that a problem?

[2020-05-28 18:49] pixelzoom commented on #598
This entire approach to "reset to PhET-iO state" is problematic, so see https://github.com/phetsims/phet-io/issues/1678 before working on this issue.

[2020-05-29 22:05] zepumph commented on #597
CT is clear. Closing

[2020-05-29 22:05] #597 closed

[2020-06-01 16:43] pixelzoom commented on #598
I see 5 occurrences of "resetAllButton.addListener".  So yes, this will be a problem when those sims are instrumented for PhET-iO.

Below is a patch where ResetAllButton uses `config` instead of `options`, and `config.listener` is required.   I was also going to override `addListener` to throw Error, but no can do, because RoundPushButton calls `addListener( options.listener )`.   Thoughts on `Res

[2020-06-01 17:40] pixelzoom opened #599 "deprecation warnings in Slider"
I ran into this while doing a code review for https://github.com/heldentodd/xray-diffraction/issues/1.  This item is part of the CRC:

All but 1 of the warnings for this sim occurred in Slider.js subcomponents, and those warnings are:

SliderTrack:

SliderThumb:

Having these warning come from common-code, especially something as ubiquitous as Slider, may mask real problems. Because of these warni

[2020-06-03 18:09] ariel-phet commented on #599
Sounds like @jonathanolson has a common code issue related to this one so would be good for him to tackle.

[2020-06-03 19:48] jonathanolson commented on #594
This should be resolved. Turns out we were setting children (due to mutate options order) before the excludeInvisibleChildrenFromBounds. The change of that flag didn't trigger a re-layout. Now if there are invisible children, changing that flag will trigger a layout, which fixes this case and others.

[2020-06-03 20:35] jonathanolson commented on #599
Looks like the original Slider code was already converted, this I guess was technically a separate issue. Converted above. Can you verify you're getting no warnings now?

[2020-06-03 23:07] pixelzoom commented on #599
I'm see new CT errors related to this for multiple sims (see example below), so I'm not even going to look at the changes.  Back to @jonathanolson.

[code]

[2020-06-04 03:17] samreid commented on #599
I pushed a fix that corrects the problem on my working copy.

[2020-06-04 14:21] pixelzoom commented on #594
👍 Closing.

[2020-06-04 14:21] #594 closed

[2020-06-04 16:09] jonathanolson commented on #599
In Slack:

Since we're now using code that requires a tandem (a PressListener) for handling slider thumb highlighting... is there any way to hide that? Or do we want to expose > that to the client?

I agree it is a question for designers, the main thing we would get from it is a message in the data stream, but it’s not clear that is necessary, especially since we > aren’t doing that uniformly acro

[2020-06-05 18:05] brandonLi8 opened #600 "Should Dialogs call update layout when its isShowingProperty is toggled."
In, https://github.com/phetsims/collision-lab/issues/89, I attempted to position my custom KeypadDialog to the right of the panel at the bottom (BallValuesPanel)

![Screen Shot 2020-06-05 at 11 56 32 AM](https://user-images.githubusercontent.com/42391580/83908055-b1fc0900-a723-11ea-811c-0321e9f02d40.png)

I used the layoutStrategy option, which works great.

However, the width of the BallValuesPan

[2020-06-08 18:57] pixelzoom commented on #600
A lot has changed in Dialog since I last worked on it.  And I'm not familiar with `isShowingProperty`, it's something that was added by @samreid.   That said...

@brandonLi8 your proposed fix seems reasonable to me, and I confirmed that it works in the context of collision-lab.  If this is blocking your work, you might ping @samreid on Slack to see if he sees any problems with applying this fix.

[2020-06-11 22:11] samreid commented on #581
Looks great, thanks!  Closing.

[2020-06-11 22:11] #581 closed

[2020-06-11 22:32] samreid commented on #600
Yes, it seems `isShowingProperty` should be a dependency, thanks for identifying this.  @brandonLi8 you can proceed at will.

[2020-06-11 22:33] samreid commented on #598
@zepumph what's next for this issue?  Self-unassigning, but please invite me back at your discretion.

[2020-06-11 22:40] samreid commented on #595
On hold until we choose a direction for https://github.com/phetsims/phet-io/issues/1657

[2020-06-11 22:41] samreid commented on #579
I reviewed the commit and it looks great, thanks!  Closing.

[2020-06-11 22:41] #579 closed

[2020-06-11 23:08] samreid commented on #541
https://github.com/phetsims/joist/issues/608 is closed, we can see how well it works for this issue.

[2020-06-11 23:17] samreid commented on #478
I skimmed the change sets and tested in the sun test harness.  All looks well.  I haven't been following the `EnabledComponent` mixin too closely, should Slider be using that?  If so, would you like to work on that here or in a separate issue?

[2020-06-11 23:49] brandonLi8 commented on #600
Done in the commit above. Problem fixed in Collision Lab. Closing.

[2020-06-11 23:49] #600 closed

[2020-06-12 01:09] pixelzoom commented on #478
Converting other components (line Slider) to use `EnabledComponent` is the subject of https://github.com/phetsims/sun/issues/585.   So if all looks well, I'm going to close this issue.

[2020-06-12 01:09] #478 closed

[2020-06-13 15:01] samreid commented on #551
Since the previous comment, we have replaced the `phetioValidateAPI` query parameter with `phetioReferenceAPI` and `phetioReferenceAPIValidationLevel`, so we could expand `phetioValidateTandems` to be more general without much confusion.  But I didn't fully understand the proposal from this issue:

@pixelzoom are you saying that clients would put `phetioLinkProperty: false` during development, the

[2020-06-13 19:09] pixelzoom commented on #551
I honestly don't recall providing that feedback (that was almost 5 months ago). So sorry, I don't know what "Use something like options.phetioLinkProperty" means.

[2020-06-17 23:32] zepumph commented on #590
Everything above looks very good. It seemed to be a clean transition and I am happy for the added consistency for our common code. Tandem names are a bit jenky now. I will take a look at changing those. This will be an improvement that breaks the api, but I don't see any usages of these phetioIDs in our code that I worry about breaking.

[2020-06-18 00:52] zepumph commented on #590
I renamed tandems above. Hopefully tests can be added for the tandem changes over in https://github.com/phetsims/phet-io/issues/1657 and with further work over there. Closing

[2020-06-18 00:52] #590 closed

[2020-06-22 19:05] jbphet commented on #505
The radio buttons sounds have been in use for a while and there have been no complaints, so I'm going to call this good.  I'll close this issue, and we can open a new one if we ever decide that changes are needed.

[2020-06-22 19:05] #505 closed

[2020-06-22 19:06] jbphet commented on #506
The default sounds has been in use for a while with no major issues.  Closing.

[2020-06-22 19:06] #506 closed

[2020-06-23 04:04] arouinfar opened #601 "pressListener shows up as phetioFeatured in studio tree"
Noticed while reviewing SOM for https://github.com/phetsims/states-of-matter/issues/296.

I noticed that buttons and radio buttons now show the `pressListener` when viewing the featured elements in studio. None of the children are featured, so it looks like an empty container. Here are a few examples:

<img src="https://user-images.githubusercontent.com/8419308/85359586-e87fa500-b4d3-11ea-9f21-e87

[2020-06-23 15:55] samreid commented on #601
It looks like this is the same problem as https://github.com/phetsims/studio/issues/28, I'll copy the additional information there and close this issue.

[2020-06-23 18:14] arouinfar commented on #601
@samreid I'm also questioning why the `pressListener` is featured in the first place. I do not remember seeing it being featured until recently.

[2020-06-23 18:16] samreid commented on #601
The `pressListener` is not instrumented so it is neither `phetioFeatured: true` nor `phetioFeatured: false`.  The fact that it is showing in the featured view in studio is a bug related to https://github.com/phetsims/studio/issues/28.

[2020-06-23 18:25] arouinfar commented on #601
Got it, thanks for the explanation @samreid!

[2020-06-23 18:25] #601 closed

[2020-06-23 19:42] zepumph opened #607 "UI sound when clicking the title bar of the AccordionBox?"
Right now we only get a sound from the push button. I think this may be our first accordion box in a sound designed sim. Over to @emily-phet to decide what to do.

[2020-06-23 22:21] jbphet opened #602 "Add general sound support to ComboBox"
For the sound design of the ratio-and-proportion sim, we need a sound when the combo box closes up.  We did a sort of one-off implementation for this in molarity, but it would be good at this point to add general support.

[2020-06-30 18:41] jbphet commented on #602
@pixelzoom - I just added basic open and close sound players for the combo box.  I think it would be an improvement to have a different sound that is played when the selection changes versus when the combo box is closed without any change being made.  I recall that the sound design team wanted to do this for Molarity, but it wasn't easy to do so because the list box was hidden before the property

[2020-06-30 20:43] pixelzoom commented on #602
If you're proposing to change the order of this bit in ComboBoxListBox:

[code]

I don't see any problem with moving `property.value =...` before `hideListBoxCallback()`.   But I don't see how that tells ComboBox which sound to play.

You might also consider making ComboBoxListBox responsible for playing the sounds that are associated with it, rather than having ComboBox do that.

[2020-06-30 22:48] jbphet commented on #602
We discussed this at today's sound design meeting, and @Ashton-Morris is going to supply a new sound for the "something new was selected" case.

[2020-07-02 19:39] pixelzoom commented on #575
Assigned to me in 7/2/2020 natural-selection design meeting.

[2020-07-02 20:44] zepumph commented on #359
Hey! We are working on a sim with an AccordionBox again (ratio-and-proportion). I think that this issue was all about design, and I see AccordionBox.md is created and it looks complete for the needs of my component. I wonder though if it is still in date, seeing as this issue is really old.

I think it would be good to confirm with @terracoda. Likely this is just a spot check to tell me that it is

[2020-07-03 20:09] emily-phet commented on #359
Thanks for checking on this @zepumph.
@Matthew-Moore240 and @terracoda let's go over this as part of the description meeting on Tuesday.

@zepumph - can you share with us (or investigate and share with us) how to access binder? We've all seemed to forgotten...

[2020-07-04 00:58] terracoda commented on #359
I started reviewing the markdown file. In general, it is fine. I was taking the opportunity to see what the latest standard had any updates. I haven’t fully digested what I read yet. Also, the example in the ARIA examples is an accordion menu rather than a single expandable/collapsible box, so I wanted to make sure there weren’t any minor nuances.

[2020-07-06 15:10] Ashton-Morris commented on #602
@jbphet [Please add this to test out with ComboBox](https://drive.google.com/drive/folders/1YHLFqMsM_lXnnTT_Ec-yGK86mTqgX9Ec?usp=sharing)

- ui-combobox-selection.mp3
- ui-combobox-selection.wav

[2020-07-06 17:13] zepumph commented on #359
Binder is updated daily and can be found at https://phetsims.github.io/binder/#other-ui. Accordion Box is right there at the top.

[2020-07-06 22:34] jbphet commented on #602
@Ashton-Morris - the selection sound has been integrated.  Please note that I changed the file names to `combo-box-selection` instead of `ui-combobox-selection` for greater consistency with other sound names.  Let's review this in the 7/7/2020 sound design meeting.

[2020-07-06 22:39] pixelzoom commented on #602
In ComboBox.js, I see:

[code]

You asked about this, and my feedback in https://github.com/phetsims/sun/issues/602#issuecomment-652032599 was that this order dependency is probably not necessary.  Can you explain why the responsibility for the listbox sound needs to be in ComboBox.js instead of ComboBoxListBox.js?

[2020-07-06 22:44] pixelzoom commented on #602
To elaborate... If I had sounds associated with a menu, I would expect them to be handled by the menu, not by the control used to pop up the menu.  Especially the sound used to pop down the menu, since the control should have no responsibility related to that action.  ComboBox is similar - the listbox is a type of menu, and ComboBox is the mechanism used to pop it up.

[2020-07-06 22:45] jbphet commented on #602
Indeed.  I wasn't quite done with all the changes I'd planned yet, and will likely move them.

[2020-07-06 23:16] jbphet commented on #602
Sound generation has been moved to `ComboBoxListBox`.  @pixelzoom - please review.

[2020-07-07 03:27] pixelzoom commented on #602
While working on an unrelated issue (https://github.com/phetsims/axon/issues/306), I had to fuzz test ESP.  I immediately hit this failure, which I also see in CT:

[code]

Here's the code around the failing assertion in ComboBoxListBox.js:

[code]

So I'm going to defer my review until this issue is addressed.

[2020-07-07 18:25] jbphet commented on #602
The issue with ESP failing CT was recorded in https://github.com/phetsims/energy-skate-park/issues/277 and should now be addressed.

[2020-07-07 19:00] terracoda opened #603 "Document A11y design pattern for On/Off Switch"
In Molecule and Light we were able to create an accessible on/off switch for the Photon button.
@terracoda will create a markdown file to document the pattern as soon as she can.

[2020-07-07 23:27] jbphet commented on #602
In the 7/7/2020 sounds design meeting we (@emily-phet, @Ashton-Morris, @zepumph, @BLFiedler and myself) reviewed the sounds from the combo box in the context of the Ratio & Proportion simulation.  We decided that the general open and close sounds were fine, but would like to make a change to the selection sound.  For now, I'm going to try using the sounds used for the radio buttons, since they pro

[2020-07-07 23:28] jbphet commented on #602
@pixelzoom - I'll unassign you for now and you can review once the changes that were decided upon in the sound design meeting are complete.  They won't affect the logic much, but it's still probably best to get it all done before doing any review.

[2020-07-08 19:30] pixelzoom commented on #575
Uses of NumberSpinner that must be visually inspected after changing to NumberDisplay:

- [ ] circuit-construction-kit-common
- [ ] collision-lab
- [ ] expression-exchange
- [ ] gas-properties
- [ ] griddle (demo)
- [ ] natural-selection
- [ ] ph-scale
- [ ] reactants-products-and-leftovers
- [ ] sun (demo)
- [ ] tambo (demo)

[2020-07-08 21:21] zepumph commented on #598
This pattern of using resetAllButton to control state setting on reset is deprecated, and something new will be decided on over in https://github.com/phetsims/phet-io/issues/1678. Once that occurs we can close this issue, but I don't want to do so yet, just because the direction over there is still wildly up in the air.

[2020-07-08 22:27] pixelzoom commented on #575
This is done. @ariel-phet please assign someone to review.

For the reviewer:

There are 3 main commits:

*  In https://github.com/phetsims/sun/commit/3a6227ccefd59ae1b6dfca8493a01d06176d6f95, NumberSpinner was changed to use NumberDisplay, but NumberSpinner options remained "flat".
* In https://github.com/phetsims/sun/commit/8904776e0efa12fe3915359ff0ab704612497fe2, options related to NumberDispl

[2020-07-09 20:50] jonathanolson commented on #575
Review looks good! (Reviewed the 3 commits mentioned above, did NOT review client changes)

[2020-07-09 20:52] pixelzoom commented on #575
Thanks @jonathanolson. Closing.

[2020-07-09 20:52] #575 closed

[2020-07-10 23:27] zepumph commented on #359
From https://github.com/phetsims/sun/issues/359#issuecomment-653702935 it sounds like there is still work to be done here. I will hold off on any implementation of AccordionBox over in https://github.com/phetsims/sun/issues/444 and (sim -specific) https://github.com/phetsims/ratio-and-proportion/issues/45 until told otherwise in this issue here.

[2020-07-13 06:17] emily-phet commented on #359
@zepumph My understanding is that there is a doc (perhaps the markdown file) where @terracoda has reviewed, I think made a few edits, and @Matthew-Moore240 and @terracoda felt good about this for RaP.

@Matthew-Moore240 can you confirm, or clarify if I'm remembering incorrectly? Also, pointing to the doc we looked at in Tuesday's design meeting, to make sure everyone is on the same page, would be

[2020-07-13 13:08] Matthew-Moore240 commented on #359
I believe the accordion box in the [RaP design doc](https://docs.google.com/document/d/1HJvvGWYaUv9tlat9S7omQQVng8fGB4FuUhTEM1qx1z8/edit#heading=h.rtza891v0ug4) is good to go. Unless I am missing something here.

[2020-07-13 19:51] zepumph commented on #359
Sounds good. I will use what is in the design doc for RaP and the HTML structure/attributes from AccordionBox.md over in https://github.com/phetsims/sun/issues/444. Closing

[2020-07-13 19:51] #359 closed

[2020-07-13 19:56] zepumph commented on #359
For completeness, this is what the RaP design doc said about AccordionBox:
[code]

[2020-07-13 19:57] zepumph commented on #444
We are now ready to work on AccordionBox more generally again because Ratio and Proportion needs to use this. I will take a first pass and refamiliarize myself with AccordionBox.md as it pertains to the implementation  in AccordionBox.js, and will likely have questions for @jessegreenberg that we can work on together tomorrow.

[2020-07-13 20:28] zepumph commented on #444
I read through all of the BCE issue, and found that a good summary of the a11y issues/changes that should be done is in https://github.com/phetsims/balancing-chemical-equations/issues/125#issuecomment-453650245:

@pixelzoom said:

RE:

I think that is a good place to start. My first thought is that we don't want to be toggling visibility on focusable elements. Perhaps the ExpandCollapseButton can

[2020-07-13 20:46] zepumph commented on #444
- [ ] I will hold off on the `aria-controls` attribute because it is another "association" style attribute, like aria-describedby, and each added one is about 150 lines until https://github.com/phetsims/scenery/issues/952 can be worked on. I don't want to add that immedtiately.

[2020-07-13 21:22] zepumph commented on #444
- [ ] In the design html in AccordionBox.md, it was said that when the box is not expanded, that the content be `aria-hidden=true`, but actually this content is just getting removed from the PDOM. Is that ok? My understanding is that this will yield the exact same effect when using AT, but it would be good to double check.

[2020-07-13 21:23] zepumph commented on #444
- [ ] I see a design question: "Accordion Title Hidden?". I am wondering what the label of the button will be if the title get's hidden. Do you want me to add some sort of default value like "Expand Me!"?

[2020-07-13 21:34] zepumph commented on #444
I think I am ready for commit. The changes were not as intrusive as I thought they might become. And I say this recognizing that we don't want to skirt around common code implementations anymore (as decided in https://github.com/phetsims/tasks/issues/980).

I think that much of the issue that was run into with the implementation removed in https://github.com/phetsims/sun/commit/614e324bed1a8a60d49

[2020-07-13 21:55] zepumph commented on #444
FocusHighlight was added above. I only based it on the expandedTitleBar dimensions. I could have swapped out the base titleBar depending on if the box was expanded or collapsed, but it seemed more complicated than was needed.  Let me know if you feel differently.

I'm pretty sure we want the whole title bar to highlight even if there is no title content, like this:

![image](https://user-images.gi

[2020-07-13 22:45] terracoda commented on #444
In https://github.com/phetsims/sun/issues/444#issuecomment-657800821, @zepumph asked

The non-visual experience always has accessible heading content, and then the code communicates "expanded" or "collapsed." If visually, the design has no heading, we will still need to create a relevant heading for the non-visual experience.

[2020-07-13 22:47] terracoda commented on #444
@zepumph, where do I see it in action? I'll check RaP.

[2020-07-13 23:20] zepumph commented on #444
Hopefully I just implemented that! See the second screen of Ratio and Proportion.

[2020-07-13 23:46] terracoda commented on #444
It sounds and looks good to me in RaP.

[2020-07-14 00:37] zepumph commented on #444
@terracoda is your review complete?

[2020-07-14 04:24] samreid commented on #544
Back to @zepumph to comment on the 2 brainstorm-y ideas from the past 3 comments.  We can open new issues for them if they are worth proceeding but outside of the scope of this issue.

[2020-07-14 08:01] terracoda commented on #444
It seems to work fine.

[2020-07-14 08:01] terracoda commented on #444
Nice job.

[2020-07-14 08:53] terracoda commented on #444
There is one thing I am not sure about...
whether the heading should be around the button or the button around the heading?
Is that explained in the MD file?

[2020-07-14 09:00] terracoda commented on #444
The MD file says:

And that's what you have coded.
![Screen Shot 2020-07-14 at 6 28 18 AM](https://user-images.githubusercontent.com/1902116/87406453-4e26f480-c59b-11ea-9165-0a82df383118.png)

I think the implementation of the pattern is in order.

[2020-07-14 20:06] zepumph commented on #444
Above. @jessegreenberg and I made an improvement to the common code focusHighlight strategy used in AccordionBox. We made it more graceful on startup, and so that it auto updates. I also asked @jessegreenberg to take a look at the changes made in AccordionBox to see how they balance simplicity, feature encapsulation, and also not "tip toeing" around code already implemented in AccordionBox (RE htt

[2020-07-14 23:23] jbphet commented on #602
Latest sounds approved during today's sound design meeting.  Next steps:

- [ ] Rename `radioButtonSoundPlayerFactory` to something more general, since it is now used in an additional context
- [ ] Simplify default usages for the open and close sound players

[2020-07-14 23:35] jessegreenberg commented on #444
The assertion added in https://github.com/phetsims/scenery/commit/0a7037cb5eaaa1bd31f574f37bd9e79b0060cc56 introduced an error in GrabDragInteractionTests. Not sure yet if it is an issue with the assertion or GrabDragInteraction yet, but I am out of time for now. So that tests are passing and commit hooks can run I am going to remove the assertion for now and come back to this tomorrow.

[2020-07-14 23:49] zepumph commented on #444
Thanks for looking into things! If you get stuck we should talk next week at our pairing time.

[2020-07-15 18:35] jessegreenberg commented on #444
Thanks @zepumph - I am pretty stumped, and I suspect that there may be something tricky going on with QUnit or something. Here is an example stack trace that I think is causing problems and is really confusing me:
![image](https://user-images.githubusercontent.com/6396244/87580685-ddb8ca00-c6a5-11ea-9751-7cf65677147d.png)

- GrabDragInteractionTests - line 41: we create a new GrabDragInteraction f

[2020-07-15 19:18] jessegreenberg commented on #444
I added the assertion back in, and a workaround for https://github.com/phetsims/axon/issues/309. Tests are passing again. But keeping my assignment to review the changes listed in https://github.com/phetsims/sun/issues/444#issuecomment-658386391.

[2020-07-16 13:14] terracoda commented on #444
@zepumph, I am not sure what you are saying about checkboxes. There are no checkboxes in RaP.

As for the AccordonBox in RaP with the 2 number spinners, everything is sounding good to me.

I think the help text for the number spinners should come before the hand number spinners, so I will create a separate issue for that in the RaP repo.
I ran what I think is the generated HTML through the W3C val

[2020-07-16 13:32] terracoda commented on #444
@zepumph, I read through the AccordionBox.md file and made a tweak to make it clear a an accessible name is needed for the Accordion title whether it is visible or not.

I have not tested on iOS. I need a dev version if you need me to test on iOS.

[2020-07-16 13:32] terracoda commented on #444
I unassigned. Please reassign if any further testing is needed.

[2020-07-16 17:53] zepumph commented on #555
From a phet-io spec perspective, the nesting in the studio tree could be pretty flexible.
[code]

An important piece that should be implemented for PhET-iO is that toggling the visibility of the parent radio button should also toggle the visibility of the nested content.

**Implementation**

One way to support this would be in AquaRadioButton solely:
Add support in the `items` list for a new prope

[2020-07-16 18:21] zepumph commented on #444
@terracoda there are three checkboxes in github comments above, the first one is https://github.com/phetsims/sun/issues/444#issuecomment-657785511. Can you speak to those three questions:

- [ ] I will hold off on the `aria-controls` attribute because it is another "association" style attribute, like aria-describedby, and each added one is about 150 lines until https://github.com/phetsims/scenery/

[2020-07-16 19:00] terracoda commented on #444
@zepumph, we don't need to implement `arai-controls` now, and maybe never. I haven't recently checked on how well it is supported by AT, but last time I checked, it was "[poop](https://heydonworks.com/article/aria-controls-is-poop/)" (2016, heydonworks.com). AND our content panels always come right after the accordion title panel (i.e., accordion header), so we don't need `aria-controls` even if i

[2020-07-16 19:03] terracoda commented on #444
Re second question: "but actually this content is just getting removed from the PDOM. Is that ok?"

As long as the content is hidden to all learners and communicated as hidden, the method of the hiding likely does not matter.

[2020-07-16 19:04] terracoda commented on #444
I unassigned myself again. Hopefully, I got everything this time :-)

[2020-07-16 20:52] zepumph commented on #444
I removed the aria-controls from the AccordionBox.md documentation, stating that we don't need it right now.

I think that providing a title seems like the best way to move forward. I mentioned this in https://github.com/phetsims/joist/issues/511 to see if we could guarantee that all AccordionBoxes follow this.

Thanks for the review!

Next I will look at @jessegreenberg's comments above.

[2020-07-17 21:37] zepumph commented on #515
Self assigning as it pertains to work to be done in https://github.com/phetsims/sun/issues/257

[2020-07-17 21:39] zepumph opened #604 "Add basic PhET-iO instrumentation to sun demo"
For work being done in https://github.com/phetsims/phet-io/issues/1657, https://github.com/phetsims/tandem/issues/171 and https://github.com/phetsims/sun/issues/585 it would be nice to run the sun demo in studio to try test some PhET-iO implementation of common code (mostly Slider and its use of EnabledNode).

[2020-07-17 21:44] zepumph opened #605 "Slider to run on EnabledNode"
This ended up being useful to do earlier rather than later because of work being done with SliderAPI.js in https://github.com/phetsims/phet-io/issues/1657. Note that I will work on this now, even though https://github.com/phetsims/sun/issues/585 is on hold. EnabledNode is in enough components at this point that I feel comfortable adding to Slider, even if we aren't yet pulling the switch on all us

[2020-07-17 21:48] zepumph commented on #605
Committed locally. Pushing soon. aqua tests are passing in phet and phet-io brands locally. I will check on CT before the end of the day.

[2020-07-17 22:32] #604 closed

[2020-07-22 00:31] pixelzoom opened #606 "ComboBox crashes when all items in list box are invisible"
Originally reported in https://github.com/phetsims/ph-scale/issues/177, for phetsims/QA#514 and phetsims/QA#515.

PhET-iO allows you to control the `visibleProperty` or each item in a ComboBox's list box.  It all of the items are made invisible, then pressing the combo box button (to popup the list box) will crash the sim.

For example, if you perform these steps for ph-scale:

1. Open ph-scale in

[2020-07-22 23:37] jbphet commented on #607
We reviewed these in the 7/22/2020 sound design meeting and decided to go with `accordion-box-open-combobox-related-004` for the open sound and `accordion-box-close-combobox-related-002` for the close sound.

@Ashton-Morris - these files were renamed when committed to the code base to simply `accordion-box-open` and `accordion-box-close, and I thought you might want to know this in case you're tra

[2020-07-23 17:53] zepumph commented on #606
Suggestions:

* When you hide all elements, then you toggle displayOnlyProperty or enabledProperty. In PhET-iO customization you could still toggle these other Properties back, click on the combo box and then break the sim.
* Open a dialog that says "you must have at least 1 item in this combo box." This would be complicated
* Put a single, hstrut-like element that is behind the first element, so

[2020-07-23 18:16] pixelzoom commented on #606
Adding this to ComboBox `scaleListBox`:

... logs this when you try to pop up an empty list:

So yes, the correct way to detect this is to test `this.listBox.localBounds`.

[2020-07-23 18:20] pixelzoom commented on #606
Since I was in `scaleListBox`, I went ahead and made the change.  It seems to be working correctly in Studio.  @samreid @zepumph please review.

[2020-07-23 18:22] pixelzoom commented on #606
Since I was in `scaleListBox`, I went ahead and made the change.  It seems to be working correctly in Studio.  @samreid or @zepumph please review.

If it looks OK, assign back to me to cherry-pick to ph-scale and ph-scale-basics 1.4.

[2020-07-23 22:46] zepumph commented on #606
It looks very excellent to me, thanks for implementing, and thanks @samreid for the idea. I tested the macro screen in ph-scale, and all looks smooth and good. Thanks!

[2020-07-24 00:10] #605 closed

[2020-07-27 13:24] Ashton-Morris commented on #607
Noted

[2020-07-27 13:24] #607 closed

[2020-07-27 16:13] pixelzoom commented on #606
👍 Closing.

[2020-07-27 17:01] pixelzoom commented on #606
Reopening. I need to cherry-pick to ph-scale and ph-scale-basics 1.4.

[2020-07-27 17:55] pixelzoom commented on #606
Cherry-pick completed, closing.

[2020-07-27 17:55] #606 closed

[2020-07-28 02:23] jonathanolson opened #608 "branch: dialog-scaling"
For https://github.com/phetsims/joist/issues/586

[2020-07-30 02:52] jessegreenberg opened #609 "Don't use pickable in RadioButtonGroup"
To make the selected button non-clickable and to change its cursor, `pickable` is used in RadioButtonGroup:
[code]

but `pickable = false` is blocking PDOM related events too, and we still need `keydown` events to fire on the selected radio button in https://github.com/phetsims/scenery/issues/1056#issuecomment-665313661.

This patch has the same behavior for the RadioButtonGroup member but doesn't

[2020-07-30 19:38] zepumph commented on #444
This is not really ready for review. It is buggy and needs fixing.

[2020-07-31 19:00] KatieWoe opened #610 "X button on dialog may have too small pointer area"
Found during https://github.com/phetsims/QA/issues/520. Seems to be a common component.
While testing iOS I noticed the x button was a bit hard to press. The dialog can still be exited by pressing outside the dialog, so it may not need to be addressed, but if you are aiming for the button it may be a bit difficult.
![Image from iOS](https://user-images.githubusercontent.com/41024075/89068104-cfb5a

[2020-07-31 19:48] KatieWoe opened #611 "Dialogs may be a different size if opened while zoomed in"
For https://github.com/phetsims/QA/issues/520
When you open the about dialog while zoomed in to the sim, it seems to be larger (in comparison to the rest of the sim, not just the obvious) than if it is opened when not zoomed in. It does not go off screen from what I can see, is very minor, and I believe the dialog code has already changed since this SHAs so I don't think anything really needs to b

[2020-07-31 20:26] jessegreenberg commented on #611
I am having a difficult time reproducing this. I haven't been able to see this yet on my Windows or iPad devices. Over slack @KatieWoe mentioned that it only seemed to happen in landscape mode, but I haven't seen it in landscape or portrait mode yet.

[2020-07-31 20:29] jessegreenberg commented on #611
I can produce the bug with `stringTest=double`. So the dialog needs to be larger for this to happen.

[2020-07-31 20:36] jessegreenberg commented on #611
OK, I verified that this is not an issue in master because of recent changes to Dialog that position pop ups based on layoutBounds.

[2020-07-31 21:52] jessegreenberg commented on #611
I spent some time trying to figure out why it was happening on the old shas. I was able to verify that `bounds`, `screenBounds`, and `scale` used by dialog layout are not changing with zoom which is as I would expect. I also made sure that even longer strings like stringTest=long didn't cause worse problems with layout in the MAL RC.

Since this is fixed on master I am going to go ahead and close,

[2020-07-31 21:55] jessegreenberg commented on #610
@ariel-phet can you take a look at this issue? This is the default touch/mouse area for all Dialog close buttons. Should it be made larger for all dialogs or were these defaults purposefully chosen?

[code]

[2020-07-31 21:59] jessegreenberg commented on #611
Actually, reopening for @KatieWoe to verify that this behavior is indeed fixed in master.

[2020-07-31 22:49] KatieWoe commented on #611
This does look fixed on master

[2020-07-31 22:49] #611 closed

[2020-08-03 18:24] pixelzoom opened #612 "Checkbox needs to adapt if its size changes"
Checkbox is currently unaware of its own size (bounds).  So if something about it changes dynamically, there can be problems. This was encountered over in https://github.com/phetsims/natural-selection/issues/145, where I'm using AlignGroup to ensure that all labels have the same width, and I ended up with bogus pointer areas.

Discussed with @jonathanolson and we agreed that this should be address

[2020-08-03 19:51] ariel-phet commented on #610
@jessegreenberg I think these defaults were chosen without phones in mind (iOS). The touch area is certainly generous enough on desktop or such, but I think it would fine to dilate the area by 10 percent for touch. It looks like that will in general not interfere with anything in our dialogs and would increase usability.

So yes, go ahead and make the touch pointer are bigger (by about 10 percent)

[2020-08-03 22:33] jessegreenberg commented on #610
The button is pretty small, probably smaller than it used to be after https://github.com/phetsims/joist/issues/586. 10% was almost imperceptible so I went with closer to 35%.

![image](https://user-images.githubusercontent.com/6396244/89230943-4662da80-d5b2-11ea-8927-65b71d31f688.png)

And I reviewed a few other Dialogs which are correctly sized after changes in https://github.com/phetsims/joist/i

[2020-08-03 22:36] jessegreenberg commented on #610
@pixelzoom would you mind reviewing this change? I found https://github.com/phetsims/joist/issues/341 where the original defaults were chosen.

[2020-08-03 22:42] jessegreenberg commented on #610
@ariel-phet can you also please review and comment on whether this change should be cherry-picked into all existing RC's or is just an improvement for the future?

[2020-08-03 22:54] pixelzoom commented on #610
This problem originated in https://github.com/phetsims/joist/issues/586.  Now that Dialogs are scaled differently, everything (fonts, spacing,...) needs to be increased in size by ~1.3x.   And that (probably) includes the 'X' close button, not just its touch area.   So I think you need to play around with increasing the size of the 'X', make sure it looks good with AboutDialog, OptionsDialog, Oops

[2020-08-03 22:59] pixelzoom opened #613 "duplicate implementations of CloseButton"
While looking at https://github.com/phetsims/sun/issues/610, I discovered duplicated code in joist.Dialog.CloseButton and scenery-phet.CloseButton.  They are almost identical, and Dialog should be using scenery-phet.CloseButton.

Assigning to @ariel-phet to prioritize and assign.

[2020-08-03 23:04] pixelzoom commented on #610
Also...

(1) Dialog should be using scenery-phet.CloseButton, see #613.

(2) I really don't like setting non-zero defaults for pointer area dilation in general-purpose UI components, like 426e7945e49ec162790e2a7564f879a0c2de91a3.  If I decide to make a big CloseButton by setting options `iconLength`, it's not going to need dilated pointer areas, and I shouldn't have to set their related options to

[2020-08-03 23:32] jessegreenberg commented on #610
OK, thanks - I changed the size of the button instead so that it looks as it did prior to phetsims/joist#586. Spot checked in the same dialogs as https://github.com/phetsims/sun/issues/610#issuecomment-668273931, and the OptionsDialog and OopsDialog

Makes sense. But the original issue in https://github.com/phetsims/sun/issues/610#issue-670118160 was for SHAs from before phetsims/joist#586. So sho

[2020-08-03 23:46] ariel-phet commented on #613
Hey @jessegreenberg since you are in Dialogs at the moment, could you go ahead and make this improvement?

[2020-08-03 23:53] ariel-phet commented on #610
@jessegreenberg probably matching the close button to the previous size would be best if possible. I don't think you must cherry pick this change, I don't think it is a particularly big deal. However, if it is only a 10-15 minute affair, probably better to cherry pick now instead of the (low) potential of having to do a maintenance release later.

If for this sim it was just the about dialog, I wo

[2020-08-04 00:41] ariel-phet commented on #609
@pixelzoom will give an initial look, but this might be a dev meeting topic as it seems like potentially a larger issue

[2020-08-04 02:00] pixelzoom commented on #610
The size of the close button good to me in the above commits.   But I see in https://github.com/phetsims/sun/issues/613 that @ariel-phet asked @jessegreenberg to replace Dialog.CloseButton with scenery-phet.CloseButton.   So I should probably wait to review this until that work is done.

[2020-08-04 02:21] pixelzoom commented on #609
Personally, I don't see the need to set `pickable` or use `canStartPress`. There's no harm done if the selected button can still be pressed, it simply doesn't do anything - it sets a Property to its current value, which is a no-op.  Yes, there's still a visual cue that the button has been pressed, but that's typical of radio buttons -- see for example https://www.w3schools.com/html/tryit.asp?filen

[2020-08-04 18:40] jessegreenberg commented on #609
Thanks for reviewing.

Interesting, I don't mind this idea either. @ariel-phet what do you think about this behavior change? Here is an example in molecules-and-light to try it out.
https://phet-dev.colorado.edu/html/molecules-and-light/1.6.0-dev.3/phet/molecules-and-light_en_phet.html

I noticed this is how aqua radio buttons work already (though maybe unintentionally), you can hear the button so

[2020-08-04 18:49] pixelzoom commented on #609
Indeed.  Aqua radio buttons behave like most radio buttons do in UI toolkits.  It sure would be nice if all radio buttons had similar behavior.  And I see no reason for RadioButtonGroup to behave differently.  So you know what my decision would be :)

Thanks for clarifying about disabled components, that makes sense.

[2020-08-04 22:17] jessegreenberg commented on #613
Sounds good, looks like they are almost entirely duplicated. In order to use scenery-phet/CloseButton in Dialog we need to
- Make the baseColor optional
- It looks like the X of the scenery-phet/CloseButton is twice as large as the value of options.iconLength, that should be fixed.
- Add options for the "X" Path, or make them consistent between the what is currently Dialog's CloseButton and scener

[2020-08-04 23:17] jessegreenberg commented on #613
Done in the above commits, @ariel-phet can you please assign a reviewer?

[2020-08-05 03:09] ariel-phet commented on #609
@jessegreenberg I would actually say this seems like the correct behavior. When you click on the button, it makes a sound, but nothing happens because the button is already pressed. I feel like lots of interactions on a computer happen this way (some "warning dings" on windows are like this, you keep clicking on something you cannot do and it keeps dinging). So you get the feedback that you have c

[2020-08-05 03:18] ariel-phet commented on #613
I am guessing @pixelzoom can review this fairly quickly since he is familiar with the issue (but not a rush).

[2020-08-05 18:38] jessegreenberg commented on #609
OK! In that case, the `propertyListener` in https://github.com/phetsims/sun/issues/609#issue-668319515 can be entirely removed and thats all that should be all that is necessary for this issue.

[2020-08-05 19:55] jessegreenberg commented on #609
The listener was removed, and I made the commit after running fuzz tests with aqua. @pixelzoom any final review or anything else to do for this issue?

[2020-08-06 21:37] zepumph opened #614 "AccordionBox has no `reset()` function"
I think I would rather have a `reset` function than reach in and reset the `expandedProperty` manually.

[2020-08-06 21:42] zepumph commented on #614
@Denz1994 how does the above commit look to you? I noticed that AccordionBox doesn't always own the expandedProperty, but I wondered if this was still ok for AccordionBox to reset it.

[2020-08-06 21:57] zepumph commented on #444
I looked at @jessegreenberg's comments from three weeks back, and I think things will be sorted out in https://github.com/phetsims/axon/issues/309. @jessegreenberg is there anything else for this issue?

[2020-08-07 17:37] samreid commented on #595
@zepumph can this be closed?

[2020-08-07 19:06] #595 closed

[2020-08-07 22:29] pixelzoom commented on #613
Everything looks great.  I made 3 additional changes:

1. Grouped all supertype options together. It makes it easier to see what's specific to the subtype vs supertype.
2. Converted to class, since there are no occurrences of "inherit( CloseButton".
3. Added @jessegreenberg as an `@author`.

@jessegreenberg have a peek if you'd like, then feel free to close.

[2020-08-07 22:31] pixelzoom commented on #609
Changes look great, closing.

[2020-08-07 22:31] #609 closed

[2020-08-07 22:35] #613 closed

[2020-08-10 18:47] jessegreenberg commented on #610
The commit to cherry pick is https://github.com/phetsims/sun/commit/9c9f26324b8635536e8fcacb01f8c634afd5940b. The RCs that could benefit from cherry-picking this are those that were made after phetsims/joist#586 but before https://github.com/phetsims/sun/commit/9c9f26324b8635536e8fcacb01f8c634afd5940b. This is the list I noticed by checking the current QA queue. Pinging responsible devs so they ar

[2020-08-10 18:57] pixelzoom commented on #610
@jessegreenberg Just to be clear.... You're recommending that we cherry-pick the changes to Dialog, but not the work that was done to factor out CloseButton.  Is that correct?

[2020-08-10 19:00] jessegreenberg commented on #610
Yes, that is correct - only https://github.com/phetsims/sun/commit/9c9f26324b8635536e8fcacb01f8c634afd5940b should be necessary.

[2020-08-10 19:14] pixelzoom commented on #610
Ugh... I get numerous merge conflict when attempting to cherry-pick 9c9f263 to the ph-scale-1.4 branch of sun.

[2020-08-10 19:17] jessegreenberg commented on #610
For ph-scale-1.4 branch it may be easier to cherry-pick https://github.com/phetsims/sun/commit/9c9f26324b8635536e8fcacb01f8c634afd5940b after changes from https://github.com/phetsims/joist/issues/586 are moved to release branches.

[2020-08-10 19:35] pixelzoom commented on #610
Since there are only 2 lines of code modified by 9c9f263, I ended up applying the changes manually for phetsims/ph-scale#194.

[2020-08-10 23:48] pixelzoom commented on #610
I see that @jbphet created phetsims/states-of-matter#320.   I don't see whether @chrisklus did anything related to phetsims/QA#528, so assigning to him.  Then it's OK to close this issue.

[2020-08-12 21:55] chrisklus commented on #610
All set for EFAC, thanks much. Closing.

[2020-08-12 21:55] #610 closed

[2020-08-13 17:13] zepumph opened #615 "RadioButton and ComboBoxItem tandem name convention"
Current convention: `gravityRadioButtonGroup.onRadioButton`
Potential proposal: `gravityRadioButtonGroup.on`

In SOM we have names like: `statesOfMatter.statesScreen.view.moleculesControlPanel.radioButtonGroup.neon.enabledProperty`
In most other places (like timeControlNode): `gravityAndOrbits.modelScreen.view.timeControlNode.speedRadioButtonGroup.normalRadioButton`

<details><summary>
Discussion

[2020-08-13 17:43] zepumph commented on #615
@samreid mentioned that it is possible while developing a wrapper to have the componentName without the context of the whole PhET-iO ID.

@arouinfar and @kathy-phet have been designing phetioIDs by largely using the context (thus the example of the SOM radio buttons).

@pixelzoom mentioned that it was confusing when we get rid of the "RadioButton" suffix because it isn't clear what inside of the "

[2020-08-13 17:44] zepumph commented on #615
These phetioIDs need to be spick and span for publication.

[2020-08-13 17:46] pixelzoom commented on #615
I'll take care of enforcement of the "Item" suffix in ComboBoxListItemNode.

[2020-08-13 17:52] zepumph commented on #615
When doing these renames, don't forget about how they may effect overrides files, and client guides.

[2020-08-13 19:10] pixelzoom commented on #615
I've completed changes for ComboBoxItem.  It now requires tandemName to have an "Item" suffix.  I searched for "tandemName:", and in addition to my own sims, I changed molarity (@zepumph) and cck-black-box (@samreid).

I don't see that anyone has volunteered for making similar changes for RadioButtonGroup. @zepumph shall I do that?

[2020-08-13 19:12] pixelzoom commented on #615
@jbphet if you want to cherry-pick the ComboBoxItem changes to SOM, the sha is https://github.com/phetsims/sun/commit/187ac987c2939da26f9f5da2aa876bae14e346b9.

[2020-08-13 20:03] zepumph commented on #615
You are welcome to, thanks @pixelzoom!

[2020-08-13 20:59] pixelzoom commented on #615
@jbphet if you want to cherry-pick the ComboBoxItem changes to SOM, the shas are  https://github.com/phetsims/sun/commit/187ac987c2939da26f9f5da2aa876bae14e346b9 and https://github.com/phetsims/sun/commit/55c4fc0ed7c427c46256138fc13a578512bcaad2

[2020-08-13 21:13] pixelzoom commented on #615
In projectile-motion, I found 2 more cases where "Item" needed to be added to the end of ComboBoxItem tandemName. @jbphet FYI.

[2020-08-13 21:42] kathy-phet commented on #615
Assigning @jbphet

[2020-08-13 21:58] pixelzoom commented on #615
'RadioButton' suffix is now enforced by AquaRadioButton and RadioButtonGroupMember, ce77c4250cf33a2b2e7d4c607dfb5a43328e3eba if you need to cherry-pick.

The sims that were affected:

cck-black-box-study @samreid
energy-forms-and-changed @chrisklus
energy-skate-park @jessegreenberg
faradays-law @jbphet
gas-properties @pixelzoom
scenery-phet (demo)
states-of-matter @jbphet
wave-on-a-string @jonatha

[2020-08-13 22:18] pixelzoom commented on #615
All work here is completed.

@ariel-phet please assign someone to review.

[2020-08-13 22:26] pixelzoom commented on #615
Also assigning to @arouinfar, because I did fix up the GAO client guide.

[2020-08-13 22:30] pixelzoom commented on #615
Also assigning to @arouinfar, because I did fix up the GAO and SOM client guides.

[2020-08-14 22:18] zepumph commented on #615
I'll review!

[2020-08-14 22:57] zepumph commented on #615
I looked through every commit above. I searched through every usage of `tandemName` in the project looking for other cases. I also did https://github.com/phetsims/axon/issues/322. Fuzzing is clear.

I was surprised that no overrides files needed changing, but that would fail quite loudly if one phetioID rename was missed in there.

I don't feel like I have a good idea if the changes in client guid

[2020-08-15 03:48] arouinfar commented on #615
Thanks @pixelzoom. The guides are looking good. The SOMB guide also needed updating, which I did and referenced in a commit above.

This also surprised me at first. The phetioFeatured behavior for these components is handled in common code, not sim-by-sim in overrides.

All the guides are all looking good to me.

[2020-08-15 04:19] arouinfar commented on #615
These changes affect the EFAC rc test, https://github.com/phetsims/QA/issues/528.

[2020-08-17 16:18] jbphet commented on #615
The changes have been propagated to the current release branch for SOM (1.2).  I'm thinking this is pretty much done, but I'll send it to @chrisklus since the EFAC RC test was mentioned to make sure that it's covered there.

[2020-08-18 21:19] zepumph commented on #444
Instead of using the `setAccessibleName` override pattern used in comboBox, Now that https://github.com/phetsims/scenery/issues/1070 was fixed, we should use a behavior function for AccordionBox.

[2020-08-18 21:22] zepumph commented on #444
The above commit should not have changed any part of the rendered PDOM, but is a much better pattern. @jessegreenberg please include it with your review of this issue.

[2020-08-18 21:24] zepumph commented on #503
Over in https://github.com/phetsims/sun/issues/444#issuecomment-675726001 and https://github.com/phetsims/scenery/issues/1070, a better pattern for setting accessibleName in ComboBox was determined. It should use accessibleNameBehavior instead of overriding `setAccessibleName`. This is just like what @jessegreenberg mentioned in https://github.com/phetsims/sun/issues/503. Let's reopen and clean th

[2020-08-19 03:11] jessegreenberg commented on #444
I reviewed the PDOM code in AccordionBox, it looks really nice. And the rendered content matches what is requested in AccordionBox.md. https://github.com/phetsims/sun/commit/ef901e4e0999b9a2322b886f5ce1190716f17ad5 is great and just using accessibleName is really nice at usage sites, I hope we can continue to use it more.

Closing this issue.

[2020-08-19 03:11] #444 closed

[2020-08-19 16:51] zepumph commented on #503
I created a patch that is working in ComboBox, but it looks like there is a weird internal bug in the PDOMInstance Tree in which forwarding the accessibleName to a direct child throws an error because nesting PDOM updates causes the child to be manipulated in the tree before its parent HTMLElement exists yet (so we get an undefined error when trying to insertChild).

Here is a patch that uses beha

[2020-08-20 15:54] chrisklus commented on #615
The EFAC RC is going to be rebuilt since it hasn't been started by QA yet and there's been so many common code changes. Closing.

[2020-08-20 15:54] #615 closed

[2020-08-20 21:48] zepumph commented on #551
Over in https://github.com/phetsims/joist/issues/654 I desire `phetioLinkProperty` as an option because the subclassing of Checkbox means that currently we end up with the linked property as a sibling to the LinkedElement:
![image](https://user-images.githubusercontent.com/6856943/90829201-cb0c6300-e2eb-11ea-893c-333c34ed76c6.png)

This is a case that doesn't apply to iterative development, but in

[2020-08-24 00:12] samreid commented on #496
Is this what I discovered in https://github.com/phetsims/phet-io/issues/1205#issuecomment-678654918 ?

[2020-08-25 21:22] zepumph opened #616 "Crossing in proportion range quickly doesn't always play a sound"
In design meeting today, we decided that even if the Property values never are actually in proportion. When the values cross it, we should still play the in proportion sound to make sure we always get it.

[2020-08-25 23:04] zepumph commented on #503
After a discussion with @jessegreenberg and @jonathanolson today, we decided on a solution that put logic that forwarded to other Nodes into "callbacks" that were deferred until the PDOM content for a Node was created. This is working well in AccordionBox and ComboBox.

[2020-08-25 23:07] #503 closed

[2020-08-26 11:05] samreid commented on #549
In #555 and https://github.com/phetsims/sun/commit/c60001e8409f8671cd57c41df80f950153b4642d we introduced AquaRadioButtonGroup which automatically creates the linked element like so:

[code]

That won't work well with the way `AquaRadioButtonGroup` is currently implemented--it extends `LayoutBox` and not an arbitrary layout.

Let's look at Acid Base Solutions, which has an interleaved checkbox:

!

[2020-08-26 18:14] jbphet commented on #602
A number of refinements have been made since this was initially created, and it seems like now would be a good to to have it reviewed.  Assigning to @pixelzoom.

[2020-08-26 18:25] pixelzoom commented on #602
@jbphet what's the priority of this review? I'm unlikely to get to it for a couple of weeks.

[2020-08-26 19:54] jbphet commented on #602
Medium, in my opinion.  I know that's a milquetoast sort of answer, so here is my justification: I think the changes are low risk and any significantly negative consequences would likely be caught by QA.  However, having said that, both default and non-default sound generation by combo boxes is now being used in ratio-and-proportion, and that sim will likely enter the RC process some time in Septe

[2020-08-26 21:27] pixelzoom opened #617 "ComboBox has bad interaction between enabledProperty and displayOnlyProperty"
Reported in https://github.com/phetsims/states-of-matter/issues/343.

The is a general problem with ComboBox, occurring on all platforms.

Steps to reproduce in SOM:

1. Run the sim in Studio
2. Find `statesOfMatter.statesScreen.view.particleContainerNode.compositeThermometerNode.temperatureComboBox.enabledProperty` and set it to false.
3. Find `statesOfMatter.statesScreen.view.particleContainerNo

[2020-08-26 21:31] pixelzoom commented on #617
Tracking for ph-scale in https://github.com/phetsims/ph-scale/issues/204.

[2020-08-26 22:45] kathy-phet commented on #617
This is not blocking for RC.

[2020-08-26 23:27] pixelzoom opened #618 "disposed Dialog blocks interaction with the sim"
There appears to be a new bug in Dialog, possibly introduced when PopupablePanel was factored out.  It is currently manifesting in RewardDialog, in the vegas demo.   To reproduce:

1. Run the vegas demo
2. Go to _Reward_ screen.
3. Press the "open Reward" button
4. Press either the "Keep Going" or "New Level" button

The dialog is disposed, but the barrier rectangle is still present and you can't

[2020-08-27 03:24] arouinfar commented on #617
The behavior described in https://github.com/phetsims/sun/issues/617#issue-686636169 is definitely buggy, but it's the result of an unrealistic set of customizations. I don't think we'd need to worry about including this in a maintenance release later.

[2020-08-27 20:49] pixelzoom commented on #549
I don't know where to go with this issue. I'm still of the opinion that the design of these "Group" classes is fundamentally flawed.  It mixes 3 responsibilities (radio button creation, "grouping", and layout) that should not be independent.  E.g. a vertical layout with uniform pointer areas is equally applicable to a collection of radio buttons, checkboxes, or whatever.  For an example of separat

[2020-08-27 20:52] pixelzoom commented on #602
I started to review this and can't wrap my arms around it. ComboBox and its subcomponents is a lot of code, and there have been a lot of commits.  Back to @jbphet to identify specifically what I need to look at -- sections of code, specific commits,... anything specific.

[2020-08-27 21:55] #551 closed

[2020-08-27 21:57] zepumph commented on #551
I removed the only usages of a isInstrumented check before adding a linked element.

[2020-08-27 23:27] samreid commented on #549
Did you review the idea and patch in https://github.com/phetsims/sun/issues/549#issuecomment-680812399 which identifies a Group pattern that doesn't include "radio button creation" or "layout" and only includes "tandem-specific grouping"?

[2020-08-31 22:16] jbphet commented on #602
Here is what I would suggest: Start in `ComboBox.js` and search for the word 'sound', case insensitive, in any context (i.e. the "Words" search options is off in WebStorm), and review all the lines of code that comes up.  Then do the same in `ComboBoxListBox.js`.  That should allow you to see all the sound-related code that was added for this effort.

[2020-09-01 17:20] pixelzoom commented on #602
Review completed, looks good. One type expression fixed in the above commit.

Back to @jbphet in case there's more to do here.

[2020-09-01 17:37] pixelzoom commented on #549
Yes, I reviewed your patch. I though you were proposing this patch as a workaround for cases like ABS, not a new general pattern.  It basically makes the client responsible for "group" and layout, which isn't much of a solution.  So yeah, we could work around cases like ABS, if the client has to handle everything, and we don't mind losing (or hacking around) the ability to hide the group.

My poin

[2020-09-01 18:56] samreid commented on #549
What do you recommend we investigate next?

[2020-09-01 19:09] pixelzoom opened #619 "SliderTrack has unused options"
For fourier-making-waves, I'm attempting to implement a Slider with a custom track. Slider's options for the track is:

[code]

SliderTrack extends Node.  Looking at SliderTrack's options:

[code]

Many of these options are unused, and appear to have been copy-pasted from elsewhere in the initial commit by @jessegreenberg.    I'm going to attempt to clean this up.

[2020-09-01 20:00] pixelzoom commented on #619
Unused options deleted in the above commit. @jessegreenberg would you mind reviewing?

[2020-09-01 21:51] pixelzoom opened #620 "NumberSpinner: add arrowButtonOptions, nested options for arrowButtons"
From https://github.com/phetsims/natural-selection/issues/192#issuecomment-685148791:

There are 12 occurrences of "import NumberSpinner" in the PhET code base.

[2020-09-01 21:52] pixelzoom commented on #620
This section of code in NumberSpinner.js shows the options that need to be nested:

[code]

[2020-09-01 22:03] pixelzoom commented on #620
Nevermind. I found these options that work for Natural Selection:

[code]

Closing.

[2020-09-01 22:03] #620 closed

[2020-09-02 16:53] jbphet commented on #602
Thanks for the review and the type expression fix.  I think we're done here, closing.

[2020-09-02 16:53] #602 closed

[2020-09-02 22:31] zepumph commented on #518
Its hard for me to know exactly where this conversation should go. I will note that now `addLinkedElement` is graceful, and doesn't need to be called on an instrumented Property.

I will also note that over in https://github.com/phetsims/joist/issues/654 I added back in `phetioLinkProperty` to achieve a better phet-io structure for ProjectorModeCheckbox.

I didn't really follow either argument abo

[2020-09-02 22:46] zepumph commented on #458
I have no idea how to continue on this issue, marking for PhET-iO meeting. It would be good to decide on a convention moving forward. Especially since recently @pixelzoom instrumented a couple of sims by controlling text like this with Properties in the model, and having the view listen to all changes (similar to (1) in https://github.com/phetsims/sun/issues/458#issuecomment-455927317), but @jbphe

[2020-09-02 23:38] zepumph commented on #321
There was a dependency on this for the lab-book wrapper, and I found it easily mapped over to use by the firedEmitter. This makes me feel even better about getting rid of this. Removed above; tested in wrappers in phet-io brand. All looks good. Closing.

[2020-09-02 23:38] #321 closed

[2020-09-03 21:17] pixelzoom commented on #518
The `phetioLinkProperty` options is nice.   And are you saying that `addLinkedElement` is OK to do if something an element isn't instrumented?   If so, then the currently implementation in Checkbox (below) seems sufficient.

[code]

[2020-09-04 00:49] zepumph commented on #518
Yes I am saying that is the case since work around https://github.com/phetsims/tandem/commit/85f4515f1fbab45b441abd86317a98b933922ca1.

It seems like we should only implement `phetioLinkProperty` when really needed in common code elements.

I'm going to close this issue.

[2020-09-04 00:49] #518 closed

[2020-09-08 16:52] jonathanolson opened #621 "NumberSpinner going past allowed range when timesteps are small"
To reproduce:

1. sun_en.html?brand=phet&ea&speed=100
2. second screen, select NumberSpinner from the dropdown
3. press and hold on any up spinner arrow

![image](https://user-images.githubusercontent.com/480878/92505476-6133fa80-f1c1-11ea-8e61-b83c84a31a30.png)

[2020-09-08 16:52] jonathanolson commented on #621
Running into this in https://github.com/phetsims/collision-lab/issues/153.

[2020-09-08 17:02] #621 closed

[2020-09-08 22:06] pixelzoom commented on #549
Perhaps we should steer this issue back to it's original intent, which was to decide how radio button groups would link to their associated Property.

In https://github.com/phetsims/sun/issues/549#issuecomment-568003921, designers decided that the Property should be linked to the group, not the individual buttons.   And I can see by the RadioButtonGroup and AquaRadioButtonGroup that I'm using in N

[2020-09-08 22:23] pixelzoom opened #622 "Checkbox uses deprecated ButtonListener"
Noted while converting Checkbox to ES6 for https://github.com/phetsims/tasks/issues/1044.

Checkbox is using deprecated listener ButtonListener, and should be converted to FireListener.  This should be done as soon as possible, because (1) it may change the PhET-iO API, and (2) it shows up repeatedly in the CRC when identifying deprecated code using `?deprecationWarnings`.

Assigning to @ariel-phe

[2020-09-08 22:34] pixelzoom commented on #622
Conversion was trivial, just swap ButtonListener for FireListener.

But 2 problems:

(1) FireListener apparently doesn't have a11y support, see https://github.com/phetsims/scenery/issues/1076

(2) ButtonListener is Tandem.OPTIONAL, while FireListener is Tandem.REQUIRED.  And Checkbox doesn't currently instrument the listener.  So we'd either need to instrument the listener (which changes the PhET-

[2020-09-09 04:08] samreid commented on #549
I believe that problem is described in https://github.com/phetsims/sun/issues/555#issuecomment-570730096.  If you agree, then this issue can be closed.

[2020-09-09 19:43] pixelzoom commented on #549
👍🏻 closing

[2020-09-09 19:43] #549 closed

[2020-09-10 16:42] pixelzoom opened #623 "buttons do not resize to accommodate dynamic content size"
This came up while investigating https://github.com/phetsims/natural-selection/issues/223 and https://github.com/phetsims/studio/issues/190.

sun buttons assume that their label (aka content) has a fixed size. If their label is changed after startup, they do not resize to accommodate.  This causes problems when changing the textProperty of button labels in Studio.  If the new text is longer than t

[2020-09-10 19:32] pixelzoom opened #624 "Checkbox input listener is not instrumented"
Discovered while working on https://github.com/phetsims/scenery/issues/1078, converting Checkbox from ButtonListener to FireListener.

When you press on a Checkbox, that listener is currently not instrumented, so that event does not appear in the data stream.  And that seems like a significant problem.

[2020-09-10 19:39] pixelzoom commented on #624
The listener is now instrumented, and it is not featured, and its tandem name is `buttonListener`. This changes the PhET-iO API for any sim that has a Checkbox.  And the API will change again when `ButtonListener` is replaced with `FireListener` for phetsims/scenery#1078.

Here's how it looks in NS:

<img width="158" alt="screenshot_559" src="https://user-images.githubusercontent.com/3046552/92792

[2020-09-10 19:44] pixelzoom opened #625 "convert Checkbox from ButtonListener to FireListener"
This issue was factored out of https://github.com/phetsims/scenery/issues/1078.

Now that Checkbox's listener instrumented (see https://github.com/phetsims/sun/issues/624), the importance of converting it from `ButtonListener` to `FireListener` has increased.

Before this work can be done, FireListener needs to be fixed to support a11y, see https://github.com/phetsims/scenery/issues/1076.

The cha

[2020-09-10 20:00] pixelzoom commented on #623
From today's PhET-iO meeting....

It's unlikely that we'll address this problem by making sun buttons resize to fit dynamic content.  Instead, there was discussion about adding a Rosetta-like UI to Studio for changing strings, and eventually un-instrumenting most textProperty elements. But that's going to be a ways off.  In the meantime, rather than trying to handle this dynamically resizing butto

[2020-09-10 20:33] jessegreenberg commented on #625
https://github.com/phetsims/scenery/issues/1076 is done and ready for review and FireListener has replaced ButtonListener in Checkbox. I pretty much did exactly the patch in https://github.com/phetsims/sun/issues/625#issue-698414981. @pixelzoom over to you to review or close.

[2020-09-10 20:35] jessegreenberg commented on #625
I suspect https://github.com/phetsims/sun/issues/622 can be closed as well.

[2020-09-10 21:18] pixelzoom commented on #625
👍🏻 closing.

[2020-09-10 21:18] #625 closed

[2020-09-10 21:19] pixelzoom commented on #622
Duplicate of #625, which is done.  Closing.

[2020-09-10 21:19] #622 closed

[2020-09-10 21:20] pixelzoom commented on #624
Checkbox was converted from ButtonListener to FireListener in #625.  Here's the same example from Natural Selection:

<img width="193" alt="screenshot_560" src="https://user-images.githubusercontent.com/3046552/92808715-37bdcf00-f379-11ea-83d7-9f01f122b69f.png">

[2020-09-10 22:24] samreid commented on #623
I opened a studio issue, we will continue there.  Closing.

[2020-09-10 22:24] #623 closed

[2020-09-11 01:56] samreid commented on #624
The commit seems good to me, unassigning.

[2020-09-11 02:07] pixelzoom commented on #624
@arouinfar if this looks OK to you, feel free to close.

[2020-09-15 21:36] pixelzoom commented on #624
Raising priority. This is a blocking issues for https://github.com/phetsims/natural-selection/issues/208. Deadline for taking shas is Thursday 9/17.

[2020-09-15 21:56] arouinfar commented on #624
Looks fine to me.

[2020-09-15 21:56] #624 closed

[2020-09-16 16:38] jessegreenberg commented on #619
Yes, looks good. Thanks for the cleanup.

[2020-09-16 16:38] #619 closed

[2020-09-16 19:59] jonathanolson opened #626 "Twixt dependencies not registered in build.json"
It appears that some sun components rely on twixt as a repo, without it being documented as a requirement incredibly clearly. It seems like the best course of action is to add twixt to build.json, so that it is tracked with SHAs.

It looks like only build-a-molecule 1.0 and collision-lab 1.0 use twixt without declaring it as a dependency (for release branches), identified with:
[code]

Builds fail

[2020-09-16 20:23] jonathanolson commented on #626
collision-lab is also... missing griddle. Better automated support for detection would be nice.

[2020-09-16 20:41] jonathanolson commented on #626
Should have things patched up with the state at which they were release-branched, closing.

[2020-09-16 20:41] #626 closed

[2020-09-17 18:01] zepumph commented on #458
This is another problem (similar to https://github.com/phetsims/studio/issues/190) that will be fixed by https://github.com/phetsims/studio/issues/192. Unmarking for phet-io meeting. We will check in on this after the other one is completed.

[2020-09-18 19:52] samreid opened #627 "class NumberPicker not compatible with MutableOptionsNode"
After work in https://github.com/phetsims/scenery/issues/1078, CT is showing:

[code]

[2020-09-18 19:54] samreid commented on #627
I switched to use Reflect.construct, as suggested in the comments and it appears to be working OK.  @jonathanolson can you please review?

[2020-09-19 18:40] pixelzoom commented on #627
See also the problem with MutableOptionsNode in https://github.com/phetsims/masses-and-springs/issues/363. Related? Resolvable at the same time?

[2020-09-20 03:44] samreid commented on #627
Yes, that seems like it is caused by the same problem, and likely that the commit will help that case too.

[2020-09-22 15:30] jbphet commented on #284
It's been over three years and I haven't gotten to this.  It seems a bit pointless to leave it open longer when it hasn't really been a problem.  My hope is that when and if #133 gets addressed, this will too, but if it never does, we can probably live with that.  Closing.

[2020-09-22 15:30] #284 closed

[2020-09-22 22:12] pixelzoom opened #628 "dead call to addLinkedElement in ToggleNode"
Dead code in ToggleNode, commented out by @samreid on 4/2/19.  Please delete or create a TODO with associated GitHub issue.

[code]

[2020-09-22 23:19] pixelzoom opened #629 "deprecate ClosestDragListener"
Related to phetsims/scenery#1078.

ClosestDragListener looks like a vanilla input listener, and it doesn't even extend DragListener.  So I'm pretty sure that it should be deprecated.  It's used in make-a-ten, masses-and-springs, number-play, and pendulum-lab.

@jonathanolson you are the author - your opinion?

[2020-09-23 22:33] jonathanolson commented on #629
It seems like it's filling a need, so I'm confused. Why deprecate it, and what could possibly replace it? It seems 100% compatible with PressListener-derived variants.

[2020-09-24 01:54] pixelzoom commented on #629
I certainly expected it to extend DragListener, and I'm kind of surprised that you don't think it could be a specialization of DragListener.  But up to you.  If you want to just close this, that's OK with me.

[2020-09-24 01:55] pixelzoom commented on #629
I'm also wondering how you can describe this as "PressListener-derived variants" when it isn't derived from PressListener at all.

[2020-09-24 03:13] jonathanolson commented on #629
I'm mainly interested in how I can improve the documentation (or potentially the name of ClosestDragListener), I'll explain the main relationships.

ClosestDragListener is kind of like DragListener.createForwardingListener. It doesn't forward the events and start the drags on a true PressListener itself (like createForwardingListener), but instead is a bit more flexible where it calls a custom cal

[2020-09-24 03:17] pixelzoom commented on #629
Thanks for clarifying.

Yes, that seems like an improvement.

[2020-09-25 21:42] pixelzoom commented on #585
@ariel-phet asked me to take this on. The goal is to have `enabledProperty` supported uniformly across PhET UI components, so that `opacityProperty` and `pickableProperty` can be (by default) uninstrumented for PhET-iO.

I will be looking through other repos for similar/related issues, and will self-assign as I find them.

[2020-09-25 21:49] zepumph commented on #585
For clarity, those phet-io Properties are scheduled for uninstrumentation (by default) over in https://github.com/phetsims/scenery/issues/1047, and I do not think of this issue's work as a precursor to that. Most cases already have an enabledProperty specified that is PhET-iO instrumented, and so the conversion over here will not actually change the API significantly (or at all).

For PhET-iO, I a

[2020-09-28 17:15] pixelzoom commented on #618
Reported again in https://github.com/phetsims/vegas/issues/85.  @ariel-phet please prioritize.

[2020-09-28 17:17] samreid commented on #618
Based on the behavior reported in https://github.com/phetsims/vegas/issues/85, these symptoms may need to block publication.  I'll mark accordingly--this can be revised when we know more.

[2020-09-29 00:00] pixelzoom opened #630 "Slider fails pre-commit hook after conversion to ES6 class"
I was converting Slider to ES6 class for https://github.com/phetsims/tasks/issues/1044, and it was relatively straightforward. Here's the patch:

<details>
<summary>patch</summary>

[code]

</details>

When I went to commit, the pre-commit hook fails with this stack trace:

<details>
<summary>stack trace</summary>

</details>

When I run the sun unit tests in phetmarks, I see no failure.

???

[2020-09-29 00:04] pixelzoom commented on #630
OK.  So I finally discovered that the pre-commit hooks are running with `?ea&brand=phet-io`.   Here's what's failing:

<img width="956" alt="screenshot_575" src="https://user-images.githubusercontent.com/3046552/94497625-00428580-01b5-11eb-8d8e-dcdeb2666eb6.png">

[2020-09-29 00:08] pixelzoom commented on #630
Rolling back Slider changes, I verified that the problem does not exist prior to ES6 class conversion.

[2020-09-29 00:12] pixelzoom commented on #630
The problem seems to be that these 2 tests in SliderTests.js use the same tandem name, and the first one is not disposed:

[code]

@zepumph it looks like you added these unit tests.  Any idea why they didn't fail until I converted Slider to ES6 class?  And how should this be fixed? Should I just change the tandem name from 'slider' to 'slider2' in the second test?

[2020-09-29 00:21] pixelzoom commented on #585
Yikes. While working on another issue, I discovered that in addition to `EnabledComponent`, there is `EnabledNode` and `EnabledPhetioObject`.   They are all documented the same, all authored by @zepumph, and all updated recently.   @zepumph can you please clarify (or better yet document) the relationship between these 3 classes, and when each one should be used?

[2020-09-29 00:45] zepumph commented on #257
Over in https://github.com/phetsims/sun/issues/585#issuecomment-700350850 @pixelzoom said:

I will answer here because this issue is out for review on this exact topic (and the EnabledComponent hierarchy in general).

The paper trail for this is from https://github.com/phetsims/sun/issues/257#issuecomment-606942469 and the comment right below from April 15th. A trait depends on certain characteris

[2020-09-29 00:46] zepumph commented on #585
This is out for review over in #257 and I responded to this there, see https://github.com/phetsims/sun/issues/257#issuecomment-700358084. This issue should be on hold until that issue has been reviewed. I did work here for a specific PhET-iO requirement. Marking back on hold until that issue is reviewed.

[2020-09-29 02:43] zepumph commented on #630
Looks like in your patch above, the dispose method lost this line:

[code]

And so the test above fails because a slider with the tandem 'mySlider' is created and disposed, and then another slider with the same name is created and disposed. Without the above line, two PhetioObjects try to register to the same phetioID.

[2020-09-29 04:18] pixelzoom commented on #630
Excellent, thanks for identifying that missing line. I must've looked at that 20 times and didn't see it.

Unit tests are now passing and ES6 class conversion is done. Closing.

[2020-09-29 04:18] #630 closed

[2020-09-29 21:58] pixelzoom opened #631 "options are passed to both super and model of Button classes"
Noted while converting RoundToggleButton to ES6 class for https://github.com/phetsims/tasks/issues/1044.

In 71f10eb7a400db49dd28bf2f5c254bcc00a3eab1, @zepumph passed the complete set of options to the button's model:

[code]

Besides the fact that this feels like a hack for making the phetioID tree hide the button model...  Passing the complete set of options to a subcomponent is an anti-pattern.

[2020-09-29 22:07] pixelzoom commented on #631
There's also a memory leak that this introduced in some of the above classes.  Because the button model is now instrumented, it needs to be disposed.  And some of these classes (e.g. RectangularMomentaryButton) are not overriding dispose, and not handling disposal of buttonModel.

[2020-09-29 22:08] pixelzoom commented on #631
Raising priority since this is an obvious memory leak.

[2020-09-29 23:07] pixelzoom commented on #631
@zepumph can you please explain the `// @public (phet-io)` annotation above `this.toggleButtonModel` (and other button models).

[2020-09-30 02:04] pixelzoom commented on #631
To clarify... I'm wondering why `this.toggleButtonModel` is needed when the superclass already defines `this.buttonModel`.  This is causing dissonance in cases like RoundToggleButton `dispose`:

[code]

`this.toggleButtonModel` and `this.buttonModel` are references to the same object here. Very confusing.  And in other classes, `this.toggleButtonModel` was named `this.buttonModel`, overwriting the

[2020-09-30 02:45] pixelzoom opened #632 "problems with how sound was adde to sun buttons"
Discovered while converting sun buttons to ES6 classes for https://github.com/phetsims/tasks/issues/1044.

There are several problem with how sound has been added to sun buttons.

An example is in RoundToggleButton:

[code]

Problems here that occur throughout sun buttons:

(1) Accessing `this.buttonModel.produceSoundEmitter` to add/remove listener breaks encapsulation. Why did you go to the troub

[2020-09-30 03:05] pixelzoom opened #633 "approach to adding a11y to sun buttons"
I just completed conversion of sun buttons to ES6 class for phetsims/tasks#1044.

One of the things that I noticed while doing this conversion is a lack of symmetry/coverage in how a11y features have been added to sun buttons.

Examples:

* RoundButtonView has `this.focusHighlight` and `options.focusHighlightDilation`.  `RectangularButtonView` has neither.

* RoundButtonView adds listener `updateP

[2020-09-30 15:53] jonathanolson commented on #618
`isShowingProperty` was being improperly disposed in Dialog. This ALSO resulted in it being disposed BEFORE hide(), so that hide wasn't functioning properly. Should be fixed with the above commit, @samreid can you review/verify?

[2020-09-30 19:27] zepumph opened #634 "Remove unused ButtonModel.startCallback and endCallback"
From working on https://github.com/phetsims/sun/issues/631, I see no places where these callbacks are used. There are duplicate option names for NumberControl that are used. It seems like the new paradigm is to listener to ButtonModel's state Properties and do logic based on those listeners.

I'm going to remove these.

[2020-09-30 22:34] jessegreenberg commented on #633
Yes - and this is what we are striving for. The majority of a11y code for sun buttons is in ButtonModel and PressListener and any sun button using `ButtonModel.createListener` will be accessible. What is mentioned in this list are very minor differences in my opinion, but they are certainly things that could be cleaned up. To respond:

These are specific to round buttons. But I also don't see `foc

[2020-10-01 00:21] zepumph commented on #631
I think that it is acceptable to give the buttonModel the same tandem as the view, but that is no excuse to do that for all options. I will work to see what usages use the ButtonModel options and likely refactor them to be nested under `buttonModelOptions`

RE: https://github.com/phetsims/sun/issues/631#issuecomment-701114577:

Agreed! `this.toggleButtonModel` should be a local var, only needed fo

[2020-10-01 03:16] samreid commented on #618
Great fix, I reviewed the code change and tested in vegas.  Looks great.  I presume if this affected any in-progress sims, it would have been identified by QA, so I don't think it needs to be cherry picked anywhere.  Closing.

[2020-10-01 03:16] #618 closed

[2020-10-01 21:15] zepumph commented on #634
Nevermind. ArrowButton uses them in NumberControl. I got confused. Closing

[2020-10-01 21:15] #634 closed

[2020-10-01 21:17] zepumph commented on #631
I'll take a look at all of these buttons,

- [ ] RectangularMomentaryButton,
- [ ] RectangularPushButton,
- [ ] RectangularStickyToggleButton,
- [ ] RectangularToggleButton,
- [ ] RoundMomentaryButton,
- [ ] RoundPushButton,
- [ ] and RoundStickyToggleButton.

[2020-10-01 21:44] zepumph opened #635 "produceSoundEmitter should be disposed"
Over in https://github.com/phetsims/sun/issues/631 I noticed that subtypes of ButtonModel remove individual listeners from `this.buttonModel.produceSoundEmitter`, but it is never disposed. This seemed weird to me.

I feel like it would be easier to just have the ButtonModel dispose the Emitter that it owns once.

[2020-10-01 21:48] zepumph commented on #635
In each case in the above commit, we were unlinking from something that was disposed on the very next line.

@jbphet please review this cleanup. What do you think?

[2020-10-01 21:56] zepumph commented on #631
In the above commit, I got rid of the obvious error where `this.toggleButtonModel` and `this.buttonModel` both existed.

As for passing options through to the button model, I think I can see it both ways after poking around more. It seems a little bit like an implementation detail that the view and model of sun buttons are separate. They aren't separate for any other common code UI components. Sep

[2020-10-01 22:01] zepumph commented on #212
There are multiple TODOs referencing this issue that I feel like are obsolete. Dispose is now much more graceful, such that unlinking something after the underlying Property has been disposed no longer errors.

RE: https://github.com/phetsims/sun/issues/212#issuecomment-166962945
I wonder if these issues aren't a problem anymore

[2020-10-01 22:02] zepumph commented on #212
Encountered while working on https://github.com/phetsims/sun/issues/631

[2020-10-01 22:02] zepumph commented on #631
Reassigning to implement dispose in button models that don't currently.

[2020-10-01 22:28] zepumph commented on #631
Changes above:
* All buttons should implement a dispose to take care of the button model they create
* interaction state Properties are DerivedProperties based entirely on the button model, so disposing the button model is enough; there is no need to dispose the interaction state Property.
* subtypes don't need to declare `this.buttonModel`

Still marking for dev meeting to discuss the main part o

[2020-10-01 22:29] zepumph commented on #631
Dispose methods have been implemented. Reducing priority.

[2020-10-02 15:16] KatieWoe opened #636 "CT should not be called if disposed"
Number of sims in CT with similar issues:
[code]
Seems related to https://github.com/phetsims/sun/issues/631

[2020-10-02 18:50] zepumph commented on #636
This is from #631 and https://github.com/phetsims/sun/issues/635 while I was cleaning up some stuff in ButtonModel's dispose hierarchy. Specifically from https://github.com/phetsims/sun/commit/87e0d36e8eba662710fb4a5f9d408d37d241c62f, where I made sure that produceSoundEmitter was disposed by ButtonModel instead of unlinked from in all subtypes that added listeners.

@jbphet the above commit fixes

[2020-10-02 18:51] zepumph commented on #635
In addition to the above commit, please see https://github.com/phetsims/sun/issues/636 and review https://github.com/phetsims/sun/commit/ca56f1721a4ee800a328c6001f1904698221d3f8 in concert with this issue.

I personally like this direction, as it makes the most sense to me to dispose everything in `ButtonModel.dispose`.

[2020-10-02 21:14] jbphet commented on #636
Looks fine to me.  Closing.

[2020-10-02 21:14] #636 closed

[2020-10-07 21:18] jonathanolson commented on #627
It wasn't creating a type anymore effectively (and the inherit wasn't doing anything), so I cleaned this up to a `_createInstance` function that is streamlined. @samreid can you review my changes? Otherwise looks good to go.

[2020-10-08 13:58] terracoda commented on #476
Some screen readers say sub menu, some say pop-up button.
Closing this issue.

[2020-10-08 13:58] #476 closed

[2020-10-08 17:23] zepumph commented on #633
We discussed this briefly at developer meeting today. It seems like @jessegreenberg explained and cleaned things up well above. The discrepancies were largely in the view. We run a11y predominantly off of ButtonModel's created PressListeners.

@ariel-phet also discussed the benefit of cleaning up a11y code that was likely added in more of a "prototype" phase of that project.

@pixelzoom please rev

[2020-10-12 17:34] samreid commented on #627
The function looks much better, thanks!  Closing.

[2020-10-12 17:34] #627 closed

[2020-10-12 20:09] pixelzoom commented on #241
From https://github.com/phetsims/sun/issues/241#issue-166639295:

See options described above.

In https://github.com/phetsims/sun/issues/257 we decided to use the Mixin pattern, and it was implemented in `EnabledComponent`.

`EnabledComponent` is not specific to UI components, and can be used for any component that requires a dynamic "enabled" feature.  In https://github.com/phetsims/sun/issues/5

[2020-10-12 20:09] #241 closed

[2020-10-12 20:19] pixelzoom commented on #257
@zepumph I'm confused about `EnabledPhetioObject`.  It's header documentation says:

[code]

I don't see where it adds `enabledProperty`.  It doesn't verify that `this.enabledProperty` exists.  As far as I can tell, all it does it verify that `options.enabledProperty` (if it exists) is instrumented.   So the doc seems to be incorrect.

I'm also wondering why it inspects `options.enabledProperty`.

[2020-10-13 15:32] samreid commented on #257
Is it covered by this line?

[code]

[2020-10-13 16:41] jbphet commented on #635
@pixelzoom - since you're working on the button hierarchy, and I recall you and I discussing how the `produceSoundEmitter` should be disposed, I thought I'd assign this to you.

[2020-10-13 16:50] zepumph commented on #257
Yes thanks @samreid, even though that logic is from the supertype, I still thought it worth mentioning since that is the main functionality of this Type.

Is it not ok to depend on functionality of the supertype? I don't fee like we ever assert that `this.visible` is a boolean after extending `Node` and calling `super()` in the constructor.  `initializeEnabledComponent` is the super call for this

[2020-10-15 19:54] pixelzoom commented on #133
The code identified in RectangularButtonView, RoundButtonView, and CheckBox no longer exits. I was replaced by a more conventional `enabledProperty` pattern.

Closing.

[2020-10-15 19:54] #133 closed

[2020-10-15 22:20] pixelzoom opened #637 "clean up code that deals with EnabledNode options in Slider"
In https://github.com/phetsims/sun/commit/d640f5c7615669f6403cecfc39b22c113fc4d407 for https://github.com/phetsims/sun/issues/257, we decided that options to EnabledComponent should _not_ be mutually exclusive, because subclasses (and other clients) have a legitimate need to specify defaults.

@zepumph pointed out that this bit of code in Slider.js should therefore be cleaned up:

[code]

[2020-10-15 22:24] pixelzoom commented on #554
In the above commits, I added one test for the enabledProperty option:

[code]

I don't see the point in doing this for all buttons, so I left the `buttonsEnabledProperty` listener alone.  Future buttons added to the demo should either use the `enabledProperty` option, or should be added to the `buttonsEnabledProperty` listener.

Closing.

[2020-10-15 22:24] #554 closed

[2020-10-15 22:29] pixelzoom commented on #257
@zepumph and I collaborated on refinements to EnabledComponent, as found in the above commit.  Summary:

* `enabledProperty` and `enabledPropertyOptions` are not mutually exclusive, because subclasses have a legitimate need to specify default values for `enabledPropertyOptions`.  So if `enabledProperty` is provided, `enabledPropertyOptions` are simply ignored.

* Added option `enabled`, which sets

[2020-10-15 22:35] pixelzoom commented on #515
In the above commit, ButtonModel now uses mixin EnabledComponent.  This brings us a baby step forward, so that `enabledProperty` is now created correctly in ButtonModel.  And you can pass in `options.enabledProperty`.

But there are still 2 major differences with other UI components:

* The first difference is programmer API. You can't access `myButton.enabledProperty` because `enabledProperty` li

[2020-10-15 22:42] pixelzoom opened #638 "how to verify that a mixin is not overwriting properties"
Related to #257...

In EnabledComponent, `mixInto` checks for properties that we don't want to overwrite like this:

[code]

Two things to address here:

(1) `hasOwnProperty` does not detect inherited properties

(2) There's a lot of boilerplate in these assertions.

@zepumph and I discussed this, and we think that something like assertHasProperties.js is what we need here, with the assertion expr

[2020-10-15 22:47] pixelzoom commented on #637
Cleaned up in the above commit. @zepumph please review.

[2020-10-16 00:31] zepumph commented on #638
To be clear I wrote that file (I don't want leave room for @jonathanolson to be blamed for my shoddiness), but I think that @jonathanolson will have an important perspective to provide about how best to support this for the whole prototype Hierarchy.

I was also surprised to see that this sort of pattern was not implemented in any of the mixins/traits around the project.

Also note that this likel

[2020-10-16 00:56] #637 closed

[2020-10-17 21:28] samreid commented on #257
CT is showing errors when a `DerivedProperty` is passed in as `enabledProperty`, for instance, in Number Play:

[code]

This is because RoundArrowButton sets the enabledProperty value in `onEnabledChange`:

[code]

This can be averted by changing the DerivedProperty to only throw an error if you try to set a different value.  I'm not sure if this is a good solution, or if there should be a guard s

[2020-10-17 21:30] samreid commented on #257
I committed the change to DerivedProperty, @pixelzoom can you please review/discuss/advise?

[2020-10-18 01:10] pixelzoom commented on #257
I don't think that should be the case. _Any_ attempt to directly set a DerivedProperty is incorrect.

[2020-10-18 01:12] pixelzoom commented on #257
Thinking about this more, I have a strong opinion about https://github.com/phetsims/axon/commit/9b01dfccb2456017b771abff767bd3fe2b317e6f - it should be reverted.

[2020-10-18 01:27] samreid commented on #257
Here is a patch that reverts the change to DerivedProperty and moves the guard to RoundButtonView.

<details>

[code]

</details>

The problem is that EnabledComponent allows the user to pass in a `Property`, and some client code passes in a `DerivedProperty`, which does not support `set`.  Do you prefer this patch?  If so, won't we end up proliferating guards like this to other places? This examp

[2020-10-19 16:57] zepumph commented on #257
I hadn't yet thought about the fact that `EnabledComponent.enabledProperty` should able to be a passed DerivedProperty. I feel like it is a case we need to support. In this instance, it is `RoundArrowButton's` fault for not supporting the enabledProperty interface, in which options.enabledProperty is of type `Property` (which could be derived).

I do not think this patch gets to the bottom of thin

[2020-10-19 17:10] zepumph opened #639 "Get rid of ButtonModel.isA11yClicking()?"
@pixelzoom brought this up.

We, in other common code, have been solidifying a pattern for knowing if a listener event comes from the PDOM or elsewhere. Ideally it looks like this (checking on the event):

`SceneryEvent,isFromPDOM()`

From this and I feel like ButtonModel.isA11yClicking is an old, vestigial pattern that we may not need anymore.

@pixelzoom also noted that all usages of it breaks b

[2020-10-19 17:18] zepumph commented on #639
![image](https://user-images.githubusercontent.com/6856943/96489351-d1379680-11eb-11eb-9796-09cb44fa62be.png)

Things have been like this through the last ~10 sim publications (including those with interactive description). No logic issues have been reported in QA testing or elsewhere. Is this in response to the face that this pattern accesses a `protected` member from outside the instance?

[2020-10-19 17:23] pixelzoom commented on #635
ButtonModel created `produceSoundEmitter`, so ButtonModel should dispose it.   So that part of @zepumph's changes in 87e0d36 move things in the correct direction.  But I have problems with the rest of this change.

@zepumph said:

There are no subtypes of ButtonModel involved here. These are all things that use ButtonModel via composition.

@zepumph said:

That is not the case. The very next line

[2020-10-19 17:29] pixelzoom commented on #639
Yes - violating an API is a bug. And there are now 4 call sites that rely on that programming error. The only reason that it doesn't manifest as a hard failure is JavaScript's lack of language support for visibility.

[2020-10-19 17:32] pixelzoom commented on #639
I will reluctantly remove the "bug" label here, since it is not currently causing any unintended behavior. Perhaps guess we need a "programmer error" label for cases like this.

[2020-10-19 17:38] pixelzoom commented on #633
Over in https://github.com/phetsims/sun/issues/639, it was determined that ButtonModel `a11yClickingProperty` is vestigial.   So while I appreciate that the specific problems that I mentioned above have been addressed, perhaps this issue is not ready to close yet.   Have sun buttons been given a thorough "going over", to verify that they are up-to-date with current a11y practices, and that a11y ha

[2020-10-19 17:39] pixelzoom commented on #633
On my very next task in sun buttons (reviewing https://github.com/phetsims/sun/issues/635), I ran into something in ButtonModel. In https://github.com/phetsims/sun/issues/639, it was determined that ButtonModel `a11yClickingProperty` is vestigial.

So while I appreciate that the specific problems that I mentioned above have been addressed, perhaps this issue is not ready to close yet.   Have sun b

[2020-10-19 17:58] pixelzoom commented on #257
@zepumph said:

I think I understand the spirit of this comment. But to clarify... RoundArrowButton DOES support the Property API (which includes `setValue`) and cannot possibly forsee the fact that subclasses of Property (like DerivedProperty) may break that contract.  The "fault" here is with the design of Derived Property - it extends Property, and then immediately breaks the Property contract

[2020-10-19 18:05] jessegreenberg commented on #639
I am not sure if we can get rid of this, it will depend on whether we can send the SceneryEvent to listeners on the button. Many button models fire from ButtonModel.downProperty separate from the SceneryEvent. I am not seeing a clear way to replace it yet, but definitely something we can look at tomorrow.

[2020-10-19 18:06] pixelzoom commented on #257
@samreid asked in https://github.com/phetsims/sun/issues/257#issuecomment-711103244:

I don't like this logic being moved to RoundButtonView (or other classes) either.  It's a hack to workaround a major design flaw in DerivedProperty.   I don't know how to correct that design flaw at this point.

Preferable to the hack would be to remove the need to set `enabledProperty`. That problem is present o

[2020-10-19 18:21] pixelzoom commented on #257
I'm also curious... How are you dealing with this in https://github.com/phetsims/scenery/issues/1046 (for visibleProperty et. al.)?  Example:

[code]

[2020-10-20 20:01] pixelzoom commented on #469
This will be addressed in https://github.com/phetsims/sun/issues/585 (Convert components to use EnabledComponent mixin).  So I've updated the list of components in that issue, and closing this issue.

[2020-10-20 20:01] #469 closed

[2020-10-20 21:10] pixelzoom opened #640 "Is 'onclick' specific to Checkbox?"
Noted while converting Checkbox to use EnabledNode mixin for https://github.com/phetsims/sun/issues/585...

The enabledProperty listener for Checkbox is:

[code]

Everything except the calls to `this.setAccessibleAttribute( 'onclick'` are handled by EnabledNode or its super-mixins.   Should 'onclick' also be in EnabledNode, or is it specific to Checkbox? Searching for "this.setAccessibleAttribute(

[2020-10-20 21:11] pixelzoom commented on #640
Slack with @zepumph and @jessegreenberg:

Michael Kauzmann  2:47 PM
Yeah, I remember looking at that while working on EnabledNode.
I am pretty sure I tracked it back to a checkbox specific issue.

Chris Malley  2:47 PM
So leave it in an additional listener added by Checkbox ?

Michael Kauzmann  2:48 PM
I think that is what we will do, but would you mind creating a separate issue about adding that

[2020-10-21 01:50] pixelzoom commented on #585
Conversion is done. Summary of the above commits:

* EyeDropperNode was using `enabledProperty` incorrectly, to change the state of its button.  So I renamed it to `buttonEnabledProperty`.

* LaserPointerNode was using `enabledProperty` incorrectly, to change the state of its button. This feature was unused except in scenery-phet demo, so I simply deleted it.

* GaugeNode was using `enabledPropert

[2020-10-21 01:57] pixelzoom opened #641 "how to handle dependency injection of {DerivedProperty} someProperty"
Breaking this new issue out of https://github.com/phetsims/sun/issues/257.

In https://github.com/phetsims/sun/issues/257#issuecomment-711082727, @samreid reported:

CT is showing errors when a `DerivedProperty` is passed in as `enabledProperty`, for instance, in Number Play:

[code]

This is because RoundArrowButton sets the enabledProperty value in `onEnabledChange`:

[code]

This can be averted

[2020-10-21 01:58] pixelzoom commented on #641
@samreid committed 9b01dfc, then said in https://github.com/phetsims/sun/issues/257#issuecomment-711082862:

[2020-10-21 01:59] pixelzoom commented on #641
In https://github.com/phetsims/sun/issues/257#issuecomment-711101723, I said:

@samreid said:

I don't think that should be the case. _Any_ attempt to directly set a DerivedProperty is incorrect.

[2020-10-21 02:00] pixelzoom commented on #641
In https://github.com/phetsims/sun/issues/257#issuecomment-711103244, @samreid said:

Here is a patch that reverts the change to DerivedProperty and moves the guard to RoundButtonView.

<details>

[code]

</details>

The problem is that EnabledComponent allows the user to pass in a `Property`, and some client code passes in a `DerivedProperty`, which does not support `set`.  Do you prefer this pat

[2020-10-21 02:00] pixelzoom commented on #641
In https://github.com/phetsims/sun/issues/257#issuecomment-712299607, @zepumph said:

I hadn't yet thought about the fact that `EnabledComponent.enabledProperty` should able to be a passed DerivedProperty. I feel like it is a case we need to support. In this instance, it is `RoundArrowButton's` fault for not supporting the enabledProperty interface, in which options.enabledProperty is of type `Pro

[2020-10-21 02:01] pixelzoom commented on #641
In https://github.com/phetsims/sun/issues/257#issuecomment-712340541, I said:

@zepumph said:

I think I understand the spirit of this comment. But to clarify... RoundArrowButton DOES support the Property API (which includes `setValue`) and cannot possibly forsee the fact that subclasses of Property (like DerivedProperty) may break that contract.  The "fault" here is with the design of DerivedProp

[2020-10-21 02:07] pixelzoom commented on #257
This issue dealt with how to add enabled/disabled feature to UI component.  We decided that mixin was the correct pattern, and @zepumph implemented the EnabledComponent stack.  Conversion to EnableComponent has been completed in #585.   So this issue is done, and ready to close.

The issue of {DerivedProperty} enabledProperty that @samreid brought up in https://github.com/phetsims/sun/issues/257#i

[2020-10-21 02:07] #257 closed

[2020-10-21 02:11] pixelzoom commented on #515
I don't know how to resolve the remaining `enabledProperty` differences described in https://github.com/phetsims/sun/issues/515#issuecomment-709625808.  Since the design and implementation of sun buttons has numerous other problems, you might consider a "sun buttons 2.0" implementation sometime in the not-too-distant future.  My recommendation there would be to either avoid the model-view separati

[2020-10-21 02:23] pixelzoom commented on #641
First priority here should be reverting phetsims/axon@9b01dfc .

[2020-10-21 03:51] samreid commented on #641
I reverted the change to `DerivedProperty`.  For RoundArrowButton, I removed redundant code which is already covered in the EnabledComponent mixin.

[2020-10-21 14:02] pixelzoom commented on #641
Commits looks good.

Anything else to discuss or do here?

[2020-10-21 18:28] samreid commented on #641
For practical purposes, I think this issue can be closed.  But I think we should have a discussion to get on the same page about the nature of DerivedProperty.  I don't believe we should treat `DerivedProperty` as a subtype of `Property`, even though we used subclassing as the mechanism by which to factor out code.  If this warrants further discussion, I recommend marking for developer meeting.

[2020-10-21 18:34] pixelzoom opened #642 "ButtonModel has an odd way of interrupting listeners"
Related to https://github.com/phetsims/sun/issues/515 (buttons have a different API for enabledProperty), I'm trying to determine if it's possible to move enabledProperty out of ButtonModel.

This was added to ButtonModel.js by @zepumph in 02a5bff5366732ba6559ef37fb500e2adf13d2e8:

[code]

This is very odd.  There's nothing in the ButtonModel listener contract that indicates the presence of an `in

[2020-10-21 18:36] pixelzoom commented on #642
Ah, I see ButtonModel `createListener` creates and adds instances of PressListener, which defines `interrupt.  And I'm guessing that you didn't use `interruptSubtreeInput` because ButtonModel is not a Node.

[2020-10-21 18:50] pixelzoom commented on #641
Yes, I think we should discuss at developer meeting.

I'm not clear on what you're proposing here. But we should not use subclassing and then expect to treat DerivedProperty like it's not a subclass.  It's either a subclass or it isn't.  If it shouldn't be a subclass, then change the implementation and share code with Property in some other way.

[2020-10-21 19:01] samreid commented on #641
How about factoring out a new type `ReadOnlyProperty` which has everything `Property` has except for the setters (or makes the setters protected therefore not part of the public interface).  Then `DerivedProperty extends ReadOnlyProperty` and `Property extends ReadOnlyProperty`.

[2020-10-21 19:06] pixelzoom commented on #641
That would probably get the job done, but has some design issues.  Like why would`ReadOnlyProperty` would have an interface for adding listeners when the value is never going to change?

[2020-10-21 19:10] pixelzoom commented on #641
I think that what we want is a base class that has a mutable value, but requires subclass to specify how the value is mutated.  Property mutates by setting directly.  DerivedProperty mutates by deriving a value from dependencies (where the dependencies are instances of this new base class).

[2020-10-21 19:14] samreid commented on #641
How about `AbstractProperty` where the abstract part is how the value is set?

[2020-10-21 19:32] pixelzoom commented on #641
The about sounds right.  But there may be other things... For example, DerivedProperty also breaks the contract for `reset` and `getInitalValue`.

[2020-10-21 19:35] pixelzoom commented on #641
Looks like we also need to include DynamicProperty in this conversation.  Like DerivedProperty, it breaks the contract for `set`, `reset` and `getInitialValue`.   Curiously, it uses assertions instead of throwing Errors, and tries to actually do something -- which seems really wrong.