[2021-07-16 20:33] jbphet commented on #521
Sounds have been moved into common code and are chugging along there.  I've deleted this branch and will close this issue.

[2021-07-16 20:33] #521 closed

[2021-07-16 20:34] jbphet commented on #367
Reopening.  This branch was restored during an effort to recover some branches that were accidentally deleted.  This one had been _intentionally_ deleted, and now needs to be re-deleted.  See https://github.com/phetsims/special-ops/issues/198.

[2021-07-16 20:34] jbphet commented on #367
Re-deletion complete.  Closing.

[2021-07-16 20:34] #367 closed

[2021-07-19 17:21] jonathanolson commented on #269
Looks old and stale, deleted. Thanks!

[2021-07-30 14:25] zepumph commented on #685
I just added a deprecatedWarning on ValueChangeUtterance. I would like to get to this cleanup soon.

[2021-08-11 18:06] pixelzoom opened #712 "Add support for interactive tick marks in Slider."
Over in https://github.com/phetsims/fourier-making-waves/issues/114#issuecomment-897007348, I added interactive tick labels.  Clicking on a tick label sets the Slider's Property to the value associated with that tick. You can find my implementation in FMWNumberControl.js.

A couple of things...

(1) This was harder than it should have been, because Slider `addTick` sets tick labels to `pickable: f

[2021-08-16 19:26] zepumph commented on #686
Arrow button tweaks above, now onto the displayOnlyProperty

[2021-08-16 19:39] zepumph commented on #686
Just like in ComboBox, I made the displayOnlyProperty read-only. Please review by testing in Projectile Motion, Density, or Gravity Force Lab in studio, where each NumberControl should now have a `displayOnlyProperty`.

[2021-08-16 19:56] pixelzoom commented on #686
I'm sad to see that we're still using this pattern for adding the "display only" feature.  We previously decided that ComboBox was not a good pattern -- that is, hiding specific UI subcomponents to try to make something look like a display.  Instead of hiding subcomponents, we decided it was better to have a "display only" version of any UI component that needs that feature.

@zepumph did you use

[2021-08-16 19:59] pixelzoom commented on #686
It also seems like this should have gone to a developer for review, before passing off to the designer for review.

[2021-08-16 20:03] zepumph commented on #686
Can you link that decision for this issue please.

What would be an alternative, to create duplicate the titleNode and numberDisplay and to swap out those other components? I don't think I understand.

[2021-08-16 20:06] zepumph commented on #686
Isn't this a design consideration? I was given a spec in https://github.com/phetsims/sun/issues/686#issue-816121070 that shows half of the components hidden.

@pixelzoom can you please recommend a path forward.

[2021-08-16 20:17] pixelzoom commented on #686
From the March 4, 2021 PhET-iO meeting notes, https://docs.google.com/document/d/1-nqTlDtLtPB8JrdDrE8KdJB-4Phwe6QvTV_UnsZrteg/edit:

AR: I really like how displayOnlyProperty looks in studio, it would be nice to have this feature elsewhere
CM: Expensive, Needs a way to test, Do we want to do this? Do we want to do this or have a “value only component” as a child of each of these components? Would

[2021-08-16 20:18] pixelzoom commented on #686
What are you asking here? Are you asking why the implementation of a design spec needs to be reviewed?

[2021-08-16 20:19] pixelzoom commented on #686
We established a path forward. My recommendation is to take it.

[2021-08-16 20:26] pixelzoom commented on #686
For NumberControl, the issue that I see with simply hiding subcomponents is layout.  NumberControl has a flexible layout system, and we choose a layout based on how we want the title, NumberDisplay, ArrowButtons, and Slider to be arranged.  If you hide the ArrowButtons and Slider, the layout that you've chosen may no longer make sense.  So the least that you need is a way to optionally specify a d

[2021-08-16 20:35] pixelzoom commented on #686
Here's a concerte example of what I'm pointing out in https://github.com/phetsims/sun/issues/686#issuecomment-899796691.  This is the Atom control panel from Rutherford Scattering:

<img width="266" alt="screenshot_1184" src="https://user-images.githubusercontent.com/3046552/129625729-8f224ed0-34fd-439e-80d9-c6bff3e74806.png">

It uses NumberControl with `layoutFuncton: createLayoutFunction3`.  Wi

[2021-08-18 23:07] arouinfar opened #713 "Create an assertion for ComboBoxItems missing `tandemName`"
In two recent PhET-iO design reviews, I ran across ComboBoxes without ListBox items, see https://github.com/phetsims/fourier-making-waves/issues/141 and https://github.com/phetsims/density/issues/77.

I don't know if there was a recent change to ComboBox, or if it was simply a coincidence. However, it might be nice to add an assertion so developers catch this before a sim is passed off to designer

[2021-08-31 16:08] zepumph opened #714 "Create NumberControl.displayOnlyProperty"
Over in https://github.com/phetsims/sun/issues/686#issuecomment-906612612 we attempted a naïve implementation of `displayOnlyProperty` based on what we did in `ComboBox`, it didn't really work. Instead, we would like to design thoughtfully how this should look.

Note https://github.com/phetsims/phet-io/issues/1757 as sorta a parent issue.

This issue was decided to not block Projectile Motion, but

[2021-08-31 16:17] zepumph commented on #686
Alright we have https://github.com/phetsims/sun/issues/714, @arouinfar, please review everything else but the `displayOnlyProperty` work.

[2021-09-02 16:10] KatieWoe opened #715 "On touch devices, releasing slider thumb can move it slightly, making it difficult to set precise values."
**Test device**
iPad
**Operating System**
iPadOS 14
**Browser**
Safari
**Problem description**
For https://github.com/phetsims/qa/issues/701. Related to https://github.com/phetsims/ratio-and-proportion/issues/371.
When dragging the wave adjusters, letting go seems to move them by a tic or so. This happens even if you lift straight up. Since the wave game needs to be exact, this can make the game f

[2021-09-02 17:06] zepumph commented on #686
We touched base with @arouinfar this week during PhET-iO meeting to confirm that Projectile motion doesn't need this feature, and that we will thoughtfully design the feature over in https://github.com/phetsims/sun/issues/714

[2021-09-09 18:56] zepumph commented on #714
Over to @arouinfar for initial design.

[2021-09-20 23:57] pixelzoom opened #716 "Add pointer-area options to Checkbox."
For https://github.com/phetsims/fourier-making-waves/issues/165 code review, @jonathanolson had this REVIEW comment in FMWCheckbox:

[code]

I guess I was trying to avoid Checkbox.  But yes, these options would be generally useful in Checkbox.  And the lack of these option in Checkbox is the only reason that FMWCheckbox exists.  So I'll bit the proverbial bullet and add these options to Checkbox.

[2021-09-21 00:06] pixelzoom commented on #716
Done in the above commits, and used in Fourier.   I chose to set `touchArea` and `mouseArea` even if the option values are zero, because it simplifies the implementation, and (in my experience) designers/QA like to see the pointer areas regardless of whether they've been modified.

@jonathanolson please review with high priority.

[2021-09-21 01:44] pixelzoom opened #717 "Slider (not VSlider) should handle swapping dimensions."
Slider (the base class for sliders) is implemented for a horizontal slider. You can create a vertical slider using either VSlider, or Slider with `orientation: 'vertical'`.   But when creating a vertical slider, there are a bunch of dimensions that need to be swapped.  VSlider does this for you:

[code]

But what if you need to create a subclass of Slider that support horizontal and vertical orien

[2021-09-21 02:14] pixelzoom commented on #717
In the above commits, I moved the dimension-swapping code from VSlider to Slider.

The only sim affected by this was Fourier; there were no other cases where Slider was being instantiated with `orientation: Orientation.VERTICAL`, all other vertical sliders are created using VSlider.   In Fourier, this allowed me to specify pointer areas "normally" for a vertical slider.

But there is still an issu

[2021-09-21 03:40] pixelzoom commented on #717
I couldn't untangle this.  The best I could do is clean things up in Fourier, so that there's less code that has to be aware of the fact that Slider rotates things.   I'm still working on that in phetsims/fourier-making-waves#175.

@jonathanolson could you please review what I've done here so far? I'm inclined to stop here for now, since this is going to take a lot of time, and Fourier is the only

[2021-09-21 17:27] jonathanolson commented on #716
Looks good to me, thanks!

[2021-09-21 17:27] #716 closed

[2021-09-21 20:48] pixelzoom commented on #717
As I discovered in https://github.com/phetsims/fourier-making-waves/issues/175, trying to create your vertical slider with custom thumb and track has lots of problems.  It was necessary to create my thumb and track (and update the track, in my case) in the horizontal orientation, which makes for some ugly code.  And while https://github.com/phetsims/sun/commit/53706aa5fef79d0805840dbd7e4a04b3a555e

[2021-09-27 18:12] pixelzoom commented on #697
What little support there is for sound in Slider doesn't seem to play nice with custom thumbs and tracks. For example, see https://github.com/phetsims/fourier-making-waves/issues/179.   This is probably because Slider passes options to DefaultSliderTrack, but doesn't do anything for a custom track.  So... Please keep in mind that Slider needs to support custom thumbs and tracks.  And if I pass a c

[2021-09-28 21:21] jessegreenberg opened #718 "Keyboard traversal of ComboBoxListBox doesn't work with invisible items"
From https://github.com/phetsims/fourier-making-waves/issues/194. The traversal of items in ComboBoxListBox isn't working when items are invisible.

[2021-09-28 21:52] jessegreenberg opened #719 "Dialogs should focus the close button by default when shown"
From https://github.com/phetsims/fourier-making-waves/issues/194. Focus behavior when opening a dialog is inconsistent because you currently need to call `focusCloseButton` explicitly after calling `show()`.

This is because we used to only focus the button when the dialog was opened from alternative input. Calling `focus` would immediately show the focus highlight and we did not want to do that f

[2021-09-28 23:03] jessegreenberg commented on #719
This was done in the above commit. In some spot checking I that Dialogs being opened from the PhET menu had focus going to the second interactive element. This is because of `handleFocusCallback` of MenuItem. After https://github.com/phetsims/sun/commit/214150ea6ba6b2b5975db9c35553b65c834a5097 this default behavior isn't necessary and it is an improvement to have this done in Dialog.

This was fix

[2021-09-28 23:06] jessegreenberg commented on #719
I also considered moving this `focusOnOpenNode` and `focusOnCloseNode` to popupable. But I decided not to because there isn't a reasonable default there. The default might involve `getNextFocusable`. Or the default might be `null` indicating no behavior and Dialog could set the default to be the close node.

@zepumph do you think this should be moved to popupable?

[2021-09-28 23:40] zepumph commented on #719
I think that popupable is the place for this. I would highly recommend again using `getNextFocusable` (as I feel like you probably agree with), and instead just no-op when `null`. The reason is that it will be so very easy to do this now (at least I think so from the outside), and I could see us easily using this in whatever we popup next.

Good work with removing `focusCloseButton`.

[2021-09-30 19:39] pixelzoom opened #720 "ComboBoxListBox does not consider visibility of items when setting focus."
This problem was encountered in https://github.com/phetsims/fourier-making-waves/issues/195.  The Equation combo box in Fourier (EquationComboBox.js) has a dynamic list.  The visibility of items in the list changes based on the setting of the "Function of" combo box. So when traversing this list, invisible items are being visited.

The problem seems to be with this bit of code in ComboBoxListBox.j

[2021-09-30 19:40] pixelzoom commented on #720
High-priority because Fourier is in RC testing.

[2021-09-30 19:49] jessegreenberg commented on #718
This is being handled in https://github.com/phetsims/sun/issues/718, moving over there.

[2021-09-30 19:49] #718 closed

[2021-09-30 19:50] pixelzoom commented on #697
Another thing to consider, which came up in https://github.com/phetsims/fourier-making-waves/issues/197...  When using keyboard navigation, sounds need to play when using Page Up/Down to go to max/min.

[2021-09-30 21:11] jessegreenberg commented on #720
I replaced the for loops with a better way and introduced `visibleListNodes` to just select from those when deciding which ComboBoxListItemNode to focus next. @pixelzoom could you please review?

[2021-09-30 21:50] jessegreenberg commented on #719
Thanks @zepumph, Ill move these options into Popupable and set the close button as the default in Dialog.

[2021-09-30 22:25] pixelzoom commented on #720
Looks good, and behaves correctly in Fourier.  Thanks @jessegreenberg!

Closing.

[2021-09-30 22:25] #720 closed

[2021-09-30 23:04] jessegreenberg commented on #719
I am having a hard time putting this in Popupable because of when Dialog calls `this.sim.setAccessibleViewsVisible( true );`. Popupable's listener on the `isShowingProperty` is called before Dialog's so it is trying to set focus on `focusOnCloseNode` before the Node to restore focus to has become visible again.

[2021-09-30 23:13] zepumph commented on #719
What about instead of putting it in the listener, you put it directly in show/hide, after you set the Property? Would that work?

[2021-10-01 04:06] samreid commented on #713
I added this assertion:

<details>

[code]

</details>
And found errors in these sims:
testSims=energy-skate-park,gas-properties,gases-intro,ratio-and-proportion,states-of-matter,states-of-matter-basics

@zepumph can you please review the patch?  Should we add `tandemName` for all these failing cases?

[2021-10-01 23:52] pixelzoom commented on #719
Raising priority to high, since this is blocking the next Fourier RC, as noted in https://github.com/phetsims/fourier-making-waves/issues/194#issuecomment-931748651.

[2021-10-04 20:01] pixelzoom opened #721 "Closing a ComboBoxListBox should restore focus to ComboBoxButton before changing Property value."
Over in https://github.com/phetsims/fourier-making-waves/issues/194#, I ran into a case where making a ComboBox selection results in a Dialog opening (to alert the user to an invalid combination of UI settings).   When closing that Dialog, I discovered that focus was not restored to the ComboBoxButton.   @jessegreenberg pointed out that the focus had actually been on a ComboBoxListItemNode in the

[2021-10-04 20:21] pixelzoom commented on #721
Fixed in the above commits, in master and fourier-making-waves-1.0 branches.

@jessegreenberg would you please review?

[2021-10-04 22:46] jessegreenberg commented on #719
Yes @zepumph, thanks! That worked really well. These are now in Popupable. I renamed the options because Popupable uses `show`/`hide` terminology instead of Dialog's `open`/`close`. Can you please review this change?

[2021-10-04 22:53] jessegreenberg commented on #719
Wait, `focusCloseButton` still exists, back to me to remove that.

[2021-10-04 23:01] jessegreenberg commented on #721
I think this change makes sense and fixes the problem found in https://github.com/phetsims/fourier-making-waves/issues/194. I tested a number of other ComboBoxes just in case but I can't think of anything problematic with this change.

[2021-10-04 23:01] #721 closed

[2021-10-05 15:53] jessegreenberg commented on #719
It has been removed, back to @zepumph for https://github.com/phetsims/sun/issues/719#issuecomment-933911808. After review Ill collect the commits that are needed for a cherry-pick.

[2021-10-05 23:53] pixelzoom commented on #719
Some feedback that should be addressed by this issue:

(1) Over in https://github.com/phetsims/vegas/issues/96#issuecomment-934994871, @arouinfar's feedback for RewardDialog is that she'd like to see the traversal order be content -> closeButton -> browser URL textfield, instead of the current content -> browser URL textfield -> closeButton.  I don't think this is specific to RewardDialog, and see

[2021-10-06 01:51] jessegreenberg commented on #719
Re https://github.com/phetsims/sun/issues/719#issuecomment-935099853, these are being tracked in different issues, 1) is being discussed in https://github.com/phetsims/vegas/issues/96 and 2) is being discussed in https://github.com/phetsims/joist/issues/750.

[2021-10-06 14:49] jessegreenberg opened #722 "Can Dialog pass nested options to the Popupable mixin?"
In https://github.com/phetsims/sun/issues/719 we noticed that Dialog could not easily pass options to Popupable, which is using the new mixin pattern. Dialog is passing options to its super class (Panel), but you have to pick out the options that you want to give to Popupable in the first argument. This was a little confusing because it looked like Dialog extended Popupable
[code]

Popupable is th

[2021-10-06 21:15] arouinfar commented on #719
To clarify, @jessegreenberg mentioned that the current traversal order was more optimal for screen readers, so I am fine with leaving this as-is, as I said in https://github.com/phetsims/vegas/issues/96#issuecomment-935149674. Dialogs can be closed with the esc hotkey, so users don't need to tab to the close button, anyway.

[2021-10-07 04:09] samreid commented on #722
Using the search regex `extends .*\( .* \) \{` reveals many other occurrences which use the parametric mixin pattern:

[code]

[code]

etc.  But I agree this style is relatively new and rare.

Correct me if I misunderstand, but I think `Dialog` extends `Popupable(Panel)`. `Popupable(Panel)` creates a new (in this case, anonymous) type which is a supertype for Dialog.  As much as possible we should

[2021-10-07 15:18] jessegreenberg commented on #719
Thanks @zepumph. Here are the commits to cherry-pick, in order. I tried cherry-picking to test branches off of fourier 1.0 SHAs and saw things working OK. Let me know if you encounter a problem @pixelzoom.

sun:
 - https://github.com/phetsims/sun/commit/214150ea6ba6b2b5975db9c35553b65c834a5097
 - https://github.com/phetsims/sun/commit/3440aab18041d6f1b3e3d0b84122649f4da2ff6a
 - https://github.com/

[2021-10-07 18:38] jessegreenberg opened #723 "Popupable shouldn't require that a Node is returned to focus when it is hidden/shown"
In https://github.com/phetsims/sun/issues/719 we added assertions that say when a Popupable closes, focus must go somewhere and the target must be focusable.

[code]

But it is crashing in a case demonstrated in https://github.com/phetsims/fourier-making-waves/issues/207. In this case, the ScreenView loads with focus on its `h1` Node. On the first mouse/touch press on an AmplitudeNumberDisplay the

[2021-10-07 20:21] zepumph opened #724 "Dialog should have an option to put the close button last in the pdomOrder"
While discussing https://github.com/phetsims/joist/issues/750 in design meeting, we thought that some dialogs would seem better to have the close button last. It seems like a good use case to support, and we likely will for in the vegas reward dialog (over in https://github.com/phetsims/vegas/issues/96).

Tagging @jessegreenberg because he is a boss, but I'll take the lead first.

[2021-10-07 20:44] zepumph commented on #724
@jessegreenberg and I like `closeButtonLastInPDOMOrder` defaulting to false.

I also noticed that the current PDOM order can leak a `null` into it if the title is not provided. Let's make sure we get rid of that.

[2021-10-07 21:07] zepumph commented on #724
@jessegreenberg please review this. I added assertions because I had to do some hackary to come up with a good default focusOnShowNode when the close button is last.

[2021-10-07 21:15] zepumph commented on #722
Agreed @jonathanolson.

Honestly, it felt like much of what @samreid said in https://github.com/phetsims/sun/issues/722#issuecomment-937428194 was not inline with what I was seeing. Perhaps a sync communication is best.  It isn't that the pattern is only used once, its Popupable is the only mixin of this type in which it takes options, and the Node it mixes into also takes options, so we have to p

[2021-10-07 21:15] #722 closed

[2021-10-08 00:03] pixelzoom commented on #719
I'm not sure if there's more to do here, so back to @jessegreenberg.

[2021-10-08 17:44] jessegreenberg commented on #723
OK thanks! Will keep an eye out in #724 but I think this can be closed.

[2021-10-08 22:37] jessegreenberg commented on #719
We are ready to close this.

[2021-10-08 22:37] #719 closed

[2021-10-08 23:32] zepumph commented on #713
Looks good to me. Almost all have not had thoughtful design, so I felt pretty good about filling them in. I also used `Tandem.VALIDATION` to keep the shut off switch for these gotchas about tandems.

[2021-10-09 16:20] samreid commented on #713
I reviewed the commits and don't have any recommendations.  I like the check for `VALIDATION`.  Ready to close?

[2021-10-14 20:01] jessegreenberg commented on #722
This looks nice, thanks! A `config` is more clearly required. `required` is often used with a `config` but it was intended for fields of the `config` (looking at its assertion message).  Are you OK with the above commit to catch the missing `config` before we hit something like "Assertion failed: object is not compatible with merge"?

[2021-10-14 22:50] zepumph commented on #724
Hows that?

Tested with:

[code]

[2021-10-15 19:57] jessegreenberg commented on #724
I think thats great, thanks!

[2021-10-27 05:06] kathy-phet opened #725 "Ready Dynamic Layout for Broader Use"

[2021-10-29 19:25] zepumph opened #726 "Add Voicing to ComboBox"
While working on https://github.com/phetsims/friction/issues/268, @jessegreenberg and I realized that the best solution would be to add Voicing as a feature to ComboBox, instead of working around that with usages-specific voicing.

[2021-10-29 19:39] jessegreenberg commented on #726
@zepumph and I worked on this together and added support in the above commits. Closing.

[2021-11-04 03:39] pixelzoom opened #727 "TS interprets {Node} as the built-in DOM Node, resulting in type-checking errors."
Encountered while working on https://github.com/phetsims/geometric-optics/issues/229 ...

In ShowHideToggleButton.js:

[code]

In the `super` call, TS flags `showNode` as an error:

This is surprising sine `class Path extends Node`.   But the problem is with the JSDoc for BooleanRoundToggleButton's constructor:

[code]

TS apparently thinks `{Node}` is the built-in DOM Node.  Changing `{Node}` to

[2021-11-05 17:21] samreid commented on #48
The commit from yesterday introduced this code to, say, Panel:

[code]

This is causing TypeScript compilation errors to appear on CT, like:

[code]

[2021-11-05 17:37] pixelzoom commented on #48
This may be an unpopular opinion.  But I think we should avoid introducing more mixins/traits into common code until we have a pattern that works well for TS.

In the meantime:
* If the mixin is something like `class Image extends Imageable( Node )`, then you can workaround it via `unknown as Node` - ugly but effective.
* If the mixin adds fields or methods (like `ParallelDOM`), there is no workar

[2021-11-06 03:29] samreid opened #728 "AquaRadioButtonGroup and VerticalAquaRadioButtonGroup should be parametric types"
While working on https://github.com/phetsims/circuit-construction-kit-common/issues/606, I discovered that AquaRadioButtonGroup and VerticalAquaRadioButtonGroup could handle types better even in JavaScript if they use the `/** @template T **/ annotation like we do in Property.  I'll add this.

[2021-11-06 03:43] samreid commented on #728
Fixed and working in CCK.  This introduced compiler errors in Geometric Optics, so I opened https://github.com/phetsims/geometric-optics/issues/265 and addressed it.  Still, this issue was straightforward and seems it can be closed.

[2021-11-09 16:43] pixelzoom commented on #728
Reopening.

The type expression for items is incorrect, it's referring to Node built-in, not scenery.Node.  And the use of `as unknown as Node` in geometric-optics is also incorrect, referring to Node built-in.

This problem is more generally described in https://github.com/phetsims/chipper/issues/1142.  The correct type expression in AquaRadioButton, AquaRadioButtonGroup and its subtypes is:

[co

[2021-11-09 16:51] pixelzoom commented on #728
You've also introduced this problem into CCKCOptionsDialogContent.js.  E.g.:

[code]

... does not refer to scenery.Node, it refers to built-in Node.

[2021-11-09 19:35] pixelzoom commented on #728
Summary of the above commits:

* added unused import for scenery.Node to VerticalAquaRadioButtonGroup and HorizontalAquaRadioButtonGroup, as decided in phetsims/chipper#1142
* removed ts-ignore comments that are no longer needed in geometric-optic
* remove incorrect `as unknown as Node` from cck-common

Over to @samreid to review and close.

[2021-11-09 22:23] pixelzoom commented on #728
It would also be good to parameterize RectangularRadioButtonGroup.  I now have this odd difference in geometric-optics, where only Aqua radio buttons are parameterized:

[code]

[2021-11-10 04:56] samreid commented on #728
I made RectangularRadioButtonGroup parametric in the commit, can you please review?

[2021-11-10 16:50] pixelzoom commented on #728
`RectangularRadioButtonGroup` land its usages in .ts look good to me.

[2021-11-10 16:51] samreid commented on #728
The changes in https://github.com/phetsims/sun/issues/728#issuecomment-964471758 also look good, so I think this issue can be closed.  Please reopen this or a new issue if there's more to do.

[2021-11-10 16:51] #728 closed

[2021-11-11 16:11] jonathanolson commented on #48
There are also ways of creating d.ts files (like done for Panel) that get things to work nicely. However this does duplicate some of the API of things (seems reasonable if this is short-term).

[2021-11-11 19:20] pixelzoom commented on #697
Slider sound support came up at 11/11/21 dev meeting.  @jbphet mentioned that he was adding sound to sliders in greenhouse-effect, and that may move this common-code issue forward.  Let me know if you'd like me to review anything.

[2021-11-16 19:57] jonathanolson commented on #48
https://github.com/phetsims/sun/commit/da619e1be17d20cd64cafdf8af36c4ac5c72cb4b refits Panel to use LayoutConstraint internally, so we don't need to duplicate listener/locking logic. It also uses a better locking approach (which will work with changing minimum dimensions of a sizable node causing reentrance).

@samreid or @pixelzoom, this could be a decent commit to review.

It passed aqua checks

[2021-11-16 20:15] pixelzoom commented on #48
@jonathanolson What is "locking" in this context?

[2021-11-16 20:27] jonathanolson commented on #48
Locking refers to the prevention of certain recursion/reentrance in layout that would result in infinite loops.

Panel had:
[code]

LayoutConstraint has an improved version of this, that will prevent reentrant layouts, BUT will record whether one was attempted, and will re-run the layout afterward.

This is needed, since the Panel layout locking approach left layout in "stale" approaches - e.g. if

[2021-11-17 05:56] samreid commented on #48
I read through Panel.js and LayoutConstraint.js.  It seems reasonable and I didn't have many questions.  Do you imagine we would generalize PanelConstraint in the future? Can you recommend how to exercise this code for testing?

[2021-11-24 17:57] pixelzoom commented on #48
Review of LayoutConstraint and Panel...

LayoutConstraint.js:

- [ ] The doc for `_layoutLockCount` is incorrect.  It's not a boolean, it's a count. `layout` runs only if the count is 0.

[code]

- [ ] `layout` is protected because it's abstract and the subclass needs to define it.   But that opens up the possibility of the subclass bypassing the logic in `updateLayout`, ignoring `_layoutLockCount

[2021-11-24 18:01] pixelzoom commented on #48
From our last subteam disssion on 2/23/21 (!!):

@jonathanolson @samreid When can we discuss? And when do we expect to be using this in sims?

[2021-12-01 21:29] jessegreenberg opened #729 "AccessibleValueHandler gives a11yCreateContextResponseAlert incorrect values"
Specifically, the `this.oldValue` is passed to `a11yCreateContextResponseAlert` but it is already updated by the time the function is called. I looked into waiting to update the value but I couldn't get there. In particular, the oldValue is set every time the value Property changes. But `alertContextResponse` is only called once when the drag ends.

I am going to add a new field for the value on i

[2021-12-01 21:30] jessegreenberg commented on #729
No sim is using the args of `a11yCreateContextResponseAlert` which is why it hasn't been an issue.

[2021-12-01 21:33] jessegreenberg commented on #729
Done in the above commit, it is working well for my needs in greenhouse-effect.

[2021-12-01 21:33] #729 closed

[2021-12-03 20:12] zepumph opened #730 "Support sliders with voicing in correlation with AccessibleValueHandler"
We need to support voicing in cases where we are using AccessibleValueHandler (often via AccessibleSlider). I tried to name this issue such that it didn't automatically sound like we were going to implement Voicing directly into AccessibleValueHandler. I don't know if that is the best approach. In general, sliders need a smooth API for adding voicing to them, and it will largely overlap with Acces

[2021-12-13 18:49] zepumph commented on #730
@jessegreenberg and I spoke about this last Friday. It isn't totally obvious what the best solution is, but we decided that it was worth trying to add in Voicing to AccessibleValueHandler, and to try create public methods that act as the rule-based "events" that sliders have for mouse/touch/keyboard interactions. We can call them privately to handle keyboard, and expect that for mouse input, the v

[2021-12-13 19:14] zepumph commented on #730
[code]

[2021-12-13 19:33] zepumph commented on #696
Hey, just a ping here, this has been sitting for quite some time.

[2021-12-13 19:37] zepumph opened #731 "Add voicing to ToggleSwitch"
This issue is part of the general clean up of the voicing feature which @jessegreenberg is working on, but I need to do this eagerly because I ran into an inner class called VoicingToggleSwitch in PreferencesToggleSwitch that was buggy in how late it initializes Voicing. Adding the mixin to common code is the only (and best) way to fix this.

I hit this while working on https://github.com/phetsims

[2021-12-13 19:58] zepumph commented on #731
@jessegreenberg can you please review? Does this make sense to you and seem complete?

[2021-12-13 23:09] zepumph commented on #730
The first step here was to preemptively handle the issue I ran into over in https://github.com/phetsims/scenery/issues/1283#issuecomment-992800551, where many times we were mutating voicing options before initializing voicing. If we mix Voicing into AccessibleValueHandler as part of that work, we will want to make sure we don't hit that, so I refactored `mutate` calls above.

[2021-12-14 17:11] samreid commented on #730
This is failing several sims on CT, increasing priority.

The failure is

[code]

Reverting https://github.com/phetsims/scenery-phet/commit/486cf2be4a28a6187888c7e140b0aaf66cb9b6e8 prevents the problem.

[2021-12-14 17:53] zepumph commented on #730
Two fixes above. The enabledProperty one was sneaky, we have been overwriting Node's enabledProperty in AccessibleValueProperty for god know's how long, but since we instrumented it first (mutate before initializeAccessibleSlider), it didn't cause problems. I sorted it out with a rename.

[2021-12-15 00:24] jessegreenberg commented on #731
Makes sense, thank you! I think this is all we need for Voicing in ToggleSwitch. I thought for a moment about whether we should implement the object/context response somehow in ToggleSwitch but decided it was not worth it and we have not put Interactive Description context responses in ToggleSwitch either.

Does that work for you/anything else for this?

[2021-12-15 15:29] zepumph commented on #730
Still working here:

<details>

[code]

[2021-12-15 20:42] #731 closed

[2021-12-15 20:51] pixelzoom opened #732 "Convert AquaRadioButtonGroup to TypeScript"
Needed for https://github.com/phetsims/geometric-optics/issues/229.

Convert AquaRadioButtonGroup and its sun subclasses to TypeScript.  The primary motivation for this is to replace the JSDoc for this constructor parameter:

[code]

with a type, like this:

[code]

[2021-12-15 20:55] pixelzoom commented on #732
Note that `[tandemName: Tandem], // optional tandem for PhET-iO` in the .js code is incorrect. `tandemName` is a string, used to create a Tandem.

[2021-12-15 21:27] pixelzoom commented on #732
First order of business was to get tsconfig-module.json set up so that it recognizes `assert`, `lodash`, and `qunit`. @samreid helped me with that in the above commit.  I also improved a couple of the comment in the file.

[2021-12-15 21:43] pixelzoom commented on #732
In https://github.com/phetsims/sun/commit/7ea260f142658b442cf7ec748eaa9926fd8b8a06, I converted AquaRadioButtonGroup, VerticalAquaRadioButtonGroup, and HorizontalAquaRadioButtonGroup to TS.  Despite the fact that `git status` told me that these would be renames, history was blown away for VerticalAquaRadioButtonGroup and HorizontalAquaRadioButtonGroup.  Since they are thin convenience classes (all

[2021-12-15 22:07] samreid commented on #732
This dropped 72 commits from VerticalAquaRadioButtonGroup.  I recommend restoring the history and tracking it with a rename.  I'm happy to work on that if you wish.

[2021-12-15 22:58] pixelzoom commented on #732
Go for it.

[2021-12-16 00:38] samreid commented on #732
It was kind of messy, but I think the history is restored.  If I renamed and made file changes, then IDEA showed a "rename" in the commit dialog, but a "delete and recreate" in the history.  For those files, I had to rename without making any file changes.  I'll add a dev meeting agenda item about the renaming history "gotcha".

[2021-12-16 02:31] pixelzoom commented on #732
I did a `git pull` in sun, and I do see restored history for VerticalAquaRadioButtonGroup and HorizontalAquaRadioButtonGroup. Thanks @samreid.

[2021-12-16 02:38] pixelzoom commented on #732
One final note, about options for `AquaRadioButtonGroup`.  They are currently of type `AquaRadioButtonGroupOptions`, which is:

`type AquaRadioButtonGroupOptions = Omit< any, 'children' >;`

They should eventually be something like:

[code]

... because AquaRadioButtonGroup extends LayoutBox, and sets `children`.

But we can't do that now because LayoutBox and AquaRadioButton have not been ported

[2021-12-16 02:38] #732 closed

[2021-12-20 22:28] chrisklus commented on #717
This change broke any VSlider instances (or any vertical orientation sliders) that don't specify `options.trackSize` or `options.thumbSize`, see https://github.com/phetsims/energy-forms-and-changes/issues/414.

Since those options values are now swapped in Slider instead of VSlider, the default values (specified in the horizontal orientation) are swapped along with any provided options (specified

[2022-01-04 20:02] pixelzoom commented on #326
The issue is now old enough that it no longer pertains to HSlider.  It now pertains to the base class, Slider.  Updating title accordingly.

[2022-01-04 21:00] pixelzoom commented on #725
We have been tracking this work and its history in https://github.com/phetsims/sun/issues/48.  Do we really need another issue?

[2022-01-05 22:42] zepumph commented on #730
I sorta gave up on creating an ideal, general API, in part because the design for sliders may change on a case by case basis, and complexity may need to be added. In the mean time, I worked on https://github.com/phetsims/ratio-and-proportion/issues/413 and put the code needed into AccessibleValueHandler. Above is the addition of Voicing into AccessibleValueHandler, along with new functions that si

[2022-01-07 02:09] zepumph commented on #730
I had to make sure to remove other usages of initializeVoicing where we are also extending AccessibleValueHandler. @jessegreenberg, is it alright to mutate the options in AppendageNode at the end of the constructor?

[2022-01-07 16:32] jessegreenberg commented on #730
This is looking really nice! I moved the `mutate` to the end in AppendageNode and removed the extra `initializeVoicing` in both john-travoltage and inverse-square-law-common and gravity-force-lab-basics and tested.

It looks like so far `voicingOnEndResponse` is the only one called internally, is that right?

[2022-01-07 18:23] zepumph commented on #730
Yes that's right, because focus occurs by default on focus.

I cleaned up the rest of the usages of Voicing in those three files. Sound alright?

[2022-01-08 04:39] samreid opened #733 "VSlider has incorrect defaults for track size and knob dimensions"
Discovered in https://github.com/phetsims/bamboo/issues/50, if you create a default VSlider with default `trackSize` and `thumbSize`, the sliders look like this, but drag up and down:

![image](https://user-images.githubusercontent.com/679486/146695401-b84f3c30-145e-40aa-b976-60c1ea93bb37.png)

So perhaps VSlider should use different defaults, like this (but with factored out constants):

[code]

[2022-01-10 21:40] pixelzoom commented on #733
Looks like this problem was introduced in https://github.com/phetsims/sun/commit/53706aa5fef79d0805840dbd7e4a04b3a555ef9e.  I'll check it out.

[2022-01-10 21:54] pixelzoom commented on #733
The problem is present in usages of VSlider that do not specific trackSize and thumbSize.

These uses specify both trackSize and thumbSize, and should not be a problem (but will be tested):

- [ ] capacitor-lab-basics BatteryNode
- [ ] color-vision RGBSlider
- [ ] gravity-and-orbits ZoomControl
- [ ] greenhouse-effect ConcentrationControlPanel
- [ ] least-squares-regression MyLineControlPanel
- [

[2022-01-10 22:16] pixelzoom commented on #733
Fixed in the above commits. Tested all sims listed in https://github.com/phetsims/sun/issues/733#issuecomment-1009379945, as well as a random sampling of HSliders.

Back to @samreid for review.

[2022-01-19 18:30] jessegreenberg opened #734 "Have checkbox speak context responses"
While working on greenhouse effect description @jbphet recommended that the context response associated with the checkbox go through input with that UI component instead of linking to the Property. This simplifies simulation code, and also makes it clear that content will be spoken from user input and not when the Property changes from a ResetAllButton press (for example).

We added a `checkedCont

[2022-01-19 20:19] zepumph commented on #734
I don't really care either way, but this seems a bit weird to me, why not just pass in the string? Who cares, it's common code?

https://github.com/phetsims/greenhouse-effect/blob/ec611bd59bf5ba6a0142d4f94d38b9ca268b2723/js/common/view/InstrumentVisibilityControls.ts#L76

Thanks for doing this.

[2022-01-26 15:02] jessegreenberg commented on #734
Ah, right, thanks - I updated it to take an AlertabldDef (updating phet-types.d.ts) and renamed the option name accordingly. Then I simplified usages.

[2022-01-26 16:54] zepumph commented on #734
Sounds Great Thanks

[2022-01-26 16:55] #734 closed

[2022-01-31 16:32] pixelzoom opened #735 "API change for `slider.enabledProperty`"
Several sims have been failing CT due to PhET-iO API changes to Slider `enabledProperty`. For example:

[code]

There have been no sim-specific changes to the sims that I’m responsible for.

I see changes to AccessibleSlider and AccessibleValueHandler by @mjkauzmann that seem to coincide with the appearance of this problem. For example https://github.com/phetsims/sun/commit/1ad9e76414658b379700966

[2022-01-31 17:22] zepumph commented on #735
Please also note another, similar change from this slider work over in https://github.com/phetsims/scenery-phet/issues/721.

[2022-02-01 20:56] samreid commented on #733
The changes seem good, thanks!  Closing.

[2022-02-01 20:56] #733 closed

[2022-02-01 21:42] zepumph commented on #735
CT is clear

[2022-02-01 21:42] #735 closed

[2022-02-07 21:54] zepumph commented on #699
Yes @terracoda, I believe so. I renamed the issue to be align with the newer voicing api. @jessegreenberg, I hit this working on RaP, so I'll go ahead and take the lead on seeing what I can bring over from the preferences branch.

[2022-02-07 22:00] zepumph commented on #699
Right now I'm blocked on https://github.com/phetsims/scenery/issues/1349 for this.

[2022-02-07 22:12] zepumph commented on #402
This is such an old issue. I'm not worried about alt input being captured correctly in the data stream by fire listener anymore.

[2022-02-07 22:12] #402 closed

[2022-02-08 20:13] arouinfar opened #736 "PhET-iO Design for Carousel"
Related to https://github.com/phetsims/circuit-construction-kit-common/issues/513

Here's an example of what carousel currently looks like in CCK: DC:

<img width="238" alt="image" src="https://user-images.githubusercontent.com/8419308/153063652-8c289ecd-48cb-49fc-8ba5-cf736332f01e.png">

Questions:
* Is it normal/expected for the carousel contents to be siblings of the carousel as in the screensh

[2022-02-09 21:14] zepumph commented on #686
I noticed in GFL (and perhaps others), we had used overrides to provide the above info (great, we can delete that), but also adding featured to `titleNode.visibleProperty`. Do you want to add that also generally?

[2022-02-09 21:34] zepumph opened #737 "Lost enabledRangeProperty from PhET-iO API?"
While working on https://github.com/phetsims/sun/issues/686, I saw that density had lost an enabledRangeProperty from its API. I need to investigate this. It may be purposeful, or it could be a regression from https://github.com/phetsims/scenery/issues/1340

[2022-02-09 21:35] zepumph commented on #686
The 4 above have been added. Note the two strange things I ran into while working here in separate issues above. I don't have time to investigate this right now, but I will soon.

@arouinfar please review and let me know if you want the titleNode visibleProperty to be featured.

[2022-02-09 23:52] zepumph commented on #726
I am working on some improvements to ComboBox Voicing because of ratio and proporiton over in https://github.com/phetsims/ratio-and-proportion/issues/428, and after some review I have the following things that are needed (from the RAP design doc):
- [ ] Don't repeat the name response when selecting the current selection in ComboBoxListItemNode
- [ ] Ability to provide object/context/hint responses

[2022-02-10 00:39] zepumph commented on #726
This is getting closer to a complete solution that takes into account context/hint responses. I opted out of the default focus behavior in voicing for both the button and list nodes. The only feature we have lost from it (that I know of) is the name response on keyboard refocus.

I still have to implement the context response, which is going to be quite a bit harder since we need it to be strings

[2022-02-10 15:53] zepumph commented on #736
@samreid, can you take the lead on this since you are working on this with CCK? Let me know if you would like assistance.

[2022-02-10 16:47] zepumph commented on #726
Here is a good checkpoint. I added context responses via a new Voicing feature called `voicingCreateContextResponse`.

There are a fair number of TODOs to go over with @jessegreenberg, we aren't ready to commit yet.

<details>

[code]

</details>

Next, I'll add the name response back when changing the focus with keyboard in the listbox.

[2022-02-10 19:50] #686 closed

[2022-02-10 21:18] zepumph commented on #726
- [ ] Nothing on tab navigation focus of the button. We have to be careful here since we re-focus the button on new selection from the list box.

[2022-02-10 22:17] jessegreenberg commented on #726
We just discussed the patch and its items and produced the following patch, which has some improvements and a few renames. Otherwise, we like the solution so far.

<details>

[code]

</details>

[2022-02-11 02:31] zepumph commented on #726
And what a great patch it is!

Over in https://github.com/phetsims/scenery/issues/1325#issuecomment-1035790234 I proceeded far enough to commit the voicingCreateContextResponse addition to voicing, so if I can figure out the first focus of the button, I think I will be close to a commit here.

[2022-02-11 02:44] zepumph commented on #726
As far as I can tell, this is working perfectly, but I'm confused because I really expected an extra name response when selecting from the list box, because it focuses back on the button, and the button is now using its default focus listener. I could not a single time get the duplication to occur though.

I want to sleep on it, and perhaps touch base with JG tomorrow about it.

<details>

[code]

[2022-02-11 02:49] zepumph commented on #726
And one more with updates from https://github.com/phetsims/scenery/issues/1357

<details>

[code]

[2022-02-11 17:40] zepumph commented on #726
- [ ] When this is done, let's also add this to molarity in https://github.com/phetsims/molarity/issues/243

[2022-02-12 02:10] zepumph commented on #726
I finally got to a point where I felt good to commit. The RAP design doc (which has two examples of combo boxes, are both working well.

@terracoda, I a design question for you about the general combo box voicing implementaiton.

Right now we are not voicing anything when you close the listbox without selecting. i.e. escape/tab keys, or click away. Is this expected, or do you want to it repeat the

[2022-02-13 03:35] samreid opened #738 "Convert AccordionBox to TypeScript"
For https://github.com/phetsims/center-and-spread/issues/6, it would be nice to have AccordionBox in TypeScript.

[2022-02-13 18:47] samreid commented on #738
I made initial progress on this, but did not fully visit transitive parts like ExpandCollapseButton, and ran into problems around `ACCESSIBLE_NAME_BEHAVIOR`.  @jessegreenberg can you please advise or take a look on `ACCESSIBLE_NAME_BEHAVIOR`?

[2022-02-16 03:07] pixelzoom opened #739 "ComboBox voicing is causing stringTest=long to fail."
I'm trying to test Geometric Optics with `?stringTest=long`.  It's failing in ComboBoxListItemNode.js, at this assertion:

[code]

Testing with other sims that have a ComboBox results in the same failure.

Git history shows this line was added by @zepumph on 2/11/22 in https://github.com/phetsims/sun/commit/8e1b1ad4275d3b3dbef79d7adab62ac97a279ee3 for https://github.com/phetsims/sun/issues/726.

[2022-02-16 03:10] pixelzoom commented on #739
This assertion is going to fail with any stringTest, because stringTest replaces ALL strings, and "{{value}}" will therefore not exist.   I'm going to comment it out (and commit it) so I can proceed with my testing.

[2022-02-16 03:13] pixelzoom commented on #726
@zepumph https://github.com/phetsims/sun/commit/8e1b1ad4275d3b3dbef79d7adab62ac97a279ee3 crashes the sim with `?stringTest`.  See https://github.com/phetsims/sun/issues/739.

[2022-02-16 05:08] pixelzoom commented on #739
Question: The purpose of `stringTest` is to test layout.  If voicing strings are not displayed, then should voicing strings be skipped by `stringTest`?   If they were in a standard place in the JSON, it would be relatively easy to skip them.

[2022-02-16 15:43] zepumph commented on #739
Thanks for the report, and sorry that you ran into this.

I didn't do enough research for this assertion, but I felt like the assertion was worth while, and that there was precedent when we have common code that fills in a `value`.

https://github.com/phetsims/scenery-phet/blob/f1cd444a7c6b0487b31ff9b96b5ef27f3e306234/js/NumberDisplay.js#L113-L121

Perhaps it is as easy as disregarding the asserti

[2022-02-16 22:56] pixelzoom commented on #739
Changes look good.

You didn't comment on:

... so let's continue that in https://github.com/phetsims/chipper/issues/1198.

Closing.

[2022-02-16 22:56] #739 closed

[2022-02-18 17:19] zepumph commented on #726
A couple of items to change from a design meeting:

* New selections when focusing items in the list box should be an object response, not the name response (as listed in the design doc).
* @terracoda and I think it would be better to try to the following upon selection:
  * New selection: Name + Context
  * Same selection: Name

[2022-02-18 18:21] zepumph commented on #726
Alright. I did three things in the above commit.

1. object responses when focusing possible selections with the keyboard
2. name response when selecting an item (new or same)
3. Bug fix so that we should now ALWAYS hear the focus voicing when coming to the button (but not when it is refocused from a selection/escape in the list box.

Please review.

[2022-02-18 18:21] zepumph commented on #726
RE (2), I'm on the fence, and could go either way. It is very easy to change, so just let me know if you would rather name or object responses upon selection.

[2022-02-18 18:24] zepumph commented on #726
Also note from https://github.com/phetsims/molarity/issues/243 that you can test this in Molarity as well,

https://bayes.colorado.edu/dev/phettest/molarity/molarity_en.html?ea&brand=phet&voicingInitiallyEnabled&preferencesStorage&printVoicingResponses&supportsVoicing=true

[2022-02-18 21:16] terracoda commented on #726
This is not quite right yet, now I do not hear name responses when there are no checkboxes checked. Default Voicing setting is that I hear name responses.

[2022-02-19 12:51] terracoda commented on #726
@zepumph, I cleaned up the Voicing rules (based on input) in the design document for Ratio and Proportion. I hope this is helpful.

[2022-02-21 17:11] zepumph commented on #726
I just went through the entire table again and it is working as documented (except for one small item, see below). Perhaps there was a caching issue. To help mitigate that I made a dev version

https://phet-dev.colorado.edu/html/ratio-and-proportion/1.2.0-dev.5/phet/ratio-and-proportion_all_phet.html?voicingInitiallyEnabled&printVoicingResponses

Let me know if you find it to be better.

---------

[2022-02-23 00:24] terracoda commented on #726
I commented in slack, not here in the issue.
The implementation is correct, so not sure why it wasn't working when I tested 4 days ago - could have been a caching issue as you said.

I agree with the exception - no voicing on the Esc key.

I haven't checked Molarity, but the comboboxes in RaP are good to go.

@zepumph, back to you for closing.

[2022-02-23 16:52] zepumph commented on #726
Thanks @terracoda. @pixelzoom, as the author of combobox can you please take a look at the changes.

They are primarily in ComboBoxListBox and ComboBoxListItemNode, but there is some in ComboBoxButton and ComboBox as well.

In general, this was pretty smooth, and was able to utilize the alt-input support currently in the code. The worst part of adding this was that so much of the communication bet

[2022-02-23 16:55] pixelzoom commented on #726
I have no familiarity with how to test voicing in general.  Can you fill me in? And describe what voicing means for ComboBox?

[2022-02-23 17:13] zepumph commented on #699
This is all I found from the branch:

[code]

[2022-02-23 17:17] terracoda commented on #726
Great question @pixelzoom. To test Voicing, you have to turn the feature on in the Preferences menu, then test voicing output with both mouse (or touch) and keyboard, and with zero, one, two, or three Sim Voicing Options selected.

With no checkboxes checked under Sim Voicing options, you should only hear:
- name response (i.e., object name) on click, touch, keyboard focus, and pressing space or e

[2022-02-23 18:56] zepumph opened #740 "Convert RectrangularRadioButton(Group) to typescript"
I ran into this with https://github.com/phetsims/sun/issues/699, so I will convert, though perhaps not 100% because options really need to start with the base types of the button hierarchy.

[2022-02-23 18:59] zepumph commented on #740
I know a lot of code is being converted to typescript, but I decided to create an issue to communicate the following thoughts.

1. This is not my repo, and I want to let @pixelzoom know of changes going on in the repo.
2. The creation of TButtonAppearanceStrategy and TContentAppearanceStrategy, which are just fledglings, and can likely be improved as the rest of the button hierarchy is converted.

[2022-02-23 18:59] zepumph commented on #740
Feel free to close!

[2022-02-23 19:06] zepumph commented on #726
The easiest link to test the voicing is

http://localhost:8080/ratio-and-proportion/ratio-and-proportion_en.html?brand=phet&ea&debugger&voicingInitiallyEnabled&printVoicingResponses

which will also print the responses to the console.

[2022-02-23 20:45] jbphet commented on #697
It will be important to make sure that adding generalized sound doesn't mess up sound in any existing simulations, or turn on something that we don't want turned on.  To that end, I'm going to try to make some lists of sims and common-code components that will need to be checked as part of this effort.

I made a list of all sims with sound currently turned out by searching for `supportsSound: true

[2022-02-23 23:02] zepumph commented on #699
This was pretty straight forward. While I was in here, I also added support for context responses to be passed in the "Item" metadata. @jessegreenberg can you please review. Any more thoughts here?

[2022-02-23 23:29] KatieWoe opened #741 "CT error TS2339: Property 'USER' does not exist on type"
This looks like a sun issue. Impacts most repos in CT:
[code]

[2022-02-23 23:44] jessegreenberg commented on #699
Voicing change looks good to me! Passing through "item" is the API I would expect. Thanks!

Is there a need for hint responses for these buttons? Seems unlikely because you would have to select the button to hear it at which point it would be too late to be helpful. If no, feel free to close.

[2022-02-23 23:47] zepumph commented on #699
There was no hint response for the radio buttons in RAP. Perhaps we will want that support at somepoint, but it would be so easy to add that I feel like we shouldn't prematurely open up that API.

[2022-02-23 23:48] zepumph commented on #699
![image](https://user-images.githubusercontent.com/6856943/155429980-0ec279b5-a480-4c2f-b70b-f6e1d4f2ab45.png)

For clarity, note how the radio button rules recommend no hint response across the board.

[2022-02-23 23:51] zepumph commented on #741
My guess is that CT will clean itself up in the next round or two. Thanks. I'll check back.

[2022-02-23 23:54] zepumph opened #742 "Add voicing to Checkbox"
From https://github.com/phetsims/ratio-and-proportion/issues/363. This is pretty straight forward because of @jessegreenberg's work in https://github.com/phetsims/sun/commit/6afc6a986c4988c858dd3fc75360a33137103085.

[2022-02-23 23:57] zepumph commented on #701
Over in https://github.com/phetsims/sun/commit/6afc6a986c4988c858dd3fc75360a33137103085 it was easiest to just add the specific feature to Checkbox instead of having to add a custom listener in each usage. I can see that being the case. Perhaps this strategy can be used for less foundational items (not for Checkbox/Button/RadioButton/ComboBox etc).

[2022-02-24 00:03] zepumph commented on #742
@jessegreenberg does this look right to you? You can test in RAP if you pull all.

Usage site:

https://github.com/phetsims/ratio-and-proportion/blob/4e406540591163ef905d196d5c10a5350c686065/js/create/view/CreateScreenView.ts#L71-L88

[2022-02-24 01:19] terracoda commented on #699
Many radiobutton groups, do indeed have help text, but RaP's does not.

[2022-02-24 01:21] terracoda commented on #699
I think, help text will only be available for keyboard users for radio button groups. There seems like no need for help text for mouse and touch users.

[2022-02-24 02:50] pixelzoom commented on #740
What was the motivation for adding appearance strategties?  That's one of the architecuteral aspects of sun buttons that we have previously identified as "questionable" and should be revisited if we ever have the chance to do sun butttons 2.0.  So I'm wondering why we're propagating that pattern to more UI components.  I would suggest having @jbphet review this aspect, and comment on whether he th

[2022-02-24 05:02] pixelzoom commented on #740
`class RectangularRadioButtonGroup<T> extends LayoutBox`. LayoutBox has been converted to TypeScript, and LayoutBoxOptions exists.  So I don't see any reason to use `options?: any` in RectangularRadioButtonGroup.

[2022-02-24 15:46] zepumph commented on #699
I can plug in a way to have the group take the hint response, and then pass it to every radio button as it goes, then it will automatically show up on focus, but won't bleed in anywhere else.

[2022-02-24 16:25] zepumph commented on #740
I don't think of this as propagating. The code has been here for a long, long time (in the button hierarchy). It didn't think it was much worry to write 10 lines of Typing code to make the vague classing more structured. The reality is no one is going to tear up buttons right now (there isn't the time), but I don't feel like we are substantially adding to the technical debt. You could even argue t

[2022-02-24 18:12] terracoda commented on #699
Yep, would just want a hint on focus, if hints are checked.

[2022-02-24 18:27] zepumph commented on #699
Added above. This works as easily as with this patch:

[code]

Thanks for chiming in @terracoda, I should have asked you about it instead of assuming.

[2022-02-24 18:43] terracoda commented on #699
Does this only announce the hint (if checked in preferences) on the initial focus - when focus enters the group and focus on the initially selected radio button? We do not want a hint upon a new selection when using the arrow keys.

[2022-02-24 18:47] zepumph commented on #699
Yes, only when hints are enabled with the checkbox.

[2022-02-24 22:37] terracoda commented on #699
And only on initial focus?

[2022-02-24 23:26] zepumph commented on #699
Ahhh! You got me! I had to omit the hint from the selection response. I made you a dev version, and put in a temporary hint for the tick mark radio buttons. Will you please review and see if it sounds correct for these cases? (It should be right now)

https://phet-dev.colorado.edu/html/ratio-and-proportion/1.2.0-dev.8/phet/ratio-and-proportion_all_phet.html?voicingInitiallyEnabled

[2022-02-25 01:44] terracoda commented on #699
This is perfect @zepumph for when there is a hint for the radio group. Thanks for verifying with a test.
You can close this issue now. We have a radiogroup/radiobutton pattern that should work well.

[2022-02-25 19:55] zepumph commented on #699
Excellent. I reverted the temp hint. Closing

[2022-02-25 19:55] #699 closed

[2022-02-25 23:47] pixelzoom commented on #726
I used the link that @zepumph provided, and tried some (but not all) of the things that @terracoda enumerated.  I do hear voicing.  I don't know if it's correct because I'm not familar with this sim, and I don't understand a lot of what's being "said".  (For example "hands, extremely far from challenge ratio, Almost even with left hand, in upper region".  I have no idea what a "challenge ratio" is

[2022-02-26 10:33] terracoda commented on #580
I have created documentation for the single- and two-state interaction patterns, including the toggles we have worked on thus far, in sims with Interactive Description. I did this for the Description Course. There are examples for each two-state (toggle) interaction.

Is there an easy way to convert a google doc to markdown?
Here's the resources I created [Design Patterns for Single- & Two-State I

[2022-02-28 20:51] zepumph commented on #726
That makes sense @pixelzoom. It is hard to bring someone up to speed fully on such a large feature, it is also hard to not have the author of a file review changes to it. Thanks for your patience.

This feature runs on Voicing.ts, which provides a framework for supplying 4 types of responses to the user depending on their preferences settings. Name responses (always on, cannot turn off), object, c

[2022-03-02 19:43] zepumph opened #743 "Add Voicing and InteractiveHighlighting to AccordionBox"
From https://github.com/phetsims/ratio-and-proportion/issues/381, design in https://docs.google.com/document/d/1offJbONUg8y5Aa9kHewC9iTDtNISzna4giGt7WrpXCk/edit#heading=h.nvlwmm9fjx2v

[2022-03-02 19:43] zepumph commented on #738
I'm in this file working on https://github.com/phetsims/sun/issues/743 right now. I'll take this on.

[2022-03-02 19:46] zepumph commented on #743
InteractiveHighlighting added for the title bars above. I'm a bit curious about this implementation. A few thoughts:
- [ ] It looks like the only way to hide an interactiveHighlight on a Node is to set `interactiveHighlight:null` and also `focusHighlight: 'invisible'`. Seems weird to me!
- [ ] I think we could have the interactive highlight around the whole expanded box if we want to, but I'll wan

[2022-03-02 20:36] zepumph commented on #738
I made various improvements, and some of them bled outside of AccordionBox. I fixed the typing for Behavior functions. @samreid please note an `any` waiting on Button options,

I also removed AccordionBoxOptions from phet-types. It was a total headache because phet-types wasn't the only spot where options for common code was being declared. It was hard to track down.

@samreid and @chrisklus, I ch

[2022-03-02 20:51] zepumph commented on #743
- [ ] There is currently no way to listen to the interaction regarding expand/collapse, only the Property (which presumably means ignoring on reset/iO state etc).

[2022-03-02 21:30] #688 closed

[2022-03-02 21:53] zepumph commented on #743
The voicing side of things went very smoothly here. I'm pretty much just passing everything through to the button and it just works! I love it when that happens, and it is a testament to how nice when the voicing/description/alt-input designs can all align. I will want to discuss some of the above topics with @jessegreenberg on Friday, and after I will reach out to @terracoda for a review, but fir

[2022-03-02 22:14] zepumph commented on #730
https://github.com/phetsims/ratio-and-proportion/issues/413 has been signed off on, so we need to clean up this implementation in common code. We went with an approach that had custom implementations for Mouse/Touch that didn't use AccessibleValueHandler.

[2022-03-02 23:12] zepumph commented on #730
Cleanup done above. I removed the "opt in" approach, but this didn't seem to effect the voicing I was hearing in GFLB or JT, so I committed.

[2022-03-03 16:00] #741 closed

[2022-03-03 17:06] pixelzoom commented on #726
In ResponsePacket.ts,  options do not follow PhET new pattern.  You have:

[code]

Should be:

[code]

See Voicing.ts for an example of the correct pattern usage.

[2022-03-03 17:07] pixelzoom commented on #726
Back to @zepumph.

[2022-03-03 18:17] zepumph commented on #726
It seems clear that we don't yet have a good overview document explaining voicing as a feature. JG wrote https://github.com/phetsims/qa/blob/master/documentation/qa-book.md#voicing, which is quite good, though likely not where we want scenery users to go in the future. But for now it may be helpful.

I updated documentation for VoicingOptions. It isn't clear that this is universal a universal stan

[2022-03-03 19:15] pixelzoom commented on #726
From Monday's TypeScript meeting, @zepumph wrote in https://github.com/phetsims/chipper/issues/1201#issuecomment-1054481099:

So it sounds like the convention was established on Monday, but you're arguing that it doesn't need to be applied universally.  Please clarify, I'm confused.

Having exceptions:
* makes the convention more difficult to explain
* muddies the waters when reading usages (like

[2022-03-03 20:31] zepumph commented on #726
If that is the case, please explain a case to me where it is conventional to use the default type parameter for SelfOptions (which is `ProvidedOptions`).

[2022-03-03 20:52] pixelzoom commented on #726
The fact that `SelfOptions` default to `ProvidedOptions` is detail that's internal to `optionize`.  Why should I care, and shouldn't I avoid writing code that depends on that?

If you're asking when it's appropriate to do:

`optionize( MyOptions )`

... I really don't know.  I haven't had a use for it.   And I still don't understand the `optionize<ItemOptions>` example in WilderOptionsPattern.ts t

[2022-03-03 23:35] zepumph commented on #726
Sounds good let's continue that discussion over there.

Everything non combo-box related was dealt will or will be over in https://github.com/phetsims/phet-core/issues/105. I think we are ready to close. Thanks all.

[2022-03-04 18:59] zepumph commented on #743
In https://docs.google.com/document/d/1offJbONUg8y5Aa9kHewC9iTDtNISzna4giGt7WrpXCk/edit?disco=AAAAVatjjs0&usp=comment_email_discussion&usp_dm=true&ts=62222b0b @terracoda mentioned that we don't need to have the object response upon focus, so we can use the default focus listener. Closing

[2022-03-07 15:50] pixelzoom opened #744 "CT: Designed API changes detected"
CT is complaining about iO API change. Regression? Intentional?

[code]

[2022-03-07 15:59] zepumph commented on #744
Hmm, I wonder if this is actually a bug fixed by converting to typescript. Initial investigation shows that a linked element for enabledRangeProperty was removed from the API, but it was tied to an uninstrumented Slider, so maybe this is correct? I'm not really sure, but thought I'd state the initial investigation here.

[2022-03-07 18:41] zepumph commented on #744
@jonathanolson and I looked into this, we can't figure out why or how an uninstrumented enabledRangeProperty was added to the API. After the refactor we see that it is correctly removed. Closing

[2022-03-07 18:41] #744 closed

[2022-03-07 18:58] pixelzoom commented on #697
@jbphet added sound support in the above commits. @arouinfar and I have been reviewing its usage in Geometric Optics, see https://github.com/phetsims/geometric-optics/issues/259, and it's looking (and sounding!) good.

But there are some general questions that seem to belong in this general issue:

* Now that all sliders have sound, are we reveiewing their behavior in all sims? For example, fourie

[2022-03-07 19:03] pixelzoom commented on #697
Here's some boilerplate that I see duplicated in all of the NumberControl instances of Geometric Optics.  Presumably this will also need to be done for other NumberControl instances.

[code]

How about adding this default to NumberControl?

[code]

[2022-03-07 19:14] pixelzoom commented on #697
I've added the blocks-publication label.  Now that sound is enabled for Sliders, the sims that I've spot-checked definitely need to be reviewed (and probably adjusted) before publishing.  That likely includes sims in the 4/1 /2022 batch for https://github.com/orgs/phetsims/projects/44.

[2022-03-07 19:38] pixelzoom commented on #697
In https://github.com/phetsims/fourier-making-waves/issues/56, I enabled Slider sound for the amplitude sliders in Fourier's _Discrete_ screen.   After setting `numberOfMiddleThresholds` to match the value interval, these sliders sound a bit like an angry bumble bee -- too much sound.  So that raises a couple of design questions:

* Is it OK to have values changes that result in no sound?
* Does u

[2022-03-07 19:54] pixelzoom commented on #697
This `soundGenerator ` option is very strange. In ValueChangeSoundGenerator.ts:

[code]

Here's a usage in fourier-making-waves AmplitudeSlider.js

[code]

I expected to turn off sound by doing:

[code]

Getting a non-null default when you set an option to `null` is very odd and non-intiuitive.

What I expected is:

* If I don't specify a value, I get the default.
* If I specify `null`, I get no s

[2022-03-07 22:28] zepumph commented on #742
@pixelzoom just found that the typing is wildly wrong for voicing. The checkedContextResponse is TAlertableDef for description, but basically just a `string` for voicing.

[2022-03-07 22:30] zepumph commented on #742
It isn't clear to me how best to proceed with this. The easiest way would be to have each accept the same type, but there isn't really that support at this time, so I'm not really sure. I'm also quite surprised that we haven't run into this in any other common code just yet.

[2022-03-07 22:39] jessegreenberg commented on #742
Maybe it should take the subset of types that both Voicing and PDOM support, that would basically just be `string` or `null`. Or the Voicing implementation in Checkbox can turn the TAlertableDef into a VoicingResponse. Maybe we have a utility function to convert a TAlertableDef into a VoicingResponse.

[2022-03-07 22:40] pixelzoom commented on #742
Here are the TODOs in CheckBox that need to be addressed:

[code]

[2022-03-08 00:54] pixelzoom commented on #697
@jbphet and I paired on this for awhile today. In the above commits, we addressed the `soundGenerator` option comments that I had made in https://github.com/phetsims/sun/issues/697#issuecomment-1061074504.  The new behavior is summarized in the documentation, and is the same for Slider and SliderTrack:

[code]

[2022-03-09 20:46] jbphet commented on #697
@arouinfar and @pixelzoom - In regard to item 5 above, I tried something fairly simple for the sound generator to moderate the number of "middle" sounds that are played.  The change basically just prevents the sound from being played again if it was played within the last X seconds, and I'm using 0.033 seconds as the default value.  I feel like this works surprisingly well.  Can you please check i

[2022-03-11 00:45] jbphet commented on #697
@pixelzoom - In addition to [the question above](https://github.com/phetsims/sun/issues/697#issuecomment-1063355606), could you also please review [the commit for using the information available in NumberControl to set the sound generator thresholds](https://github.com/phetsims/scenery-phet/commit/396ea26e30510c0f655c8fd9ba905cfd5739c1b8)?  It seems to work well in Geometric Optics (thanks for the

[2022-03-11 03:34] pixelzoom commented on #697
@jbphet CT is complaining about something that looks related to Slider sound, failing in several sims. For example:

[code]

[2022-03-11 17:38] jbphet commented on #697
The CT issue is related to constraining values, reaching & crossing thresholds, and floating point inaccuracies as related to `NumberControl`.  This may take me a while to get dialed in, so I've commented out the assertion for now.

[2022-03-11 22:23] arouinfar commented on #697
@jbphet the slider sounds great! I tested in geometric-optics, fourier-making-waves, and waves-intro in master. I really like the directionality and min/max behavior. The threshold of 0.033 seconds seems reasonable to me.  I still hear individual clicks when holding down an arrow key or moving the mouse slowly, but the angry bumblebee is nowhere to be found when rapidly dragging the thumb around.

[2022-03-12 01:02] #742 closed

[2022-03-16 15:24] pixelzoom opened #745 "CT: value failed isValidValue: 10.2"
The first time I see this in CT history is 3/14/22 @ 11:42. Then it occurs occassionally.

[code]

[2022-03-16 20:16] jessegreenberg commented on #745
This is happening if you press `PgUp` or `PgDn` on a NumberSpinner. I think this has been a problem with NumberSpinner for a long time but only recently started showing up because of more coverage in https://github.com/phetsims/scenery/issues/1379.

Fixed in the above commit by enforcing the step size used by NumberSpinner for `pageKeyboardStep` as we do for the others. I verified that no sims hit

[2022-03-16 23:43] jbphet commented on #697
Both of @pixelzoom's suggestions in the comment above sounded good to me, so I've implemented them.

[2022-03-17 15:50] zepumph commented on #745
Wow! An actual bug caught by fuzzBoard! This is great news. Thanks for taking care of it. Commit looks great.

[2022-03-17 15:50] #745 closed

[2022-03-18 18:07] jbphet commented on #697
The behavior of this feature as it currently stands was reviewed in a design meeting yesterday, 3/17/2022.  For the most part, the design team was good with it.  There were two questions that came up, and it was recommended that I discuss these with @terracoda.  They are:

- Should there be a different sound for the motion produced with arrow keys and shift-arrow keys?
- Should there be a differen

[2022-03-18 19:12] zepumph commented on #726
Over in https://github.com/phetsims/ratio-and-proportion/issues/445 we are needing to make one small tweak to ComboBox voicing. When selecting the button, which opens the list box, we want to hear the Name response + hint, not just the object + hint.

[2022-03-18 19:36] pixelzoom commented on #726
After @zepumph reopened, I'm still assigned. So self unassigning.

[2022-03-18 19:48] jbphet commented on #697
@terracoda and I just met over Zoom, and her opinion is that it is not necessary to have unique sounds for the arrow versus shift-arrow keys, nor does there need to be a difference for discrete versus continuous movement.  We both felt like if there were cases where the amount of motion mattered, we'd use the pitch-mapping capability to vary the sound that was produced.

She did suggest that I run

[2022-03-18 21:20] jbphet commented on #697
This is now in a state where I believe it's ready for code review.  @pixelzoom said he'd do it (thanks!), so I'll add the appropriate label and assign to him.

[2022-03-23 23:11] pixelzoom commented on #697
I reviewed everything that @jbphet mentioned in https://github.com/phetsims/sun/issues/697#issuecomment-1072811918, and took a peek at NumberControl.ts too.  Nice tests SliderSoundTestNode.ts. Everything looks really nice, very clean, excellent documentation.  Thanks for doing this.

Closing!

[2022-03-29 16:25] chrisklus opened #746 "Group "items" should be specified using tandemName instead of tandem"
@samreid and I noticed while adding tandem to checkboxes for https://github.com/phetsims/center-and-variability/issues/105 that both VerticalCheckboxGroup and its items use tandem - but we think instead it should match the pattern of AquaRadioButtonGroup, where the group gets a tandem and the items get a tandemName. This way, the type is responsible for nesting the checkbox tandems correctly. With

[2022-03-29 16:40] chrisklus commented on #746
As part of this work, VerticalCheckboxGroup should also be Tandem.REQUIRED, as @samreid and I did not instrument any checkboxes in CAV and we did not get any missing required tandem errors. Here is a starting patch for that:

<details>

[code]

[2022-03-29 23:25] chrisklus opened #747 "Consider adding option for double arrow in ArrowButton"
@Luisav1 and I are looking at upcoming needs for Build a Nucleus and the design has a double arrow button that looks very similar to ArrowButton but with two arrows adjacent to each other, with two separate fills for each.  See mockup below:

<img width="1061" alt="Screen Shot 2022-03-29 at 4 55 34 PM" src="https://user-images.githubusercontent.com/5618316/160720066-61c62dbc-919f-44d1-9489-f163977

[2022-03-29 23:47] pixelzoom commented on #747
My first instinct is to push back on the design.  Spinners with a single arrow are the UI standard. What do these buttons with the double arrows do?

[2022-03-29 23:51] pixelzoom commented on #747
Looking at ArrowButton, I definitely do not recommend adding this feature to ArrowButton.  There's not a lot there -- it just creates the arrow icon and what the button does is up to the client --  and this feature would make it much more complicated.   Better to create an entirely new class like DoubleArrowButton.

But again, I'd like to hear about the design.  Because my first reactions is that

[2022-03-30 00:04] pixelzoom commented on #747
If I were going to write ArrowButton today, I would draw the arrow head in one orientation, then rotate it based on `direction: ArrowButtonDirection`.  I might even factor out something like `ArrowHeadShape`.

[2022-03-30 01:42] chrisklus commented on #747
They increment/decrement the model by one proton and one neutron. I think the design is solid - users should have individual control over the number of protons and neutrons (the outer left and outer right standard arrow buttons), but many or most interactions will involve changing both at the same time. This is because of the following (rough) nuclide chart:

<img src="http://www.sprawls.org/ppmi2

[2022-03-31 03:09] pixelzoom commented on #747
I guess I don't totally agree with that. There are other ways to provide that "individual control" that don't require a double-arrow button. For example, this feels like a superior UX to me -- all of the arrow buttons are the same, and it's clear what they do:

![Doc](https://user-images.githubusercontent.com/3046552/160968404-291d5bf1-ee3a-438d-ac95-4a1d1a1749c7.jpg)

There's probably a better la

[2022-03-31 03:11] pixelzoom commented on #747
If you do proceed with DoubleArrowButton, I think that it can (should?) live in build-a-nucleus, until there's a need for it in a second sim.

[2022-03-31 03:14] pixelzoom commented on #747
I guess I don't totally agree with that. There are other ways to provide that "individual control" that don't require a double-arrow button. For example, this feels like a superior UX to me -- all of the arrow buttons are the same, and it's clear what they do:

![Doc](https://user-images.githubusercontent.com/3046552/160968404-291d5bf1-ee3a-438d-ac95-4a1d1a1749c7.jpg)

There's probably a better la

[2022-03-31 03:14] pixelzoom commented on #747
I guess I don't totally agree with that. There are other ways to provide that "individual control" that don't require a double-arrow button. For example, this feels like a superior UX to me -- all of the arrow buttons are the same, and it's clear what they do:

![Doc](https://user-images.githubusercontent.com/3046552/160968404-291d5bf1-ee3a-438d-ac95-4a1d1a1749c7.jpg)

There's probably a better la

[2022-04-05 19:29] jbphet commented on #697
In one of the comments above, I said:

I wanted to close the loop on this, so we discussed it in today's sound design meeting, and @emily-phet is fine with all the movement sounds being the same with no special sounds for arrow keys or discrete versus continuous.

[2022-04-06 16:16] ariel-phet commented on #747
@pixelzoom @chrisklus I think for this sim (based on some of the comments above) doing a sim-specific implementation is the best way to go.

@pixelzoom definitely appreciate some alternative UI thoughts, but in the particular case of this sim I think a "pair pile" would be problematic.

1. We want to color code the arrows, might be a bit funky to do for the "pair" (and we will make sure to polish

[2022-04-07 19:22] pixelzoom opened #748 "RoundButton doesn't use PhET dispose pattern"
RoundButton isn't using PhET's `dispose` convention. It's defining `dispose` in the constructor. It should be a method that calls `this.diposeRoundButton`.

[code]

[2022-04-08 13:38] pixelzoom commented on #748
The problem was actually in RoundButton.ThreeDAppearanceStrategy.  @jbphet please review, OK to close.

[2022-04-08 13:50] pixelzoom commented on #553
While working on https://github.com/phetsims/sun/issues/748, I noticed that after 2+ years, this was still a problem.  So I went ahead and fixed it.   I'll close it too.

[2022-04-08 13:50] #553 closed

[2022-04-08 15:11] pixelzoom opened #749 "Address TODO about propagating options to button model."
This NOTE was added by @jonathanolson when he converted RectangularPushButton to TypeScript.  It should have been a TODO, with an issue.    The same problem needs to be addressed in RoundPushButton, and any other sun button that propagates all of its options to its model class.  It's unlikely that there's a TODO in every location where this needs to be addressed.

[code]

[2022-04-08 16:27] pixelzoom opened #750 "TypeScript conversion of `*ButtonInteractionStateProperty` classes"
I'm converting `*ToggleButtonInteractionStateProperty` classes to TypeScript, and encountering enough incorrect JSdoc type expressions that I'm concerned.  So I'm creating this issue to track my changes, and have @jbphet review when I'm done.

[2022-04-08 16:46] pixelzoom commented on #750
@jbphet please review.

The main problem I encountered is that all of the constructors indicated `@param {ButtonModel} buttonModel`. And that definitely was not the case, there were specific subclasses of ButtonModel that were needed.

[2022-04-09 12:43] samreid opened #751 "sun/buttons TypeScript review"
I wanted to ask about some parts of the Sun TypeScript port:

- [x] Can we remove JSDoc that provides no information, such as:

[code]

_@pixelzoom EDIT:  I removed a total of 2 cases of this, added param doc for 1 case.  Not much of a real problem, and not a good use of my time._

- [x] I noticed some places use `public` and some places do not use `public`.  We agreed this would be developer disc

[2022-04-09 14:00] pixelzoom commented on #751
I asked about code reviews at the most recent developer meeting and was told to wait until TypeScript conventions had solidified.  So I'm surprised to see this issue, doing what I recommended, but the opposite of what @kathy-phet instructed.

I converted large pieces of sun/buttons/, but was not the only developer involved.  Akaik, converting to TypeScript doesn't make me the owner.  So perhaps th

[2022-04-09 14:45] samreid commented on #751
Sounds good, thanks!  Let's categorize this issue as part of the "deciding on conventions" developer meeting discussion.

[2022-04-09 15:19] pixelzoom commented on #751
If your goal is consistency, lint can enforce use of `public`, see `explicit-member-accessibility`.  There is no tooling to prohibit use of public, though you could write a custom lint rule.

[2022-04-09 15:20] pixelzoom commented on #751
If your goal is consistency, lint can enforce use of `public`, see `explicit-member-accessibility`.  There is no tooling to prohibit use of public, though you could write a custom lint rule.  And I guess you could allow devs to set the policy for repos that they're responsible for - which would be totally annoying for common code.

[2022-04-09 15:33] samreid commented on #751
The options for that rule are:

[code]

Later on, the documentation describes that `no-public` forbids usage of the `public` modifier (instead of just not requiring it).

[2022-04-09 18:27] kathy-phet commented on #751
Just a reminder on what was discussed / decided last meeting. Yes, code review is needed and should be prioritized, and also decided to do it informed by some agreed upon conventions.

From the notes of Thursday's meeting ....
For the week of April 14 dev meeting, after we discussed some of these typescript dev meeting issues, can we all have a week when we review some else’s code.

So plan was fo

[2022-04-11 14:54] pixelzoom opened #752 "Review pattern for ContentAppearanceStrategy"
In https://github.com/phetsims/sun/issues/751, @samreid said:

[code]

That issue is not related to TypeScript conversion, so has been moved here.

Assigned to @jbphet (author) and @samreid to discuss.

[2022-04-11 15:08] pixelzoom commented on #751
I cleaned up sun/buttons/ and added annotation (see _@pixelzoom EDIT_) to https://github.com/phetsims/sun/issues/751#issue-1198575339.   What I found was that sun/buttons/ was in very good shape, with very few instances of the problems that @samreid reported.  I fixed a handful of inconsistencies in the abovee commits, and spent a lot of time locating them -- overall not a good use of my time.

Wh

[2022-04-11 15:56] pixelzoom opened #753 "Missing `protected` modifiers in AccessibleNumberSpinner.ts and AcessibleValueHandler.ts"
In AccessibleNumberSpinner.ts:

[code]

In AccessibleValueHandler.ts:

[code]

If these are truly `protected`, then the TypeScript `protected` modifier should be used, and the JSDoc `@protected` annotations should be deleted.

The methods also need return types.

[2022-04-11 16:20] #726 closed

[2022-04-11 16:21] zepumph commented on #753
Yes. Ideally that would be the case, just like all items prefixed with `_` would be marked as private with typescript, but this cannot be done due to a limitation of how Typescript mixins work. If you do that, you get an error in which anonymous classes cannot have private or protected members.

[2022-04-11 16:24] pixelzoom opened #754 "Address uses of `any` for TButtonAppearanceStrategy and TContentAppearanceStrategy"
There are several uses of `any` in sun, all related to TButtonAppearanceStrategy and TContentAppearanceStrategy (types created by @zepumph).  These should be replaced with correct types.

Occurrences of `any` in:
- [x] TButtonAppearanceStrategy
- [x] TContentAppearanceStrategy
- [x] ButtonNode.FlatAppearanceStrategy
- [x] RectangularButton.ThreeDAppearanceStrategy
- [x] RectangularButton.ContentAp

[2022-04-11 16:28] pixelzoom opened #755 "TContentAppearanceStrategy is specific to radio buttons?"
TContentAppearanceStrategy was created by @zepumph and is presumably a general types.   But it's second param is specific to RadioButtonInteractionState.  This seems wrong.

[code]

[2022-04-11 16:36] pixelzoom commented on #753
Well that certainly is unfortunate.   And I now see the comment in the code:

[code]

I've improved that comment to be a little more informative/correct, and not refer to the trait as "this class":

[code]

Closing.

[2022-04-11 16:36] #753 closed

[2022-04-11 18:25] pixelzoom opened #756 "Review conversion of ClosestDragListener to TypeScript"
@jonathanolson please review the TypeScript conversion of `ClosestDragListener` in https://github.com/phetsims/sun/commit/4a3affd5f709bb68a888fa3cdedfe3956127cd47.

You had `{SceneryEvent} event` specified as the event type. That caused problems with the type-checker in both number-play and counting common:

I had to change to `event: PressListenerEvent`.

[2022-04-13 13:11] jonathanolson commented on #756
That sounds good (conversion looks good). If we need more flexibility, ClosestDragListener could take a type parameter (but PressListenerEvent should work for our drag handlers).

[2022-04-13 13:18] pixelzoom commented on #756
👍🏻

[2022-04-13 13:18] #756 closed

[2022-04-15 19:54] jbphet commented on #750
Changes look good.  Having the greater specificity for the model types needed in these derived types is a good improvement.  I added the direct export of the class declaration that had been done for the other files to `PushButtonInteractionStateProperty` for consistency and did some edits on the comments.

I also changed the title of this issue since, as originally written, it described a smaller

[2022-04-15 19:54] #750 closed

[2022-04-15 23:21] jbphet commented on #697
Reopening.  A question arose in my mind about whether the sounds produced by a slider would stop being produced if the output level for the "user-interface" category was set to zero.  My hope was that it would, but I couldn't recall specifically implementing code to do so.  I tested it, and it worked, but when I dug into it, I realized that it wasn't working for the right reasons.  It works becaus

[2022-05-07 02:20] samreid commented on #738
I skimmed the commits, taking a closer look at the changes in CCK and everything seemed good.  There is one TODO listed for this issue remaining:

[code]

Some solutions would be:
* make `expandCollapseButton` public
* Move the declaration `ACCESSIBLE_NAME_BEHAVIOR` inside the class

To me, it makes sense that an AccordionBox's `expandCollapseButton` would be public.  Sound OK?

[2022-05-10 17:45] zepumph commented on #738
Yes, making expandCollapseButton public doesn't bother me in the slightest, but the second approach has been done elsewhere, and it makes the most sense in this case. I don't want to make the button public unless I had a use case that called for it. Feel free to make that happen if you'd like though! I'm ready to close.

[2022-05-10 18:22] jonathanolson commented on #48
Are you proposing we change the Panel API like so? (strong preference not to do so):

[code]

Default values are provided in the Panel optionize. Now that it's in TypeScript, it's typing nicely, and we are guaranteed these values.

[2022-05-10 18:34] jonathanolson commented on #48
I believe soon for general purpose. I've been using these in my simulations, and I'm pretty confident in the FlowBox API (and associated places). I'm slightly less confident in GridBox (want the time to examine the interaction of alignments/stretch/grow). ManualConstraint I believe is also ready. Checkbox/Panel already includes things based on LayoutConstraint. I've definitely refined FlowBox a mo

[2022-05-10 18:46] pixelzoom opened #757 "Dead code in Slider.ts"
@jonathanolson add line 476 in https://github.com/phetsims/sun/commit/d8eaa561bc076cb517d62fa72e70aa530b28a64e, but commented it out. Why?

[code]

[2022-05-10 18:48] pixelzoom commented on #530
Reminder that there is still dead code in AccessibleValueHandler.ts that references this issue:

[code]

[2022-05-10 20:20] zepumph commented on #530
@jessegreenberg I'd say get rid of it. It makes an assumption about our mapping that won't last generall.

[2022-05-11 04:59] samreid commented on #738
That seems great, thanks!  Closing.

[2022-05-11 04:59] #738 closed

[2022-05-12 19:08] jbphet opened #758 "Port Dialog.js and Popupable.js to TypeScript"
These two files are related and a bit challenging to port, so we're creating a separate issue for them.  The parent issue is https://github.com/phetsims/tasks/issues/1096.

[2022-05-12 19:53] zepumph commented on #743
Thinks are going well in Ratio and Proportion. Ready to close.

[2022-05-12 19:53] #743 closed

[2022-05-12 20:21] jbphet opened #759 "What sound, if any, should be produced on alt-input attempts to go past min & max values on a slider"
Issue https://github.com/phetsims/greenhouse-effect/issues/131 is about what sound should be produced by a number picker if the user attempts to go beyond the min or max values when using keyboard navigation.  We just had a design meeting to discuss this, and realized that it is a general question that pertains to sliders too.  As of this writing, sliders make no sound if users try to move beyond

[2022-05-17 22:07] zepumph commented on #759
I have an opinion!

In the a11y team, we seem to be moving towards an approach where feedback responds to input, as opposed to model changes. This philosophy has created great user experience (in my opinion) for voicing and description where we can guide users with feedback even if (and especially if) an interaction did not produce model changes. From this, in Ratio and Proportion we added a "go b

[2022-05-17 22:11] jbphet opened #760 "Name and docs for the onChange option in AccessibleValueHandler don't match behavior"
While working on https://github.com/phetsims/sun/issues/759, I noticed that the `onChange` listener in `AccessibleValueHandler` handler is sometimes called when no change to the value occurs, such as when the value is clamped at a boundary.  The documentation for this option currently looks like this:

[code]

At first I thought this was a bug and proposed modifying the behavior to only invoke the

[2022-05-18 16:51] zepumph commented on #760
@jbphet, I renamed things above. I didn't want to have the API be `startChange` and `onInput`, so it is `startInput`, `onInput`, and `endInput` now. I tried to fix doc whenever I found it too. Please review and feel free to change doc to what makes sense to you.

[2022-05-19 22:39] jbphet commented on #760
Looks good, thanks for doing this.  I also updated some of the documentation in `NumberPicker` to be more consistent with this new set of names.  Closing.

[2022-05-19 22:39] #760 closed

[2022-05-24 01:57] jonathanolson commented on #48
Executed the HBox/VBox switch-over in the commit above. All automated testing is looking good.

[2022-05-24 02:00] jonathanolson commented on #48
I'll have it ready for a full code review quite soon.

[2022-05-25 01:00] jonathanolson commented on #48
I believe the layout work is ready for an initial code review. I have one TODO listed in GridConstraint (will handle), and a few enhancements, but the bulk of it is ready (and it's backing HBox/VBox now for Flow layout). I'll also be moving over more components to be resizable (notably ComboBox/Slider/Rectangular buttons/AccordionBox/NumberDisplay/RadioButton).

1. build scenery
2. read scenery/do

[2022-05-26 16:19] zepumph opened #761 "Dialog: Assertion failed: This node is already managed by a layout container"
This is a new assertion added from layout changes by @jonathanolson. Full assertion:

Assertion failed:  This node is already managed by a layout container - make sure to wrap it in a Node if DAG, removing it from an old layout container, etc

Here is the failing line of code:

https://github.com/phetsims/sun/blob/872f33b097e1195c719f42af189c37050857bd6d/js/Dialog.js#L250

We should just be able t

[2022-05-26 16:22] zepumph commented on #761
This fixed the error in my testing.

[2022-05-26 16:24] zepumph commented on #761
The above issues are in fact this problem, just a downstream error from this assertion. When the DAG assertion triggers, it doesn't dispose the close button, so it recreates it again after startup and fails the phet-io API checker.

[2022-05-27 20:10] jbphet commented on #697
I've addressed the concern that I raised in the previous comment by changing `ValueChangedSoundGenerator` to `ValueChangedSoundPlayer` and make it *not* be a sound generator.  I opted for this approach because if it was a sound generator, the client would have to pass in sound generators with `connect` methods, and not hook them up to anything, and wouldn't be able to use the shared sound players.

[2022-05-27 20:10] #697 closed

[2022-05-30 16:05] terracoda commented on #759
Well said, @zepumph. Thanks for your comment.

[2022-05-31 00:00] jonathanolson commented on #48
Updated sun rectangular buttons with resizability above.

[2022-05-31 14:46] pixelzoom commented on #48
Since this is a long-ish issue, and still in sun (instead of scenery) .... I'm going to do the code review in a new scenery issue, https://github.com/phetsims/scenery/issues/1419.

[2022-05-31 22:52] jbphet opened #762 "Add sounds for ABSwitch"
The parent issue for this is https://github.com/phetsims/joist/issues/803.

The ABSwitch doesn't currently produce any sound, but it is now used in a number of simulations the *do* have sound because it appears in the Preferences dialog.  I started process already, so there are some commits associated with the issue linked above, but they are all about adding ABSwitches to the tambo demo and creat

[2022-05-31 22:56] jbphet commented on #762
@pixelzoom - Could you please review how sound support was added to these components?  There were a number of ways that it could be done, and thought at least one other developer should have a look at what I chose to do, and you're the primary author.

[2022-06-01 00:04] pixelzoom commented on #762
ToggleSwitch.ts looks good.

But in ABSwitch.ts, I would definitely NOT add options `switchToASoundPlayer` and `switchToBSoundPlayer` because:
* You're duplicating what is already provided via nested options `toggleSwitchOptions`.
* The caller needs to be familiar with ToggleSwitchOptions regardless of sounds, so it's reasonable to expect them to use `switchToLeftSoundPlayer` and `switchToRightSou

[2022-06-01 00:15] pixelzoom commented on #762
@jbphet Another thing you need to be conscious of going forward is where you added defaults for options.  ABSwitch was organized like this:

[code]

... and you put the default for your new options (which are SelfOptions) under NodeOptions.  You did something similar in ToggleSwitch.ts.

[2022-06-01 00:21] pixelzoom commented on #762
If you prefer having sound options whose names are more aligned with the class names, then another way to do this is in ABSwitch to narrow the interface for toggleSwitchOptions like this:

[code]

then:

[code]

The patch below shows the full (untested) solution, and shows how the same pattern would be applied to OnOffSwitch.  (Note that in OnOffSwitch, I have imported sound files that do not curr

[2022-06-01 01:33] pixelzoom commented on #762
If you chose to use the above patch, note that https://github.com/phetsims/phet-core/issues/119 now requires use of `OmitStrict` instead of `Omit`.

[2022-06-03 22:12] #761 closed

[2022-06-03 22:48] jbphet commented on #748
Looks good to me - thanks!  Closing.

[2022-06-03 23:25] jbphet commented on #762
Thanks for the thorough review @pixelzoom!

One of my motivations for having sound player options in both `ABSwitch` and `ToggleSwitch` was that `ABSwitch` needs to play sounds when users click on its labels.  While it could reach into `ToggleSwitch` to do this, either via methods or by exposing the sound players publicly, that didn't initially seem great to me.  It also seemed like a better API t

[2022-06-06 15:55] pixelzoom commented on #762
I think that's a fine solution.  As you noted, it's less complex.  And in the future, if anyone wants to use the approach outlined in https://github.com/phetsims/sun/issues/762#issuecomment-1142844044, it won't be difficult.

[2022-06-06 17:53] pixelzoom opened #763 "Convert Popupable, Dialog, and Dialog subclasses to TypeScript."
Before I do https://github.com/phetsims/vegas/issues/107 (GameInfoDialog), or convert any other Dialog subclasses (like OopsDialog) to TypeScript, it makes sense to convert Dialog.  And that requires converting Popupable.   But I'm not sure how to convert Popupable.

@jonathanolson could you convert Popupable?  Then assign back to me, and I'll handle Dialog and its subclasses.

This issue blockes

[2022-06-07 01:20] jonathanolson commented on #763
Popupable has gracefulBind on showPopup/hidePopup, followed by assertions that they are non-null. Unclear how "graceful" to be since that will error it out slightly later. @zepumph can you take a look after I convert?

[2022-06-07 02:00] jonathanolson commented on #763
Converted in commits above.

[2022-06-07 03:04] pixelzoom commented on #763
Popupable was a great name for a trait. But it now seems misleading, not appropriate for a Node subclass. Should it be renamed? (Popup? PopupNode?...)

[2022-06-07 15:54] pixelzoom commented on #763
Ah...  I commented without looking at the changes. Based on Slack conversation, I was under the impression that it was being converted to a Node subclass.  But this is fine for my needs.

[2022-06-07 16:02] pixelzoom commented on #763
@jonathanolson you lost the git history for Popupable. Should it be restored?

[2022-06-07 18:37] pixelzoom opened #764 "Restore git history for Popupable.ts"
In https://github.com/phetsims/sun/commit/3e33f864b56e6025031cf2b04ccb6a6c9fb1e92f for https://github.com/phetsims/sun/issues/763, @jonathanolson lost the git history for Popupable.

[2022-06-07 18:39] pixelzoom commented on #763
In the above commits, I converted Dialog to TypeScript.  I was forced to use `any` in two places, to avoid introducing a depency on joist:

[code]

These uses of `any` will be tracked in https://github.com/phetsims/chipper/issues/1253 (`no-explicit-any` typescript-eslint rule).

[2022-06-07 18:42] pixelzoom commented on #763
Common-code subclasses of Dialog that have not been converted to TypeScript include:

- [ ] AboutDialog
- [ ] KeyboardHelpDialog
- [ ] OptionsDialog
- [ ] UpdateDialog
- [ ] PreferencesDialog
- [ ] ContextLossFailureDialog
- [ ] OopsDialog

[2022-06-07 21:33] jbphet commented on #762
I backed out most of the changes to `ABSwitch` and am now passing the options through to the `ToggleSwitch` in all cases.  I also added an `OnOfSwitch` to the tambo demo.

@pixelzoom - Care to have one more look?

[2022-06-07 21:49] pixelzoom commented on #763
I converted everything except `PreferencesDialog`.  It has many subcomponents that also need to be converted -- PreferencesTabs, PreferencesPanels, AudioPreferencesPanel, GeneralPreferencesPanel,…. So I'm going to put, and have @jessegreenberg handle PreferencesDialog when he converts the rest of joist/js/preferences/.

[2022-06-07 21:50] pixelzoom commented on #763
Remaining work here:

- [ ] @zepumph review request in https://github.com/phetsims/sun/issues/763#issuecomment-1148092256

- [ ] @jessegreenberg convert `PreferencesDialog`

[2022-06-07 23:14] pixelzoom commented on #762
Looks good to me.  Not sure if you want me to close, so back to @jbphet.

[2022-06-09 19:12] pixelzoom commented on #751
6/9/2022 dev meeting:

@samreid will review the points that he brought up in https://github.com/phetsims/sun/issues/751#issue-1198575339.  If there's anything that hasn't been generally addressed, he'll create an issue.

[2022-06-10 14:01] pixelzoom opened #765 "CT: Cannot set swap out a PhET-iO instrumented targetProperty for an uninstrumented one"
This started immediately after @samreid pushed https://github.com/phetsims/sun/commit/d2e9d3c15f8697543213dff713dbc7670b931374.

[code]

[2022-06-10 15:22] samreid commented on #765
Fixed, closing.

[2022-06-10 15:22] #765 closed

[2022-06-10 16:55] jbphet opened #766 "CT: Designed API changes detected..."
CT is currently showing the error below.  I tried to remedy the situation using `grunt generate-phet-io-api` but it didn't seem to change anything.  Assigning to @samreid, since he made phet-io related commits to `HSlider` yesterday, and the error seems potentially related.

[code]

[2022-06-14 00:31] samreid commented on #766
I regenerated the phet-io api, which removed the enabled properties and added something new for the carousel and/or combo box.  Closing.

[2022-06-14 00:31] #766 closed

[2022-06-14 02:28] samreid commented on #751
I believe all items identified above have been discussed.  Closing.

[2022-06-14 02:28] #751 closed

[2022-06-17 14:27] terracoda opened #767 "Carousel: Potential Accessible Design Pattern"
We have yet to make our PhET Carousel interaction accessible as we have not yet described a sim that contains this interaction.

This 2021 article by Bryan Garaventa might be helpful when we are ready to tackle the Carousel interaction.

https://www.linkedin.com/pulse/accessible-aria-carousels-plus-other-updates-bryan-garaventa?trk=pulse-article_more-articles_related-content-card

[2022-06-17 23:06] marlitas commented on #436
I opened up issue: https://github.com/phetsims/scenery-phet/issues/744 stating that it was rather confusing to find NumberPicker in scenery-phet and NumberSpinner in Sun when they are virtually the same component.

Closing that issue as it is a duplicate of this issue, but @samreid and @pixelzoom  also concluded that we could at least move NumberPicker into sun so that they are in the same repo.

[2022-06-18 16:15] pixelzoom opened #768 "Convert ComboBoxItem from `class` to `type`"
I'd like to replace `class ComboBoxItem` with `type ComboBoxItem`:

[code]

A `type` would be more consistent with the pattern used for RectangularRadioButtonItem and AquaRadioButtonGroupItem.  And I think that usage sites would read better.

Before proceeding, I'll bring this up at developer meeting to see if there are preferences/objections.

[2022-06-18 16:27] pixelzoom opened #769 "Standardize constructor signature for UI components that control a Property."
For UI components that control a Property, I'd like to standardize constructors so that the Property is the first parameter. Some examples:

[code]

This would be more consistent with other UI components:

[code]

More importantly, I think it would make usage sites read better, expecially where instantiaton of "content" Nodes are inlined.   For example, in build-a-nucleus `DecayScreenView`:

[code

[2022-06-18 16:39] pixelzoom commented on #769
Here's are the UI components whose constructors would need to be modified.

sun:

- [ ] Checkbox
- [ ] ComboBox
- [ ] BooleanToggleNode
- [ ] BooleanRectangularToggleButton
- [ ] BooleanRoundToggleButton
- [ ] RectangularMomentaryButton
- [ ] RectangularStickyToggleButton
- [ ] RectangularToggleButton
- [ ] RoundToggleButton
- [ ] RoundStickyToggleButton
- [ ] RoundMomentaryButton
- [ ] PageContro

[2022-06-18 19:43] pixelzoom opened #770 "Layout of ABSwitch does not support dynamic labels."
I'm still seeing this problem in MOTHA.  The UI component shown below is an ABSwitch, and it's text labels have been changed via Studio.  Note the overlap of the left label with the switch.

<img width="229" alt="screenshot_1701" src="https://user-images.githubusercontent.com/3046552/174454812-41ba3b3d-0b75-46f3-9d47-aa9cbb9e197a.png">

To reproduce in Studio, the phetio IDs are:

modelsOfTheHydro

[2022-06-22 18:19] pixelzoom commented on #770
Sims that use ABSwitch or a subclass:

- [ ] acid-base-solutions
- [ ] area-builder
- [ ] balancing-act
- [ ] collision-lab
- [ ] energy-skate-park
- [ ] expression-exchange
- [ ] fluid-pressure-and-flow
- [ ] griddle demo
- [ ] models-of-the-hydrogen-atom
- [ ] molecule-polarity
- [ ] number-line
- [ ] number-play (run with `?secondLocale=es` in built all.html)
- [ ] pendulum-lab
- [ ] ph-scale
-

[2022-06-22 18:55] pixelzoom commented on #770
In the above commits:

* ABSwitch was converted to a subclass of HBox, so that it supports dynamic layout
* `ABSwitchOptions.xSpacing` was renamed to `spacing`, and is the responsibility of HBox
* `ABSwitchOptions.centerOnButton` was renamed to `centerOnSwitch` since there is no "button" in this component
* The method of making `this.center` correspond to the center of the switch was changed. Inst

[2022-06-22 18:55] #770 closed

[2022-06-23 18:16] zepumph commented on #768
Devs at today's meeting agree! Notes in the dev meeting doc.

[2022-06-23 18:41] pixelzoom commented on #769
Notes from dev meeting doc:

* This seems like a good fit here.
* One consideration is if we will ever want to serialize this data for PhET-iO, if that would ever be the case then this is not a good fit, since a class is easier to implement a toStateObject
* JG: what about the assertions in there?
* MK: Likely those would be moved to where the items are used in the list box.
* MS: Whenever you use

[2022-06-23 23:20] pixelzoom commented on #768
Notes from dev meeting doc:

[2022-06-23 23:21] pixelzoom commented on #769
Note in the dev meeting doc:

[2022-06-23 23:43] pixelzoom commented on #769
In the above commits, the constructor signature of Checkbox and its subclasses was changed.

[2022-06-23 23:49] pixelzoom commented on #769
In the above commits, the constructor signature of ComboBoxDisplay was changed.

[2022-06-24 00:01] pixelzoom commented on #769
In the above commits, the constructor signature of ThermometerNode was changed. It has no subclasses that required changing.

[2022-06-24 00:06] pixelzoom commented on #769
In the above commits, the constructor signature of TemperatureAndColorSensorNode was changed. It has no subclasses.

[2022-06-24 00:09] pixelzoom commented on #769
In the above commit, the constructor signature of ZoomButtonGroup was changed. It has no subclasses.

[2022-06-24 00:17] pixelzoom commented on #769
In the above commits, the constructor signature of PageControl was changed. It has no subclasses.

[2022-06-24 00:20] pixelzoom commented on #769
In the above commits, the constructor signature of PageControl was changed.

[2022-06-24 00:43] pixelzoom commented on #769
In the above commits, the constructor signatures of BoogleanToggleNode, BooleanRectangularToggleButton, and BooleanRoundToggleButton were changed.

[2022-06-24 01:16] pixelzoom commented on #769
In the above commits, the constructor signatures of RectangularMomentaryButton and RoundMomentaryButton were changed.

[2022-06-24 01:20] pixelzoom commented on #769
In the above commits, the constructor signatures of RectangularStickyToggleButton and RoundStickyToggleButton were changed.

[2022-06-24 02:04] pixelzoom commented on #769
In the above commits, the constructor signature of ComboBox and its subclasses was changed.

[2022-06-24 02:08] pixelzoom commented on #768
I understand needing to serialize an ComboBoxItem's `value` or `node`, and that is already supported. But I'm having a hard time coming up with a use-case where we'd want to serialize the items.  Like items in radio-button groups and checkbox groups, checkbox items are describe how to create the contents of the listbox.  And I don't think serialization of that is necessary, or even desirable.

Tha

[2022-06-24 02:14] pixelzoom commented on #769
I've completed all of the refactors identified in https://github.com/phetsims/sun/issues/769#issuecomment-1159512550.  WebStorm's "Change signature" feature made this really easy. What made it painful and time-consuming was the amount of time it took to run pre-commit hooks.

Slack#dev-public:

Closing.

[2022-06-24 02:14] #769 closed

[2022-06-24 02:22] pixelzoom commented on #768
The only assertion that isn't replaced by TypeScript type-checking is this one:

[code]

@jessegreenberg Do other item types (eg AquaRadioButtonGroupItem) need this same assertion? Why or why not?

We definintely don't want to rely on this assertion having to be copied to multiple places for the same type of item.  So if the `!node.hasPDOMContent` assertion is important, and is relevant for other

[2022-06-24 15:27] zepumph commented on #768
We do not want to do this at this time, nor do I think that we will ever want to. The dev meeting conversation was more general about class vs types and why we may not want to convert/use a type over a class. This shouldn't block converting ComboBoxItem in my opinion.

[2022-06-24 16:26] pixelzoom commented on #768
Hmmm... This makes converting ComboBoxItem to a type a bit more complicated.  In ratio-and-proportion:

[code]

... and ChallengeComboBoxItem does some work that a type cannot.

[2022-06-24 17:32] zepumph commented on #768
Yes that makes sense. Go ahead and make that change. Thanks!

[2022-06-24 17:41] zepumph commented on #768
That comment was stated generally as a potential worry, but ComboBoxItem only has one usage.

There is no `pdomContent`, it is just a check to see if there is something in the PDOM for the Node (the implementation is just reliant on `tagName` I believe. Does that make sense?

[2022-06-24 17:49] zepumph commented on #768
@jessegreenberg and I just discussed this a bit more, and we feel totally fine about using types instead of classes. We do like that assertion though, and wished that it was in other item-like spots, for example over in
https://github.com/phetsims/sun/blob/d2e9d3c15f8697543213dff713dbc7670b931374/js/buttons/RectangularRadioButtonGroup.ts#L264-L265

We think we should add that check where other a11

[2022-06-24 19:54] pixelzoom commented on #768
@zepumph @jessegreenberg thanks for the feedback.

I'm going to address ChallengeComboBoxItem first in https://github.com/phetsims/ratio-and-proportion/issues/484.  That is a pre-requisite to converting ComboBoxItem to a `type`.

[2022-06-26 21:09] pixelzoom commented on #768
https://github.com/phetsims/ratio-and-proportion/issues/484 is done, so I can proceed with this.

[2022-06-27 18:35] pixelzoom opened #771 "Add a11y-related assertions for "items""
In https://github.com/phetsims/sun/issues/768#issuecomment-1165114123, I identified this assertion in ComboBoxItem, which was subsequently relocated to ComboBox:

[code]

In https://github.com/phetsims/sun/issues/768#issuecomment-1165800339, @zepumph said:

https://github.com/phetsims/sun/blob/d2e9d3c15f8697543213dff713dbc7670b931374/js/buttons/RectangularRadioButtonGroup.ts#L264-L265

So assertio

[2022-06-28 20:16] jessegreenberg commented on #771
Assertions added, they caught one case of improper markup in greenhouse-effect where a slider was nested under a radio button.  Im surprised that didn't mess with the traversal order or screen reader experience, but good to prevent.

@zepumph are you OK with this change?

[2022-06-29 16:17] pixelzoom commented on #771
I like the new assertion:

[code]

Much clearer than what formerly appeared in ComboBoxItem and was moved to ComboBox:

[code]

Can we use the same (new) assertion in ComboBox?

[2022-06-29 16:18] pixelzoom commented on #771
Also reopening because this is apparently causing problem. In Slack#developer, @AgustinVallejo asked:

'Accessibility is provided by RectangularRadioButton and RectangularRadioButtonItem.labelContent. ' +
'Additional PDOM content in the provided Node could break accessibility.'

[2022-06-29 17:08] pixelzoom commented on #771
👍🏻

[2022-06-29 17:08] #771 closed

[2022-07-06 15:11] pixelzoom commented on #740
This is definitely not ready for review.  I ran into this yesterday while trying to replace `merge` for https://github.com/phetsims/chipper/issues?q=is%3Aissue+is%3Aopen+label%3Adev%3Atypescript.  Specifically, it has these problems:

* defaultOptions has no type specified, so...
* Options `spacing` and `orientation` were incorrectly added to `defaultOptions`
* `merge` is still used

.. and could

[2022-07-06 16:46] pixelzoom commented on #740
There are 35 occurrences of `extends RectangularRadioButtonGroup`, 37 occurrences of `new RectangularRadioButtonGroup`.  So an API change will be costly. But imo worth it in the long run, and will certainly clean up RectangularRadioButtonGroup.

[2022-07-06 17:47] pixelzoom opened #772 "RectangularRadioButton problems related to appearance strategies"
A couple of TypeScript problems in RectangularRadioButton.ts:

* FlatAppearanceStrategyOptions and ContentAppearanceStrategyOptions are missing, and `any` is used.

* SelfOptions duplicates a bunch of definitons that should be in FlatAppearanceStrategyOptions, ContentAppearanceStrategyOptions

* These comment in SelfOptions are troubling, I don't know how someone would "add your own options".  And

[2022-07-06 17:49] pixelzoom commented on #772
Note that those options that should be in FlatAppearanceStrategyOptions and  ContentAppearanceStrategyOptions are also repeated in RectangularRadioButtonGroup.  Discovered in https://github.com/phetsims/sun/issues/740.  So this will also need to be addressed in RectangularRadioButtonGroup.

[2022-07-06 21:50] pixelzoom commented on #740
Repos that use RectangularRadioButtonGroup:

- [ ] acid-base-solutions
- [ ] area-model-common
- [ ] bending-light
- [ ] build-a-molecule
- [ ] cck-black-box-study
- [ ] cck-common
- [ ] collision-lab
- [ ] color-vision
- [ ] density-buoyancy-common
- [ ] energy-forms-and-changes
- [ ] energy-skate-park
- [ ] equality-explorer
- [ ] faradays-law
- [ ] fluid-pressure-and-flow
- [ ] fraction-compari

[2022-07-06 23:17] pixelzoom commented on #740
In https://github.com/phetsims/sun/commit/b2e8f81c91ddac89e014aea48a638b35765a8352 above:
* RectangularRadioButtonGroupOptions were refactored to `radioButtonOptions`
* `merge` was replaced by `optionize` and `combineOptions`

In the other commits, call sites were adjusted to use `radioButtonOptions`, see https://github.com/phetsims/sun/issues/740#issuecomment-1176785501 for the list of usages.

[2022-07-06 23:22] pixelzoom opened #773 "Option `voicingHintResponse` does nothing in RectangularRadioButtonGroup"
While working on https://github.com/phetsims/sun/issues/740 (cleanup of RectangularRadioButtonGroup), I noticed this option in SelfOptions:

[code]

Problems:

(1)  This option is defined in VoicingOptions, so has no business being in SelfOptions for RectangularRadioButtonGroup.

(2) `voicingHintResponse` is not used in the implementation of RectangularRadioButtonGroup, and is propagated to super.

[2022-07-06 23:28] pixelzoom commented on #773
In the above commits, I used an assertion to test whether any caller was using the `voicingHintResponse` option.  I found zero uses, and the default is `voicingHintResponse: null`.  So I went ahead and remove `voicingHintResponse` as an option to RectangularRadioButtonGroup.

Recommended to review this with high priority, in case I've misunderstood something here.

[2022-07-06 23:31] pixelzoom commented on #740
All of the work identified in https://github.com/phetsims/sun/issues/740#issuecomment-1176344517 has been completed.  @zepumph since you did the initial conversion to TypeScript, would you mind reviewing?  High-priority and blocking, since RectangularRadioButtonGroup is so widely used.

I should also note that I reviewed RectangularRadioButton.  Other than the "appearance strategy" problems identi

[2022-07-07 17:13] jessegreenberg commented on #773
I think your change is correct and this can be closed. But I found the history in https://github.com/phetsims/sun/issues/699 so @zepumph can you please take a look?

My understanding is `voicingHintResponse` was added to `defaultOptions` initially when many `defaultOptions` were given to each RectangularRadioButton with
https://github.com/phetsims/sun/commit/6ab0a64a7935711c3e18b451d7edd98c02485e5

[2022-07-07 17:31] zepumph commented on #773
Yes, totally. Thanks for cleaning up. We can still provide a hint easily through radioButtonOptions because that is a ButtonNode (which includes VoicingOptions already). Thanks

[2022-07-07 17:49] zepumph commented on #740
I liked converting ButtonWithLayoutNode to a type

I liked the way you organized and simplified the SelfOptions and defaults.

I with that optionize worked better for nested options so you didn't need a `!` to access items in radioButtonOptions. I don't have a recommendation or path forward, but it is noted by me!

It always scares me to see real Errors in code, like https://github.com/phetsims/su

[2022-07-08 20:20] jbphet opened #774 "ComboBox plays both the "no change" and selection sound when closed"
While reviewing https://github.com/phetsims/sun/issues/768 I noticed that the sound generation behavior for `ComboBox` has changed.  As originally designed, an individual selection sound would be played if the user selected something different, and a generic "close" sound was played if the user opened the `ComboBox`, then closed it without changing anything.  On the current version of master, both

[2022-07-08 20:25] jbphet commented on #768
Changes look good to me.  I also thought through the whole serialization thing (I think I'm the one who raised the question in the meeting), and I agree that we're very unlikely to ever need to serialize individual combo box items.

I also did a bit of regression testing on Molarity and States of Matter, since they both use `ComboBox` and have phet-io support, and things seemed to work just fine i

[2022-07-08 20:25] #768 closed

[2022-07-08 21:12] jbphet commented on #774
From what I can tell, this problem was introduced in 8b4861fd80122b2026b92815763b65222a74c96b.  With this change, `focusButtonCallback` is now being called before setting the property value.  Unfortunately, `focusButtonCallback` also hides the list box.  I'm not sure that this is intentional though, because there is a comment several lines later that says "hide the list".  Here's what that looks l

[2022-07-11 22:05] pixelzoom opened #775 ""Groups" need a consistent API for voicing/description"
As noted in https://github.com/phetsims/vegas/issues/108#issuecomment-1180911408 ...

Support for voicing/description is currently inconsistent (or non-existent) across PhET "group" components.  Here's the current status:

* AquaRadioButtonGroup options: `labelContent`, `tagName`, `labelTagName`, `ariaRole`, `groupFocusHighlight`

* RectangularRadioButtonGroup options: `labelContent`, `voicingCont

[2022-07-21 20:46] jbphet opened #776 "How can we specify type for sim in Dialog.ts without introducing a dependency on joist?"
In the `SelfOptions` type definition in `Dialog.ts` is the following bit of code:

[code]

In the class definition we have:

[code]

The comments are pretty clear - the `any` keyword is being used to avoid introducing a dependency on joist.  The other usages of `any` in sun were addressed under https://github.com/phetsims/chipper/issues/1253, but I'm not sure what to do about this one, or whether

[2022-07-21 21:39] jbphet opened #777 "Specify params for Popupable trait without using `any`"
In https://github.com/phetsims/chipper/issues/1253 we are adding a lint rule that, for the most part, forbid the use of the `any` type specification.  The `Popupable.ts` file is using `any` in its constructor so that it can work well with the other classes with which it is combined.  I don't have any idea how to make this more type-specific, so I'm going to add a comment that will tell lint to ign

[2022-07-21 22:47] pixelzoom commented on #772
Adding block-publication to this issue because radio button appearance is currently broken.  Stroke is missing, not sure if there are other problems.    Some examples...

Radio buttons in EqEx missing strokes:

![image](https://user-images.githubusercontent.com/3046552/180327532-0d857f40-d4c1-4476-b187-c02398377795.png)

MOTHA unusable without radio button strokes:

![image](https://user-images.gi

[2022-07-22 16:04] jessegreenberg commented on #772
After pulling today I also noticed that button strokes have gotten a little thicker
Master:
![image](https://user-images.githubusercontent.com/6396244/180477445-e06ea674-3e7b-4b8b-a8fe-200aee93f992.png)

Published:
![image](https://user-images.githubusercontent.com/6396244/180477472-190d4594-9b23-4e15-bdd1-693a0563252f.png)

And rectangular radio buttons might be missing an opacity or filter on de

[2022-07-22 22:48] pixelzoom opened #778 "console.log in Dialog constructor"
Chris Malley
After a pull-all, I’m seeing this printed to the console when I start any sim, or open the About dialog.

Sam Reid
Introduced in https://github.com/phetsims/sun/commit/24d06e76001a99c05503cf70a26b95c688e2422e

Chris Malley
In Dialog.ts

[code]

If this was temporary, it should be removed. If’s it permanent, it should likely be using phet.log instead of console.log.

[2022-07-22 22:53] jbphet commented on #778
Removed in https://github.com/phetsims/sun/commit/dd9a4b974f7f36a8ee57564351c033ae799e2ba7, closing.

[2022-07-22 22:53] #778 closed

[2022-07-26 23:49] samreid commented on #776
Since we are no longer using project references, it is easier for repos to depend on each other when necessary.  I specified the `Sim` type and it seems to be working well.  Closing, but @jbphet or anyone feel free to reopen for review or discussion.

[2022-07-26 23:49] #776 closed

[2022-07-29 15:45] terracoda commented on #759
Objects that slide around and hit visual boundaries typical have an edge sound and often have bespoke descriptions that try to indicate to a learner that they have hit the edge, e.g., "Last stop, left" and "Last stop, right" in GFLB. In some cases current state information is also provided, so learners know the state is not changing as they try to go beyond the limits placed on the interactive obj

[2022-08-01 14:40] terracoda commented on #603
We have an interaction design pattern for the On/Off switch interaction. It and other special toggles can are documented under _Toggle Buttons_ in the **Two-State Interactions** section of the tip sheet covering [Design Patterns for Single- & Two-State Interactions](https://docs.google.com/document/d/1Oc32zLgdPDCMQmcff82hXWsTk_E0BLf9Ohwc9pD1ZZ4/edit#heading=h.rj5etgrq1nf7).

There is also a tip sh

[2022-08-01 14:40] #603 closed

[2022-08-01 15:10] terracoda commented on #364
I have section on **Customized & Grouped Interactions** in this tip sheet documenting [Design Patterns for Multi-State & Customized Interactions](https://docs.google.com/document/d/1TMpO399c9PvhnZ2f1uKRm30JARcB5FtR1lybq8Aow34/edit?usp=sharing)

Examples for the radiogroup interactions in BASE and RaP are provided as examples.

**H3: {{name for radiogroup}}, radiogroup**
Interaction Type: radiogrou

[2022-08-01 17:16] jbphet commented on #758
I created this issue a while back, then apparently forgot to assign it to anyone.  I just double checked, and both of these files are new in TypeScript.  Closing.

[2022-08-01 17:16] #758 closed

[2022-08-01 18:26] jbphet commented on #759
In the comment just above, towards the end, @terracoda says  "I think by default, it's likely best not to sonify attempts to go beyond an edge."  This is in agreement with what the sound designers have said, so I think we will go with this, at least for the time being.

@terracoda also said, "[I]t might be a good idea to have the min and max sounds have an option to be different from the in betwee

[2022-08-01 18:26] #759 closed

[2022-08-03 22:51] samreid commented on #752
@jbphet can you please take the lead and reach out to me as appropriate?

[2022-08-11 20:24] zepumph commented on #763
What you have here seems totally good and fine with me.

PreferencesDialog has been converted to Typescript. Thanks all! Closing

[2022-08-11 20:24] #763 closed

[2022-08-13 02:25] jonathanolson opened #779 "branch: stringProperties"
See https://github.com/phetsims/chipper/issues/1302

[2022-08-13 23:35] samreid commented on #746
It reminds me of the patterns discussed in https://github.com/phetsims/phet-io/issues/1617 "tension between dependency injection and tandem structure".

[2022-08-13 23:58] samreid commented on #746
I made good progress in this patch (in TypeScript usage sites), but was uncertain how @pixelzoom would want to deal with VisibilityCheckboxGroup's `function createItem( string: string, property: Property<boolean>, providedOptions: ItemOptions ): VerticalCheckboxGroupItem {`

@pixelzoom can you please advise?

<details>

[code]

</details>

Also, as a note to myself for later, instead of:

[code]

[2022-08-15 14:11] samreid commented on #736
I completed all the requests above except for:

There is difficulty in this request, since PageControl can be used to control any item and Carousel doesn't define how PageControl layout works.  Here are some options:

* Leave it as it is and see if it is good enough.  The major downsides of the current implementation are (a) pageControl not nested under carousel, and making the carousel invisible

[2022-08-15 17:48] KatieWoe opened #780 "CT xAlign:stretch can only be used if WidthSizable is mixed into the content"
[code]

[2022-08-15 20:49] jbphet commented on #780
This is easy to duplicate using the sun demo.  Here are the steps:

1. Load the demo
2. Select the Layout screen
3. Select "Sizable buttons" from the combo box

I spent a little time investigating this and, while I understand the gist of the error message, I don't understand what has changed that is causing this error to start occurring, nor do I know what should be done about it.  Since this seem

[2022-08-15 22:37] arouinfar commented on #736
@samreid I reviewed in CCK:DC, and the carousel looks great! Thanks for providing more context around PageControl. I don't think we should force it anywhere or wire it up in an unorthodox way.

Currently `carousel` and `pageControl` are both children of `circuitElementToolbox`. Can we create `circuitElementToolbox.visibleProperty`?

[2022-08-16 02:44] samreid commented on #736
In the commit, I instrumented `circuitElementToolbox` and additionally featured its `visibleProperty`.  Let me know if that last part is not desired or if it should be in the overrides.  Otherwise, ready for review and please close if all is well.

[2022-08-19 20:50] arouinfar commented on #736
Thanks @samreid. I think `circuitElementToolbox.visibleProperty` looks good, and it should certainly be `phetioFeatured: true`. It seems appropriate to handle in the overrides since it is sim-specific, but I'll leave that up to you.

[2022-08-21 02:45] samreid commented on #736
Sounds good, thanks! I also noted that the `phetioFeatured: true` is advantageous in the code since `circuit-construction-kit-common` is used by several sims. Closing.

[2022-08-21 02:45] #736 closed

[2022-08-22 17:12] pixelzoom commented on #326
I feel like this was addressed via the AccessibleSlider trait.  Closing.

[2022-08-22 17:12] #326 closed

[2022-08-22 17:24] pixelzoom commented on #746
I'm not sure how to deal with that.

I'll also point out that in other places that use VisibilityCheckboxGroup, the checkbox labels are not being instrumented. For example, in balancing-act BasicBalaneScreenView.js:

[code]

That's a problem. And when someone notices it, then they'll have the same problem as geometric-options.

So... Maybe it's better not to make this change, and leave the API as

[2022-08-22 18:30] jonathanolson commented on #780
I believe the above should handle this. @KatieWoe can you let me know if this looks fixed in the future? CT looks red from other things right now.

[2022-08-22 20:48] KatieWoe commented on #780
CT looks clear. Closing

[2022-08-22 20:48] #780 closed

[2022-08-23 20:03] samreid opened #781 "Sun buttons do not resize correctly when their content has dynamic bounds."
Discovered in https://github.com/phetsims/chipper/issues/1302 by @jonathanolson and reviewed by @samreid and @zepumph .

[2022-08-23 21:07] zepumph commented on #781
As part of this issue. It would be helpful if you could explain why the button didn't work, but a nested VBox did. I don't really understand that part.

[2022-08-24 15:39] samreid opened #782 "Should CheckBox and other UI component LinkedElement property be phetioFeatured?"
In https://github.com/phetsims/density-buoyancy-common/issues/74 @marlitas and I discovered that CheckBox linked element `property` is not phet-io featured.  Is that by design?  Should it be changed to `phetioFeatured: true`?

<img width="1026" alt="image" src="https://user-images.githubusercontent.com/679486/186461666-91468eef-e406-42e6-ba9a-0b6be7318bd8.png">

[2022-08-24 15:39] samreid commented on #782
Mentioning @zepumph since he has worked in this area too.

[2022-08-24 18:13] arouinfar commented on #782
Yes, that would be great. I didn't realize this was something that could be handled in common code since every UI component has a sim-specific property powering it.

[2022-08-24 23:41] pixelzoom opened #783 "Should "resize" behavior be opt-in or opt-out?"
@kathy-phet asked me to put this on the Developer Meeting agenda with high priority.

While adding support for dynamic layout to Natural Selection in https://github.com/phetsims/natural-selection/issues/319, I discovered that sun buttons were not resizing when their associated Text changed.  @jonathanolson pointed me to the `widthSizable` true option, and explained that it currently defaults to `f

[2022-08-25 00:22] samreid commented on #782
I forgot that LinkedElement takes on the `phetioFeatured` value of the target element. Should we add an assertion that anything that gets added in a LinkedElement should be `phetioFeatured: true`?  I'm not sure what else to do here (if we keep the constraint mentioned in the 1st sentence).

[2022-08-25 17:40] samreid commented on #783
At today's dev meeting, the main question is whether we want UI components to be resizable or static by default.

@jonathanolson says: If buttons are resizable by default (which is a great long-term goal), then we would have to visit many sims and update them accordingly.

[2022-08-25 18:34] jonathanolson commented on #783
SHAs beforehand:

[code]

[2022-08-25 18:39] jonathanolson commented on #783
Buttons, accordion boxes and combo boxes should now be resizable by default. No infinite loops in sims that I noticed. @pixelzoom can you verify that this is fixing your cases?

[2022-08-25 20:46] zepumph commented on #782
Yes, I think so.

[2022-08-25 23:12] pixelzoom commented on #783
Verified that resize is on by default for sun buttons.  But there's a problem - the buttons only grow in width, the do never shrink in width.   For example, in Natural Selection:

When the sim starts in locale "en", the "Add a Mate" button looks like this:

<img width="117" alt="screenshot_1824" src="https://user-images.githubusercontent.com/3046552/186784283-f006179f-80ab-4bef-8c86-601c3f8b7518.p

[2022-08-25 23:12] pixelzoom commented on #783
I did not test AccordionBox or ComboBox. Does it have this same problem?

[2022-08-25 23:23] zepumph commented on #783
Yes, I was noticing trouble yesterday in AccordionBox in RAP, and after a pull things are much better!

![image](https://user-images.githubusercontent.com/6856943/186785827-b2c8d6af-7d5c-40a7-8476-4bf1021527ae.png)

[2022-08-25 23:33] pixelzoom commented on #783
I tested AccordionBox in RAP.  When going from 'en' > 'de' > 'en', the AccordionBox has the same width with the 'en' in both cases.

[2022-08-26 01:53] samreid commented on #782
I added a console.log to find all the un-featured core elements for linked elements.  I ran the report on all phet-io-api-stable sims and got this result:

<details>

[code]

<details>

There are 200 (some overlaps from voicingManager etc.).  Do we want to feature all of these?

[2022-08-26 16:52] pixelzoom commented on #782
It looks like `grunt generate-phet-io-api` has not been run for all sims.  I made unrelated changes to natural-selection this morning, and `phetioFeatured: true` was added for a larger number of StringProperties under `general.string.joist.a11Y`.  This was unexpected and confusing.

[2022-08-26 16:56] zepumph commented on #782
Yes! Agreed. Consistently it has been out of date for the last 2 weeks. The phetioFeatured was added in https://github.com/phetsims/chipper/commit/d2b106e08c42c805e082570609352aab5f39aefc for https://github.com/phetsims/axon/issues/408. The API files were just updated and committed in https://github.com/phetsims/phet-io-sim-specific/commit/1cc3810e5ce330135db6d9c77b7ec95091fe1cab to https://github

[2022-08-26 17:43] zepumph commented on #783
I see. I think I misunderstood the desired behavior.

I would also like to note a couple of potential CT problems stemming from here:

https://github.com/phetsims/build-a-nucleus/issues/49
https://github.com/phetsims/build-a-molecule/issues/232

[2022-08-26 17:48] zepumph commented on #783
Also seeing one in collision-lab:

[code]

[2022-08-26 18:11] jonathanolson commented on #783
I'm looking into the non-shrinking button issue. I don't believe it should be a problem with other things, it's mainly with how buttons had to do backward-compatible layout.

[2022-08-26 20:23] zepumph commented on #781
I'm pretty sure this issue is just a duplicate of https://github.com/phetsims/sun/issues/783

[2022-08-26 20:24] zepumph commented on #781
Oops, didn't mean to close.

[2022-08-26 21:20] zepumph commented on #355
This is an old review issue. We now have AccessibleValueHandler in typescript, so the documentation note is moot. Closing

[2022-08-26 21:20] #355 closed

[2022-08-27 03:06] samreid commented on #746
I added a note to my calendar to reach out to @pixelzoom in the coming week.  Self-unassigning until then.

[2022-08-27 15:49] samreid commented on #746
Now that we have TypeScript, we can specify the options like so:

[code]

This makes cases like VisibilityCheckboxGroup very nice:

[code]

Full patch for discussion.  I'll try to schedule a discussion with @pixelzoom this week.

<details>

[code]

</details>

[2022-08-29 15:07] samreid commented on #746
In review with @pixelzoom, we discovered IntroControlPanel.ts in MSB could use `createNode`

[2022-08-29 15:18] pixelzoom opened #784 "How to set `phetioIsVisiblePropertyInstrumented: false` for the content of Checkbox and AquaRadioButton"
How do we want to generally prevent PhET-iO clients from making the content of a Checkbox or AquaRadioButton invisible?  We don't want to end up with just the box of a Checkbox, or just the circular button of an AquaRadioButton.

Currently, we have to add `phetioIsVisiblePropertyInstrumented: false`. And I find myself having to do this for every Checkbox and AquaRadioButton.

How do we make this m

[2022-08-29 15:19] pixelzoom commented on #784
@samreid also wondered if we should set `phetioReadOnly: true` instead of `phetioIsVisiblePropertyInstrumented: false`.  Again, a question for designers.

[2022-08-29 15:41] pixelzoom commented on #746
@samreid and I reviewed. This looks like a great approach.  If applied here, it should also be applied (eagerly? as needed?) to other "groups" that have "items".

[2022-08-29 19:12] pixelzoom commented on #746
I just ran into this same problem in natural-selection GraphChoiceRadioButtonGroup, which extends VerticalAquaRadioButtonGroup.  I need to instrument the Text labels on the radio buttons, but I can't get the tandem hierachy correct -- to make each Text look like a child of each radio button.  The `createNode` approach proposed above seems like it would solve that problem.

[2022-08-30 01:11] pixelzoom commented on #746
In the above commits, I hacked together the desired tandem hierarchy (shown below) for GraphChoiceRadioButtonGroup.  It's super ugly, and should be replaced when AquaRadioButtonGroup has a better API for items (like the API discussed here for VerticalCheckboxGroup).  There's a TODO in the code referencing this issue.

<img width="271" alt="screenshot_1836" src="https://user-images.githubuserconten

[2022-08-30 05:20] samreid commented on #746
We'll need to assert that all cases are using `tandemName` like so:

[code]

[2022-08-30 14:18] pixelzoom opened #785 "ComboBox does not resize properly when its items have dynamic bounds."
Related to https://github.com/phetsims/sun/issues/783 ...

ComboBox's button is not resizing properly when its items involve StringProperty.  There are multiple problems, enumerated in the example below.

To reproduce in Geometric Optics:

1. Run the sim, go to Lens screen, open ComboBox at upper-left. Select from the ComboBox listbox. Note that the selected item is left-aligned on the button, and

[2022-08-30 14:18] pixelzoom commented on #783
ComboBox has major resize problems. See https://github.com/phetsims/sun/issues/785.

[2022-08-30 14:29] pixelzoom commented on #781
Not a duplicate of #783. This is a problem that is specific to #783.  And the resize behavior of sun buttons in general (not just push buttons that involve Text is incorrect, as reported in https://github.com/phetsims/sun/issues/783#issuecomment-1227843745.   So I'm going to generalize the title of this issue to reflect that.

[2022-08-30 14:31] pixelzoom commented on #783
Tracking the resize problems with sun buttons in https://github.com/phetsims/sun/issues/781.

[2022-08-30 14:37] pixelzoom commented on #785
ComboBoxListBox seems to be behaving as expected. The problem is ComboBoxButton.

[2022-08-30 18:00] jonathanolson commented on #785
This looks like it's related to the "button only grows instead of shrinks" issue. I'm looking into it.

[2022-08-31 05:00] samreid commented on #746
I added `tandemName` and `createNode` as new options on VerticalCheckboxGroupItem (as an alternative to `tandem` + `node`.). I exercised it in Geometric Optics in https://github.com/phetsims/geometric-optics/commit/8f2aa3ade847840777edeb26519dd4f017ed8f44.  @pixelzoom can you please review that change?

I'd like to try VerticalCheckboxGroup in gravity and orbits for https://github.com/phetsims/sce

[2022-08-31 13:16] samreid commented on #746
I have progress on AquaRadioButtonGroup (which also led to refactoring in VerticalCheckboxGroup), but won't be able to commit for a bit.  @pixelzoom may want to postpone review until I have more progress on this.

[2022-08-31 14:49] pixelzoom commented on #746
Changes to geometric-optics in https://github.com/phetsims/geometric-optics/commit/8f2aa3ade847840777edeb26519dd4f017ed8f44 look good. I'll defer further review until you're done with AquaRadioButtonGroup (and other groups?)

[2022-08-31 15:37] KatieWoe opened #786 "CT Designed API changes detected, please roll them back or revise the reference API:"
[code]

[2022-08-31 15:45] samreid commented on #746
I factored out ChildComponentOptions and added it to AquaRadioButtonGroup.  It seems to be working well.  @pixelzoom can you please review, and comment on the 2 TODOS listed referencing this issue?

[2022-08-31 17:16] jonathanolson commented on #785
In my working copy, I've handled the button issue, however this is still showing up with keyboard navigation:

<img width="273" alt="image" src="https://user-images.githubusercontent.com/480878/187739743-9fe224d0-387d-4cec-9b17-54168527aad5.png">

[2022-08-31 17:24] jonathanolson commented on #781
Handled above. @samreid can you confirm?

[2022-08-31 17:28] jonathanolson commented on #785
I believe https://github.com/phetsims/sun/issues/781 fixed the main layout work for this. @pixelzoom can you verify, or see if there is anything else that needs to be done?

[2022-08-31 17:31] jonathanolson commented on #783
I'm unable to reproduce the collision-lab issue (and don't see it on CT). It seems like everything is being handled in issues. @zepumph do you know anything else to be done for this issue?

[2022-08-31 18:01] jbphet commented on #786
I just met to discuss with with @zepumph, and the problem was related to recent changes to add directional marks to strings.  He has committed changes that are expected to fix it.  I'll monitor CT and close this issue if and when it looks clear.

[2022-08-31 18:29] zepumph commented on #746
I'm sorta out of this issue here, but I don't really understand how this code works:

https://github.com/phetsims/sun/blob/5bdfecf478b6355c22d9a127416efa48382918bc/js/VerticalCheckboxGroup.ts#L20-L24

ChildComponentOptions requires a `tandem` and not a `tandemName`. But the opposite is true for VerticalCheckboxGroup?

No matter, whatever you want to do here, I would recommend an assertion to help

[2022-08-31 18:31] zepumph commented on #783
I don't see the issues reported from CT anymore. I really haven't followed this issue in the slightest, but perhaps you already knew that and feel ok about me closing this issue. Please reopen if you see anything else!

[2022-08-31 18:31] #783 closed

[2022-08-31 18:32] pixelzoom commented on #746
Problem in fcdc2a0cb04fa002e0d1bd2132ed0826c2954d8c.  You're never using the `tandem` argument to `createNode`.  RaysRadioButtonGroup.ts:

[code]

I can fix this later, unles you want to have a go. But has this been done elsewhere?

[2022-08-31 19:03] jbphet commented on #786
The last round of CT, which was from 10:35 today, was clear for sun, so I think it's now safe to close this issue.

[2022-08-31 19:03] #786 closed

[2022-08-31 19:07] samreid commented on #746
I addressed several cases like this, must have missed some.  I'll take a look.

[2022-08-31 19:11] samreid commented on #746
That looked like the only missed case, nice catch!  I fixed it in the commit.

[2022-08-31 19:12] samreid commented on #746
Thanks, I corrected that bug in https://github.com/phetsims/sun/commit/4ec0a6c615d317ee2242198ccb6f62e04c244056.  ChildComponentOptions says: "If you pass in a Node, you can also pass in a Tandem.  Or if you use `createNode` then you can specify `tandemName`".

[2022-08-31 20:36] jessegreenberg commented on #781
I am seeing some layout regressions in sun buttons and thought it could be related to this issue. For example
<details><summary>Radio buttons in moleculesl-and-light</summary>

![image](https://user-images.githubusercontent.com/6396244/187776864-4c0c6263-7191-4aa0-88cc-2db39d61c9b7.png)

</details>

<details><summary>Radio buttons in function-builder</summary>

![image](https://user-images.githubu

[2022-09-01 01:04] samreid commented on #781
@jonathanolson can you please take the lead on the preceding comment before I review?

[2022-09-01 02:36] jonathanolson commented on #781
There was a flow for buttons setting specific sizes that wasn't handled, that should be fixed with the above commit.

[2022-09-01 16:07] zepumph commented on #746
I still see the error in FAMB:

[code]

[2022-09-01 21:07] pixelzoom commented on #781
Reviewed behavior in the context of Natural Selection, and button resize behavior is now as expected.  I did not review the code changes. Closing.

[2022-09-01 21:07] #781 closed

[2022-09-01 21:09] pixelzoom commented on #785
Reviewed in the context of Geometric Optics combo box. Resize behavior is now as expected, including focus highlight. I did not review code changes. Closing.

[2022-09-01 21:09] #785 closed

[2022-09-01 21:26] pixelzoom commented on #746
API-wise, this is looking nice.  But AquaRadioButtonGroupItem and RectangularRadioButtonItem now have very different APIs. Can/should they be more similar?

[2022-09-01 21:33] samreid opened #787 "RectangularRadioButtonItem API should allow createNode/tandemName"
From https://github.com/phetsims/sun/issues/746#issuecomment-1234801112, @pixelzoom said:

[2022-09-01 21:33] samreid commented on #746
Thanks, I'll do that in https://github.com/phetsims/sun/issues/787

[2022-09-02 02:15] samreid commented on #746
Passing in `node` and `tandem` is still supported. The new API if `createNode` + `tandemName` is opt-in and type checked.  Can be used for new development, so I haven't added an assertion due to our precedent that we can relax assertions for new code in TypeScript.

This issue is ready for review.  RectangularRadioButtonAPI will be done in https://github.com/phetsims/sun/issues/787.  @pixelzoom wo

[2022-09-02 03:20] samreid commented on #787
I got very far on this but it is very complicated and I wanted to call for help.  Current status:

<details>

[code]

</details>

Perhaps after @pixelzoom or @zepumph reviews https://github.com/phetsims/sun/issues/746#issuecomment-1234801112 we can discuss this one?

[2022-09-06 15:23] pixelzoom commented on #746
Looking good.

One naming consideration... `ChildComponentOptions` seems perhaps a little too general.  How about `GroupItemOptions`, since (so far) it's added to types that have a "GroupItem" suffix, like VerticalCheckboxGroupItem, AquaRadioButtonGroupItem, etc.  Or do you intend it to be used with things that are not a "group"?

[2022-09-06 15:32] samreid commented on #746
I renamed it in the commits.

It was unclear how generally useful it will be.  The pattern of passing `tandem => Thing` instead of `Thing` seems more broadly usable.  But this pattern didn't work out of the box for https://github.com/phetsims/sun/issues/787, so GroupItemOptions sounds ok for now?  Ready for re-review.

[2022-09-06 15:57] pixelzoom commented on #746
👍🏻 closing

[2022-09-08 19:00] zepumph commented on #784
We discussed this in PhET-iO meeting, looking at NATURAL_SELECTION/WolvesCheckbox, and we feel like there is a good chance that most of this will be solved in https://github.com/phetsims/scenery/issues/1447, where text Nodes won't get a visibleProperty by default.

The content for a checkbox/radioButtonGroup most often doesn't get instrumented unless it was a text (for string editability), so we w

[2022-09-08 19:00] #784 closed

[2022-09-08 21:35] samreid commented on #746
As discovered in https://github.com/phetsims/chipper/issues/946, there are TODOs in the code referring to this issue.  Reopening.

[2022-09-08 22:46] pixelzoom commented on #746
There's also a problem with AquaRadioButtonGroupItem that I've discovered while converting BLL to TypeScript.

The `node` options was supposed to be retained for backward compatiblity.  This TS conversion in SoluteFormRadioButtonGroup.ts should work:

[code]

Instead, I'm getting error:

If I replace the `node` options with `createNode`, the error goes away:

[code]

[2022-09-10 22:09] pixelzoom opened #788 "Buggy layout using ComboBox with layoutNode option"
To demonstrate, make this change in BLL SolutePanel.ts:

[code]

The result looks like this:

<img width="271" alt="screenshot_1862" src="https://user-images.githubusercontent.com/3046552/189503359-9d816b9d-5084-4273-b2bd-8f588e99c56b.png">

I'm guessing that the optional `labelNode` was not considered when resize behavior was implemented for ComboBox, and it's assuming that the ComboBoxButton des

[2022-09-12 21:09] pixelzoom commented on #788
ComboBox is also not adjusting it's layout when `labelNode` changes size.  This bit of code probably needs to be replaced with an HBox:

[code]

[2022-09-12 22:50] pixelzoom opened #789 "NumberDisplay does not fully support dynamic text"
NumberDisplay does not fully support dynamic text.  @jonathanolson added support to the `valuePattern` option, but did not address the `numberFormatter` option.  And I can see why, because it's not straightforward, or even obvious what can/should be done.

This is blocking beers-law-lab https://github.com/phetsims/beers-law-lab/issues/288.

@kathy-phet do you want me to address this?

[2022-09-12 23:05] jonathanolson commented on #789
Does `NumberDisplay.setNumberFormatter` not work for your case? Were you wanting a `numberFormatterProperty` option?

[2022-09-12 23:13] pixelzoom commented on #789
Pretty hideous API (see below), but I'll roll with it.  Closing.

[code]

[2022-09-12 23:13] #789 closed

[2022-09-13 14:09] #779 closed

[2022-09-13 14:23] pixelzoom commented on #788
To see this in BLL, you can look at the label + ComboBox in either screen.  Here's the Solute ComboBox in the Concentration screen.  Note (1) the extra space between the label and the ComboBox, (2) the incorrect ComboBox resize behavior, causing it's parent VBox to resize incorrectly.

<img width="395" alt="screenshot_1865" src="https://user-images.githubusercontent.com/3046552/189926679-589bf7d9-

[2022-09-13 15:43] pixelzoom commented on #746
That's not the case. Before you started work on AquaRadioButtonGroupItem, it was defined like this:

[code]

So two usages were broken in BLL. There may be others.

For `getNodes` in GroupItemOptions.ts... Since it's exported, I'd probably rename it to `getGroupItemNodes`, to avoid name collisions.

For disposal of "item" Nodes... This TODO should be addressed. If you didn't create it, then you sh

[2022-09-13 17:00] jonathanolson commented on #788
Confirmed that it's an oversight of mine in ComboBox layout, it's not respecting preferred sizes correctly with a labelNode. I should have this fixed up today.

[2022-09-13 19:10] jonathanolson commented on #788
@marlitas and I fixed this in the above commit. @pixelzoom can you verify? Apologies about that.

[2022-09-13 20:27] pixelzoom commented on #788
No apologies necessary. Looks and behaves great in BLL.  Thanks for the quick turnaround. Closing.

[2022-09-13 20:27] #788 closed

[2022-09-20 18:06] jbphet opened #790 "CT: Uncaught Error: Assertion failed: Designed API changes detected, please roll them back or revise the reference API"
There is a CT failure on sun, and it has been there since yesterday, so I should probably investigate.  Here's the error:

<details>

[code]

</details>

[2022-09-20 18:08] jbphet commented on #790
I can duplicate the issue locally using the query parameter string in the issue, so my local URL is http://localhost:8080/sun/sun_en.html?ea&brand=phet-io&phetioStandalone&phetioCompareAPI&randomSeed=332211.

Running `Running "generate-phet-io-api" task` makes the problem go away locally, so I'll commit the resultant changes and keep an eye on CT and see if it clears up.

[2022-09-20 20:27] jonathanolson opened #791 "TextPushButton with a maxWidth can result in buggy layout cases"
NOTE: Cases seem to be resolvable by using maxTextWidth instead (and that's preferable), but this indicates something broken in how we're doing layout.

To reproduce:

1. In WOAS's RestartButton, replace maxTextWidth with maxWidth.
2. Run WOAS with a long string test (e.g. `&stringTest=asrtaslrtknalrstknalsrktnalsrktnalsrktnalskrntalskrntalksrntasrt`)

Result:

<img width="423" alt="image" src="ht

[2022-09-20 20:33] jonathanolson opened #792 "Slider dynamic layout (sizable)"
Slider isn't yet a sizable component. This is blocking some work in my-solar-system and will block other dynamic layout in some sims.

I have some stashed changes in progress here.

[2022-09-21 04:18] jonathanolson commented on #791
The button is properly sized until it is put into an HBox.

Then it gets a preferred size somehow set that is iterating the scale up (and the localPreferredWidth goes WELL below the minimumWidth). This stops once the scale is approximately back at 1 (so no INFINITE loop)

If we increase the scale (due to maxWidth not needing as much of a reduction), then it lowers the localPreferredWidth to a bugg

[2022-09-21 16:46] jbphet commented on #790
CT is now clear.  Closing.

[2022-09-22 23:24] jbphet commented on #790
During today's developer meeting we discussed CT issues related to the phet-io API, and used this issue as an example.  I mentioned that I fixed this CT issue without really investigating why the API had changed, and it was recommended that I dig a little deeper and make sure that the API change is okay.  I'll reopen the issue.

[2022-09-22 23:27] jbphet commented on #790
I've looked over the commit that resulted from the regeneration of the phet-io API file (see above), and the most significant portions seem to be related to `availableScreensProperty`, `selectedScreenProperty`, and `simTitleWithScreenNamePatternStringProperty`, which originate in joist.  Since @samreid is the responsible dev for joist, I'm going to assign this issue to him to determine whether the

[2022-09-26 21:18] pixelzoom commented on #772
Raising the priority of this.  This has been broken for way too long.  @jbphet can you please take a look?

[2022-09-27 03:45] samreid commented on #790
Looks like things were added and `phetioReadOnly` values were revised.  The string changes are to be expected.  @jessegreenberg can you comment on the a11y ones?

[2022-09-27 19:24] pixelzoom commented on #772
@Nancy-Salpepi reported this problem in Slack#dev-public, which seems related:

<img width="283" alt="Screen Shot 2022-09-27 at 3 10 51 PM" src="https://user-images.githubusercontent.com/3046552/192617318-eee853c4-f838-4618-a021-506cde88af8c.png">

[2022-09-27 20:01] pixelzoom opened #793 "AquaRadioButtonGroupItem results in incorrect tandem"
@veillette and I ran across this problem today in Calculus Grapher.  Using this form of AquaRadioButtonGroupItem:

[code]

... we were unable to get proper tandems for the item, and kept getting "placeholder" prefixes:

<img width="331" alt="screenshot_1893" src="https://user-images.githubusercontent.com/3046552/192623416-3224fe51-da70-4720-9d72-51a3c99510d9.png">

Here's a patch that will demonst

[2022-09-27 20:02] pixelzoom commented on #746
As noted in https://github.com/phetsims/sun/issues/746#issuecomment-1245598878, there's something very wrong with AquaRadioButtonGroupItem.  And https://github.com/phetsims/sun/issues/793 was discovered today.

Raising priority and labeling as blocking.

[2022-09-27 20:06] pixelzoom commented on #793
The bug is in AquaRadioButtonGroup, line 118:

[code]

So `item.tandem` is ignored, never used.  This is also likely to be the source of the problem reported in https://github.com/phetsims/sun/issues/746#issuecomment-1245598878.

[2022-09-27 20:08] pixelzoom commented on #793
This is also a problem:

It should be:

[2022-09-27 20:11] pixelzoom commented on #793
Yikes, there's an even bigger problem here:

(1) The tandem names will change on each run, breaking the API.
(2) The tandem names are not guaranteed to be unique.

[2022-09-27 20:48] pixelzoom opened #794 "Deprecate legacy support in GroupItemOptions"
GroupItemOptions is used to specify the "items" in various "groups" -- AquaRadioButtonGroup, VerticalCheckboxGroup, etc.

It currently supports 2 mutually-exclusive ways of specifying options:

[code]

Supporting both complicates code, and can result in problems (e.g. https://github.com/phetsims/sun/issues/793#event-7472017982).   So we'd eventually like to deprecate and remove support for "the le

[2022-09-27 20:49] pixelzoom commented on #793
Simplifying GroupItemOptions will be tracked in https://github.com/phetsims/sun/issues/794.

Closing.

[2022-09-27 20:49] #793 closed

[2022-09-27 20:53] pixelzoom commented on #794
VerticalCheckboxGroupItem and AquaRadioButtonGroupItem are currently the only places where GroupItemOptions is used.

There are 12 occurrences of `import VerticalCheckboxGroup  `, 14 occurrences of `import AquaRadioButtonGroup `.

[2022-09-27 21:02] pixelzoom commented on #746
Re https://github.com/phetsims/sun/issues/746#issuecomment-1245598878 ...  There are more sims that are using the `{ node: Node, tandemName: string }` form of AquaRadioButtonGroupItem, which is now verbotten.

* gas-properties HoldConstantControl
* hookes-law EnergyVisibilityPanel
* hookes-law SpringForceRadioButtonGroup
* molecule-shape RealMoleculesScreenView
* states-of-matter AtomicInteraction

[2022-09-27 21:10] samreid commented on #746
OK if I work toward the `createNode/tandemName` API, and eliminate the `node/tandem` API for cases like these?

[2022-09-27 21:15] pixelzoom commented on #746
That sounds nice, and is the subject of https://github.com/phetsims/sun/issues/794.

[2022-09-27 22:48] samreid commented on #794
I'm going to remove the legacy way and port all sims to use the new way.

[2022-09-27 22:57] samreid commented on #794
After changes in https://github.com/phetsims/sun/issues/794, you can no longer specify node/tandem to AquaRadioButtonGroup and VerticalCheckboxGroup.  Instead, please use `createNode` and `tandemName`.

I've left a few ts-ignore TODOs in the code for this issue, for after a few CT cycles.

[2022-09-28 00:17] samreid commented on #746
In https://github.com/phetsims/sun/issues/794, I converted all legacy usages to the new pattern and added assertions to guard against the legacy pattern.  Can this issue be closed?

[2022-09-28 15:52] pixelzoom commented on #794
Slack#continuous-testing:

Kathryn Woessner
 [Today at 9:30 AM](https://phetsims.slack.com/archives/C03D6JMPAHF/p1664379018228009)
A number of sims are failing with an error that contains e.createNode is not a function.  Any ideas?

Sam Reid
  [19 minutes ago](https://phetsims.slack.com/archives/C03D6JMPAHF/p1664379185091499?thread_ts=1664379018.228009&cid=C03D6JMPAHF)
That’s me, I’ll take a look,

[2022-09-28 16:00] pixelzoom opened #795 "RectangularRadioButtonItem.tandem is ignored."
Related to https://github.com/phetsims/sun/issues/787 ...

RectangularRadioButtonItem has the same problem as reported in https://github.com/phetsims/sun/issues/793 - RectangularRadioButtonItem.tandem is ignored.

[2022-09-28 16:00] pixelzoom commented on #787
Moved to https://github.com/phetsims/sun/issues/795

[2022-09-28 16:47] samreid commented on #794
My earlier test unfortunately only ran aqua for the PhET-iO Sims. I reran aqua for all sims and things are looking much better now. Thank you for bringing this to my attention. I will continue to watch CT over the next few columns in case things were missed by fuzzing here.

[2022-09-28 20:18] jbphet commented on #772
I've investigated this, and found that some of the changes I made when porting this to TypeScript removed some default behaviors that were needed.  I've put those back, and verified the behavior on several sims (see list below), and they seem to be behaving correctly now.

For reference, the sims I checked were molecules-and-light, equality-explorer, gravity-and-orbits, models-of-the-hydrogen-atom

[2022-09-28 20:38] jbphet commented on #754
After making the commits shown above, I closely compared the buttons to those found in published versions of the sims, and they look a little different.  I'm not sure that this is the result of my changes, because I didn't check prior to making the changes, but I could back them out and find out for sure if necessary.  But the differences are fairly subtle, and might not really matter, so I'm goin

[2022-09-29 13:57] pixelzoom commented on #746
No, there are 2 TODOs for this issue that have not been addressed. And the feeddback that you asked for related to `getNodes` has not been addressed.  My feedback was in https://github.com/phetsims/sun/issues/746#issuecomment-1245598878.

[2022-09-29 14:03] pixelzoom commented on #787
@samreid said:

@samreid does this get any less complicated by the simpification of GroupItemOptions that was made in #794?

[2022-09-29 20:50] pixelzoom commented on #787
I suspect that the fix will be similar to the fix for #793 in https://github.com/phetsims/sun/commit/c094a991db939093aa6d181e4508601c1a8e803d.  Here's a patch:

[code]

[2022-09-29 20:50] pixelzoom commented on #795
I suspect that the fix will be similar to the fix for #793 in https://github.com/phetsims/sun/commit/c094a991db939093aa6d181e4508601c1a8e803d.  Here's a patch:

[code]

[2022-10-03 18:53] jbphet commented on #772
@pixelzoom and I discussed this code, and decided to add some commentary and otherwise leave it as is, since it works reasonably well and sims seem to be relying on it.  I've added the docs.  Closing.

[2022-10-03 18:53] #772 closed

[2022-10-03 19:24] jbphet commented on #754
I reviewed the visual changes with @arouinfar and @pixelzoom (in separate discussions), and we all agreed that they are insignificant enough that we don't need to investigate why the differences exist.  Assigning to @pixelzoom to review.

[2022-10-03 19:42] pixelzoom commented on #754
I’m still seeing “appearance strategy” problems with zoom buttons.  They are missing stroke. For example, in Natural Selection:

<img width="132" alt="screenshot_1898" src="https://user-images.githubusercontent.com/3046552/193664534-ae19d2c1-47cd-4334-8341-4cd4fa74b6b4.png">

They should look like this:

<img width="132" alt="screenshot_1899" src="https://user-images.githubusercontent.com/3046552/

[2022-10-03 20:06] arouinfar commented on #754
The examples I reviewed with @jbphet didn't include a case where two buttons are in direct contact, like the zoom buttons  The lack of a stroke separating the zoom buttons seems problematic to me.

[2022-10-03 22:50] pixelzoom opened #796 "Alt input is broken for momentary buttons."
I have a RoundMomentaryButton in ph-scale.  It's the button on scenery-phet DropperNode, and looks like this:

<img width="155" alt="screenshot_1901" src="https://user-images.githubusercontent.com/3046552/193698258-e6e346f1-cee3-4b7a-984a-497781dec160.png">

RoundMomentaryButton and RectangularMomentaryButton) do not currently work correctly with alt input.  A momentary button is a toggle button t

[2022-10-03 22:53] pixelzoom commented on #796
Sky#a11y-dev discussion:

Michael Kauzmann
I don't believe that we have gotten to momentary buttons yet, checking

Michael Kauzmann
I see that on space, it is the keyup that triggers the button, but with enter, it is key down, so by holding enter, you get momentary behavior. Is that what you see?

Chris Malley
Yeah, I’m digging into it.  Looks like there were some assumptions made about buttons th

[2022-10-04 19:13] terracoda commented on #796
I am so glad we are looking at the dropper button interaction, aka "momentary button".

The PhET code base has many more button interactions than want can be represented natively in HTML, so we might need to think outside the box a little.

In a browser, both Enter and Space are keys that activate buttons. And as you noticed they do not function in exactly the same way. In contrast, only Enter can

[2022-10-04 19:26] terracoda commented on #796
And by HTML button, I mean, any HTML code that is communicated as a button, for example (and this is rough):
[code]

[2022-10-04 19:31] terracoda commented on #796
We can make custom widgets that look like buttons. It's harder to make a custom widget sound good with a screen reader, so if we can find a way for a button to work well for the eye-dropper interaction, I think that will be a good thing.

[2022-10-04 19:40] terracoda commented on #796
I am wondering if Enter can turn it on/off to squirt a little and holding Space can be used to fire a continuous stream? Would that be a good thing for users and working a browser?

[2022-10-05 00:08] jbphet commented on #754
Here is another instance from the bamboo repo demo:

![image](https://user-images.githubusercontent.com/3082831/193952524-f3ff7a0e-aaab-45f8-a172-ec6e29919ce4.png)

[2022-10-05 00:19] jbphet commented on #754
The problem with missing strokes for Zoom buttons using the flat appearance strategy was because in the course of porting this code to TypeScript, I'd changed to code to only create a default stroke if the provided stroke was `undefined`.  The previous code created a default stroke when any falsey value, including `null`, was provided as the stroke, and some of the base classes set this value expl

[2022-10-05 13:45] terracoda commented on #796
Oh, that should be the other way around and more like this:
- Enter & Space might both turn the eye-streamer button on/off to squirt a little - this would require 2 toggles - once to on, and once to off.
- Pressing & holding the Enter key would allow for a continuous stream.
- Pressing & holding Space key doesn't do anything as a key-up is required to fire an interaction with Space key.

The quest

[2022-10-05 14:03] jessegreenberg commented on #796
I had the same question, I am worried that some AT won't give us `keydown`/`keyup` events for `button` elements. Profiling DOM events while using screen readers is the first step for solving this.

I remember reviewing this case with the team and we predicted it would be difficult. Press and hold is generally not done (even discouraged) for accessibility and it does not have good native support wi

[2022-10-05 14:26] jessegreenberg commented on #790
Sorry, I am not familiar with this change. @zepumph can you comment on whether these Properties related to Voicing should be `phetioReadonly`?

[2022-10-05 17:02] zepumph commented on #790
@samreid the "a11y ones" are from https://github.com/phetsims/utterance-queue/commit/6a48435a915bd55435dd94cdb7fb2c9853e873e6.

Looks like sun wasn't updated when we added the new screen Properties as well.

The readonly string changes are from https://github.com/phetsims/joist/commit/1adfb13b169f9176343386497b913c3d313d19a7

I can't help but feel like part of the issue is removing many sims from

[2022-10-06 16:26] zepumph commented on #707
Subset of https://github.com/phetsims/scenery/issues/1298

[2022-10-06 16:26] zepumph commented on #702
Subset of https://github.com/phetsims/scenery/issues/1298

[2022-10-06 16:26] zepumph commented on #703
Subset of https://github.com/phetsims/scenery/issues/1298

[2022-10-07 03:20] samreid commented on #790
I skimmed the API delta and wasn't worried about any of the a11y or readonly changes.  If there is indeed a problem, I would hope it resurfaces during design review or QA testing.  Closing.

[2022-10-07 03:20] #790 closed

[2022-10-07 18:22] samreid commented on #795
I think the patch looks correct.  I committed it over 2 commits since I wasn't sure `item.tandem` was necessary in the first commit.  But since `tandem` is supported as an option, I realized it is necessary.

In https://github.com/phetsims/sun/issues/787#issuecomment-1261120682 once we eliminate `tandem` as an option, we can simplify this part.  I'll make a note in #787.

Ready for review.

[2022-10-07 18:23] samreid commented on #787
Once we eliminate the `tandem` option, we can eliminate this line https://github.com/phetsims/sun/commit/68e494d841953e4a7edf242ca5ae9ed3f39d0f0e

[2022-10-07 18:24] pixelzoom commented on #795
👍🏻 Agreed, `tandem` will be made unnecessary here once #787 is addressed.  Thanks for working on this. Closing.

[2022-10-07 18:24] #795 closed

[2022-10-07 18:45] samreid commented on #746
Thanks, I addressed the rename, and disposal in the commits.  I also updated some documentation.  I'll continue in https://github.com/phetsims/sun/issues/787.  But this issue itself seems ready for review.

[2022-10-07 19:57] samreid commented on #787
I'll message slack and the google group:

In https://github.com/phetsims/sun/issues/787 we committed an API breaking change. RectangularRadioButtonItem no longer uses node + tandem, it now uses createNode + tandemName.

[2022-10-07 19:59] samreid commented on #787
Implemented and ready for review. @pixelzoom do you have time to take a look?

[2022-10-07 20:00] samreid opened #797 "Use GroupItemOptions for ComboBox"
After working on https://github.com/phetsims/sun/issues/787, I'm thinking we should apply the same pattern (createNode + tandemName) for ComboBoxItems.  @pixelzoom does that sound good to you?  If so, please assign to me and I can take the lead.

[2022-10-07 20:20] pixelzoom commented on #797
Apply this pattern to ComboBoxItems does sound like the right thing to do. Thanks for taking the lead.

[2022-10-08 01:30] samreid commented on #797
Progress so far:

<details>

[code]

</details>

[2022-10-08 03:02] samreid opened #798 "Use GroupItemOptions for ToggleNode"
Like https://github.com/phetsims/sun/issues/797 but for ToggleNode

[2022-10-09 23:39] samreid commented on #794
This seems fixed, closing.

[2022-10-09 23:39] #794 closed

[2022-10-10 20:13] samreid commented on #797
I'd like to work on https://github.com/phetsims/sun/issues/798 first, going on hold until then.

[2022-10-11 14:41] samreid opened #799 "GroupItemOptions should have value"
Discovered in https://github.com/phetsims/sun/issues/798, I observed that every usage of GroupItemOptions has a corresponding value of type T. Perhaps it would be appropriate to factor out.

[2022-10-11 14:55] samreid commented on #798
Fixed, and noting that I'm leaving some occurrences like `createNode => myNodeIAlreadyCreated` as future sim-specific work that can be accomplished when that sim is instrumented.  Closing.

[2022-10-12 15:27] marlitas commented on #791
I believe I remember us fixing this, and I also tried to reproduce and couldn't, so closing as completed!

[2022-10-12 15:27] #791 closed

[2022-10-12 22:21] samreid commented on #799
I found this exception

[code]

So now I don't think we should do this anymore. Closing

[2022-10-12 22:21] #799 closed

[2022-10-13 17:35] #48 closed, assigned to jonathanolson

[2022-10-13 20:23] jessegreenberg commented on #730
@zepumph can this be closed now? Slider + Voicing work also happened in https://github.com/phetsims/joist/issues/854.

[2022-10-13 22:25] #730 closed

[2022-10-14 20:45] zepumph opened #800 "ToggleSwitch pixel polishes"
@chrisklus and I found a couple strange and small issues with toggleswitch.

1. When resting in either state, the lineWidth thickness is too thick on the left/right compared to all other spots in the circle
2. the Green background should never be to the right of the thumb node. This behavior is like an iPhone switch.

These will both be straightforward to do, so we will just try them out and see h

[2022-10-14 21:28] chrisklus commented on #800
@zepumph and I made changes in the above commits. We like them! I'm very excited. Closing.

[2022-10-14 21:28] #800 closed

[2022-10-16 13:07] pixelzoom commented on #746
Looks good, including VerticalCheckboxGroup `dispose`.

One nit about how Node that were created with `getGroupItemNodes`are disposed... For example in VerticalCheckboxGroup:

[code]

That implementation iterates over parallel arrays, and assumes that checkbox.length === node.length.  That will probably never be a problem.  But this would be more robust, and less verbose:

[code]

Back to @samreid

[2022-10-16 13:18] pixelzoom commented on #746
Inspecting places where `getGroupItemNodes` is called, I found 2 more memory leaks, in ToggleNode and RectangularRadioButtonGroup.  Fixed in the above commits.

I also noticed that ToggleNode and RectangularRadioButtonGroup used `forEach` in `dispose`, so I change VerticalCheckboxGroup and AquaRadioButtonGroup to do the same, as described in https://github.com/phetsims/sun/issues/746#issuecomment-

[2022-10-16 13:33] pixelzoom commented on #787
Looks good.  Memory leak fixed in https://github.com/phetsims/sun/commit/b887e81ed43769c046ef9b1da5e2492db9008e63. Closing.

[2022-10-16 13:40] pixelzoom commented on #754
I took a quick look through the code and commits, and I don't see anything that looks problematic.  The example in natural-selection and bamboo demo also look OK now.

Back to @jbphet in case there's anything else to do here.

[2022-10-17 17:17] jbphet commented on #754
Thanks for the review, I think that should do it.  Closing.

[2022-10-17 17:17] #754 closed

[2022-10-18 00:11] samreid commented on #746
The changes look correct to me, thanks! Anything else to do here?

[2022-10-18 12:30] pixelzoom commented on #746
👍🏻 closing.

[2022-10-18 12:30] #746 closed

[2022-10-19 08:24] jonathanolson commented on #792
Progress:

<img width="851" alt="image" src="https://user-images.githubusercontent.com/480878/196635297-1d5262c3-0a77-4750-ba7f-55fdb54a6c3c.png">

There's a fun linear optimization problem hiding in plain sight (perhaps a high-performance iterative solution will work):

- We can compute a minimum size (given the minimum track size, see where the tick labels go, and include those).
- HOWEVER adjus

[2022-10-19 08:25] jonathanolson commented on #792
Patch:

[code]

[2022-10-19 19:38] jonathanolson commented on #792
Current patch:

[code]

[2022-10-20 14:47] jessegreenberg commented on #706
https://github.com/phetsims/sun/commit/b60bb7f5efd8a4b8b1f8a0cb3dcea32722d3c42d is an example for this issue. This commit makes it so that the Checkbox hides its icon for a screen reader user and the traversal order. That way the developer doesn't need to remember to do that if the icon happens to be focusable.

We would like to do this throughout UI components.

[2022-10-20 16:21] jonathanolson commented on #792
Latest patch, since I noticed the thumb width handling should be handled somewhat independently of the visual overflow. The thumb won't go out quite that far!

[code]

[2022-10-20 16:50] jessegreenberg opened #801 "Use DelayedMutate for AccessibleSlider stack"
AccessibleSlider trait pattern requires you to specify the index of options so that it knows where to put them when forwarding to the super call. DelayedMutate makes this unnecessary and it would be great if we could use it so that we don't have to specify the options position in the args. In order to use DelayedMutate the options all have to have a get/set function (like mutator keys). So this wo

[2022-10-20 17:32] jonathanolson commented on #792
Pushed the changes above. I'll probably take a few more steps to complete the dynamic range changes (leaving open and assigned to me).

[2022-10-20 18:33] jonathanolson opened #802 "Dynamic range in Slider"
Most work accomplished in https://github.com/phetsims/sun/issues/792, I'll enable this shortly (and there will be a sound TODO).

[2022-10-20 19:08] jonathanolson commented on #802
Slider allows dynamic ranges above, with the one issue: I didn't see an easy way to move ValueChangeSoundPlayer to a dynamic range (i'm not as familiar).

Right now, it's constructed with the initial range.

@jbphet do you know whether ValueChangeSoundPlayer should adjust to a dynamic range?

[2022-10-20 21:47] jonathanolson opened #803 "AccordionBox should be resizable"
Implementation will be similar to Panel/ButtonNode. It should use the mixin Sizable.

[2022-10-20 21:57] jonathanolson opened #804 "Dialog and AccessibleNumberSpinner should use dynamic strings"

[2022-10-21 03:26] pixelzoom opened #805 "Replace HSeparatorDeprecated and VSeparatorDeprecated"
Replace HSeparatorDeprecated and VSeparatorDeprecated with HSeparator and VSeparator respectively.  They should NOT be instrumented for PhET-iO (see https://github.com/phetsims/scenery/issues/1480). Then delete the deprecated classes.

HSeparatorDeprecated occurrences:
- [x] blackbody-spectrum @jbphet (done by @pixelzoom)
- [x] build-a-nucleus @Luisav1 @marlitas - see https://github.com/phetsims/b

[2022-10-21 04:17] pixelzoom commented on #805
Done with my occurrences, unassigning.

[2022-10-21 13:48] veillette opened #806 "Agreement between AquaRadioButtonGroup and RectangularRadioButtonGroup"
I am currently converting a AquaRadioButtonGroup to RectangularRadioButtonGroup in Calculus-Grapher.

There is a nice parallel between the API of AquaRadioButtonGroup and RectangularRadioButtonGroup. Since going from one group of buttons to the next is probably a frequent design change,

It was almost a simple drop in, but I had to do some digging for the type.

For type checking in RectangularRad

[2022-10-21 21:25] marlitas commented on #792
I added some review comments with questions/ suggestions. The biggest concern for me right now is the usage of "this" and "other" in the documentation. It's very confusing... I'm not sure if my suggestions are any better but I think finding an appropriate replacement would greatly help with legibility in `CompletePieceWiseLinearFunction`.

I also wanted to point out that the documentation in the `

[2022-10-22 02:58] pixelzoom commented on #806
Agreed, the naming is inconsistent. Since we also have VerticalCheckboxGroupItem for VerticalCheckboxGroup, let's rename RectangularRadioButtonItem to RectangularRadioButtonGroupItem.

[2022-10-22 03:00] pixelzoom commented on #806
Agreed, the naming is inconsistent. Since we also have VerticalCheckboxGroupItem for VerticalCheckboxGroup, let's rename RectangularRadioButtonItem to RectangularRadioButtonGroupItem. I'll do the rename.

@samreid FYI, since you worked on RectangularRadioButtonGroup recently.

[2022-10-22 03:05] pixelzoom commented on #806
Rename complete in the above commit. @veillette if this is what you had in mind, and I didn't miss anything, feel free to close.

[2022-10-24 15:42] veillette commented on #806
Yes, this bring consistency between the types of the two classes. Closing.

[2022-10-24 15:42] #806 closed

[2022-10-26 01:13] pixelzoom commented on #804
I'll handle this.

[2022-10-26 01:18] #804 closed

[2022-10-26 17:52] terracoda opened #807 "Review Combobox.md file"
When there is time it would be good to review https://github.com/phetsims/sun/blob/master/doc/ComboBox.md
in case it is useful to update any roles in light of updates the combobox design pattern outlined in ARIA 1.2

Our accessible combobox, which might actually be comboboxListBox, is not broken.

Reference: https://www.linkedin.com/pulse/aria-combobox-update-differences-between-11-12-design-bryan

[2022-10-26 18:01] pixelzoom commented on #807
To clarify...

PhET's combo box is implemented in ComboBox.ts.  It is composed of 2 subcomponents: ComboBoxButton.ts (tagName: 'button') and ComboBoxListBox.ts (ariaRole: 'listbox').  Pressing the button opens the listbox.

In general... The desired HTML ARIA tags are specified by providing options to PhET UI components in the TypeScript/JavaScript code, see `ParallelDOMOptions` in ParallelDOM.ts.

[2022-10-26 21:58] marlitas commented on #792
Forgot to send this back to @jonathanolson in the above comment, so doing so now.

[2022-10-28 22:27] marlitas opened #808 "Unexpected behavior FlowBox wrap:true inside of Panel"
When an HBox with `wrap: true` is inside of a Panel, the panel is grabbing the minContentWidth of the HBox as though it were already wrapped. This is not passed through or limited by the HBox so the HBox content is overflowing beyond the panel.

<img width="1037" alt="Screen Shot 2022-10-28 at 3 20 23 PM" src="https://user-images.githubusercontent.com/42476338/198742761-415d055b-af6d-45f2-8e71-414

[2022-10-28 23:39] jonathanolson commented on #792
Let's have a call sometime to go over the review here?

[2022-11-03 22:17] zepumph commented on #687
That seems reasonable to me.

[2022-11-05 23:10] marlitas commented on #803
I'm trying to push myself to figure this one out and this is the starting patch.

<details>

[code]
</details>

[2022-11-09 22:19] marlitas commented on #803
Worked on this some more today, and I believe I am getting closer. Coming up against a bug on the height calculation, that I think I can figure out with a bit more time dedicated to it, but wanted to record my progress for the day. Would like to check in with @jonathanolson some time this or next week to:
1. Make sure it's going in the right direction
2. Consider edge cases that are currently not

[2022-11-09 22:31] jbphet commented on #802
I just looked at the code, and it doesn't look like it would.  I think I would be able to add support for this fairly easily, but I'm not 100% certain, since I haven't been in that code for a while.  If I should embark on such a mission, I have a few questions:

- From what I've been able to discern, this feature is mostly in support of `enabledRangeProperty`, which is generally less than the full

[2022-11-09 22:45] jbphet commented on #805
I updated the checkbox for build-a-nucleus, since it was assigned to me but I'm not working on that sim.  I also updated the assignees of the issue.

[2022-11-10 01:19] jonathanolson commented on #802
Hey, I just realized... Slider could create a new ValueChangeSoundPlayer whenever its range changes? This seems like a change I could make. Reassign to me if that seems like it solves it and wouldn't leak memory (I don't see a dispose). Otherwise, answers below:

I've had to work around not being able to change the range on a Slider in the past. Presumably cases where I refactor it to dynamic rang

[2022-11-10 19:14] samreid commented on #805
Still remaining, clustered by devs:

- [ ] build-a-nucleus @Luisav1 @chrisklus
- [ ] ratio-and-proportion @zepumph
- [ ] trig-tour @jessegreenberg
- [ ] trig-tour @jessegreenberg
- [ ] energy-skate-park @jessegreenberg
- [ ] collision-lab @jonathanolson
- [ ] density-and-buoyancy-common @jonathanolson
- [ ] gravity-and-orbits @jonathanolson
- [ ] sun.ComboBoxButton @jonathanolson

[2022-11-10 22:04] jbphet commented on #805
I took a shot at sun.ComboBoxButton, but ran into problems.  It uses a `GridBox` layout, and these layouts are apparently incompatible with the new `VSeparator` classes.  I tried using an `HBox` for the layout instead, but it didn't like the default `left` align options, which is somewhat understandable, but we really *do* need some way to position the choices in the box on the left side.  I spoke

[2022-11-16 19:04] jbphet commented on #802
I like that idea.  That way the client could control how the sound player should adapt the the change in range instead of building assumptions into the sound player itself.  I'd suggest moving forward with this, and let me know if you need any help with it.

As for the lack of a `dispose` function, it doesn't need one.  It doesn't link to any properties.

[2022-11-17 18:57] samreid commented on #805
Nov 17 2022 Dev Meeting

@jonathanolson: When we need to expand cells and align things, GridBox doesn't support that.  So it could be a multi-day issue to get a good long-term solution.  But would be better to have more layout work support in advance.  But I'm not convinced ComboBoxButton should be using a separator.  That seems fragile and should be done with something else.
@pixelzoom: Just a Li

[2022-11-18 16:20] marlitas opened #810 "ComboBox should use a line instead of a separator"
From Dev Meeting 11/17/22:

This will remove the deprecated separator and use Line or a similar component to achieve the proper look and layout for comboBox.

[2022-11-21 22:50] jbphet commented on #292
This has been assigned to be for years, and has sat on the back burner for all of that time.  I'm going to make it my own "chip away", and will go through the following process, which isn't perfect, but better than nothing:

1. Search for all usages of `.link` and verify that there is either a corresponding `.unlink` or a `dispose` that would release any references (including dispose of a subclass

[2022-11-22 16:38] pixelzoom opened #811 "Add the ability to specify properties in a radio-button group."
In calculus-grapher, we need the ability to set options for specific radio buttons in a group.  Specifically, we need to set the `visible` option of each radio button based on some criteria, which can later be changed via PhET-iO.

This is not currently supported by RectangularRadioButtonGroup or AquaRadioButtonGroup. My plan is to add `radioButtonOptions` to both RectangularRadioButtonGroupItem a

[2022-11-25 21:37] zepumph commented on #796
It isn't clear to me that this is in fact high priority. @pixelzoom is this not longer pressing because ph-scale is proceeding without alt-input?

[2022-11-26 17:01] pixelzoom commented on #796
Priority is not my call.  While it's no longer an issue for ph-scale (which is imo unfortunate), I don't know what sims may or may not need this to proceed.  Please ask @kathy-phet.

[2022-11-28 02:27] marlitas commented on #810
This work is completed in the above commits. Assigning to @jbphet for review  as responsible dev.

[2022-11-28 02:32] marlitas commented on #805
- Combo-box has been moved to this issue: https://github.com/phetsims/sun/issues/810
- Build a nucleus instance is waiting on my review here: https://github.com/phetsims/build-a-nucleus/issues/63
- Gridbox work mentioned in dev meeting has been moved to this issue: https://github.com/phetsims/scenery/issues/1504

Unassigning myself from this issue.

[2022-11-28 21:26] pixelzoom commented on #386
Reopening and putting on the dev project board.

In Slack today, @jbphet pointed out that things are still not properly disposed in demo applications.  This is because most "demo" functions (`demoPushButtons`, `demoRadioButtons`, etc.) are factory functions that are not designed to properly dispose of what they create.   It will be a lot of work to address this.  I don't think it's worth it, and I

[2022-11-28 22:47] jbphet commented on #774
This problem has gone away.  I dug into the code a bit in an effort to understand why, since it seems like it could potentially come back as easily as it disappeared, but most of the code related to the sound production and the hiding and showing of the list box hasn't changed in a way that would obviously affect this.  My best guess is that something changed in the focus code that made it so that

[2022-11-28 22:47] #774 closed

[2022-11-29 01:11] pixelzoom opened #812 "Combo box listbox can become detached from button"
If a combo box moves because of layout changes, its listbox can become detaches from the combo box button.

For example, here's the Collision Counter in Gas Properties:

![screenshot_363](https://user-images.githubusercontent.com/3046552/204413850-7b8cb14e-44b0-46fc-a7ed-e72c2aedd473.png)

Change the local a few times with the listbox popped up, and the listbox becomes detached:

![screenshot_362]

[2022-11-29 02:27] pixelzoom opened #813 "AquaRadioButton dynamic layout problems"
AquaRadioButton does not adjust its layout if its label changes. For example if the label is Text that observes a StringProperty, like this example in Gas Properties, then the labels do not remain vertically centered:

![screenshot_364](https://user-images.githubusercontent.com/3046552/204423693-00cfbd40-abd1-402f-8999-13756e487dee.png)

AquaRadioButton also has some odd layout code. It's position

[2022-11-29 09:25] pixelzoom commented on #813
Support for dynamic layout was added in the above commit.  `dispose` removes the `labelNode` bounds listener. Closing.

[2022-11-29 09:25] #813 closed

[2022-11-29 17:31] jbphet commented on #386
I've added a comment to `DemoScreenView` to prevent others from having the same misunderstanding that I had when I looked at the code.

[2022-11-29 21:52] jbphet commented on #810
The changes look reasonable to me.  I also tested the behavior in the sun demo and in Molarity, which has a large and prominent combo box, and the behavior and appearance seem correct.  Closing.