[2019-03-05 18:03] pixelzoom commented on #478
Thanks everyone for the feedback. I will proceed with this change.

[2019-03-05 18:05] pixelzoom commented on #483
While you're in ExpandCollapseButton, could you please fix dispose?

If `expandedProperty` is disposed by the client before the ExpandCollapseButton, this will fail:

[code]

It should be:

[code]

[2019-03-05 18:33] pixelzoom opened #484 "dispose is missing hasListener test before unlink"
There are many places in common code where `unlink` from a `Property` provided by the client will fail.  (Note that this problem may also exist for other observables, e.g. `Event.off`.)

In general, if you `link( someListener )` to `{Property} someProperty` that you don't own, you should always check `someProperty.hasListener( someListener )` before doing `someProperty.unlink( someListener )`. You

[2019-03-05 18:34] pixelzoom commented on #484
There are numerous examples of this problem in common code.  (I suspect it's in sim-specific code too, but less of an issue there.)  Here's a possibly-incomplete survey of where this is a problem in sun and scenery-phet, with the number of `unlink` calls noted for each.

sun

- [ ] ABSwitch (2)
- [ ] AccessibleNumberSpinner (2)
- [ ] AccessibleSlider (2)
- [ ] AccordionBox (1)
- [ ] AquaRadioButto

[2019-03-05 18:51] pixelzoom commented on #478
This requires removing enabledProperty from the SliderTrack and SliderThumb APIs. SliderTrack is used exclusively by Slider, but SliderThumb is also used as a supertype by `COULOMBS_LAW/ChargeControlSliderThumb`.  So I've have to investigate the impact on Coulomb's Law.

[2019-03-05 19:12] jonathanolson commented on #423
The fundamental issue (problem exposed due to input listener covering a whole component) still exists, keeping open.

[2019-03-05 19:20] chrisklus commented on #477
Code changes look good and I tested a number of AccordionBox usages as well.

[2019-03-05 19:47] pixelzoom commented on #484
In https://github.com/phetsims/scenery-phet/issues/476#issuecomment-469825394, @zepumph pointed out that Emitter.removeListener now skips the assertion if the Emitter (Property) has been disposed.   So it's safe to omit the `hasListener` check, and we don't need to do anything here.

[2019-03-05 19:47] #484 closed

[2019-03-05 19:48] pixelzoom commented on #483
@jessegreenberg you can ignore the previous comment. In https://github.com/phetsims/scenery-phet/issues/476#issuecomment-469825394, @zepumph pointed out that Emitter.removeListener now skips the assertion if the Emitter (Property) has been disposed.   So it's safe to omit the `hasListener` check.

[2019-03-05 19:58] pixelzoom commented on #478
Sims that were modified and tested:

- [ ] capacitor-lab-basics
- [ ] coulombs-law
- [ ] gravity-and-orbits
- [ ] gravity-force-lab
- [ ] hookes-law
- [ ] masses-and-springs
- [ ] molarity
- [ ] molecules-and-light
- [ ] ohms-law
- [ ] pendulum-lab
- [ ] resistance-in-a-wire
- [ ] rutherford-scattering
- [ ] scenery-phet demo
- [ ] states-of-matter
- [ ] tambo

[2019-03-05 20:21] pixelzoom commented on #478
Changes completed, sims listed in https://github.com/phetsims/sun/issues/478#issuecomment-469835317 tested by comparing to published versions.

@ariel-phet please assign someone to review.

[2019-03-05 20:44] zepumph commented on #482
Indeed! I agree that an option would be the best forward. I talked with @mbarlow12 about this, since he has worked a lot in AccessibleNumberSpinner and AccessibleSlider regarding aria-valuetext, and we thought through a few ways to improve their apis.

* It seems like Accessibility.js should have aria value text getters and setters.
* It seems like the two accessible traits should have the same ap

[2019-03-05 20:54] jessegreenberg commented on #483
https://github.com/phetsims/sun/issues/483#issuecomment-469832151

OK, thanks.

[2019-03-05 21:06] jessegreenberg commented on #105
This has been done in https://github.com/phetsims/sun/issues/483 now, closing.

[2019-03-05 21:06] #105 closed

[2019-03-05 21:29] jessegreenberg commented on #483
This is done, ExpandCollapseButton now extends BooleanRectangularToggleButton. I did a spot check of the usages in https://github.com/phetsims/sun/issues/483#issuecomment-469784867 to make sure the button looked the same. The only visual changes I noticed are that the button now has "over" and "down" styling, which is a good thing.

@pixelzoom can you please review?

[2019-03-05 21:29] jessegreenberg commented on #483
Over slack @pixelzoom suggested

[2019-03-05 21:38] pixelzoom opened #485 "sun can't use PhetColorScheme"
Noted during review of ExpandCollapseButton in https://github.com/phetsims/sun/issues/483.

ExpandCollapseButton uses CSS color string `rgb( 255, 85, 0 )` which is `PhetColorScheme.RED_COLORBLIND`.  But `PhetColorScheme` lives in scenery-phet, so we can't use it in sun without introducing a circular dependency.

Someday we should have `SceneryPhetColorProfile` and `SunColorProfile`, and move `Phet

[2019-03-05 21:44] pixelzoom commented on #483
Looks super @jessegreenberg.  I added you as `@author`.

Re PhetColorScheme... It lives in scenery-phet, so sadly can't be used in sun (circular dependency).  I created issue #485 and a TODO in ExpandCollapseButton.

Closing.

[2019-03-05 21:44] #483 closed

[2019-03-05 22:56] samreid commented on #437
I think `function CloseButton( options ) {` should be deleted and replaced with usage of `scenery-phet/js/buttons/CloseButton.js`.  If you agree, let's open a new issue for that.

No strong preference.

Looks great!

[2019-03-05 23:15] zepumph commented on #482
After the above thoughts. I think the best way forward is to use this issue to redesign the ariaValueText api for a11y. Renaming the issue.

[2019-03-06 01:07] samreid commented on #442
Looks good to me, though I'm not sure how to test it.  But I presume you have covered that part.   Closing.

[2019-03-06 01:07] #442 closed

[2019-03-06 04:04] samreid commented on #472
I reviewed the preceding commits and didn't see any other trouble.  Regarding this problem:

Would it be possible to check that `format` doesn't have any `{{string}}` and `fillIn` doesn't have any `{number}`?  Or do we have cases that overlap?  I'm guessing there are cases that overlap, but I haven't run runtime tests to verify--thought it would be good to discuss first.

[2019-03-06 14:12] pixelzoom commented on #472
Could do, but I'm not convinced that it's worth the effort, or the added complication to StringUtils (factoring out regexs, etc.) If it's something you'd like to pursue, create another issue.

[2019-03-06 14:41] pixelzoom commented on #472
If you proceed, keep in mind that we need to be able to convert from numbered to named placeholder format, e.g. in NumberDisplay:

[code]

[2019-03-06 15:26] samreid commented on #472
That seems reasonable, let's proceed without this for now.

[2019-03-06 15:26] #472 closed

[2019-03-06 16:26] pixelzoom commented on #369
Potential memory leak for `isShowingProperty` fixed in the above commit.  Since it's `@protected`, subclasses might add a listener that creates a leak.   `isShowingProperty.dispose` is now called in `dialogDispose`.

[2019-03-06 16:27] pixelzoom commented on #432
Potential memory leak for `isShowingProperty` #369 fixed in the above commit.  Since it's `@protected`, subclasses might add a listener that creates a leak.   `isShowingProperty.dispose` is now called in `dialogDispose`.

@jbphet said:

I reviewed Dialog and I don't see any of the potential leak sources that existed when this issue created. So  I think we can close this issue...

... and create an

[2019-03-06 21:57] zepumph opened #486 "Convert Dialog's CloseButton to use scenery-phet's CloseButton"
From https://github.com/phetsims/sun/issues/437:

I agree!

[2019-03-06 21:58] zepumph commented on #437
I created #486. Closing

[2019-03-06 21:58] #437 closed

[2019-03-07 03:24] samreid commented on #432
I'm not opposed to further investigation, but the pattern we have seen previously in sims like graphing lines is that it takes 30+ minutes for our memory patterns to stabilize: https://github.com/phetsims/graphing-lines/issues/78#issuecomment-296837755.  So I'm not convinced that the data in https://github.com/phetsims/sun/issues/432#issuecomment-468052124 indicates a leak.  Happy to be proved oth

[2019-03-07 18:40] zepumph commented on #432
An idea of another test, manually set the Poolable option `maxSize` to 0, and see that there would be no slow "tail" increasing the memory as the pools get to their max size.

this will be investigated in https://github.com/phetsims/phet-core/issues/55.

There seems to be no memory leak in Dialog. As of dev meeting today, closing

[2019-03-07 18:40] #432 closed

[2019-03-07 22:11] jbphet commented on #454
Seems fine to me.  I made a few additional changes:
+ Changed the `options` parameter to `config` in `createButtonShape`, since (as pointed out above) it is actually a required parameter
+ Added an output message for the "custom corner" button, since most if not all of the other buttons output a message
+ Cleaned up some comment documentation

@pixelzoom - I'm reasonably certain that you won't hav

[2019-03-07 22:11] #454 closed

[2019-03-22 20:13] jbphet commented on #441
I've added these a couple of months ago and it is working in the specific test case for RIAW, and doesn't seem to have caused any issues elsewhere.  This is simple enough that I don't think it requires review.
 Closing.

[2019-03-22 20:13] #441 closed

[2019-03-28 18:00] pixelzoom opened #488 "Checkbox cleanup"
Noticed while working on enabledProperty in another UI component.

- [x] `this.content` and `this.ownsEnabledProperty` do not need to be instance fields. They are used only in the constructor. Convert them to local variables.

- [x] `this.enabledProperty` has no visibility annotation.  Typically `@public` in other UI components.

- [x] Multiple lines are longer than 120 chars.

- [x] Checkbox does

[2019-03-28 18:03] pixelzoom opened #487 "why does Checkbox need a separate listener for keyboard input?"
Noted while working on https://github.com/phetsims/sun/issues/488.

Checkbox has this code related to "firing" of its state change:

[code]

Why do we need to add another listener for a11y that calls the exact same function as the ButtonListener that was already added?  This should be handled by ButtonListener; it should be able to handle _all types_ of button input, including keyboard/AT, not jus

[2019-03-28 18:36] pixelzoom commented on #488
Work completed in the above commits.  @chrisklus randomly selected to review.

[2019-03-28 19:21] pixelzoom opened #489 "use SunConstants.DISABLED_OPACITY"
PhET UI components are typically made to look disabled by changing their opacity.  E.g. in Checkbox:

[code]

A good value for `disabledOpacity` has been `0.3`.  Unfortunately, that value is duplicated in multiple places where `SunConstants.DISABLED_OPACITY` should be used.

A list of places to update (probably incomplete):

- [x] balloons-and-static-electricity.TwoSceneSelectionNode
- [x] least-s

[2019-03-28 23:28] pixelzoom commented on #489
Moved the phet-io-wrapper-hookes-law-energy case to https://github.com/phetsims/phet-io-wrapper-hookes-law-energy/issues/5.

@jessegreenberg @jonathanolson @Denz1994 note that a sim that you're responsible for has been changed to use SunConstants.DISABLED_OPACITY.

I'm going to go ahead and close this issue, since this was a trivial change, and since everyone is busy.

[2019-03-28 23:28] #489 closed

[2019-04-01 16:27] jessegreenberg commented on #487
This listener was added before https://github.com/phetsims/scenery/issues/888, but since that is done there is no need to have a separate listener for a11y.

Response to a11y input should probably be moved to ButtonListener, but I am going to review usages of ButtonListener to make sure.

[2019-04-01 18:02] jessegreenberg commented on #487
ButtonListener was instrumented for a11y in #959, and this a11y listener was removed from Checkbox.

[2019-04-02 03:21] samreid commented on #420
I added linked elements for some of the obvious choices, such as ComboBox, Slider and ToggleNode.  It occurred to me this maybe should be done during the instrumentation design process for a particular simulation, hence I added a step to the "how to instrument" documentation:

@zepumph does that sound like a reasonable plan, or should we put more up-front effort into this before getting to more si

[2019-04-02 15:15] samreid commented on #420
There seems to be some interference in sims that have properties or UI components with non-supplied tandems, problem was revealed in https://github.com/phetsims/tandem/issues/83.  I'll comment out the new code and investigate locally.

[2019-04-02 15:24] samreid commented on #420
Is the right solution for this to only create a linked element when the target tandem is supplied?

[code]

[2019-04-02 16:09] jessegreenberg commented on #487
Closing since the listener was removed from Checkbox.

[2019-04-02 16:09] #487 closed

[2019-04-02 21:20] pixelzoom opened #490 "memory leaks caused by ColorDef params/options?"
A question about ColorProfile and common-code components with options of type `ColorDef`...

If (for example) I do `new Checkbox( { checkboxColor: MyColorProfile.checkboxColorProperty }`,  that Property is passed to 2 subcomponents of CheckBox.  In CheckBox `dispose`, I do not see those subcomponents being disposed. So they are presumably still linked to `MyColorProfile.checkboxColorProperty`, cre

[2019-04-02 21:36] pixelzoom commented on #490
Ditto for `PaintDef` parameters and options.

[2019-04-02 21:59] pixelzoom commented on #490
There is no need to explicitly dispose, scenery handles this automagically.

Slack developer channel 4/2/19:

Jonathan Olson [3:56 PM]
Yes so basically when Scenery starts displaying something, it adds a listener

When it goes away from being displayed, it removes the listener

Chris Malley [3:56 PM]
So there’s no need to explicitly dispose?

Jonathan Olson [3:56 PM]
Correct
When the display updat

[2019-04-02 21:59] #490 closed

[2019-04-03 18:20] pixelzoom opened #491 "AccordionBox doesn't handle enabledProperty correctly"
Noted while working on Gas Properties.

Two problems:

(1) `this.enabledProperty` is currently `@private`.  As with other UI components, it should be `@public`, so that the client can either provide `options.enabledProperty`, or use the default that AccordionBox creates.

(2) It does not keep track of whether `this.enabledProperty` was provided by the client or created by AccordionBox.  This deter

[2019-04-03 18:25] pixelzoom commented on #491
(1) is fixed in the above commit.

(2) is already handled.  AccordionBox is `disposalActions` to build a dispose function, a pattern I haven't seen before. It was less obvious what was going on, since there's not a single `disposeAccordionBox` function that handles everything in one place.   But `disposalActions` does co-located link/unlink, new/dispose, so that's a plus.

Closing.

[2019-04-03 18:25] #491 closed

[2019-04-03 18:43] pixelzoom opened #492 "disposeActions pattern for dispose"
AccordionBox uses a different pattern for `dispose`.  It does not have `disposeAccordionBox` function to encapsulates all dispose actions that are specific to AccordionBox. Instead, it has `{function[]} disposalActions`, a queue of functions that are called by `dispose`.

This pattern is described in [phet-software-design-patterns.md](https://github.com/phetsims/phet-info/blob/master/doc/phet-soft

[2019-04-03 18:49] pixelzoom commented on #492
I rename `disposalActions` to `disposeActions` in AccordionBox, so that it at least matches what is described in phet-software-design-patterns.md.

[2019-04-04 01:09] zepumph commented on #420
Maybe it would be more graceful to add this opt out in the LinkedElement class. If the tandem isn't supplied, just don't pass the tandem up to the super call. Is that too clever?

[2019-04-04 04:25] samreid commented on #492
It seems straightforward to move these occurrences to the `disposeEmitter` pattern.

[2019-04-04 19:38] pixelzoom commented on #492
Self-assigning to convert AccordionBox to `disposeAccordionBox`.

@samreid Your call on whether to convert `CCKC/CircuitElementNode` and `CCKC/ValueNode`.

[2019-04-05 22:48] pixelzoom opened #493 "AccordionBox: convert disposeActions to disposeAccordionBox"
In https://github.com/phetsims/sun/issues/492#issuecomment-480035006 we decided to convert AccordionBox from the deprecated `disposeActions` pattern to the `disposeAccordionBox` pattern.  I'll do the conversion.

[2019-04-05 22:48] pixelzoom commented on #492
Tracking AccordionBox conversion in https://github.com/phetsims/sun/issues/493.

[2019-04-05 22:51] pixelzoom commented on #492
Tracking CCKC changes in https://github.com/phetsims/circuit-construction-kit-common/issues/475.

This issue can be closed.

[2019-04-05 22:51] #492 closed

[2019-04-05 22:52] pixelzoom commented on #493
Note to self: If I do this after https://github.com/phetsims/circuit-construction-kit-common/issues/475, I should update phet-software-design-patterns.md. Remove the note about disposeActions, since it will no longer exist.

[2019-04-06 00:39] samreid commented on #493
CCK is converted

[2019-04-08 19:51] pixelzoom commented on #493
As I started to convert this, the `disposeAccordionBox` function quickly got complicated, with the need for additional flags (`ownsTitleNode`, `ownsEnabledProperty`) and conditional logic.  So now I'm leaning towards leaving this alone.  And perhaps we should revisit the decision to deprecate this pattern.

@samreid @jonathanolson thoughts?

[2019-04-08 20:11] samreid commented on #493
Let's use the `disposeEmitter{{TypeName}}` pattern and deprecate the `disposeActions` pattern.

[2019-04-08 20:16] pixelzoom opened #494 "remove Tween preload"
TWEEN was replaced by twixt over in https://github.com/phetsims/twixt/issues/18.  But I still see this in package.json, which I suspect should be removed:

[code]

[2019-04-08 20:25] pixelzoom commented on #494
Tween preload was removed, tested requirejs and built versions.  Closing.

[2019-04-08 20:25] #494 closed

[2019-04-09 00:26] zepumph opened #495 "bug computing the "step" of AccessibleSlider"
In phetsims/molarity#57 we accidentally left out a11yDecimalPlaces in `VerticalSlider.js`. This made the "step" of the input set to `1`, but the keyboard step size is `.05` and this shift keyboard step size is `.001`. This didn't CAUSE any bugs, but it did seem buggy while trying to look into some other problems in accessible slider.

I am interested in the following assertions where `step` is set

[2019-04-09 00:50] jessegreenberg commented on #495
I am not sure if I understand the issue yet, but the `step` attribute set for the HTML element is an implementation detail of the slider.

// only certain values are allowed depending on the step size, or else the AT will announce values as
// "Invalid". If the step size is equal to the precision of the slider readout, all values are allowed.

And so `stepSize` !== `slider.keyboardStep`.

I agree

[2019-04-09 02:19] zepumph opened #496 "ComboBoxListBox must be PhET-iO instrumented to support playback for a11y"
I ran into this while working on https://github.com/phetsims/molarity/issues/77. I saw a comment pointing back to https://github.com/phetsims/phet-io/issues/1102, but I need this working for an interview tomorrow, so I'm adding the tandem back in for now. Let's discuss more here.

[2019-04-10 00:21] zepumph opened #497 "redesign number spinner interaction"
From https://github.com/phetsims/gravity-force-lab-basics/issues/109

Previous work here was done in
https://github.com/phetsims/gravity-force-lab-basics/issues/62. I'm unsure if this will help

Basically the issue is that on change value text isn't ever communicated to voice over when using a mac. Tested on safari (thanks @KatieWoe) and chrome (thanks @chrisklus).

There was lots of investigation

[2019-04-10 00:24] jessegreenberg commented on #497
Interesting, maybe we should first confirm that aria-valuetext works at all with VO on the markup for AccessibleNumberSpinner
[code]

[2019-04-10 00:28] zepumph commented on #497
See https://github.com/phetsims/gravity-force-lab-basics/issues/109#issuecomment-481488269 for a list of items we tested that didn't effect how VO reads out the value text on change.

[2019-04-10 00:40] zepumph commented on #497
Yes that is a great idea! It's hard for me to navigate what is custom vs. native browser interaction when looking at `AccessibleNumberSpinner`

[2019-04-10 16:32] pixelzoom commented on #493
No feedback from @jonathanolson, so I'll proceed with `disposeEmitter{{TypeName}}`.

[2019-04-10 16:48] pixelzoom commented on #493
I converted to `disposeEmitterAccordionBox` in the above commit, tested in sun demo and in console.

While doing this conversion, I noticed `dispose` calls for some subcomponents that seem unnecessary. @samreid could you check me on this and confirm whether these `dispose` calls can be deleted?

[code]

[2019-04-11 16:04] pixelzoom commented on #493
I removed dispose listeners for the a case shown in https://github.com/phetsims/sun/issues/493#issuecomment-481770956.  I also cleaned up some odd options for these components.

@samreid would you mind reviewing, since you did a similar conversion for CCK?

[2019-04-12 14:25] samreid commented on #493
I reviewed the commits, tested functionality in Build an Atom and checked memory usage over about 5 minutes and creation of 6000+ AccordionBoxes in the sun demo memory tester.

![image](https://user-images.githubusercontent.com/679486/56044474-7d95e400-5cfc-11e9-9ba6-91c4d6ccd89c.png)

No problems noted, closing.

[2019-04-12 14:25] #493 closed

[2019-04-12 20:16] KatieWoe opened #498 "CT tried to removeListener on something that wasn't a listener"
[code]

[2019-04-15 21:42] jessegreenberg opened #499 "Expand functionality of AccessibleValueHandler"
In phetsims/scenery#951 @zepumph made a new type called AccessibleValueHandler that handles `aria-valuetext` for an a11y component that is driven by a NumberProperty. AccessibleSlider and AccessibleNumberSpinner are using this. There may be other things that can be moved into AccessibleValueHandler as well. For instance, the input handling of these two types are similar. AccessibleValueHandler cou

[2019-04-15 22:01] zepumph commented on #497
changing priority to relect priority of https://github.com/phetsims/gravity-force-lab-basics/issues/109.

[2019-04-15 22:02] jessegreenberg commented on #497
@zepumph and I took a look at this today on a macOS device with VoiceOver. Here is the current markup for AccessibleNumberSpinner:
[code]

We discovered that the current markup for the AccessibleNumberSpinner doesn't work with aria-valuetext or aria-valuenow in other contexts outside of PhET either. @KatieWoe helped us identify that `aria-valuetext` and `aria-valuenow` *do* work if the element is

[2019-04-15 22:46] zepumph commented on #497
Then in the above commits @jessegreenberg and I made a few changes to our number-spinner implementation that will hopefully get things working on a mac:

* changed from "div" to "input"
* set input type to "number"
* set the input value on property change.
* set aria-valuenow on all AccessibleValueHandler instances
* made sure that we were preventing default on the number input, and just adding in

[2019-04-15 22:55] zepumph commented on #499
So if we were going to make checkboxes, here may be a few to look into
- [ ] factoring out listeners into AccessibleValueHandler
- [ ] See what mutatable options we can take from Accessibility.js that really only apply to types that run on a Property.
- [ ] Part of this work should add mobile accessibility functionality to AccessibleNumberSpinner. I think that will be done by factoring out an `inp

[2019-04-15 23:28] zepumph commented on #497
Note that currently the left and right arrow keys don't work @terracoda, just up and down.

[2019-04-15 23:31] zepumph commented on #497
Note that currently the left/right arrow keys don't work, and they actually sound really strange on NVDA in firefox/chrome. Sometimes saying "blank" or sometimes reading the virtual cursor char by char through the aria-valuetext. I'm not sure how to get around this, since it seems to be tied to the AT. If it was the solution, I wonder if we can just not support left/right arrow interaction for thi

[2019-04-15 23:55] zepumph commented on #497
Note in https://www.w3.org/TR/wai-aria-1.1/#spinbutton that it only says we need to support the up and down arrows. @jessegreenberg and I thought that it was maybe alright that it didn't sound good on NVDA using left/right because at least the interaction still works. Perhaps that is enough, because we know the interaction is important, especially when the visual button layout is left and right of

[2019-04-16 00:38] zepumph commented on #497
I just noticed that although our updated solution above works nicely with NVDA and chrome. It doesn't read any aria valuetext in firefox/NVDA (instead it reads out "6000000000" -> "5000000000"). It seems like on firefox the input's value takes precedent over aria-valuetext. Even when not setting the inputValue, it reads out an empty string instead of the aria-valuetext.
  @jessegreenberg could you

[2019-04-16 01:59] jessegreenberg commented on #497
I just tested with JAWS in Chrome and aria-valuetext is coming through correctly. So aria-valuetext is only supported by Firefox on `<div role="spinbutton">` and `<input type="range" role="spinbutton">` but not `<input type="number" role="spinbutton>` or `<input type="text" role="spinbutton">`.

[2019-04-16 17:09] zepumph commented on #497
Everything you just said seems to be true in my test. I ran the following code with NVDA on firefox and chrome, and the top two work on both, but the bottom three only say aria-valuetext on chrome:
[code]

[2019-04-16 17:50] jessegreenberg commented on #497
I just tested the current solution with VO on an iPad Air 2 and I am seeing problems there too. The `spinbutton` role is not recognized or announced and it does't support input gestures to change the value. I am seeing that in this examxple too:  https://rawgit.com/w3c/aria-practices/issue125-add-spinbutton-example/examples/spinbutton/spinbutton.html. That example is sort of of accessible because

[2019-04-16 18:14] jessegreenberg commented on #424
In https://github.com/phetsims/scenery/issues/939 we concluded that for screen reader and a11y interaction buttons will continue to operate in a way that is native for the web. So buttons will generally fire continuously when pressing and holding down enter and fire once on release of `spacebar`.

For unique buttons that require specific intervals when holding down enter, or that *must* only fire

[2019-04-16 18:14] #424 closed

[2019-04-16 18:58] jessegreenberg commented on #498
I noticed that CT hasn't reported this since before 4/14/19, I am wondering if this can be closed?

[2019-04-16 20:25] pixelzoom opened #500 "add ability to shift pointer areas for buttons"
In https://github.com/phetsims/unit-rates/issues/212, we identified a need to shift the pointer area for a `RectangularButtonView`.  In that case, it's the ExpandCollapseButton for AccordionBox.

If we need arbitrary shifting, we could add this to `RectangularButtonView`:

[code]

and the code that sets the pointer areas becomes:

[code]

If we don't need arbitrary shifting and want to keep the po

[2019-04-16 20:54] pixelzoom commented on #500
Summary of @zepumph suggestion on Slack:

The current API uses `{number}` for `touchAreaXDilation` et. al.  So while I appreciate the fact that using Vector2 require fewer options, it's not in the spirit of the existing API (which would be costly to change) and requires allocation of a Vector2.

[2019-04-16 20:56] pixelzoom commented on #500
Since I can easily imagine a designer asking to "expand the touch area a bit below and a more above" (which is what we'd probably want to do in  phetsims/unit-rates#212), I think that the `touchAreaXShift` et. al. API is probably the way to go.

[2019-04-17 16:33] jessegreenberg commented on #471
All four of the above instances of "{{value}}" have been moved to SUN/AccessibleValueHandler as part of https://github.com/phetsims/scenery/issues/951 so I will replace that one.

[2019-04-17 16:41] #471 closed

[2019-04-18 15:59] samreid commented on #438
I will not have time for this in the near future, unassigning for now.

[2019-04-18 18:10] jonathanolson commented on #500
A generalization (that wouldn't include as many options) would presumably be a function that returns the mouse/touch area. It could take in the as-of-yet-constructed node, e.g.:

[code]

[2019-04-22 20:34] terracoda commented on #497
@jessegreenberg, I was thinking something similar, but maybe also using `aria-roledescription`, too, if we want AT to call it something other than a "slider".

We don't really have a typical web `spinbutton` interaction here anyways as typical `spinbutton`'s have text input to type in a number. We are just changing between a small range of fixed values.

[code]

@jessegreenberg, did you check if `

[2019-04-22 20:47] terracoda commented on #497
@jessegreenberg, oh, I see you already tested ```input type="range" role="spinbutton"```
Do you want me to test it in on VoiceOver?
If so, please post a link.

[2019-04-22 21:00] terracoda commented on #497
@jessegreenberg, I think `spinbutton` seems like it would be a valid widget role for the `input` element if I am reading this the ARIA 1.1. spec correctly here: [https://www.w3.org/TR/wai-aria-1.1/#input](https://www.w3.org/TR/wai-aria-1.1/#input).

Though I am very fuzzy on what an "abstract role" is.

[2019-04-23 00:09] chrisklus opened #501 "Opt out of linking checkbox Property in studio"
When working on https://github.com/phetsims/blackbody-spectrum/issues/83, I needed to instrument the Property that is used for ProjectorModeCheckbox. However, Blackbody Spectrum doesn't pass in its own Property, but links to one that ProjectorModeCheckbox creates if no Property is provided. @zepumph suggested that I instrument that Property within ProjectorModeCheckbox.

Then in that case, since P

[2019-04-23 00:29] chrisklus commented on #501
This worked well. I tested that the linked Property is not appearing in Blackbody Spectrum, but is still appearing in Charges and Fields. Assigning to @zepumph for review.

[2019-04-23 00:34] zepumph commented on #501
Looks great. Nicely done.

[2019-04-23 00:34] #501 closed

[2019-04-23 08:47] terracoda commented on #497
Additional comments from my email (April 23rd)

[2019-04-23 15:17] jessegreenberg commented on #497
I just tested the following HTML with https://validator.w3.org/ and unfortnately it complains:

<details>

[code]
</details>

But the same HTML is OK with https://achecker.ca/checker/index.php.

If the `type` is changed to `number` the error goes away. I can't find info in the spec about which `type` attributes are/aren't OK to use with `role="spinbutton"`.

What if we just used aria-roledescripti

[2019-04-24 01:37] zepumph commented on #497
Here is GFLB using input with type range and role spinbutton
https://phet-dev.colorado.edu/html/gravity-force-lab-basics/1.0.0-dev.35/phet/gravity-force-lab-basics_en_phet.html

Here is GFLB using input with type range and aria-roledescription spinbutton
https://phet-dev.colorado.edu/html/gravity-force-lab-basics/1.0.0-dev.36/phet/gravity-force-lab-basics_en_phet.html

@terracoda @jessegreenberg f

[2019-04-24 06:21] terracoda commented on #497
@jessegreenberg and @zepumph, I got no errors with the W3C validator with:
[code]

And @zepumph and I tested similar code. We got access to left/right arrow keys, and it sounded nice, too.

I think the `aria-roledescription` solution will be more future proof. If JAWS does not support `aria-roledescription` now, it will eventually. I don't think it is a problem for blind users of JAWS if the "visu

[2019-04-24 06:37] terracoda commented on #497
And as a design note, we can user whichever word we think is best for the control. For example, for Gravity Force Lab Basics, here are some options:
- Mass 1 spinbutton
- Mass 1 stepper
- Mass 1 number spinner
- Mass 1 number picker
- Mass 1 mass changer

I think I like "Mass 1 mass changer" and "Mass 1 number spinner" best.

[2019-04-24 16:14] samreid commented on #498
@zepumph do you think this might be related to TinyEmitter refactoring?  Can this be closed?

[2019-04-24 18:55] pixelzoom commented on #500
@jonathanolson's suggestion above is indeed very general.  But...

*  4 existing options will be come obsolete: `touchAreaXDilation`, `touchAreaYDilation`, `mouseAreaXDilation`, `mouseAreaXDilation`.   Keeping those options and doing something sensible with them will complicate the implementation. Tracking them down in client code and replacing them will be expensive.

* The most common case (symm

[2019-04-24 19:21] samreid commented on #500
Would it read any clearer with arrows?

[2019-04-24 19:22] pixelzoom commented on #500
Do you mean arrow functions? Still seem heavy for the typical case:

[code]

[2019-04-24 19:25] pixelzoom commented on #500
Occurrences of the options that would be obsoleted by @jonathanolson's proposal.  Unlikely that all of these are for buttons, but all of them would need to be examined.

touchAreaXDilation 131
touchAreaYDilation 125
mouseAreaXDilation 28
mouseAreaYDilation 27

[2019-04-24 19:31] pixelzoom commented on #500
And since we'd presumably want to do something similar for RoundButtonView:

touchAreaDilation 37
mouseAreaDilation 3

[2019-04-24 19:49] jessegreenberg commented on #497
Thanks for making testing links @zepumph, that is very helpful. I just tested dev.36 with JAWS in Chrome and it sounds great. Works with all arrow keys, I hear all alerts and aria-valuetext, and I hear the aria-roledescription! So JAWS supports the attribute. It also sounds great with mobile VO too, including the roledescription.

@terracoda @zepumph I agree that seems like the way to go.

In choo

[2019-04-25 04:08] samreid commented on #500
I'm not sure how to balance the flexibility of 1 function vs the ease of 4 variables which are often all we need.  I'd like to discuss further in the dev meeting.

[2019-04-25 16:20] zepumph commented on #498
Sounds good.

[2019-04-25 16:20] #498 closed

[2019-04-25 19:31] pixelzoom commented on #500
4/25/19 dev meeting:

I'll proceed with new options for RectangularButtonView and RoundButtonView. We can change in the future if needed.  The options are:

[code]

[2019-04-26 04:51] kathy-phet opened #502 "Interactivity of AccordionBox title"
@pixelzoom, @amanda-phet - I was playing with Gas Properties on phettest and found myself clicking the titles of the accordion boxes to open/close and wondering why it wasn't working - then recalling I think that the PhET-iO work limited open/close to the button only.

Is this change indeed from the PhET-iO work? Do you miss the titles being clickable? Can the touch area be extended to the right/l

[2019-04-26 16:14] pixelzoom commented on #502
After consultation with PhET designers and developers, this feature was removed from AccordionBox.  See https://github.com/phetsims/sun/issues/477 for complete history.    So the title is no longer interactive, and you need to click the expand/collapse button.

[2019-04-26 16:18] pixelzoom commented on #502
See also https://github.com/phetsims/graphing-quadratics/issues/112#issuecomment-468445013.  At the Graphing Quadratics PhET-iO design meeting, there was an explicit decision to remove this feature from AccordionBox, and I was assigned to create the issue #477 and do the work.   The attendance for that meeting isn't recorded in the comment, but I would be surprised if we made so many decisions (in

[2019-04-26 16:25] pixelzoom commented on #502
To answer @kathy-phet's other questions:

The decision was made in a PhET-iO meeting (see above), but there were other problems with this feature not specific to PhET-iO.

No, I don't miss it.  I doubt that most users even know that it exists, and suspect that they use the button.

That would will be possible once https://github.com/phetsims/sun/issues/500 is addressed.  But I don't recommend it,

[2019-04-26 16:26] pixelzoom commented on #502
Reassigning @amanda-phet and @arouinfar, in case they want to chime in.

[2019-04-26 17:00] amanda-phet commented on #502
If we get complaints from users or if there are specific sims that could use the wider touch area, we can always expand the touch area on a sim-by-sim basis. But as far as the design decision goes, I think it is a reasonable one.

[2019-04-26 17:00] pixelzoom commented on #502
Over in https://github.com/phetsims/unit-rates/issues/212, we identified that asymmetric pointer areas for the expand/collapse button would be a generally useful feature.   And that's going to require some work in sun buttons.   Before I continue with that, I want to be sure that we're OK with where things are currently at with AccordionBox.   Because the asymmetric pointer areas is not compatible

[2019-04-26 17:03] pixelzoom commented on #502
@amanda-phet said:

No, we cannot do that.  It doesn't work with translated strings, it requires code to be duplicated over and over in sim, and it's not compatible with the "asymmetric pointer areas" that I was asked to add.  It also results in inconsistent behavior across sims.   If title are interactive, they should be interactive in all sims, and should be handled by AccordionBox, not by sim-s

[2019-04-26 17:10] pixelzoom commented on #502
So here are the 2 options:

(1) Titles are not interactive. You must use the button to expand/collapse the box. This is what is currently implemented, and was the consensus in #477.

(2) Titles are always interactive.  You can use either the button or the title (when it's visible) to expand/collapse the box.  This will require reverting #477, and figuring out another way to address PhET-iO concern

[2019-04-26 17:13] amanda-phet commented on #502
Thanks for clarifying @pixelzoom . I would still vote for keeping the pointer/touch area limited to the actual button.

[2019-04-26 17:13] kathy-phet commented on #502
@pixelzoom - I was in the discussion and had been OK with the decision at that time. But I'm finding now that the behavior is changed is that the sim is not as fluid to use when I need to be more precise and move my cursor further (in cases like BAA) to hit the box.

[2019-04-26 17:17] kathy-phet commented on #502
Chris - Can you elaborate on why the idea of expanding the button hit area assymetrically is not compatible with having it extend over the title area?

[2019-04-26 17:26] kathy-phet commented on #502
Also, can you remind me what the other issues with the title being interactive were besides the PhET-iO issues? Was there an accessibility issue as well?

[2019-04-26 17:28] pixelzoom commented on #502
The requested touchArea in Unit Rates phetsims/unit-rates#212. would look like this:

<img width="495" alt="screenshot_1160" src="https://user-images.githubusercontent.com/3046552/56825300-f7a68c80-6815-11e9-8fe9-05d292313aa9.png">

And more importantly:
(1) the sim code creating the AccordionBox has no idea how wide the title is or where it will be placed, and therefore no way to know how much to

[2019-04-26 17:29] pixelzoom commented on #502
The requested touchArea in Unit Rates phetsims/unit-rates#212. would look like this:

![ur](https://user-images.githubusercontent.com/3046552/56825489-7f8c9680-6816-11e9-8750-225c8578c9f7.jpg)

And more importantly:
(1) the sim code creating the AccordionBox has no idea how wide the title is or where it will be placed, and therefore no way to know how much to increase the touch area.
(2) this woul

[2019-04-26 17:30] amanda-phet commented on #502
I recall one issue was the focus rectangle. It would highlight the entire touch area, but if there was no title then the highlight would obscure some of the box content. In that case, having the touch area around the button only solves the problem.

[2019-04-26 17:39] pixelzoom commented on #502
The other thing that was always odd about this feature is that it was the _title area_ (not the text in the bar) that was interactive.  If you clicked anywhere in the title area, the box would expand/collapse.  And that for wide AccordionBoxes (like Unit Rates) that proved to be a problem.

So if we do restore this feature, we should consider making just the title (not the entire title bar) in int

[2019-04-26 17:46] kathy-phet commented on #502
OK. Got it. Let's touch base next week at status briefly. If I am the only one who feels it feels less usable, or if consensus is the way it is now is the better of the various options, I will deal and try to retrain myself.  I was surprised by how much it impacted my fluidity with the sim.

[2019-04-26 17:50] kathy-phet commented on #502
There is indeed hope I can retrain myself. I just checked the Java BAA to see if we had this behavior in Java - and it is only the button that works - the title is not clickable.

[2019-04-26 19:59] arouinfar commented on #502
I'm personally fine with continuing to limit the click/touch area to the `ExpandCollapseButton`.

@kathy-phet I think an easy way to address this would be to move the `ExpandCollapseButton` to the left side of the box. BAA is somewhat unusual in that the `ExpandCollapseButton` is on the right.

That's also my recollection @amanda-phet. This was particularly problematic for accordion boxes which ha

[2019-04-27 20:43] terracoda commented on #497
@jessegreenberg, that's wonderful news about JAWS and mobile VoiceOver! I was a little worried that JAWS didn't yet support aria-roledescription.

Also, I like number spinner, too as a general name. We can go with that, but keep in mind with aria-role description we have to include both the name and the function of the control in the attribute's value. We cannot just provide the function.

[2019-04-27 22:18] pixelzoom commented on #500
This is blocked until we resolve #502.

[2019-04-29 20:55] zepumph commented on #497
Yay! I'm glad to hear that the roledescription solution is sounding well everywhere. I will put that to master and we can tweak from here.

@terracoda perhaps we should keep "number spinner" and the rest should be solved by changing the Accessible Name of the component, instead of "Mass1" maybe "Mass 1 changer" or "Change Mass 1".

[2019-04-29 23:55] twant opened #503 "accessibleName and helpText API for ComboBox"
In https://github.com/phetsims/molarity/issues/83, @zepumph and I were working on SoluteComboBox for Molarity, and were thinking about ways to implement help text for ComboBox. In noticing that ComboBoxButton is primarily responsible for setting the PDOM content of the entire element using the option `buttonLabelContent`, we overrode the setters for `accessibleName` and `helpText` in ComboBox that

[2019-04-30 10:31] terracoda commented on #497
@jessegreenberg and @zepumph, I am not sure I was clear about name and function for the `aria-roledescription` attribute. What I mean is that our A11y API will need to be able to fill in the accessible name automatically or allow the developer to fill it. The element's name might always have to be included directly in the `aria-roledescription` attribute together with the general function name of

[2019-04-30 19:53] zepumph commented on #497
@terracoda I think we may be getting different results depending on screen reader. I have never heard the aria-roledescription override the accessible name for a component. In all browsers (chrome, firefox, ie, and edge) I heard the same thing for the above examples. For the first, on focus it said:

"Mass 1  Mass 1, number spinner  50"

and the second said:

"Mass 1  number spinner  50"

In maste

[2019-05-01 05:52] zepumph commented on #497
@terracoda and I confirmed tonight that we do hear the accessible name, so we don't need to provide it in the aria-roledescription.

@jessegreenberg over to you to confirm all looks good in JAWS before we close.

[2019-05-01 15:01] jessegreenberg commented on #497
@terracoda @zepumph that is correct for JAWS as well.

[2019-05-01 15:50] jessegreenberg commented on #503
I am not to worried about overriding a Node method. But this also seems like a really good use case for `accessibleNameBehavior` and `helpTextBehavior`, I am wondering if those could be used here?

[2019-05-01 15:55] pixelzoom commented on #502
@kathy-phet said:

Labeling with `meeting:design`, and I will try to remember to bring it up at status meeting.

[2019-05-01 18:12] ariel-phet commented on #502
I have no issue with limiting the touch area to generally around the open/close button, that seems totally natural.

@pixelzoom couldn't this button however default have an asymmetric touch area that extends some amount to the left or right? So for instance for open close buttons on the left of the accordion box it extends 50 px or something to right by default. Just to give a more generous touch

[2019-05-01 18:19] pixelzoom commented on #502
@ariel-phet asked:

Making the pointer areas of the expand/collapse button configurable is relatively easy, and that is what is planned in #500.   But we're discussing whether the title should be interactive here, and that feature should not be misused to make the title appear to be interactive.

[2019-05-01 18:23] pixelzoom commented on #502
RPAL also has expand/collapse buttons on the right, and it was one of the first sims (maybe the first sim) to have an AccordionBox.  If we want standardization, then we should remove the `buttonAlign` option from AccordionBox.

[2019-05-01 18:26] pixelzoom commented on #502
List of sims that use `buttonAlign: 'right'`, expand/collapse button on the right:

balancing-chemical-equations
build-an-atom
fluid-pressure-and-flow
isotopes-and-atomic-mass
models-of-the-hydrogen-atom
plinko-probability
reactants-products-and-leftovers
states-of-matter

[2019-05-01 18:26] kathy-phet commented on #502
I do recall that the RHS alignment was on purpose to bring the words closer to the atom itself. I think we had tried the original LHS and it felt disconnected during the design process.

[2019-05-01 18:27] pixelzoom commented on #502
@kathy-phet are you referring to build-an-atom?

[2019-05-01 18:29] kathy-phet commented on #502
Yes

Sent from my iPhone

On May 1, 2019, at 12:28 PM, Chris Malley <notifications@github.com<mailto:notifications@github.com>> wrote:

@kathy-phet<https://github.com/kathy-phet> are you referring to build-an-atom?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/phetsims/sun/issues/502#issuecomment-488368837>, or mute the thr

[2019-05-01 18:33] pixelzoom opened #504 "standardize location of AccordionBox expand/collapse button?"
This is a tangent discussion that started in https://github.com/phetsims/sun/issues/502.

Should we standardize on the location of the AccordionBox expand/collapse button? By default it is on the left, but several sims (see below) put it on the right.  If we choose to standardized, we would remove option `buttonAlign`.

Relevant comments from https://github.com/phetsims/sun/issues/502:

@kathy-phe

[2019-05-01 18:34] pixelzoom commented on #502
Whether the location of the button should be standardized seems like a tangential issue, so please continue the discussion in https://github.com/phetsims/sun/issues/504.

[2019-05-01 19:40] ariel-phet commented on #504
@pixelzoom I am not sure we want to standardize (though it would be nice). I think certainly it might make sense to revisit some designs (BAA seems like a good example where I see no reason to put the expand/collapse on the right)

However, for a sim like Plinko Probability, I can see why it was done. This is a math sim and given the color scheme, the collapse button would look suspiciously like a

[2019-05-01 21:33] pixelzoom commented on #504
I have no strong feelings on this one.  I created the issue only because it was brought up for discussion.   If there's consensus that there's no need to standardize, please close this issue.  If there are sims that you'd like to revisit (see list above) please create sim-specific issues.

[2019-05-01 22:25] samreid opened #505 "Radio buttons should have a default sound"
From this week's sonification meeting:

@kathy-phet: Will radio buttons have a default sound?
@Ashton-Morris: Yes, that's more likely than sliders having a default sound.  We'll need to make it good, since it will be pervasive.
@Ashton-Morris: Different pitches for each radio button.  N radio buttons have same min and max playbackRate, it will be divided up between the steps, like playbackRate map

[2019-05-01 22:25] samreid opened #506 "Push buttons should have a default sound"
Like https://github.com/phetsims/sun/issues/505 but for push buttons.

[2019-05-02 01:25] zepumph commented on #497
Excellent! I'm going to close, and we will continue as we go through testing for GFLB.

[2019-05-02 01:25] #497 closed

[2019-05-02 14:45] jessegreenberg commented on #499
In https://github.com/phetsims/scenery/issues/951 we decided not to do this.

[2019-05-02 15:02] jessegreenberg commented on #499
In #497 we decided to use `input type=number` for AccessibleNumberSpinner. So now I am wondering if NumberPicker should be using AccessibleSlider too. The largest difference is the use of CallbackTimer to time firing of value changes, but everything else is the same.

[2019-05-02 15:08] jessegreenberg commented on #499
It seems like there are still enough differences that we should proceed with factoring listeners into AccessibleValueHandler.

Adding high priority label since this is blocking publication of gravity-force-lab-basics.

[2019-05-02 16:04] zepumph commented on #503
The reason why that isn't quite possible is because it is the ComboBoxButton that has all the accessibleContent. I'm unsure (because its untested) how it would work to have the accessibleNameBehavior set options on another Node. I will mark that as potential work to be done in https://github.com/phetsims/scenery/issues/867. Does that sound alright to you?

[2019-05-02 16:17] jessegreenberg commented on #503
Yes, that sounds great. I was naively thinking this:
[code]
But understand that may not be how it was intended to be used.

[2019-05-02 16:30] zepumph commented on #503
See https://github.com/phetsims/scenery/issues/867, closing

[2019-05-02 16:53] pixelzoom commented on #502
5/2/19 status meeting, commented on by @kathy-phet @ariel-phet @jbphet @amanda-phet @arouinfar @samreid @chrisklus @jessegreenberg.

Consensus is that I will put things back they way it was before #477, and will solve the PhET-iO problem (disabling title interactivity when button is invisible) a different way.    I'm going to do this over by reopening #477.

[2019-05-02 16:54] pixelzoom commented on #477
By popular demand, we're restoring this feature.

From https://github.com/phetsims/sun/issues/502#issuecomment-488748991...

[2019-05-02 16:55] #502 closed

[2019-05-02 17:09] pixelzoom commented on #477
Feature is restored, and interactivity of the title bar is now disabled when the button is hidden.

@jbphet please review, since you have a sim to patch this in.

[2019-05-02 17:18] pixelzoom commented on #477
@jbphet to verify that the PhET-iO issue was addressed:

1. start phetmarks
2. run graphing-quadratics with Mode=studio
3. in Studio, navigate to `graphingQuadratics.standardFormScreen.view.equationAccordionBox.expandCollapseButton.visibleProperty
 `
4. Toggle visibleProperty, and verify that the title is only interactive when `expandCollapseButton` is visible.

[2019-05-02 17:20] pixelzoom commented on #477
Since option `titleBarExpandCollapse` was restored, I also restored the usage in sims that we overriding the default.  There were 2 such sims: BCE and unit-rates.  They were restored in the above commits.

[2019-05-02 17:26] jessegreenberg commented on #499
I think this is the most straight forward, and will be the easiest. Now that AccessibleNumberSpinner is a `input type="number"` instead of a `div role="spinbutton"` there are things that are in the AccessibleNumberSpinner listeners that are no longer necessary. So listeners between the two are even more similar now.

[2019-05-02 17:52] pixelzoom commented on #500
Done for round and rectangular push buttons. Demonstrated in sun demo application, see annotated screenshot below.

@ariel-phet please assign someone to review.

![screenshot_1174](https://user-images.githubusercontent.com/3046552/57095735-c8d65d80-6cd0-11e9-8d1e-f2c122bc6706.jpg)

[2019-05-02 21:02] jbphet commented on #477
The commits look reasonable, and I verified the functionality in Isotopes and Atomic Mass, since that's the sim I want to patch.  I then ran test on Graphing Quadratics described a couple of comments above this (I had to run `grunt generate-phet-io-elements-files` to get the sim to run in studio), and it worked as expected.

I'm going to assign this to @zepumph for one (hopefully) small followup i

[2019-05-03 23:04] zepumph opened #507 "Can aria-valuetext run on Property?"
Expanding on https://github.com/phetsims/scenery/issues/951, there is still a problem with the aria-valuetext implementation. The creator function for on value Property change is only called/based on when that Property changes. It is impossible to have outside listeners or forces change the aria-valuetext in any nice way.

Perhaps is we could set the aria-valuetext as a Property instead of just wi

[2019-05-06 17:18] ariel-phet commented on #504
I think for the moment, no need to standardize. Closing

[2019-05-06 17:18] #504 closed

[2019-05-06 17:22] ariel-phet commented on #500
@chrisklus can you review?

[2019-05-07 17:19] zepumph commented on #477
This all looks good from a phet-io perspective

Most of the time we are using Property and Action for our event stream. Those types use the "phetioStart/EndEvent" call. In this case we have a custom event so we implement them here, and AccordionBoxIO supports the events in particular (notice `AccordionBoxIO.events`). Thanks for checking in.

[2019-05-07 17:19] zepumph commented on #477
This all looks good from a phet-io perspective

Most of the time we are using Property and Action for our event stream. Those types use the "phetioStart/EndEvent" call. In this case we have a custom event so we implement them here, and AccordionBoxIO supports the events in particular (notice `AccordionBoxIO.events`). Thanks for checking in.

[2019-05-07 17:20] #477 closed

[2019-05-07 19:59] jessegreenberg opened #508 "VoiceOver stops reading aria-valuetext sometimes"
Reported initially in https://github.com/phetsims/ohms-law/issues/141.

Occasionally, macOS VoiceOver stops reading aria-valuetext in sims. We weren't able to reproduce this bug in examples outside the sim like https://jsfiddle.net/gj8zmhfy/3/ and https://jsfiddle.net/gj8zmhfy/5/. Our usages of setting aria-valuetext in ohms-law are pretty simple, the aria-valuetext is set on value change, then fo

[2019-05-07 20:34] jessegreenberg commented on #508
@twant you develop on a mac, correct? Would you be able to help investigate this issue? Could we schedule a time to pair on this?

[2019-05-07 20:39] twant commented on #508
Definitely! I'm working pretty long days tomorrow and Thursday, but do you have time on Friday evening? I'm also available Saturday (or we can look at times next week, too).

[2019-05-08 01:43] chrisklus commented on #500
@pixelzoom looks good. The code changes make sense and I tested the shifted pointer areas with a mouse and simulated touch device. Back to you.

[2019-05-08 02:14] #500 closed

[2019-05-08 22:35] jessegreenberg commented on #499
Ill summarize my changes here:
- Substantial amount of code was moved from AccessibleSlider into AccessibleValueHandler to be shared by both AccessibleSlider and AccessibleNumberSpinner.
- AccessibleValueHandler now implements `handleKeyDown`, `handleKeyUp`, `handleChange`, `handleInput`, `handleBlur`. The new pattern is that nodes mixing in AccessibleValueHandler will be responsible for adding th

[2019-05-08 22:41] jessegreenberg commented on #499
@zepumph could you please take a look at these changes to AccessibleValueHandler? Mostly, how do you feel about the new pattern where the mixing node adds input listeners from AccessibleValueHandler? Also, I have a note above `accessibleNumberSpinnerHandleKeyDown` that describes how it would be nice to override a trait function, but I couldn't think of a nice way to do it, are you aware of a way?

[2019-05-08 22:51] jessegreenberg opened #509 "Mobile VoiceOver problem when "step" attribute is too small"
Discovered while working on #499, and required for https://github.com/phetsims/gravity-force-lab-basics/issues/119. `<input type="range">` doesn't receive any input events from VoiceOver when the `step` attribute is too small relative to the range of the slider. In gravity force lab basics, the step attribute is 1/1000000000 of the range. If the `step` attribute is made larger to be 1/100000 of th

[2019-05-08 22:51] jessegreenberg commented on #508
Thanks @twant! Over slack we agreed to meet on 5/10/19 Friday evening to pair on this.

[2019-05-08 23:09] jessegreenberg commented on #509
This isn't working because the `step` is using different units than the physical Property in GFLB. `step` is in billions of kg, while the range is in kg.

[2019-05-08 23:14] jessegreenberg commented on #509
I tried step="any" again (which is a valid DOM attribute) from #413, but it does't work with iOS VoiceOver either.

[2019-05-09 03:18] jessegreenberg commented on #509
I workaround has been added with the above commit, along with a lot of documentation that describes PhET's slider conquest until this point. Closing this issue, since discussion can continue in the related https://github.com/phetsims/sun/issues/495

[2019-05-09 03:18] #509 closed

[2019-05-09 03:43] jessegreenberg commented on #495
I recently encountered a related issue in #509 and added a bunch of documentation about the why and how we currently set the `step` attribute in AccessibleValueHandler. Documentation added around updateSiblingStepAttribute. Would be great to discuss and/or reconsider sometime soon. It all feels like a workaround, but I haven't been able to think of anything better.

[2019-05-09 16:55] oliver-phet commented on #426
@jonathanolson Will investigate the time commitment on this issue (max 3 hours) Feel free to change colors to accommodate dev and designer needs. Report back to @ariel-phet

[2019-05-09 18:01] pixelzoom opened #510 "specify Property once for VerticalAquaRadioButtonGroup"
A group of radio buttons are all related to the same Property -- it's what makes them a group.   Every current use of `VerticalAquaRadioButtonGroup` looks like this, where the same Property is duplicated in the specification of every item:

[code]

For example, in balancing-act `PositionIndicatorControlPanel`:

[code]

Duplicating the Property for each item is unnecessary and undesirable.  If you

[2019-05-09 18:05] pixelzoom commented on #510
Notes that this also makes `VerticalAquaRadioButtonGroup` constructor signature identical to `RadioButtonGroup`:

[code]

[2019-05-09 21:29] jessegreenberg commented on #499
This is also done. I think this is ready for review.

[2019-05-10 23:42] jessegreenberg commented on #508
@twant and I met today for this and tested on a macOS 1.11.10 El Capitan, Safari 9. We tried in Safari and Chrome with both requireJS and built versions but we were not able to produce this bug. We did hear *duplicate* aria-valuetext every time. I saw this too with an older version of macOS, but @KatieWoe helped us verify that this is not happening in Mojave in https://github.com/phetsims/ohms-law

[2019-05-13 03:07] samreid commented on #510
This sounds like a great proposal to me, please proceed or reassign me if you want assistance (I am backlogged at the moment, so would not get to it right away).

[2019-05-13 16:58] jbphet commented on #510
Sound good t me too.

[2019-05-13 17:19] pixelzoom opened #511 "buggy strategy for setting a11y name of radio button group"
Noticed while working on https://github.com/phetsims/sun/issues/510...

`VerticalAquaRadioButtonGroup` and `RadioButtonGroup` both have this:

[code]

`VerticalAquaRadioButtonGroup` does:

[code]

RadioButtonGroup does:
[code]

This looks like trouble. I discussed with @jessegreenberg and he agreed.  If you have both a `VerticalAquaRadioButtonGroup` and a `RadioButtonGroup` in a sim, arrow keys wi

[2019-05-13 17:27] pixelzoom commented on #511
The other way that this could be resolved is to add a unique prefix to `instanceCount`.  That might be the best approach, since we might create other "group" UI components in the future, either in common code or in sims.  Recommended to use the full name of the class as the prefix, e.g. `"VerticalAquaRadioButtonGroup1"`.

[2019-05-13 17:35] pixelzoom commented on #510
Done.  All usages have been changed and tested.   Since this was trivial and everyone is busy, I'm going to go ahead and close myself.

[2019-05-13 17:35] #510 closed

[2019-05-13 17:45] pixelzoom commented on #510
Reopening..  I also noticed this:

[code]

Why is the field called `tandemName`?  Why not just `tandem`?   @samreid your opinion?

[2019-05-13 17:51] pixelzoom opened #512 "VerticalAquaRadioButtonGroup: buggy handling of item.tandemName"
Noted while working on #510.

VerticalAquaRadioButtonGroup:

[code]

A usage in BASE/ControlPanel:

[code]

Line 81 in VerticalAquaRadioButtonGroup looks buggy to me.  If `tandemName` is provided, then we need to create a Tandem.   And why is this not being caught?

[2019-05-13 17:51] pixelzoom commented on #512
Oh wait... It is creating a tandem. Nevermind, closing.

[2019-05-13 17:51] #512 closed

[2019-05-13 17:52] pixelzoom commented on #510
Ah, never mind, see #512.

[2019-05-15 22:32] jessegreenberg commented on #508
@twant and I tested on a macOS 10.14.5 Mojave, version Safari 12.1.1.

We tried changing the slider rapidly, slowly, after VoiceOver had begun to speak the alert, after it began to read the aria-valuetext, after it had finished speaking, and combinations of these. We only hit the bug once. It happened after rapidly moving the slider then pressing "ctrl option shift down arrow" to enter slider with

[2019-05-15 22:49] terracoda commented on #508
Thanks @twant and @jessegreenberg, I agree that Voice Over can recover relatively easily.
Voice Over has an "interact" command which allows users to use the track pad on things like sliders.
I wonder if it might be related to that VO interact commands.

I think the commands are:
- Interact with an item: VO-Shift-Down Arrow
- Stop interacting with an item: VO-Shift-Up Arrow

I also agree that not m

[2019-05-15 23:00] jessegreenberg commented on #508
Thanks @terracoda, yes those were the commands I meant in https://github.com/phetsims/sun/issues/508#issuecomment-492848445, and it happened once after doing that. But then we tried a few times afterwards with the same steps and couldn't get it to happen again. @KatieWoe when you saw this in https://github.com/phetsims/ohms-law/issues/141 was it after you pressed "control + option + shift + down a

[2019-05-15 23:01] KatieWoe commented on #508
I didn't use "control+option+shift"

[2019-05-15 23:05] jessegreenberg commented on #508
Alright, thanks everyone. It sounds like it isn't necessarily related to VO "interract" commands. Since @terracoda agrees that it isn't worth spending more time on this I am going to go ahead and close.

An entry has been added in https://docs.google.com/document/d/12kTs-g-iKEIH1dyG7Q41_W_oNL4gUKbkW-IQgZjMUBw/edit in case we encounter this in the future. We can reopen if it becomes more of a nuisa

[2019-05-15 23:05] #508 closed

[2019-05-16 21:22] zepumph commented on #495
Marking as a meeting for @jessegreenberg and I. At this point I think that is the fastest way to continue with this issue.

[2019-05-16 23:47] zepumph commented on #499
- [ ] Why are the default options pulled out of the options extend call? `          options = _.extend( {}, defaults, options );`. That seems like an extra object allocation that isn't needed.
- [x] ariaOrientation seems a bit strange for a number spinner, but I guess it makes sense because it is an input of type number.
- [ ] AccessibleValueHandler is missing some parameter jsdoc
- [ ] Here is a

[2019-05-17 19:45] jessegreenberg commented on #499
Thank you for the review!

We need to separate `defaults` from `options` so that fields that are not included in `defaults` do not get applied to the Node twice if the mixing type calls `mutate` as well. This is most important for
 options that might change transform. For example, this prevents `scale` from being applied twice from options to sliders because Slider.js also calls `mutate`.

Thanks,

[2019-05-17 21:08] jessegreenberg commented on #511
Our prediction was correct, arrow keys currently loop through both the AquaRadioButtonGroup and the RadioButtonGroup in the sun ButtonsScreenView demo.

[2019-05-17 21:15] jessegreenberg commented on #511
I added a prefix to the instanceCount with the class name and tested to make sure the bug was fixed in sun ButtonsScreenView demo. @pixelzoom does this seem OK?

[2019-05-17 21:25] zepumph commented on #499
Alright sounds good. Thanks for the quick response.

[2019-05-17 21:35] pixelzoom commented on #511
It's unfortunate that we have to duplicate the class name again as a string literal.  But I don't see any way around that, since constructor/class names get mangled when a sim is built.

Closing.

[2019-05-17 21:35] #511 closed

[2019-05-20 06:30] jonathanolson commented on #426
A lot of this is working, but I'm getting stalled by kite bugs, namely https://github.com/phetsims/kite/issues/78.

[2019-05-20 06:31] jonathanolson commented on #426
@ariel-phet, let me know the priority for working out the kinks on this. The main logic was pretty easy, but hit the 3-hour limit on kite bugs so far.

[2019-05-20 20:15] jessegreenberg commented on #495
@zepumph and I talked about this fora  while during a11y dev meeting. We reviewed the current workaround and discussed a number of alternatives.

The problem with the current workaround for VoiceOver is that it is much too fragile. It looks like
[code]
But for certain max values, everything will break. For example if the range is 10 to 1500, the step size will be 15, and only allow values 10, 25,

[2019-05-20 20:25] jessegreenberg commented on #495
Further discussion...

Since what we are trying to solve is a VoiceOver bug, we aren't going to try to come up with a tricky workaround. We will instead 1) submit a bug report to apple about this and 2) add an option to AccessibleValueHandler to specify the basis for stepping in cases where the default calculation from `a11yDecimalPlaces` won't work for VoiceOver.

[2019-05-20 21:39] ariel-phet commented on #426
Please put in another 3-4 hours

[2019-05-20 22:24] zepumph commented on #495
Renamed post refactor.

[2019-05-21 21:18] jessegreenberg commented on #499
A fix was added for https://github.com/phetsims/axon/issues/248 so the TODO can be removed now.

[2019-05-21 21:26] jessegreenberg commented on #499
TODO removed and styling of the buttons is working correctly again. That was the last thing, this issue can be closed.

[2019-05-21 21:26] #499 closed

[2019-05-23 02:42] ariel-phet commented on #479
seems reasonable to close. Closing

[2019-05-23 02:42] #479 closed

[2019-05-23 21:55] zepumph commented on #409
@terracoda this is pretty old, is this still an issue for ComboBox? Perhaps in Molarity?

[2019-05-24 05:02] terracoda commented on #409
@zepumph, yes this was an issue related to molarity's combobox, and it has been fixed. Closing.

[2019-05-24 05:02] #409 closed

[2019-05-28 08:50] terracoda commented on #465
@zepumph, have Home and End shortcut keys been implemented as an option for the accessible combobox?

While the documentation says they are optional, the documentation also says that these shortcuts are highly recommended for lists with more than 5 items.

Molarity's combobox list has 9 items. I am not sure if there was a decision to not support these shortcuts at all or if this it would be worked

[2019-05-28 09:09] terracoda commented on #476
@zepumph, sorry I missed this issue.
The two `aria-labelledby` id's are applied correctly in Safari and VoiceOver.

Is there another way to dynamically rename the button somehow with javascript, perhaps using a single `aria-labelledby` or a single string for the button's accessible name?

This seems like a bug in Chrome. Is there an option to file a bug?

[2019-05-28 09:30] terracoda commented on #465
@zepumph, the combobox implementation in Molarity is working really well. If you think we should handle the Home and End keys in a new issue, just say so.

[2019-05-28 14:37] terracoda commented on #465
@zepumph, I discussed with @emily-phet, and we would like to have Home and End shortcuts in the long term. And we will see how we can loop this in for Molarity depending on time needed for this feature.

[2019-05-28 19:31] zepumph commented on #507
After discussing further with @jessegreenberg, in https://github.com/phetsims/gravity-force-lab-basics/issues/128 we are going to add a "dependencies" option to `AccessibleValueHandler` that supports passing in a list of `Property` so that you can dictate when to update the aria-valuetext, while keeping the function of updating the aria-valuetext private. Closing

[2019-05-28 19:31] #507 closed

[2019-05-29 17:47] veillette opened #513 "should RadioButtonGroup support grid layout?"
In vector-addition, the design document specifies a 2x2 grid of radio buttons (see https://github.com/phetsims/vector-addition/issues/6). Currently the layout of the RadioGroupButton supports only two orientations, namely vertical and horizontal.

Is it worth generalizing the layout of RadioButtonGroup?

In a Slack discussion, CM suggested:
You could also rework/rewrite RadioButtonGroup to have op

[2019-05-29 18:17] veillette commented on #513
The kludge approach (2nd one) does not work since RadioButtonGroup requires that one of the property value is present in the content array, such that at least one of the button is selected

[2019-05-29 21:03] zepumph commented on #420
Many UIcomponents don't currently support linked elements. We should probably add these back in before GQ publication. It makes little sense to have one for checkbox but not for slider.

[2019-05-30 16:27] samreid commented on #513
Would it be better to create a more general layout suite that applies to any set of Node (instead of just hardcoded to work in RadioButtonGroup or isolated modules?)

[2019-06-03 22:06] zepumph commented on #426
@jonathanolson I wanted to let you know that running this QP with gravity-force-lab-basics crashes the tab because it runs out of memory. Likely you already know, and this work isn't complete, but I thought I'd share just in case.

[2019-06-04 18:20] zepumph commented on #463
Looks like this is already solved, @jessegreenberg offered to just clean it up.

[2019-06-06 19:16] jbphet commented on #513
Discussed in the 6/6/2019 dev meeting, and @jonathanolson is going to work with @veillette and et al and will work to improve it.

@pixelzoom will add some other thoughts to this issue which will potentially be folded in to this effort.

[2019-06-07 18:37] pixelzoom commented on #513
My 2 cents...

* Grid layout (perhaps in `LayoutBox`?) should be independent of any "group" that uses it.
* VBox and HBox should be conveniences that are special cases of "grid layout".
* RadioButtonGroup should responsible for layout (using general "grid layout") and convenient specification of radio buttons, but nothing more (similar to VerticalAquaRadioButtonGroup).
* RadioButtonGroupMember sho

[2019-06-12 17:07] pixelzoom opened #514 "synchronize enabled state of AccordionBox titleBar and ExpandCollapseButton"
Noted while working on phetsims/graphing-quadratics#112 with @amanda-phet.

When AccordionBox's ExpandCollapseButton !enabledProperty.value, you should not be able to click in the title bar to expand/collapse.

[2019-06-12 18:31] pixelzoom commented on #514
Unlike other PhET UI components, sun buttons don't provide `options.enabledProperty` and they don't provide public `this.enabledProperty`.

There is an `enabledProperty` internally, but it's in `ButtonModel`:

[code]

... but it's `@protected` in the view part of the button. For example in RectangularButtonView:

[code]

And you're apparently supposed to call `setEnabled` and `getEnabled` to indir

[2019-06-12 18:38] pixelzoom commented on #514
I've found a workaround for this, but it's not pretty.  It involves checking `this.expandCollapseButton.getEnabled()` when the titlebar is clicked.

[2019-06-12 18:43] pixelzoom opened #515 "sun buttons have a different API for enabledProperty"
Over in https://github.com/phetsims/sun/issues/514, this general issue was noted.   I found a workaround for that specific issue, but handling `enabledProperty` differently in buttons seems problematic.  And should be addressed when we do the "standardized how enabledProperty is handled" issue (which I can't seem to locate).

Here's my summary from https://github.com/phetsims/sun/issues/514#issuec

[2019-06-12 18:44] pixelzoom commented on #515
Assigning to @ariel-phet to prioritize and assign.

[2019-06-12 18:49] pixelzoom commented on #514
Rats, my workaround does prevent clicking on the titlebar when `expandCollapseButton` is disabled. But the titlebar should be set to `pickable:false` when `expandCollapseButton` becomes disabled, and I have no way to do that.

[2019-06-12 18:50] pixelzoom commented on #515
Workaround for phetsims/graphing-quadratics#112 did not work, see https://github.com/phetsims/sun/issues/514#issuecomment-501407372.   In case that affects the priority...

[2019-06-12 18:53] pixelzoom commented on #514
Here a patch that address clicking on the titlebar, but not the titlebar cursor.

<details>
<summary>Patch</summary>

Index: js/AccordionBox.js
IDEA additional info:
Subsystem: com.intellij.openapi.diff.impl.patch.CharsetEP
<+>UTF-8
===================================================================
--- js/AccordionBox.js	(revision dd6b04ce0389a1a1362db306d5e3dd65e4d72ef4)
+++ js/AccordionBox.js	(

[2019-06-12 18:57] pixelzoom commented on #515
Addressing this doesn’t look easy, and probably requires discussion. My 2 cents is that this should be part of the bigger “standardize enabledProperty, maybe with a mixin” work. (Where is that pesky issue?)

[2019-06-13 17:29] jbphet commented on #514
I'd recommend taking the time to add the `enabledProperty`.  Over Slack @pixelzoom said that this would be fairly hard, but if it's a problem that is going to cause issues in the future, I just think we should do it anyway.

[2019-06-13 21:02] pixelzoom commented on #514
The Property in question will not be featured in Graphing Quadratics, so this is not needed for GQIO milestone and phetsims/graphing-quadratics#112.

[2019-06-17 21:48] jbphet commented on #505
@Ashton-Morris and @emily-phet - the latest versions are available in the https://phet-dev.colorado.edu/html/tambo/1.0.0-dev.11/phet/tambo_en_phet.html prototype, 2nd screen.  Please review and provide feedback (we can do this during the weekly sound design meeting if you like).

[2019-06-17 21:48] jbphet commented on #506
@Ashton-Morris and @emily-phet - the latest versions are available in the https://phet-dev.colorado.edu/html/tambo/1.0.0-dev.11/phet/tambo_en_phet.html prototype, 2nd screen.  Please review and provide feedback (we can do this during the weekly sound design meeting if you like).

[2019-06-18 00:37] pixelzoom commented on #257
@jbphet removed the "meeting:developer" label on 1/31/19, but I don't see our 1/31/19 dev meeting discussion summarized here.  Here's what I recall:

* Consensus was that this is a problem and needs to be addressed.
* We decided to investigate how to add this feature uniformly to all UI components, so that the API is the same, instrumented the same, etc.
* Mixin/trait were discussed as candidate a

[2019-06-18 00:38] pixelzoom commented on #515
I said:

See https://github.com/phetsims/sun/issues/257#issuecomment-502900733 for the general issue of adding `enabledProperty` uniformly to UI components.

[2019-06-18 00:42] pixelzoom commented on #257
Side issue...  `SUN/UIComponent` was where this was originally being investigated circa 9/2016.   It's not used anywhere and is out of sync with reality,  so I think it should be deleted.  Any objections?

[2019-06-18 00:58] pixelzoom commented on #257
Side issue... `SUN/UIComponent` was where this was originally being investigated (by me) circa 9/2016. It's not used anywhere and it's out of sync with reality -- it doesn't handle `dispose` properly, it doesn't address PhET-iO instrumentation, `setEnabled`/`getEnabled` are not generally needed,...  So I've deleted it in the above commit.  If anyone objects, feel free to restore it.

[2019-06-18 01:01] pixelzoom commented on #257
Thinking out loud... `enabledProperty` might be something that belongs in scenery, as something that can be mixed in to any Node.   In general, when "something" is disabled, we reduce its opacity to `SunConstants.DISABLED_OPACITY`.   Perhaps "something" could be any Node, not necessarily a "UI component".

[2019-06-18 16:35] jbphet commented on #506
@Ashton-Morris is going to make some mods to try to "thicken up" the sound used in version 1.0.0-dev.11.

[2019-06-18 16:36] jbphet commented on #505
We reviewed this at the 6/18/2019 dev meeting and are feeling pretty good about choice 1 in version 1.0.0-dev.11 for radio button sounds.

[2019-06-19 20:31] zepumph commented on #420
@zepumph @chrisklus @samreid all worked on this today. We emphasized on fixed the problem, which kept `addLinkedElement` calls commented out in Slider/Checkbox etc, and adding `LinkedElement`s to common code types used by GQ.

This involved creating an option to Slider called `phetioLinkedElement` to support passing a dynamicProperty as the Property that Slider runs on, and pass in the conceptual

[2019-06-19 20:32] zepumph commented on #420
Before this doesn't block GQIO, @chrisklus will go through all of GQ and make sure that there aren't any items without a linked element.

[2019-06-19 23:17] zepumph commented on #257
I would also like to add that this has shown up in PhET-iO work quite frequently this year as well. Everything I have run into makes me feel like there should be a base class (or mixin) that handles all the code we want to add to PhET-iO instrumented common code.

* Creating assertions around enabledProperty to make sure that things run smoothly is really clunky to do in each file, for example in

[2019-06-20 04:50] samreid commented on #257
I gave @pixelzoom's comment a 👍 but wanted to clarify.  I'm somewhat on the fence about it.  It seems adding that to Node would have the following effects:

1. Increased memory footprint for simulations with many nodes, since it adds a heavyweight property to each node (that's bad)
2. Simplifying and centralizing our strategy, and making it easy to interoperate with PhET-iO and possibly a11y (that

[2019-06-20 04:55] samreid commented on #515
I think I understand the problem, and am curious as to whether this would block publication of GQIO 1.1.

[2019-06-20 15:54] jonathanolson commented on #257
I'm not opposed to adding something like an enabledProperty to every Node, but it seems a bit cleaner to have it be a mixin.

[2019-06-21 13:29] pixelzoom commented on #515
This doe not block GQIO 1.1, see https://github.com/phetsims/sun/issues/514#issuecomment-501877565.

[2019-06-21 13:32] pixelzoom commented on #257
To clarify my comment in https://github.com/phetsims/sun/issues/257#issuecomment-502904608...  I didn't suggest (necessarily) adding `enabledProperty` to Node.  I only suggested that the facility for adding this feature should live in scenery and be applicable to Node if desired.  So like @jonathanolson said, a mixin may be a better approach.

[2019-06-21 19:52] chrisklus commented on #420
I found that all of the expected UI components had an associated linkedElement. The studio controls worked well for all of these Properties as well.

It seems weird that `pProperty` on the Focus & Directrix screen is the only one of these linked Properties that doesn't have a Studio control, but then I remembered that it can't take the value 0, which would be hard to support in Studio.

Unmarking

[2019-06-21 20:31] jbphet commented on #506
The new sound from @Ashton-Morris has been integrated as sound 1 in the tambo demo, please review and provide feedback.  The demo can be found at https://phet-dev.colorado.edu/html/tambo/1.0.0-dev.13/phet/tambo_en_phet.html.

[2019-06-22 23:46] samreid commented on #515
On slack, @kathy-phet reminded us we would like to feature both `visibleProperty` and `enabledProperty` by default.  Hence it seems we need to have a good plan for `enabledProperty` for GQIO11.

[2019-06-22 23:47] samreid commented on #515
Note this issue overlaps significantly with https://github.com/phetsims/sun/issues/257

[2019-06-25 20:47] jbphet opened #516 "branch: enabledDisabledMixinExperiments"
This branch is intended to be used to experiment on using a mixin or a trait to implement enabled/disabled behavior in a way that is consistent across sun UI components and doesn't result in a bunch of boilerplate code.  See https://github.com/phetsims/sun/issues/257.

[2019-06-27 00:40] zepumph commented on #514
@jbphet @pixelzoom while this may not block GQIO, it is strange to not have a consistent api for AccordioBox. Could you please let me know what you think of this patch? I'm pretty sure it would work, but don't want to commit when I don't own the common code element.

<details>

[code]

</details>

[2019-06-27 00:43] zepumph commented on #514
Actually I'm going to promote the priority, because if this is as simple as applying the patch, we should get it done with before GQIO.

[2019-06-27 00:44] zepumph commented on #515
I understand that sentiment, though I'm not sure that we need to solve this issue for GQIO. This is mainly about a clunky private api. The enabledProperty interface for PhET-iO would stay the same I believe. I'm going to remove the label, let me know if you disagree.

[2019-06-27 00:51] pixelzoom commented on #514
@zepumph that patch will yield the desired end result, so proceed if you'd like.  But a few things:

* The new private Property `enabledProperty` has a misleading name.  We're not enabling/disabling the AccordionBox, we're enabling/disabling the ExpandCollapseButton.  Disabling the AccordionBox would gray out the entire AccordionBox.  If you want to proceed with this, please name the Property `exp

[2019-06-27 00:54] zepumph commented on #514
I'm not sure I agree. I thought the goal of this was to sync up the titlebar interaction with the button. So in fact this is a scope outside of just the button.

Would you instead prefer to link to the button's enabledProperty and change the cursor that way?

[2019-06-27 00:57] pixelzoom commented on #514
Yes, the goal is to disable interactivity of the titlebar when the ExpandCollapseButton is hidden or disabled. That has nothing to do with whether the AccordionBox itself is enabled or disabled (which is currently not supported, and will be addressed by https://github.com/phetsims/sun/issues/257#issuecomment-502900733).

Yes, definitely.

[2019-06-27 01:02] zepumph commented on #514
Oh I see. Thanks! Then I'll see you over in https://github.com/phetsims/sun/issues/515.

[2019-06-27 01:03] pixelzoom commented on #514
To clarify...  Yes, I would like to sync with the ExpandCollapseButton's `enabledProperty`.  But no, I do not want to reach inside ExpandCollapseButton and link to `buttonModel.enabledProperty`.   I'm advocating addressing #515, then doing this correctly in AccordionBox.

As for whether this needs to be addressed for GQIO...  The use-case for AccordionBoxes was originally to hide the ExpandCollaps

[2019-06-27 01:05] zepumph commented on #515
@pixelzoom cleared things up for me over in https://github.com/phetsims/sun/issues/514#issuecomment-506097034.

Brainstorming here. What if Types like `RectangularButtonView` just had a getter for the enabledProperty, then we could link to it and do everything needed for https://github.com/phetsims/sun/issues/514.

[2019-06-27 01:07] pixelzoom commented on #514
@zepumph Also apologies if the title of this issue, "AccordionBox should have an enabledProperty ..." sent you down the garden path in your patch.   I believe that I created this issue hurriedly during a design meeting.

[2019-06-27 01:11] zepumph commented on #514
No problem!

[2019-06-27 01:13] pixelzoom commented on #515
That would be OK for a short-term solution, but will be more enabledProperty-related code that we'll need to revisit for https://github.com/phetsims/sun/issues/257#issuecomment-502900733.   If there's really a short-term need to do this, then I can't think of a better approach.

The longterm solution is to first decide what API we want to have to enabled/disable UI components over in https://githu

[2019-06-27 18:08] zepumph commented on #257
Mentioned at dev meeting today; we will wait for @jbphet to discuss further.

[2019-07-01 02:24] samreid commented on #480
It would be nice to make sure this is all set for GQIO, I'll label it so.

[2019-07-02 21:55] ariel-phet commented on #410
@jessegreenberg please have someone else review or close

[2019-07-02 23:23] zepumph commented on #515
Above I added the two getters for the enabledProperty because I felt like this would be the easiest way to proceed with https://github.com/phetsims/sun/issues/514. I'm not really sure what else to do with this issue, because to me it feels like it should just be lumped in to work done in https://github.com/phetsims/sun/issues/257. For now I'm going to remove the blocking status and ask that @pixel

[2019-07-02 23:23] zepumph commented on #514
Above I added a fix for this. It may not be best, but I like its simplicity and look forward to making it that much better as part of https://github.com/phetsims/sun/issues/257. @pixelzoom please review this change. Does this seem like a reasonable stop gap for GQIO? See also the supporting commit in https://github.com/phetsims/sun/issues/515 that made this work possible.

[2019-07-02 23:32] zepumph commented on #480
I reviewed the above commits, and looked at the current level of instrumentation implementation in master. Things seem pretty nice to me.

Agreed that most of this work above seems to have been implemented to support phetioComponentOptions. We now know that for the most part that is an antipattern and we will just be using Studio to do this (BTW I see no usages in GQ, Wahoo!). That said all the ab

[2019-07-03 15:53] jessegreenberg commented on #410
This can be closed.

[2019-07-03 15:53] #410 closed

[2019-07-03 17:57] pixelzoom commented on #515
If it were me, I would have just deferred #514, I don't enabledProperty for AccordionBox’s ExpandCollapseButton should be a priority for GQIO.  The use case for GQ (and I believe sims in general) is to hide the button so that students could not collapse the AccordionBoxes.  I see little value in disabling the button.

That said... If you must address that issue, then the changes in https://github.

[2019-07-03 18:00] pixelzoom commented on #514
As I said over in https://github.com/phetsims/sun/issues/515#issuecomment-508195615 ...

That said... I think that  https://github.com/phetsims/sun/commit/87a8115334cb6adf3a5f9ab1be5402f0ee3d616b should be documented as a temporary solution, with a TODO that links back to this issue. Otherwise it's likely to become permanent.    And this issue should remain open until we have a permanent solution.

[2019-07-03 18:23] pixelzoom commented on #480
Looks to me like everything is done here, and the answer to the original question is "feature stuff using Studio".  So closing.

[2019-07-03 18:23] #480 closed

[2019-07-04 00:01] zepumph commented on #257
In lieu of conversations over in https://github.com/phetsims/sun/issues/515. It would be my vote to raise the priority of this issue. Let me know what I can do to help in this.

[2019-07-04 00:05] zepumph commented on #515
That seems fair enough to me. I removed an unused workaround in the round view, and added a TODO pointing to https://github.com/phetsims/sun/issues/257. @pixelzoom please close if that feels good to you.

[2019-07-04 00:09] zepumph commented on #514
I definitely agree with that sentiment as it pertains to https://github.com/phetsims/sun/issues/515#issuecomment-508195615. I don't know if that carries over here as much though. To me https://github.com/phetsims/sun/commit/87a8115334cb6adf3a5f9ab1be5402f0ee3d616b feels like a reasonable solution. Whatever is solution that is come up with in https://github.com/phetsims/sun/issues/257 should have t

[2019-07-04 00:10] pixelzoom commented on #515
Thanks @zepumph, looks good.   Now that we have a temporary solution, I'm going to reassign this issue to @ariel-phet to prioritize and assign for a permanent solution.

[2019-07-04 00:12] pixelzoom commented on #514
Yes that seems reasonable.  Presumably when RectangularButtonView `getEnabledProperty` goes away, we'll have no choice but to switch to the permanent solution for #515 here.

Closing.

[2019-07-04 00:12] #514 closed

[2019-07-08 17:29] zepumph opened #517 "Disabled checkboxes should not be tab navigable"
From https://github.com/phetsims/inverse-square-law-common/issues/66#issuecomment-509274593

It seems like though the checkbox is properly disabled and can't be toggled, when a checkbox is not enabled, you can still tab navigate to it, and it has focus highlight.

See here: http://localhost/sun/sun_en.html?brand=phet&ea&a11y&screens=2&component=Checkbox

![image](https://user-images.githubusercont

[2019-07-08 17:45] zepumph commented on #517
Here is a patch that I believe does what we are interested in accomplishing. I didn't commit because it wasn't totally trivial, and I would rather just use it as a discussion point to try to boost the priority of https://github.com/phetsims/sun/issues/257

[code]

[2019-07-08 17:46] zepumph commented on #517
See https://github.com/phetsims/gravity-force-lab/issues/110 for the GFLB main issue.

[2019-07-08 17:52] jessegreenberg commented on #517
Proposed change looks very good, however I recall that last we discussed this we decided that disabled components should be focusable but not interactive. I don't remember why we decided that because that is different from the native `disabled` attribute, but I am going to try to find any discussion notes about it.

[2019-07-08 18:06] jessegreenberg commented on #517
Found it! https://github.com/phetsims/sun/issues/317 (specifically https://github.com/phetsims/sun/issues/317#issuecomment-333263613)

I think all we need to do is replace `disabled` in the proposed change with `aria-disabled`.

[2019-07-08 18:50] zepumph commented on #517
Gotcha! Thanks for looking into this.

[2019-07-08 18:52] zepumph commented on #517
We don't need this done until GFL is published, so I think for now this should be put on hold until https://github.com/phetsims/sun/issues/257 is done. We can take it off of hold before then if we are getting close to publishing that sim.

[2019-07-08 18:53] zepumph commented on #257
- [ ] https://github.com/phetsims/sun/issues/517 is marked on hold until something is implemented here. When this is done it would be good to unmark that issue as on hold.

[2019-07-09 16:40] SaurabhTotey commented on #33
I am closing this issue because, looking at VerticalCheckBoxGroup, it seems like there is an option called `checkboxOptions` which, as its name would suggest, gets passed down to its children CheckBoxes. As such, any option for CheckBox can be passed in from VerticalCheckBoxGroup.

[2019-07-09 16:40] #33 closed

[2019-07-11 04:06] ariel-phet commented on #515
@zepumph perhaps we should have some tag/milestone or such that is some things we would like to address after GQIO is finished? It seems like then such issues should be reviewed and prioritized after GQIO is finished. This seems like one such issue.

Marking for iO meeting mainly to discuss gathering and tagging relevant issues.

[2019-07-11 19:16] jbphet commented on #257
This was discussed at the 7/11/2019 developer meeting, and we agreed that the API that we should move towards is the one currently available in `Checkbox.js`, including:
+ a publicly available `enabledProperty`
+ the ability to provide an `enabledProperty` in the options
+ setters and getters for enabled, including ES5 setter/getters (e.g. `setEnabled` and support for `enabled = `)

In addition, t

[2019-07-11 19:16] jbphet commented on #257
Also in the dev meeting, @pixelzoom said he'd be willing to do intermediate code reviews, and @jessegreenberg pointed out that there is an ES6 example of a trait in PhET's patterns document.

[2019-07-11 19:17] jbphet commented on #257
Un-marking for developer meeting until there is some progress to review.

[2019-07-28 20:51] pixelzoom opened #518 "Checkbox expects its associated Property to be instrumented"
Noted in https://github.com/phetsims/joist/issues/569#issuecomment-515250918

Checkbox currently expects its associated Property to be instrumented, so that it can create a linked element.  That expectation is not checked, and I don't agree with it.   It should be possible to pass an uninstrumented Property to a Checkbox, in which case it should not attempt to create a linked element.

[2019-07-29 17:59] zepumph commented on #518
When creating the linked elements in each individual component, we decided to not implement enabled Property checks totally and completely, since they should all be factored out into a mixin in progress.
The proof-of-concept full checks are only implemented in `Slider`:

[code]

Note these checks were created with the assumption that Tandem.required cannot be overridden. So we would probably want

[2019-07-29 18:04] pixelzoom commented on #518
I don't agree with the "proof-of-concept full checks" currently in Slider.  Instrumenting a UI component should not require that its associated Properties are instrumented.

Whether this needs to be fixed in Checkbox depends on your timeframe for the "mixin in progress", which I have not previous heard of.

[2019-07-29 18:16] zepumph commented on #518
I am speaking about the enabledProperty mixin in https://github.com/phetsims/sun/issues/257.

@pixelzoom could you illustrate your qualms with linking the instrumentation levels between component and the Property it runs on. For clarity please note that I am only talking about doing this for phet-io brand, when the component is instrumented.

[2019-07-29 18:51] pixelzoom commented on #518
Have I no qualms with linked Properties -- if a Property is instrumented, by all means create a linked element.  But I don't think it should be required.  That's inflexible, and creates the type of problem described in https://github.com/phetsims/joist/issues/569#issuecomment-515250918, where we want to feature ProjectorModeCheckbox, but not its internal Property.

[2019-07-29 18:52] pixelzoom commented on #518
And why would the "enabledProperty" mixin be responsible for determining whether to create a linked element?  This is related to (for example) Checkbox's `property` constructor parameter, and has nothing to do with `enabledProperty`.

[2019-07-29 21:35] samreid commented on #518
The comment referenced says:

This is a tradeoff between flexibility and uniformity.  We discussed the advantage of every instrumented Checkbox having an instrumented Property.  I haven't read the full thread of phetsims/joist#569 and I don't understand if it's essential to have the underlying Property be uninstrumented.  If it is uninstrumented, how will phet-io read or change its value?

[2019-07-29 21:45] pixelzoom commented on #518
phet-io does not need to read or change its value.  That can be done via `colorProfile.profileNameProperty`.

This came up in the context of https://github.com/phetsims/joist/issues/572, whether to instrument the internal `projectorModeEnabledProperty` of ProjectorModeCheckbox.  I had no choice but to instrument it in that case, and @jessegreenberg (rightfully imo) questioned that.

And regardless

[2019-07-29 21:46] samreid commented on #518
Thanks @pixelzoom, that makes sense.  @chrisklus and @zepumph and I will schedule this for discussion.

[2019-07-29 23:16] pixelzoom commented on #518
@zepumph you assigned this to me again. What additional feedback do you need?

[2019-07-29 23:44] zepumph commented on #518
Sorry I though I commented the below 1 hour ago, but it didn't go through:

I think I would understand this better, and contribute to further conversation more effectively, if I understood a case or two where the passed in Property shouldn't be instrumented for an instrumented Slider/Combobox/RadioButton etc.

[2019-07-30 00:37] zepumph opened #519 "Disabled checkboxes should not be interactive with keyboard"
From https://github.com/phetsims/gravity-force-lab/issues/110 and potentially related to https://github.com/phetsims/sun/issues/517. If you go to GFL with a screen reader on, pressing space with toggle "checked" "not checked," but it won't toggle the underlying Property. I'm not sure where the discrepancy is.

[2019-07-30 00:37] zepumph commented on #517
Actually I think we should mark this off hold. Especially with https://github.com/phetsims/sun/issues/519, we should just solve these problems now, together as a batch.

[2019-07-30 03:30] pixelzoom commented on #518
Have you looked at ProjectorModeCheckbox?  I've been referencing it repeatedly as a concrete example.

[2019-07-30 06:44] terracoda commented on #519
@zepumph, I think there is an `aria-disabled=true/false` or possibly even an HTML attribute that disables controls. We need to invoke an attribute on the second checkbox when the first one is unchecked so that if a user tabs to the second one, they hear something like:
- "Scientific Notation, checkbox, disabled".

I'll look up the attributes and see if we need the ARIA one or if the HTML5 one is w

[2019-07-30 08:19] terracoda commented on #519
For HTML5 see: https://www.w3.org/TR/html52/disabled-elements.html#disabled-elements
For ARIA see: https://www.w3.org/TR/wai-aria-1.1/#aria-disabled
For Authoring Practices see: https://www.w3.org/TR/wai-aria-1.1/#aria-disabled

@zepumph, if I am reading the can I use website correctly, I think we can use the HTML5 `disabled` attribute.

See: https://caniuse.com/#search=disabled

[2019-07-30 16:33] zepumph commented on #518
Yes I have indeed. I understand the intermediate nature of the Property, but from the Checkbox perspective. I see lots of added value in having some way of linking back to the Property that controls it. Here it seems like really what we wish for is a way to link back to the Property in ColorProfile. Without that linkage, it seems like the instrumentation of the Checkbox is incomplete. From the che

[2019-07-30 18:47] zepumph commented on #517
Over in https://github.com/phetsims/sun/issues/519 we found a solution that can keep diabled checkboxes in the tab order. Based on previous discussion referenced in https://github.com/phetsims/sun/issues/517#issuecomment-509331910 it seems like that is the way to go. Closing

[2019-07-30 18:47] #517 closed

[2019-07-30 18:59] zepumph commented on #519
@jessegreenberg and I did some research, searching for a way to may the checkbox un-interactive (essentially read-only) without removing it from the tab navigation order. We found https://stackoverflow.com/questions/12267242/how-can-i-make-a-checkbox-readonly-not-disabled/12267294 and went with a solution in there, using `onclick="return false"` to short circuit the default logic. We couldn't get

[2019-07-30 20:02] zepumph commented on #519
Closing

[2019-07-30 20:02] #519 closed

[2019-07-30 20:04] pixelzoom opened #520 "opening a modal Dialog should interrupt interactions"
Over in https://github.com/phetsims/gas-properties/issues/149, it was noted that opening a modal Dialog does not cancel interactions that are in progress.  For example, in Gas Properties, a Dialog may open as the result of the user is interacting with a slider or other UI component.  If the user hasn't release the slider thumb, they can continue to interact after the Dialog has been opened.

It se

[2019-08-02 20:19] jessegreenberg commented on #518
I ran into a case like this for while using ComboBox. Like https://github.com/phetsims/sun/issues/518#issuecomment-516174455, I needed an internal adapter Property to drive the ComboBox. Since ComboBox required the adapter Property to be instrumented, there will be two Properties available that will control the same thing. It doesn't seem necessary to have both and it is possible that the instrume

[2019-08-02 21:52] zepumph commented on #518
What about an option to ComboBox like `phetioLinkedProperty` that can be supplied as a override. If not provided, then it will use the passed in parameter. @jessegreenberg in your case would it be possible to get the actual parameter from the ComboBox call site?

[2019-08-02 23:34] pixelzoom commented on #518
Why not just create the linkedElement only if the Property associate with the ComboBox is instrumented?  If the Property is not instrumented, then no link.

[2019-08-03 02:00] samreid commented on #518
In order to streamline the user experience in studio and make the API more understandable, it would be nice to generally map from instrumented UI component => instrumented Model Property.  I'm not understanding the use case of an UI component without a corresponding instrumented Model Property (unless something is just drawn as an icon, but that sounds like an unusual case--like a button that has

[2019-08-03 04:47] pixelzoom commented on #518
Exposing implementation details for the sake of consistency is not equivalent to making something more streamlined and understandable. The requirement to instrument a UI component's associated Property will (in some cases) expose an implementation detail, creating a PhET-iO interface that is not the recommended way of interfacing with the UI component, and creating a dependency that will result in

[2019-08-03 05:16] samreid commented on #518
Sorry for the the confusion, in retrospect I can see how my comment is ambiguous.  The proposal was to expose and link the semantically-relevant model property, not the implementation-based model property.  I believe this is what @zepumph proposed in https://github.com/phetsims/sun/issues/518#issuecomment-517854725.  In the case of ProjectorModeCheckbox, the exposed and linked model property would

[2019-08-03 05:43] pixelzoom commented on #518
Thanks for clarifying. Agreed, linking the semantically-relevant Property (`profileNameProperty` in the case of ProjectorModeCheckbox) is the way to go.

As for how this is done... I'm wonder if we really need/want yet-another option like `phetioLinkedProperty`.  An alternative would be to make Checkbox call `addLinkedElement` only if its Property is instrumented.  And make ProjectorModeCheckbox r

[2019-08-03 05:47] samreid commented on #518
Somewhat devil's advocating here, but to a Client, wouldn't they want to be able to set the ProjectorModeCheckbox to `true` (checked) or `false` (unchecked) without having to understand the underlying details of `profileNameProperty`?  To rephrase: we have been saying that the `projectorModeEnabledProperty` is an implementation detail.  But wouldn't clients see the `profileNameProperty` as the imp

[2019-08-03 06:00] pixelzoom commented on #518
Ask the designers.

[2019-08-06 21:25] jbphet opened #521 "branch: sounds-in-common-code"
This branch will be used as a place to try out and hopefully finalize the strategies for integrating sound into common code components.  See https://github.com/phetsims/tambo/issues/73, https://github.com/phetsims/sun/issues/505, and https://github.com/phetsims/sun/issues/506.

[2019-08-07 17:38] pixelzoom commented on #516
@jbphet I see no branch with this name. Was it deleted?

[2019-08-07 17:39] pixelzoom commented on #488
It's been a long time since this was assigned for review.  @ariel-phet please prioritize.

[2019-08-07 17:44] jbphet commented on #516
Nope, just not yet pushed.

[2019-08-07 17:48] pixelzoom commented on #267
In some other issue (that I can't locate) we settled on nested options.  So closing this issue.

[2019-08-07 17:48] #267 closed

[2019-08-08 21:34] chrisklus commented on #488
Dang, sorry @pixelzoom. Review complete, changes look straightforward and good to go. Back to @pixelzoom to close.

[2019-08-08 21:34] pixelzoom commented on #488
👍

[2019-08-08 21:34] #488 closed

[2019-08-21 00:47] twant opened #522 "VSlider should flip trackSize and thumbSize"
@zepumph and I were looking at `VerticalSlider` in Molarity where it instantiates `VSlider`. We noticed that the trackSize option for `VSlider` is mapped the same as `HSlider`. In Molarity, `VerticalSlider` works around that by flipping the dimensions:
[code]
It seems like instead of swapping the dimensions when they're passed in, they should be swapped in `VSlider` so that they can be passed in a

[2019-08-21 15:47] pixelzoom commented on #522
I don't know if I'd call it a bug, but it sounds like a fine change to make.  Please document the switcheroo thoroughly in VSlider, in case it's not obvious that Slider's default orientation is horizontal.

[2019-08-21 22:27] samreid commented on #399
This issue came up in https://github.com/phetsims/wave-interference/issues/438, is there a consensus for this issue?  Anything else to do before this issue can be closed?

[2019-08-29 18:58] pixelzoom opened #523 "unify radio button group implementations"
8/29/18 dev meeting:

We currently have 2 very different radio button "groups": `RadioButtonGroup` and `VerticalRadioButtonGroup`.   They should be unified, so that we're not duplicating code related layout, a11y, sonification, phet-io, etc.

@ariel-phet asked me to describe a "road map" for accomplishing this.

[2019-08-29 18:58] pixelzoom commented on #523
The first thing that I should do is review issues related to `RadioButtonGroup ` and `VerticalRadioButtonGroup`.

[2019-09-09 17:26] samreid commented on #343
@ariel-phet is there someone else that could address this?  Or should I make time for it?  If so, can you recommend a priority and timeline?

[2019-09-10 05:27] samreid commented on #420
@chrisklus do you recall why this issue went on hold?  Can we resume work on it?

[2019-09-10 18:27] chrisklus commented on #420
I don't remember, my apologies for not giving a reason. My best guess is that I was spot checking GQ's usages before it was published and then we wanted to move on to other blocking work.

I bet we can resume.

[2019-09-11 17:43] ariel-phet commented on #343
@pixelzoom is willing to make this change. Not a rush at all, once vector addition is in the testing phase might be a good time for this work.

[2019-09-11 23:25] jessegreenberg opened #524 "Interrupting PressListener shouldn't fire buttons"
I noticed that interrupting a PressListener while a Pointer is down on a button will still result in the button firing. That seems incorrect to me, I would expect an interrupt to release the button without it proceeding to fire.

To see in a quick test, add `this.interrupt()` to `pointerMove` function of PressListener and run http://localhost:8080/sun/sun_en.html?brand=phet&ea&screens=1. Then move

[2019-09-11 23:34] jessegreenberg commented on #524
Firing is implemented by ButtonModel subtypes in listeners on `downProperty`. So it seems like one fix would be to add a way to determine when ButtonModel PressListeners have been interrupted (that may be the tricky part), then change ButtonModel subtypes to only fire when not interrupted.

[2019-09-13 23:22] zepumph commented on #334
That sounds great thanks!

[2019-09-16 20:17] zepumph opened #525 "Improvements to Dialog default layout"
From https://github.com/phetsims/gravity-force-lab/issues/144, @pixelzoom and I discussed a few ways to improve the default Dialog layout. Ideally it should be based on the screen dimensions, instead of including the nav bar as well. With this in mind, here is a working list of improvements:

- [x] Promote `Dialog.layoutStrategyCenteredInScreen` to the default layout strategy. A few questions stil

[2019-09-16 21:29] zepumph commented on #525
The first item was pretty straight forward, and I think it is a good change. Still to discuss:
- [ ] Should we keep the currently unused: `SIM_BOUNDS_CENTER_LAYOUT_STRATEGY`. I looked through all the usages, and it really seems like is we don't want to use it for nav/menu dialogs like about/keyboardHelop dialog, then we will never want it.

I then investigated making DEFAULT_MAX_HEIGHT/WIDTH const

[2019-09-17 02:02] zepumph commented on #525
I went down a bit of a rabbit whole trying to implement a default maxHeight and maxWidth. Much of this was spent talking with @jonathanolson about what the best api for dialog layout functions are. It seems like we want the default maxHeight and maxWidth to be based on the layoutBounds, but I couldn't figure out any way to do that. Here is a patch of my current progress.

I'm also curious about if

[2019-09-17 16:52] KatieWoe opened #526 "Depressed buttons on iOS 13 look wrong"
For https://github.com/phetsims/QA/issues/427.  Not caused by that update however.
The image for the depressed button that starts a wave seems wrong on iOS 13.  Also seen when depressing buttons such as reset all on any sim.
![Image from iOS (1)](https://user-images.githubusercontent.com/41024075/65062297-fb5bbc80-d938-11e9-8d65-56a10ebd4962.png)
![Image from iOS](https://user-images.githubusercon

[2019-09-19 19:11] jonathanolson commented on #526
This is live in a bad state on iOS 13 on my phone. Elevating the priority, investigating workarounds.

[2019-09-19 19:19] jonathanolson commented on #526
It looks like the general SVG and Canvas radial gradients with different start/end points are failing to display. This is also visible for https://developer.mozilla.org/en-US/docs/Web/SVG/Tutorial/Gradients where on iOS 13 it shows up badly:

![IMG_1906](https://user-images.githubusercontent.com/480878/65274210-09980d00-dae0-11e9-9f79-0cf9304148f9.PNG)

[2019-09-19 19:28] jonathanolson commented on #526
This has been noticed in https://bugs.webkit.org/show_bug.cgi?id=201390 a few days ago, is marked as a problem in a lower framework (which makes sense). I added a comment with my reproducible example.

[2019-09-19 22:15] KatieWoe commented on #526
@loganbraywork just suggested, and I checked, this does hit the app, including the Rutherford Scattering part.

[2019-09-24 22:39] jessegreenberg opened #527 "Thumb is positioned incorrectly with Slider's enabledRangeProperty"
For example, in density, see how the thumb is outside of the enabled range marked on the track. The track range is correct, the thumb is out of place.
![image](https://user-images.githubusercontent.com/6396244/65555375-82410400-defa-11e9-9d14-d375bccf196c.png)

And in a more simple example:
![image](https://user-images.githubusercontent.com/6396244/65555388-8d942f80-defa-11e9-84f0-81ad28489279.png

[2019-09-25 19:12] jessegreenberg commented on #527
This is happening because the track is centered in Slider.js with `valueToPosition` (dependent on the enabledRangeProperty) rather than the entire range of the slider with `fullRangeValueToPosition`. This could be fixed by changing the slider to be positioned relative to the full track rather than the enabled portion.

But I think it would be clearer if there was just one `valueToPosition` functio

[2019-09-25 19:26] jessegreenberg opened #528 "Remove SliderTrack.setValueToPositionFunction"
I am not sure why this is here and it doesn't seem like it should be settable. This LinearFunction is determined from the slider range and the width of the track. There are no usages of this in the project and I am going to remove.

[2019-09-25 19:26] jessegreenberg commented on #528
From #527

[2019-09-25 19:36] jessegreenberg commented on #527
Should be fixed with the above commit, tested with a number of enabled ranges and density the usage in density is looking good.

@jonathanolson can you please confirm?

[2019-09-25 20:13] jonathanolson commented on #527
Looking great, thanks!

[2019-09-25 20:13] #527 closed

[2019-09-25 21:47] jessegreenberg commented on #528
This was in SliderTrack because the valueToPosition function used to be defined in Slider. But now it is owned and created by SliderTrack, so it safe to remove.

[2019-09-25 21:50] jessegreenberg commented on #528
Done.

[2019-09-25 21:50] #528 closed

[2019-09-25 22:19] jessegreenberg opened #529 "branch: customZoom"
Motivated by https://github.com/phetsims/scenery/issues/974, but mostly for https://github.com/phetsims/sun/issues/524.  #524 needs to be resolved before I can continue with https://github.com/phetsims/scenery/issues/974,. This branch has a potential solution for #524 but I don't feel confident enough to unleash on master yet. Changes will be considered here first.

[2019-09-25 22:38] jessegreenberg commented on #524
I looked into making PressListener.invalidateOver use `interrupted` so that if interrupted "over" listeners everywhere wouldn't fire but I now see that it the wrong direction because `interrupted` remains true until the next press.

[2019-09-25 22:59] jessegreenberg commented on #524
This is what I was thinking for ButtonModel. Examples here check for `ButtonModel.interrupted` in PushButtonModel, RadioButtonGroupMember, and ToggleButtonModel, but there are certainly more places to add this check. @jonathanolson can you please take a look, does this seem like the right direction?

[code]

[2019-10-01 23:17] zepumph opened #530 "Changes to the AccessibleValueHandler API"
From https://github.com/phetsims/gravity-force-lab-basics/issues/181, @twant, @jessegreenberg, and I are interested in making some tweaks to the AccessibleValueHandler api. In general it is more complicated that it needs to be, and could use some more documentation.

- [x] delete a11yDecimalPlaces because it can be filled by a11yMapValue
- [x] delete a11yValuePattern because it can be filled by th

[2019-10-02 01:37] zepumph commented on #530
@twant and I worked on this today, and we got pretty far. There is still a bit more to work on, and a few questions came up.

@jessegreenberg we found that this failed in area model sims when we tried to assert that the mapped min was always smaller than the mapped max. I'm not sure how to proceed from here, but we commented out the assertion with a todo pointing to this issue.

@twant and I weren

[2019-10-02 18:52] jessegreenberg commented on #530
I am remembering now that a11yMapValue was specifically added for this case. The case in area-model is that we want the "up" arrow key to make the model Property go down because a decreasing model Property has the view representation go higher in the screen. We should decide whether or not to allow this.  If we do not allow, the client will need to create an adapter Property to get the right behav

[2019-10-02 19:08] jessegreenberg commented on #530
For the full rational and history please see documtation for updateSiblingStepAttribute. I am not sure how usability with keyboard or AT will be impacted by these changes. Before this, we could assume that `step` attribute use purely an implementation detail calculated to make sure that the slider was usable and the screen reader didn't say "Invalid" every value change.

To work will, the `min`, `

[2019-10-02 19:36] jessegreenberg commented on #530
I checked a number of sims with sliders, `min` `max` and `value` attributes all look correct to me! But I think the following commit is more accurate to what `updateSiblingStepAttribute` was before this issue. And this way the `step` attribute cannot be modified directly with `a11yMapValue`. @zepumph and @twant what do you think?

[2019-10-02 19:51] jessegreenberg commented on #530
I just noticed that `smallestStep` in `updateSiblingStepAttribute` probably wont work in the case that one of the step values is zero. We may need to add a11yDecimalPlaces or something like it back in for this.

[2019-10-02 20:43] jessegreenberg commented on #530
In https://github.com/phetsims/scenery/issues/1001 @KatieWoe reported that the mass spinners cannot be incremented on mobile VO (though they can be decremented), and I verified it wasn't related to that issue. Just posting here because it seems like it could be related to changes in this issue.

[2019-10-02 22:06] zepumph commented on #530
What about `          const smallestStep = Math.min( ...[ this.keyboardStep, this.shiftKeyboardStep, this.pageKeyboardStep ].filter( x => x !== 0 ) );` ?

[2019-10-02 22:06] jessegreenberg commented on #530
Fixed in the above commit.

[2019-10-02 22:10] zepumph commented on #530
Thank you so much! I sorta thought that `a11yMapValue` was more of a "view" related feature, and that it wouldn't effect the setting of the valueProperty. I guess I was wrong.

[2019-10-02 22:14] jessegreenberg commented on #530
I agree with this! But `handleInput` has to break that pattern unfortunately to work correctly. Maybe there is a better way, but that is for another issue.

Oh I see. I am thinking about the usage with NumberControl. Ideally the smallestStep would be equal to the delta of the arrow buttons.

[2019-10-03 20:26] zepumph commented on #455
After reading through this issue, I don't see an obvious improvement in changing the API. My vote would be to do nothing.

[2019-10-04 02:08] pixelzoom commented on #455
Ditto.

[2019-10-07 14:10] samreid commented on #455
This seems like it warrants further deliberation once we resume development on dialogs, unassigning until then.

[2019-10-07 17:38] zepumph opened #531 "a11yMapValue changes PDOM slider and Property"
From https://github.com/phetsims/sun/issues/530 I said and then @jessegreenberg responded:

Promoting to issue. @jessegreenberg what would be a better API? I'm still not totally sure all the usages we have for a function that maps from number to number. Here is my list so far for potential places:

* input step
* input min
* input max
* input aria-valuenow
* input value
* Property setting in `hand

[2019-10-07 17:41] zepumph commented on #530
see https://github.com/phetsims/sun/issues/531

I think that this is an typical case. I don't think that should define the rule for `AccessibleValueHandler`. Maybe we just need a way to override it. Do you think our life would be easier if we just created an option to calculate step, or a step setting function specifically? If so would you make another issue for that?

[2019-10-07 17:46] zepumph commented on #530
I think that https://github.com/phetsims/sun/issues/531 will test this one further. @jessegreenberg is there anything else for this issue? Please review.

[2019-10-08 01:07] zepumph commented on #525
I was finally able to crack this today. I was able to get the multilink in Dialog to play nicely with the current screen, and to set the maxHeight/Width, if not provided, to be based on the current screen's layout bounds.

Instead of this checkbox, now it is dynamic, as described above.

I like this change quite a bit, as I think in general it looks better to center and focus Dialogs to be encapsu

[2019-10-08 15:21] samreid commented on #525
There are a few issues on CT this morning related to dialogs, I'm not sure of the cause but I noticed this issue and thought it may be related.  I'll mark as blocks publication until this is resolved.

[2019-10-08 17:15] zepumph commented on #525
There were two issues that came out of CT testing overnight. Sorry @samreid that you were roped into it.

The first is that the maxHeight and width setters were sometimes subtracting the margins even when the total height/width was less than the margin. No negative maxHeight/Widths allowed.

The second was that in Gas Properties, the layout update is called because the sim has set the bounds/scree

[2019-10-08 19:22] KatieWoe commented on #525
Not sure if needed at this point, but a related issue is/was in sun that I missed this morning.

[2019-10-09 18:48] pixelzoom commented on #525
I skimmed the commits, and it seems to be working well for the `CoulombsLawKeyboardHelpContent` test suggested in https://github.com/phetsims/sun/issues/525#issuecomment-539269002.   It looks like the margins between the layoutBounds and Dialog edges is currently a constant (`DOUBLE_MARGIN`) and you might consider making that an option.

[2019-10-09 18:49] pixelzoom commented on #525
Removing label "blocks-publication" since the CT issues reported in https://github.com/phetsims/sun/issues/525#issuecomment-539565165 have been resolved.

[2019-10-11 14:38] pixelzoom opened #532 "CT / Dialog: maxHeight should be null (no constraint) or a positive number"
Probably related to work that @zepumph is doing on Dialog in #525.

[code]

Also manifesting in scenery-phet:

[code]

I also noticed that this test in sun is messed up.  Go to Dialogs screens, press the "modal dialog" button, and you'll get a tiny little dialog. see screenshot below.

<img width="991" alt="screenshot_1582" src="https://user-images.githubusercontent.com/3046552/66660417-6760d600-e

[2019-10-11 14:41] pixelzoom commented on #532
Dialogs in scenery-phet demo are similarly too small.

But if I run either demo with `?dev`, then the problem goes away.  @zepumph have you inadvertently added code that size Dialogs based on the existence of Node that is rendered to show layoutBounds?

[2019-10-11 14:54] pixelzoom commented on #532
Looks like this affects all Dialogs, in all sims.  For example, here's the About dialog in Gas Properties.

With `?dev`:

<img width="963" alt="screenshot_1583" src="https://user-images.githubusercontent.com/3046552/66661736-bad42380-ec04-11e9-8c69-dd18ce2b1e1e.png">

Without `?dev`:

<img width="963" alt="screenshot_1584" src="https://user-images.githubusercontent.com/3046552/66661746-c1629b00-ec

[2019-10-11 14:56] pixelzoom commented on #525
Dialog sizing is seriously messed up. See https://github.com/phetsims/sun/issues/532. Adding label "blocks-publication".

[2019-10-11 17:00] zepumph commented on #532
Duplicate of https://github.com/phetsims/joist/issues/582, but provides good info.

[2019-10-11 18:29] zepumph commented on #525
This issue was that I was calculating maxHeight/Width based on the screen's localBounds, instead of the layoutBounds. This was problematic mainly for demo cases because sometimes there aren't items in the screen view in those sims. The change above gets the bounds of the layoutBounds and applies to the scale to that instead.

Thanks @pixelzoom for posting your investigation over in https://github.

[2019-10-11 18:29] zepumph commented on #532
See https://github.com/phetsims/sun/issues/525#issuecomment-541174745, this is likely fixed, but we should keep this open to make sure CT is green.

[2019-10-11 21:05] pixelzoom commented on #525
Self assigning so I remember to review.

[2019-10-12 00:20] zepumph commented on #532
This has not been an issue all day in sun or scenery-phet. Closing. We will finish up with review over in https://github.com/phetsims/sun/issues/525

[2019-10-12 00:20] #532 closed

[2019-10-12 03:51] chrisklus opened #533 "Questions for AccordionBox layout"
I'm attempting to explicitly set the size of an AccordionBox with its contentNode, and am getting behavior that I wouldn't expect, given the descriptions of its options.

With this rectangle as the contentNode:

[code]

and these AccordionBox options:

[code]

Here is the result with `contentAlign: 'left'`:
![image](https://user-images.githubusercontent.com/5618316/66694411-e85eb280-ec80-11e9-8142

[2019-10-12 06:08] pixelzoom commented on #533
As you've discovered, AccordionBox has two many options, some of them don't play nice together, many (most) of them haven't been tested together.  It has reached the point inn its lifecycle where its entropy (disorder) is high, and that's starting to manifest as unexpected/buggy behavior.   That said...

I suspect that your specific problem manifests with `showTitleWhenExpanded: false`.  To test t

[2019-10-12 06:10] pixelzoom commented on #533
As you've discovered, AccordionBox has two many options, some of them don't play nice together, many (most) of them haven't been tested together.  It has reached the point in its lifecycle where its entropy (disorder) is high, and that's starting to manifest as unexpected/buggy behavior.   That said...

I don't see anything obviously wrong with how you're using the options. And I agree that the be

[2019-10-12 16:22] chrisklus commented on #533
Thanks @pixelzoom - that's it, yep. The contentNode takes up the full width with `showTitleWhenExpanded: true`.

It looks like this else is (intentionally) the cause:

[code]

If I change that line to:
[code]
with these options (all necessary):

[code]

then I get my desired behavior:

<img width="457" alt="Screen Shot 2019-10-12 at 12 09 02 PM" src="https://user-images.githubusercontent.com/56183

[2019-10-14 23:02] pixelzoom commented on #533
I think we should hold off on adding additional options.

Before adding more features to AccordionBox, I would push back on the design, and explain that it's not supported by AccordionBox.  If it's imperative to support, then consider adding options.

As a last resort (or maybe OK for a sprint)... You could support the above design by setting `showTitleWhenExpanded: true` and making the title invi

[2019-10-14 23:11] pixelzoom commented on #525
I reviewed the commitm, and did some (but not all) of the tests listed in https://github.com/phetsims/sun/issues/525#issuecomment-541174745.  Seems like the problem is fixed.

[2019-10-14 23:38] zepumph commented on #525
Thanks @pixelzoom, next I'll tweak the margin constant into an option like https://github.com/phetsims/sun/issues/525#issuecomment-540137737 says.

[2019-10-14 23:57] chrisklus commented on #533
Sounds good, thanks. Adjusting the design should be fine for now, especially since we're not including the language components of that accordion box yet.

@amanda-phet is this okay with you? This issue will be more noticeable when we have the same problem on the Ones and Objects accordion box, so if that's a bigger deal I can try out @pixelzoom's suggestion from above.

![image](https://user-image

[2019-10-15 00:10] zepumph commented on #476
Can you please say what it looks like specifically. Is it the same as either item in https://github.com/phetsims/sun/issues/476#issuecomment-465670517. Tagging this issue because it may be important before Molarity is published. @terracoda do you think that we need to work on this for Molarity?

[2019-10-15 00:36] zepumph opened #534 "ComboBox keyboard nav to support Home/End keys"
From https://github.com/phetsims/sun/issues/465#issuecomment-496544577

[2019-10-15 00:38] zepumph commented on #534
@jessegreenberg please review.

[2019-10-15 00:39] zepumph commented on #465
Sorry this issue was totally lost, this was implemented in https://github.com/phetsims/sun/issues/534. @terracoda is there anything else for this issue? I believe we can close.

[2019-10-15 01:32] zepumph commented on #462
I looked into doing this and felt like I had got close, but found it problematic because FireListener attaches to the pointer, and such doesn't have `event.currentTarget`. Master is currently adding the listener to the Node, so we do get `event.currentTarget`.

Here is the patch I was thinking of

<details>

[code]
<details>

@jonathanolson is there a way to get currentTarget from a PressListener

[2019-10-15 01:37] zepumph opened #535 "ComboBox: Style keyboard focused list item with correct highlight"
While working on https://github.com/phetsims/sun/issues/462, I found that in ComboBoxListBox, the highlight listener is only for mouse, not for keyboard.

[2019-10-15 01:39] zepumph commented on #535
@jessegreenberg please review.

[2019-10-15 01:42] zepumph commented on #334
Adding this to my list to, whoever gets to it first.

[2019-10-15 01:43] zepumph commented on #334
(actually I'll just do it)

[2019-10-15 05:13] samreid commented on #443
After discussion in https://github.com/phetsims/sun/issues/455 and #369, I don't think Dialog is using `'visibility'` at all, so SolveItSceneNode.js may not be working as expected.  Perhaps `Dialog.isShowingProperty` should be made public, or perhaps `showCallback` and `hideCallback` could be turned into TinyEmitters.

My apologies for the runaround, @pixelzoom can you please take a look?

[2019-10-16 20:12] amanda-phet commented on #533
I don't think this is really an issue in this particular accordion box, but more with the "objects" and "ones" boxes. We will be fine proceeding with the constraints on accordion box.

However, it makes me wonder if there is a more appropriate UI component for what we want to accomplish... should it just be a panel, with a title and expandCollapseButton outside the panel? Should we brainstorm a be

[2019-10-17 20:25] zepumph commented on #486
@samreid you had recommended this back in https://github.com/phetsims/sun/issues/437, but do you still feel this way knowing that this would add a dependency from sun to SCENERY_PHET/CloseButton?

[2019-10-17 21:18] samreid commented on #486
Perhaps `CloseButton` belongs in sun?

[2019-10-18 00:24] pixelzoom commented on #443
You're correct SolveItSceneNode.js appears to be broken. Running with `?rewardScore=1`, it's not showing the reward or the dialog. I've reverted the breaking change in that was made in https://github.com/phetsims/equality-explorer/commit/ad7d0190c0b9f276923c97df62548cbee66d42fc, see above commit.  SolveItSceneNode.js now uses `showCallback` and `hideCallback` again.

I don't see any obvious advant

[2019-10-18 00:28] zepumph commented on #525
Added the option above. Anything else here @pixelzoom?

[2019-10-18 00:35] pixelzoom commented on #525
👍 closing.

[2019-10-18 00:35] #525 closed

[2019-10-18 15:12] ariel-phet commented on #526
@KatieWoe I assume if https://github.com/phetsims/QA/issues/432 fixes the remaining platform, this issue can be closed

[2019-10-18 15:13] KatieWoe commented on #526
It looks like it does.  I'll close as soon as everything is confirmed there

[2019-10-21 16:14] KatieWoe commented on #526
Looks good there

[2019-10-21 16:14] #526 closed

[2019-10-24 16:18] pixelzoom commented on #523
Open sun issues related to radio buttons:

#259 Do we need other types of Radio Buttons?
#260 Do we need 3D vs flat look for radio buttons?
#261 Why don't radio buttons use the sun "button" framework?
#263 Why are some radio buttons is sun/js/buttons/ while others are in sun/js/?
#264 RadioButton not used by RadioButtonGroup. Should it be? Do we still need it?
#361 RadioButtonGroup description
#36

[2019-10-24 16:35] pixelzoom commented on #523
Roadmap:

1. Triage the above issues to gather requirements.

2. Review/revise this roadmap based on requirements, present to dev team for consensus.

3. Factor out base type `RadioButton` and 2 subclasses: `AquaRadioButton`, `RectangularRadioButton`. (`RectangularRadioButton` might just be a `RectangularToggleButton`.)

6. Factor out subclass `Group` that handles layout of UI components and is in

[2019-10-24 20:50] zepumph opened #536 "Slider Property for if drag is coming from PDOM"
From a few weeks ago dev meeting, in OHMS_LAW/SliderUnit, there is code that is keeping track of if the drag is from alternative input in the PDOM. This should be generalized. Likely to AccessibleSlider, but also perhaps to `AccessibleValueHandler`.

@jessegreenberg in AccessibleValueHandler, I feel like there is less of a notion of a "drag" or complete interactio that spans multiple inputs. Thoug

[2019-10-24 21:31] jessegreenberg commented on #536
I think that this should go into AccessibleValueHandler because it seems like if we want this information for sliders we will probably want it for number spinners and number pickers too.

I am not sure I understand how what will be added will be used yet. Do we need to add something specifically for a keyboard or do we want knowledge of when any kind of discrete increment/decrement occurs from alt

[2019-10-24 21:57] zepumph commented on #536
I guess I don't understand how this could be set to a Property. It feels similar to how we only get the "click" event from buttons with a screen reader. There is no async time step between the start of an input event and when it finishes. How would we, from an input/change event, toggle this Property any more than just at the beginning and end of the listener, like (pseudo code):

[code]

Perhaps

[2019-10-25 18:32] jbphet commented on #291
In the version of `Checkbox.js` that is current as of this writing, option A is essentially used, and a local variable is set that tracks ownership with the following line of code:
[code]

There is other code that has been added to handle phet-io differences between passed-in versus self-created properties, but I think that is outside the scope of this discussion.

I think we have pretty much sett

[2019-10-25 20:11] jbphet opened #537 "Add the ability to expand the combo box touch area"
For https://github.com/phetsims/number-line-integers/issues/34 we have been asked to expand the touch area for the combo box, but `ComboBox.js` doesn't seem to support this ability.

[2019-10-25 20:15] jbphet commented on #537
I've added the ability to dilate the button, and I've done so by following the pattern that has been used thus far, which is to have non-nested options that are specific to the button.

@pixelzoom - you're the only listed author on this.  Can  you please review this change and, first of all, make sure that it's not misguided in general and second, decide if we should log a separate issue to migrat

[2019-10-25 21:41] pixelzoom commented on #537
The approach looks good, and I don't think you need to do anything about nested options at this time. But...

You've only added touchArea dilation. And it's not OK to just add dilation for the pointer area that you're interested in.  We decided awhile back that touchArea and mouseArea dilation should be added uniformly. So please add mouseArea dilation.

[2019-10-28 18:48] jbphet commented on #537
Thanks for the reminder @pixelzoom, I had forgotten about the requirement to also add mouse area dilation.  I've done this, and tested it in the context of the Number Line: Integers sim (dilated the mouse are of one combo box but not the other) and it appeared to work fine.  Back to you in case you want a final look.

[2019-10-28 19:01] pixelzoom commented on #537
👍 closing.

[2019-10-28 19:01] #537 closed

[2019-10-30 19:20] zepumph commented on #321
After discussing this more with @jbphet and @samreid and @chrisklus. Things may have changed in the last 2 years.

We found that instrumenting the reset all button's `isFiringProperty` for PhET-iO helped in the sonification wrapper, but we are wondering if we need to instrument this at all anymore? We already have a `firedEmitter` in `PushButtonModel`.  This really boils down to a PhET-iO design q

[2019-10-31 16:57] ariel-phet commented on #523
@chrisklus is up for this, will be a bit of a "chip away" project in all likelihood. Currently marking as low-priority, to be discussed once his work on Number Play has mainly wrapped up.

[2019-11-05 23:59] zepumph opened #538 "Should AccessibleValueHandler.onInteractionEnd be called on mouse up?"
While working on https://github.com/phetsims/gravity-force-lab/issues/155, I implemented an alert that occurs based on an interaction, and not based on a model change. The issue is that AccessibleValueHandler is only set up to do this based on an interaction that comes from the PDOM. It would be more consistent if we called `setUtteranceAndAlert` on pointer up as well.

The main concern here is to

[2019-11-06 18:55] zepumph opened #539 "support Dialog.focusCloseButton() via a predicate option"
In a few places we have the following check when showing a Dialog:

[code]

What if that logic could be embedded in an option like:

`focusCloseButtonOnShowPredicate: ()=> this.buttonModel.isA11yClicking()`

That way this logic could be in Dialog.prototype.show, and could be used by every Dialog without added client side logic.

@jessegreenberg what do you think? I'm happy to implement if you like

[2019-11-06 20:26] chrisklus commented on #515
Since this relies on https://github.com/phetsims/sun/issues/257, @zepumph, @samreid, and I are assigning to @jbphet and marking on-hold. Once the work in #257 is complete, @jbphet please check if this was taken care of as part of #257, complete the remaining work here, or pass it back to us.

[2019-11-09 00:45] pixelzoom opened #540 "TODOs with no issue number"
ComboBox by @zepumph:

[code]

OnOffSwitch by @samreid:

[code]

Panel by @samreid:

[code]

RoundButtonView by @samreid:

[code]

[2019-11-12 02:40] samreid opened #541 "Improve carousel support for items of different sizes"
When Circuit Construction Kit: DC was developed, Carousel did not have good support for showing items of different sizes.  Hence CCK uses a workaround where it sets the number of items per page in carousel to 1, and it lays out its own pages using `_.chunk`.  We previously discussed this problem and workaround in https://github.com/phetsims/circuit-construction-kit-dc/issues/91.  I wanted to discu

[2019-11-15 01:50] zepumph opened #542 "ComboBoxListBox scaling can be buggy with long strings"
This is the general issue from initial investigation over in https://github.com/phetsims/molarity/issues/152.

@twant and I found that when combobox item lengths cause scaling to occur in the combobox button, the `Combobox.scaleListBox()` function doesn't work 100% of the time. It may be easiest to describe this in terms of examples:

--------------------------------------------
**Molarity**

When

[2019-11-15 01:51] zepumph commented on #542
Above is the workaround commit that worked for molarity, but not for beers-law-lab.

[2019-11-15 02:15] pixelzoom commented on #542
I'll have a look, but can't get to this until next week.

That workaround in https://github.com/phetsims/molarity/commit/244e74ed9c27b2c625ae9cb3d2435fd411fc6369 really doesn't look like something that should be committed to the production version of ComboBox.

[2019-11-15 17:36] pixelzoom commented on #542
OK, now that I'm not trying to look at this on my phone, I see that https://github.com/phetsims/molarity/commit/244e74ed9c27b2c625ae9cb3d2435fd411fc6369 is specific to MolarityScreenView,  so won't affect other sims.

[2019-11-15 17:41] pixelzoom commented on #542
After backing out phetsims/molarity@244e74e, I can reproduce in Molarity.  Interesting that if you open the list box 4 times, the problem corrects itself.  For the first 3, the listbox is not only in the wrong position, but scaled incorrectly.  For >=4 (tested up to 20),the listbox is positioned and scaled correctly.

[2019-11-15 17:50] pixelzoom commented on #542
In Beer's Law Lab with `stringTest=long`, I see similar behavior. But there's an additional problem that was not reported by @zepumph above. In the Concentration screen, clicking on the ComboBoxButton does not open the listbox until the 3rd time you click it. As in Molarity, the listbox is in the wrong position and scaled incorrectly.  On >= 4 clicks, the listbox is scaled and positioned correctly

[2019-11-15 18:03] pixelzoom commented on #542
About BLL, @z said:

I suspect that you many have been removing it from the listbox parent for the wrong screen.   There are 2 screens in this sim, each with its own listbox parent. If I remove  `maxWidth` for the listbox parent in both screens, the problem is resolved for both screens (pushed in above commit).

[2019-11-15 18:07] pixelzoom commented on #542
Same problem observed in pH Scale, which has 2 listbox parents in 2 screens.  Same fix works here, see before and after below.  Committed above.

Before - incorrect position and scale
<img width="449" alt="screenshot_1698" src="https://user-images.githubusercontent.com/3046552/68965008-ffb92000-0797-11ea-9df5-13364ee354b6.png">

After - correct position and scale
<img width="419" alt="screenshot_1

[2019-11-15 18:20] pixelzoom commented on #542
So here's what's going on...

First of all, the listbox parent shouldn't be setting `maxWidth`, because scaling and position the listbox is the responsibility of the ComboBox. It scales the listbox to match the button, and position the listbox relative to the button.   So setting `maxWidth` on the listbox parent was (in retrospect) inappropriate.

When a `maxWidth` is specified for the listbox par

[2019-11-15 18:49] pixelzoom commented on #542
Regular expression `new .*ComboBox\(` identifies all instantiations of ComboBox and its subclasses -- assuming that the subclass is named with a "ComboBox" suffix.   I inspected all of these, and did not identify any additional cases where `maxWidth` is set for the listbox parent.  So this problem appears to be isolated to molarity, beers-law-lab, and ph-scale (all sims that I wrote).

[2019-11-15 18:58] pixelzoom commented on #542
Molarity is already tracked in https://github.com/phetsims/molarity/issues/152.
BLL is now being tracked in phetsims/beers-law-lab#242.
pH scale is now being tracks in phetsims/ph-scale#93.

We can decide what to do with these when the sims are next republished.

Unassigning @ariel-phet.

[2019-11-15 18:58] pixelzoom commented on #542
@zepumph anything else to do here?

[2019-11-15 19:06] pixelzoom commented on #542
Btw... I did investigate whether ComboBox `scaleListBox` could be changed so that it works correctly if the listbox parent is scaled.   I thought I might be using the wrong coordinates transform, so tried replacing `localToGlobal` with `parentToGlobal`.   The result was even worse. Each time the listbox is opened, it scaled down more.   After 4 clicks, the Molarity combo box looks like this:

<img

[2019-11-15 23:02] jessegreenberg commented on #524
I went ahead with this because I need it in https://github.com/phetsims/scenery/issues/974. ButtonModel now has a read-only `interrupted` flag and is used by `PushButtonModel`, `ToggleButtonModel`, and `StickyToggleButtonModel` so prevent the button from firing when the PressListener is interrupted. I did *not* use it in MomentaryButtonModel because I thought in that case the button*should* stop f

[2019-11-16 03:14] pixelzoom commented on #542
That would be fine, and would catch other cases that I missed via manual inspection.  But note that there are other ways in which the listbox parent might be scaled that could cause similar buggy behavior.   And since this problem is not specific to i18n, I'd make the assertion message something like:

`'ComboBox is responsible for scaling listBox. Setting maxWidth for listParent may result in bug

[2019-11-18 19:39] ariel-phet commented on #541
@samreid I think considering the extent of use of carousel in sims, and that we will likely be continuing to use this component in many future sims, it is worth the effort to not have a workaround, but rather improve the state of the code directly in Carousel.

[2019-11-19 02:34] zepumph commented on #368
I know this is an old issue, but note that we no longer support decimal places for accessible slider, instead we are just using a map value function. I just added a setter for that a11yMapValue option above. Will that work for you?

[2019-11-20 01:14] chrisklus commented on #541
+1, this is needed in Number Play as well.

[2019-11-20 17:16] pixelzoom commented on #542
I've added the recommended assertion in the above commit, and I'll monitor CT.

[2019-11-20 18:46] pixelzoom commented on #542
Looks OK in CT.

@zepumph anything else here? Feel free to close.

[2019-11-20 21:50] #542 closed

[2019-11-21 17:59] chrisklus commented on #381
@pixelzoom as part of this issue, can clients get some sort of public info about the carousel's animation?

This is my very bad solution for what I'm trying to do, and a simple `animation.endedEmitter` would do the trick instead (the important line is `this.numberPanel.updateModelLocations`):

[code]

The doc for `pageNumberProperty` is `// @public {Property<number>} page number that is currently

[2019-11-21 18:13] pixelzoom commented on #381
@chrisklus and I are going to discuss this via Slack, since I don't understand the use case.

Additionally... This has been assigned to @jonathanolson to review for 18 months. So I think we should reassign.  @chrisklus would you have time to do the review as part of this work?

[2019-11-21 20:50] chrisklus commented on #381
@pixelzoom and I discussed this today and decided that the number cards can animate back to their original spots, and those spots don't need to be updated. This removes my animation desires described in https://github.com/phetsims/sun/issues/381#issuecomment-557202392.

[2019-11-21 20:57] pixelzoom commented on #381
To elaborate... We spent a lot of time discussing this exact problem in Function Builder, and our conclusion was to animate back to the location where the item was removed from the carousel.

[2019-11-27 00:23] Denz1994 opened #543 "Dialog doesn't update layout after resizing"
Found while debugging https://github.com/phetsims/build-a-molecule/issues/111:

Dialog is initialized with `content`. If the bounds of the content are changed after the dialog is initialized and the dialog resizes, the dialog doesn't center itself in the screen bounds. Ideally, a resize in the dialog bounds should call the `layoutStrategy` defined in `Dialog.options`.

An example of this is explai

[2019-12-02 21:28] zepumph opened #544 "VSlider should "flip" trackSize and thumbSize for you"
From https://github.com/phetsims/molarity/issues/165.

When passing `trackSize` to `VSlider`, the first dimension (width), ends up being the vertical dimension, since `Slider.js` was originally implemented as only horizontal, this change seems understandable and reasonable.

There are 17 usages of VSlider, and any of those usages using these `size` options needed to understand the inner workings o

[2019-12-02 22:22] zepumph commented on #544
Implemented above. I  didn't end up touching any other options besides `trackSize` and `thumbSize`.

@samreid would you please review. Note that some usages were a little bit weird to swap next to `*Dilation` options, for example see change in `HeaterCoolerFront.js`. Do you think that this is alright?

[2019-12-02 22:32] samreid commented on #544
Should VSlider use `flip` for its implementation instead of:
[code]

This a11y annotation looks misplaced:

[code]

And it was unclear why molarity was changed, since it doesn't use VSlider, can you please comment?

[2019-12-02 22:37] zepumph commented on #544
VerticalSlider.js does use VSlider. The reason why usages in MolarityScreenView.js weren't changed is because VerticalSlider was doing the work of flipping the track dimensions that I added to VSlider in this issue. See https://github.com/phetsims/molarity/commit/92dfa1b83705c2683028f0b7014aab30d86c8ff7#diff-c0d9c552a6bcfab85ab88e73b3701e9aL87

Now VSlider is doing that work.

[2019-12-04 16:41] pixelzoom opened #545 "Dialog: add option to specify color of close button 'X'"
The current implementation assumes that the close button ('X') is always black.  That doesn't work for Natural Selection, where we want this:

<img width="564" alt="screenshot_11" src="https://user-images.githubusercontent.com/3046552/70162011-38069c80-167a-11ea-88ef-fe2e1597f595.png">

So I'm going to add an option to specify the close button color.

[2019-12-04 16:49] pixelzoom commented on #545
I added this option in the above commit, which I'm using in natural-selection:

[code]

@ariel-phet please assign someone to review.

[2019-12-04 16:58] samreid commented on #544
Are the dilations also swapped?

One more note, I think we should rename `flip` to `flipped` because `flip` sounds more like it will mutate the Vector2.

[2019-12-04 17:21] zepumph commented on #544
@chrisklus mentioned that heater-cooler node's slider thumb is tall and skinny instead of wide  and short.

[2019-12-04 19:19] zepumph commented on #544
EFAC was providing custom thumbs to HeaterCoolerFront that also needed switching. I'll do another pass through all VSlider instances looking for these changes.

While doing this I will also look through and swap the X and Y options for :
* thumbTouchAreaXDilation
* thumbTouchAreaYDilation
* thumbMouseAreaXDilation
* thumbMouseAreaYDilation

* I will also rename `flip` to `flipped`

[2019-12-04 21:07] zepumph commented on #544
I implemented the flipping of the dilation options by creating `swapObjectKeys`, which made things much nicer and simpler in VSlider. In general this was much easier than the dimension options because for the most part usages were dilating by the same amount for X and Y, thus no change was needed.

I also implemented `flipped` rename. I didn't see any other issues with dimension options, after I f

[2019-12-05 00:47] samreid commented on #544
Can you please speculate about an alternative API where we no longer refer to width and height, but rather refer to the dimension along the length of the track and its perpendicular?  This way we wouldn't need to do any `flipped()` and when converting an HSlider to VSlider or vice versa, no code changes would be necessary in the options.

[2019-12-05 17:28] zepumph commented on #536
This may be a duplicate of https://github.com/phetsims/sun/issues/536.

[2019-12-05 18:55] zepumph commented on #321
In phet-io design meeting today, we decided to get rid of `isFiringProperty` on resetAllButton, because it isn't being used right now on master.

@kathy-phet mentioned that if in the future we do need it, then we can add it back in.

@pixelzoom recommended that if the need arises, we should investigate another solution that is less "workaroundy" (not his words). Perhaps by holding "reseting" state

[2019-12-05 19:05] zepumph commented on #544
GQ was using `extends VSlider` instead of `new VSlider`. Updated above quickly. I also looked for `VSlider.call`.

[2019-12-06 15:24] jessegreenberg commented on #545
Looks great!

[2019-12-06 15:24] #545 closed

[2019-12-09 20:47] ariel-phet commented on #540
will be dealt with in https://github.com/phetsims/tasks/issues/1017, closing

[2019-12-09 20:47] #540 closed

[2019-12-10 00:03] pixelzoom opened #546 "inconsistent doc and verification for radio button tandems"
VerticalRadioButtonGroup has this helpful doc:

[code]

RadioButtonGroup has no such helpful doc, and it's in fact incomplete:

[code]

It does have this helpful assertion:

[code]

It would be nice if they both had the same helpful doc and assertion.   This bit me both ways in Natural Selection, where I'm using both types of radio button groups.

[2019-12-10 22:43] samreid commented on #443
The existing implementation is clear and not causing any problems.  I think this issue should be closed.

[2019-12-10 22:43] #443 closed

[2019-12-11 15:07] Denz1994 opened #547 "Option to change Carousel arrow button sounds"
Found during https://github.com/phetsims/build-a-molecule/issues/108 and related phetsims/tambo#73.

Carousel buttons by default produce sound when clicked. The suggestion is to expose an option to disable or change this sound. This would look something like what was done to other common code buttons.

[2019-12-11 15:12] Denz1994 commented on #547
@jbphet Could you review this change to Carousel and close if all looks good?

[2019-12-11 17:23] jbphet commented on #244
Assigning to @KatieWoe to determine if this is still a problem that needs to be addressed.  It was originally reported on an iPad 2, and we no longer test that device for performance.  There have also been several releases of iOS since then, so the problem may have gotten better or worse.

@KatieWoe - If you feel that it *is* still something that requires some effort to try to address, please assi

[2019-12-11 17:58] jbphet commented on #547
Thanks for doing this @Denz1994.  One suggestion: I would recommend naming the option `buttonSoundPlayer` instead of `soundPlayer` to be consistent with other button-specifiec options, and also because we may in the future want to add a specific `soundPlayer` option for the carousel motion itself.  If you concur, feel free to implement and close.

[2019-12-11 18:12] terracoda opened #548 "Enhanced Sound option in PhET Menu is not communicated as a checkbox"
While reviewing sounds for https://github.com/phetsims/gravity-force-lab which will have an Enhanced Sound option to turn on a sound for the ruler, I noticed that the menu item, "Enhanced Sound" is not communicated as a checkbox. It sounds the same whether it is checked or not checked.

Since it is menu item, I'm not 100% sure how to do that, but two reasonable options come to mind:
- make it a ch

[2019-12-11 18:13] terracoda commented on #548
And please re-assign and re-label if we need to do a11y design work for this.

[2019-12-11 18:17] KatieWoe commented on #244
Checked on iOS 11, 12 and iPadOS 13 devices. None seemed to exhibit the problem when tested on sun.

[2019-12-12 17:45] jbphet commented on #244
Thanks @KatieWoe.  Closing.

[2019-12-12 17:45] #244 closed

[2019-12-16 17:29] Denz1994 commented on #547
Thanks for the input @jbphet. `soundPlayer` has been changed to `buttonSoundPlayer` in the above commits. Closing this issue.

[2019-12-16 17:29] #547 closed

[2019-12-17 19:46] jonathanolson commented on #372
It looks like this code resulted from this issue:

[code]

Now that PressListener owns its own Properties fully, I believe that things have changed, and that it is NOT possible for them to already be disposed. I'm going to plan to dispose everything in the PressListener.

[2019-12-17 20:04] jonathanolson commented on #372
Actually I added disposal of the Properties past the above code. Is it safe to remove the above code, and rely on disposal instead?

[2019-12-17 20:08] pixelzoom opened #549 "RadioButtonGroup does not create LinkedElements"
Related to https://github.com/phetsims/sun/issues/420.

RadioButtonGroup does not currently create a link between the radio buttons that it creates and the Property associated with the group.  This was identified as a defect in Natural Selection during preliminary review of instrumentation.  See https://github.com/phetsims/natural-selection/issues/35.

I'm also surprised that this hasn't shown up

[2019-12-17 22:49] samreid commented on #549
I added support for this in the preceding commits.  @pixelzoom can you please confirm it works as expected in Natural Selection?  @zepumph would you like to review more generally?

[2019-12-17 23:35] pixelzoom commented on #549
The first comment in this issue says:

It still doesn't do this. The Property is associated with the group element, not with the radio buttons.  Is that what you intended? Is that acceptable to designers, or are they expecting to drill down to the radio buttons and find associate Properties (as is the case with Checkbox)?

Here's what I see for `naturalSelection.labScreen.view.environmentDisplayNo

[2019-12-17 23:52] pixelzoom commented on #549
With `VerticalAquaRadioButtonGroup`, the Property is associate with each button.  See example below from Natural Selection, `GraphsRadioButtonGroup`.  Why should `RadioButtonGroup` and `VerticalAquaRadioButtonGroup` be instrumented differently?   This seems like another impediment to unifying the  implementations of radio buttons and their groups, see https://github.com/phetsims/sun/issues/523.

<

[2019-12-18 00:01] pixelzoom opened #550 "AquaRadioButton and RadioButtonGroup are instrumented differently"
Noted while working on https://github.com/phetsims/sun/issues/549, and Natural Selection, which has both types of radio buttons.

`AquaRadioButton` and the buttons created by `RadioButtonGroup` are instrumented differently. This is another impediment to unifying the implementations of radio buttons and their groups, see https://github.com/phetsims/sun/issues/523.

The differences are:

(1) AquaRad

[2019-12-18 00:52] samreid commented on #549
Yes, I intended to associate one Property per RadioButtonGroup.  Perhaps we should change `VerticalAquaRadioButtonGroup` to do the same.  It seems odd that the `property` should be repeated over and over for a composite group like this.  Let's raise for discussion at an upcoming phet-io design meeting.

[2019-12-18 01:22] pixelzoom commented on #549
It doesn't seem odd to me, especially if (1) you expect linked Properties to be associated with the UI components that modify and observe them, and (2) you want uniformity of instrumentation across UI components (checkboxes, radio buttons, sliders, ...)

[2019-12-18 01:23] pixelzoom commented on #549
And what about sims that are using `AquaRadioButtonGroup` and not `VerticalAquaRadioButtonGroup`?  Should they be modified to use `VerticalAquaRadioButtonGroup`? Are there any cases where that's problematic?  Can of worms...

[2019-12-18 01:40] pixelzoom commented on #549
It also seems a bit odd that radio buttons don't indicate what value is associated with them.  For example in Natural Selection (screenshot below), the radio buttons in `GraphsRadioButtonGroup` don't indicate which value of the `Graphs` enumeration correspond to which buttons. Tandem naming convention, e.g. 'pedigreeRadioButton' and 'PEDIGREE', implies a button-value connection, but nothing enforc

[2019-12-20 17:08] pixelzoom commented on #549
12/19/19 phet-io meeting notes

Designers said they'd prefer to have the linked Property associated with the group, as is currently done for RadioButtonGroup.  So this needs to be changed for VerticalAquaRadioButtonGroup.

This also means that all AquaRadioButtons will need to be instantiated via VeticalAquaRadioButtonGroup, not instantiated directly and added to a custom "group" implementation.

[2019-12-26 18:14] pixelzoom opened #551 "pattern for calling addLinkedElement"
Related to https://github.com/phetsims/tasks/issues/1017 and https://github.com/phetsims/sun/issues/420.

This TODO was added to ComboBox by @zepumph:

[code]

Should this same pattern be used in other common code where `addLinkedElement` is called?

[2019-12-26 18:19] pixelzoom opened #552 "OnOffSwitch: drag-to-toggle vs click-to-toggle"
Related to https://github.com/phetsims/tasks/issues/1017.

This TODO was added to `OnOffSwitch` by @samreid on 4/16/2015.

[code]

No idea why it would be useful to distinguish, or what this might have been related to.

[2019-12-26 18:24] pixelzoom opened #553 "PaintColorProperty names need "Property" suffix"
Related to https://github.com/phetsims/tasks/issues/1017.

@chrisklus added this TODO to RoundButtonView

[code]

It looks like @jonathanolson added numerous Properties to `RoundButtonView.ThreeDAppearanceStrategy` and `RectangularButtonView.ThreeDAppearanceStrategy`, and their names violated PhET naming convention.  E.g.:

[code]

Please rename these Properties.

[2019-12-26 18:30] pixelzoom opened #554 "use options.enabledProperty in sun 'Buttons' demo"
Related to https://github.com/phetsims/tasks/issues/1017.

In ButtonsScreenView (the 'Buttons' screen of the sun demo), there's one giant listeners that is setting the enabled state of all demo buttons:

[code]

It would be preferable to instantiate each of these buttons with option `enabledProperty: buttonsEnabledProperty`.

[2019-12-26 21:12] samreid commented on #552
That comment was added during PhET-iO instrumentation, perhaps we were considering a different message for drag vs click.  But maybe that level of detail is irrelevant for data studies.  @zepumph what do you think?  If you think it's unimportant, we can remove the TODO and close this issue.

[2019-12-30 14:58] samreid commented on #291
Good idea @jbphet, @Denz1994 can you please review the usage of `options.enabledProperty` and `ownsEnabledProperty` in Checkbox.js and add corresponding documentation to phet-info/doc/phet-software-design-patterns.md in the options section?  After that, I believe this issue can be closed.

[2019-12-31 16:24] samreid commented on #420
We have had good recent experiences with LinkedElement in natural selection recently.  I'm not planning specific work for this issue, so self-unassigning for now.

[2020-01-02 17:34] pixelzoom commented on #515
We ran into this problem again over in https://github.com/phetsims/scenery-phet/issues/563, where we need to control _and observe_ the enabled state of `StepButton`.  Raising the priority and labeling for developer meeting.

[2020-01-02 20:35] mattpen commented on #515
Discussed at 1/2 dev meeting: @jbphet will discuss priority of this after the current work on number-line is complete.

[2020-01-02 20:42] pixelzoom commented on #515
More notes from 1/2/ dev meeting: @jbphet should check with @jessegreenberg about the priority of https://github.com/phetsims/scenery-phet/issues/563, since that issue is blocked until this is addressed.

[2020-01-03 00:53] zepumph commented on #372
Looking at that dispose method, it does seem like those unlinks are now superfluous. I can't think of a reason that we need to keep them around.

[2020-01-03 02:44] zepumph commented on #551
@samreid over in `Checkbox` it looks like we are always adding the linked Property (if the option is true), should we do the same pattern here?

[2020-01-03 02:48] zepumph commented on #552
I do not think that this is a necessary amount of granularity!

[2020-01-03 02:48] #552 closed

[2020-01-03 18:17] chrisklus commented on #550
Discussed with @samreid, @zepumph, and @jonathanolson.

For (1), we renamed `inputListener` to `fireListener` in AquaRadioButton.js.

Regarding (2), a firedEmitter exists for AquaRadioButton, it's just nested under its `fireListener`.

[2020-01-03 19:11] pixelzoom commented on #550
I'm trying to figure out what was actually accomplished here.   It looks like all you did is rename the differences so that the APIs are still different.   The example I used above is now:

AquaRadioButton example from NATURAL_SELECTION/GraphsRadioButtonGroup:

<img width="193" alt="screenshot_40" src="https://user-images.githubusercontent.com/3046552/71743511-fbb59000-2e21-11ea-8ba3-ed2fc48bcaaa.

[2020-01-03 19:23] zepumph commented on #550
AquaRadioButton and RadioButtonGroup use completely different guts. In an effort to try to align them without completely refactoring them, we decided that this rename was an improvement.

The two items we were trying to solve were (1) and (2) from https://github.com/phetsims/sun/issues/550#issue-539375861 since (3) will be covered in the other issue.

Since RadioButtonGroupMember is a sun button,

[2020-01-03 19:30] pixelzoom commented on #550
Thanks for the clarification.

I don't think this issue should be closed -- these implementation do need to be unified, which is the subject of https://github.com/phetsims/sun/issues/523.  I've added this issue to the list of issues to be addressed in https://github.com/phetsims/sun/issues/523#issuecomment-545994022 (unify radio button group implementations).   In the meantime, I'll unassign this

[2020-01-03 19:31] pixelzoom commented on #550
Thanks for the clarification.

I don't think this issue should be closed -- these implementation do need to be unified, which is the subject of https://github.com/phetsims/sun/issues/523.   And unfortunately that unification likely requires breaking every PhET-iO API that uses radio buttons.

I've added this issue to the list of issues to be addressed in https://github.com/phetsims/sun/issues/523#

[2020-01-03 20:46] pixelzoom commented on #549
How do we move forward with relocating linked Property to the group level for VerticalAquaRadioButtonGroup?

[2020-01-03 20:52] pixelzoom commented on #549
This patch seems to do the trick for Natural Selection.  But I'm not committing it because I'm not sure what might break (are there instrumented AquaRadioButtons that are not in a VerticalAquaRadioButtonGroup?) and I'm not familiar with how to update all APIs.

<details>
<summary>Patch</summary>

[code]

</details>

[2020-01-03 21:11] pixelzoom opened #555 "convert sims to use VerticalAquaRadioButtonGroup"
Over in https://github.com/phetsims/sun/issues/549, we decided to change how AquaRadioButtons are instrumented.   Instead of associating the linked Property with each button, the linked Property will be associated with the group.  As noted in https://github.com/phetsims/sun/issues/549#issuecomment-568003921:

So all sims that are explicitly instantiation AquaRadioButtons will need to be changed to

[2020-01-03 21:12] pixelzoom commented on #549
In https://github.com/phetsims/sun/issues/555, I identified sims that need to be converted to use VerticalRadioButtonGroup.  It's a surprisingly long list.

[2020-01-03 21:28] samreid commented on #551
In the commits, we removed an older, unused pattern for opting out of addLinkedElement, and we made it so uninstrumented targets are not linked.  We will need to be more vigilant in design meetings, since we will no longer have an error message if we create, say, a UI component with an uninstrumented Property.  I added a PSA for the next team PhET-iO design meeting.

Sliders have a way to pass an

[2020-01-03 21:50] zepumph commented on #549
@pixelzoom, we moved the linked element declaration out of AquaRadioButton and into VerticalAquaRadioButtonGroup. Thank you for #555, as the phet-io team thinks it is the right way to go. Is there anything else for this issue?

[2020-01-03 21:56] zepumph commented on #555
The PhET-iO team, especially in relation to https://github.com/phetsims/sun/issues/550, is wondering if we don't want to try to move AquaRadioButton's functionality into RadioButtonGroup. This would allow us to deprecate `VerticalAquaRadioButtonGroup`, which is largely duplicated layout code with RadioButtonGroup.

What if there was an option like: `stye: 'normal', {'aqua'|'normal'}`. Since we may

[2020-01-03 22:13] pixelzoom commented on #555
@zepumph I believe that's what will need to happen in order to address https://github.com/phetsims/sun/issues/523 (unify radio button group implementations), currently assigned to @chrisklus with low priority.

[2020-01-03 23:06] pixelzoom commented on #555
I thought I'd try this conversion to see what problems I might run into. I immediately ran into this situation in acid-base-solutions:

<img width="308" alt="screenshot_41" src="https://user-images.githubusercontent.com/3046552/71754168-51019980-2e42-11ea-8d22-921a7dba11dd.png">

This is a group of 3 radio buttons. The first radio button has a related checkbox.  I think this is a perfectly valid U

[2020-01-03 23:09] pixelzoom commented on #549
Reopening.

PhET-iO team: Over in #555, I ran into seriously problems with trying to use VerticalAquaRadioButtonGroup. We need to rethink this.

[2020-01-03 23:12] pixelzoom commented on #555
Another problem in balancing-chemical-equations, where layout is horizontal.  This is also not supported by `VerticalAquaRadioButtonGroup`.  I'm not 0 for 2.

<img width="724" alt="screenshot_42" src="https://user-images.githubusercontent.com/3046552/71754519-c02bbd80-2e43-11ea-8ed2-e3e56108378e.png">

[2020-01-03 23:13] pixelzoom commented on #555
In beers-law-lab, 2 of radio button groups are horizontal.  Now I'm 0 for 3.

<img width="455" alt="screenshot_43" src="https://user-images.githubusercontent.com/3046552/71754578-02ed9580-2e44-11ea-95d3-c92dfe4c3583.png">
<img width="291" alt="screenshot_44" src="https://user-images.githubusercontent.com/3046552/71754583-05e88600-2e44-11ea-93c9-f2516f80e477.png">

[2020-01-03 23:19] pixelzoom commented on #555
gravity-and-orbits, button layout is horizontal:

<img width="293" alt="screenshot_45" src="https://user-images.githubusercontent.com/3046552/71754745-c8382d00-2e44-11ea-92cc-e66c1c1b9a86.png">

[2020-01-03 23:21] pixelzoom commented on #555
hooks-law, similar to acid-base-solutions where a radio button has an associated UI component. We lucked out this time because it's associated with the bottom radio button.

<img width="268" alt="screenshot_46" src="https://user-images.githubusercontent.com/3046552/71754820-26651000-2e45-11ea-8e46-753a00b68878.png">

[2020-01-03 23:24] pixelzoom commented on #555
fluid-pressure-and-flow, horizontal layout:

<img width="211" alt="screenshot_47" src="https://user-images.githubusercontent.com/3046552/71754884-7643d700-2e45-11ea-8602-50f703ef896c.png">

[2020-01-03 23:37] pixelzoom commented on #555
Uh oh, we need to rethink this.

I thought I'd try this conversion to see what problems I might run into. I immediately ran into this situation in acid-base-solutions:

<img width="308" alt="screenshot_41" src="https://user-images.githubusercontent.com/3046552/71754168-51019980-2e42-11ea-8d22-921a7dba11dd.png">

This is a group of 3 radio buttons. The first radio button has a related checkbox.  I

[2020-01-04 19:36] chrisklus commented on #555
Should we discuss next steps at an upcoming developer meeting? Perhaps I should be addressing #523 at high priority.

[2020-01-10 17:20] samreid commented on #554
@chrisklus and I noticed this issue did not have an assignee.  Should it be assigned to the person that originally introduced the TODO, at least for triaging?

[2020-01-10 17:32] pixelzoom commented on #554
The problem here is that there's no way to pass an `enabledProperty` to sun buttons.   That's being addressed by @jbphet in https://github.com/phetsims/sun/issues/515, so I'm going to assign this one to him as well.

[2020-01-10 22:15] jessegreenberg opened #556 "Possible to snag draggables while ComboBox is open"
Found in https://github.com/phetsims/molarity/issues/214, and also confirmed in beers-law-lab. Steps:
1. Use touch to open the solute menu
2. Drag finger along options
3. Without lifting up, move finger over a slider to grab it
4. Move finger back to menu and lift up to make a selection

![](https://user-images.githubusercontent.com/41024075/71929920-e90bc580-3157-11ea-9714-790cb5ad2f17.gif)

Fixi

[2020-01-11 16:41] pixelzoom commented on #556
You'll need to get @jonathanolson's help on this one. I don't understand what's going on here. And is this a general problem? Can I snag something else while interacting with something?

[2020-01-12 19:31] jessegreenberg commented on #556
Here is a diff with the change I was thinking of, minimally tested
<details>

[code]
</details>

But even better, there is a TODO in ComboboxListBox

This should also resolve the problem because PressListener/FireListener also attach to the Pointer. https://github.com/phetsims/sun/issues/462

[2020-01-12 19:35] jessegreenberg commented on #462
I encountered this in https://github.com/phetsims/sun/issues/556, using a Scenery listener that attaches itself to the Pointer will resolve that issue. That is important so that the Pointer doesn't snag other things if it moves off of the ComboBox.

[2020-01-12 23:53] zepumph commented on #550
Final thoughts on this issue before it is kicked off to be done with general radio button consolidation.

1. I really like the instrumentation of `AquaRadioButton ` and its members. In the future I hope that `RadioButtonGroup` can be converted over to this pattern.
2. Because of this, I do not think this issue should block publication of Gravity Force Lab, which has a `VerticalAquaRadioButtonGroup

[2020-01-13 00:02] zepumph commented on #549
So continuing with the assumption that not all AquaRadioButtons can be housed inside a VerticalAquaRadioButtonGroup. One thing we could do to solve this immediate problem is to create `AquaRadioButtonGroup` and make `Vertical. . .` extend it. Then we can put the linked element logic into `AquaRadioButtonGroup` and over in https://github.com/phetsims/sun/issues/550 usages can either convert to be a

[2020-01-13 22:42] jessegreenberg commented on #462
I took a look and I also don't see a way to get the currentTarget (partly because we want FireListener to fire on up). But if we cannot have a currentTarget, we could have one FireListener per ComboBoxListItemNode, like this
<details>

[code]
</details>

[2020-01-13 23:13] jessegreenberg opened #557 "Close ComboBox when focus leaves it"
Requested in https://github.com/phetsims/molarity/issues/213 - When DOM focus leaves the ComboBox it should close. We have listeners that close the ComboBox on "tab" and "enter" and "esc". But with mobile screen reader with gestures, it is still possible to move somewhere else and interact with other things without closing the ComboBox.

[2020-01-14 00:00] ariel-phet commented on #556
@jessegreenberg in my opinion, this behavior could be left as is.

My reason is that to cause the behavior you have to interact in a fairly nonstandard manner. I don't think most people are going to press the ComboBox and keep pointer down with touch. The natural interaction is to tap to open, then tap on the selection (I didn't even know you could keep pointer down).

If it is easy to fix with no

[2020-01-14 00:42] jessegreenberg commented on #556
OK thanks. This is going to be resolved naturally by #462, so I will close this issue and we can continue there. I made a note there linking this issue to that one.

But understood it is not a very high priority, and we can proceed with publishing Molarity without addressing this issue.

[2020-01-14 00:42] #556 closed

[2020-01-14 13:28] pixelzoom commented on #549
3. Note that #550 will fix this once #523 is further along.

I disagree.  #550 was (and still is?) about metadata and names.  This issue is more fundamental - it deals with where the linked Property lives.

[2020-01-14 13:30] pixelzoom commented on #550
You're assuming that the linked Property is going to continue to live at the group level.  Imo that's not a done deal and needs to be revisited in #549.  If it changes, that will break GFL API.

[2020-01-14 13:35] pixelzoom commented on #549
You haven't described the responsibilities of `AquaRadioButtonGroup` so I'm not sure what you had in mind.  Are you suggesting something like `LayoutBox` hierarchy? I.e. `AquaRadioButtonGroup` with convenience subclasses `VerticalAquaRadioButtonGroup` and `HorizontalAquaRadioButtonGroup`.  If so, that doesn't solve the layout problem noted in #555, where radio buttons and (e.g.) checkboxes are int

[2020-01-14 15:10] jessegreenberg commented on #557
Fixed with the above commit, @zepumph would you mind reviewing this change?

[2020-01-14 17:12] samreid commented on #541
@ariel-phet who would you recommend to work on this issue? @pixelzoom is the Carousel author and lead developer, and I don't have any significant experience with its implementation.  I'm happy to get up to speed, but it may be more efficient and effective for @pixelzoom to take the lead or provide guidance.

[2020-01-14 17:50] pixelzoom commented on #541
Why isn't this just a matter of using AlignBox and AlignGroup to make all items in the Carousel have the same effective dimensions?

[2020-01-14 18:13] samreid commented on #541
I just noticed https://github.com/phetsims/sun/issues/307 "Carousel should support objects of different sizes" which has a lot of discussion on this topic.  I'll take a look at AlignBox and AlignGroup and review that issue as well.

[2020-01-14 21:37] pixelzoom commented on #541
I think it's necessary for each item in a Carousel to have the same effective size.  Otherwise how do we determine the size of the carousel, the size of a page, the number of items per page, ...

[2020-01-14 22:41] samreid commented on #541
For example, let's say I have items of sizes 4, 10, 3, 12, 8, 6, 7, 3 (in that order) and we specify that a carousel and its page are 30 units long.  Then 4, 10, 3, 12, fit on the first page and the rest fit on the second page.

[2020-01-15 13:49] pixelzoom commented on #541
I don't agree with that direction.

[2020-01-15 14:06] samreid commented on #541
Are you recommending that Carousel should not be able to support a use case like this?  If so, why?

![image](https://user-images.githubusercontent.com/679486/72440093-71482700-3765-11ea-9798-4d25c2b7faf1.png)

[2020-01-15 16:27] pixelzoom commented on #541
This feels like a contrived example - you could scale the pencil down (as you did in CCK) and make the items the same size.  I'd like to see an example where that's not the case.

I see what you've done in CCK to make items appear to have different sizes.  To my eye, it looks cramped and lopsided - that's my subjective opinion.

If you want to support layout of different-sized items as a (non defa

[2020-01-15 23:12] samreid commented on #541
For the contrived case, I scaled the button to match the width of the coins, and it looked like this:

![image](https://user-images.githubusercontent.com/679486/72478303-e2f89300-37ae-11ea-905c-b5aa22520cb3.png)

It's not immediately clear to me that we would always be able to do that, or whether that would always be an acceptable design.

Isn't that a question for our design team?

In Circuit Con

[2020-01-16 18:19] ariel-phet commented on #541
IMHO I think we will need the flexibility to support different sizes, but it does seem reasonable for the default to be the same size.

[2020-01-17 17:37] pixelzoom commented on #541
I was apparently looking at CCK:AC.  It never occurred to me that you hadn't done something general in ccl-common.

I'm saying that I haven't had a need to support different size items, and I was questioning that need because this will be a major change, and will add further complication to the implementation.   I was also questioning whether you're proposing new behavior or an option.

Based on @

[2020-01-17 18:06] pixelzoom commented on #541
Looking at the currently implementation of Carousel...  We'll need to change more than layout in order to support pages that have different numbers of items.

Examples:

* Options itemsPerPage, spacing, and margin all assume uniform item size and the same number of items per page. They are used to size the carousel and layout pages. They become irrelevant with non-uniform layout, and you'll need s

[2020-01-17 18:15] pixelzoom commented on #541
Above I suggested:

The more I chew on that suggestion, the less I like it.  It seems backwards.  Uniform items should be a special case of non-uniform items, not the other way around.  Addressing this issue correctly really seems like a complete rewrite of Carousel.

[2020-01-17 21:10] zepumph commented on #551
@samreid can you please let me know what you are thinking for this issue? Should I be assigned?

[2020-01-18 04:55] samreid commented on #541
I also noticed that balancing act is using a variant of the carousel, called KitControlNode, which has layouts like this:

![image](https://user-images.githubusercontent.com/679486/72658839-f2750900-3973-11ea-8e5a-ee456f805095.png)

In that case, it makes sense to cluster all those nodes and the title as one Node, and then have the carousel show one Node per page--rather than try to accommodate th

[2020-01-18 17:09] samreid commented on #544
Also, what about using the features of the new Orientation enumeration to generalize this?

[2020-01-19 03:00] samreid commented on #541
What if we change the interface for Carousel so that its constructor takes `Node[] pages` instead of `Node[] elements` + `options.itemsPerPage`?  Then we supplement that with any utilities necessary for creating nice carousel pages?  Then Carousel would only responsible for showing the pages and switching between them, not additionally responsible for laying out items within the pages.

[2020-01-19 14:12] samreid commented on #551
From Thursday team meeting:

@ariel-phet said:

@pixelzoom said:

[2020-01-19 14:29] samreid commented on #551
Maybe one step would be to add back checks here, but skip them when `&phetioValidateTandems` is off.  See notes in https://github.com/phetsims/phet-io/issues/1605

[2020-01-19 16:59] pixelzoom commented on #551
Yes, that was suggested in 1/16/20 phet-io meeting.   But validating a link is not the same as validating a tandem.  Would you change the name of `phetioValidateTandems`?

[2020-01-21 18:34] pixelzoom commented on #551
`phetioValidate` ?

[2020-01-21 19:24] pixelzoom commented on #541
I can't find `KitControlNode`.  I see `KitCollectionNode` in build-a-molecule, but nothing with a similar name in balancing-act.   In any case, this layout is problematic for reasons other than the grid nature of the page that you've shown in the above screen shot.  Each page has its own layout (some grid, some not), and each page has a title (e.g. "People").  This is a big deviation from Carousel

[2020-01-21 19:52] zepumph commented on #550
Noting a conversation that @samreid and I had about the imminent publication of gravity force lab with phet-io. We feel like the current instrumentation of AquaRadioButton makes sense, and since consolidation over in https://github.com/phetsims/sun/issues/523 will take longer than the time line of GFL, we think that this should not block its publication. The future implementation of radio buttons

[2020-01-22 03:54] samreid commented on #541
It was deleted 4 days ago in https://github.com/phetsims/balancing-act/issues/97.  It predated Carousel and had around 400 lines of code to provide similar functionality.

Yes, I agree Carousel currently does not support page titles.  But if it takes `Node[] pages` then it wouldn't need to.

Changing Carousel's responsibility to be about pages rather than nodes is a simplifying step, not a complic

[2020-01-22 03:56] samreid commented on #541
`Carousel` already supports as page-oriented API, if you specify `itemsPerPage: 1`.  That's the strategy used in Circuit Construction Kit and now Balancing Act.

[2020-01-23 19:09] zepumph opened #558 "Audit button IO types"
While working on https://github.com/phetsims/studio/issues/35, I found some weird events in `ResetAllButtonIO` and `RoundMomentaryButtonIO`. At first glance these don't appear to be used. Perhaps we can simplify the IO types for our buttons, and I'm trying to figure out what the ideal data stream would look like for the UI component directly (as we already have input and listener events in additio

[2020-01-28 04:17] ariel-phet commented on #541
We likely need a design discussion for carousel - it might require a bit of a rewrite to support various goals. Marking for design meeting and referencing https://github.com/phetsims/balancing-act/issues/97 again.

[2020-01-28 04:35] zepumph commented on #557
I think that what you have is a workable solution, but I don't think that we should go this direction.

To me it feels better to parallel the strategy used for pointer input. The logic is based around `ComboBox.clickToDismissListener`. I think you could basically move the same logic over to ComboBox.

One other benefit here is that I think calling `ComboBox.hideListBox` will be better than just ca

[2020-01-29 18:04] samreid opened #559 "Improvements for OnOffSwitch and ABSwitch"
From discussion with @pixelzoom and @chrisklus today, based on https://github.com/phetsims/balancing-act/issues/101

* Rename ABSwitch to LabeledABSwitch
* Rename OnOffSwitch to ABSwitch, and provide required arguments for aValue, bValue
* Create new type OnOffSwitch which extends ABSwitch and specifies aValue = false, bValue = true.

Assigning to @ariel-phet to decide who can make these improveme

[2020-01-29 18:28] pixelzoom commented on #559
I took a quick look at this, and there are some complications:

* What to do about `OnOffSwitchIO`? Should it just be renamed to `ABSwitchIO`? Will we need a new `OnOffSwitchIO`?
* This adapter Property in the current ABSwitch should probably be moved to the new OnOffSwitch:

[code]

WAG is 1-3 hours to do this work.

[2020-01-29 23:34] jessegreenberg commented on #557
Thanks for reviewing, that makes sense. I essentially just moved the listener from ComboBoxListBox to ComboBox and used `hideListBox` instead.

Back to @zepumph, does this look right?

[2020-01-30 00:14] arouinfar opened #560 "Outer focus highlight has inconsistent color"
Grouped components such as NumberControl or VerticalAquaRadioButtonGroup have two focus highlights. In Gravity Force Lab, I noticed that the color of the outer focus highlights is inconsistent for these two UI components.

<img width="286" alt="Screen Shot 2020-01-29 at 3 27 04 PM" src="https://user-images.githubusercontent.com/8419308/73408736-74412c80-42ba-11ea-9dfe-c49b2054fb5b.png">
<img width

[2020-01-30 00:14] arouinfar commented on #560
Tangentially related to https://github.com/phetsims/QA/issues/471

[2020-01-30 01:09] ariel-phet commented on #559
I recall there being some complications with ABSwitch and a11y, so I want to get @jessegreenberg weighing in on this question before moving forward.

[2020-01-30 03:18] zepumph commented on #557
Sorry I don't see a commit.

[2020-01-30 23:25] jessegreenberg commented on #559
I did some digging to jog my memory and I think found the a11y issues that you are referring to. Mostly https://github.com/phetsims/balloons-and-static-electricity/issues/112 and then https://github.com/phetsims/balloons-and-static-electricity/issues/213. To summarize, the discussion was about how to handle two radio buttons for accessibility. There was a thought that they could be implemented as

[2020-02-03 15:46] samreid opened #561 "Add a way to listen for Slider drag events"
As part of https://github.com/phetsims/wave-interference/issues/468 we are adding discrete slider clicking sounds to Wave Interference.  The demonstration for this in tambo wires up listeners to the Properties directly,

[code]

However, I recall a conversation where we agreed that we would couple the sounds to the user interface events directly, rather than going through the controlled Property i

[2020-02-03 16:46] pixelzoom commented on #561
Yep, sounds appropriate to me (no pun intended :)

[2020-02-03 18:43] samreid commented on #561
Added in the commit. @pixelzoom would you like to review?

[2020-02-03 18:57] pixelzoom commented on #561
The doc for option `drag` is:

` drag: _.noop, // called on drag`

Shouldn't it say something about _when_ it's called on drag?  That would be expected for "hook" documentation.   Looks like it's called first, before any other drag work happens.

[2020-02-03 19:04] samreid commented on #561
I added documentation, ready for review.

[2020-02-03 19:04] pixelzoom commented on #561
👍 closing.

[2020-02-04 00:11] pixelzoom opened #562 "bug in ExpandCollapseBar instrumentation"
Discovered while working on https://github.com/phetsims/ph-scale/issues/98.

ExpandCollapseBar doesn't pass it options to super, so its tandem doesn't get registered.

[2020-02-04 00:16] pixelzoom commented on #562
After fixing this, I discovered that it's only used in ph-scale.  And it would be better to use a Panel that contains an ExpandCollapseButton.  So after replacing ExpandCollapseBar as part of https://github.com/phetsims/ph-scale/issues/98, I'll be deleting it.

[2020-02-04 00:48] pixelzoom commented on #562
Deleted, closing.

[2020-02-04 00:48] #562 closed

[2020-02-04 00:59] pixelzoom commented on #559
This issue affects instrumentation of ph-scale, which uses 2 ABSwitches.  Labeling with blocks-sim-publication.

[2020-02-05 05:22] zepumph commented on #557
That looks really nice! It is simple, and well written. Thanks!

[2020-02-05 15:25] jessegreenberg commented on #557
Great, thanks for reviewing.

[2020-02-05 15:25] #557 closed

[2020-02-06 19:55] samreid commented on #559
@pixelzoom volunteered, thanks!

[2020-02-07 14:54] jessegreenberg opened #563 "Can listParent be removed from ComboBox?"
While working on https://github.com/phetsims/molarity/issues/213

ComboBoxes require a `listParent` Node with documentation

Is it possible to use `sim.showPopup` (like Dialog) to put the ComboBoxListBox on top of everything so that `listParent` isn't needed?

[2020-02-07 15:43] pixelzoom commented on #563
The longterm goal is to have a pane (similar to Java's glass pane) that can be used by all popups -- menus, listbox, dialog,...  See https://github.com/phetsims/sun/issues/347.   But we're obviously not there yet.

2 problems with using `sim.showPopup`...

(1) `sim.showPopup` likely assumes that the popup is modal.  That's not the case for listbox.  It's supposed to behave more like a menu, not a

[2020-02-07 19:03] jessegreenberg commented on #563
`sim.showPopup` allows for non-modal pop ups with a boolean `isModal` arg. When false the rest of the screen isn't dimmed.

It correctly closes when focus leaves it. Remaining request in https://github.com/phetsims/molarity/issues/213 is to also trap the virtual cursor in the ComboBoxListBox when open. One way to do that is to change the scene graph and move the ComboBoxListBox to `sim.topLayer` o

[2020-02-07 19:27] pixelzoom commented on #563
Yes, `sim.showPopup` does have a boolean `isModal` arg.  But so does Dialog, and it's very broken.  And I'm not aware of any non-modal use of `sim.showPopup`.  That said... I'm fine with changing it to `sim.showPopup` if you want to investigate.

[2020-02-07 19:57] arouinfar opened #564 "VerticalAquaRadioButtonGroup phetioFeatured defaults"
VerticalAquaRadioButtonGroup and AquaRadioButton do not appear to have anything phetioFeatured by default in the same way other common UI components do (such as buttons).

At the group level, the visibleProperty should be phetioFeatured. Each individual radio button should also have its enabledProperty and visibleProperty featured. This is a pattern we expect to use across all sims, so it would be

[2020-02-09 22:07] jessegreenberg opened #565 "Constrain virtual cursor to the ComboBoxListBox"
It would be ideal if the virtual cursor could be constrained to the ComboBoxListBox. We tried to do that by using the same method as Dialog (using Sim.setAccessibleViewsVisible to hide all other content and accessibleOrder to move the ComboBoxListBox to a top layer in the AccessibleInstance tree). But that did not work because of https://github.com/phetsims/scenery/issues/1033.

Another way to do

[2020-02-09 22:11] jessegreenberg commented on #563
OK thanks, thats helpful. I am going to check in with design team and make sure it is important to constrain the virtual cursor to the ComboBoxListBox in https://github.com/phetsims/sun/issues/565 before spending more time on that.

[2020-02-11 01:18] pixelzoom commented on #559
Before I start on this, and because it will significantly affect how I do this...  @arouinfar @ariel-phet Do you think that we'll ever want to have an `OnOffSwitch` with option "On" and "Off" labels?  Like this:

<img width="211" alt="screenshot_113" src="https://user-images.githubusercontent.com/3046552/74204725-95e2d200-4c31-11ea-8cfb-b7e8305968bf.png">

[2020-02-11 01:21] pixelzoom commented on #559
Before I start on this, and because it will significantly affect how I do this...  @arouinfar @ariel-phet Do you think that we'll ever want to have an `OnOffSwitch` with option "On" and "Off" labels?  Like this:

<img width="211" alt="screenshot_113" src="https://user-images.githubusercontent.com/3046552/74204725-95e2d200-4c31-11ea-8cfb-b7e8305968bf.png">

I personally don't like labeling the On/O

[2020-02-11 01:24] pixelzoom commented on #559
A reminder of where OnOffSwitch came from, in case anyone has forgotten:

![IMG_4193](https://user-images.githubusercontent.com/3046552/74204984-9e87d800-4c32-11ea-905c-b4115ecb4e33.PNG)

[2020-02-11 03:09] pixelzoom commented on #559
I took a swing at this and ran into the general problem described in https://github.com/phetsims/phet-io/issues/1617.

[2020-02-11 03:15] pixelzoom commented on #559
Here's `GraphScaleSwitch`, the ABSwitch that switches the graph between "Logarithmic" and "Linear" scales in pH Scale:

<img width="289" alt="screenshot_115" src="https://user-images.githubusercontent.com/3046552/74208675-ccc0e400-4c41-11ea-9044-515ce6470080.png">

Here's what the Studio tree looks like. Note that the labels are not included, because they are created outside of (and before) the AB

[2020-02-13 20:32] zepumph commented on #555
After discussing in the dev meeting today:

* We don't think it is worth design time on complicated cases until we actually get back to those sims.
* We could rename `VerticalAquaRadioButtonGroup` to `AquaRadioButtonGroup` and add an 'orientation' option, like in `RadioButtonGroup`. That way a few more cases above could be converted.
* Still it seemed like there were no objections to converting to

[2020-02-13 21:04] pixelzoom commented on #555
So that I can address some of the horizontal layouts, I took a baby step:
* renamed `VerticalAquaRadioButtonGroup` to `AquaRadioButtonGroup`
* created convenience classes `VerticalAquaRadioButtonGroup` and `HorizontalAquaRadioButtonGroup`

`RadioButtonGroup` has no such convenience classes. But I decided to create some here, mainly so that I didn't need to change the many existing occurrences of `

[2020-02-13 21:20] pixelzoom commented on #555
Ah... I still need to address these 2 options in `AquaRadioButtonGroup`, they are specific to vertical orientation:

[code]

[2020-02-13 21:34] pixelzoom commented on #559
2/13/20 design meeting:

* We will never have an OnOffSwitch labeled with 'On' and 'Off'.

[2020-02-13 22:26] samreid commented on #541
SR: Should we retain the current ability of carousel to deal with `items[]` and the "hack" of `itemsPerPage: 1`?
It seems we will need the ability to do custom layouts in some cases.

SR: Should we investigate a strategy where the layout code is factored out to a separate function, and can be re-run when necessary?
CM: That sounds like it's worth investigation.
KP: It's nice because we could opt-i

[2020-02-13 22:51] pixelzoom commented on #555
touchArea and mouseArea are now addressed in `AquaRadioButtonGroup`:

[code]

[2020-02-13 23:15] pixelzoom commented on #555
Related to AquaRadioButtonGroup change, Slack discussion with @jessegreenberg:

Chris Malley  4:11 PM
VerticalAquaRadioButtonGroup was renamed to AquaRadioButtonGroup.   I see this at line 94, option passed to each AquaRadioButton that is created:

[code]

.... where `CLASSNAME = 'AquaRadioButtonGroup'` .  Assuming that is correct, is there anything else that needs to be changed related to this fo

[2020-02-13 23:38] pixelzoom commented on #555
But wait! There's more to do in `AquaRadioButtonGroup` :). There's a pesky `HStrut` that shouldn't be there for horizontal orientation.

[2020-02-14 00:00] pixelzoom commented on #555
I didn't like the uniform pointer areas that are set by VerticalRadioButtonGroup:

<img width="218" alt="screenshot_123" src="https://user-images.githubusercontent.com/3046552/74489214-d89ae900-4e81-11ea-8b72-616061e3c96a.png">

And I also don't like how the same strategy gets applied to AquaRadioButtonGroup with horizontal orientation.  Here are the origin pointer areas in balancing-chemical equa

[2020-02-14 00:03] pixelzoom opened #566 "generalize orientation in AquaRadioButtonGroup"
This work was pulled out of #555.

Over in https://github.com/phetsims/sun/issues/555#issuecomment-585958226:

... and this is in fact needed to be able to "chip away" at sims in #555.  So I'll take a stab at it.

[2020-02-14 00:03] pixelzoom commented on #566
So that I can address some of the horizontal layouts, I took a baby step:
* renamed `VerticalAquaRadioButtonGroup` to `AquaRadioButtonGroup`
* created convenience classes `VerticalAquaRadioButtonGroup` and `HorizontalAquaRadioButtonGroup`

`RadioButtonGroup` has no such convenience classes. But I decided to create some here, mainly so that I didn't need to change the many existing occurrences of `

[2020-02-14 00:03] pixelzoom commented on #566
Ah... I still need to address these 2 options in `AquaRadioButtonGroup`, they are specific to vertical orientation:

[code]

[2020-02-14 00:07] pixelzoom commented on #566
touchArea and mouseArea are now addressed in `AquaRadioButtonGroup`:

[code]

[2020-02-14 00:07] pixelzoom commented on #566
Related to AquaRadioButtonGroup change, Slack discussion with @jessegreenberg:

Chris Malley  4:11 PM
VerticalAquaRadioButtonGroup was renamed to AquaRadioButtonGroup.   I see this at line 94, option passed to each AquaRadioButton that is created:

[code]

.... where `CLASSNAME = 'AquaRadioButtonGroup'` .  Assuming that is correct, is there anything else that needs to be changed related to this fo

[2020-02-14 00:08] pixelzoom commented on #566
But wait! There's more to do in `AquaRadioButtonGroup` :). There's a pesky `HStrut` that shouldn't be there for horizontal orientation.

[2020-02-14 00:08] pixelzoom commented on #566
I didn't like the uniform pointer areas that are set by VerticalRadioButtonGroup:

<img width="218" alt="screenshot_123" src="https://user-images.githubusercontent.com/3046552/74489214-d89ae900-4e81-11ea-8b72-616061e3c96a.png">

And I also don't like how the same strategy gets applied to AquaRadioButtonGroup with horizontal orientation.  Here are the origin pointer areas in balancing-chemical equa

[2020-02-14 00:10] pixelzoom commented on #555
The above commits are related to factoring out AquaRadioButtonGroup, to support both vertical and horizontal orientations.  While I started that work here, it blossomed into its own issue, and was moved to https://github.com/phetsims/sun/issues/566.

[2020-02-14 00:45] samreid commented on #566
I think it's good that there is at least some separation between the radio buttons pointer areas in the first balancing-chemical equations example.  Maybe the same should be true for vertical radio buttons?  I'm not sure about that.

I feel like the uniform pointer areas are easier to use--the "ragged-edge" pointer areas are frustrating to me, and I suspect would be frustrating to some of our user

[2020-02-14 00:51] samreid commented on #541
I'll pursue the more general layout idea in https://github.com/phetsims/joist/issues/608

[2020-02-14 18:02] pixelzoom commented on #566
I don't understand this argument in general, and especially for the case that I asked about in https://github.com/phetsims/sun/issues/566#issuecomment-586033710, repeated here:

<img width="218" alt="screenshot_123" src="https://user-images.githubusercontent.com/3046552/74489214-d89ae900-4e81-11ea-8b72-616061e3c96a.png">

If the pointer areas were expanded like this (see below). Why would this be

[2020-02-14 18:06] pixelzoom commented on #566
So that I don't forget, here are a few things that I want to investigate:

* Support for non-uniform pointer areas.
* Use AlignGroup and AlignBox for making the items have uniform size.
* Don't automatically expand touch areas to fill the dimension that corresponds to the orientation. This would provide a bit of space between pointer areas that's currently lacking.
* Provide both pointer area opti