[2018-09-05 18:38] zepumph commented on #393
There is a tandem in the toggledEmitter as well, so a dispose call will be needed there too I think.

[2018-09-05 18:54] pixelzoom commented on #393
The commit above handles disposal of enabledProperty (if the Checkbox owns it) and toggleEmitter.

[2018-09-05 19:00] pixelzoom opened #395 "why is toggleEmitter needed in Checkbox?"
Encountered while working on https://github.com/phetsims/sun/issues/393.

`toggleEmitter` was added to Checkbox by @zepumph in https://github.com/phetsims/sun/commit/80548d6c4b0eccbdd8ede835cceee5f754aae9a2 for https://github.com/phetsims/phet-io/issues/1345.

Why is `toggleEmitter` needed?
Doesn't `property` provide the identical information (that is, the state of the checkbox)?
Why does Checkbox

[2018-09-05 19:14] zepumph commented on #395
It was added for phet-io in a growing effort to simplify the phet-io api. Instead of needing many custom phet-io types like `CheckboxIO`, which only exist to document and validate that the Checkbox can emit a "toggled" event, we pass that logic over to Emitter, which is already insntrumented to support this same functionality for the data stream, and with proper/consistent documentation etc. We ha

[2018-09-05 19:16] samreid commented on #291
We are choosing between:

[code]

As far as I am aware, we haven't investigated Option B at all, but it simplifies disposal and may simplify PhET-iO APIs (since CheckBoxes would always have an enabledProperty with the same naming).  As far as I know, we haven't ruled out Option B and it would still be good to try it out.

@pixelzoom and @zepumph have been working on similar things lately, so I tho

[2018-09-05 19:25] pixelzoom commented on #291
In option B, the owned Property should be public (and a tandem created?) only if options.enabledProperty was not provided. Otherwise you'll have 2 public Properties (and 2 tandems) that are controlling the enabled state.

I'm also concerned about the complexity/confusion of option B.  It's fairly easy to determine whether `enabledProperty` was provided by the client, and dispose only if Checkbox o

[2018-09-05 19:26] zepumph commented on #393
That looks great, and contains proper and thorough documentation. Thanks!

[2018-09-05 19:26] #393 closed

[2018-09-05 19:27] pixelzoom commented on #395
Yes, update the doc.

And register a general concern about "complexity" if this is the direction that PhET-iO is taking for all UI components.

[2018-09-05 19:31] zepumph commented on #291
I agree that option A seems like a nice pattern. NOTE: That there needs to be an extra boolean in Option A to know if this type owns the Property, such that it knows whether or not to dispose it:

[code]

then in dispose:

[code]

[2018-09-05 19:34] zepumph commented on #395
Well I would say that in the context of PhET code it is a bit more complex, but all around, given the amount of phet-io specific code that is otherwise expected to mimic this functionality without an Emitter, this pattern is quite a bit simpler @pixelzoom. I'm happy to discuss further or brainstorm other options if you feel this is actionable worry.

[2018-09-05 22:11] samreid commented on #394
All the extra `hasListener` listener calls seem like a drag ,but it seems like we must choose between that and requiring clients to dispose in the reverse order of creation.  Can we live with this ordering dependency, or are there cases we can't accommodate it?

[2018-09-05 23:01] pixelzoom commented on #394
Memory management is always a drag, as are the extra steps to write robust code.

-1 for relying on client to reverse the order.  That's not at all robust. It won't work in at least one case, DerivedProperty.   And some PhET repos (e.g. `sun`, were this issue is prevalent) are supposed to be usable outside of PhET.

If we're not going to perform the `hasListener` checks, then perhaps `unlink`, `re

[2018-09-05 23:45] samreid commented on #386
I was surprised to find that components were cached instead of re-created.  There is a mild CPU inefficiency in griddle/js/demo/GriddleDemoScreenView.js because nonvisible graphs are still animated.  This is a noncritical problem that may not need to be solved.

@pixelzoom said:

Thanks, I've learned that.

@pixelzoom said:

That may be nice one day, but I'm not sure whether it's worth the time to

[2018-09-05 23:52] samreid commented on #394
That sounds more palatable than proliferating `hasListener` checks everywhere, but we would lose error checking in places where listeners might be removed at the wrong times. I checked `unlink` and it says:

[code]

So we were at least thinking of that behavior at one time.  Emitter.removeListener currently reads:

[code]

[2018-09-06 00:10] zepumph commented on #395
@pixelzoom I'm not sure what more this issue needs. Do you have any other questions or concerns to discuss? Otherwise my vote would be to close.

[2018-09-06 00:14] pixelzoom commented on #395
@zepumph you said:

That does not appear to have been done.

[2018-09-06 00:31] zepumph commented on #387
We ran into something like that for the Property the checkbox was toggling, as I added an assertion for it here too.

Beyond than I just added instance documentation and made sure `phetioReadOnly` was passed as a child as expected. I think we are good to close. Thanks for taking the lead on it @pixelzoom. It looks great.

[2018-09-06 00:31] #387 closed

[2018-09-06 00:42] zepumph commented on #395
Shoot, done above.

[2018-09-06 00:46] #395 closed

[2018-09-06 01:20] zepumph opened #396 "Convert TypeIOs that have the fire event to use the Emitter pattern"
From https://github.com/phetsims/axon/issues/180, we want to keep cranking away at TypeIOs that only exist to allow the type to have events on the data stream. Here is the current list of files that contain: `events: [ 'fired' ]`:

- [x] MenuItemIO
- [x] ComboBoxItemNodeIO
- [x] AquaRadioButtonIO
- [x] ScreenButtonIO
- [x] NavigationBarScreenButtonIO
- [x] JoistButtonIO
- [x] PeriodicTableCellIO
-

[2018-09-06 01:51] jonathanolson commented on #390
How can I trigger the assertion failure (if I temporarily mark it as non-reentrant)?

[2018-09-06 16:47] jonathanolson commented on #394
If we're following that pattern everywhere, can't we just revert to a no-op when trying to remove a listener that doesn't exist, so we don't have to add boilerplate around everything? What is our past "require hasListener checks()" decision giving us?

[2018-09-06 16:55] pixelzoom commented on #394
As I said in https://github.com/phetsims/sun/issues/394#issuecomment-418908819:

[2018-09-06 17:01] jonathanolson commented on #394
Understood. Original discussion is in https://github.com/phetsims/axon/issues/129 if we want to consider reverting.

[2018-09-06 20:03] zepumph commented on #336
This issue is old, but looks like it is important to FL stable release. Marking as such.

[2018-09-06 20:11] zepumph commented on #336
For all of summer @samreid and I have been working on phetsims/faradays-law#107 under the understanding that instrumenting pieces of new scenery input listeners is a good thing. We now use an emitter pattern, such that the PressListener isn't instrumented as type PressListenerIO, but instead the tandem is still `Tandem.required`, and it is passed to instrumented emitters that emit the appropriate

[2018-09-06 23:40] zepumph commented on #380
@pixelzoom everything you have done above looks great.

I tested usages and adjusted the rotation in my working copy to see how it was working.

I saw that for a11y documentation, there was still an HSlider.md, so I renamed it and passed it off for review in https://github.com/phetsims/binder/issues/22

For phet-io, I wondered if the orientation of the slider is something that the phet-io data str

[2018-09-07 16:49] jessegreenberg commented on #388
Thanks @pixelzoom, `tagName`, `inputType`, and `ariaRole` have been removed from AccessibleSlider defaults so they can't be set by the client. Same for AccessibleNumberSpinner. Would you mind reviewing the above commits?

[2018-09-07 22:59] #388 closed

[2018-09-08 19:49] samreid commented on #336
Thanks, we have made good progress with DragListener and PressListener, and can add other features to FireListener if/when necessary.  Closing.

[2018-09-08 19:49] #336 closed

[2018-09-10 14:32] samreid commented on #377
Looks great, thanks, closing.

[2018-09-10 14:32] #377 closed

[2018-09-10 17:21] jbphet commented on #386
Discussed this today in the dev meeting and decided that the benefit of changing the demo screen view to call dispose is worth the implementation cost, which was estimated at 15 min.  @pixelzoom said he'd do it.

[2018-09-10 17:40] jbphet commented on #394
Discussed in today's "extra" dev meeting, we decided to try skipping the assert on an unlink of a function that is not a listener if the property was already disposed.  I'll implement.

[2018-09-10 17:42] jbphet commented on #394
This should be implemented in all things that have a means of unregistering listeners, such as Emitter, DerivedProperty, Node.

[2018-09-10 20:19] pixelzoom commented on #386
Chris Malley [1:35 PM]
Before I push changes to DemoScreenView, there is one possibly important feature that we’ll lose by disposing of (rather than caching) demo components.  If/when you return to that component, it will be in it’s initial state, and any “work” that you did playing with that component will be lost.  I frankly don’t care one way or the other.  If no one objects, I’ll push in ~10 m

[2018-09-11 14:32] jessegreenberg opened #397 "AccessibleSlider doesn't work with mobile VoiceOver"
Found while working on https://github.com/phetsims/scenery/issues/852, AccessibleSlider doesn't work with gesture input on mobile VoiceOver.

It isn't receiving any input events when flicking up and down on the screen when VO is enabled. I discovered that when this line is removed, the problem goes away:
[code]

[2018-09-11 14:36] jessegreenberg commented on #397
From https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input#attr-step

Ill see if `step="any"` works in mobile safari/VO outside of a PhET sim. If it does, we can troubleshoot this use case. If not, maybe there is another way to support range inputs with values that are not evenly divisible by the step size.

[2018-09-11 14:42] jessegreenberg commented on #397
Well... if step=any, how would the browser know how much to change the value by from a gesture?

[2018-09-11 16:13] samreid commented on #386
Changes look good.  I tested with `cacheDemos: true` and `cacheDemos: false` and the behavior was correct.  I also leveraged the dispose callback in griddle to remove the listeners and confirmed they were being removed properly.  Closing.

[2018-09-11 17:47] jessegreenberg commented on #397
Working with the above commits. I removed the `any` value for the `step` attribute, instead just using a value that evenly divides the range. Also, there was an issue in scenery where the `value` for the primary sibling wasn't getting updated correctly, that was fixed as well. Closing.

[2018-09-11 17:47] #397 closed

[2018-09-11 19:03] samreid commented on #390
Temporarily mark ButtonModel.downProperty as `reentrant: false`, then run Fluid Pressure and Flow with ?fuzzMouse OR go to the 2nd screen and press the dropper button.  I'm not sure if other sims are affected by this or not.  If it looks like Fluid Pressure and Flow is doing something wrong, please reassign to me and @zepumph.

[2018-09-12 20:14] samreid commented on #396
The Joist things will need to be addressed before Faraday's Law is ready to go.

[2018-09-13 16:40] samreid opened #398 "Use FireListener instead of ButtonListener"
At yesterday's phet-io meeting, we found that ButtonListener is used in around 8 types.  ButtonListener extends DownUpListener.  Should these be using FireListener (extends PressListener) instead?

For instance, Checkbox.js would use:

[code]

And MenuItem.js would change to read:

[code]

Note in the latter case, MenuItem leverages FireListener's PhET-iO events.

@jonathanolson can you please com

[2018-09-13 17:07] jonathanolson commented on #398
Ideally yes, but I'll probably want to work on some Drag/Press/FireListener changes first before we move over more things.

[2018-09-13 17:50] jonathanolson commented on #394
Handled for Node, unassigning.

[2018-09-15 14:40] samreid opened #399 "Checkbox and AquaRadioButton touch areas should generally extend to the right of the containing panel"
As identified in https://github.com/phetsims/wave-interference/issues/112, some simulations are set up so that the touch areas for Checkboxes or AquaRadioButtons extend to the right to the width of the widest component (for components of the same kind).  There are exceptions to this rule, such as Acid Base Solutions:

![image](https://user-images.githubusercontent.com/679486/45587289-1ed0cf00-b8c1

[2018-09-17 15:37] samreid commented on #396
@zepumph I was looking into TwoSceneSelectionNodeIO and it was unclear whether we should add an Emitter or just instrument `DownUpListener`, can you please review and make a recommendation?

[2018-09-17 16:41] zepumph commented on #396
I think we need to have a conversation soon about whether or not it is enough to just have the scenery listeners instrumented (FireListener, PressListener, DragListener). For something like the TwoSceneSelectionNode, it emits the "fire" event, so likely we should have the `FireListener` emit that event (as well as the events from the parent `PressListener`. This doesn't answer the question for pol

[2018-09-17 18:20] ariel-phet commented on #399
I am going to mark for dev meeting currently. So far, I don't recall this issue being a problem, so are we trying to fix something that does not really need fixing?

[2018-09-17 19:59] pixelzoom opened #400 "layout problem with AccordionBox title"
While working on Graphing Quadratics, I encountered a layout problem with the title in AccordionBox.  Here's a minimal example:

[code]

which results in:

![screenshot_756](https://user-images.githubusercontent.com/3046552/45646847-b7ae4880-ba81-11e8-850d-f3b4947537bb.png)

[2018-09-17 20:08] pixelzoom commented on #400
If I change default `titleAlignX: 'center'` to `titleAlignX: 'left'`, then the problem goes away.  That is, there is no overlap of the button and title.  So the layout code for center alignment is undoubtedly buggy, probably not checking `titleXSpacing` etc.

I'm not going to investigate this further because (a) `titleAlignX: 'left'` meets the needs of Graphing Quadratics, and (b) I don't have the

[2018-09-18 04:11] ariel-phet commented on #400
@Denz1994 giving this one to you. Probably good to investigate on your own and then work with @jonathanolson when you have a proposed solution.

[2018-09-18 20:42] samreid commented on #396
Perhaps TwoSceneSelectionNode and types like it can leverage FireListener.  In that case, they would not need to add their own `firedEmitter`, since there would already be a `fire` event from the `FireListener`.  In other news, we should add a `firedEmitter` to `FireListener`.

Should ButtonModel subtypes return a different PressListener subtype?

Likewise AquaRadioButton is using scenery/input/Bu

[2018-09-19 02:58] samreid opened #401 "AquaRadioButton should use FireListener"
From https://github.com/phetsims/sun/issues/396, AquaRadioButton should no longer emit its own `phetioStartEvent('fired')` event, but should use the `FireListener`.  This means `FireListener` will need a `firedEmitter` which sends `'user'` messages and that `FireListener.release` will need to use the same callback pattern we exercised in `FireListener.press`.  These are nontrivial changes to `Aqua

[2018-09-19 03:05] samreid commented on #401
I've converted AquaRadioButton to use FireListener in my working copy.  I also removed AquaRadioButtonIO and its usages.

Lint is passing and the button behavior and phet-io data stream looks correct for Beer's Law Lab's AquaRadioButtons.  I also fuzz tested a few sims with AquaRadioButtons and they seemed OK.  I tested that the previous AquaRadioButton behavior of fire on release is preserved.

I

[2018-09-19 03:09] samreid commented on #396
I have a proposed change in the aforementioned issue.  I'm inclined to hold off on other changes until that review is complete, in case it changes how we proceed.

[2018-09-19 03:11] samreid commented on #401
Also, here's the data stream from Beer's Law Lab: colorized when clicking on the solution radio button:

![image](https://user-images.githubusercontent.com/679486/45728916-638d8c00-bb87-11e8-9c3e-eead8fcfe154.png)

[2018-09-20 16:38] pixelzoom commented on #399
My opinion is that this is a non-issue.  And what @samreid has suggested may actually result in more unintended "hits" on UI components.   Yes, iOS works this way, but the context is very different.

[2018-09-20 17:02] samreid commented on #399
I've seen web forms where the touch areas of adjacent buttons don't match up, and it is a poor user experience (seems buggy).  Also, the ARIA Radio Button Group example at https://www.w3.org/TR/2016/WD-wai-aria-practices-1.1-20160317/examples/radio/radio.html has the touch areas uniformly expand far to the right (some may say too far!)

![image](https://user-images.githubusercontent.com/679486/458

[2018-09-20 17:04] pixelzoom commented on #399
Why would you ever do that in a sim context?

[2018-09-20 17:09] samreid commented on #399
Can you clarify?   Here's a sim context with vertically stacked buttons where the touch area spans to the right.  Should we purposefully redesign it to stagger it?

![image](https://user-images.githubusercontent.com/679486/45834829-77d7a300-bcc5-11e8-9873-625b1d6fea6f.png)

[2018-09-20 17:26] pixelzoom commented on #399
I doubt that anyone would ever expect to click at the far right of the control panel in order to select the Mass checkbox.  Users will typically click on the checkbox or the checkbox's label.

Your example (MotionControlPanel) is also a good anti-pattern for implementation.  Your sim is responsible for the uniform pointArea widths, and the implementation is significantly more complicated because o

[2018-09-20 17:27] pixelzoom commented on #399
I doubt that anyone would ever expect to click at the far right of the control panel in order to select the Mass checkbox.  Users will typically click on the checkbox or the checkbox's label.   So again, imo a non-issue for quality of UX.

Your example (MotionControlPanel) also demonstrated an anti-pattern for implementation.  Your sim is responsible for the uniform pointerArea widths, and the imp

[2018-09-20 17:33] samreid commented on #399
This is actually handled by common code, see VerticalCheckboxGroup.js

[2018-09-20 18:14] jonathanolson commented on #399
Notably I've always expected checkboxes/radio buttons to work that way, and in many UIs they seem to. I feel fairly strongly that the expanded mouse/touch areas (to the right) is helpful.

[2018-09-20 18:16] pixelzoom commented on #399
And if my control panel doesn't consist entirely of checkboxes?

[2018-09-20 18:48] samreid commented on #399
At developer meeting: We reviewed the data in Capacitor Lab: Basics and found it was rare that clicks occurred outside of a particular label.  We decided where it is trivial and doesn't cause further interference, like in cases like https://github.com/phetsims/sun/issues/399#issuecomment-423261147 that we will accept the aligned touch areas (and not go back to try to stagger it). But that it isn't

[2018-09-20 22:19] zepumph commented on #401
Thoughts:

* As it pertains to the instrumentation of FireListener, at first I was wondering about only adding a listener sometimes, but always instrumenting the Emitter. Would it ever be strange to get a fire event without there being a fire callback to create downstream errors?
* In Emitter is it weird to emit an event publicly to the data stream if there aren't any listeners attached that Emitt

[2018-09-21 16:05] samreid commented on #401
It seems FireListener should always have a firedEmitter as part of its schema.  By that token, maybe FireListener should require that `fire` is passed in?

Did you mean downstream events?  I think most or all FireListeners will have a `fire`, and maybe it should even be required.

In Arithmetic, it was valuable for us to have an emitter that signifies guesses, even if it doesn't trigger downstream

[2018-09-22 00:27] zepumph opened #402 "Support phet-io on a11y interaction in AquaRadioButton"
From https://github.com/phetsims/sun/issues/401

Commits in that issue converted AquaRadioButton  to use "FireListener" which meant taking out phetioStart/End event calls out of the `fire` function, because FireListener is covering the phet-io data stream pieces. This is because the fire function is passed as a listener both to the `addInputListener` method and to `addAccessibleInputListener`

I t

[2018-09-22 00:27] zepumph commented on #401
@samreid anything else for this issue?

[2018-09-22 01:36] samreid commented on #401
Thanks @zepumph, I created a new issue mentioned above, and closing this one.

[2018-09-22 01:36] #401 closed

[2018-09-22 01:36] samreid commented on #396
Hold removed since https://github.com/phetsims/sun/issues/401 is complete.

[2018-09-24 17:54] zepumph commented on #371
This is handled as part of https://github.com/phetsims/scenery/issues/831. Closing

[2018-09-24 17:54] #371 closed

[2018-09-28 03:42] pixelzoom opened #403 "revisit PhET-iO instrumentation of AccordionBox"
Noticed while working on phetsims/graphing-quadratics#14.

AccordionBox was apparently instrumented with the "instrument everything" approach.  It's API is a bit ridiculous.  For example, you can change visibility, opacity, etc. for the "+" and "-" text on the expand/collapse buttons.  This something that PhET likely does not want clients customizing.  And the many unnecessary tandems result in a

[2018-09-28 04:10] samreid opened #404 "AccordionBox is over-instrumented"
@pixelzoom identified that AccordionBox is over-instrumented in https://github.com/phetsims/graphing-quadratics/issues/14.  It instruments `expandedBoxOutline`, `collapsedBoxOutline`, `plusSymbol` and `minusSymbol` which should be uninstrumented.  Maybe more.

[2018-09-28 04:12] samreid commented on #404
I uninstrumented the specified parts of AccordionBox.  @pixelzoom requested more specifically:

Chris Malley [9:34 PM]
Perhaps I’m at a place where I should push.  I can use the sim in Studio.  But I see continuous “Uncaught Error: Cannot read property ‘instance’ of null”.
I have several AccordionBoxes in this sim.  It’s PhET-iO API is a little over the top (change visibility of + and - on the exp

[2018-09-28 04:15] samreid commented on #404
When a NodeIO is instrumented, it gets all of the NodeIO features, which includes visibility, pickability and opacity.  I don't think we should complicate things by sometimes saying certain nodes only have a subset of these options. When @zepumph and I addressed this for the PhET-iO button on the navigation bar, we created a custom IO type (so the PhET-iO logo can be made unpickable but not hidden

[2018-09-28 04:18] samreid commented on #404
I removed a few more seemingly extraneous sub-components in the preceding commit.  Now AccordionBox has:
titleNode (if not provided in options)
expandedProperty (if not provided in options)
expandCollapseButton

To me, that seems like a good level of granularity for now.  Reassigned to @pixelzoom to see if this will be acceptable for Graphing Quadratics.

[2018-09-28 05:08] pixelzoom commented on #403
Duplicate of #404. Closing.

[2018-09-28 05:08] #403 closed

[2018-09-28 20:49] jessegreenberg commented on #394
@zepumph and I did this for dependencies of DerivedProperty in its dispose in the above commit because we were running into this issue while working on https://github.com/phetsims/scenery/issues/831. @jbphet can you please take a look at this commit as you work on this?

[2018-09-28 20:51] zepumph commented on #394
After a decently large conversation on slack with @jonathanolson, @chrisklus, and @samreid, it was potentially recommended that we should handle this on a lower level, either in Property.unlink, or Emitter.removeListener. @jbphet I'll be curious where you end up putting this check.

[2018-10-01 15:59] pixelzoom commented on #404
This looks 1000% better.  Thanks for handing. Closing.

[2018-10-03 18:05] zepumph opened #405 "instrument ComboBox better"
While working on https://github.com/phetsims/tandem/issues/62, we found that there was weird buggyness in how the buttonNode was being instrumented, but the tandem set to be "enabled: false". This was the only place in the project where tandem.enabled was being used.

We should make sure that we are getting the appropriate events/customizations fro ComboBox.

[2018-10-04 23:10] zepumph commented on #396
We only want to publish new simulations with a consistent data stream, so a specific sim should be considered blocked if it uses a file above that hasn't been converted yet.

[2018-10-06 22:28] samreid commented on #396
I converted TwoSceneSelectionNode to use Emitter.  It used other features of DownUpListener, so I decided against going to FireListener for that case for now.

[2018-10-06 22:34] samreid commented on #396
NavigationBarScreenButton was already using `firedEmitter`, I removed the IO type.

[2018-10-06 23:48] samreid commented on #405
I'm working on https://github.com/phetsims/sun/issues/396 and found that ComboBox should probably be using one FireListener per button rather than batching them all into a single listener.

[2018-10-06 23:56] samreid commented on #396
I finished the work prescribed in the initial comment, and added notes to https://github.com/phetsims/sun/issues/405 about potential improvements.  @zepumph can you please review the changes?  If all is well, please close.

[2018-10-08 21:19] zepumph commented on #396
I'm worried about https://github.com/phetsims/shred/commit/c30d8954b98b7eef217eebb17627bf36890a3614#diff-cb5347fd7b352b8575364a3e2beec3faR73.

I went down that road once with `pressListener` (which ftr is the parent to `FireListener`). and we ran into naming conflicts. It was decided that it is best to separate these tandems out. It makes the most sense to instrument it with a tandem like `fireLis

[2018-10-08 22:10] samreid commented on #396
To clarify, you are recommending to use `createTandem` rather than passing the tandem through directly?

[2018-10-09 01:27] zepumph commented on #396
That's right. Although we have done some hackary with that before between view and model types. This is a sub component, a listener, that is added to the Node. We decided it should be its own phetioID. If we want to reopen that discussion. I recommend a new issue for it.

[2018-10-11 02:57] samreid commented on #396
I specified `createTandem` in the preceding commits, can you please verify?

[2018-10-12 02:54] samreid commented on #396
@zepumph and I discussed when it is appropriate to use `createTandem` and created https://github.com/phetsims/phet-io/issues/1392 to discuss further.

[2018-10-14 23:09] pixelzoom opened #406 "support decoration of VSlider"
In the current implementation, Slider is drawn in the horizontal orientation, and rotates -Math.PI / 2 if the orientation is vertical (for VSlider).  This presents problems if you want to decorate a vertical slider; the child nodes are rotated and not located where you'd expect them to be.

For example, here's what happened in Graphing Quadratics when I attempted to add a child label to 3 VSliders

[2018-10-14 23:17] pixelzoom commented on #406
Unfortunately it's not that easy.  The listener for the thumb ends up working incorrectly.

[2018-10-15 02:07] pixelzoom commented on #406
I have this pretty much working for Slider.  I've added an intermediate Node whose children are the components of the Slider (thumb, track, ticks,...).  For a vertical slider, I'm rotating that intermediate Node instead of the Slider.

But I'm running into a problem with a11y.  For a Slider with `orientation: 'vertical'`, it seems to still think that the Slider is horizontal.  Screenshot below is

[2018-10-15 02:12] pixelzoom commented on #406
Attached is a zipped patch file for Slider.js, corresponding to where I'm at as of https://github.com/phetsims/sun/issues/406#issuecomment-429686924.

[Slider-55.patch.zip](https://github.com/phetsims/sun/files/2477181/Slider-55.patch.zip)

[2018-10-15 16:05] jessegreenberg commented on #406
This was a general problem with FocusHighlightFromNode, thanks for pointing out. After https://github.com/phetsims/scenery/issues/880 and removing this line in HSlider valueObserver
[code]
the highlight looks good in the patch in https://github.com/phetsims/sun/issues/406#issuecomment-429687539. @pixelzoom can you pull scenery and confirm?

[2018-10-15 16:28] pixelzoom commented on #406
Thanks for the quick fix @jessegreenberg.  Would you mind reviewing the above commit?  I tested with sun demo (HSlider and VSlider) and a random set of sims that use HSlider and VSlider.

[2018-10-15 16:55] samreid opened #407 "Should we embrace/forbid/tolerate the "plural components" naming pattern?"
In https://github.com/phetsims/graphing-quadratics/issues/54 we discussed naming types and variables like plurals. For example:

[code]

Note that pros and cons are mentioned in https://github.com/phetsims/graphing-quadratics/issues/54, such as:
* Is this an instance of type "Buttons"?
* Is this a rare pattern?

This will impact internal development and maintainability as well as the PhET-iO API,

[2018-10-16 14:41] jessegreenberg commented on #406
This looks very nice, I reviewed the commit and spot tested a few sims. I also tested decorating a VSlider with nodes relative the slider bounds, all looked as expected.

Closing this issue.

[2018-10-16 14:41] #406 closed

[2018-10-17 01:17] chrisklus commented on #121
Update for 10/18/18 dev meeting:
@SaurabhTotey and I were able to check off 4 more that we were previously unable to figure out since they were caused by the memory leak in scenery, see https://github.com/phetsims/scenery/issues/879.

[2018-10-17 20:16] zepumph commented on #400
@pixelzoom should this be marked as block-publication for GQ, or did your work bypass this entirely for GQ?

[2018-10-17 20:58] zepumph commented on #396
@samreid, since https://github.com/phetsims/sun/issues/396#issuecomment-429187432 I think this issue is ready to close. What do you think?

[2018-10-18 00:03] pixelzoom commented on #400
I bypassed this in GQ by using `titleAlignX: 'left'` as described in https://github.com/phetsims/sun/issues/400#issuecomment-422152834.

[2018-10-18 04:02] pixelzoom commented on #407
Can I assume that your synthetic example is a view component, some like this?

[code]

[2018-10-18 04:07] pixelzoom commented on #407
Here are some more synthetic examples.  They are all collections of plural components assigned to plural variables names.  Which of these do you find disagreeable and why?

[code]

[2018-10-18 16:21] jonathanolson commented on #407
No strong preferences, but instead of `transportButtons`, I'd usually name it `transportButtonGroup` or `transparentButtonContainer`.

[2018-10-18 21:17] samreid commented on #396
Agreed, thanks, closing.

[2018-10-18 21:17] #396 closed

[2018-10-19 17:56] phet-steele commented on #399
Did we take keyboard nav into account for this discussion? I only have a hunch that the bounds for a focus highlight depend on the pointer areas of these labels. Certainly correct me if I'm wrong and close this issue again.

I think extending the pointer areas looks better:

![fambextend](https://user-images.githubusercontent.com/5863899/47235242-b2506080-d395-11e8-9681-ee01ad33ab36.gif)

Than not

[2018-10-19 21:20] jessegreenberg commented on #399
Good point @phet-steele, I agree first gif in https://github.com/phetsims/sun/issues/399#issuecomment-431446437 looks nicer. The focus highlights are not dependent on the pointer areas, but on bounds. So by default, the focus highlight and touch areas will be similar, but they can be changed independently.

[2018-10-19 21:36] samreid commented on #399
If we decide to align the bounds so the focus highlights line up, then we should set the pointer areas to match those bounds.

[2018-10-23 15:17] zepumph commented on #333
Indeed a duplicate of https://github.com/phetsims/sun/issues/314, closing.

[2018-10-23 15:17] #333 closed

[2018-10-23 15:19] zepumph commented on #314
From meetings today, @emily-phet asked me to work on ComboBox for Molarity. My priorities align nicely to take a look at this in the next week or so.

[2018-10-23 16:58] jessegreenberg opened #408 "AccessibleNumberSpinner won't change value first arrow press if another key is down"
AccessibleNumberSpinner won't change value if another key is held down during first press. But any subsequent presses after that will correctly change the value. @mbarlow12 and I are going to look into this today, because it impacts GFL:B.

Just moved from https://github.com/phetsims/scenery-phet/issues/413

[2018-10-23 19:07] jessegreenberg commented on #408
@mbarlow12 and I paired on this, this is no longer an issue. Closing.

[2018-10-23 19:07] #408 closed

[2018-10-23 20:35] samreid commented on #405
Not used in graphing quadratics or faradays-law.

[2018-10-23 23:05] chrisklus commented on #121
Update for 10/25/18 dev meeting:
@SaurabhTotey and I fixed three more this week. Next up: RectangularToggleButton

[2018-10-24 18:18] jessegreenberg commented on #363
@terracoda indeed, I am not sure if 2D layouts for comboboxes was considered when we were working on them.

I may need to work on this issue in the near future for energy-skate-park.

[2018-10-24 18:46] Denz1994 commented on #400
After review with @jonathanolson, we were able to add some logic that compares the necessary space for the title section of the accordion box to the content section. The width of the box is dependent on the larger of the two sections. With the addition of this logic the below image was produced using the code described in https://github.com/phetsims/sun/issues/400#issue-361020376

![image](https:/

[2018-10-24 23:33] chrisklus commented on #383
@zepumph thanks! Based on the order of the list, @SaurabhTotey and I will hit this next week during our Tuesday meeting, and we now know how to handle this correctly since learning from your previous suggestion and @pixelzoom's https://github.com/phetsims/sun/issues/383#issuecomment-418807962.

And thanks for mentioning something here, I probably would not have remembered to close this issue once

[2018-10-25 01:33] zepumph commented on #407
When I, as a developer, read something ending with a plural I immediately think of a type that is plural, like a list or collection. I am totally fine with avoiding those sorts of names for a singular Type. That said, with proper documentation and the right place for this plurality, I would likely not complain.

[2018-10-25 03:04] pixelzoom commented on #407
I'm going to abstain from this issue, because imo it's a non-issue.  If consensus points to things that I should rename in sims that I'm responsible for, please identify them via sim-specific issues, and assign to me.

[2018-10-25 03:16] pixelzoom commented on #399
@samreid said:

I'm confused... Don't pointer areas default to bounds?  And we certainly don't want to set pointer areas, then expand bounds.

If we're going to expand pointer areas or bounds to have uniform widths, that should be handled by the containers, _not_ client code.

[2018-10-25 16:54] jessegreenberg commented on #314
@terracoda pointed out in #363 design of the general ComboBox could impact this issue. I am not sure if a grid-like combobox was considered in our initial investigation, or whether a 2D combobox will be a totally different a11y implementation.

[2018-10-25 17:01] emily-phet commented on #363
@jessegreenberg @terracoda Is 2D comboboxes a subcategory of comboboxes. It will need a different way to navigate (I would guess being able to 'left' and 'right' and not just 'up' and 'down', correct?). If it's a significant effort to generalize, we may need to just move forward with a traditional combobox implementation and circle back around to this later.
Or, perhaps an intermediate is to imple

[2018-10-25 17:32] pixelzoom commented on #400
I'll try to get this reviewed sometime the week of 10/29/18.

[2018-10-25 17:41] terracoda commented on #363
@emily-phet and @jessegreenberg, I had seen the 2D combobox, but did not consider it specifically in the combobox design pattern that I created. This will take some investigation, but my first guess is that we may want to consider the rows as groups of options or use a grid.

There are promising new [design pattern examples](https://www.w3.org/TR/wai-aria-practices/#combobox) linked at ARIA Author

[2018-10-25 19:06] zepumph commented on #399
Discussed this briefly today in developer meeting, but quickly decided that we should have @ariel-phet present, especially since he was instrumental in determining that this was not worth the time to change.

Let's talk next week with @ariel-phet.

In the mean time @jessegreenberg and @zepumph will bring this up with @emily-phet and @terracoda at accessibility meetings to see what their design opi

[2018-10-25 19:06] emily-phet commented on #363
@terracoda I'm not sure it's worth spending a lot of time right now coming up with interaction patterns for both regular and non-traditional pop-up variations. If you take a look and it seems like it will be a time-consuming task to tackle the 2D scenarios, let's hold off on that for now, and just move forward creating something for traditional comboboxes.

[2018-10-25 19:12] emily-phet commented on #399
Some thoughts for next a11y meeting - Focus highlight alignment is needed, though not sure what bearing this has on final decisions for this issue. Is it the case that in sims we've already instrumented with keyboard that the developer was just going through and manually setting the bounds so that all the focus highlights lined up? How have we gotten alignment so far?

[2018-10-25 23:34] jessegreenberg commented on #394
I encountered this again while trying to dispose a Multilink, I believe the above commit is in line with https://github.com/phetsims/sun/issues/394#issuecomment-419998978. @jbphet can you please take a look?

[2018-10-25 23:42] chrisklus commented on #394
@jessegreenberg I've been using this pattern regarding your commit above, since the dependency can not be disposed but can already be unlinked:

[code]

[2018-10-26 17:57] pixelzoom commented on #400
This fix looks good, and I tested it in both sun demo and Graphing Quadratics. I decided to continue to use `titleAlignX: 'left'` in GRAPHING_QUADRATICS/QuadraticTermsAccordionBox, since it makes more sense for that case.

[2018-10-26 17:57] #400 closed

[2018-10-26 19:53] zepumph commented on #314
Using design from https://github.com/phetsims/a11y-research/issues/64. @emily-phet pointed out this morning that I should just implement the current structure. The first use case will be for Molarity.

[2018-10-26 21:41] terracoda commented on #314
@zepumph, yes please make a general combobox for Molarity. I will investigate those other patterns as soon as possible, but not immediately.

[2018-10-26 23:14] zepumph commented on #314
First step was to make ComboBox es6.

[2018-10-26 23:19] zepumph commented on #314
@jessegreenberg pointed me to an old branch that had one implementation of it. I'm going to see how far putting that on master takes me, with the goal of eventually supporting the html in `ComboBox.md`:

[code]

[2018-10-27 09:05] terracoda commented on #314
@zepumph, if it is helpful there was an example in the a11y-research  repo in the html sketches folder as well https://github.com/phetsims/a11y-research/blob/master/html-sketches/combobox/combobox.html.

This might be the same HTML as what @jessegreenberg posted above and what's in the combobox.md file.

There are several open issues about combobox, so I am having a little trouble weaving them tog

[2018-10-27 20:33] zepumph commented on #314
Thanks @terracoda. I will use that link to combobox.html to base my current implementation on.

For now I am completely ignoring the intersection of mouse and a11y. I think it will be simple enough to support that once we have solidified our direction with the PDOM.

[2018-10-27 21:39] zepumph commented on #314
After the above commit, everything is implemented except active descendant. I will need to implement it first in https://github.com/phetsims/scenery/issues/873. I'll try to get it done this afternoon, and will check back here afterwards with an update.

[2018-10-27 22:43] zepumph commented on #314
Added aria-activedescendant support above. I am ready for combobox to be reviewed.

@terracoda, @jessegreenberg, and @emily-phet please have a listen here:
https://phet-dev.colorado.edu/html/molarity/1.5.0-dev.1/phet/molarity_en_phet.html?a11y

I took a brief listen on NVDA chrome and it sounds nice! Note that there aren't other labels on things, so just worry about the sound of the comboBox.

You

[2018-10-28 20:09] terracoda commented on #314
@zepumph, this sounds really good in VoiceOver with the exception that VoiceOver adds the word "text" after the name of each option. I think this is because the role option assumes a text input. I don't think we can do anything about that.

VoiceOver announces both labels, "Solute" and the selected solute upon focus. So on focus with VoiceOver, I hear:

which is nice!

And when I open the list (or

[2018-10-28 20:36] terracoda commented on #314
@zepumph, I just noticed that the keyboard interaction is not working in Firefox Quantum 62.0.3 on MacOS High Sierra 10.13.6

When I try to use the arrow keys on the popped up list the focus highlight gets lost.  This was using Firefox without a screen reader.

[2018-10-28 20:37] terracoda commented on #314
@zepumph, I'll move the Firefox focus problem to a separate issue.

[2018-10-28 20:41] terracoda opened #409 "Listbox focus lost when using Firefox"
As reported in https://github.com/phetsims/sun/issues/314#event-1930530650, keyboard focus works great in Safari alone and in Safari with VoiceOver. However, I noticed that the keyboard interaction is not working in Firefox Quantum 62.0.3 on MacOS High Sierra 10.13.6

When I try to use the arrow keys on the popped up list of options the focus highlight gets lost. This was using Firefox without a s

[2018-10-29 14:22] jessegreenberg commented on #314
@zepumph this sounds great in NVDA with Firefox! Just documenting what I hear in molarity to compare with https://github.com/phetsims/sun/issues/314#issuecomment-433737115:
On focus: "Solute: Nickel roman 2 chloride, button, sub-menu"
On open: "Solute list, bullet, Nickel roman 2 chloride, seven of nine"
On selection: "Solute: Potassium dichromate, button, sub-menu"

I wasn't able to reproduce htt

[2018-10-29 15:25] terracoda commented on #314
@jessegreenberg, I will review `aria-activedescendent`.

[2018-10-29 16:30] terracoda commented on #314
@jessegreenberg, you are correct, `aria-activedescendant` is an alternative way to manage focus on composite widgets - elements that have logical descendants like comboboxes, menus, tablists, etc.

You either manage focus directly in the DOM, or with `aria-activedescendant`, but not both. The main thing is to manage focus effectively, so users know where they are and what they have selected.

[2018-10-29 16:34] terracoda commented on #314
I can share the accessible combobox with an ARIA expert as soon as we think it is ready.

[2018-10-30 17:31] jessegreenberg commented on #399
Discussed with @emily-phet and @terracoda. Components are generally more accessible if their touch areas are increased. There was agreement that consistently sized focus highlights look better, and we will want focus highlights to look like the top example in https://github.com/phetsims/sun/issues/399#issuecomment-431446437. As focus highlights change, it will be important that the pointer areas m

[2018-10-30 22:32] chrisklus commented on #383
@SaurabhTotey and I fixed this today. Closing.

[2018-10-30 22:32] #383 closed

[2018-10-30 23:07] chrisklus commented on #121
Update for 11/1/18 dev meeting:
@SaurabhTotey and I checked off four more this week. Next up: LeftRightSpinner

[2018-11-01 18:57] mbarlow12 opened #410 "AccessibleSlider: consider adding asserts for step options and roundValue"
I pulled the rounding out of our check for the keycode. This was causing an issue where we weren't rounding for pgup/pgdown. In GFL, where no `pageKeyboardStep` wasn't explicitly set, that step was being set programmatically and resulting in similar issues that we saw in JT (slider would get stuck from odd rounding issue). Should we consider adding asserts to inform the client that if `roundToStep

[2018-11-01 19:36] jessegreenberg commented on #410
Thanks for the fix, it makes a lot of sense. Could you please clarify what you are recommending for the assertion though? If the roundToStepSize is used, then each of the keyboardStep, shiftKeyboardStep and pageKeyboardStep need to also be defined?

[2018-11-02 15:44] mbarlow12 commented on #410
@jessegreenberg correct. It's not all that significant, but it might help developers avoid some easy pitfalls.

[2018-11-02 15:52] jessegreenberg commented on #410
Understood, thanks, yes making it more strict sounds reasonable, especially since in https://github.com/phetsims/gravity-force-lab-basics/issues/72 we found that roundToStepSize will be used infrequently. And when used, they should be defined to avoid the cases where the value gets "stuck" due to rounding back down to the step size. @mbarlow12 would you mind adding the assertion?

[2018-11-06 18:22] jessegreenberg commented on #410
Hmm, I just noticed that the change broke using of the page up/page down keys in RIAW.

[2018-11-06 19:03] jessegreenberg commented on #410
Thinking about this more, I don't think we want to round to the nearest step size on larger jumps. In RIAW, that results in rounding to the nearest 1.499, which has odd behavior. If it is important for rounding to occur on larger steps I think we will need separate options to enable/disable that. I am reverting the commit to fix RIAW, and added documentation about rounding only on normal presses.

[2018-11-06 22:02] KatieWoe opened #411 "CT Cannot modify an immutable color"
[code]

[2018-11-07 01:01] jessegreenberg commented on #411
This looks more related to the recent scenery changes making colors immutable. @jonathanolson assigning to you, but let me know if I can help.

[2018-11-07 05:41] pixelzoom commented on #411
In case it's related, scenery is also intermittently failing CT with "Trail: Color listener non-memory-leak-ness failed". E.g.:

[code]

[2018-11-07 18:07] jonathanolson commented on #411
Sorry about that, I had forgotten to commit the above change along with the Scenery one. Can you verify that it fixes the issue?

[2018-11-07 18:34] KatieWoe opened #412 "CT cannot fire when already firing"
[code]

[2018-11-08 15:39] KatieWoe commented on #411
CT doesn't seem to be showing color related problems, so I think this is good.  @jonathanolson

[2018-11-08 17:38] jonathanolson commented on #411
Thanks!

[2018-11-08 17:38] #411 closed

[2018-11-09 17:21] mbarlow12 commented on #410
What I noticed about the current location of the `roundToStepSize` check is that for pgup/dwn, there's no rounding at all. The mass sliders in GFL will round the default increment and not the pgup/dwn step size, so there's the scenario where shift step moves by 1, default sets to multiple of 50, and page adds/subtracts 100 with no rounding.  If that's ok behavior, then I think assertions might onl

[2018-11-12 21:59] jessegreenberg opened #413 "NVDA says that our sliders have "invalid entry""
Found by @KatieWoe for https://github.com/phetsims/QA/issues/219. For some of our sliders, NVDA says that values have "invalid entries". I would guess that it is caused by this line:

[code]

[2018-11-12 23:07] jessegreenberg commented on #413
Fixed with the above commit. Leaving open as pending-testing because this came from https://github.com/phetsims/QA/issues/219

[2018-11-13 16:38] KatieWoe opened #414 "Keyboard nav continuous slider motion stops with new keypress"
Found during https://github.com/phetsims/QA/issues/219
If you are manipulating a slider with shift + arrow and let go of shift, the slide continues with arrow sized steps.  However, if you start with arrow, and push shift down as it is moving, the slider stops entirely.  This also occurs if you push a letter key, such as a.

[2018-11-13 17:15] KatieWoe commented on #414
Note: does not seem to occur on all platforms.  Seen on Win 10 chrome and chrome os, but not seen on Mac 10.14 chrome

[2018-11-13 20:48] jessegreenberg commented on #414
Thanks for making an issue @KatieWoe. It surprised me, but this is actually how HTML sliders work, which is why PhET sliders work this way with a keyboard. For example this vanilla HTML slider: https://jsfiddle.net/8gh9mysx/

Going to close this issue.

[2018-11-13 20:48] #414 closed

[2018-11-14 02:07] samreid commented on #384
I experimented  with the example in NetForceControlPanel.js.  The current implementation looks like this:

[code]

I experimented with a pattern where the `Checkbox`es are created by the client code:
[code]

The former uses VerticalCheckboxGroup.js which is 84 lines of code.  The latter uses a new utility function `unify` which is declared like so:
[code]

The new pattern supports uniform bounds a

[2018-11-14 06:31] samreid commented on #394
In the preceding commit, it is now no longer an assertion error to remove an unregistered listener from a disposed Emitter.  That code was leveraged by Property, so there was no extra case to handle for Property.  However, I did realized that Property.dispose was not calling `changedEmitter.dispose`, and that has also been added in the preceding commit.  We have never disposed the `changedEmitter`

[2018-11-14 15:56] pixelzoom opened #415 "rename ToggleNode HORIZONTAL and VERTICAL"
[code]

To make these names more aligned with the documentation, the property they are setting, and the names of other similar layout functions (`LEFT`, `RIGHT`, `CENTER`, ...):

- [ ] rename HORIZONTAL to CENTER_X.
- [ ] rename VERTICAL to CENTER_Y.

[2018-11-14 15:58] pixelzoom commented on #415
This is the value of the `alignChildren` option. The only explicit use of `alignChildren` that I see is in `WAVE_INTERFERENCE/WavesScreensView`.

[2018-11-14 16:19] pixelzoom commented on #415
ToggleNode is apparently only used in wave-interference and JOIST/SoundToggleNode.

[2018-11-14 16:20] pixelzoom commented on #415
Done, closing. @samreid feel free to take a peek at the 2 commits above, since you have the only sim using ToggleNode.

[2018-11-14 16:20] #415 closed

[2018-11-14 16:51] pixelzoom opened #416 "ToggleNode: change order of constructor params"
Since the 2nd arg tends to be a longish object literal, the 2nd arg (the Property) is visually lost.  So it makes sense to swap the order.

Currently: `function ToggleNode( elements, valueProperty, options )`

Proposed: `function ToggleNode( valueProperty , elements, options )`

Current example from wave-interference:

[code]

Proposed example from wave-interference:

[code]

[2018-11-14 16:54] pixelzoom commented on #416
Done, tested in sun, beers-law-lab, gas-properties, wave-inference.

Closing.  @samreid feel free to have a look, since wave-inference is your sim.

[2018-11-14 16:54] #416 closed

[2018-11-14 17:13] samreid commented on #405
`tandem.enabled` was removed in https://github.com/phetsims/tandem/issues/62

Hence the remaining work for this issue is:
- [ ] weird buggyness in how the buttonNode was being instrumented (may have been addressed by removing tandem.enabled)
- [ ] We should make sure that we are getting the appropriate events/customizations fro ComboBox.
- [ ] ComboBox should probably be using one FireListener per

[2018-11-14 17:38] jessegreenberg commented on #410
That sounds good @mbarlow12, Ill go ahead and add that assertion. The behavior you described is what is necessary in RIAW/OL, but I don't know if founding to page up/page down will be needed in the future. If so, maybe we can add roundToPageSize (or something) to enable/disable that in the future.

[2018-11-14 17:44] jessegreenberg commented on #410
I added the assertion and it is catching lots of usages, good news! It looks like this is because roundtoStepSize was added for all sliders, and I forgot to remove it in https://github.com/phetsims/gravity-force-lab-basics/issues/72.

[2018-11-14 18:02] jessegreenberg commented on #410
This was a great idea @mbarlow12, I added the assertion in the above commit. Can you please review, and close if all looks OK?

[2018-11-14 18:04] jessegreenberg commented on #410
I should also mention that I let aqua run through ~30 sims before the commit.

[2018-11-14 18:09] mbarlow12 commented on #410
Sure thing!

[2018-11-14 18:46] samreid commented on #405
In discussion with @chrisklus, we concluded that it seems best to schedule a PhET-iO design for ComboBox before deciding how to approach the remaining work for this issue.  For instance, if we decide that PhET-iO clients should not be able to disable (make unpickable/transparent) individual elements in the popup box, we may prefer a single FireListener for the entire ComboBox.  Conversely, if we k

[2018-11-14 18:49] samreid commented on #405
"meeting:phet-io" label is to make sure other team members are aware of the need for ComboBox PhET-iO design, probably the next time we have a PhET-iO design for a sim with a ComboBox.

[2018-11-14 21:06] ariel-phet commented on #394
@chrisklus since you have some dispose experience now, asking you to review. Let me know if that doesn't work for you.

[2018-11-14 21:19] samreid commented on #399
See also https://github.com/phetsims/sun/issues/384 for a strategy that support this feature.

[2018-11-15 17:42] jonathanolson commented on #384
The one with creating Checkboxes in the code seems nice.

[2018-11-15 18:06] jessegreenberg commented on #384
Another advantage of using Vertical{{ComponentType}}Group is that it includes instrumentation for a11y (and maybe phetio?)

[2018-11-15 19:11] chrisklus commented on #121
Update from 11/15/18 dev meeting: Pairing time for @SaurabhTotey and @chrisklus got moved to https://github.com/phetsims/states-of-matter/issues/217, but @SaurabhTotey is going to finish these remaining items on his own. Once the current list is finished, we'll bring back to dev meeting to evaluate if this issue is complete, or if more components need to be added and tested/fixed.

[2018-11-15 19:16] samreid commented on #384
@jessegreenberg reported we can set the focus highlight without using the local bounds.  And that, say VerticalAquaRadioButtonGroup can create custom a11y components (that are hard-coded to work great for HTML radio button group).

It could be possible to move options like this:

[code]
to the instance site, or factor that out.

[2018-11-15 19:20] samreid commented on #399
We discussed the possibility of using AlignGroup to set up these bounds--that would work across different control panels.

[2018-11-15 19:22] samreid commented on #384
We discussed this, and developers can use this pattern as desirable.

[2018-11-15 19:52] samreid commented on #399
@emily-phet we discussed this at today's developer meeting and there doesn't seem to be a tractable way to support aligned components in general.  Can you please review https://phet-dev.colorado.edu/html/graphing-quadratics/1.0.0-dev.46/phet/graphing-quadratics_all_phet.html?showPointerAreas&accessibility and comment on whether it is acceptable or if it should be corrected before publication?  If

[2018-11-15 19:57] #384 closed

[2018-11-15 20:30] pixelzoom opened #417 "support for non-linear Sliders"
In 11/15/18 dev meeting and https://github.com/phetsims/graphing-quadratics/issues/52#issuecomment-439144304, we said that having support for non-linear sliders is desired.   Whether that support is baked into Slider, in a subclass of Slider, or something else is up for discussion.

In https://github.com/phetsims/graphing-quadratics/issues/52#issuecomment-439146430:

[2018-11-15 23:12] jessegreenberg commented on #413
@mbarlow12 showed me that this change broke sliders in Safari when VO is enabled, we need a different fix.

[2018-11-15 23:50] pixelzoom commented on #417
The first step here is probably understanding the issues encountered in Graphing Quadratics:

(1) Why is `reentrant: true` required for the `DynamicProperty` used in `GRAPHING_QUADRATICS/CoefficientSlider`?

(2) For `NumberProperties` related to equations values (a,b,c,h,k,p in `GQModel` subclasses), why does `reentry detected` assertion failure occur in Studio but not in the sim?

[2018-11-16 00:01] mbarlow12 commented on #413
In GFL & RIAW, we found that the aria-value text wasn't being read out. There's also some odd behavior when using the VO keys (ctrl-opt on Mac) within the slider to increment the value. In GFL for example, moving the position sliders in this way, you're unable to increment the value past 4.6 on the left object.

[2018-11-16 01:17] pixelzoom commented on #417
This is being investigated in https://github.com/phetsims/axon/issues/197.

[2018-11-16 14:07] emily-phet commented on #399
Thoughts:
- From prior conversations with @jessegreenberg and @zepumph, we discussed aligning focus highlights and mouse/touch areas to align as the sim is published with full alternative input. It seemed like it would be nice for these to default to the same alignment, but it that's not possible we've already been doing that sim-by-sim, so presumably we could continue doing that.

- for the Graph

[2018-11-16 15:43] jessegreenberg commented on #399
graphing-quadratics is not being published with alternative input so nothing immediate needs to be done for this issue.

It was discussed in developer meeting that we have gotten focus and pointer area alignment in a11y sims we have worked on thus far because they are using things like VerticalAquaRadioButtonGroup, types that have knowledge of all inputs in the set to align focus and pointer areas

[2018-11-16 22:09] emily-phet commented on #399
@pixelzoom I am not at all advocating for a sim-by-sim approach. I am merely saying it is fine with me to proceed this way if necessary.

[2018-11-17 00:10] pixelzoom commented on #417
When `DynamicProperty` is behaving correctly (see https://github.com/phetsims/axon/issues/197), I don't see any reason to bake this into Slider.  I think we should let clients define their own mappings via `DynamicProperty`.  If any of those mappings become common, then we could move them to common code.

[2018-11-18 23:20] pixelzoom opened #418 "misc Slider improvements"
From https://github.com/phetsims/graphing-quadratics/issues/112#issuecomment-439653505:

- [x] Slider's default for `options.enabledProperty` should be changed from `Property` to `BooleanProperty`.
- [x] We should add checks that `enabledPropertyOptions` and `enabledProperty` options are mutually exclusive.

Also:

- [x] inadequate doc for options `enabledProperty`, `enabledPropertyOptions`, `enab

[2018-11-19 16:21] samreid commented on #418
I reviewed all changes in the commit, and it looks good, thanks, closing.

[2018-11-19 16:21] #418 closed

[2018-11-19 18:15] chrisklus commented on #394
Looks good @samreid. The change makes sense to me and I'm also not having any issues with local testing. Back to you.

[2018-11-19 19:10] samreid commented on #394
Since we added this feature for Node and Emitter, and Property picked up this feature due to its usage of Emitter, this issue is complete, closing.

[2018-11-19 19:10] #394 closed

[2018-11-19 23:24] pixelzoom opened #419 "ComboBox: add align option"
ComboBox items are left aligned, with no option to do otherwise.

When the items are numbers, it would better to right align them.   For example, here's how the Collision Counter currently looks in Gas Properties:

![screenshot_892](https://user-images.githubusercontent.com/3046552/49117951-bbb7cd00-f25f-11e8-9a80-dac27de52171.png)

Add `align` option, with values 'left' (default), 'right', 'cente

[2018-11-20 21:56] jessegreenberg commented on #413
Two issues with the current implementation, both showing up in cases we are hitting in GFL. We are allowing negative step sizes, and we are only updating step attribute when value changes (not when enabled range changes). I will fix this, but I doubt these are fully what is causing the issues with VO. Ill also run the elements through an HTML validator, that may give us more info.

[2018-11-20 23:13] jessegreenberg commented on #413
When I run a PhET accessible slider through the validator, I see these (abbreviated)
Warning: slider role unnecessary for input of range type.
Error: Missing required attribute aria-valuenow
Error: Missing required attribute aria-valuemin
Error: Missing required attribute aria-valuemax

My guess is that the errors are because we have the role on the element, without it those aria attributes are no

[2018-11-20 23:19] jessegreenberg commented on #413
When I remove the role attribute, I hear the aria-valuetext in NVDA correctly. So I removed it and all warnings and errors in the validator are gone.

@mbarlow12 can you please try master with VO again and see if this issue has been resolved?

[2018-11-27 14:21] mbarlow12 commented on #413
Just tested in RIAW and I only hear the alerts when interacting with the slider. VO properly reads out the accessible name and aria-valuetext on focus, but there's no information read out after that point.

@jessegreenberg I'm also noticing that the step is consistently being set (at least in RIAW) to exactly 0.01 below the aria-valuetext readout. I experimented with setting the 'step' attribute t

[2018-11-27 14:36] jessegreenberg commented on #413
Hmm, OK thanks for checking.

Can you please clarify what you mean by this?

In RIAW I see he step change with the value to be value - enabledRange.min. Here it is with a value of 0.44.
![capture](https://user-images.githubusercontent.com/6396244/49088598-9909c200-f227-11e8-8606-dc566de39c4f.PNG)

[2018-11-27 14:40] jessegreenberg commented on #413
Actually would it be OK to just set the step to the shift keyboard step like you tested?

[2018-11-27 15:09] jessegreenberg commented on #413
I think this will work if we can agree it is OK for the range of the slider to always be evenly divisible by the shift step size. Ill try it out NVDA, run aqua tests, then check in with @mbarlow12 to make sure this fixes it. I think it should since this was already tested in https://github.com/phetsims/sun/issues/413#issuecomment-442075066

[2018-11-27 15:19] jessegreenberg commented on #413
This won't work because we are counting on setting the shift keyboard step to zero in some cases.

[2018-11-27 20:56] jessegreenberg commented on #413
@mbarlow12 and I met to work on this together. We ended up changing the solution in https://github.com/phetsims/sun/commit/6084991dd28bf12197e7b80dc251b92d62ae6d7b by setting the step size to the number of decimal places in the accessible readout. For example, if decimal places is zero, step size is 1, and if decimal places is 2, step size is 0.01. This seems to work very well on NVDA with FF, JAW

[2018-11-27 21:00] jessegreenberg commented on #413
I should mention that we considered a couple of other options too.

We considered changing the shiftKeyboardStep to not allow 0, and use shiftKeyboardStep as the value for the 'step' attribute. But this is limiting and would require changes to InteractionStateProperty, PushButtonModel, and NumberControl to support the ability to make buttons look pressed when interacting with a keyboard. This is c

[2018-11-27 23:17] pixelzoom commented on #419
This will also fix the alignment of temperature choices in Gas Properties. This combo box is currently composed of NumberDisplay items.   The NumberDisplay items have `align: 'left'`, but they have different widths.

![screenshot_893](https://user-images.githubusercontent.com/3046552/49117977-d427e780-f25f-11e8-9b6d-38bf17766ea3.png)

[2018-11-28 00:06] pixelzoom commented on #419
The `align` option was added in the above commits, and `align: 'right'` is used in Gas Properties.  What I thought was going to be trivial was downright scary — ComboBox has gotten complicated.

I tested with `?a11y` and the focus highlight still looks correct:

![screenshot_895](https://user-images.githubusercontent.com/3046552/49119706-9d090480-f266-11e8-9e79-951fc4f94981.png)

Randomly assigned

[2018-11-28 19:19] jessegreenberg commented on #413
This fix is causing issues in https://github.com/phetsims/coulombs-law/issues/90. And on reflection, I think that accessibleDecimalPlaces should either only impact the readout of the AT (its initial intention), or become a required param. Its current usage makes the slider not work in cases like https://github.com/phetsims/coulombs-law/issues/90.

I would like to re-visit the `any` value for acces

[2018-11-28 19:36] jessegreenberg commented on #413
Documenting results with step: 'any'
- NVDA + Firefox sounds great
- Firefox alone works great

[2018-11-29 20:33] pixelzoom commented on #407
11/29/18 dev meeting:

@pixelzoom this comes up mainly with HBox/VBox subclasses. E.g. ToolControls, TimeControls in gas-properties

There was a suggestion that Node, HBox, VBox, or Group would all be acceptable for view elements.  For model elements, plural is OK (e.g. GQViewProperties).

No consensus reached.

[2018-11-29 20:39] zepumph commented on #407
I would also add that we decided that we like our conventions for singletons, i.e. `MathSymbols.js` and `*Constants.js`.  We also decided that plural var names for instances (and therefore phetioIDs) was also ok.

The main discussion was behind Types.

@jessegreenberg @jbphet didn't mind @pixelzoom's suggestion being able to name a component (Node/HBox/etc) plural (like `ToolControls` of type `HBo

[2018-11-30 03:46] emily-phet commented on #314
@zepumph Can you summarize where work on this is? Just curious, as there is description work officially started for this sim, so early 2019 we'll want to move forward with this one.

[2018-11-30 09:31] terracoda commented on #314
@emily-phet, I think @zepumph's summary is in https://github.com/phetsims/sun/issues/314#issuecomment-433661093

I think the combobox itself is ready to share with an ARIA expert. Here are some VoiceOver screenshots that show how it sounds with VoiceOver & Safari:
**1. I have opened the list of solutes with the pop-up button**
- and moved my selection from item 1 to item 7, but not yet selected it

[2018-11-30 17:35] jessegreenberg commented on #419
Changes look good @pixelzoom. I tested a few other comboboxes, the option worked as expected, focus highlights were correct and screen reader output was not changed.

![image](https://user-images.githubusercontent.com/6396244/49305044-1e95a800-f49c-11e8-94ae-61513992b281.png)

Closing.

[2018-11-30 22:38] zepumph commented on #314
Yes I have not worked on anything since https://github.com/phetsims/sun/issues/314#issuecomment-433661093. There is still work to be done, but it fell off my plate because many of the comments after my work were more design discussion rather than clear direction in how to implement a few of the question I have. I agree that an aria expert would be good here. I also think it would be good to discus

[2018-11-30 23:10] samreid opened #420 "Use PhetioObject.addLinkedElement"
In https://github.com/phetsims/phet-io/issues/1378 we made it possible to link primary and auxiliary elements, we should iterate through Slider, RadioButton, etc and apply this pattern (see Checkbox.js) for initial usage.

[2018-12-02 13:11] terracoda commented on #314
I can share with Bryan Garaventa. The only issue with the link as the only thing within the app that is access is the combobox. Nothing else has labels.

I'll let him know that and instruct him to only investigate the combobox.

[2018-12-06 02:41] pixelzoom commented on #407
A quick peek at the Java 7 API shows numerous classes/interfaces with plural names, e.g.:

BasicAttributes
BasicBorders
Beans
Bindings
CodecOperations
CodeSets
Collections
DecimalFormatSymbols
Executors
GridBagConstraints
JobMediaSheets
JobStateReasons

... and I stopped after "J".

I find it difficult to understand why something like `const windowControls = new WindowControls( window )` is "stran

[2018-12-06 02:50] samreid commented on #407
I have seen enough reasonable cases of plural type names to know that we should not forbid all of them.  But I think we should be judicious in when we apply this pattern.  I think we are thinking along the same lines.

[2018-12-06 10:39] terracoda commented on #314
Just linking to the original a11y-research issue https://github.com/phetsims/a11y-research/issues/64, in case we need any of those resources to improve our combobox.

[2018-12-10 02:41] samreid commented on #417
An example of how we would use Slider with DynamicProperty:

[code]

If Slider had built-in support for mapping, it may look something like this:

[code]

I am not arguing that the latter is better because it has less lines of code--rather it has the advantage that it can automatically map the tick mark positions and range instead of requiring the client code to do so.

Reassigned to @pixelzoom fo

[2018-12-10 15:24] samreid commented on #342
@ariel-phet remarked on the slider knob size on or around March 21.  Looking at wave interference sha 553c303909ddf826d45e5259bb7710d653fba75e the size was given by NumberControl, which had this:

[code]

That is, Diffraction screen was using NumberControl and its defaults.  The thumb default was 17x34.    Current default for master is 22x45.

If I change this in master, any sliders that are using

[2018-12-10 17:25] samreid commented on #342
Here's the patch that helps test for this.  Last test only reported for trig tour and later, not sure why, will need to investigate:

[code]

[2018-12-10 20:46] pixelzoom commented on #417
You could get the same benefits by subclassing Slider.  The subclass would create the DynamicProperty and mapped range, and override `addTick` (which would be changed to `@protected`).

[2018-12-10 22:33] samreid commented on #342
Here are the discovered defaults:

[code]

@ariel-phet would you like a designer (possibly yourself or the sim design leads) to look through those 6 sims and see if they should use the new reduced slider knob size?  Or should I change those 6 sims to specify the exact prior value of the slider so they won't pick up the new default?  I'm presuming that it's OK for the interaction dashboard, sun dem

[2018-12-11 00:00] samreid commented on #343
On hold until #342 is complete.

[2018-12-11 15:37] samreid commented on #417
So we would subclass HSlider or VSlider?  Or one for each?

[2018-12-11 16:42] pixelzoom commented on #417
HSlider and VSlider are convenience subclasses.  I'd probably consider just subclassing Slider, and require `{ orientation: 'vertical' }` if you need a non-linear vertical slider.

[2018-12-11 16:48] samreid commented on #417
The proposed plan sounds reasonable.  I'm not planning to work on it now, perhaps when I come to a sim that would leverage this feature.  Unassigning self.

[2018-12-11 17:37] ariel-phet commented on #342
@samreid

The following sims should get the new reduced slider default:
1. Energy Forms and Changes
2. Sugar and Salt Solutions

These sims should specify the prior value
1. Concentration: EvaporationControl
2. Energy Skate Park: Basics Intro screen
3. Ohm's Law
4. Resistance in a Wire

[2018-12-12 02:28] jessegreenberg opened #421 "Subtypes of ButtonModel need to update downProperty if the button valueProperty can be set externally"
Related to https://github.com/phetsims/wave-interference/issues/228 and https://github.com/phetsims/ph-scale/issues/71. For subtypes of ButtonModel where the Property associated with the button can be set externally by the simulation, we need to make sure that buttonModel.downProperty updates correctly. Otherwise, the button may always look down if valueProperty is set outside of user interaction.

[2018-12-12 02:44] jessegreenberg commented on #421
I reviewed all the button models I could find
PushButtonModel
MomentaryButtonModel
StickyToggleButtonModel
ToggleButtonModel

and it looks like ToggleButtonModel is the last one that is missing this or needs it.

[2018-12-12 19:24] zepumph commented on #369
The phet-io team discussed this today. We think it is appropriate to create a Property in Dialog to expose whether or not the Dialog is "shown" to phet-io. For now we think that this Property should be read only. But we should recognize that potentially there will come a phet-io design in which there is now "Open Dialog" button that you can press instead of directly interfacing with the Dialog its

[2018-12-14 22:44] pixelzoom commented on #405
FYI, things are pretty broken right now.  https://github.com/phetsims/sun/commit/f75f5305ca9b67dae9a6d9892eb0ea95aec681c3 is passing `tandem` to the wrong constructor (ComboBoxItemNode instead of ButtonNode).  ButtoNode is being passed all of ComboBox's options, which is bad news when those are phetio options.   ButtonNode was blowing away any tandem that it was passed (fixed in https://github.com

[2018-12-14 22:47] pixelzoom commented on #405
I see that "Finish conversion to ES6" was check off in https://github.com/phetsims/sun/issues/405#issuecomment-438741993.  Not even close, I'm going to uncheck it.  There's no use of `class`, and it's still using `inherit`, `var`....

[2018-12-14 22:56] pixelzoom opened #422 "ComboBox propagates all options to ButtonNode subcomponent"
ComboBox is currently propagating all of its options to ButtonNode subcomponent.  That's creating problems particularly with phetio options over in https://github.com/phetsims/sun/issues/405#issuecomment-447501021.

Options should be either cherry-picked or nested, and only the relevant options should be passed to ButtonNode.

[2018-12-14 23:01] pixelzoom commented on #422
This in ButtonNode constructor:

[code]

... is a good example of the "write buggy code to fix some other bug" anti pattern.  This line was presumably added because ComboBox's `tandem` was being propagated to ButtonNode.  But when an attempt was made to pass a legitimate tandem in https://github.com/phetsims/sun/commit/c7d4466a45eb50bf3fb9c845fa09e9c8844f4664, that tandem would have been silently

[2018-12-14 23:10] pixelzoom commented on #405
https://github.com/phetsims/sun/issues/422 is a prerequisite to addressing this issue properly.

[2018-12-14 23:13] pixelzoom commented on #405
In Slack conversation, we decided to revert the previous 2 commits.

[2018-12-17 19:04] jonathanolson opened #423 "AccordionBox input issues when an ancestor has an input listener"
An example is https://github.com/phetsims/masses-and-springs-basics/issues/37, where the title node (and other nodes) that are not pickable will get "hit" when there is an input listener as an ancestor of the entire AccordionBox.

As posted on dev-public:

I'd like to hear thoughts at dev meeting of whether this should be handled by common components.

[2018-12-18 21:17] samreid commented on #342
I discovered that the Energy Skate Park: Basics slider that is using the default is a "mock-up transparency overlay slider":

[code]

Therefore, I'll leave that as the default.

[2018-12-18 21:19] samreid commented on #342
I committed and pushed the new default slider knob size, and specified the prior value in RIAW, BLL, OL.  @ariel-phet anything else for this issue?

[2018-12-18 21:26] jessegreenberg opened #424 "Interval for firing button listeners when holding down enter key"
This came from https://github.com/phetsims/resistance-in-a-wire/issues/193. If using a keyboard PhET buttons can be clicked as fast as the user presses them. This includes pressing and holding enter on a button, in which case the button is clicked every couple of milliseconds, and that delay is determined by OS settings.

For example, got to https://phet-dev.colorado.edu/html/resistance-in-a-wire/

[2018-12-19 11:34] emily-phet commented on #424
@jessegreenberg @zepumph Let's wait on this fix for the next round of sims and move forward with RIAW and Friction.

[2018-12-19 15:08] jessegreenberg commented on #424
Thanks @emily-phet sounds good, in that case removing the blocks-publication label.

[2018-12-19 18:34] jessegreenberg commented on #424
A "button specific fix" was added to the Reset All button for RIAW, and we should do this for the sound toggle button for the upcoming friction release.

[2018-12-19 19:24] ariel-phet commented on #342
Looks good, closing

[2018-12-19 19:24] #342 closed

[2018-12-19 19:41] jessegreenberg opened #425 "AccessibleNumberSpinner callback timer fires forever if range key is down during blur"
We need to add a listener on blur that removes any callback timers that were added during keydown,

[2018-12-19 20:13] zepumph commented on #424
I may not understand this issue fully, so please pardon me if this is not right. What about the keyboard help button, could someone spam both the nav bar button and the dialog's "x" to close it out really fast and encounter this issue too? This seems so sloppy to require this on each instance. Is there any hope of having a general solution for this?

[2018-12-19 20:43] jessegreenberg commented on #424
The original report of this issue was that pressing and holding enter on the Reset All button caused VO to announce the reset alert indefinitely, and the same will happen for alerts from the sound toggle button. The case you mention is definitely related to this but not problematic for a11y in the same way because it doesn't involve alerts.

I feel confident that we will have a general solution fo

[2018-12-19 20:44] #425 closed

[2018-12-19 20:45] zepumph commented on #424
Understood thanks!

[2018-12-19 20:58] jessegreenberg commented on #424
Adding back the blocks-publication label as this should be fixed before the round of a11y sims is published. This does not apply to Friction and RIAW.

[2018-12-19 21:56] pixelzoom commented on #422
Presumably priority=high, since this is required for #405 which is also high.

[2018-12-20 00:40] zepumph commented on #405
@pixelzoom why is this High priority after we reverted the commits above?

[2018-12-20 02:36] pixelzoom commented on #405
Because presumably one of our most important UI components should be implemented correctly?

[2018-12-20 02:36] pixelzoom commented on #405
Because (presumably) one of our most important UI components should be implemented correctly, instead of relying on a buggy hack.

[2018-12-21 01:39] accdc commented on #314
Hi,
My apologies again for taking so long in getting back.

I've tested the page at
https://phet-dev.colorado.edu/html/molarity/1.5.0-dev.1/phet/molarity_en_phet.html?a11y
And there are indeed some areas that are of concern.

It looks like ARIA is being used in combination with HTML5 interactive widgets such as role=slider plus the HTML5 range widget, and though these map to the same type of contr

[2018-12-21 08:34] terracoda commented on #314
@accdc, thanks for your feedback!

You are correct, there is no actual `combobox` role being used. We are using a popped up `listbox` to represent the visual widget which we all refer to as a combobox.

As for the other issue about mixing native html5 and aria widget roles, I agree it is not the best practice to do so. That said, we tested the combination of range and slider on all our supported p

[2018-12-27 02:51] pixelzoom commented on #369
Additionally... If `visiblePropery` is added, the Dialog show observe this Property as the sole means of controlling its visibility and stuff related to visibility, including everything that's currently in the `show` and `hide` method.

[2018-12-27 03:08] zepumph commented on #369
While that makes sense, that is a engineering change. I was proposing the addition of a read only property that itself only observes, and not a way to toggle the dialog From phetio. That seems less intrusive.

[2018-12-27 03:19] pixelzoom commented on #369
To be consistent with MVC and how other UI components work, Dialog should observe it's `visiblePropery`.  Let's do this right, or let's not do this.

[2018-12-27 19:10] jonathanolson opened #426 "Checkbox mouse/touch areas not showing up with showPointerAreas"
From https://github.com/phetsims/joist/issues/545, it would be helpful for the defaults to show the actual mouse/touch areas used (since it has a backgroundNode).

[2018-12-30 02:04] pixelzoom commented on #382
Duplicate of #417, closing.

[2018-12-30 02:04] #382 closed

[2018-12-30 02:12] pixelzoom commented on #198
A color picker is not necessary. This is addressed by using `SCENERY_PHET/ColorProfile` and `grunt generate-development-colors-html`.  For example, see the gas-properties-colors.html below.

Closing.

![screenshot_953](https://user-images.githubusercontent.com/3046552/50543761-a48d3780-0b9d-11e9-9917-b005e03e3fe1.png)

[2018-12-30 02:12] #198 closed

[2018-12-30 02:14] pixelzoom commented on #238
Duplicate of #347, closing.

[2018-12-30 02:14] #238 closed

[2018-12-30 02:16] pixelzoom commented on #173
Now that we have Enumeration, perhaps it should be used here for interactionStateProperty?  E.g. `{Property.<InteractiveStateEnum>} interactionStateProperty`.

[2018-12-31 01:51] samreid commented on #173
Yes, please.

[2019-01-02 23:32] samreid opened #427 "Should Dialog have a "tapToClose" option?"
During https://github.com/phetsims/molecules-and-light/issues/185 @zepumph and I noticed that Molecules and Light has a feature where tapping the dialog dismisses it:

[code]

Should this feature be in SUN/Dialog?  Alternatively, should we remove this feature from Molecules and Light?

[2019-01-03 00:14] pixelzoom commented on #427
No, I don't think this should be support by Dialog. Standard behavior should be:
(1) click the close button to close the dialog
(2) clicking anywhere outside the dialog is the same as clicking the close button

Yes, I would remove this feature from MAL.

[2019-01-03 06:35] ariel-phet commented on #427
@jessegreenberg I am OK with removing from all those dialogs

[2019-01-03 19:01] samreid commented on #422
@pixelzoom bravely volunteered to investigate.  Thanks!

[2019-01-03 19:03] pixelzoom commented on #422
Removing the dev:phetio label, since this isn't specific to PhET-iO.  Options shouldn't be propagated this way in general.

[2019-01-03 21:38] pixelzoom commented on #422
I briefly investigated nested options, but that would change the API, and I concluded that there were too many existing usages to change.  So I went with cherry picking options.  See the above commit.

Tested with many sims that have a ComboBox.  Tested in Studio with Beer's Law Lab.

@zepumph Would you mind reviewing, since this is a prerequisite to #405?

[2019-01-03 21:58] pixelzoom opened #428 "ComboBox: use same Nodes for list and button"
Possibly related to https://github.com/phetsims/sun/issues/405 (instrument ComboBox better).

`ComboBox` initializes its button by creating a (possibly incorrect) `ItemNode`:

[code]

And each time the selection changes, `CombBox` creates a new `ItemNode` for the button:

[code]

Using scenery's DAG feature, we should be able to use the same set of `ItemNode`s for both the list and the button.

@s

[2019-01-03 23:02] samreid commented on #428
Yes, if a client customized one entry in the combo box list, they should not have to customize it a parallel but separate way to match the button label.  Enforcing uniformity via the implementation would be great.

[2019-01-04 01:55] zepumph commented on #422
sure thing

[2019-01-04 17:48] jessegreenberg commented on #427
OK, this has been removed from the Dialogs mentioned in https://github.com/phetsims/sun/issues/427#issuecomment-451026345. @samreid is there anything more to do for this issue?

[2019-01-04 19:04] pixelzoom opened #429 "issues with CombBoxItemNode"
In https://github.com/phetsims/sun/commit/4f2abd3732be01eae231a7fc1739c1d0e406bc94, @zepumph renamed an inner class of ComboBox.  `ItemNode` was renamed to `ComboBoxItemNode`.

(1) What was the motivation for the name change?  Since this is an inner class, the "ComboBox" prefix is redundant, and `ItemNode` should be sufficient.  You didn't rename `ButtonNode` to `ComboBoxButtonNode` because that w

[2019-01-04 19:12] zepumph commented on #429
As this commit was from back in 2016, likely it was before I comprehended the inner class quite as well. I agree it sounds redundant to me now.

Yeah I wonder if namespace could do a requirejs only check that the last element of the first arg split by period is the same name as the constructor name?

We should be able to get access to this as long as things aren't minified:
[code]

[2019-01-04 19:30] pixelzoom commented on #429
Done, closing.

[2019-01-04 19:30] #429 closed

[2019-01-04 19:31] pixelzoom commented on #428
Note that `ComboBoxItemNode` was renamed to `ItemNode`, see https://github.com/phetsims/sun/issues/429.  I'll update the title/comments in this issue accordingly.

[2019-01-04 20:09] pixelzoom commented on #428
@ariel-phet FYI... This should have been a simple change.  But it's gotten hugely complicated because of how a11y was added to ComboBox.   And this is an alarming trend that I'm seeing in all common-code UI components that I've had to modify recently.

[2019-01-04 20:15] pixelzoom commented on #314
I'm having to make what should be a straightforward change to ComboBox in https://github.com/phetsims/sun/issues/428#issuecomment-451554852.   And that has become very complicated because of how a11y was added to ComboBox.  Lack of documentation, methods added inside of constructors, TODO's with no associated GitHub issue,...   Highly recommend to (1) put a11y changes through the same code review

[2019-01-04 20:56] terracoda commented on #314
@pixelzoom, the combobox design pattern is documented here:
https://github.com/phetsims/sun/blob/master/doc/ComboBox.md

Is that helpful?

[2019-01-04 20:59] pixelzoom commented on #314
Thanks @terracoda.  But it's the way that the design was implemented that is the problem.

[2019-01-04 21:04] terracoda commented on #314
Ok, @pixelzoom, I'll let @zepumph comment as he may not be fully finished the implementation.

[2019-01-04 21:06] zepumph commented on #314
This implementation got stalled while waiting for feedback and then Friction took over in priority. I agree that the code was not in an acceptable state. @pixelzoom let me know when your work has completed and I will go in and clean up accessibility related features now that we have a good understanding of what we want the final a11y interaction to look like.

[2019-01-04 21:35] pixelzoom opened #430 "ComboBox: factor out classes for subcomponents"
ComboBox's list is currently just a Rectangle, and all of the responsibilities related to the list are spread out across ComboBox's constructor and methods.   Creating a `ListNode` inner class to handle list responsibilities would go a long ways towards cleaning up the PhET-iO (#405) and a11y (#314) instrumentation.

[2019-01-04 21:35] pixelzoom commented on #430
@ariel-phet Permission to work on this?  It may be a multi-day project.

[2019-01-04 22:30] pixelzoom commented on #428
ComboBox is now using the same ItemNode instances for the list and button.  A consequence of this is that if you change something related to the current selection, it changes in both the list and on the buttons.  For example, Studio screenshots below show the 2 states for the visibility of the "Drink Mix" choice. Note that when visibility is false, the invisible item still highlights in the list a

[2019-01-04 22:33] pixelzoom commented on #405
In the previous commit, I added a bunch of TODOs related to this issue.

[2019-01-04 22:33] pixelzoom commented on #314
In the previous commit, I added a bunch of TODOs related to this issue.

[2019-01-04 22:39] pixelzoom commented on #405
ItemNode instances are now shared between the ComboBox's list and button, See https://github.com/phetsims/sun/issues/428#issuecomment-451588040. This changed the scenegraph structure in major ways.  And #430 (factor out ListNode) will surely result in further changes. So instrumentation of items needs to be revisited.

[2019-01-04 22:46] ariel-phet commented on #430
@pixelzoom permission granted... ComboBox is used so much that having it in good shape seems very worthwhile for the project as whole.

[2019-01-04 23:22] pixelzoom commented on #314
In #428, items in the combo box (ItemNode instances) are now shared by the list and button.  A couple of things:

* I'm now unable to select items in the list.

* Since ItemNodes are now shared, we can't transform them, highlight them, etc. So they are wrapped by the list and button.  The a11y implementation is currently setting focus on the ItemNode instances, via ItemNode `a11yFocusButton`, and

[2019-01-04 23:44] pixelzoom commented on #430
I think it might also be worthwhile to formalize "combo box list" by making it a class.  It's currently duck typed, and that makes it difficult to document.

[2019-01-04 23:48] pixelzoom commented on #314
@zepumph I'm going to pause work on ComboBox so that a11y can be fixed (I think it may currently be broken) and cleaned up.   You should know that the internal structure of ComboBox will be changing dramatically as the result of https://github.com/phetsims/sun/issues/430 -- I'll be formalizing the "list" and "item" by creating inner classes for them.

[2019-01-05 00:36] zepumph commented on #430
Could we make a new folder in sun for ComboBox related code? If there are 5 classes I would prefer that organization to having all of them in the same file. That may help with readability too. Though it would make a need for many require statements to be refactored.

[2019-01-05 01:00] zepumph commented on #314
In general we don't support focusing any node that has multiple parents, instead I think we would just try to focus a container for it, I'll do some investigation.

[2019-01-05 02:45] pixelzoom commented on #428
Yes, this is the right place for it.

Those sims are not using ComboBox.createItem to create the combo box items.  They will need to be changed to use ComboBox.createItem, since it now fills in default options.   And in #430, I will be eliminating duck typing of items, and replacing with ComboBox.Item.

[2019-01-05 02:58] pixelzoom commented on #428
I verified that failure to call ComboBox.createItem is indeed the issue, by converting twixt in the above commit.    These sims still need to be addressed.  I may not get to this until Monday.

- [ ] masses-and-springs
- [ ] masses-and-springs-basics
- [ ] molecule-shapes
- [ ] molecule-shapes-basics
- [ ] pendulum-lab

[2019-01-05 03:21] pixelzoom commented on #428
So the root problem here is that we started with a simple data structure for items.  That data structure was easy to duck type. But then we added additional baggage for PhET-iO and a11y.  This was relatively easy to change in ComboBox.createItem, but sims that were using duck typing had to be modified individually.  And I didn't hit any of those sims when I tested.

I have converted all of the sim

[2019-01-06 12:54] terracoda commented on #314
@pixelzoom, when you examine the example HTML in the design pattern do you see how this fits into the design pattern of a visual ComboBox?

We have a button that has a dynamic label, so that when focus is placed on the Solute button, a blind user knows what Solute is currently selected before activating the actual Solute button.

Once the user activates the button, a navigable list of solutes is p

[2019-01-06 16:17] pixelzoom commented on #314
Thanks for the overview @terracoda, much appreciated.  Again, I don't have any problem with the overall design or philosophy of how ComboBox is instrumented.  It's the implementation that is overly complicated and lacking, and it doesn't need to be that way to support the design.

[2019-01-07 05:44] samreid commented on #369
Because Dialog extends Node, it already has `setVisible`, `getVisible` and `on('visibility')`, and because it uses NodeIO, its PhET-iO API already has `visibleProperty`.  Should we eliminate `Dialog.show`, `Dialog.hide` and `Dialog.isShowing` and reimplement them in terms of `setVisible`/`getVisible`/`on('visibility')`/`visibleProperty`?

[2019-01-07 08:37] terracoda commented on #314
@pixelzoom, great! I am sure @zepumph is going to fix it up nicely for us!

[2019-01-07 16:50] pixelzoom commented on #369
Yes. But can you clarify why`on('visibility')` is in this list?  Dialog does not current use `on`, so wouldn't it be preferable to override `setVisible`?

[2019-01-08 01:20] pixelzoom commented on #422
While working on #430, I've come to the conclusion that cherry picking is not the way to go.  So I'm going to bite the bullet and nest options for ButtonNode and other subcomponents.  So assigning back to me.

[2019-01-08 01:57] samreid commented on #422
Can you please document this in phet-info/doc/phet-software-design-patterns.md?

[2019-01-08 16:09] samreid commented on #369
That sounds better than `on('visibility')`, thanks!

[2019-01-08 16:38] samreid commented on #369
Considering Molecules and Light in particular for the moment.  Once the `lightSpectrumDialog` is created, its visibility can already be controlled with its `visibleProperty`.  However, it must be created before it can be communicated with.  It is currently lazily created, with this message:

[code]

Indeed, if I try to create the dialog eagerly, I am met with this error:

[code]

From a PhET-iO pe

[2019-01-08 16:48] samreid commented on #369
I tried aligning the semantics of show/hide with setVisible true/false and got it working.  Here is a patch that demonstrates it working.  Major hack alert!  This is a feasibility test to understand what's happening and we shouldn't commit this.  This is to start a conversation about whether we should eliminate `show` and `hide` and just use `setVisible(true|false)` as the primary Dialog API.  If

[2019-01-08 18:05] jessegreenberg opened #431 "Pressing a modifier key sometimes interrupts slider movement"
From https://github.com/phetsims/QA/issues/247, @rea-laura said

And then

It was reported this was observed on FF and Safari.

Making an issue because I think I am seeing something different on Chrome and I want to understand. It is likely this is just the native browser functionality for slider input and modifier keys vs dedicated keys (shift vs page up/page down).

[2019-01-08 18:09] jessegreenberg commented on #431
On Chrome:
  - If I press the shift key while holding an arrow key, the slider stops moving until I press a key again.
  - If I press ANY key while pressing an arrow key, the slider stops moving until I press a key again.
  - If I press page up/page down while pressing an arrow key, the slider stops moving in larger steps. This is different, probably because I have a desktop keyboard with separate

[2019-01-08 18:10] jessegreenberg commented on #431
I see the identical behavior to https://github.com/phetsims/sun/issues/431#issuecomment-452396505 in FF on Windows 10.

[2019-01-08 18:13] jessegreenberg commented on #431
I see the identical behavior to https://github.com/phetsims/sun/issues/431#issuecomment-452396505 in Chrome in https://jsfiddle.net/jhedn16r/, so I am feeling more confident that this is normal behavior for the browser, and differences we are seeing are because of OS differences.

[2019-01-08 18:14] jessegreenberg commented on #431
@rea-laura, are you able to see the same behavior you were seeing in the sim while using this vanilla HTML slider?

https://jsfiddle.net/jhedn16r/

[2019-01-08 19:53] jessegreenberg commented on #431
Here is a new test that also changes step size on shift, only using modifier keys, similar to how it is being done in a PhET sim. @rea-laura do you observe the same things you were seeing in the original issue with this slider?
https://jsfiddle.net/jhedn16r/11/

[2019-01-08 20:57] pixelzoom commented on #419
Reopening. This feature was broken during #430.

[2019-01-08 21:07] pixelzoom commented on #430
In light of #419, I'm rethinking the responsibilities and sharing of ComboBoxItemNode.   I think that what should be shared by the button and list is ComboBoxItem.node, and ComboBoxItemNode should become the thing that appears in the list, supports highlighting, etc.

[2019-01-08 21:19] pixelzoom commented on #422
@samreid Clarification: "cherry picking is not the way to go _in this case_".   I don't see any point in noting this case specifically in phet-software-design-patterns.md.   And I don't have any general conclusions to offer on when nesting is the way to go.  It may be better when the number of options for a subcomponent reaches some N, but I don't know what N is.

[2019-01-08 21:21] jessegreenberg commented on #431
Discussed with @rea-laura over slack. The original concern was that the shift key and page up/page down keys did not behave the same way. I think this is OK because these are classified as different key types so it makes sense that they will behave differently. The shift key is a "modifier" key, and you can press that in any order and expect it to work correctly. On the other hand, page up/page do

[2019-01-08 21:21] #431 closed

[2019-01-08 21:24] jessegreenberg commented on #413
This hasn't shown up in https://github.com/phetsims/QA/issues/247 or https://github.com/phetsims/QA/issues/235 so this can be closed now.

[2019-01-08 21:24] #413 closed

[2019-01-08 21:39] pixelzoom opened #433 "improve Dialog"
In https://github.com/phetsims/joist/issues/357#issuecomment-248452092, @ariel-phet said:

In https://github.com/phetsims/joist/issues/357#issuecomment-248759332, I said:

CM edit, so I don't have to search comments for link to design doc:
https://docs.google.com/document/d/19h0U5iqeChirUvVRaudUbmSP_J3yMn7FgnILWrUq9-c/edit

[2019-01-08 21:42] pixelzoom commented on #369
I don't have time to work on this, I'm already buried in ComboBox #430.   Please assign to someone who is working on Dialog improvements.

[2019-01-08 21:51] zepumph opened #434 "This is an issue for sun"
This is an issue to test the "transfer issue" feature. I'm going to move it to sun.

[2019-01-08 21:52] zepumph commented on #434
test confirmed that the joist issue that this used to be redirects back here: https://github.com/phetsims/joist/issues/548

Closing

[2019-01-08 21:52] #434 closed

[2019-01-08 21:54] jessegreenberg opened #435 "maxWidth for Dialog"
In https://github.com/phetsims/joist/issues/546, we used maxWidth on KeyboardHelpDialog. The change used Dialog's optional layoutStrategy:
[code]

But `simBounds` is the global bounds of the simulation so the dialog can extend outside of dev bounds if there is space in wider screens. In https://github.com/phetsims/friction/issues/158 it was mentioned that this was odd because most dialogs are cons

[2019-01-08 22:01] jessegreenberg commented on #435
@zepumph and I hacked way to see what it would look like to constrain maxWidth to the dev bounds:
[code]

And ?with stringTest=xss the result looks like this:
![capture2](https://user-images.githubusercontent.com/6396244/50861367-6bf01980-1366-11e9-8f68-d84045929c75.PNG)

Allowing it to grow to simBounds looks like
![capture1](https://user-images.githubusercontent.com/6396244/50861384-80341680-136

[2019-01-08 22:38] pixelzoom opened #436 "evaluate the various "spinner" UI components"
I recently created SCENERY_PHET/FineCoarseSpinner to factor out duplication in Gas Properties and FAMB.

In https://github.com/phetsims/scenery-phet/issues/450#issuecomment-449513041, @samreid pointed out the proliferation of "spinner" UI components.

FineCoarseSpinner
LeftRightNumberSpinner
LeftRightSpinner
NumberSpinner
RoundNumberSpinner
UpDownSpinner

To that list I would also add NumberPicker

[2019-01-09 03:47] samreid commented on #369
Sorry to take more of your time, but maybe this is a quick question: @pixelzoom would you be OK if the API for dialog was `setVisible(true|false)` instead of `show() | hide()`?

[2019-01-09 15:48] pixelzoom commented on #369
Yes, that sounds reasonable.

[2019-01-09 16:01] samreid opened #437 "Move Dialog to ES6"
As a prelude to further work in https://github.com/phetsims/sun/issues/369, I'd like to see Dialog in ES6.  I'll do that as a preliminary step.

UPDATE: There are 15 occurrences of `Dialog.call( this, ... )`, so we won't be able to use `class` until those cases are changed as well.  According to the conversation in https://github.com/phetsims/phet-info/issues/89 it is acceptable to port everything

[2019-01-09 16:11] samreid opened #438 "Dialog has a mutant copy of CloseButton"
Sun has something called CloseButton.js, Dialog has an inner type called CloseButton which is very similar.  Can these be unified?  Discovered in #437

[2019-01-09 16:23] samreid opened #439 "Can focusOnCloseNode be moved to the accessibility framework?"
Discovered in #437, there is an a11y option called `focusOnCloseNode` which tracks the currently focused item before opening a dialog, so when the dialog is closed focus can be restored to the prior focused element.

I was wondering if this is something that should be handled more generally by the accessibility engine?  Perhaps it should automatically track a stack of previously focused instances,

[2019-01-09 16:33] samreid commented on #369
The preceding commit uses `setVisible` for the dialog API, and I tested that it works with a11y keyboard navigation and with phet-io studio visibility.

[2019-01-09 16:46] samreid commented on #439
Similar question for this code I saw in Dialog:
[code]

[2019-01-09 16:54] samreid commented on #369
Attempt to remove `Dialog.isShowing` and use `visible` instead:

<details>
[code]
</details>

[2019-01-09 17:42] ariel-phet commented on #436
@pixelzoom my gut instinct would be that we can potentially coalesce some implementation, but we have been (reasonably) good in HTML5 at only adding a new UI component when we felt appropriate. Agreed it would be good to review, to see where we are at, however, probably does not make sense until sometime in February. Leaving assigned to myself and marking deferred for now.

[2019-01-09 22:13] zepumph commented on #369
I was able to find many (all?) of the usages of hide by searching the regex `(self|this|ialog)\.hide\(\)`.

I was brought to this issue from https://github.com/phetsims/sun/issues/437, and because I saw that `hide` has been marked deprecated, but Dialog.dispose uses it. Though it is understandable that we may not have gotten to that step yet, I think a type shouldn't use its own deprecated methods

[2019-01-09 22:15] samreid commented on #369
Yes, I've made intermediate progress on this issue, I'd like to remove show/hide but haven't got to it yet.

[2019-01-09 22:32] zepumph commented on #437
* One potential improvement would be to make the internal type a class, but that may be confusing.

* I also prefer curly braces for scope if the arrow function is more than a one-liner. What do you think about the above commit?

* I removed function keyword from inherit call methods, how does that seem to you?

[2019-01-09 23:55] pixelzoom commented on #435
If a dialog is too big to fit in the layoutBounds, then a dialog is probably the wrong way to present the information. If dialogs are movable, I think it's acceptable for them to be partially outside of the layoutBounds.   If dialogs are not movable, then they should be fully within the layoutBounds.  That said...

OK for dialogs that can be moved. Not OK for dialogs that can't be moved, since the

[2019-01-10 01:04] zepumph commented on #435
For non-moveable Dialogs wouldn't it be nice if there was a default so that we didn't always have to manage the max width by setting it based on the layoutBounds of the context for that Dialog?

[2019-01-10 06:36] pixelzoom commented on #435
Default for max size of Dialogs would be nice. What I don't want to see is `new Dialog( {ScreenView},...)`.

[2019-01-10 15:32] jessegreenberg commented on #435
Dialog's layoutStrategy is called when the sim is resized, so this case should be covered.

[2019-01-10 19:49] pixelzoom opened #440 "decide on consistent term for ComboBox's list"
Part of #430 is to create ComboBoxListNode, using the standard "list" terminology for this part of combo box (see https://en.wikipedia.org/wiki/Combo_box).  But in ComboBoxIO, I see that terminology is different - "popup" is used instead of "list":

[code]

A11y terminology is also slightly different. [ComboBox.md](https://github.com/phetsims/sun/blob/master/doc/ComboBox.md) describes a11y for com

[2019-01-10 19:50] samreid commented on #435
@jonathanolson said its odd to set maxWidth on the dialog, because that will also scale the border stroke.  @jonathanolson said instead it is better to scale the contents.

@zepumph pointed out that is difficult because we need to know the margins in that case.

[2019-01-10 20:18] jbphet opened #441 "Propagate scenery events through slider startDrag and endDrag"
`Slider.js` takes options that allow clients to specify `startDrag` and `endDrag` methods.  The scenery input event is not currently passed through to these methods.  This is causing an issue in Resistance in a Wire where the isn't able to tell if a slider was moved due to a mouse/touch event versus keyboard interaction (see https://github.com/phetsims/resistance-in-a-wire/issues/204).  The slider

[2019-01-11 03:16] samreid commented on #440
"listbox popup" https://www.w3.org/TR/wai-aria-practices/examples/combobox/aria1.1pattern/listbox-combo.html
"list box" https://www3.rocketsoftware.com/bluezone/help/v52/en/bzsh/bzaa_aref_list-combo-and-drop-down-list-boxes.htm

So perhaps we should use `ListBox` or `ComboBoxListBox` or `ComboBoxList`.

I'm also noticing that the ComboBoxList looks very similar to the joist PhET menu popup:
![imag

[2019-01-11 04:08] samreid commented on #427
@jessegreenberg what's this occurrence in KeyboardHelpDialog?  I'm not familiar with "click":

[code]

[2019-01-11 04:11] samreid commented on #427
@pixelzoom I found 2 more occurrences like this in Equality Explorer, OopsDialog and InfoDialog:

[code]

Would you like me to remove them?

[2019-01-11 04:24] samreid opened #442 "Dialog.setAccessibleViewsVisible should be moved back to Joist"
Discovered in https://github.com/phetsims/sun/issues/369.  Dialog currently has:

[code]

This leverages too much detail work in joist and should be encapsulated somewhere in Joist.  Perhaps move `setAccessibleViewsVisible` to `Sim.js`?  @jessegreenberg can you please take a look?

[2019-01-11 04:34] samreid opened #443 "Dialog.showCallback/hideCallback should be converted to Node.on('visibility');"
Discovered during https://github.com/phetsims/sun/issues/369, Dialog has a set of options `Dialog.showCallback/hideCallback` which are only used in one place, which is equality-explorer/js/solveit/view/SolveItSceneNode.js.  Pinging @pixelzoom since he is the lead developer for that simulation.  In https://github.com/phetsims/sun/issues/369#issuecomment-452744448 we discussed converting show/hide t

[2019-01-11 05:15] pixelzoom commented on #443
Self-assigning so I remember to look at this.

[2019-01-11 14:40] jessegreenberg commented on #440
I also like `ListBox`, this example is very similar to PhET's ComboBox https://w3c.github.io/aria-practices/examples/listbox/listbox-collapsible.html. ARIA group is calling the whole input with button readout and list a "Collapsible Dropdown Listbox".

[2019-01-11 15:42] jessegreenberg commented on #440
At https://www.w3.org/TR/wai-aria-1.1/ I see a few usages of "list box" in documentation so `ListBox` seems fine.

[2019-01-11 16:09] pixelzoom commented on #440
@samreid said

I do not have time to investigate this.  That's the topic of https://github.com/phetsims/sun/issues/10, which has been sitting around since Sept 2013.

@jessegreenberg said:

Aria unfortunately does not use camelcase; by convention, it turns everything to lowercase.  For example see https://www.w3.org/TR/wai-aria-practices/#menu.  Combo Box -> combobox, Menu Bar -> menubar, List Box

[2019-01-11 16:11] pixelzoom commented on #440
I said:

@samreid is that really true? Will you be OK if this list does not have a tandem name that has "Node" suffix?

[2019-01-11 16:13] pixelzoom commented on #440
I said:

@samreid is that really true? Will you be OK if this list does not have a tandem name that has "Node" suffix?

I.e., this:

[code]

versus this:

[code]

[2019-01-11 16:17] samreid commented on #440
Yes, `listBox` seems good.  Not all nodes need to end with a `*Node` suffix.  For example, `RoundPushButton` is not `RoundPushButtonNode`.

[2019-01-11 16:37] samreid commented on #440
That seems to be the best option, thanks!

[2019-01-11 16:39] jessegreenberg commented on #440
`ComboBoxListBox` sounds good.

[2019-01-11 17:05] pixelzoom commented on #440
OK, I will proceed with `ComboBoxListBox`, as in https://github.com/phetsims/sun/issues/440#issuecomment-453573572.

[2019-01-11 17:37] jessegreenberg commented on #442
Agreed. Furthermore, the workaround in this function is likely not required anymore after https://github.com/phetsims/a11y-research/issues/30

[2019-01-11 17:40] jessegreenberg commented on #442
Same for this line, we aren't doing this anymore.

[2019-01-11 17:46] jessegreenberg commented on #442
And this should only be happening for modal Dialogs, it was a coincidence that Dialog only supports modal dialogs at the moment.

[2019-01-11 17:59] pixelzoom commented on #427
Remove from Equality Explorer in the above commit.

[2019-01-11 20:13] pixelzoom commented on #430
Over in https://github.com/phetsims/sun/issues/440, we decided that the combo box list class will be `ComboBoxListBox`, and in context:

[code]

[2019-01-11 20:13] pixelzoom commented on #440
Noted decisions in https://github.com/phetsims/sun/issues/430#issuecomment-453643309, closing.

[2019-01-11 20:13] #440 closed

[2019-01-11 20:19] pixelzoom commented on #443
SolveItSceneNode.js uses VEGAS/RewardDialog.

Options:

(1) Create my own subclass of `RewardDialog` that overrides `setVisible`, and handle callbacks there.

(2) Move `showCallback` and `hideCallback` options into RewardDialog and have it override `setVisible`.  This is the preferred option if what I've done in EqEx is generally useful.

@samreid thoughts?

[2019-01-11 20:24] jessegreenberg opened #444 "Instrument AccordionBox with A11y better"
The instrumentation of a11y in AccordionBox is strange. It adds instrumentation to the title bar, so `expandedTitleBar` and `collapsedTitleBar` are the nodes that receive focus. One issue is that the title bar can be invisible, and adding a11y related input listeners is making the title bar look pickable.  One workaround could be to make the title bars non-pickable depending on options `showTitleW

[2019-01-11 20:39] samreid commented on #443
Why not simply use `on('visibility',...)` ?

[2019-01-11 20:44] pixelzoom commented on #444
Over in https://github.com/phetsims/balancing-chemical-equations/issues/125, we decided to remove a11y from AccordionBox since it's causing problems in production code.

[2019-01-11 21:32] jessegreenberg commented on #442
I verified that the workaround is not necessary in Edge anymore.

[2019-01-11 21:40] pixelzoom commented on #443
In the previous commit, I replaced `showCallback` and `hideCallback` with `on( 'visibility', ... )`.  One thing that I found odd is that I had to explicitly set RewardDialog's initial state to `visible: false` (line 304), or else I wasn't getting a notification when the dialog was first made visible.   Hopefully that isn't indicative of some problem with using `setVisible` for Dialog.

Back to @sa

[2019-01-11 21:47] jessegreenberg commented on #442
I thought about setAccessibleViewsVisible for non-modal dialogs briefly but decided not to go further until we support non-modal dialogs at all.

@samreid would you mind reviewing these changes?

[2019-01-11 22:00] jessegreenberg commented on #439
Yes, probably. We reviewed these a while ago, there might be a scenery issue already to improve this, Ill take a look.

[2019-01-11 22:06] jessegreenberg commented on #439
Hmm, I can't find anything, but it would be nice to handle this more generally. Ill go ahead and move this to scenery, we will explore this there.

[2019-01-11 22:21] jessegreenberg commented on #427
Thanks @samreid, removed https://github.com/phetsims/sun/issues/427#issuecomment-453371912. `click` is the event when a button is clicked. This was added when KeyboardHelpDialog had a custom close button, but now it uses the one in Dialog.

[2019-01-15 01:48] pixelzoom commented on #419
Alignment was fixed in https://github.com/phetsims/sun/commit/b47526a0d1fff3b08778959b4161b29130fd22ec.  Closing.

[2019-01-15 01:48] #419 closed

[2019-01-15 01:49] pixelzoom commented on #428
Done in the preceding commits.   ComboBoxItem.node is shared, not ComboBoxListItemNode.

Closing, will continue further work in #430.

[2019-01-15 01:49] #428 closed

[2019-01-15 01:56] pixelzoom commented on #422
In #430, the number of button options was reduced/reorganized to a manageable size.   The button-specific options to ComboBox are:

[code]

So I no longer feel that we need to nest these.  If/when the  number of options grows in the future, we can revisit with a new issue.  On that note, closing this issue.

[2019-01-15 01:56] #422 closed

[2019-01-15 02:01] pixelzoom commented on #430
Closed accidentally, reopened.

[2019-01-15 02:08] pixelzoom opened #445 "factor ComboBoxListBox out of ComboBox"
In https://github.com/phetsims/sun/issues/430, I was unable to factor "list box" out of ComboBox.  After hours of working on this, I bailed. According to https://github.com/phetsims/sun/issues/314#issuecomment-451568406, the code is "not in an acceptable state". The a11y code is too intertwined with the implementation, not adequately documented, and I had no idea what I might be breaking.

Highly

[2019-01-15 02:11] pixelzoom commented on #430
Summary of work done above:

* new classes `ComboBoxItem`, `ComboBoxListItemNode`, and `ComboBoxButton`
* simplified the options API for `ComboBox`
* updated all clients to the new options API (not pixel-perfect, but close in all cases)

What I was _not_ able to do was factor out a "list box".   a11y made that pretty much impossible for me to accomplished, and I ultimately bailed.  That work is mo

[2019-01-15 02:14] pixelzoom commented on #430
I should also note that did the following tests of this work:

* Ran Beer's Law Lab in Studio. Comfirmed that all instrumented parts of ComboBox continue to work correctly.

* Ran Beer's Law Lab with `?a11y`.  Confirmed that keyboard navigation of ComboBox works.  I could navigate to the button (tab), pop up the listbox (spacebar), move between items in the list (arrow keys), and select an item in

[2019-01-15 02:16] pixelzoom commented on #314
I'm done with changes to ComboBox see #430.  I preserved all TODO items related to this issue; search for "TODO sun#314".

Following that work, I confirmed that a11y still works via the following test:

* Ran Beer's Law Lab with `?a11y`. Confirmed that keyboard navigation of ComboBox works. I could navigate to the button (tab), pop up the listbox (spacebar), move between items in the list (arrow k

[2019-01-15 03:21] ariel-phet commented on #445
@zepumph can you give me some insight as to an estimate of how much time it will take to get this code into an acceptable state?

In discussing with @pixelzoom one option may well be to remove the current a11y implementation and start from scratch. He was not necessarily advocating for that approach, but said that it might be easier depending on where you feel the a11y design started and where you

[2019-01-15 03:38] pixelzoom opened #446 "ComboBoxButton should extend RectangularButtonView"
More work that was not completed in #430.

`ComboBoxButton` should be a subclass of  `RectangularButtonView`, in order to get all of the a11y and PhET-iO instrumentation that comes with sun buttons. It's currently a subclass of Node, so it requires special instrumentation.

It will probably require `buttonAppearanceStrategy: RectangularButtonView.FlatAppearanceStrategy`.

Assigning to @ariel-phet

[2019-01-15 15:36] Denz1994 commented on #237
Recalling from memory: This was assigned to me to apply a listParentNode to the comboBox in Masses and Springs as suggested in the above comment https://github.com/phetsims/sun/issues/237#issuecomment-395500658.

This fix was applied to MAS and isn't an issue in that sim. I checked for usages of `new ComboxBox` and `Combox.call(` and this pattern is being used in those cases as well.

I pushed a f

[2019-01-15 15:36] #237 closed

[2019-01-15 15:55] pixelzoom commented on #446
After sleeping on it, I think I'll take a stab at this.

[2019-01-15 18:25] zepumph opened #447 "ComboBox has problems with Enter key"
Like we have seen many times in a11y, when using the enter key we need to guard against letting the enter key click a listener, and then again click again on release once that listener focuses something else.

In comboBox this is complicated further because of #446.

[2019-01-15 18:36] pixelzoom commented on #446
@zepumph is going to take it from here.

[2019-01-15 18:38] pixelzoom commented on #447
In ComboBox, this currently means that when the listbox is popped up, pressing the Return key changes the selection but does not dismiss the list.

[2019-01-15 19:17] zepumph commented on #445
I would say my estimate would be 2-3 days of work. Much of this would involve reworking the a11y implementation, and to me that feels fine. Again what is currently in place was a prototype, and should go through some refining no matter what.

There are 12 TODOs relating to the a11y code that will be worked on as part of this, and likely others too.

Finally it would be good to note that making Com

[2019-01-15 19:52] pixelzoom commented on #445
I'd be happy to help with this.  Since "what is currently in place was a prototype", my recommendation would be to first create a solid implementation, then add fresh a11y instrumentation to it.

[2019-01-16 03:13] ariel-phet commented on #445
@zepumph sounds good....and glad to know this is all in line with current a11y goals.

Please schedule time to work with @pixelzoom when this work rises to the top of your work pile. If you are open to it, I would go with his suggestion of adding fresh a11y instrumentation.

[2019-01-16 16:42] jessegreenberg commented on #430
@ariel-phet I could review this today, but I am also aware that @zepumph is doing some other combo box related work in #445 and #446, so review might be part of that work? But I am also happy to review, please reassign to me if you would like me to.

[2019-01-16 17:23] ariel-phet commented on #430
@jessegreenberg actually I think this review should happen before that work. yes, please review today.

[2019-01-16 17:24] pixelzoom commented on #430
Might be best to wait and do a comprehensive review (core implementation, a11y, phet-io) after #445 and #314 are done.

[2019-01-16 17:25] pixelzoom commented on #430
Or as @ariel-phet said... :)    Do a review now, just to make sure nothing is seriously broken.

[2019-01-16 19:05] jessegreenberg commented on #430
OK, starting with review!

I am seeing a few issues on CT that look like they could be related to recent ComboBox work:
<details> <summary>projectile-motion</summary>

[code]
</details>

<details> <summary>griddle, scenery-phet, wave-interference</summary>

[code]
</details>

[2019-01-16 20:09] pixelzoom opened #448 "RectangularButtonView doesn't verify that option values will work with content"
I ran into this over in https://github.com/phetsims/projectile-motion/issues/171, where it manifested in `ComboBoxButton`, a subclass of  `RectangularPushButton`.

If a `RectangularPushButton` has atypically small content, it's possible that the default values for `cornerRadius`, `xMargin`, and `yMargin` may result in overlap of the rounded corners.   This will be detected and fail way down in `Sh

[2019-01-16 20:13] pixelzoom commented on #430
Those issues have been addressed in https://github.com/phetsims/projectile-motion/issues/170 and https://github.com/phetsims/projectile-motion/issues/171.

[2019-01-16 20:32] pixelzoom commented on #423
I'd like to hear why there's an input listener on the AccordionBox (or it's ancestor).

[2019-01-16 23:17] jessegreenberg commented on #334
@zepumph with work on this continuing in #314 is it OK if this branch is deleted now?

[2019-01-16 23:31] jessegreenberg commented on #430
I reviewed the changes. The new classes `ComboBoxButton`, `ComboBoxListItemNode` and `ComboBoxItem` all look very nice and make sense to me.  I tested ComboBox options in the sun demo and all worked as I expected. In reviewing I only noticed two things:

1) The look in sims slightly changed because the option defaults and behavior for margins changed and the default for `cornerRadius` was reduced

[2019-01-16 23:47] pixelzoom commented on #430
This is a question for @ariel-phet.

FYI, trying to make things look exact is a rathole that I did go down.  But there were so many things that made that difficult to accomplish.  There were something about layout that were just wrong to begin with inside ComboBox and its components.  The options for margins were overly complicated and were changed dramatically.  And some of the defaults didn't re

[2019-01-17 00:00] pixelzoom commented on #430
Hmmm... I thought that addressing (2) should have been as simple as:

[code]

... but while the list is visible, `clickToDismissListener` is getting the event before the button, and it does this:

[code]

So `clickToDismissListener` hides the list, and the button's listener then shows it.  Should `clickToDismissListener` be doing something to ensure that the event is not propagated to the button?

[2019-01-17 02:33] zepumph commented on #435
@jessegreenberg I'm not sure what's next here, what do you think?

[2019-01-17 02:39] jessegreenberg commented on #430
I tried `event.abort()` in `clickToDismissListener` but it didn't work because apparently the display listeners are called *after* the event is dispatched to nodes in the trail. So the `down` listener of the ComboBoxButton is called before `clickToDismissListener`.

[2019-01-17 03:00] jessegreenberg commented on #435
Sorry, I was supposed to write up consensus notes.

Dialogs should remain within dev bounds rather than sim bounds. It is generally problematic to set `maxWidth` on dialogs (or panels or layout boxes or anything other than Text) for i18n because this causes shrinking of *all* content, including icons. For example, see https://user-images.githubusercontent.com/6396244/50861367-6bf01980-1366-11e9-8f

[2019-01-17 03:09] jessegreenberg commented on #435
It has been removed. We can continue in https://github.com/phetsims/friction/issues/158 and https://github.com/phetsims/resistance-in-a-wire/issues/203 which started this issue to set the maxWidth of the dialog content correctly. Closing.

[2019-01-17 03:09] #435 closed

[2019-01-17 03:38] pixelzoom commented on #430
Yes @jessegreenberg, sounds like we tried the same things with `event.abort`.  I have some other ideas, will investigate more tomorrow.

[2019-01-17 04:13] pixelzoom commented on #430
@jessegreenberg Actually, I see `clickToDismissListener`'s `down` function being called _before_ the `this.button`'s listener.

[2019-01-17 04:20] pixelzoom commented on #430
In the previous commit, clicking on the button toggles the list's visibility:

[code]

And `clickToDismissListener` is short-circuited when the click is over the button:

[code]

This seems to do the job.  But see the TODO above.`Trail` does not have visibility annotations for its fields, so I don't know if `event.trail.nodes` is `@public`. (I've asked @jonathanolson on Slack.) And I'm surprised t

[2019-01-17 04:30] pixelzoom opened #449 "ComboBox memory leak related to clickToDismissListener?"
I'm wondering if there is a memory leak in ComboBox related to `clickToDismissListener`, which was added way back in https://github.com/phetsims/sun/issues/14.

In ComboBox:

[code]

I don't understand the comment "because the scene may change" on line 99.

If it's possible to have a different display each time that `showList` is called, then shouldn't we be doing something like this before the as

[2019-01-17 04:43] pixelzoom opened #450 "what to do about ComboBox.createItem?"
In #430, ComboBoxItem was created and ComboBox.createItem was documented as:

[code]

Should we replace the 56 uses of `ComboBox.createItem(` with `new ComboBoxItem(`? It looks like we could do this with one string replacement operation.

Or should we just mark ComboBox.createItem as `@deprecrated`?

Or do people still want to use `ComboBox.createItem`?

[2019-01-17 14:44] jessegreenberg commented on #430
That is right, because the button's listener is called on `up`. I was trying to prevent the button from being pressed down in the first place.

[2019-01-17 16:34] jonathanolson commented on #450
Replacement with `new ComboBoxItem(` (and the additional import) sounds fine to me.

[2019-01-17 16:39] pixelzoom commented on #445
@zepumph I'm going to take a quick first pass at `ComboBoxListBox`.

[2019-01-17 16:45] jonathanolson commented on #423
Often it can be helpful to know if a user clicked/tapped/etc. on an entire panel/box.

[2019-01-17 18:38] pixelzoom opened #451 "Add "display mode" to ComboBox"
1/17/19 phet-io meeting, requested by @kathy-phet:

Add `{BooleanProperty} singleItemDisplayProperty`, default `false`.  Hides the arrow and vertical separator on the ComboBoxButton, and set's `pickable: false` on the ComboBox.

[2019-01-17 18:45] pixelzoom commented on #451
This will involve instrumenting ComboBoxButton, which is currently not implemented.

[2019-01-17 19:12] pixelzoom commented on #451
Implemented in the above commits.

While implementing this, I decided that `displayOnlyProperty` was a better name.  Here it is in ComboBoxButton:

[code]

Here's how it looks in Studio with Beer's Law Lab.  First with `false` (the normal state):

![screenshot_962](https://user-images.githubusercontent.com/3046552/51342336-e13ba880-1a50-11e9-8267-b542cf3795b8.png)

Here's how it looks where set to

[2019-01-17 19:13] pixelzoom commented on #451
phetioDocumentation was revised to:

[code]

[2019-01-17 19:32] pixelzoom commented on #450
1/17/19 dev meeting consensus:  OK to replace `ComboBox.createItem` with `new ComboBoxItem`.

[2019-01-17 19:59] pixelzoom commented on #448
Over in https://github.com/phetsims/projectile-motion/issues/171, we decided:

[2019-01-17 20:24] chrisklus commented on #423
Consensus from 1/17/19 dev meeting:

We will look into this more the next time we run into this bug.

[2019-01-17 20:48] pixelzoom opened #452 "review ComboBox uses in all sims"
In https://github.com/phetsims/sun/issues/430#issuecomment-454984350, @jessegreenberg noted:

I replied:

But I think this is a rathole that I should consider going down, given how extensive the changes have been to ComboBox.  So I'm going to review (and potentially adjust) all ComboBoxes in all sims.

[2019-01-17 20:51] pixelzoom opened #453 "optimize margin around ComboBoxButton's arrow button"
Discussed with @ariel-phet.

ComboBoxButton's `xMargin` and `yMargin` are currently applied to both the item and the arrow parts of the button.   But as `xMargin` increases, the margin around the arrow becomes unnecessarily large.  In general, we want to keep the arrow part of the button looking roughly square.   So...

I'll investigate computing the margin around the arrow so it looks square.  If

[2019-01-17 21:06] samreid commented on #451
@chrisklus and I reviewed and it looks great, we made minor modifications above.  Back to @pixelzoom to sign off on the minor changes.  Close if all is well.

[2019-01-17 21:16] pixelzoom commented on #450
ComboBox.createItem is gone.  Closing.

[2019-01-17 21:16] #450 closed

[2019-01-17 23:00] pixelzoom commented on #451
👍

@samreid  FYI, it looks like a bunch of commit above are for some other issue with title "Remove whitespace from tandem strings".  Up to you whether to tag those commits with the correct issue number.

Closing.

[2019-01-17 23:08] pixelzoom commented on #452
I've done this for my sims, but still need to visit other sims.

[2019-01-18 00:16] pixelzoom commented on #449
Looks like showList and hideList always occur in pairs, so there is no leak.  But for future-proofing, hideList should set `this.display = null`, and showList should `assert( !this.display )`.   I'll handle this.

[2019-01-18 00:43] pixelzoom commented on #449
Done in the above commit, passing fuzz test in BLL.   Since ComboBox still needs a general review, I'm going to close this issue.

[2019-01-18 00:43] #449 closed

[2019-01-18 00:53] pixelzoom commented on #453
ComboBoxButton is now divided into 2 "areas" with a vertical separator between them.

The "item area" is to the left of the separator and displays the selected item.  It's margin is determined by options `xMargin` and `yMargin`.

The "arrow area" is to the right of the separator and displays an up or down arrow, depending on the value of `options.arrowDirection`.  This area is a square whose side

[2019-01-18 01:12] pixelzoom commented on #452
energy-skate-park:

<img width="867" alt="screenshot_977" src="https://user-images.githubusercontent.com/3046552/51359106-69d33c80-1a83-11e9-9b8d-dd8eb4bc66c2.png">

[2019-01-18 01:20] pixelzoom commented on #452
bending-light:

<img width="866" alt="screenshot_978" src="https://user-images.githubusercontent.com/3046552/51359339-88860300-1a84-11e9-8e27-65ca974902dd.png">

[2019-01-18 01:21] pixelzoom commented on #452
circuit-construction-kit-black-box-study:

<img width="869" alt="screenshot_979" src="https://user-images.githubusercontent.com/3046552/51359391-c3883680-1a84-11e9-853c-5e069fe3bbd3.png">

[2019-01-18 01:30] pixelzoom commented on #452
least-squares-regression:

<img width="869" alt="screenshot_987" src="https://user-images.githubusercontent.com/3046552/51359652-ef57ec00-1a85-11e9-89da-29ad4a578873.png">

[2019-01-18 01:31] pixelzoom commented on #452
masses-and-spring:

<img width="867" alt="screenshot_988" src="https://user-images.githubusercontent.com/3046552/51359691-14e4f580-1a86-11e9-8681-b7ece3371137.png">

[2019-01-18 01:32] pixelzoom commented on #452
molarity:

<img width="867" alt="screenshot_989" src="https://user-images.githubusercontent.com/3046552/51359733-3514b480-1a86-11e9-815f-0b518d3c8840.png">

[2019-01-18 01:33] pixelzoom commented on #452
molecule-polarity:

<img width="864" alt="screenshot_990" src="https://user-images.githubusercontent.com/3046552/51359777-65f4e980-1a86-11e9-885b-4fb2ffebb5be.png">

[2019-01-18 01:34] pixelzoom commented on #452
molecules-shapes:

<img width="867" alt="screenshot_991" src="https://user-images.githubusercontent.com/3046552/51359815-8cb32000-1a86-11e9-834e-feaf0591b061.png">

[2019-01-18 01:38] pixelzoom commented on #452
pendulum-lab:

<img width="863" alt="screenshot_992" src="https://user-images.githubusercontent.com/3046552/51359956-077c3b00-1a87-11e9-9e7c-a024e1047e65.png">

[2019-01-18 01:38] pixelzoom commented on #452
ph-scale, ph-scale-basics:

<img width="869" alt="screenshot_993" src="https://user-images.githubusercontent.com/3046552/51359989-21b61900-1a87-11e9-98d4-65c436248a78.png">

[2019-01-18 01:39] pixelzoom commented on #452
projectile-motion:

<img width="868" alt="screenshot_994" src="https://user-images.githubusercontent.com/3046552/51360032-3d212400-1a87-11e9-964f-e111dffb2ff4.png">

[2019-01-18 01:40] pixelzoom commented on #452
states-of-matter:

<img width="870" alt="screenshot_995" src="https://user-images.githubusercontent.com/3046552/51360079-604bd380-1a87-11e9-913c-6cacd23f41ba.png">

[2019-01-18 01:41] pixelzoom commented on #452
tambo:

<img width="863" alt="screenshot_996" src="https://user-images.githubusercontent.com/3046552/51360098-7a85b180-1a87-11e9-96f6-e2d4c261da2a.png">

[2019-01-18 01:42] pixelzoom commented on #452
twixt (demo):

<img width="868" alt="screenshot_997" src="https://user-images.githubusercontent.com/3046552/51360132-a4d76f00-1a87-11e9-8aef-b96a1ee030ab.png">

[2019-01-18 01:43] pixelzoom commented on #452
unit-rates:

<img width="867" alt="screenshot_998" src="https://user-images.githubusercontent.com/3046552/51360159-c6385b00-1a87-11e9-88fd-05de19bb24a7.png">

[2019-01-18 01:44] pixelzoom commented on #452
wave-interference:

<img width="866" alt="screenshot_999" src="https://user-images.githubusercontent.com/3046552/51360187-e36d2980-1a87-11e9-8dda-ca6e077d4ce1.png">

[2019-01-18 01:46] pixelzoom commented on #452
@ariel-phet I inspected all of the ComboBoxes in all sims, and only adjusted energy-skate-park and bending-light.  Please look through the screenshots above.  If you see any that you'd like to adjust, let me know.  Otherwise please close this issue.

[2019-01-18 01:54] pixelzoom commented on #430
Blocked by https://github.com/phetsims/scenery/issues/927.

[2019-01-18 02:31] pixelzoom opened #454 "issues with RectangularButtonView radii options"
Noted in https://github.com/phetsims/sun/issues/448.

Rectangular has 4 corner-specific radii options that are undocumented, and appear only in `createButtonShape`.

(1) Add something like this (untested) to the default options hash:

[code]

(2) `createButtonShape` has a required argument named `options`.   Something like this would be preferable, where `radii` is cherry-picked from `options`.

[

[2019-01-18 02:32] pixelzoom commented on #448
This just got very complicated.  See `createButtonShape` in RectangularButtonView:

[code]

Here I discovered that RectangularButtonView supports several options related to corner radii.  In addition to cornerRadius, there are 4 corner-specific options: leftTopCornerRadius, rightTopCornerRadius, leftBottomCornerRadius, and rightBottomCornerRadius.

Besides the general problems with this reported i

[2019-01-18 02:35] pixelzoom commented on #448
@jbphet as primary author of RectangularButtonView, do you have any suggestions?

[2019-01-18 03:04] pixelzoom commented on #454
In the above commits...

I address (1) as proposed above.   I punted on (2) and left `createButtonShape` alone, but documented and moved it after the constructor.  And I added an example to sun demo that demonstrates a button with corner-specific radii.

@jbphet please review.

[2019-01-18 03:06] pixelzoom commented on #448
Putting this back on the dev meeting list, since we'll need to come up with a different solution.

[2019-01-18 03:07] pixelzoom commented on #453
@ariel-phet please assign someone to review.

[2019-01-18 03:17] pixelzoom commented on #430
I see that other sims are accessing `trail.nodes`, doing the same sort of test that I'm doing here in ComboBox.  So let's proceed with this solution.   If @jonathanolson decides in https://github.com/phetsims/scenery/issues/927 that `trail.nodes` should be private, then a method to perform the test will be added to Trail.  So...

@jessegreenberg regarding your feedback in https://github.com/phetsi

[2019-01-18 15:06] jessegreenberg commented on #430
OK, thanks  for going through https://github.com/phetsims/sun/issues/452. I tested https://github.com/phetsims/sun/issues/430#issuecomment-455037261, it looks good and works good. I am going to remove this TODO now:

Closing.

[2019-01-18 15:06] #430 closed

[2019-01-18 15:49] pixelzoom commented on #405
Re:

It's also important to note that this operation is generally not specific to ComboBox.  ComboBox displays ComboBoxItems, with include the visual representations (Nodes) that corresponds to values.   In the case where those visual representations contain text, we want to change the text at the source - NOT after the Nodes have been assembled, and most definitely NOT after they have been provid

[2019-01-18 15:54] pixelzoom commented on #430
Thanks for the review @jessegreenberg.

FYI, I added this TODO where you removed the sun#430 TODO:

`//TODO scenery#927 is trail.nodes public? should we add Trail.containsNode?`

[2019-01-18 17:09] samreid commented on #405
We previously experimented with a PhET-iO mode where objects were customized as they were created, but it was ultimately removed it because it was incompatible with subtyping.  We could open a new investigation for this, or look at using query parameters (or another upstream mechanism) to accomplish this.

@jonathanolson previously promoted making our UI components more mutable, and we have done t

[2019-01-18 17:35] pixelzoom commented on #405
But again, since I'm not sure everyone understands.  Regardless of whether UI components are mutable, text strings should not be changed at the UI component.  We use MVC, so in general there may be multiple views of one text string.  So the correct place to make the change is at that one text string, not in each UI component.

[2019-01-18 17:40] pixelzoom commented on #405
If we're going to rely on `maxWidth` to solve this problem, then we should consider that we're typically using `maxWidth` only for translated string.  If the PhET-iO client is allowed to change non-translated text (as was proposed for the formula in Beer's Law Lab), then we'll potentially need to start setting `maxWidth` for _all_ text.  And we'll need a way to test, since `stringTest` won't expos

[2019-01-18 21:08] samreid commented on #369
Here is a patch of changes that move more occurrences of hide/show to setVisible(true|false):

<details>

[code]

</details>

[2019-01-19 03:44] samreid commented on #369
In the preceding commits, I added a PHET-iO read-only property that indicates whether a dialog is showing.  I tested it with Molecules and Light and it behaves as expected.

On the one hand, I'm somewhat interested in revising the Dialog API like so it matches typical Node API:

[code]

On the other hand, the existing API exemplified in https://github.com/phetsims/sun/issues/369#issuecomment-45567

[2019-01-19 04:00] samreid opened #455 "Should Dialog API be unified with Node API?"
The typical client-side API for Node is:

[code]

The way we typically use Dialog is like so:

[code]

There are a few problems with the latter API.

* The Dialog is not available to PhET-iO on simulation startup, so it cannot be customized or interacted with or shown.  Something would need to trigger its creation before it could be interoperable.
* The Dialog has `visibleProperty` which is always

[2019-01-19 04:02] samreid commented on #369
I opened #455 for further discussion with @zepumph @jonathanolson and @pixelzoom.  @zepumph and @pixelzoom do you think this issue can be closed?

[2019-01-19 23:45] pixelzoom commented on #455
That's only because Dialog had (has?) a `dispose` problem. So Dialogs were reused as a way of avoiding that problem.

This could be true of any UI component.  A solution should not depend on the existence of a Dialog at startup.  Dialogs should be created when it makes the most sense to create them.

I see no reason to have 2 Properties; visibleProperty should be sufficient, isShowingProperty is u

[2019-01-19 23:50] pixelzoom commented on #445
@zepumph After you've had a look at `ComboBoxListBox`, I think the next step would be to evaluate whether there's any code in `ComboBox` that belongs in either `ComboBoxListBox` or `ComboBoxButton`.

[2019-01-20 00:58] pixelzoom commented on #445
I noticed that KEY_ENTER selected items in the listbox, but does not pop down the listbox. In the above commit, I added a TODO to investigate.

[2019-01-20 03:23] pixelzoom opened #456 "convert ComboBox to class"
Over in #430, we did a major rewrite of ComboBox, entirely in ES6 except for:

[code]

Searching for "inherit( ComboBox", I see 9 subclasses that would need to be converted:

- [x] BALANCING_CHEMICAL_EQUATIONS/ToolsComboBox
- [x] BEERS_LAW_LAB/SolutionComboBox
- [x] BEERS_LAW_LAB/SoluteComboBox
- [x] LEAST_SQUARES_REGRESSION/DataSetComboBox
- [x] MASSES_AND_SPRING/GravityComboBox
- [x] MOLARITY/So

[2019-01-20 04:10] pixelzoom commented on #456
Done. Notified developers on Slack. Closing.

[2019-01-20 04:10] #456 closed

[2019-01-20 04:18] pixelzoom commented on #405
FYI, due to the "listbox" terminology that we decided on in #440, methods and event names in ComboBox and ComboBoxIO have been changed as follows:

`showList` -> `showListbox`
`hideList` -> `hideListBox`
`'popupShown'` -> `'listboxShown'`
`'popupHidden'` -> `'listboxHidden'`

[2019-01-20 04:25] pixelzoom opened #457 "ComboBox button and listbox may be scaled differently"
Because ComboBox's button and listbox have different parents, they may be scaled differently.

If the scaling happens to be the same, then items are the same size on the button and in the listbox, and the listbox is the same width as the button's item area. For example in BLL:

<img width="365" alt="screenshot_1000" src="https://user-images.githubusercontent.com/3046552/51435231-439ecf80-1c30-11e9

[2019-01-20 05:10] pixelzoom commented on #451
Reopening.  I think this Property may be misplaced.  It should probably be a Property of ComboBox, not ComboBoxButton.  And in addition to changing the look of ComboBoxButton, it should hide the listBox.

@samreid your opinion?

[2019-01-20 18:53] samreid commented on #455
The API and implementation are different than for typical scenery Nodes.
[code]

[2019-01-20 19:54] pixelzoom commented on #455
Where are you getting this current API?  It doesn't match current reality, nor does it match anything that I recall discussing.  The only difference in APIs is that Dialogs are (or should be) invisible by default, and needs to be made visible to "show" the dialog.  So:

[code]

[2019-01-20 20:38] samreid commented on #455
There are 24 matches of `dialog.show()` across our repos.  For example, here is one in Equality Explorer:

[code]

[2019-01-20 21:00] pixelzoom commented on #455
Ah, I see... In the current implementation, `window.phet.joist.sim.showPopup` and `hidePopup` are handling add/remove from scenegraph.

So to answer the original question, which was "Should Dialog API be unified with Node API?"...

No, the APIs should not be unified, because Node and Dialog have different needs:

* Node is added to the scenegraph by the client.  Dialog is added to the scenegraph a

[2019-01-20 21:06] samreid commented on #455
I understand that Dialog has different needs than a typical Node.  But can you please clarify the flaws with this proposed API?

[code]

Is it mainly that `phet.joist.sim.glassPane` would get copied around?

[2019-01-20 21:37] pixelzoom commented on #445
I finally understand that setting focus should only be done in a11y specific listeners that handle keystrokes.   Fixed applied in https://github.com/phetsims/sun/commit/a484df889bd92bab290b54bf478ba5fcf2f1a1ae so that focus highlights don't appear when using the mouse.

[2019-01-20 22:39] pixelzoom commented on #455
It's not clear what you're proposing in the previous comment.  Is Dialog `visible:true` by default? Is `phet.joist.sim.glassPane.addChild/removeChild` the mechanism to show/hide the Dialog?  If that's the case...

Client code should not be explicitly adding popups (dialogs, list boxes, menus,...) to a global like `phet.joist.sim.glassPane`.   That should be encapsulated in the popups and in sun/jo

[2019-01-20 23:04] samreid commented on #455
Yes, as it is for Node.  I'm trying to understand the disadvantages of unifying the Dialog API with the Node API.

As proposed in https://github.com/phetsims/sun/issues/455#issue-400957811 hide would be done via `detach`, which is essentially `parent.removeChild()`.  Showing the node would be done with `addChild` as it is done for `Node`.

We could encapsulate that in Dialog like so:

[code]

I'm

[2019-01-20 23:08] pixelzoom commented on #455
Hard to say without knowing more about PhET's "glass pane" feature.  I doubt that there is a single glass pane instance.  At a minimum, I think we'll need a glass pane per ScreenView (for screen-specific popups), and a global glass pane for the Sim (for PhET menu, About dialog, Options dialog, ...)

[2019-01-21 01:59] samreid commented on #405
4/5 of the main (non-brainstorm) requests in https://github.com/phetsims/sun/issues/405#issuecomment-455431908 are complete.  I recommend to close this issue and open an issue for the remaining part.  @pixelzoom anything else for this issue?

[2019-01-21 02:01] samreid opened #458 "How should PhET-iO customize text in components like ComboBoxes?"
From https://github.com/phetsims/sun/issues/405.  One request from the design https://github.com/phetsims/sun/issues/405#issuecomment-455431908 was

It was noted in the design meeting:

@kathy-phet said we can put that as a maybe for future work, when a client needs it.

[2019-01-21 02:01] samreid commented on #458
@pixelzoom said:

@pixelzoom said:

It's important to note that this operation is generally not specific to, or performed on, ComboBox.  ComboBox displays ComboBoxItems, with include the visual representations (Nodes) that corresponds to values.   In the case where those visual representations contain text, we want to change the text at the source - NOT after the Nodes have been assembled, and mos

[2019-01-21 02:02] samreid commented on #458
We previously experimented with a PhET-iO mode where objects were customized as they were created, but it was ultimately removed it because it was incompatible with subtyping.  We could open a new investigation for this, or look at using query parameters (or another upstream mechanism) to accomplish this.

@jonathanolson previously promoted making our UI components more mutable, and we have done t

[2019-01-21 02:02] samreid commented on #458
@pixelzoom continued:

[2019-01-21 02:08] samreid commented on #458
I've identified the following strategies that might address this:

1. Model the text as an AXON/Property and make sure all clients link to it for changes.  This could complicate UI components such as ComboBox, if they need to observe changes in child elements and update layout accordingly.  If we set `maxWidth = this.width` on elements, it could lead to a staggered layout.
2. Instrument the SCENER

[2019-01-21 02:35] samreid commented on #458
Here is a patch that demonstrates one way to accomplish strategy (1) above.  It uses `maxWidth` on combo box elements to prevent things from going out of bounds.

<details>

[code]
</details>

It looks like this:

![drinkmix](https://user-images.githubusercontent.com/679486/51449673-5f66ac00-1cea-11e9-99a5-1b8341d2be97.gif)

I'd like to get initial feedback on this strategy before going further.

[2019-01-21 03:46] pixelzoom commented on #455
What I've learned from this discussion is that deciding what the "best" API is for Dialog can't (and shouldn't) be done without an understanding of how Dialogs (and other popups) will ultimately be displayed.

[2019-01-21 05:39] pixelzoom commented on #458
5. Tell clients that they can't change the text.

... which we should do because of the cost of 1-4, but won't do because we can't seem to say no.

2 might be OK in specific cases, but it's not at all generally appropriate for MVC.

3 won't handle the case where the client wants to change text after the sim has started. For example, they start with "Mystery Liquid", then change to "Drink Mix" afte

[2019-01-21 05:39] pixelzoom commented on #458
5. Tell clients that they can't change the text.

... which we should do because of the cost of 1-4, but won't do because we can't seem to say no.

2 might be OK in specific cases, but it's not at all generally appropriate for MVC.

3 won't handle the case where the client wants to change text after the sim has started. For example, they start with "Mystery Liquid", then change to "Drink Mix" afte

[2019-01-21 05:48] pixelzoom commented on #458
@samreid said:

I'm not sure what "going further" entails.  But if you're thinking of instrumenting strings in Beer's Law Lab, please don't.  Beer's Law Lab is in a bad enough state now, and (imo) it's inappropriate to do further work on PhET-iO instrumentation until the PhET-iO redesign has begun, see https://github.com/phetsims/beers-law-lab/issues/230.

[2019-01-21 06:00] pixelzoom commented on #405
I count 3/5 that are completed.  These 2 are not done:

* #458, change the text name of elements, like "mystery object" or "object 1"
* #451,  Put it in a mode where you get rid of the triangle and line

But I'm OK with closing this and tracking the remaining tasks in their respective issues.

A general question...  If issues like this one are the way that we're going to develop PhET-iO API requir

[2019-01-21 06:18] pixelzoom commented on #451
`displayOnlyProperty` has been moved from ComboBoxButton to ComboBox.  Please re-review.

Here's how it looks in Studio with Beer's Law Lab when set to `false` (normal ComboBox operation):

<img width="832" alt="screenshot_1002" src="https://user-images.githubusercontent.com/3046552/51456027-63ee8d00-1d09-11e9-9fc5-f5795bd28056.png">

Here's how it looks where set to `true`. Note that the listbox

[2019-01-21 19:58] samreid commented on #458
Did you intend to close this issue?

Exploring other strategies.

It seems appropriate to enumerate strategies and estimate their costs.  Is it a foregone conclusion that the cost will be prohibitive?

[2019-01-21 23:31] pixelzoom commented on #458
No, thanks for reopening.

Agree, it's appropriate to enumerate and estimate their cost.   And my estimate was that strategies 2-4 are inappropriate, and strategy 1 will be costly.

[2019-01-21 23:32] pixelzoom commented on #458
No, thanks for reopening.

Agree, it's appropriate to enumerate and estimate their cost.   And my estimate was that strategies 2-4 are inappropriate, and strategy 1 will be costly.   Whether the cost is prohibitive isn't my call.

[2019-01-22 18:17] pixelzoom opened #459 "inconsistent a11y instrumentation of rectangular vs round buttons"
RectangularButtonView sets tagName, and it's therefore unnecessary to specify `tagName` in any of its subclasses:

[code]

RoundButtonView does not set `tagName`, and `tagName: 'button'` is duplicated in subclasses.

The same approach should be used for rectangular and round buttons, and the former approach seems superior.

[2019-01-22 18:20] pixelzoom opened #460 "inconsistent instrumentation of sticky toggle buttons"
RectangularStickyToggleButton inherits from RectangularButtonView.  RoundButtonView has no a11y-specific options values, and uses the defaults in RectangularButtonView, which are:

[code]

RoundStickToggleButton inherits from RoundButtonView.  In RoundButtonView:

[code]

Why are these so different?  I'm guessing that RectangularStickyToggleButton RoundStickToggleButton should have similar a11y in

[2019-01-22 19:38] pixelzoom opened #461 "problems with a11y and fireOnHold"
Noted while working on https://github.com/phetsims/sun/issues/447, and it's probably the root cause.  a11y doesn't seem to have any way to prevent `click` from firing multiple time when the Enter key is held down.

PushButtonModel has these options:

[code]

These only pertain to the listener added via PushButtonModel `addListener`.   A11y-specific listeners must currently be added via `addInputLi

[2019-01-22 19:56] zepumph commented on #447
For now @pixelzoom and @zepumph just converted the `keydown` listener in the list box to use `keyup`. This way we don't get the event tranfered back to the button. @jessegreenberg this felt like a workaround to me because I thought we wanted to try to make the UX as similar to the browser click as possible, in which a `click` from enter occurs on `keydown`. A few things to do from here:

* explore

[2019-01-22 22:57] pixelzoom opened #462 "ComboBoxListBox: use a standard scenery listener"
Related to #445, in CombBoxListBox.

Sometime in the future, investigate replacing `fireEmitter` and `selectionListener` with a standard scenery listener (PressListener, FireListener,...)

[2019-01-22 23:29] pixelzoom opened #463 "problem with a11y listeners for sun buttons"
a11y has introduced a general problem with sun buttons. In button listeners, we need to know whether a button fired due to an event involving accessible input (e.g. keyboard) or pointer.    And button listeners are currently provided with no information to make that decisions.

E.g. in ComboBox, here's what we currently had to do:

[code]

This requires a completely different listener for the butt

[2019-01-22 23:31] pixelzoom commented on #463
In ComboBox, something better might look like:

[code]

[2019-01-22 23:33] pixelzoom commented on #463
But see also the problem with `if ( event.point.type === 'a11y' )`, https://github.com/phetsims/scenery/issues/932.

[2019-01-23 00:19] pixelzoom opened #464 "add mouseArea options to RectangularButtonView"
Discovered in https://github.com/phetsims/scenery-phet/issues/459.

RectangularButtonView has options for touchArea, but no support for mouseArea:

[code]

RoundButtonView correctly supports both touchArea and mouseArea:

[code]

[2019-01-23 00:36] pixelzoom commented on #464
Done in the above commit.  The computation of touchArea was overly complex, so I change that too.

Formerly:

this.mouseArea = Shape.rectangle( 0, 0, buttonWidth, buttonHeight );
this.touchArea = Shape.rectangle(
  -options.touchAreaXDilation,
  -options.touchAreaYDilation,
  buttonWidth + options.touchAreaXDilation * 2,
  buttonHeight + options.touchAreaYDilation * 2
);
[code]

Pointer area optio

[2019-01-23 00:57] pixelzoom opened #465 "review and update ComboBox.md"
There have been many changes to ComboBox.js - #430, #314, #445,....

ComboBox.md needs to reviewed and possibility updated, especially the a11y sections.

[2019-01-23 00:58] pixelzoom commented on #314
@zepumph and I spent many hours today mopping up TODO items related to this issue.  We used ComboBox.md as the ground through, but that document should be reviewed and possibly updated, see https://github.com/phetsims/sun/issues/465.

Since all TODO comments related to this issue have been addressed or moved to new items....  Closing.

[2019-01-23 00:58] #314 closed

[2019-01-23 01:00] pixelzoom commented on #445
@zepumph and I spent several hours cleaning up TODO items for this and other ComboBox issues. All TODO items related to this issue have been addressed or moved to other issues.  So I'm comfortable with closing this issue.  @zepumph if you agree, please close.

[2019-01-23 01:01] pixelzoom commented on #405
@zepumph, @samreid, and I address the remaining TODO comments.   So I'm OK with closing this if @zepumph and @samreid agree.

[2019-01-23 01:02] pixelzoom commented on #162
Since we're about to close https://github.com/phetsims/sun/issues/405 (instrument ComboBox better), I'm guessing that this issue can also be closed.   @zepumph @samreid if you agree, please close.

[2019-01-23 01:20] pixelzoom commented on #457
In Unit Rates, it would be better to scale the text in the combo box, and not the entire combo box. So I'll do that there.  But it would still be good to have a general solution.

[2019-01-23 01:21] samreid commented on #162
I think this issue can be closed--leaving assigned to @zepumph for confirmation.

[2019-01-23 01:46] pixelzoom commented on #457
General solution push in the above commit.  To test/verify:

1.  In SUN/ComboBox, comment out `this.scaleListBox();`  in `showListBox`:

[code]

2. In SUN/Components/ScreenView, add `maxWidth: 50` to the ComboBox created in `demoComboBox`:

[code]

3. Run sun demo, go to the Components screen, choose "ComboBox" demo, and verify that you can see this problem, where the list box is larger than the b

[2019-01-23 02:55] #445 closed

[2019-01-23 06:54] terracoda commented on #465
@zepumph, please assign to me if you need me to help with any changes to ComboBox.md.

I'm not sure our a11y markdown docks have a place in the document yet that would describe that the widget (e.g. ComboBox) is made up of several different things. I think we will need a place in the document that lists out what makes up a ComboBox (e.g., perhaps list out the things that are included in this comme

[2019-01-23 16:35] pixelzoom commented on #465
@terracoda said:

And it sounds like that may be different for JavaScript vs PDOM.   For example, ComboBox's JavaScript implementation is a container that is made up a button and a list box that contains items.  In the PDOM (currently), the button (not a "combo box") is the top-level thing, and the button has a list box.   To make things easier to understand, I think it's advantageous to keep the

[2019-01-23 18:55] jessegreenberg commented on #464
Looks great, thanks!

[2019-01-23 18:55] #464 closed

[2019-01-23 19:23] jessegreenberg commented on #460
There is no reason for the difference, they are equivalent for a11y. I made it a `tagName: button`, though in #459 this will probably be removed entirely and added to the supertype RoundButtonView.

[2019-01-23 19:32] jessegreenberg commented on #459
Thanks for pointing out, I added `tagName: 'button'`RoundButtonView and removed `tagName` from subtypes. I tested sun demo and round buttons in sims with a11y, all are still working. Closing.

[2019-01-23 19:32] #459 closed

[2019-01-23 19:52] terracoda commented on #465
@pixelzoom, I actually do explain in the ComboBox.md file why we created and used the HTML structure that we use. You can find a brief explanation in the Accessibility section and just above the HTML code.

What kind of guidance or explanation do you think developers need to better understand how to implement the design pattern?

In terms of user experience, the differences between a `combobox` an

[2019-01-23 22:46] pixelzoom commented on #453
@ariel-phet ping. I'd like to get the ComboBox work wrapped up.

[2019-01-24 15:17] Denz1994 commented on #453
@pixelzoom These options look great. Just one note and close if this is a non-issue.

Setting `xMargin:0` and `yMargin:0` causes the edges ComboBoxListItemNode.highlightRectangle to extend beyond the edges of the `ComboListBox` if the `ComboListBox` has a `cornerRadius > 0`.

Perhaps this is a good time to pass `ComboBox.cornerRadius` to `ComboBoxListItemNode.highlightRectangle` via `const listIte

[2019-01-24 15:17] Denz1994 commented on #453
Accidently closed.

[2019-01-24 17:41] pixelzoom commented on #446
This is done, closing.

[2019-01-24 17:41] #446 closed

[2019-01-24 17:45] pixelzoom commented on #424
This and https://github.com/phetsims/sun/issues/463 are related.  Sun buttons have a fireOnHold option that is currently not integrated with a11y.  This feature should work the same regardless of whether the user is holding down a pointer or a key.

[2019-01-24 18:31] pixelzoom commented on #453
Thanks @Denz1994, good suggestion about corner radius.

Changes in the above commit:

* I added `highlightCornerRadius` for ComboBoxListItemNode, and the same value is used for the button, listbox and items in the list.  I cleared this design change with @ariel-phet, he gave it a thumbs up.

* This made me realize that `xMargin` and `yMargin` must be > 0, so I added assertions.  Otherwise the high

[2019-01-24 18:38] zepumph commented on #451
Everything looks good to me. I like putting it directly on the ComboBox.

I wasn't quite sure why we aren't resetting this property on reset? It makes sense to me why we may think that it is nice to not reset so that a client doesn't have to invoke a call again on reset to turn the combo box to display mode. I am worried that this is a new convention, that we don't do anywhere else in the project.

[2019-01-24 18:43] zepumph commented on #457
I followed the steps above and I am convinced! Thanks @pixelzoom.

[2019-01-24 18:44] #162 closed

[2019-01-24 18:45] zepumph commented on #405
Sounds great. Thanks all.

[2019-01-24 18:45] #405 closed

[2019-01-24 19:10] zepumph commented on #369
This looks like just what I was thinking, nice work!. I think we are good to close, carrying on in #455.

[2019-01-24 19:10] #369 closed

[2019-01-24 19:11] pixelzoom commented on #451
Zoom discussion with @zepumph and @samreid:

`displayOnlyProperty` is not part of the user experience, it's not something that the user can change, and it therefore shouldn't be changeable via Reset All.

There's no advantage to wiring `displayOnlyProperty` into Reset All, although that would work OK since the PhET-iO wrapper client uses the customization callback is used on startup and Reset All.

[2019-01-24 19:14] #457 closed

[2019-01-24 19:25] pixelzoom opened #466 "inaccurate documentation for ComboBoxIO"
In ComboBoxIO:

[code]

This combo box is far from "traditional".   Most notably, it has no text field.

Can `documentation` be deleted? Or changed to something else?

[2019-01-24 19:34] zepumph commented on #458
What about adding support for `Property.<string>` to `RichText` (and maybe `Text` too). This could help us in a variety of ways for PhET-iO I think.

[2019-01-24 19:44] Denz1994 commented on #453
This is a definite improvement and I agree with the below comment:

Closing this one.

[2019-01-24 19:44] #453 closed

[2019-01-24 19:47] pixelzoom opened #467 "ComboBox: incorrect handling of enabledProperty"
Like other PhET UI components, `enabledProperty` can be passed in as an option.  If you don't set `options enabledProperty`, then a default is provided.  So...

(1) The default needs to be instrumented for PhET-iO.

(2) We need to keep track of whether ComboBox owns `enabledProperty`, and handle it accordingly when ComboBox.dispose is called.  If it owns `enabledProperty`, the call `enabledPropert

[2019-01-24 19:58] pixelzoom commented on #467
@jessegreenberg since you just did a similar instrumentation and handling of enabledProperty in FineCoarseSpinner, would you mind reviewing this?

[2019-01-25 21:24] zepumph opened #468 "types mixing AccessibleSlider should document it as such"
While working on GFL I noticed there are no annotations for when this is being mixed into types.
Accessibility.js is mixed in with appropriate doc in `Node.js`, like `* @mixes Accessibility`

I see 10 usages of  `initializeAccessibleSlider`, and no documentation for it.

[2019-01-25 21:30] zepumph commented on #468
@jessegreenberg anything else to do here?

[2019-01-25 21:32] jessegreenberg commented on #468
Thanks @zepumph - and documentation is probably also lacking for things using AccessibleNumberSpinner.

[2019-01-25 21:49] jessegreenberg commented on #468
I searched for all `initializeAccessible*`, you get em all! I similarly documented the only two usages of AccessibleNumberSpinner. Thanks, closing.

[2019-01-25 21:49] #468 closed

[2019-01-28 16:13] jessegreenberg commented on #467
Looks great! And I tested disposal with and without passing an optional `enabledProperty`.

[2019-01-28 16:13] #467 closed

[2019-01-28 16:15] samreid commented on #458
As far as I know, some scenery nodes support `Color|Property.<Color>`--perhaps we should evaluate whether that has been working well and whether we want to expand that pattern to text and other things.

[2019-01-28 16:20] samreid commented on #466
I committed a draft improvement, @zepumph can you please take a look and see if you can improve it further?

[2019-01-28 16:50] pixelzoom commented on #466
I guess my opinion is that we should just delete `documentation`.   A combo box is a standard UI component, at the same level of abstraction as push button, check box, radio button, etc.  And I don't really see a reason to provide `documentation` for any of those.

On the other hand, if you do feel a need to provide `documentation` for ComboBox, then it should presumably tell the reader something

[2019-01-28 20:37] zepumph commented on #462
This should be fixed generally by https://github.com/phetsims/sun/issues/463

[2019-01-28 21:42] pixelzoom commented on #257
Noting here that we're still adding boilerplate, and the boilerplate has evolved due to PhET-iO.  It's now necessary to to keep track of whether options.enabledProperty was provided by the client.  If it was provided, then `enabledProperty.removeListener` is called on dispose.  If it was not provided, then a default (with tandem) needs to be created, and `enabledProperty.dispose` is called on disp

[2019-01-28 21:54] pixelzoom opened #469 "UI components don't handle enabledProperty correctly"
As noted in https://github.com/phetsims/sun/issues/257#issuecomment-458313096.... The requirements for handling `enabledProperty` have changed due to PhET-iO requirements.  It's now necessary to know whether `enabledProperty` was provided via options.  If it was not provided, then an instrument default must be created, then disposed of in `dispose`.

The following UI components are not currently h

[2019-01-28 21:57] pixelzoom commented on #257
As noted in https://github.com/phetsims/sun/issues/469, there are several UI components aren't handling enabledProperty correctly.  The root problem is boilerplate code that must be changed in multiple places.     The question remains: what is the best way to add the "enabled/disabled" feature?

Since the default seems to be to change opacity and set `pickable: false`, perhaps the default should b

[2019-01-28 21:59] pixelzoom commented on #241
The consensus was Pattern 4, see https://github.com/phetsims/sun/issues/241#issuecomment-234322865.  And it looks like UI components have generally been converted to use that pattern.   So can this issue be closed?

A remaining problem is that we're add boilerplate code into each UI component individually, and then the boilerplate wasn't changed everywhere to meet PhET-iO requirements (see #257).

[2019-01-28 22:02] pixelzoom commented on #469
The correct boilerplate is demonstrated in (e.g.) Checkbox and FineCoarseSpinner.

[2019-01-31 02:39] pixelzoom commented on #447
We still have a significant problem here, which I described over in https://github.com/phetsims/scenery/issues/939#issuecomment-459192359:

[2019-01-31 03:10] pixelzoom commented on #448
I suppose we could use `try catch`:

[code]

[2019-01-31 21:31] zepumph commented on #466
Yes I like @pixelzoom's doc. Anything else here?

[2019-01-31 23:50] pixelzoom commented on #466
👍 Closing.

[2019-01-31 23:50] #466 closed

[2019-02-01 16:23] pixelzoom commented on #447
Deferred until the more general of how to handle Enter and Space is resolved, see https://github.com/phetsims/scenery/issues/939.

[2019-02-02 23:59] pixelzoom commented on #447
In the above commit, I added logging of a11y keyboard events.  Run Molarity with `?a11y&log` and you'll see these events logged to the browser console.   This demonstrates the problem that is specific to ComboBox, as well as the more general issues with Enter and Space keys.

As noted in the TODO comment in the code, this logging should be removed when this issue is resolved.

[2019-02-05 15:35] samreid commented on #427
Looks great, thanks!  I can't find any other occurrences of this pattern, closing.

[2019-02-05 15:35] #427 closed

[2019-02-05 16:21] samreid opened #470 "Assertion failed: Cannot register two different instances to the same id"
[code]

[2019-02-05 16:22] samreid commented on #470
We were able to reproduce this problem by commenting out other Challenge types, then running the sim and going to level 1 twice.  The problem appears to be the new Emitters introduced in the input listeners must be disposed because they are registered for PhET-iO.  Why aren't we seeing this problem more widespread?  Maybe because most input listeners are "create once"?

Commit coming shortly.

[2019-02-05 16:23] samreid commented on #470
Fixed and tested, closing.

[2019-02-05 16:23] #470 closed

[2019-02-05 18:21] zepumph commented on #447
There are a few pieces to this issue, and there are multiple issues around scenery for tackling these problems. In https://github.com/phetsims/scenery/commit/f1ce6d906271f42f5595aaa355fcebdcc221783d (above commit) @jessegreenberg and I fixed the most prominent bug so that the "keyup workaround" when clicking on the button and moving focus to the listbox. is working as expected. Whereas before it w

[2019-02-05 19:17] pixelzoom opened #471 "replace '{{value}}' with SunConstants.VALUE_NAMED_PLACEHOLDER"
Noted in https://github.com/phetsims/scenery-phet/issues/446.

Please replace string literal '{{value}}' with NumberDisplay.NAMED_PLACEHOLDER in AccessibleSlider and AccessibleNumberSpinner.

[2019-02-05 19:43] pixelzoom opened #472 "NumberSpinner: support named placeholders in valuePattern option"
Similar to the work that was done for NumberDisplay and NumberControl (see https://github.com/phetsims/scenery-phet/issues/446), NumberSpinner should be upgraded to work with named placeholders with `'{{value}}'`, while continuing to support numbered placeholders with `'{0}'`.

@ariel-phet Since I did the work on NumberDisplay and NumberControl, it makes sense for me to do NumberSpinner.  OK to pr

[2019-02-05 19:54] ariel-phet commented on #472
@pixelzoom yes, definitely OK to proceed

[2019-02-05 20:12] pixelzoom commented on #472
Oh, happy days! There are only 4 sims that use NumberSpinner:

- [ ] expression-exchange
- [ ] reactants-products-and-leftovers
- [ ] sun demo
- [ ] tambo demo

Only sun demo uses '{0}' in an example, easily converted to '{{value}}'.

So I can just switch NumberSpinner over to named placeholders, and don't need to be backward compatible with numbered placeholders.

[2019-02-05 21:01] pixelzoom commented on #472
Conversion completed in above commit. Tested with sun demo.

@ariel-phet please assign someone to review.

[2019-02-05 21:02] pixelzoom commented on #472
Conversion completed in above commit. Tested with sun demo.

@ariel-phet please assign someone to review. @samreid is reviewing similar changes to NumberDisplay and NumberControl.

[2019-02-05 21:21] pixelzoom commented on #436
I did some work on NumberSpinner today in https://github.com/phetsims/sun/issues/472. And I discussed spinner a11y with @jessegreenberg.

Some observations relevant to this issue:

(1) NumberSpinner and NumberPicker are both "spinner" type UI components that deal with numeric values.  And they both mix in AccessibleNumberSpinner.

(2) NumberSpinner and NumberPicker have surprisingly different APIs

[2019-02-05 21:58] arnabp opened #473 "Allow slider track to be non-pickable"
@jbphet and I were looking at https://github.com/phetsims/blackbody-spectrum/issues/61 and realized the issue was due to the track, which was set to invisible in this sim, still being pickable. We've added an option to allow the track to be set to non-pickable.

[2019-02-05 22:01] arnabp commented on #473
@pixelzoom does this seem like a reasonable solution and implementation?

[2019-02-05 22:08] pixelzoom commented on #473
(1) Why is Slider involved for this? Are you saying that you're using a slider with no track in order to have a thumb move along the thermometer? My initial reaction is that this is a questionable use of a Slider.  Rather than adding more stuff to Slider, you should investigate an approach that doesn't involve Slider.

(2) Where is this new `trackPickable` option used?  I don't see it in any commi

[2019-02-05 22:11] pixelzoom commented on #473
I would expect the implementation of this to be similar to SCENERY_PHET/SpectrumSlider., which does not use a trackless Slider.

[2019-02-05 22:15] pixelzoom commented on #473
The track is still visible, but has fill and stroke `'rgba( 0, 0, 0, 0 )'`.  That's not invisible, that's fully transparent (you could have also set `opacity:0`).

If you really need to use a Slider, rather than resorting to specific fill and stroke, and having to create a new option, why not add the ability to hide the track?

[2019-02-05 22:17] pixelzoom commented on #473
[code]

[2019-02-05 22:18] pixelzoom commented on #473
BlackBodySpectrumScreenView:

[code]

[2019-02-05 22:21] arnabp commented on #473
2) I'm still working on cleaning up some stuff in BlackBodySpectrumScreenView.js, I hadn't made the commit yet that included the trackPickable option, but...

I'll take a look at everything else you've said here now, including the SCENERY_PHET/SpectrumSlider implementation. At first glance, setTrackVisible looks like it'll suit this case better than pickable did.

[2019-02-05 22:21] pixelzoom commented on #473
Here's another problem with using a Slider.  You're relying on magic numbers and "eyeballing" to get the Slider to line up with the thermometer.  These lines in BlackBodySpectrumScreenView.js are suspect:

[code]

[2019-02-06 01:54] arnabp commented on #473
1) The initial implementation of this sim had a track and a slider together. Over time the track has disappeared, and the thumb has become more prominent. I was looking for a more simple way of having a disabled slider but like you mentioned, the approach that's currently being used has drifted too far away from the use of a slider.

3) "Invisible" was probably the wrong word here, as you noticed,

[2019-02-06 19:33] ariel-phet commented on #472
@samreid please review (if you are currently too swamped, let me know)

[2019-02-06 19:59] samreid commented on #472
[code]

Would you like to add an assertion for this?

[2019-02-07 02:46] pixelzoom commented on #472
Probably a good idea.  There should be a similar assertion in NumberDisplay.

[2019-02-07 18:27] pixelzoom opened #474 "create constants for common placeholders in string patterns"
SCENERY_PHET/NumberDisplay and SUN/NumberSpinner both use `'{{value}}'` as a named placeholder in string patterns.  And some sims (e.g.  unit-rates) use `{{value}}` as a placeholder independently of NumberDisplay and NumberSpinner.  So this should be factored out as a constant.  My plan is to create `SUN/SunConstants` and put it there.

Ditto for the numbered placeholder`'{0}'`.

[2019-02-07 19:16] pixelzoom commented on #474
I created `SunConstants` and it contains:

[code]

These constants are now used in SUN/NumberSpinner, SCENERY_PHET/NumberDisplay, and in sims that were previously using similar `NumberDisplay` constants.

@samreid would you mind reviewing, since this is somewhat related to https://github.com/phetsims/scenery-phet/issues/446?

[2019-02-07 19:19] pixelzoom commented on #472
I've added validation of `valuePattern` to NumberSpinner and NumberDisplay, and (similarly) validation of `noValuePattern` to NumberDisplay.   Validation uses the new constants that were added to SunConstants in https://github.com/phetsims/sun/issues/474.

Back to @samreid for review.

[2019-02-07 19:24] pixelzoom commented on #471
This string constant was moved to SunConstants.VALUE_NAMED_PLACEHOLDER in https://github.com/phetsims/sun/issues/474.

Searching for "{{value}}", here are the places where this it should be replaced with SunConstants.VALUE_NAMED_PLACEHOLDER:

- [ ] SUN/AccessibleSlider
- [ ] SUN/AccessibleNumberSpinner
- [ ] OHMS_LAW/SliderUnit
- [ ] RESISTANCE_IN_A_WIRE/SliderUnit

[2019-02-07 19:51] pixelzoom commented on #447
@jessegreenberg @zepumph Nice solution in https://github.com/phetsims/scenery/commit/f1ce6d906271f42f5595aaa355fcebdcc221783d, ComboBox seems to be working as desired. The "work to be done" in https://github.com/phetsims/sun/issues/447#issuecomment-460746904 is covered by other issues.  Do you think it would be OK to close this issue?

[2019-02-07 19:52] pixelzoom commented on #447
And do you think it's OK to remove the `phet.log` output that I added in https://github.com/phetsims/sun/issues/447#issuecomment-460010180 ?

[2019-02-07 21:48] chrisklus commented on #121
As decided in 2/7/19 dev meeting, we're going to close this issue and not take explicit action to test more components. Devs will keep an eye out for possibly leaking components when doing sim memory tests. Closing, cheers @SaurabhTotey!

[2019-02-08 23:58] arnabp commented on #473
I've removed the slider from the thermometer, it now has its own implementation, no changes to Sun were needed, closing.

[2019-02-08 23:58] #473 closed

[2019-02-12 17:27] pixelzoom commented on #447
@jessegreenberg @zepumph ping.

[2019-02-14 19:36] pixelzoom commented on #448
2/14/19 dev meeting consensus:

We decided not to do the `try catch` approach, since we prefer "loud" failures, and a warning might be missed.  All of the CT failures were fixed in https://github.com/phetsims/projectile-motion/issues/171 by adjusting `cornerRadius` without compromising the look of the sims. So we decided to use that approach going forward, and make no changes to `RectangularButton

[2019-02-14 19:36] #448 closed

[2019-02-14 21:13] jessegreenberg commented on #447
Thanks @pixelzoom, yes this can be closed since it is being tracked in more general issues. It was helpful in discussion, but the `phet.log` code from https://github.com/phetsims/sun/commit/855ec6d6cc27b40b0671bbd4ba86618fd1a74671 can be removed now.

[2019-02-14 22:31] pixelzoom commented on #447
`phet.log` removed, tested, closing.

[2019-02-14 22:44] pixelzoom opened #475 "CombBox button changes color after using a11y features"
Here's what ComboBox looks like in Molarity after pressing its button to open the listbox. The pointer is over the button in this screenshot:

<img width="426" alt="screenshot_1064" src="https://user-images.githubusercontent.com/3046552/52822315-940e1f00-306e-11e9-85bd-8c4c3e6d5e43.png">

If I tab to the button, then use the spacebar to open and close the ComboBox, then the button turns dark gray.

[2019-02-14 22:52] pixelzoom commented on #475
The dark gray appears to be `rgb( 153, 153, 153 )`, which is `#999999`. I don't see that color specified explicitly anywhere in PhET code.

[2019-02-14 22:56] pixelzoom commented on #475
When using the mouse, I see the CombBox button change to dark gray on pointer down.  But it returns to white on pointer up.   It's not until a11y input is used that it remains dark gray on pointer over.

[2019-02-14 23:12] pixelzoom commented on #475
When using the keyboard to interact with the button, it gets confused and thinks that it's pressed when it isn't.

In RectangularButtonView, add a `console.log` statement to `updateAppearance`:

[code]

Now follow these steps:

1. Run Molarity with `?a11y`
2. Click and release on the ComboBox button 2x with the mouse, then move the mouse out of the button.  You'll see this output in the console:

[2019-02-14 23:15] pixelzoom commented on #475
So... It looks like the mismatch between pointer and keyboard (a11y) interaction behavior is getting `RectangularButtonView` (and therefore `RectangularPushButton` and `ComboBox`) confused.

[2019-02-14 23:18] pixelzoom commented on #475
To explain why the button is dark gray...  I temporarily changed ResetAllButton to have these defaults:

[code]

... and it behaves the same as ComboBoxButton.  That is, it's white on pointer up (IDLE), and dark gray on pointer down (PRESSED).

[2019-02-14 23:19] jessegreenberg commented on #475
I tracked this down to https://github.com/phetsims/scenery/commit/4f0bb509cad9a5d5a2557ef3b271abfa8d3b36b2 change to PressListener (from three days ago), where we added the a11y portion to `interrupt` from https://github.com/phetsims/scenery/issues/884.

[2019-02-14 23:20] jessegreenberg commented on #475
I assume it is the `downFill` generated from RectangularButtonView.FlatAppearanceStrategy.

[2019-02-14 23:22] pixelzoom commented on #475
I didn't verify, but yes, it probably is the `downFill` generated from RectangularButtonView.FlatAppearanceStrategy.   That seems like an odd color choice for a 'white' button, perhaps worthy of an additional GitHub issue.

[2019-02-14 23:29] jessegreenberg commented on #475
OK, the above commit should fix this. @pixelzoom can you please pull scenery and verify?

[2019-02-14 23:35] pixelzoom commented on #475
👍 Closing.

[2019-02-14 23:35] #475 closed

[2019-02-18 21:16] ariel-phet commented on #436
Noting this may be potentially good work also for hopping into https://github.com/phetsims/tasks/issues/980

[2019-02-18 21:25] arouinfar commented on #436
@ariel-phet has tapped me to take a look at the various flavors of spinners.

@pixelzoom would it be possible for you to list the repos using the various spinner types?  I don't have a way to search all of phet code, so I'd need to go into every sim repo and manually dig through .js files, which isn't particularly efficient (and likely inaccurate).

[2019-02-18 21:45] pixelzoom commented on #436
@arouinfar Here's what I could find.  There may be more "one off" sim-specific spinners.

**sun/NumberSpinner**
* expression-exchange
* reactants-products-and-leftovers
* sun (demo app)
* tambo (demo app)

**scenery-phet/NumberPicker**
* area-model-common (all sims in the Fractions suite)
* balancing-chemical-equations
* equality-explorer (all sims in the Equality Explorer suite)
* function-builde

[2019-02-18 22:30] arouinfar commented on #436
Thanks @pixelzoom! This list is super helpful.

[2019-02-19 01:08] zepumph opened #476 "Browser discrepancies with PDOM combo box"
@twant and I discovered a few interesting differences between the molarity combo box on firefox and chrome. This was while working on phetsims/molarity#57.

* We also noticed that on chrome the role of the button was `combobox`, but couldn't find a reasoning. In firefox the role is `pushbutton`.
* In chrome `aria-labelledby` attribute doesn't seem to fill in the accessible name as expected with bo

[2019-02-19 22:29] jbphet commented on #432
Memory leaks in dialogs appears to be the main cause of the issue reported for blackbody-spectrum in https://github.com/phetsims/blackbody-spectrum/issues/72.  Here are a couple of screenshot from the memory profile comparison:

![image](https://user-images.githubusercontent.com/3082831/53051808-54727900-345a-11e9-9bbb-9335372d3f3f.png)

![image](https://user-images.githubusercontent.com/3082831/5

[2019-02-19 22:38] pixelzoom commented on #432
@jbphet I don't see any sim-specific Dialogs in blackbody-spectrum, so I'm guessing that the Dialogs that you're referring to in the previous comment are exclusively from the PhET menu.  If that's the case, then this is not specific to blackbody-spectrum and is impacting all sims.

[2019-02-20 17:12] jessegreenberg commented on #476
We previously ran into accessible name discrepancies with Chrome in https://github.com/phetsims/a11y-research/issues/116.

I can confirm that what I hear with NVDA and JAWS matches what is shown by the dev tools. With NVDA in FF I hear

In JAWS in Chrome I hear:

Unsure what the discrepancy is or what Chrome isn't happy with.  The second test test makes me wonder if Chrome doesn't like that aria-l

[2019-02-21 04:49] pixelzoom commented on #432
@ariel-phet this issue is still assigned to @andrealin.  Should it be reassigned?

[2019-02-21 16:06] jessegreenberg commented on #432
In https://github.com/phetsims/joist/issues/424 Dialogs from the PhET menu were made to exist for the life of the sim which is why `dispose` is not called on them. Callbacks in PhET menu buttons look like
[code]

[2019-02-21 16:59] pixelzoom commented on #432
Hmmm...  If PhET menu dialogs are persistent, then I wonder what dialogs @jbphet is referring to in blackbody-spectrum.  https://github.com/phetsims/sun/issues/432#issuecomment-465337561 seems to indicate UpdateDialog.

[2019-02-21 18:35] pixelzoom commented on #432
2/21/19 dev meeting:
* @jbphet will look into this.

[2019-02-21 18:36] pixelzoom commented on #347
Reassigning to @ariel-phet for prioritization and assignment.

[2019-02-21 18:36] pixelzoom commented on #433
Reassigning to @ariel-phet for prioritization and assignment.

[2019-02-26 19:49] pixelzoom commented on #472
Looks like this is causing problems in RPAL, where the spinners are now super wide:

<img width="917" alt="screenshot_1085" src="https://user-images.githubusercontent.com/3046552/53441869-019e4180-39c5-11e9-9379-8b00f4ddf64f.png">

[2019-02-26 19:53] pixelzoom commented on #472
Rechecking all users of NumberSpinner:

- [ ] expression-exchange
- [ ]  reactants-products-and-leftovers
- [ ]  sun demo
- [ ]  tambo demo

[2019-02-26 19:54] samreid commented on #474
I reviewed the commits for this issue and didn't see any problems.  I found one outstanding occurrence of DEFAULT_VALUE_PATTERN and opened new issue https://github.com/phetsims/energy-skate-park/issues/63 for it.  I think this issue can be closed.

[2019-02-26 19:54] #474 closed

[2019-02-26 19:59] pixelzoom commented on #472
Expression Exchange also looks wrong, here's the initial state of the Variables accordion box (Basics screen) in production (left) vs master (right):

<img width="176" alt="screenshot_1089" src="https://user-images.githubusercontent.com/3046552/53442302-3e1e6d00-39c6-11e9-93a5-daa63e8342c4.png"> <img width="178" alt="screenshot_1088" src="https://user-images.githubusercontent.com/3046552/53442310-

[2019-02-26 20:02] pixelzoom commented on #472
sun demo also affected, though more subtly.  Before (top) vs after (bottom):

<img width="943" alt="screenshot_1090" src="https://user-images.githubusercontent.com/3046552/53442528-b8e78800-39c6-11e9-9b65-5a1cc07fb908.png">

<img width="880" alt="screenshot_1091" src="https://user-images.githubusercontent.com/3046552/53442509-aff6b680-39c6-11e9-9743-a537f1a34136.png">

[2019-02-26 20:05] pixelzoom commented on #472
First screen in tambo before (top) and after (bottom).  Good to know that I consistently overlooked all problems when I completed the checklist in https://github.com/phetsims/sun/issues/472#issuecomment-460786006 :)

<img width="360" alt="screenshot_1092" src="https://user-images.githubusercontent.com/3046552/53442700-20053c80-39c7-11e9-9ab1-f7a19447f4aa.png">
<img width="367" alt="screenshot_1093

[2019-02-26 20:24] pixelzoom commented on #472
Fixed in the above commit.  There was a stray `StringUtils.format` that needed to be converted to `StringUtils.fillIn`, and it was in the code that computed the maxWidth of the spinner.  Verified in all clients of NumberSpinner.

Back to @samreid for review.

[2019-02-27 16:41] pixelzoom commented on #472
Re the suggestion in https://github.com/phetsims/sun/issues/472#issuecomment-461165542 to verify that `valuePattern` contains `{{value}}`...   That caused problems with `stringTest`, which replaces the entire strings, e.g. https://github.com/phetsims/masses-and-springs/issues/344.   So in the above commit, that verification is done only if `stringTest` is not present.

[2019-02-27 22:13] jbphet commented on #432
I tested this using the "Blast" example sim, since it has very little going on that would cause memory to be allocated.  I'll add details below, but my conclusion is that the dialogs are not leaking memory, they just take a while to allocate all that they use.  This was done on master as of today.

Below is a screenshot of the rate of leakage on blast.  There does seem to be a slow leak during fuz

[2019-02-27 23:11] pixelzoom commented on #424
The title of this issue is "Interval for firing button listeners when holding down enter key", but in https://github.com/phetsims/scenery/issues/939#issue-404025451 we concluded that Enter and Space should behave the same.   So are we planning to support fire-on-hold for Space?  And how do we do that when we only get `click` on release when using 'button' role?

[2019-02-28 21:22] pixelzoom opened #477 "AccordionBox: remove or instrument interactivity of titlebar"
In https://github.com/phetsims/graphing-quadratics/issues/112, the design team identified that interactivity of the AccordionBox's titlebar is problematic, and the consensus is that we'd like to remove that feature. The way to expand/collapse the AccordionBox would be via its ExpandCollapseButton.  This would address other issues that titlebar interactively has caused, and simplify AccordionBox's

[2019-02-28 21:53] pixelzoom opened #478 "change look of disabled Slider"
In https://github.com/phetsims/graphing-quadratics/issues/112 and https://docs.google.com/document/d/1OfHhIDuaBt-hhXVtpnJgM3Wm0iByJ7dmXd-2UkphUR4/edit#, we concluded that Slider's disabled "look" is not desirable.  The entire slider should gray out by changing opacity, like other UI components (e.g. Checkbox).

Assigning to @ariel-phet to prioritize and assign.

[2019-03-01 00:11] pixelzoom commented on #477
Removing this feature from AccordionBox would be very easy.  Just remove this code, starting at line 228:

[code]

[2019-03-01 00:18] pixelzoom commented on #477
Removing this feature would resolve https://github.com/phetsims/sun/issues/423.

There are 2 open issues for AccordionBox a11y, https://github.com/phetsims/sun/issues/359 and https://github.com/phetsims/sun/issues/444.   Looks like the main change to a11y is that the focus highlight would need to change to surround the ExpandCollapseButton only.

[2019-03-01 00:24] pixelzoom commented on #477
@jessegreenberg Let's discuss whenever you're available.

[2019-03-01 00:35] pixelzoom opened #479 "binder documentation is not specific to a11y"
I see 6 occurrences of this comment in sun UI components:

[code]

Just a nit, but binder documentation is not specific to a11y.  The .md files are general design documents, which include a11y considerations.   Since the majority of similar comments don't mention a11y, I'm going to remove the "a11y -" prefix from these comments.

[2019-03-01 00:36] pixelzoom commented on #479
@mbarlow12 FYI. Feel free to close.

[2019-03-01 02:37] pixelzoom opened #480 "how to instrument AccordionBox's expandCollapseButton?"
In https://github.com/phetsims/graphing-quadratics/issues/112, we want to "feature" `graphingQuadratics.*.view.equationAccordionBox.expandCollapseButton.visibleProperty`.  That is currently not possible, since `expandCollapseButton` is private to AccordionBox.

Two options:

(1) Set `expandCollapseButton.visibleProperty` to "featured" inside of AccordionBox. It will be that way for all sims, and w

[2019-03-01 02:40] pixelzoom commented on #480
Here's how featuring `expandCollapseButton.visibleProperty` would be done if we choose option (2) above.

[code]

[2019-03-01 21:24] pixelzoom commented on #480
https://github.com/phetsims/sun/issues/477 also affects how we do this.  If we proceed with #477, then one of the 2 options above will work.  If not, then we will need to reevaluate how to proceed.

[2019-03-01 23:08] pixelzoom commented on #478
Here's what a disabled Slider currently looks like (a & b sliders).  The only visual change is the color of the thumb, and the default is `thumbFillDisabled: '#F0F0F0'`.   This is inconsistent with disabled look of other UI components.

<img width="260" alt="screenshot_1097" src="https://user-images.githubusercontent.com/3046552/53671498-dc673880-3c3b-11e9-95be-54a7d0fe0b83.png">

Here's what is d

[2019-03-01 23:28] pixelzoom commented on #478
Notes to self about changes to Slider that will achieve the desired look as shown in https://github.com/phetsims/sun/issues/478#issuecomment-468842329:

* remove `enabledProperty` and `thumbFillDisabled ` option from SliderThumb
* remove `thumbFillDisabled` option from Slider
* add `disabledOpacity: 0.3` option to Slider
* in Slider `enabledObserver`, add `self.opacity = enabled ? 1 : options.disa

[2019-03-04 17:43] amanda-phet commented on #480
I don't think I have enough of an understanding to provide an opinion on which way to go. If I understand option (1) correctly, it sounds like this would always be featured for every accordion box in every sim, and that doesn't seem like a good idea. We might not always want that button to be in the featured list.

[2019-03-04 19:38] pixelzoom commented on #477
@jessegreenberg and I discussed on Slack.  He doesn't see any problem with what's proposed. And he pointed out that removing interactivity will not affect the focus highlight specification in [AccordionBox.md](https://github.com/phetsims/sun/blob/master/doc/AccordionBox.md), since the titlebar will still be present.  So I will proceed.

[2019-03-04 19:42] pixelzoom commented on #477
Slack:

Chris Malley [12:40 PM]
I believe that you’re the only designer who was not consulted this proposed change to AcccordionBox, see https://github.com/phetsims/sun/issues/477.  The proposal is to remove interactivity of the titlebar, so that you can only expand/collapse using the button.  Do you foresee any problems with this?

Amy Rouinfar [12:41 PM]
So long as the touch area on the open/clo

[2019-03-04 19:55] pixelzoom commented on #477
`titleBarExpandCollapse` and its usages have been removed.  I tested in a large cross-section of sims that use AccordionBox.

@ariel-phet please assign someone to review. This should be a quick review, the changes were minimal.

[2019-03-04 19:57] pixelzoom commented on #423
@jonathanolson The titlebar is no longer interactive, see https://github.com/phetsims/sun/issues/477.  Does that make this a non-issue?

[2019-03-04 20:09] pixelzoom commented on #480
@amanda-phet You understand correctly. Option (1) means that `expandCollapseButton.visibleProperty` would be featured for all sims, with no ability to customize. I agree that's not a good general solution.  But someone else will need to make the call on cost vs flexibility.

[2019-03-04 20:11] pixelzoom commented on #480
If we proceed with option (2), here are the AccordionBox options that will need to be nested in `expandCollapseButtonOptions`.   In addition to the internal changes to AccordionBox, uses of these options will need to be identified in all sims, and manually nested.

[code]

[2019-03-04 20:19] pixelzoom opened #481 "AccordionBox: bad implementation of titleBarOptions"
I ran into this while adding nested options to AccordionBox in https://github.com/phetsims/sun/issues/480.

In https://github.com/phetsims/sun/commit/89ffb3b65e75731283538574ad8fdb5aa5eba84c, @jonathanolson added this to AccordionBox options:

[code]

I don't know if it was an oversight or for expediency, but existing titlebar options were not moved to `titleBarOptions`. So this is misleading and

[2019-03-04 20:23] pixelzoom commented on #481
Here are the number of usages for the options that need to be nested:

titlebarFill (1)
titlebarStroke (0)

Looks relatively easy, so I'm just going to do this.

[2019-03-04 20:35] pixelzoom commented on #481
titleBar options are now nested, see above commits.

@ariel-phet please assign someone to review. Should be a quick one.

[2019-03-04 20:41] pixelzoom commented on #480
Hmm.... Looking at these options, there's only one (`buttonLength`) that can be propagated to ExpandCollapseButton constructor.   `buttonAlign`, `buttonXMargin` and `buttonYMargin` are used in layout.  `*Dilation` are used to set pointer areas _after_ the ExpandCollapseButton has been instantiated.

[2019-03-04 20:56] pixelzoom commented on #480
Here's what I'm considering.  @samreid @zepumph please comment.

AccordionBox:

[code]

Client who wants to feature `expandCollapseButton.visibleProperty`:

[code]

[2019-03-04 21:03] pixelzoom commented on #480
Here's a summary of the options that would be nested, and what their new names would be:

| current name | nested name |
| :--- | :--- |
| buttonLength | sideLength |
| buttonTouchAreaXDilation | touchAreaXDilation |
| buttonTouchAreaYDilation | touchAreaYDilation |
| buttonMouseAreaXDilation| mouseAreaXDilation |
| buttonMouseAreaYDilation | mouseAreaYDilation |

[2019-03-04 21:09] zepumph opened #482 "Add support for accessibleSlider/NumberPicker to have verbose value text on focus"
In GFLB and regular I am finding that it is a bit of a pain to support cases where we want a basic value text to be read out each time the value changes, and a more verbose one to be read out only on focus.

I am finding myself implementing this manually in GFL/MassControl and GFLB/GFLBMassControl.

[2019-03-04 21:24] jonathanolson commented on #481
Looks good to me. Sorry about that!

[2019-03-04 21:24] #481 closed

[2019-03-04 21:42] pixelzoom commented on #480
Ah, rats.  ExpandCollapseButton is not a sun button.  It's a subtype of Node.

[2019-03-04 21:48] pixelzoom opened #483 "implement ExpandCollapseButton as a sun button"
I ran into this problem in https://github.com/phetsims/sun/issues/480.   We want to pass nested options to AccordionBox's ExpandCollapseButton instance, and those options include pointerArea options that are generally supported by sun buttons.  But (after considerable work had been done) I discovered that ExpandCollapseButton is not a button at all.  It's a Node that's made to look like a button.

[2019-03-04 21:54] pixelzoom commented on #483
This is going to be a non-trivial change.  To continue with #480, I temporarily added these options, along with code to set pointer areas:

[code]

[2019-03-04 22:10] pixelzoom commented on #480
I'm proceeding with the proposal in https://github.com/phetsims/sun/issues/480#issuecomment-469418368.  Affects sims:

- [ ] area-model suite
- [ ] balancing-chemical-equations
- [ ] build-an-atom
- [ ] curve-fitting
- [ ] equality-explorer
- [ ] expression-exchange
- [ ] fluid-pressure-and-flow
- [ ] fractions suite
- [ ] gas-properties
- [ ] gene-expression
- [ ] graphing-lines
- [ ] graphing-qu

[2019-03-04 22:18] samreid commented on #480
The proposal in https://github.com/phetsims/sun/issues/480#issuecomment-469418368 looks reasonable.  I do not feel like `phetioComponentOptions` is an optimal pattern but that will be addressed elsewhere, if at all.

[2019-03-04 23:09] pixelzoom commented on #478
I believe that @arouinfar was the only sim designer not in the Graphing Quadratics design meeting, https://github.com/phetsims/graphing-quadratics/issues/112.  @arouinfar could you please review the proposed change for the look of a disabled slider (see https://github.com/phetsims/sun/issues/478#issuecomment-468842329), and let us know if you have any concerns?

[2019-03-05 03:59] ariel-phet commented on #478
@pixelzoom I think myself, @arouinfar, @amanda-phet, and @kathy-phet would be the current stakeholders. What have you have done looks correct to me, and what @kathy-phet and company seemed to have in mind.

[2019-03-05 09:15] terracoda commented on #482
@zepumph, having **an option** to provide the extra dynamic state information on focus through `aria-valuetext` would be great.

It is not always needed. For example, in JT, RIAW and OL we didn't need this option.

[2019-03-05 17:25] arouinfar commented on #478
Thanks for checking @pixelzoom. I think the proposal with reduced opacity sliders looks nice, and would agree that it is more consistent with other disabled UI components.

[2019-03-05 17:36] jessegreenberg commented on #483
Discussion over slack, @jessegreenberg will work on this.

[2019-03-05 17:56] jessegreenberg commented on #483
ExpandCollapseButton is used in these places which I will spot check before committing.

 - [ ] curve-fitting\js\curve-fitting\view\EquationGraphPanelNode.js
 - [ ] optics-lab\js\optics-lab\view\ControlPanel.js
 - [ ] optics-lab\js\optics-lab\view\SelectedPieceControlPanel.js
 - [ ] ph-scale\js\common\view\PHMeterNode.js:
 - [ ] scenery-phet\js\demo\MemoryTestsScreenView.js
 - [ ] sun\js\Accordion