[2013-05-21 21:39] pixelzoom opened #1 "make PanelNode dynamically resize to match its content"

[2013-05-21 21:41] #1 closed, assigned to nobody

[2013-05-30 03:39] samreid opened #2 "Buttons should be able to addListener"
Right now many Sun components only provide one callback provided as a constructor argument.

[2013-05-30 03:39] samreid opened #3 "Buttons should look different on rollover, press, disable, etc."
Buttons should look different on rollover, press, disable, etc.

[2013-06-04 15:48] pixelzoom opened #4 "Radio Buttons (design and implement)"

[2013-06-04 15:48] pixelzoom opened #5 "Combo Box (design and implement)"

[2013-06-04 15:49] pixelzoom opened #6 "Buttons (design and implement)"
This includes push buttons, toggle buttons, and momentary buttons.

[2013-06-04 15:49] pixelzoom opened #7 "Accordion Box (design and implement)"

[2013-06-04 15:51] pixelzoom opened #8 "Check Box (design and implement)"
There are currently 2 preliminary implementations: sun.CheckBox and molarity.CheckBox.

sun.CheckBox has a control panel around the check box, which makes is not generally desirable in all sims. I think the control panel should be removed. If you want a control panel, wrap the CheckBox in sun.PanelNode.

[2013-06-04 15:52] pixelzoom opened #9 "Slider (design and implement)"

[2013-06-04 15:52] pixelzoom opened #10 "Menu (design and implement)"
This may have some things in common with Combo Box.

[2013-06-18 21:16] pixelzoom opened #11 "applying options twice results in buggy result"
I'm creating this issue for sun, but it occurs in other repos.

Here's the problematic pattern, eg in Button.js :

[code]

Try this with options { scale: 0.5 } and you'll see the problem. The options are applied twice, and that's bad news for any options (like scale) that are cumulative.

[2013-06-20 23:53] #11 closed, assigned to nobody

[2013-07-08 19:03] pixelzoom opened #12 "use meaningful names for options related to accessibility"
... for example, ToggleButton has a 'label' option.

new ToggleButton( { label: 'Sound'} ) is misleading, leads me to believe that the button will be labeled, and tells me nothing about how the string will be used (it's spoken by the screen reader.)

I suggest using a prefix for all accessibility-related options.

[2013-07-24 18:30] pixelzoom opened #13 "use a single implementation of ResetAllButton"
On instructions from AP, all sims have their own local copy of ResetAllButton and associated images.  A single copy should be moved to 'scenery-phet' and used by all sims. To do this, we'll need to solve the problem of how to include common-code images in a build.

[2013-07-25 04:18] jonathanolson opened #14 "ComboBox exception after opening by clicking on home button"
Encountered this while fuzzing BLL, not sure whether it is a Scenery issue or ComboBox issue yet.

To reproduce with assertions (ea):
1. Load BLL (local development copy)
2. Open the Concentration tab
3. Click on the Combo Box to open it
4. Click on the Home button

To reproduce a consequent runtime error (assertions disabled)
1. Load BLL (no assertions, latest dev version http://www.colorado.edu/

[2013-07-25 04:49] #14 closed, assigned to pixelzoom

[2013-08-01 19:04] #3 closed, assigned to nobody

[2013-08-01 19:07] #2 closed, assigned to nobody

[2013-08-01 19:10] #13 closed, assigned to nobody

[2013-08-13 18:15] samreid opened #15 "FontAwesomeNode is too big"
FontAwesomeNode is around 30kb zipped, and could be stripped out since we aren't using everything.  Some options are:
1. comment out unused glyphs, they will get stripped out at minification time
2. split into separate files
3. delete unused glyphs

For Phase I, I am going to do (3) delete unused glyphs.  They can easily be restored from history, and later I would advocate for something more like

[2013-08-16 01:25] jonathanolson opened #16 "ComboBox multitouch can leave persistent highlighting"
Open the combo box, then with two fingers press down on two options. Release on one finger. When you open the combo box again, the 2nd item is still highlighted.

[2013-08-30 20:50] pixelzoom opened #17 "rename or delete touchArea*Padding options"
There are a couple of types (CheckBox, VerticalCheckBoxGroup) that have these options:

touchAreaTopPadding: 0,
touchAreaBottomPadding: 0,
touchAreaLeftPadding: 0,
touchAreaRightPadding: 0

These are used to set mouseArea and touchArea, so they should be renamed hitArea*Padding.

Do we plan to support these for all sun components? If not, then I think we should just delete them.

I do not see any

[2013-09-03 19:10] pixelzoom opened #18 "use visible instead of add/removeChild to pop up/down ComboBox list"
This was noticed in https://github.com/phetsims/beers-law-lab/issues/17. Might be a performance improvement.

[2013-09-03 19:40] #18 closed, assigned to pixelzoom

[2013-09-05 17:09] jonathanolson opened #19 "Enabled/disabled mix-in"
See https://github.com/phetsims/scenery/issues/17 for more details and discussion, we don't want to add it directly to Scenery.

[2013-09-06 18:54] pixelzoom opened #20 "ComboBox: make listParent a required constructor parameter, versus an option"
listParent is the node that the popup list is attached to.  If you want to guarantee that the list appears above everything, you'll typically provide a Node that is in front of everything else in your scene. But it's currently optional, and defaults to 'this', the ComboBox node itself.

This comes with some 'gotchas', the biggest of which is the affect on ComboBox bounds. The list is managed using

[2013-09-06 19:49] #20 closed, assigned to pixelzoom

[2013-09-09 22:31] pixelzoom opened #21 "callback should be an option for buttons, not a required constructor parameter"
This applies to PushButton, RectangleButton and TextButton.  It's inconvenient and unnecessary to provide a callback at construction time. It's also inconvenient to be able to provide only one callback. There should be a 'listeners' option, an array of callback functions.

[code]

I think this may improve readability a bit, too. Sticking the callback before the options makes the constructor a bit

[2013-09-09 23:03] pixelzoom opened #22 "generalize expand/collapse buttons"
These are the red '+' and green '-' buttons used in many sims to expand and collapse panels, usually to show/hide features. They are currently tightly integrated into sun.AccordionBox, they don't use sun buttons, and they fire on 'down' instead of 'up'. They should be implemented as subtypes of RectangleButton.

They are needed immediately in graphing-lines.

[2013-09-11 23:08] #22 closed, assigned to nobody

[2013-09-17 02:36] samreid opened #23 "Panel backgrounds should be pickable if panel is pickable"
A recent change 530315de2f9d4cde870ed3436844be14bc7695db made panel backgrounds unpickable by default.  However, in some cases, you should be able to set the background to be pickable.  For instance, in Energy Skate Park: Basics, the panels can be dragged like windows by dragging their content.  One way would be through the constructor pickable option, another way would be through a setter (the la

[2013-09-17 03:20] #23 closed, assigned to nobody

[2013-09-19 18:20] pixelzoom opened #24 "problems with how options are propagated in TextButton"
TextButton's options are passed to it's scenery.Text child, in addition to being passed to it's supertype constructor.  If you pass in options like x,y,scale,... this will cause problems. The options will be applied to both the TextButton and its child scenery.Text.

[2013-10-02 19:06] #24 closed, assigned to nobody

[2013-10-11 17:40] jonathanolson opened #25 "Add a PlayPauseButton and StepButton"
We have tentative graphics in WOAS, but Scenery-drawn would be more resolution-independent.

[2013-10-11 18:00] jonathanolson opened #26 "Check boxes and radio buttons should probably switch the text/check order for RTL languages"

[2013-10-11 18:09] #26 closed, assigned to nobody

[2013-10-11 20:24] jonathanolson opened #27 "ToggleButton responds to 'up' events without previous 'down' events"
It should behave more like other buttons, and almost certainly should use ButtonListener

[2013-10-29 02:53] #17 closed, assigned to pixelzoom

[2013-10-29 02:58] pixelzoom opened #28 "should sun components be setting a default renderer?"
AccordionBox, VerticalAquaRadioButtonGroup and VerticalCheckBoxGroup are all setting their renderer (or a subcomponent's renderer) to 'svg'.  I don't think that sun components should not be doing this. The default renderer should be set by scenery, and clients should override it only if necessary.

For example, if my sim is setting renderer to 'whatever' in my ScreenView, I don't expect sun to be

[2013-10-29 03:18] pixelzoom opened #29 "reimplement ExpandCollapseButton as a subtype of ToggleButton"
... in order to get highlighting, enabled feature, etc.

Address https://github.com/phetsims/sun/issues/27 first.

[2013-10-29 04:39] pixelzoom opened #30 "replace VerticalAquaRadioButtonGroup and VerticalCheckBoxGroup with layout managers"
Add layout managers, either in scenery, sun or scenery-phet, to make these groups go away.

Or clean up these groups, and generalize to one 'vertical group' that is independent of component type. There is duplicate code here.

[2013-10-29 17:11] #28 closed, assigned to pixelzoom

[2013-10-31 19:22] pixelzoom opened #31 "pickable:false to enhance performance of some 'sun' components"
Applicable to components like RadioButton (and CheckBox?) that put an invisible rectangle on top of visible elements.

@samreid said: Proceed with caution, some rectangles might be serving as bounds.

[2013-11-04 00:22] #31 closed, assigned to nobody

[2013-11-04 18:11] pixelzoom opened #32 "ToggleButton overhaul"
Merge beers-law-lab.ToggleButton into sun.ToggleButton: https://github.com/phetsims/beers-law-lab/issues/13

Make sun.ToggleButton behave like a proper button: https://github.com/phetsims/sun/issues/27

[2013-11-04 18:11] #27 closed, assigned to pixelzoom

[2013-11-04 18:41] #21 closed, assigned to pixelzoom

[2013-11-04 19:25] jbphet opened #33 "Should be able to pass boxScale option through VerticalCheckBoxGroup to CheckBox"
CheckBox has an option 'boxScale' that allows tweaking of the size of the check box with relation to the textual label.  That option isn't passed through VerticalCheckBoxGroup, and a request has been logged on the BAA sim that could be easily fixed if this option were available.  See https://github.com/phetsims/build-an-atom/issues/70.

[2013-11-04 19:54] #15 closed, assigned to nobody

[2013-11-05 18:43] pixelzoom opened #34 "create a version of RectanglePushButton that can has pseudo-3D look"
... to support vegas.LevelStartButton.  Run BAA game to see how this looks.

[2013-11-07 16:18] samreid opened #35 "Setting PushButton {children:[]} replaces the button part"
I tried putting:

[code]

and it caused the normal button parts (e.g. goUpImage) to be omitted.  Should we be able to add children using the {children:[]} option in PushButton?

[2013-11-11 04:02] samreid opened #36 "Performance improvements for ToggleNode"
In https://github.com/phetsims/joist/issues/88#issuecomment-28170299 we suspected ToggleNode's inferior performance could be causing the slow tab changes.  It should be rewritten to use setVisible not setChildren.

[2013-11-11 17:30] samreid opened #37 "PushButton cannot use same instance for its args"
PushButton will break (not show the correct node visibilities) if some nodes are passed as multiple arguments.  For instance, in HomeButton, I put:

PushButton.call(this,icon,icon,icon,icon)

and it never showed up since it is setting icon.visible=false last (perhaps for the down or disabled part).  We had the same problem in https://github.com/phetsims/sun/issues/36 and decided to wrap the nodes

[2013-11-12 04:31] #36 closed, assigned to jonathanolson

[2013-11-20 18:58] pixelzoom opened #38 "items in sun.ComboBox don't highlight (Firefox 25)"
When you put the pointer over the items in a sun.ComboBox's list, the items are supposed to highlight.  This isn't currently working on Firefox 25 on Mac OS 10.8.5. This is probably a scenery issue. Here are the details, using 'Concentration' to demonstrate:

Test device: MacBookPro5,3
Operating System: Mac OS X 10.8.5
Browser: Firefox 25.0.1
Problem description: items in the ComboBox list don't h

[2013-11-28 00:57] jbphet opened #39 "Add a 'minWidth' parameter to Panel"
It would be good to be able to force a panel to be a specific minimum width.  This is needed initial for the Balancing Act simulation, but will likely be needed in other sims.

This also implies adding an 'align' parameter to define where the content should be placed when the panel is more than large enough to hold it.

[2013-11-29 17:58] #39 closed, assigned to nobody

[2013-11-29 19:23] jbphet opened #40 "Proposal: Size check boxes using width option instead of 'boxScale'"
CheckBox.js currently has a 'boxScale' option for setting the size of the check box. I am proposing that this be changed to boxWidth or boxLength instead, since having a scale parameter requires a bunch of trial and error and will make things tricky if we ever change out the underlying implementation.

[2013-12-02 19:22] #40 closed, assigned to nobody

[2013-12-05 17:17] samreid opened #41 "CheckBox takes a long time to instantiate!"
According to my Win8/Chrome, it is taking about 90ms to instantiate the checkboxes for tab 2.  This is because they are FontAwesomeNode, which seems expensive to create.
![flamechart](https://f.cloud.github.com/assets/679486/1684907/ed97c7ea-5dd0-11e3-910d-fb762fa17604.png)

[2013-12-05 21:56] pixelzoom opened #42 "ComboBox change requests for ph-scale"
In interviews, students were not finding the combo box in the 'pH Scale: Basics' sim. Change requests:
- add option to change background color of the arrow button
- place a vertical separator to the left of the arrow button
- add option for rounded corners on the combo box button  (I think this may already exist)
- add option to set stroke on combo box button (I think this may already exist)

[2013-12-13 19:33] samreid opened #43 "Add a smooth shape for "undo" icons"
In Energy Skate Park and Gravity and Orbits, we need an undo icon.  We have been using an SVG but it looks crummy at some scales in Chrome.  Can we replace it with a scenery arc and path?  See https://github.com/phetsims/energy-skate-park-basics/issues/57

[2014-01-07 04:05] samreid opened #44 "Should PushButton be avoided?"
PushButton requires creation of different children like so:

[code]

But when the upNode, overNode, downNode, disabledNode are complex and very similar, it could create performance/memory problems.

@jonathanolson said:  I have a general preference for mutating node state (fill, highlight visibility) instead of creating 4 copies of it and passing it to PushButton (in NavibationBarScreenButton).  i

[2014-01-15 20:59] samreid opened #45 "PushButton is gray but has cursor:pointer if created with enabled:false"
PushButton is gray but has cursor:pointer if created with enabled:false.

[2014-02-14 19:27] jbphet opened #46 "Add enabled/disabled to check boxes"
Radio buttons don't currently support being disabled, and there is a need to do so in a simulation (see https://github.com/phetsims/acid-base-solutions/issues/3).

[2014-02-14 20:35] jbphet opened #47 "Add a demo app that can be used to show components and can be easily published"
Sun should have an app that can be used to demonstrate and showcase the various UI components, and that can be published using the tools that are used for the publication of the simulations.

[2014-02-25 19:47] pixelzoom opened #48 "layout managers needed"
Preferably something based on springs and struts. Or Swing GridBagLayout.

To help with this sort of control-panel layout:

![screenshot_30](https://f.cloud.github.com/assets/3046552/2261992/692e56fc-9e55-11e3-9eb0-e3fe28b07982.png)

so we don't have to write this sort of code:

https://github.com/phetsims/energy-skate-park-basics/blob/master/js/view/EnergySkateParkBasicsControlPanel.js

[2014-03-17 15:44] samreid opened #49 "undefined error when options not provided in experimental/buttons/RectangularPushButton"
Uncaught TypeError: Cannot read property 'listener' of undefined.

[2014-03-17 18:25] #46 closed, assigned to nobody

[2014-03-19 16:57] #49 closed, assigned to jbphet

[2014-03-26 04:19] pixelzoom opened #50 "incorrect shadow offset in InOutRadioButton"
Below are some buttons that I created in acid-base-solutions, using sun.InOutRadioButton. For size reference, the icons are 40px tall.  The default settings for InOutRadioButton are shadowXOffset = shadowYOffset = 4.  This sure looks like way more than 4px offset for the shadows. I tried to track this down but found the implementation to be a bit confusing.

![screenshot_50](https://f.cloud.github

[2014-03-26 04:20] pixelzoom opened #51 "InOutRadioButton creates unnecessary nodes"
InOutRadioButton creates 2 panels, local variable names are 'pressed' and 'upButton'. It only needs to create one of these. The same panel can be reused for both the pressed and unpressed state (remember, scenery is a DAG.) I think this would also improve what is currently a confusing implementation.

[2014-03-28 21:11] samreid opened #52 "Factor out code in experimental/buttons/RectangularPushButton interactionState link?"
Just a question--let me know if this is a bad idea or not:

What about refactoring the link in RectangularPushButton?  It currently reads as:

[code]

but could be rewritten as:

[code]

if the `states` were populated with the right values in the constructor.  `state` and `states` could be renamed something else if you like.  Anyways, it would factor out some duplicated logic but could take away s

[2014-03-31 21:17] samreid opened #53 "Support color nicknames and hex for Buttons"
SUN/experimental/buttons/RoundPushButton currently requires colors to be passed in as new Color(r,g,b).  I recommend adding support for colors like 'black' and '#ff0000'.

[2014-04-01 22:53] jbphet opened #54 "Comments on experimental buttons"
Comments on the implementation of the experimental button model as of 3/29/2014, https://github.com/phetsims/sun/commit/2931c5d2bdd669a46e48c7522ee2038e1bbae0c9, received from @jonathanolson.
1. Enter on pointer A, then enter and down on pointer B will trigger an assertion failure 'down event received from unexpected pointer'
2. Disabling and enabling a button while a pointer is over will put the

[2014-04-06 19:37] pixelzoom opened #55 "Slider silently ignores out-of-range values"
When attempting to set an out-of-range value, sliders silently ignore that value and 'clamp' to the closes in-range value.

Here's the line in HSlider:

[code]

While this is certainly convenient, it has the potential to mask problems, as discovered in https://github.com/phetsims/acid-base-solutions/issues/94.  If clients are attempting to set an out-of-range value, there are likely problems elsew

[2014-04-07 14:32] samreid opened #56 "We need a carousel"
For situations like https://github.com/phetsims/balancing-act/issues/18 it would be good to have a carousel component in sun.

[2014-04-09 03:04] samreid opened #57 "Modularize experimental button model & listener"
The experimental buttons have two problems I would like to investigate:

1) The logic for what to do with the buttons is based on a complex finite state machine, which models particular transitions like so:

[code]

This means when setting the enabled state of the button, it updates the interaction state based on the previous states.  However, there is logic like this for all of the transitions (e

[2014-04-09 20:18] samreid opened #58 "RoundPushButton should use PushButtonView"
Yesterday @jbphet and I factored out PushButtonView for reuse in toggle buttons.  We still need to refactor RoundPushButton to use it though.

[2014-04-10 16:57] pixelzoom opened #59 "code review of experimental buttons"
@pixelzoom will do this the week of April 14, unless something higher priority comes up.  Ping the other developers before starting.

[2014-04-11 03:40] samreid opened #60 "AccordionBox title should be settable"
For Seasons, it would be convenient to set the AccordionBox title.

[2014-04-11 15:10] samreid opened #61 "AccordionBox open property should be named openProperty"
To match our conventions and axon property set naming conventions, I recommend to rename AccordionBox.open => AccordionBox.openProperty.  It looks like part of the public API so some sim usages may need to be changed (say for sims that are resetting the open/closed state of the AccordionBox).

Reassigning to @jbphet for discussion.

[2014-04-13 00:38] samreid opened #62 "AccordionBox should allow openProperty to be passed in as an optional argument"
This will make it easier to sync with external code, and simplify model resetting.  (As well as matching our conventions with other code like ToggleButtons).

Here is a skype conversation I had with @jbphet:

[4/11/2014 10:59:41 AM] Sam Reid: another question about https://github.com/phetsims/sun/issues/61#issuecomment-40221435

in cases like that, what do you think about optionally passing in the

[2014-04-14 22:07] pixelzoom opened #63 "repository has no LICENSE file"

[2014-04-15 23:58] pixelzoom opened #64 "ABSwitch sometimes moves without toggling"
Originally reported here: https://github.com/phetsims/acid-base-solutions/issues/107

[2014-04-16 17:51] pixelzoom opened #65 "disabled CheckBox should not show enabled cursor"
Originally reported in https://github.com/phetsims/acid-base-solutions/issues/111

[2014-04-16 17:53] #65 closed, assigned to nobody

[2014-04-17 00:13] pixelzoom opened #66 "Slider tracks don't have a mouse cursor and are hard to click/tap"
Reported here: https://github.com/phetsims/acid-base-solutions/issues/120

This is an issue with HSlider and VSlider.  pointerAreas for the track should be adjustable. I'm not totally convinced that a 'pointer' cursor for the track is desirable.

[2014-04-17 00:14] pixelzoom opened #67 "adjustable pointerAreas for OnOffSwitch"
The API currently does not support adjusting pointerAreas for the thumb and track.

[2014-04-18 17:06] pixelzoom opened #68 "provide guidance on PushButtonModel properties"
Related to code review #59.

PushButtonModel is a PropertySet with properties down, up, enabled. There is also a derived property interactionState, which converts down/up/enabled into a string that describes a unique state. Providing 2 ways to do things may result in inconsistent approaches in client code, depending on which properties a developer choses to use. I recommend adding some documentati

[2014-04-18 17:25] pixelzoom opened #69 "how (or whether) to document require calls"
Related to code review #59.

Calls to require() are documented in various ways:

// Include

// Import

... or not at all.

Not a big deal, but it is inconsistent. And I think having a comment is useful for developers who may not be familiar with RequireJS. But other developers disagree, so I'm not going to change anything here, just note that it should be handled consistently within a repo.

[2014-04-18 17:38] pixelzoom opened #70 "toggledProperty is an ambiguous name"
Related to code review #59.

StickyToggleButtonModel constructor has parameter toggledProperty. Code comments refer to 'toggled' and 'untoggled'. And there is a 'readyToToggleUp' options.

'Toggled' is similar to 'switched', it doesn't denote a state, it denotes something that happened relative to the previous state.

Consider a better name for this, especially since it's in the fundamental model

[2014-04-18 17:47] pixelzoom opened #71 "generalize StickyToggleButtonModel to support any type, not just boolean"
Related to code review #59, may negate the need to do work on #70.

StickyToggleButtonModel has constructor parameter {Property<Boolean>} toggledProperty. I expected to see a choice between 2 values (of any type, similar to sun.ABSwitch), not a boolean. This would support true/false, on/off, "Dog"/"Cat", or toggling between any 2 values.  Things like "pushed down", "popped up", .... don't belong h

[2014-04-18 17:49] pixelzoom opened #72 "PushButtonModel and StickyToggleButtonModel share same properties"
Related to #59.

PushButtonModel and StickyToggleButtonModel are both subtypes of PropertySet with properties over, down and enabled.  Might it be appropriate to factor out a supertype, something like ButtonModel?

[2014-04-18 18:12] pixelzoom opened #73 "error in RectangularButtonView doc?"
Related to code review #59.

The type doc for RectangularButtonView says:

Is "rectangular push button" correct, or should it just be "rectangular button"? There is a RectangularPushButton type, so I suspect that RectangularButtonView might have been factored out to be potentially used with buttons that are not necessarily "push" buttons.

[2014-04-18 18:23] pixelzoom opened #74 "various issues with RectangularButtonView and its model"
Related to code review #59.

RectangularButtonView has constructor parameter buttonModel.  Based on usage of buttonModel, PushButtonModel will work, but StickyToggleButtonModel will not.

Some documentation options:
1. @param {PushButtonModel} pushButtonModel
2. @param { ... describe duck type ... } buttonModel

The fact that RectangularButtonView won't work with StickyToggleButtonModel raises ano

[2014-04-18 18:34] pixelzoom opened #75 "problems with interface for providing 'content' to button view"
Related to code review #59.

The button hierarchy has an odd interface for providing content.  Here's an example from RectangularPushButton. The same pattern is found in RoundPushButton.

[code]

If options.content is provided, then the content parameter will be ignored.

Here's one way to fix this:

[code]

But looking into RectangularButtonView... Why is content passed in via options, and why do

[2014-04-18 18:43] pixelzoom opened #76 "move addInputListener responsibility to View types"
Related to code review #59.

RectangularPushButton constructor looks like this, RoundPushButton is similar:

[code]

Why not make the supertype responsible for addInputListener, which is a view responsibility?  Then the constructor would become:

[code]

[2014-04-18 18:57] pixelzoom opened #77 "provide a more general strategy for disabling button 'content'"
Related to code review #59.

This applies to RectangularButtonView and RoundButtonView. Opacity is used as the means of making button 'content' appear disabled. This is currently hardcoded as 0.3.  So a first recommendation would be to make this an option.  But...

While I think that using opacity may be acceptable in most cases, I've already encountered situations where it's not what is requested

[2014-04-18 19:09] pixelzoom opened #78 "inconsistent naming of options related to 'padding', subtype options ignored in some cases?"
Related to code review #59.

ToggleButton2 defines options padX and padY, which are passed up the type hierarchy. It looks to me like these options are ignored.  The closest thing I see is RectangularButtonView with options paddingX and paddingY.

This may also affect subtypes of ToggleButton2, e.g. TimerToggleButton2.

[2014-04-18 19:19] pixelzoom opened #79 "questionable workaround in ResetAllButton2"
Related to code review #59.

ResetAllButton2 has this workaround in options:

[code]

Are these default values specific to DEFAULT_RADIUS? If so, this is a bad workaround, because any client who provides options.radius must also provide these offsets. Recommended to remove these from options and compute them as a function of DEFAULT_RADIUS.

[2014-04-18 19:28] pixelzoom opened #80 "use a consistent naming convention for options that have 'x' and 'y' components"
Related to code review #59.

Here's an anti example in RectangularButtonView:

[code]

One pair of options has 'x' and 'y' as prefixes. The other has them as suffixes. This makes it unnecessarily difficult to correctly guess or search for option names.

Ideally, the same convention should be followed throughout all interfaces in sun.

[2014-04-18 19:31] pixelzoom opened #81 "questions about options.accessibilityLabel"
Related to code review #59.

Why does accessibilityLabel default to the empty string? E.g., ToggleButton2:

Would it be preferable to default this to something like 'toggle button' ?

[2014-04-18 19:48] pixelzoom opened #82 "difficult to determine what options are available"
Related to code review #59.

This is a general observation, not sure how to improve it.

There's a nice separation between model and view here, as well as a nice, logical type hierarchy. But this separation makes it very difficult to determine the options that are available to a type.

For example, suppose I want to instantiate or subtype RectangularPushButton. I will need to manually inspect the

[2014-04-18 20:43] pixelzoom opened #83 "add options to set different track fills for A and B choices"
Needed in molecule-polarity.

[2014-04-18 20:44] #83 closed, assigned to nobody

[2014-04-18 23:23] pixelzoom opened #84 "generalize code to draw curved arrow"
This is related to code review #59.

RefreshButton has a chunk of code that draws a curved arrow. The code starts below this comment in the constructor:

// Create the top arrow shape, starting at the rightmost edge.

This would be generally useful, something to add to scenery-phet. For example, it could be used immediately in molecule-polarity, where a pair of curved arrows are need to indicate t

[2014-04-22 21:47] #78 closed, assigned to nobody

[2014-04-22 21:50] #80 closed, assigned to nobody

[2014-04-22 21:56] #81 closed, assigned to nobody

[2014-04-22 22:00] #73 closed, assigned to nobody

[2014-04-22 22:06] #69 closed, assigned to nobody

[2014-04-22 22:25] #77 closed, assigned to nobody

[2014-04-22 22:37] #76 closed, assigned to nobody

[2014-04-23 21:18] #82 closed, assigned to nobody

[2014-04-23 22:01] #79 closed, assigned to pixelzoom

[2014-04-23 23:15] #72 closed, assigned to nobody

[2014-04-23 23:53] pixelzoom opened #85 "numeric spinner needed"
Example shown below, from RPAL (HTML) design document. Consists of a numeric display with two instances of scenery-phet.ArrowButton. API probably looks something like what's shown below. ArrowButton should also be converted to use new sun buttons.

[code]

![screenshot_259](https://cloud.githubusercontent.com/assets/3046552/2784674/debd0382-cb41-11e3-8a95-c5d6d1dd7c86.png)

[2014-04-25 21:13] #75 closed, assigned to nobody

[2014-04-28 16:12] samreid opened #86 "Rename touchPadding & mousePadding in VerticalCheckBoxGroup"
@jbphet said:

[2014-04-28 16:19] #86 closed, assigned to nobody

[2014-04-28 18:06] pixelzoom opened #87 "should ABSwitch 'gray out' the label of the unselected value?"
ABSwitch currently disables the label of the unselected value by changing its color to gray.  Here are screenshots for a couple of examples.

ph-scale:
![screenshot_261](https://cloud.githubusercontent.com/assets/3046552/2820909/8729bb3a-ceff-11e3-8ab0-622857362d88.png)

molecule-polarity:
![screenshot_260](https://cloud.githubusercontent.com/assets/3046552/2820914/94666690-ceff-11e3-804a-6cb9f743

[2014-04-30 17:50] jbphet opened #88 "Listener being added twice by toggle button"
From dialog with @pixelzoom on Skype:

bug in both RectangularButtonView and RoundButtonView, they are doing:
[10:43:49 AM] @pixelzoom :  this.addInputListener( new ButtonListener( buttonModel ) );
[10:44:17 AM] @pixelzoom : This addInputListener is also being done by the super types (e.g., RectangularStickyToggleButton line 23)

[2014-04-30 18:47] pixelzoom opened #89 "unnecessary assignment to this.buttonModel in subtype"
Noticed while reviewing #74.

RectangularPushButton extends RectangularButtonView.

RectangularButtonView does this in constructor:

this.buttonModel = buttonModel;

RectangularPushButton does the same assignment in its constructor, which is unnecessary.

Ditto in RoundPushButton.

[2014-04-30 18:50] pixelzoom opened #90 "unnecessary options _.extend in subtypes"
RoundPushButton constructor does this:

options = _.extend( { listener: null }, options );

Then passes options to PushButtonModel and RoundButtonView.call.  This _.extend call is unnecessary. PushButtonModel also defaults listener:null, and RoundButtonView doesn't use that option.

Ditto for RectangularPushButton.

[2014-04-30 19:06] pixelzoom opened #91 "document properties of ButtonModel"
ButtonModel supertype was factored out, but its properties are not documented. It's not at all obvious what the semantics are, especially since other sun components and scenery define states or attributes with identical names.

[2014-04-30 19:15] pixelzoom opened #92 "bad choice of property name for TimerToggleButton2"
Constructor signature:

function TimerToggleButton2( enabledProperty, options )

At first, I thought that enabledProperty was a property that determined whether the button was enabled or disabled. That's not the case, it's a property that determines whether the timer is running.

Recommended to change the name of this to timerRunningProperty, or something that doesn't conflict with the fact that b

[2014-04-30 19:35] #74 closed, assigned to pixelzoom

[2014-04-30 20:00] pixelzoom opened #93 "ToggleButton2 has no model and extends RectangularPushButton"
#71 is a prerequisite to this, since ToggleButtonModel is required.

ToggleButton2 doesn't follow the pattern used elsewhere for sun buttons. It is a subtype of RectangularPushButton, which is odd.  And it doesn't create or use a button model.

For symmetry with the push button implementation, I would expect to see constructors that look like this:

[code]

ToggleButton2 would go away, and SoundTo

[2014-04-30 21:18] #92 closed, assigned to jbphet

[2014-04-30 21:41] #88 closed, assigned to samreid

[2014-04-30 21:55] #90 closed, assigned to jbphet

[2014-04-30 21:57] #89 closed, assigned to jbphet

[2014-05-01 16:41] #91 closed, assigned to jbphet

[2014-05-02 18:14] #68 closed, assigned to pixelzoom

[2014-05-02 18:48] #93 closed, assigned to pixelzoom

[2014-05-02 18:50] #64 closed, assigned to nobody

[2014-05-02 18:51] #63 closed, assigned to nobody

[2014-05-02 18:52] #59 closed, assigned to pixelzoom

[2014-05-02 19:48] samreid opened #94 "Upgrade all sims to use the new sun buttons"
We developed new buttons in sun/experimental.  These are ready to go, and simulations should be converted to use them.

The plan is basically:
1. Rename existing classes that will be replaced by the new buttons.  Old buttons will gain a "Deprecated" suffix.  This will be a large multi-repository commit.
2. Move the new buttons to their new homes
3. Start replacing usages in sims with the new butto

[2014-05-06 20:15] jbphet opened #95 "Add default stroke to round push buttons"
During a recent status/review meeting, a version of the Sun button demo was shown where one of the round buttons had a default stroke that had a line width of 0.5 and a color that was a darkened version of the base color.  It was recommended that this be used by default on all round push buttons to make the edges somewhat more distinct.

[2014-05-07 17:17] jbphet opened #96 "Sun has some dependencies on scenery-phet"
Currently (as of SHA d0750f05a141785b0a0beaba3009b40fe1ccdc0d), sun has some dependencies on scenery-phet.  This should not be the case.

[2014-05-07 20:44] #71 closed, assigned to samreid

[2014-05-09 04:58] samreid opened #97 "Reset all button looks really ragged in example-sim"
Reset all button looks really ragged in example-sim.  I'm on Win8/Chrome34
![ragged](https://cloud.githubusercontent.com/assets/679486/2924497/7b91e25e-d736-11e3-912e-226c1e0b8595.png)

[2014-05-09 05:08] samreid opened #98 "Update StepButton to use new sun buttons"
Update StepButton to use new sun buttons

[2014-05-09 05:09] #98 closed, assigned to nobody

[2014-05-09 17:11] jbphet opened #99 "Add default stroke to rectangular push buttons"
After reviewing #95 in yesterday's design meeting, we discussed whether this should be done for the rectangular buttons as well.  We tried it out during the meeting (with @ariel-phet and @kathy-phet) and agreed that it improved the look and should be implemented.

[2014-05-09 17:13] #95 closed, assigned to nobody

[2014-05-09 17:14] #99 closed, assigned to nobody

[2014-05-10 05:30] samreid opened #100 "Buttons take a long time to set enabled/disabled"
I was struggling with a 240ms pause when the skater attached to the track in ESPB in this issue:
https://github.com/phetsims/energy-skate-park-basics/issues/137

This is not a problem in dev.52 and a problem in dev.53. That is the revision where the new sun buttons were introduced.

The problem is isolated to where the RectangularPushButton (for the clear thermal button) is enabled/disabled.  When

[2014-05-13 00:41] jbphet opened #101 "Stroke doesn't look right on disabled buttons"
In the current version of sun, the round and rectangular push buttons have strokes around them by default.  The strokes are lightened when the buttons are disabled, but this doesn't look quite right.  They should probably be set to something more related to the disabled color.  The attached screen shot portions illustrate the problem, and they depict a round and rectangular push button with an enl

[2014-05-13 22:46] #101 closed, assigned to nobody

[2014-05-13 22:55] jbphet opened #102 "Support a "flat" look in the new buttons"
The newly implemented buttons should support a "flat" look in addition to the current 3D-ish look that they currently support.

[2014-05-13 22:57] jbphet opened #103 "Use strategy pattern for setting button appearance"
The recently implemented buttons need to support some different looks in addition to the current 3D-ish appearance, the most immediate need being a "flat" look, see #102.  Some of the various approaches to supporting this were discussed in today's developer meeting, and it was decided that we should implement this feature using a strategy pattern where the "style" option is an object that controls

[2014-05-14 15:48] #53 closed, assigned to samreid

[2014-05-16 21:24] pixelzoom opened #104 "malformed JSdoc type annotations in sun.buttons"
This occurs throughout sun.buttons. Here's an example from StickyToggleButtonModel:

[code]

The placement of type annotations is incorrect. The syntax for type annotations is:

@param {Type} paramName

So the above should be:

[code]

Not a big deal since we're not generating JSdoc, but seems like something that should be done correctly.

[2014-05-16 22:53] pixelzoom opened #105 "reimplement ExpandCollapseButton as a subtype of one of the new buttons"
Related to #94.

[2014-05-16 23:21] pixelzoom opened #106 "reimplement ArrowButton as a subtype of buttons.RectangularPushButton"
... and specialize with press-and-hold feature.

[2014-05-20 16:36] pixelzoom opened #107 "add alignment to ToggleNode"

[2014-06-10 23:27] jbphet opened #108 "Add ability to hide title when open to AccordionBox"
The Area Builder simulation spec shows an accordion box in which the title is hidden when the box is open.  When this option is used, the content node should be positioned so that it is using the space where the title would be if it wasn't hidden.  This conserves vertical space in the overall layout, so it is an option worth considering.

Screen shot from the Area Builder spec:

![screen-shot](htt

[2014-06-11 00:38] #108 closed, assigned to nobody

[2014-06-15 19:23] pixelzoom opened #109 "increase default xMargin for RectangularButtonView"
The default margins in RectangularButtonView are currently:

xMargin: 5,
yMargin: 5,
This looks crowded in the x dimension, and I've had to adjust just about every button I've created to compensate. If you look at buttons in general, you'll see that xMargin is typically greater than yMargin. You can see examples here in GitHub issues, but by all means look elsewhere to confirm.

[2014-06-16 16:41] samreid opened #110 "Stack overflow exception in Panel.js"
Observed in https://github.com/phetsims/color-vision/issues/23.

[2014-06-24 17:24] jonathanolson opened #111 "Move font-awesome icons to repo with file for each icon"
This will help with ease of loading (just a require statement, no string constants), file size (don't load all icons), and only generating the icons one time (no need to rerun generation when we need a new icon).

We should be able to get icon constructors with:

[code]

presumably from a scenery-font-awesome repo. Logic for creating icons should be in one place, not duplicated, and the individual

[2014-07-15 23:24] #109 closed, assigned to nobody

[2014-07-22 22:36] #5 closed, assigned to pixelzoom

[2014-07-23 16:47] pixelzoom opened #112 "what is the appropriate feedback for 'over' when pointer is 'down'?"
This issue applies to all PhET UI components, and spans 'sun' and 'scenery-phet' repos.

Consider this scenario:
1. User presses the pointer down outside of a button.
2. User slides the pointer over the button.

What feedback should the user receive? Should the button highlight to indicate 'over'?

This came up in the context of NumberPicker, in https://github.com/phetsims/balancing-chemical-equat

[2014-07-28 21:36] jessegreenberg opened #113 "Cannot Specify Position of HSlider in its Options"
Working with @samreid, we discovered that we could not position an HSlider by passing in options.  We discovered that the options that we passed in were populating the default options and getting removed.
This line is adding options into the defaults.

[code]

This line is omitting anything in the defaults including any options we pass into HSlider.

[code]

Assigning to @pixelzoom because he is t

[2014-07-30 04:21] notsiddhartha opened #114 "Checkbox.js: Uncaught RangeError: Maximum call stack size exceeded"
After dee5166 update to CheckBox.js, underpressure and fluid-pressure-and-flow fail with the below error.

Uncaught RangeError: Maximum call stack size exceeded

[2014-07-30 16:40] #114 closed, assigned to pixelzoom

[2014-08-26 16:46] #106 closed, assigned to nobody

[2014-08-29 15:31] pixelzoom opened #115 "misc AccordionBox cleanup"
AccordionBox needs some cleanup. This issue tracks changes that I'm going to make.

[2014-09-04 19:14] jbphet opened #116 "All interactive controls should highlight in some way when mouse is over"
In the 9/4/2014 developer meeting we discussed the behavior of UI components, and used Energy Skate Park as an example.  We noticed that the buttons and the slider knobs highlight when the user hovers over them, but other components, such as check boxes, radio buttons, and such do not.  We agreed that all UI controls should highlight in some way when the user hovers over them.

[2014-09-05 17:55] #115 closed, assigned to jbphet

[2014-09-16 18:00] #103 closed, assigned to nobody

[2014-09-16 18:31] #54 closed, assigned to jbphet

[2014-09-16 18:38] jbphet opened #117 "Push buttons should support changing of the base color"
In the versions of push buttons that are currently in use (e.g. RectangularPushButton, RoundPushButton, TextPushButton), the base color is defined as an option.  This can't be changed after the button has been constructed, which is a limitation that has required workarounds in several situations.  Support for mutable base color should be added.

[2014-09-16 23:56] #57 closed, assigned to nobody

[2014-09-17 19:30] samreid opened #118 "Add rollover highlight to the content in new radio buttons"
On mouseover, the new radio buttons highlight the "chrome" around the buttons but not the content itself or the border.  For Energy Skate Park: Basics, since there is no "chrome" and the buttons are small, the highlight cannot be perceived.

I asked @aaronsamuel137 on Skype:
[1:27:23 PM] Sam Reid: [...] I am thinking of adding a highlightOpacity to RadioButtonGroup to address https://github.com/ph

[2014-09-17 21:44] samreid opened #119 "Radio Button improvements"
@aaronsamuel137 & I discussed the radio button model and discussed the following potential improvements:

1. Create RadioButtonModel (similar to ButtonModel but with a selected property).  See ToggleButtonModel for an example of how to derive from ButtonModel.
2. Use the new RadioButtonModel (or a derivation thereof) in RadioButton Appearance classes
3. Remove the double button copies (one for sel

[2014-09-30 04:48] samreid opened #120 "Review the arch branch and see if it is ready to merge to master"
Same question as https://github.com/phetsims/axon/issues/34 but for the sun repository.

[2014-09-30 21:25] #120 closed, assigned to pixelzoom

[2014-09-30 23:37] #32 closed, assigned to pixelzoom

[2014-10-01 20:51] pixelzoom opened #121 "UI components that link to Property can result in memory leak"
This is relevant to sun and scenery-phet.

Some UI components link to one or more Property instances that are provided as constructor arguments (e.g., valueProperty) or options (e.g. enabledProperty).  That linking is done in the constructor.  If the UI component has a lifetime that's shorter than the Property that it's linking to, you have a memory leak.  What's needed is an API to tell the UI co

[2014-10-06 15:55] #113 closed, assigned to samreid

[2014-10-06 16:05] #104 closed, assigned to samreid

[2014-10-06 17:54] #102 closed, assigned to ariel-phet

[2014-10-06 18:03] #84 closed, assigned to nobody

[2014-10-06 18:04] #70 closed, assigned to samreid

[2014-10-06 18:05] #62 closed, assigned to samreid

[2014-10-06 18:06] #61 closed, assigned to jbphet

[2014-10-06 18:07] #60 closed, assigned to jbphet

[2014-10-06 18:16] #47 closed, assigned to nobody

[2014-10-06 18:16] #45 closed, assigned to nobody

[2014-10-06 18:17] #44 closed, assigned to nobody

[2014-10-06 18:19] #42 closed, assigned to nobody

[2014-10-06 18:22] #38 closed, assigned to nobody

[2014-10-06 18:25] #35 closed, assigned to nobody

[2014-10-06 18:30] #7 closed, assigned to jbphet

[2014-10-06 18:30] #97 closed, assigned to samreid

[2014-10-06 18:31] #6 closed, assigned to nobody

[2014-10-06 19:13] #52 closed, assigned to samreid

[2014-10-06 21:18] #96 closed, assigned to pixelzoom

[2014-10-06 21:28] pixelzoom opened #122 "RadioButtonGroup doesn't disable the content on the buttons"
To demonstrate, run the sun demo (sun_en.html) and press the "Disable Buttons" button in the lower-right corner. You'll see the screenshot below, where "TWO" does not appear to be disabled.

![screenshot_376](https://cloud.githubusercontent.com/assets/3046552/4533813/451fc472-4d9f-11e4-9992-4f708791dbc4.png)

Replace the top button content ('ONE' button) with:

and you'll see this screenshot, wher

[2014-10-06 21:46] pixelzoom opened #123 "HTMLPushButton does not fully disable"
The HTML on the HTMLPushButton does not disable the way that other nodes do. To demonstrate, run the sun button demo (sun_en.html) and press the "Disable Buttons" button in the lower right corner. You'll see the screenshot below.  The text on the button labeled "HTML button example" is not grayed out.  This is probably a scenery issue with HTMLText node.

![screenshot_378](https://cloud.githubuser

[2014-10-06 21:49] pixelzoom opened #124 "no initial selection for RadioButtonGroup"
To demonstrate, run the sun button demo (sun_en.html). When the demo starts, there is no initial selection in the radio button group in the upper-left corner.  (See screenshot below.) This is an invalid initial state. By definition, a radio button group always has exactly one item in the group selected.

![screenshot_379](https://cloud.githubusercontent.com/assets/3046552/4534151/b1123658-4da2-11e

[2014-10-06 22:08] #25 closed, assigned to jonathanolson

[2014-10-07 03:36] samreid opened #125 "Should labels be part of the RadioButtonGroup implementation?"
RadioButtonGroup currently has this constructor documentation:

[code]

Each element of the contentArray optionally takes a label for the radio button, so that it can support a look and feel like this:

![image](https://cloud.githubusercontent.com/assets/679486/4537018/df5ccf52-4dd2-11e4-925d-bc592040cce2.png)

I wasn't sure if this label property should be integrated directly into RadioButtonGrou

[2014-10-07 03:39] samreid opened #126 "RadioButtonGroup labels should highlight and be clickable"
The RadioButtonGroup labels currently have a cursor: pointer but nothing happens if you click on them.  See related issue #125 for where the label implementation should lie.  Furthermore, mousing over them should highlight the radio button itself (get brighter) as if the user moused over the radio button itself.

[2014-10-07 03:45] samreid opened #127 "RadioButtonGroup should support the Navigation Bar screen buttons"
With labels, the RadioButtonGroup can look something like this (example from molecule polarity):

![out3](https://cloud.githubusercontent.com/assets/679486/4537087/56302128-4dd4-11e4-8afa-e1e4046c16be.png)

The navbar buttons are very similar, and they look like this:

![image](https://cloud.githubusercontent.com/assets/679486/4537068/0e9ecea4-4dd4-11e4-9167-4b6a51524595.png)

Our RadioButtonGroup

[2014-10-07 03:59] samreid opened #128 "Sun demo isn't launching"
I'm getting this error during startup:

GET http://localhost:8080/sun/js/SCENERY_PHET/PhetFont.js?1412654004462  require-2.1.11.js:1895
Uncaught Error: Script error for: SCENERY_PHET/PhetFont
http://requirejs.org/docs/errors.html#scripterror

Here is my troubleshooting info:

[code]

I'm on Win8 + Chrome Version 37.0.2062.124 m (64-bit).  Can anybody else reproduce this problem?

[2014-10-07 04:06] samreid opened #129 "baseColor vs fill in Buttons"
When I create a sun.buttons.button, I must specify the baseColor.  That is, if I would like a red button, I need to do {baseColor:'red'}.  Wouldn't it be preferable for the API to call this the "fill"?  It seems like implementation details are leaking out of the options API here.

[2014-10-07 04:12] samreid opened #130 "Rename RadioButtonsAppearance to RadioButtonGroupAppearance"
I think it is still a holdover from when RadioButtonGroup was called RadioButtons.

[2014-10-07 04:15] samreid opened #131 "Is contentAppearanceStrategy used?"
I can't see any usages of this line in RadioButtonGroup.js in the options declaration.

[code]

I also tried commenting it out and it did not change the behavior of the sun demo.  Can this be removed?

[2014-10-07 04:31] samreid opened #132 "InOutRadioButton should be implemented using the new RadioButtonGroup?"
We have radio push buttons with a pseudo-3d look in InOutRadioButton.  We may be phasing these out for the look of the new RadioButtonGroup, but it may still be necessary in some situations.  Would there be value in refactoring the RadioButtonGroup to support this as an alternative view for the radio buttons?  See also #127 regarding having the RadioButtonGroup support the navigation bar buttons t

[2014-10-07 04:35] samreid opened #133 "RectangularButtonView and RoundButtonView duplicate the fadeContentWhenDisabled"
This code appears in both RectangularButtonView and RoundButtonView, can it be factored out nicely?

[code]

[2014-10-07 15:40] #41 closed, assigned to pixelzoom

[2014-10-07 17:21] #122 closed, assigned to pixelzoom

[2014-10-08 03:55] #87 closed, assigned to samreid

[2014-10-08 15:12] #125 closed, assigned to samreid

[2014-10-08 15:13] #128 closed, assigned to samreid

[2014-10-08 15:48] #124 closed, assigned to samreid

[2014-10-08 16:55] pixelzoom opened #134 "review RadioButtonGroup"
Assigned to me at 10/9/14 dev meeting. I'll spend up to 0.5 hour doing a quick review.  Deadline is "a week or two", so by 10/23/14.

[2014-10-13 14:25] pixelzoom opened #135 "AccordionBox needs a 'title bar' feature"
I'm currently faking this in RPAL, see screenshot below.  I'm setting the fill color of the accordion box to blue.  Then the content has a white rectangle that's slightly smaller than the accordion box, so a blue stroke is visible around the box. This is not at all general. You can't stroke the title bar, can't stroke the accordion box with a different color than the title bar, aren't really using

[2014-10-15 20:48] jbphet opened #136 "Buttons don't handle having no content very well"
"content" is currently an option when constructing buttons such as RectangularPushButton, but if no content is included and minWidth and minHeight aren't specified, odd failures occur that are related to trying to draw gradients with inappropriate color stops.  This should be handled differently.

[2014-10-31 16:12] pixelzoom opened #137 "AccordionBox.expandedHeight does not need to be @public"
AccordionBox contains this line:

It's used exclusively in build-an-atom, e.g. in BuildAnAtomView:

But there's really no need for this, because an AccordionBox's height property will include invisible elements. Recommended to eliminate this public property.

[2014-11-04 22:54] jbphet opened #138 "baseColor should be settable for buttons"
@jonathanolson has requested that the baseColor attribute of the push buttons be settable.  This is needed for one of the sims on which he is currently working.

[2014-11-05 16:29] #129 closed, assigned to jbphet

[2014-11-05 21:27] pixelzoom opened #139 "FontAwesomeNode.setScaleMagnitude behaves badly"
Here's an example that was added to a ScreenView, associated screenshot below:

[code]

I'm wondering if this is the culprit, FontAwesomeNode line 47:

[code]

![screenshot_396](https://cloud.githubusercontent.com/assets/3046552/4927453/93d2a5b8-653b-11e4-89ff-32ce04489eee.png)

[2014-11-05 22:17] pixelzoom opened #140 "duplicate code introduced to RectangularButtonView"
This was added by @jbphet in https://github.com/phetsims/sun/commit/7fb47bb254505957f237fe42ff1e6faf3fffa23d (no associated issue).

This line now appears in 2 places:

I think you can simply delete lines 138-140, since this is now handled on line 221.

Also recommended to declare enabledStroke and disabledStroke together, it seems odd that they are declared 22 lines apart.

[2014-11-05 22:52] #139 closed, assigned to samreid

[2014-11-07 19:13] #134 closed, assigned to pixelzoom

[2014-11-07 23:09] #140 closed, assigned to jbphet

[2014-11-07 23:12] #117 closed, assigned to jbphet

[2014-11-07 23:55] #137 closed, assigned to jbphet

[2014-11-10 00:02] #130 closed, assigned to samreid

[2014-11-10 00:05] #126 closed, assigned to samreid

[2014-11-10 19:55] #94 closed, assigned to pixelzoom

[2014-11-11 19:15] #135 closed, assigned to jbphet

[2014-11-11 23:43] pixelzoom opened #141 "create enums for button 'interaction states'"
Spawned out of discussion in phetsims/joist#170.

PushButtonInteractionStateProperty has 4 string values, to indicate the mutually-exclusive states of a push button: 'idle', 'over', 'pressed', 'disabled'. Encapsulate these in an enum.

Ditto for StickyToggleButtonInteractionStateProperty. It happens to have the same states, but should be a different enum.

Unclear what the best pattern is for enum

[2014-12-09 21:45] pixelzoom opened #142 "memory leak in AccordionBox subtypes"
I discovered this while investigating https://github.com/phetsims/reactants-products-and-leftovers/issues/18.  AccordionBox's dispose function was defined in the constructor, not in the inherit prototype.  So this subtype override of dispose will not be called, resulting in a leak.

[code]

[2014-12-09 21:50] #142 closed, assigned to nobody

[2014-12-13 00:16] bereaphysics opened #143 "request that HSlider should be able to handle discrete values"
Plinko probability needs a slider where only discrete values are allowed, say [0,1,2,3,4,5].  Currently we can round off the valueProperty.value but this is not a very clean solution.

It would be better if there was an option, isRangeDiscrete, and if set to true, then

+ the valueProperty.value takes only integer value,
+ the thumb location should snap to integer value positions when the cursor i

[2014-12-15 21:07] pixelzoom opened #144 "memory leak in AccordionBox"
AccordionBox creates ExpandCollapseButton, which links to expandedProperty. ExpandCollapseButton doesn't have a proper dispose function, and it's existing (questionable) unlink function is not called from AccordionBox.dispose.  Noticed while investigating https://github.com/phetsims/reactants-products-and-leftovers/issues/18.

[2014-12-15 21:11] #144 closed, assigned to pixelzoom

[2014-12-16 20:38] pixelzoom opened #145 "optimize shape of AccordionBox title bar"
AccordionBox's (optional) title bar has rounded top corners and square bottom corners. It's a custom Shape that involves quadraticCurveTo, but could use arc to achieve the same result.  According to @jonathanolson:

[2014-12-16 20:57] #145 closed, assigned to pixelzoom

[2014-12-17 19:50] pixelzoom opened #146 "sun buttons leak gradients"
This is a problem with RectangularButtonView and RoundButtonView.

Here's the problem code in RectangularButtonView.threeDAppearanceStrategy:

One could turn off gradient caching for button by setting button.fillKept=false. But there's no way to get to overlayForHorizGradient.  So you're stuck with caching. So any sim that is dynamically creating buttons is leaking gradients through overlayForHori

[2014-12-18 18:04] pixelzoom opened #147 "remove support for fillKept from sun"
See https://github.com/phetsims/sun/issues/146.

Scenery's 0.1 fillKept options (gradient caching) will be going away in Scenery 0.2. When that happens, it should be removed from sun (and any sims that are explicitly setting it.)

[2015-01-03 22:02] bereaphysics commented on #143
While digging, I found a partial solution to my request.

The HSlider accepts an endDrag function that can be used to snap the slider to discrete values

[code]

This is how it is done in Slider.js of WOAS. In this way the dragging of the thumb is smooth until is the thumb is released and the thumb snaps to a discrete value.

It is not possible to get an integer value of the property while having

[2015-01-03 22:02] #143 closed

[2015-01-05 21:12] pixelzoom opened #148 "RectangularButtonView with no content crashes with default option values"
RectangularButtonView's default values of options.minWidth:1 and options.minHeight:1 cause it to fail if a button is created with no content.  It results in invalid color stops for the button's gradient.

The stack trace is:

[2015-01-05 21:17] pixelzoom commented on #148
To demonstrate, use ButtonsDemoView in the sun demo program. Locate this block of code:

[code]

Change to this:

[code]

[2015-01-05 21:20] pixelzoom opened #149 "implement momentary buttons"
This is needed to address https://github.com/phetsims/scenery-phet/issues/80.

[2015-01-05 22:14] pixelzoom commented on #149
I implemented RoundMomentaryButton and RectangularMomentaryButton using the sun button framework. Examples are shown in the sun demo program.  RoundMomentaryButton is used in scenery-phet.EyeDropperNode.

Assigning to @jbphet to review.

[2015-01-05 22:25] pixelzoom commented on #148
Changing options.minWidth and minHeight to some better default values would solve this immediate problem. But it would also be good to validate assumptions made in the computation of color stops in  RectangularButtonView.threeDAppearanceStrategy. I'm guessing there's something not-quite-right about this bit of code, and the constants used, that causes this to fail in certain circumstances:

[code]

[2015-01-05 22:30] pixelzoom commented on #148
Looks to me like any value of buttonHeight that's less than SHADE_GRADIENT_LENGTH (3) will cause this to fail, since the 'shadow stops' will  be set to zero.

[2015-01-05 22:40] pixelzoom commented on #148
Here are the requirements of the color-stop computation inRectangularButtonView.threeDAppearanceStrategy:

assert && assert( buttonHeight >= VERTICAL_HIGHLIGHT_GRADIENT_LENGTH + SHADE_GRADIENT_LENGTH );

[2015-01-05 22:43] pixelzoom commented on #148
Fixed, assigning to @jbphet for review.

[2015-01-28 18:36] pixelzoom commented on #147
We've moved to scenery 0.2, so I believe it's time to do this.

[2015-01-28 18:41] pixelzoom commented on #138
Looks like @jbphet intended to close this but didn't.  Closing.

[2015-01-28 18:41] #138 closed

[2015-01-28 18:53] pixelzoom commented on #147
Rats... fillKept needs to be replaced with something else.

[1/28/15, 11:39:37 AM] Jonathan Olson: It has a new permanent analogue
[1/28/15, 11:40:05 AM] Chris Malley: what is that, and does it need to be enabled in sun?
[1/28/15, 11:45:25 AM] Jonathan Olson: CachedPaints, and yes sun should use it
[1/28/15, 11:45:49 AM] Jonathan Olson: With setter or add/remove

[2015-01-28 19:04] pixelzoom opened #150 "use scenery 'cachedPaints' feature to improve performance"
Related to https://github.com/phetsims/sun/issues/147.  Scenery has a new 'cachedPaints' feature that caches gradients, patterns, etc.  See scenery.Paintable.  This should be used in sun to improve performance.

[2015-01-28 19:04] pixelzoom commented on #147
cachedPaints work moved to https://github.com/phetsims/sun/issues/150. Closing this issue.

[2015-01-28 19:04] #147 closed

[2015-01-28 19:10] pixelzoom commented on #150
Marking this as high priority, since all sims will take a performance hit.

[2015-02-10 19:28] jbphet commented on #149
Momentary button code looks good.  I did a little cleanup of how the buttons were used in the demo to make their behavior more consistent with the other buttons.  @pixelzoom can check if desired, but changes are pretty minor.  Closing.

[2015-02-10 19:28] #149 closed

[2015-02-11 17:42] jessegreenberg opened #151 "thumbNode option for HSlider"
In phetsims/molecules-and-light#83 a request has been made for a thumb shape which cannot be drawn using current HSlider options.  A solution could be to to create an optional parameter in HSlider that allows passing in a node for the thumb so any unique shape can be used.

[2015-02-11 17:46] jessegreenberg commented on #151
I have made a change to HSlider to allow passing in an optional thumbNode.  I do not have permission to push to sun, so I am sending the patch to @pixelzoom for review.

[2015-02-12 18:13] pixelzoom commented on #151
Got the patch for @jessegreenberg, on my todo list.  Assigning this issue to me.

[2015-02-12 21:01] pixelzoom opened #152 "HSlider doesn't change cursor when disabled"
When an HSlider is disabled, the cursor for the thumb is changed, but not for the HSlider itself. So the cursor changes when you mouse over the track.

[2015-02-12 21:08] pixelzoom opened #153 "HSlider memory leak"
HSlider links to {Property} valueProperty and {Property} options.enabledProperty, but provides no way to unlink from these properties. It needs a dispose function.

[2015-02-12 21:19] pixelzoom commented on #153
Added HSlider.dispose, closing. Feel free to review if anyone is inclined.

[2015-02-12 21:19] #153 closed

[2015-02-12 21:19] #152 closed

[2015-02-12 21:22] pixelzoom commented on #151
@jessegreenberg I added options.thumbNode.  The default thumb has been moved to ThumbNode inner type.

Note that the client is responsible for the managing the "look" of their custom thumb. This generally involves adding a ButtonListener, and responding to changes to options.enabledProperty. See ThumbNode for an example.  You'll probably need to add this to your custom thumb in Molecules & Light.

[2015-02-12 21:29] samreid commented on #151
We will also need to make sure accessibility is supported for the thumbnode.  This means setting focusable:true on it, and adding the input listener to handle left/right/up/down.  The listener is already added to the thumbNode, but we should set focusable on it whether it was passed in or created in HSlider.

[2015-02-12 23:51] pixelzoom commented on #151
@samreid wrote:

focusable:true is set for the default thumb node, so I assume these are instructions for clients who are not using the default thumb.  @jessegreenberg please consider this in Molecules & Light.

[2015-02-13 01:07] pixelzoom opened #154 "should disabling a UI component set focusable:false?"
This is a general question, but I'll ask it in sun, since most of the 'focus' work seems to have been done there.  I see that sun UI components (e.g., RectangularPushButton) do this:

Some of these UI components (e.g. RectangularPushButton) are capable of being disabled.

When a UI component is disabled, should it still be able to receive focus?
Should it be visited or skipped during tab traversal

[2015-02-13 06:20] samreid commented on #151
I was thinking the clients wouldn't be responsible for setting focusable or adding input listeners--these would be done in the central location of the slider code.

[2015-02-13 06:23] samreid commented on #151
I implemented the support I was describing above and tested in Capacitor Lab. Should be re-tested with a custom knob when ready.

[2015-02-13 06:23] pixelzoom commented on #151
The slider has no way of knowing how the provide thumbNode should change its "look" in response to pointer events (over, down, up,...) or being disabled.  That behavior must be specified by the client, and requires an input listener for the pointer events, and an observer for the (optional) enabledProperty.

[2015-02-13 06:26] pixelzoom commented on #151
Having HSlider responsible for setting focusable:true (as @samreid has done) is fine, since that is independent of the thumb's "look".

[2015-02-13 06:31] samreid commented on #154
IDRC recommended making disabled (and even invisible!) components focusable, so that the user can get a sense of what buttons are in the sim, even if they cannot be used at the moment.  For invisible buttons, IDRC recommended fading them into view when focused.

The IDRC recommendation may be unconventional:  I tried

[code]
and
[code]

And only the former was focusable.

I'm not sure of the best

[2015-02-16 17:38] jessegreenberg commented on #151
This looks great, thank you very much.  I have added a custom thumbNode in Molecules And Light in a similar way to the new default in HSlider.  As discussed above, setting focusable:true and adding the accessibility input listeners is left for HSlider code.

I do not observe the optional enabledProperty because the slider will always be enabled for Molecules and Light.  Would there be any reason t

[2015-02-16 19:03] pixelzoom commented on #151
If your sim doesn't need to disable the slider, then you can safely ignore the optional enabledProperty.

[2015-02-17 00:10] jessegreenberg commented on #151
Sounds good, thank you.  Since the accessibility discussion above has settled and everything looks OK I am closing this issue.

[2015-02-17 00:10] #151 closed

[2015-02-18 19:51] phet-steele opened #155 "HSlider thumb disabled in Chrome"
This is the issue logged as phetsims/molarity/issues/17 and phetsims/least-squares-regression/issues/12. It was first thought this was just an issue for VSlider but has now been discovered to occur in HSlider as well. Here's what is said in the Molarity ticket:
"After furious amounts of double-clicking the track (not the thumb itself) and sliding along it, the thumbs can eventually stop highlighti

[2015-02-18 20:22] pixelzoom commented on #155
@phet-steele Does the thumb become disabled (grayed out), or does it just stop highlighting on pointer over? There is a difference. (I'm on a low-speed connection at the moment, so can't view the video.)

[2015-02-18 20:22] phet-steele opened #156 "HSlider thumb highlighting behavior"
The thumb of the slider will behave differently when slid if either the thumb is clicked first or the track is clicked first. What will happen is if the thumb is clicked first and dragged along the track, the thumb will remain highlighted if the user moves the mouse off the thumb without letting go of it. The thumb behaves differently if the track is clicked first, where then if the user moves the

[2015-02-18 20:23] phet-steele commented on #155
The thumb is still usable and behaves correctly, it's just shown as disabled.

[2015-02-18 20:33] pixelzoom commented on #155
Still confused... You said:

Then you changed the title of this issue to:

Highlighted and disabled are 2 different visual states.  Is the thumb graying out?

[2015-02-18 20:54] phet-steele commented on #155
Oh sorry for this, I assumed not being highlighted means it's disabled. It's just that it's not being highlighted on mouseover, that is all.

[2015-02-19 00:08] bereaphysics opened #157 "RectangularButtonView options stroke is not being acted upon"
The RectangularButtonView checks if options.stroke is null (or non null) but never passes the option value of stroke to enabledStroke and disabledStroke. Assigning to #JB or #SR, the authors of rectangularButtonView

[2015-02-19 04:18] pixelzoom opened #158 "add options.minWidth to Panel"
Seems to be a common need for this, for example when you want to have N panels all the same with, currently filled by clients adding an HStrut.  This option would specify the width of the HStrut, and it would be added internally by Panel.  Most recently needed by @phetsims/thejakey in rutherford-scattering.

[2015-02-20 22:45] pixelzoom commented on #158
Proposed solution is to add options.minWidth:

Add a strut to the content like this:

[code]

[2015-02-20 22:48] pixelzoom commented on #158
Since the content itself might vary in size dynamically, we probably need to do this:

[code]

[2015-02-20 23:01] pixelzoom commented on #158
`content.addChild` is a bad way to do this, because content may have overridden addChild. For example, if `content` is an HBox (or LayoutBox with orientation:'horizontal') then addChild will position the HStrut to the right of box's other children, effectively extending the width by options.minWidth.

[2015-02-21 20:28] thejakey commented on #158
I agree that finding an alternative solution to having `options.minWidth` create a `HStrut` child behind the scenes is preferred

[2015-02-21 20:35] thejakey commented on #158
Would something like changing `background.setRect( 0, 0, content.width...` to `background.setRect( 0, 0, Math.max( content.width, options.minWidth )...` work?

[2015-02-23 23:33] jbphet commented on #157
I just took a look at this, and I think the stroke _is_ being acted upon, it's just not immediately obvious how because the code is a bit complicated.  The options.stroke value is used in the creation of the overlayForHorizGradient, which ends up creating the stroke and putting above everything else in the z-order.

The sun demo tests many of the stroke options, and they all work as far as I can t

[2015-02-23 23:43] bereaphysics commented on #157
in ButtonDemoView.js you can try to change the color of stroke and it has no effect on the color of the stroke. I made the lineWidth very large so that the effect would be apparent.
[code]

[2015-02-23 23:44] bereaphysics commented on #157
![image](https://cloud.githubusercontent.com/assets/7633344/6340307/33ae1578-bb7b-11e4-9e2f-3cab47901a82.png)

That what it looks like

[2015-02-24 20:13] jbphet commented on #157
Got it.  I found the issue - stroke values specified in the options were not being used, and a darkened version of the base color was used instead.  Will assign to @bereaphysics to verify.

[2015-02-24 21:14] bereaphysics commented on #157
I tested the three scenarios: setting a color stroke, a value set to null, or just undefined. Everything works as expected.

[2015-02-24 21:14] #157 closed

[2015-02-24 22:00] pixelzoom commented on #158
@thejakey Good suggestion to adjust the width of the background rectangle, that's the approach I used. I also realized that an 'align' option is now needed, since the panel is now possibly wider than the content. options.align can have values 'left', 'right' or 'center' (default), patterned after scenery.LayoutBox.

Take it for a spin in rutherford-scattering and let me know how it works out.

[2015-02-24 22:46] thejakey commented on #158
Looking good so far, thanks!
![image](https://cloud.githubusercontent.com/assets/2800720/6361068/4b9e54ba-bc3c-11e4-8f84-172b952b839d.png)

[2015-02-25 20:59] #158 closed

[2015-02-27 22:52] pixelzoom opened #159 "add titleAlignY to AccordionBox"
Requested to support a feature in https://github.com/phetsims/least-squares-regression/issues/30.

Add options.titleAlignY to sun.AccordionBox, which controls vertical alignment of title relative to expand/collapse button.

Will also need to rename the existing `titleAlign` option to `titleAlignX`.

[2015-02-27 23:16] pixelzoom commented on #159
Implementation completed. Assigning to @bereaphysics to review.

[2015-02-27 23:45] bereaphysics commented on #159
Looks good, thanks @pixelzoom. Closing.

[2015-02-27 23:45] #159 closed

[2015-02-28 18:42] jonathanolson commented on #159
@pixelzoom, can you verify that my change above is what was intended? The default 'center' was erroring on anything that didn't override titleAlignY.

[2015-02-28 21:17] pixelzoom commented on #159
@jonathanolson yes, that was a copy-paste error, thanks for catching, sorry for forgetting to test with 'ea'.

[2015-03-01 01:06] jonathanolson commented on #159
No worries, I'm just running automated tests more and it was pretty easy to spot.

[2015-03-02 22:09] pixelzoom opened #160 "AccordionBox: clicking in title area should not collapse box when showTitleWhenExpanded:false"
See https://github.com/phetsims/atomic-interactions/issues/23#issue-59556677

[2015-03-02 22:10] #160 closed

[2015-03-06 05:39] samreid opened #161 "Add arch support to HSlider"
HSlider will will need arch support for https://github.com/phetsims/concentration/issues/34

[2015-03-06 05:41] samreid commented on #161
Fixed above, but should be reviewed by @pixelzoom since the start drag method was changed to avoid computing values when disabled.

[2015-03-06 21:23] samreid opened #162 "Add phet-io support to ComboBox"
Needed for https://github.com/phetsims/concentration/issues/34

[2015-03-06 21:36] samreid commented on #162
This one is somewhat tricky since things are created dynamically.  I implemented one idea above, but it should be discussed.

[2015-03-06 21:36] samreid commented on #162
Perhaps @pixelzoom & I can also discuss this on Monday as it pertains to phetsims/concentration#34

[2015-03-09 17:35] pixelzoom commented on #162
Discussed with @samreid.  Sounds like the `together` approach is going to change, so implementation here will be revised.  One general thing that should change is how the parts of a combo box are identified. Items in the list are currently identified as buttons. A combo box has one button, and a list of items (which may be of any type).

[2015-03-09 17:36] pixelzoom commented on #161
startDrag method looks fine.

[2015-03-10 02:09] samreid commented on #162
@bereaphysics I have forthcoming changes for this issue, but wasn't sure about Linear Regression sim status.  Are you close to release candidate?  Have you already recorded safe shas?  Just wondering how I should proceed here without running any risk to your sim.

[2015-03-10 02:16] bereaphysics commented on #162
We have already branched out and issued a RC for LSR.

[2015-03-10 03:00] samreid commented on #162
Perfect, thanks for letting me know.  I'll work in master, testing 1-2 sims for each commit and requesting review for nontrivial changes, unless @pixelzoom @jbphet @bereaphysics @aaronsamuel137 or @jonathanolson prefers I work in a branch.

[2015-03-10 17:19] samreid commented on #162
In our meeting today, we decided it will be a lot of work for sim components to make it possible to generate sim playbacks for every feature (whether buttons are pressed, highlighted, etc.).  We need to ask if this level of highlighting is necessary, or if it is sufficient to show coarse model features.

For now, I checked in the changes in a branch above.  Can @pixelzoom @jbphet or @jonathanolson

[2015-03-10 17:20] samreid commented on #162
Also, note that ComboBox has one other `together` feature already in master, but it is very non-invasive.

[2015-03-10 23:17] pixelzoom commented on #162
@samreid wrote:

Assuming that you're referring to commit https://github.com/phetsims/sun/commit/c5118eabf772a72f0b3d4766270e517e8e3be1f4 in the 'together' branch... The only bit that I dislike is listNodeVisibleProperty.  In general, capturing the behavior of UI components via axon Properties would be a costly approach.  So I think we should (a) find out if capturing such behavior is necessary, a

[2015-03-11 00:03] samreid commented on #162
Let us assume for the sake of discussion that capturing such behavior is necessary.

@pixelzoom in the case of ComboBox, we must call moveList() immediately before showing it, so it will appear in the right position.  Can you elaborate on acceptable alternatives to AXON/Property (or at a minimum elaborate more on why Property is a problem so I can propose alternatives)?  Some possibilities that co

[2015-03-11 01:22] samreid commented on #161
Anything else to do for this issue before it can be closed @pixelzoom ?

[2015-03-11 16:24] pixelzoom commented on #161
Nothing else to do for arch support.  Whether there's anything to do for together support will depend on whether we need to "play back" highlighting of the knob, etc.  I'll close this issue and assume that together will be addressed more generally.

[2015-03-11 16:24] #161 closed

[2015-03-16 18:17] samreid opened #163 "CheckBox has both var checkBox = this; and var thisNode = this;"
CheckBox has both `var checkBox = this;` and `var thisNode = this;`

At least one should be eliminated.

[2015-03-16 22:43] pixelzoom commented on #163
No preference on which one to eliminate.

[2015-03-18 17:16] samreid opened #164 "Sun buttons should count the number of "over" pointers so it can handle multiple events"
A note from my TODO list a while ago.  Hopefully @jonathanolson knows more about what it means.

[2015-03-20 03:28] jonathanolson commented on #164
I guess it also depends on whether the presence of a mouse/finger over a button should prevent any actions by another mouse/finger. I was imagining having one finger over a button (but not pressed down originally on the button) would still allow a second finger to press the button.

[2015-03-20 03:35] samreid commented on #164
To me, that makes the most sense.  However, in my experience it is contrary to many other (including built-in) iOS apps + components.  We should see if this is true and discuss whether there is a good reason for it.

[2015-03-20 16:11] samreid opened #165 "OnOffSwitch should deliver values to the arch data stream"
OnOffSwitch should report values to the arch data stream.  Currently it just signifies whether it was pressed.

[2015-03-20 16:12] samreid commented on #165
Fixed above, can I get a micro-review from @jbphet or @pixelzoom?

[2015-03-20 16:12] samreid commented on #165
The main thing to review is that my refactoring didn't disrupt the logic of the method.

[2015-03-23 01:24] samreid commented on #4
No plans to work on this at the moment, others feel free.

[2015-03-24 20:36] pixelzoom commented on #163
`var checkBox = this;` is the newer of the two, added by @samreid on 6/24/13.  So I'm going to remove it.

[2015-03-24 20:38] #163 closed

[2015-03-24 22:28] pixelzoom opened #166 "create a Carousel component"
I will be needing a Carousel for Function Builder. I'm a little surprised that it doesn't already exist, since I see such a component in a couple of sims.

Questions:
• Any advice on where to start? I see 3 candidates: area-builder.HCarousel, scenery-phet.KitSelectionNode, build-a-molecule.KitCollectionNode.
• And are there any other variants that I missed?
• Is there any difference between a caro

[2015-03-24 22:29] pixelzoom commented on #166
@jonathanolson please chime in too, since you created build-a-molecule.KitCollectionNode. Wondering why you didn't use phet.KitSelectionNode, what it lacked, etc.

[2015-03-25 00:45] pixelzoom commented on #165
I'll have a look.

[2015-03-25 00:47] pixelzoom commented on #148
Looks like @jbphet is too busy to review, so closing.

[2015-03-25 00:47] #148 closed

[2015-03-25 20:17] pixelzoom commented on #165
Looks good, closing.

[2015-03-25 20:17] #165 closed

[2015-03-25 22:32] jonathanolson commented on #166
1. scenery-phet.KitSelectionNode wasn't in common code until 6 months after I made KitCollectionNode
2. KitSelectionNode would need some changes / generalization to work. Notably you can drag things out while switching kits, it doesn't have the common pattern of filled/unfilled circles at the bottom showing your position in kits (and how many kits) that is a common (and requested) UI pattern, and

[2015-03-30 16:28] pixelzoom commented on #166
@jbphet said on Skype:

[2015-03-30 16:29] pixelzoom commented on #166
@jbphet JO said he didn't use yours because his preceded yours. So I'll ask you the same question, why didn't you use his?  I'm trying to understand how they differ, what features you didn't have, etc. so I can generalize.

[2015-03-30 16:45] jbphet commented on #166
I'm not sure I was even aware of the existence of a working carousel in Build a Molecule when I implemented HCarousel for Area Builder.  We discussed HCarousel in several design meetings, and I can see it mentioned in the 2014 notes, and we said that it should be moved to common code at some point, so I tried to keep that in mind as I did the implementation.  I don't think using the one from BAM e

[2015-03-30 16:52] pixelzoom commented on #166
@jbphet wrote:

Function Builder has vertical carousels, so I'm the lucky winner.

I guess I could also just write my own VCarousel and leave it to the next person to generalize.

[2015-03-30 16:56] samreid commented on #166
For vertical sliders, it has worked surprisingly well to use a rotated HSlider.  Not sure if that will be possible/useful for carousels.

[2015-03-30 18:52] pixelzoom opened #167 "branch: together"
I believe that everything in the together branch has been merged into master. If so, please delete the branch.

[2015-03-30 18:53] pixelzoom commented on #167
Ditto for arch branch.

[2015-03-31 02:16] samreid commented on #167
I deleted the arch branch.  The together branch still has one feature that should be reviewed for merging to master, related to ComboBox together instrumentation.

[2015-03-31 02:42] pixelzoom commented on #167
Can you describe the feature, or point me to specific lines of code? So I don't have to spend time diff'ing branches and wondering whether I found everything that's relevant...

[2015-03-31 02:43] pixelzoom commented on #167
@samreid wrote:

Can you describe the feature, or point me to specific lines of code? So I don't have to spend time diff'ing branches and wondering whether I found everything that's relevant...

[2015-03-31 03:37] samreid commented on #167
There is only one unmerged commit in the branch, and all changes are in ComboBox.js.  I'm not sure whether it is good for master or not--but it would be good to discuss.

[2015-03-31 19:14] pixelzoom commented on #167
Comparing 'master' to 'arch' for ComboBox, I cannot locate this "one feature that should be reviewed for merging to master".  It looks to me like everything in arch appears in master (albeit in a more current form.)

[2015-03-31 19:55] pixelzoom opened #168 "branch: opacity-1"
There's a commit on 2/27/15 by @samreid that says "Set opacity to 1 to force canvas into a single layer" so I'm guessing he created this branch.  No issue number associated with the commit.

Please describe this branch and what is planned for it.

[2015-03-31 19:58] pixelzoom opened #169 "branch: toggle-button-values"
This appears to be related to #71, branch created by @samreid.  #71 is closed. Can this branch be deleted?

[2015-03-31 20:57] samreid commented on #167
We are discussing the `together` branch, not the `arch` branch, see https://github.com/phetsims/sun/issues/167#issuecomment-87906916

[2015-03-31 21:06] pixelzoom commented on #167
Ah sorry, I was indeed comparing with arch. (But wondering why I can still compare with the 'arch' branch when you deleted it?)

I see 2 potential "features" in the "together" branch that are not merged into master:

(1) componentType
Looks like there's a `this.componentType` that is passed to arch.start. Not sure how to evaluate this.

(2) listNodeVisibleProperty
Looks like we're keeping track of

[2015-04-01 04:31] samreid commented on #168
@jonathanolson is working on a way to get scenery to avoid creating lots of layers to handle opacity.  This branch will no longer be necessary once that's done.

[2015-04-01 04:32] samreid commented on #169
Deleted, closing.

[2015-04-01 04:32] #169 closed

[2015-04-03 18:16] samreid opened #170 "Dispose is required for together"
Dispose is required, so that we can unregister components from together.js.  I'll have a go at it.

[2015-04-03 18:17] samreid commented on #170
Just planning to implement dispose for the components we are currently testing (with removal) in together:  RectangularButtons and RadioButtons.

[2015-04-03 18:20] samreid commented on #170
Added some disposes() above.

[2015-04-03 19:27] pixelzoom commented on #170
The dispose calls that you've added introduce memory leaks in the buttons.

RadioButton links to `property`, and you need to unlink from `property` in dispose.

RectangularButtonView (and its inner appearance strategy) links to `interactionStateProperty`.

These need to be unlinked in dispose.

[2015-04-03 19:29] pixelzoom commented on #170
In RectangularPushButton:

[code]

Why is the supertype dispose called last? When overriding and chaining, supertype is typically called first in the chain.  If it's necessary to do otherwise, please add a comment explaining why.

[2015-04-03 19:34] pixelzoom commented on #170
In RectangularButtonView, the contentAppearanceStrategy will need a dispose function. And since the contentAppearanceStrategy can be provided as an option, you'll need to verify that it implements dispose before calling contentAppearanceStrategy.dispose.

[2015-04-03 19:35] pixelzoom commented on #170
Related to https://github.com/phetsims/sun/issues/121 (UI components that link to Property can result in memory leak).

[2015-04-03 19:36] pixelzoom commented on #121
Some of this is being addressed in https://github.com/phetsims/sun/issues/170.

[2015-04-03 19:47] samreid commented on #170
@pixelzoom said:

Just to clarify.  Here is the code I added for RadioButton:

[code]

Does this dispose call I've added introduce a memory leak?  If so, how?

[2015-04-03 19:52] samreid commented on #170
Perhaps you meant it would mask a memory leak?

[2015-04-03 20:00] pixelzoom commented on #170
The contract for the dispose function is that it will properly clean up the object. These functions do not meet that contract.  If the client is using dispose to manage memory, then these functions cause a memory leak.

[2015-04-03 20:02] pixelzoom commented on #170
The fact that these UI components did not have a dispose function previously was also a problem. But in that case, the cause of the memory leak was faulty client code.  Now that these UI components have a dispose function, there is an additional fault, in the UI components themselves.

[2015-04-06 18:00] pixelzoom opened #171 "implement 'enabled' feature for CheckBox using opacity"
SUN.Buttons use opacity to make themselves look enabled/disabled. CheckBox does not, it relies on its label implementing setEnabled, and this is quite cumbersome for clients. Should we change CheckBox be similar to Buttons in how it implements enabled?

Feedback from @jbphet @jonathanolson @samreid please.

[2015-04-06 18:02] pixelzoom commented on #171
Eg, this example from hookes-law.VisibilityControls:

The box will appear disabled, but the text label will not.

[2015-04-06 21:14] jonathanolson commented on #171
As far as Scenery performance goes, avoiding opacity will still help even with WebGL, but I'm not sure if the different appearance of button background and text being individually semi-transparent would be too jarring (changing fills to include alpha transparency is much better Scenery-side).

On the other end, if you want to change appearance of the button/checkbox content, enabled listeners are

[2015-04-06 23:07] jbphet commented on #171
I'd vote for using opacity for the default disabled-look behavior in CheckBox and set it up so that the user can easily override it.  The SUN.Button API allows for easy overriding of this behavior through options.contentAppearanceStrategy, perhaps for consistency we could do the same thing for CheckBox.

[2015-04-08 04:55] samreid commented on #171
Opacity seems the simplest and most consistent.  If we have to invoke a workaround (something other than opacity) to get good performance in scenery (webgl or not) we should apply that strategy throughout sun, not just in checkbox.

[2015-04-08 05:10] samreid commented on #167
This branch is stale and I think we should postpone work on the together branch of ComboBox until (a) we hear whether it is a require feature for our imminent deadlines (b) whether we are going to record UI component state, and if so, whether that will be done with a different technology such as scenery input event recording.  Let's leave this branch alone until the above questions are answered.

[2015-04-09 16:26] pixelzoom commented on #171
OK, I'll take care of this. I'm going to use change CheckBox to use the options.contentAppearanceStrategy approach used in buttons, and default to changing opacity to indicate enabled state.

[2015-04-09 19:00] samreid commented on #170
I experimented with removing all listeners for RadioButton.js.  @pixelzoom is this what you had in mind?  How should we test this, or just use code inspection?  I'm also concerned that adding more fields to the instance (for access during the dispose) could cause collisions with other existing fields (or fields that will be added in the future).

[code]

[2015-04-10 15:48] samreid opened #172 "Panel options are unconventional"
Panel options are unconventional.  Currently looks like:

[code]

Lodash says the 3-arg extend function expects a function for 3rd argument.  How is this working at all?

[2015-04-10 15:50] samreid commented on #172
If I recall correctly, this is how we normally do it:

[code]

[2015-04-10 15:52] samreid commented on #172
It looks like Panel is exporting defaultOptions.  Is this used anywhere?

[2015-04-10 15:58] samreid commented on #172
Oh, perhaps exporting defaultOptions is the entire reason for doing it this way?

[2015-04-13 21:40] pixelzoom commented on #172
This was done by @jonathanolson for molecules-shapes, see https://github.com/phetsims/sun/commit/0cc96ae771152e54794b75fef8026407ce2d95f2

[2015-04-13 21:55] jonathanolson commented on #172
Yes, it's a pattern that makes defaults available. Currently used in Molecule Shapes, so we can combine user options and default options and determine what options will be used.

[2015-04-13 23:27] samreid commented on #170
If we follow through with https://github.com/phetsims/together/issues/72 then removeComponent() likely will not be within sun.

[2015-04-15 17:22] samreid commented on #166
@AshrafSharf will also need a carousel for the Micro screen of Sugar and Salt Solutions.  @pixelzoom can you report on your priority for this issue?  Is it pushed back because of Hooke's Law?

[2015-04-15 22:40] pixelzoom commented on #166
I'm planning to work on Function Builder when I have down time from Hooke's Law. No idea yet how much or when that will be. As for the carousel, I will probably start by creating what I need for Function Builder, and generalize later (probably much later).  If there are requirements for SASS that should be considered, I would appreciate it if someone from that team would formalize those requiremen

[2015-04-17 17:56] pixelzoom commented on #170
@samreid wrote:

So the programmer will need to remember to handle dispose and together de-registration independently?

[2015-04-17 18:26] pixelzoom commented on #168
Assigning to @jonathanolson to delete this branch once the above-mentioned scenery work is completed.

[2015-04-17 18:26] pixelzoom commented on #167
Assigning to @samreid to delete this branch when it's no longer needed.

[2015-04-17 18:29] samreid commented on #167
I deleted the remote branch, please delete your working copy branches at your convenience.

[2015-04-17 18:29] #167 closed

[2015-04-17 18:29] samreid commented on #168
I no longer need this branch.  @jonathanolson feel free to delete if you also don't need it.

[2015-04-17 19:12] pixelzoom commented on #166
@amanda-phet you've been identified as the lead on "Sugar and Salt Solutions" (SASS).  Please describe the requirements for the carousel in SASS.

[2015-04-17 19:36] pixelzoom commented on #171
Looks like molecules-shapes and charges-and-fields are the only clients using CheckBox option.checkBoxColorDisabled, which will be going away.

[2015-04-17 19:37] pixelzoom commented on #171
Looks like molecules-shapes and charges-and-fields are the only clients using CheckBox option.checkBoxColorDisabled, which will be going away.  I think they will probably work fine with the default contentAppearanceStrategy (using opacity), but reminder to test.

[2015-04-17 20:37] pixelzoom opened #173 "incorrect and incomplete documentation in RectangularButtonView"
I encountered this while trying to apply the contentAppearanceStrategy pattern to CheckBox in https://github.com/phetsims/sun/issues/171.

interactionStateProperty is documented variously as:

None of these is correct. It's apparently `{Property.<string>}`.  And there's no indication of what the possible string values are.  I finally figured out that the values are spread out over the various `*In

[2015-04-17 20:39] pixelzoom commented on #173
Same problem in RoundButtonView and RadioButtonAppearanceGroup.

[2015-04-17 20:56] pixelzoom opened #174 "ToggleButtonInteractionState is improperly named"
This is an "interaction state property", and should have a `Property` suffix.  This is the naming convention used by all other such properties (e.g., PushButtonInteractionStateProperty).

[2015-04-17 21:06] pixelzoom commented on #174
Tested in sun demo application. Closing.

[2015-04-17 21:06] #174 closed

[2015-04-17 21:27] pixelzoom commented on #171
Really scary how difficult it has proven to address this issue.

[2015-04-17 22:21] pixelzoom commented on #171
This is done. A few notes:

(1) I tried to follow the pattern used in (for example) sun.RectangularPushButton for checkBoxAppearanceStrategy and contentAppearanceStrategy. But CheckBox has no interactionStateProperty, and no button model, so I had to use a simplified variation of the pattern. To go the full distance, CheckBox needs to be reimplemented as a type of toggle button. And that is much m

[2015-04-17 22:30] pixelzoom commented on #171
Assigning to @jbphet for review.

[2015-04-19 23:58] pixelzoom commented on #166
@amanda-phet Btw... This is not urgent. Address at your leisure.

[2015-04-20 00:33] amanda-phet commented on #166
The carousel for SASS is a version of the one used in Balancing Act. It need to fit the scroll buttons in to a tight space, which is why they can't run the full vertical height of the rounded rectangle. One change from Balancing Act, though, is the light gray, inactive direction if you are at the beginning/end of the carousel.
![screen shot 2015-04-19 at 6 29 09 pm](https://cloud.githubusercontent

[2015-04-20 14:47] samreid commented on #170
Yes.  removeComponent() calls should be geographically nearby to the addComponent() calls.

[2015-04-20 17:15] pixelzoom opened #175 "how to create buttons with identical size?"
I have 2 toggle buttons with icons. Their icons are different sizes, the buttons need to be the same size.  Here's how I attempted to do this:

[code]

Here's what I got:

![screenshot_503](https://cloud.githubusercontent.com/assets/3046552/7235798/f36c8900-e74d-11e4-8f67-d47ec613e2e4.png)

Here's the problem (if it can be called a problem) in RectangularButtonView:

[code]

In order to set option

[2015-04-20 17:23] samreid commented on #175
This is how I have been accomplishing size-matching where necessary.

[2015-04-20 17:35] pixelzoom commented on #175
I see that RadioButtonGroup is also relying on knowledge of the internals of RectangleButtonView in order to make the buttons the same size.

[code]

[2015-04-20 17:38] pixelzoom commented on #175
Re RadioButtonGroup, @aaronsamuel137 commented on Skype:

[2015-04-20 17:54] pixelzoom commented on #175
[4/20/15, 11:42:13 AM] Jonathan Olson: you can also do "padding" by setting node.localBounds
[4/20/15, 11:43:12 AM] Jonathan Olson: image.localBounds = image.selfBounds.dilated( 10 ), would center it with 10 extra
[4/20/15, 11:43:32 AM] Jonathan Olson: so pick your favorite way of getting the dimensions for the desired size
[4/20/15, 11:43:41 AM] Chris Malley: ok, thanks.
[4/20/15, 11:43:59 AM] Jo

[2015-04-20 20:10] bereaphysics commented on #171
I discussed with @arouinfar the checkboxes in charges-and-fields. The new look is dim but this is the point of the disabled look. We will stick with this default strategy. Thanks @pixelzoom

[2015-04-21 04:00] samreid opened #176 "branch: tandem"
See https://github.com/phetsims/together/issues/85

[2015-04-21 09:32] jonathanolson commented on #171
Agreed that it looks darker than desired, but I'm fine with the entire contents changing color. I'll create an issue to correct the colors (a color change is still ideal in this case, no opacity needed).

Before that though, can we discuss a potentially better way? If the check box color is on the brighter side of gray, can the opacity be tweaked to look good in the dark-background sims? I'd imagi

[2015-04-21 15:02] pixelzoom commented on #171
You can tweak the opacity by providing your own options.checkBoxAppearanceStrategy.  Do you have another proposal?  We could add something like checkBoxDisabledOpacity, but that seems redundant, and would only be applicable to the default checkBoxAppearanceStrategy.

[2015-04-21 15:08] pixelzoom commented on #171
Example of providing a checkBoxAppearanceStrategy that is more opaque in the disabled state. The default checkBoxAppearanceStrategy uses opacity 0.6 (which I personally think is a tad too transparent in general).

[code]

[2015-04-21 15:10] pixelzoom commented on #171
As I mentioned above:

Rather than a different opacity for dark background, perhaps we can find a default opacity that works well on light and dark backgrounds?

[2015-04-21 15:13] jbphet opened #177 "add ES5 set/get enabled for HSlider"
HSlider has an enabled property that can be used to control its enabled state.  For consistency with other Sun components, such as check boxes and buttons, it should be possible to set this state via an ES5 setter, e.g. ```myHSlider.enabled = false```.

[2015-04-21 15:18] pixelzoom commented on #177
For consistency with other sun components, I also recommend removing options.enabledProperty.  Other sun components do not have this property, HSlider is unique in this respect.

[2015-04-21 15:20] pixelzoom commented on #177
I believe that @jbphet is referring to the enabled Property (uppercase 'P') versus a JavaScript property (lowercase 'p').

For consistency with other sun components, I also recommend removing options.enabledProperty.  Other sun components do not have this property, HSlider is unique in this respect.

[2015-04-21 15:24] pixelzoom commented on #177
@jbphet I see that you've added this feature like this:

[code]

First, this doesn't pass lint, missing semicolon.

My understanding is that we've agreed to use the scenery pattern for setters/getters. That is, provide both a standard set/get, and an ES5 set/get.  So the above should be:

[code]

[2015-04-21 15:25] pixelzoom commented on #177
I'd also like to see the code use one consistent way of accessing the value of enabledProperty. The existing code used this.enabledProperty.get(), so I think that the added code should do the same.

[2015-04-21 17:07] pixelzoom commented on #177
At 4/21/15 developer meeting we discussed whether to remove options.enabledProperty from HSlider (and RadioButtonGroup) or use this pattern when adding enabled set/get to other sun components. We decided to remove options.enabledProperty.

[2015-04-21 17:08] pixelzoom opened #178 "remove options.enabledProperty from sun components"
https://github.com/phetsims/sun/issues/177#issuecomment-94874207

[2015-04-21 20:08] pixelzoom commented on #175
@jbphet since you were the primary architect of the sun buttons, what is your opinion on this? What pattern do you recommend for creating identically-sized buttons?

[2015-04-21 21:29] pixelzoom opened #179 "HSlider draws minor ticks on top of major ticks"
HSlider is drawing minor ticks on top of major ticks. The example below is from hookes-law, and I've changed the stroke and lineWidth of the minor ticks to make the problem obvious.  The only tick where this doesn't happen is the max (rightmost) tick.

![screenshot_504](https://cloud.githubusercontent.com/assets/3046552/7262996/1e7e3c22-e83b-11e4-8e7c-b7d7490dca7d.png)

[2015-04-21 21:31] pixelzoom commented on #179
Here's what it looks like with default ticks strokes and lineWidths. It's less noticeable, but still visibly wrong, especially at the min (leftmost) tick.

![screenshot_506](https://cloud.githubusercontent.com/assets/3046552/7263046/88ef6180-e83b-11e4-91e4-7379207e5a35.png)

[2015-04-21 21:34] pixelzoom commented on #179
Because ticks are added individually via addMajorTick and addMinor tick, there's no easy way to prevent this. HSlider could keep track and throw an Error if you attempt to add ticks for the same value. But it would still be up to the client to ensure that duplicate ticks aren't added.

[2015-04-21 21:47] jonathanolson commented on #171
Yes, an opacity that works well in all situations would be best.

[2015-04-21 21:52] pixelzoom commented on #179
Here's a simplified example of what the client needs to do in order to prevent overlapping tick marks:

[code]

Should HSlider have better support for this?

In Swing, Slider had a "label tabel", which you set in one call. Eg:

[code]

[2015-04-21 22:33] pixelzoom commented on #166
Graphing Quadratics has been moved ahead of Function Builder, so I will not be working on this in the foreseeable future. Unassigning.

[2015-04-22 16:36] samreid opened #180 "Add utilities to make it easy to test that dispose() is working properly"
During https://github.com/phetsims/beers-law-lab/issues/98 @jbphet & @samreid updated a few dispose methods to detach more listeners that had previously been neglected.  However, it is difficult for us to test whether the dispose methods are working properly.  Perhaps a utility that creates a lot of sun components (many instances of the same type) then tries to dispose() them could be helpful when

[2015-04-22 16:41] samreid opened #181 "Do we need a ComboBox.dispose() function if ComboBoxes are long-lived?"
Same question as https://github.com/phetsims/scenery-phet/issues/150 but for ComboBox.  Do we need a dispose() function if ComboBoxes are long-lived?

[2015-04-22 16:45] samreid opened #182 "Move HSlider to new dispose pattern"
HSlider stores many values as instance variables (as opposed to closure variables) and calls them in its dispose function.  @jbphet and @samreid have identified a superior pattern for handling this.  An example is forthcoming in MomentaryButtonModel.

[2015-04-22 16:47] samreid commented on #182
See 4ef67ea907bfc72a2b2e06643589eb68c3543401 changes to MomentaryButtonModel.

[2015-04-22 17:29] pixelzoom commented on #181
Nothing that has the same lifetime as the sim needs a dispose function. But when writing reusable components, I think a dispose function should generally be part of the required implementation.  It's relatively easy to add when you're writing code.  It's relatively expensive if you wait to implement "when needed".  (And I'm speaking from repeated experience here.)

[2015-04-22 17:30] pixelzoom commented on #181
Nothing that has the same lifetime as the sim needs a dispose function. But I don't think you can make that assumption when writing reusable UI components. So when writing reusable UI components, I think a dispose function should generally be part of the required implementation. It's relatively easy to add when you're writing code. It's relatively expensive if you wait to implement "when needed".

[2015-04-22 17:34] pixelzoom commented on #182
To make sure I understand... The "superior pattern" is to define this.disposeXXX (e.g., this.disposeComboBox) for each instance, and call that function from the prototype dispose function.  Is that correct?

[2015-04-22 17:36] samreid commented on #182
Yes, that's it.  It allows us flexible naming through closure variables (and without having to keep creating publicly accessible instance variables) while still working properly with subclassing.

[2015-04-22 17:53] pixelzoom commented on #182
Like.  Reducing to 1 instance variable greatly reduced the possibility of accidental shadowing by subtypes.  And I'd like to explicitly propose that the instance function should be named `this.disposeXXX`, where `XXX` is the name of the constructor.  For example `this.disposeComboBox` for type `ComboBox`. Following that convention will ensure that subtypes don't accidentally shadow the function.

[2015-04-22 18:47] samreid commented on #179
@jbphet & I will likely need the ability to customize slider ticks for beaker.

[2015-04-22 19:01] pixelzoom commented on #179
This issue deals with the problem of minor ticks being draw on top of major ticks, and how (or whether) to prevent that in the HSlider API.  If additional functionality is needed for HSlider, please create a new issue and describe the additional functionality.

[2015-04-22 19:09] samreid commented on #179
Perhaps one solution would be for HSlider to not draw minor tick marks when a major tick mark is at the same location.  But I like being able to set all of ticks (major+minor+labels) at once as well.

[2015-04-22 19:14] pixelzoom commented on #179
I am not necessarily proposing that we should add support for setting all ticks at once. To summarize my above comments... HSlider does not currently keep track of tick marks, it simply adds nodes when addMajorTick or addMinorTick are called.  And it's currently up to the client to ensure that duplicate tick marks are not added, because HSlider will happily add duplicates. Feedback requested: Is t

[2015-04-23 18:59] samreid commented on #179
At today's meeting, we discussed leaving this up to simulations for now and not providing a new API in HSlider, and the possibility of creating static utility helper functions in HSlider to create an array of major/minor tick locations given min, max and spacing.

[2015-04-24 20:28] pixelzoom commented on #172
@samreid Did @jonathanolson address your concern? Can this be closed, or is there something to do here?

[2015-04-24 20:29] pixelzoom commented on #8
I'm going to close this issue. We have sun.CheckBox, so it's unlikely we will start over.  If sun.CheckBox needs additional features, it would be more appropriate to create issues for those features.

[2015-04-24 20:29] #8 closed

[2015-04-24 20:31] pixelzoom commented on #9
I'm going to close this.  We have sun.HSlider, and it's being used widely.  Rather than redesign sliders, it's more likely that we'll create issues for additional features in HSlider.

[2015-04-24 20:31] #9 closed

[2015-04-24 20:36] pixelzoom commented on #12
This use of the 'label' option appears to have been expunged from all code (unless I missed something). Assigning to @samreid to verify, in case he's aware of someplace where it's still lurking.  Feel free to close.

[2015-04-24 20:38] pixelzoom commented on #162
@samreid Is this issue still relevant, now that the approach has changed?

[2015-04-24 20:39] pixelzoom commented on #146
@jbphet Is this issue still relevant, now that fillKept has been removed in scenery 0.2?

[2015-04-24 20:40] pixelzoom commented on #56
Duplicate of #166.

[2015-04-24 20:40] #56 closed

[2015-04-24 20:41] pixelzoom commented on #166
See duplicate issue https://github.com/phetsims/sun/issues/56 for additional discussion and requirements.

[2015-04-24 20:42] pixelzoom commented on #37
@samreid PushButton is history, no longer exists. Anything we need to do related to HomeButton that you mentioned above, or can this issue be closed?

[2015-04-24 23:19] samreid commented on #37
I think we are done here.  Closing.

[2015-04-24 23:19] #37 closed

[2015-04-24 23:26] jbphet commented on #175
So far I've either done it the way you tried to do it but with min height and width large enough so that the margins didn't matter, or done it by putting the icons in same-sized enclosing nodes.  But it would be nice to have a more straightforward way to do this.

I suppose we could do what Java does and add something like a 'preferredSize' (or some other name like 'fixedWidth' or 'fixedHeight') a

[2015-04-24 23:30] jbphet commented on #175
For reference, here is some test code that I inserted into Example Sim's ExampleScreenView to make it easy to experiment with this - might be useful for testing potential solutions:

[code]

...which renders buttons that look like this:
![example-buttons](https://cloud.githubusercontent.com/assets/3082831/7330216/7e8702e8-eaa7-11e4-8dd9-c9ed0267500e.png)

[2015-04-24 23:40] samreid commented on #175
Something I have done previously is write static utility functions that normalize an array of contents.  For instance:

[code]

This could be used as a preprocessing step before passing nodes into button sets, or (maybe?) eventually integrated into the common library components themselves.

[2015-04-24 23:41] jbphet commented on #173
@pixelzoom - what would you think of consolidating the possible values into a string-enum pattern a la https://github.com/phetsims/energy-forms-and-changes/blob/master/js/intro/model/EnergyContainerCategory.js and then specifying the type as {Property.<InteractionState>}?  Would this make it easier to figure out?  Seems to me like it would, but since you have the most recent experience with trying

[2015-04-25 00:40] samreid commented on #172
OK makes sense.  Thanks for explaining.  Closing.

[2015-04-25 00:40] #172 closed

[2015-04-25 00:45] samreid commented on #12
I looked for `:label '` and `'Sound'` and in SoundToggleButton and AriaSpeech and didn't see any evidence of leftover accessibility labels.  Closing.

[2015-04-25 00:45] #12 closed

[2015-04-25 00:47] samreid commented on #162
Well, we still have the following issues:
(1) we may wish to get a message whenever the user mouses over an item and it highlights
(2) we may wish to make individual buttons in the combo box be separate UI components, see https://github.com/phetsims/together/issues/76
(3) we may need a way to playback recorded sessions using combo box (though not for immediate deadlines)

[2015-04-25 00:47] samreid commented on #162
Unassigned because I have no plans to work on this at the moment.

[2015-04-25 18:39] pixelzoom commented on #173
Assigning this to me so I remember to reply.

[2015-04-27 16:36] pixelzoom opened #183 "add ability to constrain value to HSlider"
I need to constrain the value set by HSlider.  In Hooke's Law, the range of spring constant is 100-1000 N/m, but the requirement is to constrain the slider so that the value can only be set in increments of 10.  I'm proposing to add `options.constrainValue` to HSlider,  with default value `function(value) { return value; }`. This will be called immediate before any call to valueProperty.set.  Does

[2015-04-27 16:38] pixelzoom commented on #183
Another way to handle this would be to specify something like options.sliderIncrement, then do:

`value = Math.round( value / options.sliderIncrement ) * options.sliderIncrement;`

But options.constrainValue seems more flexible.

[2015-04-27 16:40] pixelzoom commented on #183
Feedback on Skype:

AD: fine with me
JB: Sounds good to me, and will be useful for something that we need to do shortly for beaker.  This also seems like a cool way to create things like integer-only sliders.  So yeah, good idea, I say go for it.
SR: I think options.constrainValue seems best
JB: I think I like the sound of the more general approach (options.constrainValue).

[2015-04-27 16:42] pixelzoom commented on #183
This also assumes that the model plays nice, and uses the same increment. Ie, if the slider is told to set its value to 93, it should not try to adjust the value to some multiple of 10 (for example).

[2015-04-27 16:44] pixelzoom commented on #183
Done as described above. @aaronsamuel137 could you please review?

[2015-04-27 17:17] pixelzoom commented on #182
This is done, assigning to @jbphet to verify. The changes were very difficult to test, and touched tandem instrumentation. So take a peek and let me know if you see any problems.

[2015-04-27 17:18] pixelzoom commented on #182
I also did some general cleanup, mentioned in the commits above. You can ignore the commits to hookes-law, they were included accidentally.

[2015-04-27 17:19] pixelzoom commented on #182
Labeling this issue as high-priority for review, since it has the potential to mess up a lot of sims.

[2015-04-27 17:51] pixelzoom commented on #173
Looks like this issue has come up before (https://github.com/phetsims/sun/issues/141), and the suggestion was to create an enum.  So yes, I think that's a good direction.

[2015-04-27 17:51] pixelzoom commented on #141
This is now being addressed in https://github.com/phetsims/sun/issues/173.

[2015-04-27 17:51] #141 closed

[2015-04-27 21:29] pixelzoom commented on #181
I completed the implementation of this.disposeComboBox. Assigning to @samreid for review.

[2015-04-27 21:34] pixelzoom commented on #177
I'm not so sure that we should remove options.enabledProperty.  I'm kind of liking this pattern.

[2015-04-27 21:37] pixelzoom commented on #176
@samreid or @jbphet Most recent commit to 'tandem' branch is 7 days ago. Most recent tandem-related commit to 'master' is 4 days ago.  Has work moved to master? If so, can this branch be deleted?

[2015-04-27 21:38] pixelzoom commented on #168
@jonathanolson status?

[2015-04-27 21:41] pixelzoom commented on #156
Thanks for the video, it helped clarify.

[2015-04-27 21:47] pixelzoom commented on #156
The problem is that when you click on the track, the thumb doesn't get a 'down' event.  So when the pointer leaves the thumb, it gets an 'up' event (instead of an 'out' event), which sets the thumb to its 'idle' color.

[2015-04-27 21:47] pixelzoom commented on #156
The thumb uses scenery.ButtonListener, and (as a reminder) here are the semantics of the states:

 * Uses 4 states:
 * up: mouse not over, not pressed
 * over: mouse over, not pressed
 * down: mouse over, pressed
 * out: mouse not over, pressed

[2015-04-27 21:51] pixelzoom commented on #156
@jonathanolson any thoughts on how to resolve this?  Seems clicking on the track needs to make the button think that the pointer is pressed in order for this to work.  My thought is that perhaps this is not worth resolving.

[2015-04-27 21:54] pixelzoom commented on #155
Having a difficult time determining what's happening here because I can't reproduce it.  Assigning to @jonathanolson to see if he has any thoughts/hunches.

[2015-04-27 21:55] pixelzoom commented on #155
Btw... I'm working on this because it has come up repeatedly in sims, most recently in phetsims/beaker#32.

[2015-04-27 21:55] pixelzoom commented on #156
Btw... I'm working on this because it has come up repeatedly in sims, most recently in phetsims/beaker#32.

[2015-04-27 21:56] pixelzoom commented on #146
@jonathanolson feel free to chime in on whether this issue is still relevant.

[2015-04-27 21:58] pixelzoom commented on #133
It now also appears in CheckBox, for both the check box and content:

[code]

[2015-04-27 21:59] pixelzoom commented on #133
I'd like to see enabled/disabled handled at the scenery level, see https://github.com/phetsims/sun/issues/19.

[2015-04-27 22:00] pixelzoom commented on #131
@samreid Sounds like @aaronsamuel137 answered your question. Anything else to do here?

[2015-04-27 22:01] pixelzoom commented on #123
Problem appears to be fixed in master. Now sure how or why, maybe scenery 0.2 addressed this. Closing.

[2015-04-27 22:01] #123 closed

[2015-04-27 22:02] pixelzoom commented on #119
@aaronsamuel137 Anything else to do here, or can this be closed?

[2015-04-27 22:03] pixelzoom commented on #116
Closing this because it's too vague to do anything about and it's been open for 6 months. If there are specific components that need to highlight, please create issues for those components.

[2015-04-27 22:03] #116 closed

[2015-04-27 22:05] pixelzoom commented on #100
@samreid wrote:

@jonathanolson Did scenery 0.2 solve this issue?

[2015-04-27 22:05] pixelzoom commented on #43
@samreid status? This has been open for 16 months.

[2015-04-27 22:09] pixelzoom commented on #34
LevelStartButton was replaced by LevelSelectionButton, which you can see in the Game screen of RPAL (screenshot below). The buttons have a pseudo-3D look.  So I'm going to close this. @samreid if this is not what you had in mind, please reopen and elaborate.

![screenshot_13](https://cloud.githubusercontent.com/assets/3046552/7359079/c18435d2-ecf7-11e4-9e49-c838ab5e527b.png)

[2015-04-27 22:09] #34 closed

[2015-04-27 22:14] pixelzoom commented on #51
InOutRadioButton is used in:

acid-base-solutions
balloons-and-static-electricity
estimate
fraction-comparison
under-pressure

I don't see any reason why we shouldn't replace them with RadioButtonGroup. The "shadow" look was eliminated in vegas, and no one complained.

[2015-04-27 22:18] pixelzoom commented on #51
I love this note in the options for acid-base-solutions.ToolsControl:

` //NOTE: shadow and motion offsets rely on buggy behavior of InOutRadioButton, see sun#50`

All the more reason to 86 InOutRadioButton.

[2015-04-27 22:34] pixelzoom opened #184 "replace InOutRadioButton with RadioButtonGroup"
Motivated by https://github.com/phetsims/sun/issues/50, https://github.com/phetsims/sun/issues/51 and https://github.com/phetsims/sun/issues/132.

InOutRadioButton has significant problems, and has a "shadow" look that we intentionally moved aware from for game buttons (e.g., vegas.LevelSelectionButton).  RadioButtonGroup is superior.

InOutRadioButton is currently used in these sims (designer in

[2015-04-27 22:37] pixelzoom commented on #184
@ycarpenterphet Do you see any reason why we can't replace InOutRadioButton with RadioButtonGroup in acid-base-solutions?

Here's acid-base-solutions with InOutRadioButton:

![screenshot_15](https://cloud.githubusercontent.com/assets/3046552/7359410/53c2eecc-ecfb-11e4-872e-edaa8e21b960.png)

Here's acid-base-solutions with RadioButtonGroup:

![screenshot_16](https://cloud.githubusercontent.com/ass

[2015-04-27 22:53] pixelzoom commented on #175
@samreid Does your utility normalize by setting localBounds on each node, or by creating additional wrapper nodes?

[2015-04-27 22:56] samreid commented on #175
I don't have a modern implementation, just an idea.  But technically it could do either, right?  In the past when I have used this strategy (say, in Java), I created additional wrapper nodes.  That may be contraindicated in scenery, so using localBounds may work nicely. ??

[2015-04-28 00:31] jonathanolson commented on #100
Yes, using addCachedPaint/removeCachedPaint or setting node.cachedPaints=[...], with all of the gradients/patterns that would potentially be used.

[2015-04-28 00:34] jonathanolson commented on #123
Looks like opacity is working properly for the DOM renderer now, presumably fixed in 0.2.

[2015-04-28 00:35] jonathanolson commented on #146
fillKept has been removed, please add to node.cachedPaints (addCachedPaint( gradient )) or set node.cachedPaints=[..gradients..]. No need to garbage collect these, when the node is not in the displayed tree at all (even if invisible), they'll be removed Scenery-side.

[2015-04-28 00:45] jonathanolson commented on #156
Since they need shared state, what is your opinion on one listener for the combined thumb/track? Down on either should presumably cause the same thumb state. You can check for "is the pointer over the thumb at the start, or the track" for how to handle the "down", then the "move" events can be handled in the same way?

[2015-04-28 00:48] jonathanolson commented on #155
Sounds like a probable issue on the Scenery side, but I'd like to investigate it through this issue. What priority is resolving this?

[2015-04-28 00:59] jonathanolson commented on #168
Deleted, closing.

[2015-04-28 00:59] #168 closed

[2015-04-28 13:59] pixelzoom commented on #156
That sounds like it may do the trick. I'll investigate.

[2015-04-28 14:00] pixelzoom commented on #155
No idea. @ariel-phet ?

[2015-04-28 16:03] ariel-phet commented on #155
I am going to go with pretty low priority. Definitely a bug, and undesirable, but it seems to only occur after the user has already learned that the slider is an active component. It actually took me a moment to realize what was not highlighting in the video @phet-steele created.

[2015-04-28 17:17] samreid commented on #181
I saw another listener in the constructor that is not getting removed:

[code]

Does this need to be `removeEventListener`ed?

Also, do we need to remove the itemListener from the items?

[code]

[2015-04-28 17:21] samreid commented on #177
I agreed it is nice where it is used, but I think the trouble was that we weren't consistently supporting this pattern.  Perhaps we could more broadly support this pattern?

[2015-04-28 17:22] samreid commented on #176
Deleted, closing.

[2015-04-28 17:22] #176 closed

[2015-04-28 17:26] samreid commented on #131
Sounds good, thanks for the explanation @aaronsamuel137.

[2015-04-28 17:26] #131 closed

[2015-04-28 17:28] samreid commented on #43
"Undo" no longer formally used in ESPB.  Let's ask @aaronsamuel137 if there is one for gravity and orbits, and what the condition is.

[2015-04-28 17:29] samreid commented on #34
Seems good, thanks.

[2015-04-28 17:34] pixelzoom commented on #181
We do not need to remove the listener added to buttonNode. buttonNode and the listener have the same lifetime, and are both owned by the ComboBox.  Ditto for the itemNodes and itemListener.

[2015-04-28 17:40] samreid commented on #181
I see, thanks for clarifying that (I think I have been fuzzy on that issue previously).  Everything else seems good.

[2015-04-28 17:40] #181 closed

[2015-04-28 18:10] pixelzoom commented on #184
@samreid You and Noah P. are listed as the designers for balloons-and-static-electricity. So I think it's your call about switching to RadioButtonGroup. What say ye?

[2015-04-28 18:13] pixelzoom commented on #184
Looking at the list of sims above (https://github.com/phetsims/sun/issues/184#issue-71421084), with the exception of @samreid, all of the designers are no longer with the project.  So how are we going to resolve this?

[2015-04-28 18:18] samreid commented on #184
I think balloons will work well with RadioButtonGroup.  I also think we should use RadioButtonGroup for the other cases as well (though I didn't review each one in context).  I think if we run across situations where RadioButtonGroup doesn't look perfect, we should adapt RadioButtonGroup to work instead of using InOutRadioButton instead.  But I think @ariel-phet needs to be in this discussion sinc

[2015-04-28 18:27] pixelzoom commented on #184
I agree that RadioButtonGroup will work well. To my eye, the indication of which item is selected is superior.

@ariel-phet The proposal is to replace all usages of InOutRadioButton with RadioButtonGroup, and delete InOutRadioButton.  Let us know what you think, then assign back to me.

[2015-04-28 18:44] ariel-phet commented on #184
Agreed, that drop shadow look was sort of an older variant, and I agree that the RadioButtonGroup has a major advantage of clarity over which item is selected. We also have good evidence of this clarity from interviews since it is the same paradigm used in our "Scene" selection buttons, as well as a similar paradigm to what is done for the Screen selection icons on the navbar.

[2015-04-28 19:26] aaronsamuel137 commented on #43
The GAO undo button is just a png image. I can look into implementing this with a scenery path and putting it in common code if that is desirable.

[2015-04-28 20:26] pixelzoom commented on #184
OK. I'll do the conversions to RadioButtonGroup

[2015-04-29 18:03] pixelzoom commented on #184
acid-base-solutions, balloons-and-static-electricity and under-pressure are published sims, so their look can be compared to the versions on the PhET website.

For the other 2 sims, I published dev versions before changing to RadioButtonGroup, to facility before/after comparisons.  Here are those dev versions:

http://www.colorado.edu/physics/phet/dev/html/estimation/1.0.0-dev.3/estimation_en.html

[2015-04-29 18:06] pixelzoom commented on #184
@ycarpenterphet You can ignore the request above. We decide to change all sims to RadioButtonGroup, so that they have a uniform look.

[2015-04-29 18:08] pixelzoom opened #185 "experimental/SliderKnob.js"
js/experimental/SliderKnob.js has no doc, and I don't see an issue related to it. What is this and what is the plan for it?  Can it be deleted?

[2015-04-29 18:09] pixelzoom commented on #184
Can InOutRadioButton and InOutRadioButtonView in js/experimental/buttons also be deleted?

[2015-04-29 18:11] pixelzoom commented on #185
Assigning to @jbphet since commits show that he was the author and did most of the work on it.

[2015-04-29 18:18] samreid commented on #184
Discussed over skype, the answer is yes.

[2015-04-29 19:48] pixelzoom commented on #184
I have reviewed acid-base-solutions, since I was the developer liaison.

Could the responsible developers please review the other sims? That is:

@jbphet: estimation

@samreid: balloons-and-static-electricity, fraction-comparison, and under-pressure

[2015-04-29 19:49] pixelzoom commented on #184
Btw.. estimation was the most time consuming. The icons originally contained the white background, and they had to be recreated from the .ai files with transparent backgrounds.

[2015-04-29 20:06] pixelzoom commented on #175
No plans to work on this further. I'll leave this open in case we want to address it in button API.

[2015-04-29 20:49] pixelzoom commented on #136
RectangularButtonView looks like it handles this properly.

RoundButtonView looks like it has multiple serious problems.

[2015-04-29 20:53] pixelzoom commented on #58
Closing this issue, since it is mostly out of date. RoundPushButton uses RoundButtonView, and it seems to be working OK (unless you don't give it content, see #136).

[2015-04-29 20:53] #58 closed

[2015-04-29 20:55] pixelzoom commented on #50
InOutRadioButton no longer exists, see #184. Closing.

[2015-04-29 20:55] #50 closed

[2015-04-29 20:55] pixelzoom commented on #51
InOutRadioButton no longer exists, see #184. Closing.

[2015-04-29 20:55] #51 closed

[2015-04-29 20:59] pixelzoom commented on #132
InOutRadioButton no longer exists, see #184. Closing.

[2015-04-29 20:59] #132 closed

[2015-04-29 21:00] pixelzoom commented on #121
Also need to call tandem.removeComponent in any components that are instrumented with data collection.

[2015-04-29 22:08] jbphet commented on #182
Review completed.  I noticed one place where a link was being done that should probably be an unlink, see https://github.com/phetsims/sun/commit/7b9e8cb3f973a976dc32f3f2a8c61331becb4d25.

I also tested this by using the constraint capability to implement an integer slider in the beaker sim, and it worked well.  Closing.

[2015-04-29 22:12] #182 closed

[2015-05-03 01:09] samreid commented on #184
Sim + code looks good for balloons-and-static-electricity, fraction-comparison, and under-pressure, nice work.  @jbphet can look at estimation next.

[2015-05-04 19:47] jbphet commented on #185
There was a request from @ariel-phet from quite a while ago to make a slider knob based on the newly created (at the time) button code.  This was prototyped, shown at a team meeting, and I believe the direction was to continue working on it.  However, other priorities took precedence.  We can leave this open as a reminder to get back to it at some point.

[2015-05-05 18:53] jbphet commented on #184
Looks good in estimation too, closing.

[2015-05-05 18:53] #184 closed

[2015-05-14 18:07] pixelzoom opened #186 "RadioButton lacks 'enabled' feature"
RadioButton and its subtypes (e.g. AquaRadioButton) currently lack the 'enabled' feature. This is needed for hookes-law-lab.  I'll add it as we have for other sun components - using opacity.

[2015-05-14 18:13] pixelzoom commented on #186
It would be nice to someday make RadioButton and its subtypes more similar to the components in sun/buttons/. That is, have a RadioButtonModel and various radio button views.  But that's a huge chunk of work. So for now, I've implemented the 'enabled' feature in the context of how RadioButton is currently implemented.

Assigning to @jbphet for review.

[2015-05-14 18:57] jbphet commented on #186
I'm not seeing anything in the code that disables pickability, so I tried just setting enabled false on an AquaRadioButton in a sim (acid-base-solutions) and the button got transparent but still worked.  So I think pickability may need to be set.  Back to you, @pixelzoom.

[2015-05-14 19:06] pixelzoom commented on #186
(Accidentally checked in BracketNode in the above commit, you can ignore that.)

`this.pickable = enabled`

Back to @jbphet.

[2015-05-14 19:08] jbphet commented on #186
Looks good, closing.

[2015-05-14 19:08] #186 closed

[2015-05-15 23:10] pixelzoom opened #187 "font-awesome.txt is missing"
FontAwesomeNode has this comment:

[code]

FontAwesomeToScenery contains this comment:

[code]

`font-awesome.txt` is presumably a file from the Font Awesome distribution. But it's not in sherpa, and there is no such file in the latest release (4.3.0).

In https://github.com/phetsims/sherpa/issues/14#issuecomment-101040795, I asked:

In https://github.com/phetsims/sherpa/issues/14#issuecomment-101

[2015-05-15 23:13] pixelzoom commented on #187
What we should do is look back through previous versions of Font Awesome, and locate the version that has font-awesome.txt.  This would also help with https://github.com/phetsims/sherpa/issues/14, where we don't know which version number to assign to the 'font-awesome' license entry in sherpa/info.js.

[2015-05-15 23:27] pixelzoom commented on #187
As recently as 10/21/14, I was able to add icons to FontAwesomeNode.js.

[2015-05-15 23:35] pixelzoom commented on #187
Looking at Font Awesome 3.2.1 distribution, the data in sun.FontAwesomeNode is in font-awesome/font/fontawesome-webfont.svg.

Here's how I searched the entire distribution. "M1283 995l-355" is the first part of the "fullscreen" icon in sun.FontAwesomeNode.

[code]

[2015-05-15 23:37] pixelzoom commented on #187
Doing a similar search in the Font Awesome 4.3.0 (latest) distribution reveals that the icon data is still in fontawesome-webfont.svg.

[2015-05-15 23:44] pixelzoom commented on #187
FontAwesomeToScenery.java has this comment:

[code]
And it is indeed checked in to SVN.  It looks like this may be all of the "<glyph>" tags extracted from fontawesome-webfont.svg (which is actually an XML file).

@samreid Does that ring a bell?

[2015-05-15 23:46] pixelzoom commented on #187
For now, I'm going to move font-awesome.txt from Unfuddle SVN to GitHub sherpa/lib/. And I'm also going to check fontawesome-webfont.svg 4.3.0 into sherpa/lib.

[2015-05-15 23:49] pixelzoom commented on #187
Ah, mystery solved. The comment in FontAwesomeToScenery.java goes on to say:

[code]

Guess I should have read the entire doc :)

[2015-05-15 23:52] pixelzoom commented on #187
Must be getting tired... src/assets/font-awesome/fonts/fontawesome-webfont.svg is in the font-awesome github repo.  So I won't check fontawesome-webfont.svg in.

[2015-05-16 00:00] pixelzoom commented on #187
font-awesome.txt moved from Unfuddle to GitHub: https://github.com/phetsims/sherpa/commit/39ea09f73bc24bca323685e12b2890fb9b5962f1

[2015-05-16 00:05] #187 closed

[2015-05-21 17:46] pixelzoom commented on #178
This was also proposed for HSlider in https://github.com/phetsims/sun/issues/177.

No consensus yet on whetherr we should do this.

[2015-05-21 17:47] pixelzoom commented on #177
Moved the issue of whether to remove options.enabledProperty to https://github.com/phetsims/sun/issues/178.

So the original work covered by this issue is completed, closing.

[2015-05-21 17:47] #177 closed

[2015-05-21 19:11] aaronsamuel137 commented on #178
I can work on this if that's what we decide, but it sounds like @samreid and @pixelzoom are liking this pattern, and so am I. Perhaps we should just leave things as they are?

[2015-05-21 19:26] pixelzoom commented on #178
Since it's part of the options API, I'm OK with leaving it as is. If we encounter additional situations where we wish we had this option, then we can revisit adding it as a standard thing.  If we don't encounter such situations, it's not tragic if these are the only cases where it's useful.

[2015-05-21 19:26] pixelzoom commented on #178
If @samreid feels the same way, then I'm OK with closing this issue.

[2015-05-22 12:08] samreid commented on #178
Yes, I agree with @pixelzoom's statement here https://github.com/phetsims/sun/issues/178#issuecomment-104394687, closing.

[2015-05-22 12:08] #178 closed

[2015-05-22 17:21] pixelzoom commented on #183
@aaronsamuel137 reminder that you're assigned to review this.

[2015-05-22 17:21] pixelzoom commented on #171
@jbphet reminder that you're assigned to review this.

[2015-05-22 17:24] pixelzoom commented on #170
@samreid @jbphet Is this issue still relevant? addComponent/removeComponent doesn't appear to exist anymore. Do they have new named?

[2015-05-22 17:29] aaronsamuel137 commented on #183
Looks great. Closing

[2015-05-22 17:29] #183 closed

[2015-05-22 17:30] pixelzoom commented on #170
I suspect that this is now tandem.addInstance and removeInstance. Please confirm.

[2015-05-22 17:32] pixelzoom commented on #150
Assigning to @jbphet since he was the primary architect of sun buttons, and was involved in using the scenery 0.1 "fillKept" feature.

[2015-05-22 17:34] pixelzoom commented on #146
So yes, this issue is relevant and still needs to be addressed (before Summer 2015 redeploy).

Issue https://github.com/phetsims/sun/issues/150 may be a duplicate, or may address this.

[2015-05-22 17:36] pixelzoom commented on #121
At the very least, this should be triaged before "Summer 2015 redeploy", to see if we may have sims that are leaking memory because of this issue.

[2015-05-22 17:36] pixelzoom commented on #119
@aaronsamuel137 Anything else to do here, or can this be closed?

[2015-05-22 17:43] aaronsamuel137 commented on #119
Nothing else to be done for this issue. Closing.

[2015-05-22 17:43] #119 closed

[2015-05-22 17:44] pixelzoom commented on #100
This should be addressed by https://github.com/phetsims/sun/issues/150.  @jonathanolson please work with @jbphet to implement cachedPaints for sun components.

[2015-05-22 17:50] pixelzoom commented on #66
No idea when it was added, but track does have a cursor when I tested sun 096cf90b4d6f28fcf51f0262ae386e55543ee687.  As for the track being too small... it's size can be changed via options.trackSize.  If someone feels that we need an API to set the touchArea of the track and default thumb, please create an issue.

Closing.

[2015-05-22 17:50] #66 closed

[2015-05-22 17:51] pixelzoom commented on #29
Duplicate of https://github.com/phetsims/sun/issues/105, closing.

[2015-05-22 17:51] #29 closed

[2015-05-22 18:50] jonathanolson commented on #146
To me, https://github.com/phetsims/sun/issues/150 would be helpful for performance, but as noted two times above, Scenery 0.2 won't let gradients leak.

Can we leave https://github.com/phetsims/sun/issues/150 as the open issue to handle adding in cachedPaints?

[2015-05-22 18:57] pixelzoom commented on #146
@jonathanolson feel free to close this issue as you see fit.  I'd prefer not to keep sticking my nose in it, and have you and @jbphet work it out.

[2015-05-22 19:00] jonathanolson commented on #146
Sounds good to me. I'll take primary responsibility on moving older code over to use it.

[2015-05-22 19:00] #146 closed

[2015-05-22 20:59] jonathanolson commented on #150
Added cachedPaints where appropriate (basically everywhere we are switching between fills/gradients).

Will wait for @jbphet to review.

[2015-05-22 21:01] jonathanolson commented on #100
cachedPaints has been added to the relevant sun buttons, see https://github.com/phetsims/sun/issues/150.

I saw no pause on desktop, but don't have the iPad 3 available for testing at the moment.

[2015-05-22 22:48] samreid commented on #170
Yes, sim and library code will use tandem.add/removeInstance.

[2015-05-23 04:16] jonathanolson commented on #100
Tested on the iPad 3, however there's a pause regardless of the changes, or whether that button is enabled or not.

Seems to be more related to the lack of WebGL, but I'd love to have it profiled.

[2015-05-23 04:19] jonathanolson commented on #100
Also noted in the spreadsheet for redeploy that ESPB's WebGL will need to be redone with WebGLNode, as it's too slow on the iPad right now.

As far as I'm concerned (and have tested), this particular issue shouldn't be causing performance problems now. Reassigning to @pixelzoom to see if there's anything else that needs to be done for the redeploy with this particular issue.

[2015-05-26 17:05] pixelzoom commented on #121
Assigning to @ariel-phet to decide how/whether to address this.

[2015-05-26 17:06] pixelzoom commented on #100
I've never experienced this, so I can't verify/close. Assigning back to @samreid because he reported the initial problem.

[2015-05-26 19:18] pixelzoom commented on #156
The single-listener approach is now going to be more difficult because of work done to support beaker, see https://github.com/phetsims/beaker/issues/39#issuecomment-105637539.  Different messages are sent based on whether the user is interacting with the thumb or track.

[2015-05-26 20:28] pixelzoom commented on #156
This issue must be addressed in conjunction with https://github.com/phetsims/beaker/issues/39.

[2015-05-26 23:56] samreid commented on #170
Tandem de-registration should happen in dispose implementations.  For instance, HSlider implements both like so:

[code]

Not sure what else remains to be done for this issue, @pixelzoom can you comment?

[2015-05-26 23:58] samreid commented on #100
This issue was prominent on my Lenovo + Win + Chrome setup, I will need to wait until I have access to that platform again (it is currently at my home office) to test this out.

[2015-05-27 14:11] pixelzoom commented on #170
There are places where dispose is missing or buggy (e.g., https://github.com/phetsims/axon/issues/61), but I guess we'll address those as we hit them.  At least we have a pattern for when/where to call tandem.removeInstance.

Closing.

[2015-05-27 14:11] #170 closed

[2015-05-27 17:47] jbphet commented on #156
@pixelzoom and I had a phone discussion yesterday about this issue as it relates to the Beaker sim.  We decided that we think it would be fine to consolidate the messages sent when the user drags on the track with those resulting from dragging the knob, since it seems very unlikely that researchers or other consumers of the event stream will care about the distinction.  The only requirement for di

[2015-05-27 17:58] pixelzoom commented on #156
@jbphet I'm still interested in your thoughts on the general topic, as summarized in https://github.com/phetsims/beaker/issues/39#issuecomment-105668162.

[2015-05-27 21:35] pixelzoom commented on #55
This bit me hard today. I had a bad range that I'd provided to a slider, and it was silently clamping the value. Spent 2 hours looking for the problem in my model.

[2015-05-28 18:04] pixelzoom commented on #121
5/28/15 dev meeting: Not necessary for "Summer 2015 redeploy". If a sim is leaking memory, it's OK if it continues to leak memory for this release. We'll probably address this when we start instrumenting sims for data collection, since that will require addressing the dispose issue for tandem.removeInstance.

[2015-06-01 16:08] pixelzoom opened #188 "buggy accessibility code in HSlider"
This bit of buggy code was added to HSlider by @samreid, presumably as part of some accessibility experiment. It's buggy because it allows you to modify a slider that is disabled.

[code]

[2015-06-01 16:22] pixelzoom commented on #188
Fixed so that arrow buttons do nothing if slider is disabled.  The thumb can still receive focus while disabled.  I don't know if that's desired behavior, or how to address it if it's not.  Assigning to @samreid to do verify and handle any remaining work.

[2015-06-01 23:02] pixelzoom commented on #156
@jbphet replied to the general issue in https://github.com/phetsims/beaker/issues/39#issuecomment-106073517

[2015-06-04 20:12] pixelzoom commented on #185
@dubson reported (and I confirmed) that the sun demo app is now broken due to the experimental SliderKnob. I am commenting it out.

[2015-06-04 22:33] samreid commented on #100
I switched ClearThermalButton.js to use RectangularButtonView.threeDAppearanceStrategy instead of the flatAppearanceStrategy, and tested with master branches on my Lenovo running Win8+Chrome 43.0.2357.81 m (64-bit) and the problem is gone.  The buttons enable instantly and there is no pause in the motion of the skater.  This issue seems like it has been addressed by something, possibly (a) scenery

[2015-06-04 22:33] #100 closed

[2015-06-04 23:30] pixelzoom commented on #100
@samreid wrote:

Why would they be used in ESPB and not in other sims?

[2015-06-04 23:30] pixelzoom commented on #100
... or perhaps this is specific to the thermal buttons, and there's some reason why they specifically look better as 3D-ish?

[2015-06-04 23:46] samreid commented on #100
RectangularButtonView.threeDAppearanceStrategy is the default (see RectangularButtonView.js) but ESPB had to use the flat version as a workaround since dynamic motion was getting disturbed when the button became enabled.  All sims should probably be using the default unless there are extenuating circumstances.

[2015-06-05 22:41] pixelzoom commented on #100
Got it, thanks for clarifying.

[2015-06-10 18:41] jbphet commented on #150
The commits look good based on my understanding of how the cached paints feature works, which in turn is based on what I see in the Scenery documentation here: http://phetsims.github.io/scenery/doc/#paintable-cachedPaints and a look at the Scenery code.  I removed one cached gradient that appeared to be redundant (see commit above) and did some other minor code cleanup.  I tested on Win7 using Chr

[2015-06-10 18:41] #150 closed

[2015-06-17 22:12] jbphet commented on #171
Commits look good - seems like this eliminated a fair amount of code.  I tested the behavior on several sims that set checkboxes to be disabled, and it worked great in all cases.  I also tested setting various options, such as the background color, and made sure that they all worked well with setting of the enabled state.  All in all, this looks awesome.  Nice.  Closing.

[2015-06-17 22:12] #171 closed

[2015-06-23 23:35] jbphet opened #189 "issues with PressAndHoldListener"
While working on https://github.com/phetsims/scenery-phet/issues/71, I observed two issues with PressAndHoldListener:

1. the endCallback function is called even if the button is disabled
2. the first firing from press-and-hold doesn't occur until after the timerDelay plus one timerInterval.  It should probably fire the first time after one timerDelay

@pixelzoom and I discussed whether this liste

[2015-06-25 03:04] pixelzoom commented on #189
@jbphet Why is this assigned to me? Can't you make the same fixes that you did when you copied this code into sun buttons?

[2015-06-25 17:39] jbphet commented on #189
Removed accidentally committed debug statements in 3b38f4eff215f7dbf2dd4f9b6e735fcf701c43b9.

[2015-06-25 17:46] jbphet commented on #189
Changes made, back to you @pixelzoom.

[2015-06-30 14:14] pixelzoom commented on #189
The amount of duplication with between PressAndHoldListener  and PushButtonModel still bothers me. I'm going to take a closer look, perhaps there's some general "handler" pattern than can be factored out and used in both places.

[2015-06-30 15:03] pixelzoom commented on #189
Tested with ArrowButton and NumberPicker. Closing.

[2015-06-30 15:03] #189 closed

[2015-06-30 19:02] pixelzoom opened #190 "bad arg to supertype constructor in ButtonModel"
Here's how ButtonModel calls its supertype constructor:

[code]

The last arg to PropertySet is supposed to be {Object} options, so I don't know how passing {string} 'buttonModel' is working.

[2015-06-30 19:15] pixelzoom commented on #190
Here's the fixed supertype constructor call. (I also took some of the obvious/verbose verbage out of the properties comments.)

[code]

I'm guess that the 'buttonModel' arg was vestigial, leftover from one of the many together approaches that was tried.  Assigning to @jbphet to answer to verify that, and to verify the changes.

[2015-06-30 20:56] pixelzoom commented on #156
While I'd like to get this done for "Summer 2015 redeploy", it's such a corner case that it shouldn't delay publication of any sims.

[2015-07-01 23:35] jbphet commented on #190
Indeed, that was a bad argument.  The fixes look good and make sense.  I'll do some testing as well once the issues described in https://github.com/phetsims/scenery-phet/issues/71#issuecomment-117849861 is cleared up.

[2015-07-06 19:18] jbphet commented on #190
Commit looks good.  Button behavior tested in Sun Demo, Faraday's Law, Example Sim, Hooke's Law, and Area Builder and the behavior seems correct in all cases.  Closing.

[2015-07-06 19:18] #190 closed

[2015-07-13 18:36] pixelzoom opened #191 "index out of range in LayoutBox"
Noticed while working on phetsims/joist#275.

In updateLayout:

[code]

When `i === this._children.length-1`, `this._children[ i + 1 ]` is undefined. So I'm not sure how this is even working. This assertion will fail if put in the loop:

`assert && assert( this._children[ i + 1 ], 'index out of range' );`

[2015-07-13 18:42] pixelzoom commented on #191
This is working only because the default `this.options.spacing` is by default a function that ignores its arguments and returns a constant.  If any client were to use the arguments as documented, it would fail.

[2015-07-13 18:46] pixelzoom commented on #191
LayoutBox is a scenery node, moved this issue to https://github.com/phetsims/scenery/issues/445. Closing.

[2015-07-13 18:46] #191 closed

[2015-07-13 21:05] pixelzoom opened #192 "tandem should not be passed to supertype"
In general, if a type calls `tandem.addInstance`, then the tandem should not be passed to the supertype, as this can lead to multiple calls to addInstance. There many examples in sun (CheckBox, ComboBox, HSlider, OnOffSwitch, RadioButton, RoundPushButton, ...) where a subtype calls tandem.addInstance, and then proceeds to pass the tandem to its supertype.

[2015-07-13 23:11] pixelzoom opened #193 "package.json is missing simTitleStringKey, sun demo won't build"
[code]

[2015-07-13 23:28] #193 closed

[2015-07-14 01:12] samreid commented on #192
Well, this will need further discussion.  It may be essential in some cases to pass the tandem to the parent so that children (from composition) can register themselves.  What you cannot do at the moment is register the same instance twice, but perhaps we will find a way around this issue or make it so that each level in a type hierarchy can be registered.

[2015-07-14 17:36] pixelzoom commented on #192
7/14/15 dev meeting consensus: If you pass a tandem through options, don't pass it to supertype unless you document why you're doing so.

[2015-07-24 22:14] jbphet commented on #110
This problem still occurs when long strings are used, see https://github.com/phetsims/molecule-shapes/issues/130#issue-96614720.  Reopening.

[2015-07-24 23:01] jbphet commented on #110
Code has been added to prevent recursive updates of the background, more info can be found in https://github.com/phetsims/molecule-shapes/issues/130.

[2015-07-26 18:15] samreid commented on #110
I made my review notes in https://github.com/phetsims/molecule-shapes/issues/130, copied here for your convenience:

I reverted Panel.js to sun/cec7fc906bdb209ba0938760f2e60eb25a59912d and reproduced the error.  After updating to @jbphet version, the problem is gone.

I understand the strategy @jbphet employed in the fix and it seems straightforward to me, but I am wondering when a secondary (recu

[2015-08-02 18:30] samreid commented on #188
There is still an outstanding question of whether disabled components should be focusable.  Perhaps @emily-phet knows, or perhaps we need to research/investigate.

The solution from https://github.com/phetsims/sun/commit/e993654af986d86b79c4ea8b2b30f82a7f102e80 looks good.  I tested it in http://localhost:8080/beers-law-lab/beers-law-lab_en.html?ea&accessibility and verified that once the slider b

[2015-08-02 18:30] #188 closed

[2015-08-02 18:39] samreid commented on #188
By the way, here's an issue that pertains to whether disabled components should be focusable: https://github.com/phetsims/sun/issues/154

[2015-08-03 02:14] samreid commented on #118
No plans to work on this soon, so I'm unassigning it.  Others feel free to go for it.

[2015-08-03 02:16] samreid commented on #154
It would be good to discuss this issue with @emily-phet and @jessegreenberg. I'm not sure what should happen to focus for disabled components.  Keep in mind that some components will lose focus while the user is dragging them, such as the evaporation slider in Beer's Law Lab.  Reassigning to @emily-phet for now as this appears somewhat of an accessibility design question.

[2015-08-03 15:43] pixelzoom commented on #110
This sounds serious enough to label as required for S2015R.  If you disagree, feel free to comment on why and un-label.

[2015-08-03 17:55] samreid commented on #110
@jbphet since https://github.com/phetsims/molecule-shapes/issues/130 is closed should this issue be closed too?

[2015-08-04 15:11] jbphet commented on #110
We were going to have @jonathanolson review, but I spoke with him and he said that there was no easy way to handle the floating point issues in Scenery, so the recursion prevention is a reasonable approach.  So yes, I will go ahead and close this.

[2015-08-04 15:11] #110 closed

[2015-08-05 17:59] jbphet commented on #185
In the interest of code cleanliness, I decided to delete the experimental SliderKnob and remove the commented-out code from the demo.  I think we would use a different approach now anyway, given that the buttons have evolved a lot.  Closing.

[2015-08-05 17:59] #185 closed

[2015-08-10 19:43] jbphet commented on #136
I'm taking a look at this after it has sat for quite a while.  I added an empty RectangularPushButton and RoundPushButton to the Sun demo as an experiment (not checked in).  No errors were thrown nor asserts encountered.  However, the two buttons seemed to behave much differently in the absence of content.  This is what they looked like:

![sun-demo-empty-buttons](https://cloud.githubusercontent.c

[2015-08-11 18:17] jbphet commented on #136
@pixelzoom suggested that the ```minWidth``` and ```minHeight``` options be tested with no content for RectangularPushButton before closing this issue.  I've done that testing, and these parameters work as expected with no problems.  For good measure, I also tested the ```radius``` option for RoundPushButton, and it works fine as well.  Everything looks good, closing.

[2015-08-11 18:17] #136 closed

[2015-08-13 03:41] pixelzoom opened #194 "branch: together"
Please document this branch.

[2015-08-13 14:30] samreid commented on #194
That branch no longer exists on the remote.  Perhaps you have a stale copy of the branch in your working copy?

[2015-08-13 16:30] pixelzoom commented on #194
My bad. I had updated to the new "GitHub Desktop" client, and was confused by the new user interface.

Closing.

[2015-08-13 16:30] #194 closed

[2015-08-31 19:23] pixelzoom opened #195 "add visibility annotations"
Add a @public, @protected or @private annotation to anything that's publicly visible.
See https://github.com/phetsims/tasks/issues/307.

[2015-09-01 21:43] pixelzoom commented on #156
No plans to work on this in the near future, so unassigning for now.

[2015-09-04 19:18] pixelzoom opened #196 "sun demo should use default ScreenView layoutBounds"
If we want this demo to be representative of what sun components typically look like, we should probably be using the default layoutBounds. It's currently using `new Bounds2( 0, 0, 768, 504 )`, the default is `new Bounds2( 0, 0, 1024, 618 )`.

[2015-09-04 19:26] pixelzoom commented on #196
@jbphet I'll take care of this for scenery-phet (https://github.com/phetsims/scenery-phet/issues/182), how about you handling sun?

[2015-09-08 18:48] jbphet commented on #196
this has been addressed, closing

[2015-09-08 18:48] #196 closed

[2015-09-08 23:20] pixelzoom commented on #166
@ariel-phet There are multiple designs and implementations of carousel floating around.  So step one is to review the existing variants, and come up with a unified design.  Assigning this to you to decide which designer should lead the design effort.

As for Function Builder... Based on what I know about the schedule for Function Builder, we can't let this delay implementation. If the unified desi

[2015-09-09 06:03] ariel-phet commented on #166
@pixelzoom - see above, the design in function builder should be the common carousel, and should replace the one in area builder. We may need two types of carousels, on that is like the one in function builder (which will also be in Area Builder, and build a molecule). This is sort of the large carousel that tends to go at the bottom of the screen. We might need a second implementation at some poi

[2015-09-09 18:52] pixelzoom commented on #166
@ariel-phet wrote:

If that's true, then I should be able to proceed without looking at other variants (none of which matches the design in Function Builder), and leave it to others to replace their implementations with what I implement for Function Builder.  I'll be happy to proceed under that assumption, if that's what you want.

But I'm skeptical (a)  that anyone has reviewed the multiple varia

[2015-09-09 19:20] ariel-phet commented on #166
@pixelzoom, as I mentioned above, I think there may need to be more than one variant of the carousel to fit different purposes. I think what has been designed for function builder fits our current design paradigm and will work well for area builder. I also think that design could work for build a molecule, with some design tweaks to BAM. I am not claiming that will work for what is implemented in

[2015-09-09 19:28] ariel-phet commented on #166
This will also be the implementation planned for CCK basics.

It does seem one option people have wanted is "dots" on the bottom of the carousel (the sort of apple standard through swiping between multiple screens), so I would include that option with the implementation.

[2015-09-10 01:30] jonathanolson commented on #166
Also note that in Build a Molecule (2), switching to other "kits" also changes what is seen in the play area (there is essentially one play area per kit).

[2015-09-14 16:36] pixelzoom commented on #166
Somewhat related to https://github.com/phetsims/scenery-phet/issues/186 (drag handler for items in a toolbox/carousel/bucket).

[2015-09-14 23:03] pixelzoom commented on #166
@ariel-phet About the "dots" feature, requested in https://github.com/phetsims/sun/issues/166#issuecomment-139022059...

(1) Where do you want the dots positioned for vertical carousels? On the left or right?

(2) The "separators" feature (see screenshot below) conflicts with the "dots" feature. Please advise on how you want this to looks when "separators" and "dots" are requested.

https://cloud.

[2015-09-14 23:05] pixelzoom commented on #166
@ariel-phet About the "dots" feature, requested in https://github.com/phetsims/sun/issues/166#issuecomment-139022059...

(1) Where do you want the dots positioned? Inside or outside the carousel? For vertical carousels, on the left or right? For horizontal carousels, above or below?

(2) If dots are inside the carousel... The "separators" feature (see screenshot below) conflicts with the "dots" fe

[2015-09-14 23:18] pixelzoom opened #197 "design of arrow buttons in carousel"
Related to #166 (create a Carousel), the desired look of the buttons is shown below. This button is not a rounded rectangle. Two corners are rounded to match the corners of the carousel, the other 2 corners are squared off.

The sun library currently supports rectangular and circular push buttons (RectangularPushButton and RoundPushButton, respectively).  We do not have support for the button shap

[2015-09-14 23:21] pixelzoom commented on #197
For comparison, here's a carousel from Level 4 of the Area Builder "Game" screen:

![screenshot_621](https://cloud.githubusercontent.com/assets/3046552/9864274/1135d678-5b05-11e5-9384-978da7c3fce7.png)

And here's a prototype from Function Builder that uses RoundPushButton:

![screenshot_620](https://cloud.githubusercontent.com/assets/3046552/9864254/f253b702-5b04-11e5-9c99-1b268837b83b.png)

[2015-09-14 23:25] ariel-phet commented on #197
@pixelzoom are you saying that something like this could work

![alternate](https://cloud.githubusercontent.com/assets/4051174/9864317/8d5fc858-5b05-11e5-986d-324cc35d19ea.png)

[2015-09-14 23:26] ariel-phet commented on #197
@amanda-phet - a bit part of this will be your call...how important is the look of this button on the end to you...does it have to fill the entire height? Could it have rounded inside corners (obviously not as nice aesthetically)

[2015-09-14 23:27] ariel-phet commented on #197
@pixelzoom - I understand option (2) is not ideal, but can you flesh out a bit more why not recommended?

[2015-09-14 23:36] pixelzoom commented on #197
Sorry, but... ugly.

Because we don't need more one-off code. We spent a great deal of time on sun buttons, and I don't relish the task of reproducing what they do.  Highly recommend to choose (1), with a longterm plan to do (3).

[2015-09-14 23:37] pixelzoom commented on #197
Also wondering... If (1) is not acceptable, then why was it acceptable in Area Builder?

[2015-09-14 23:39] ariel-phet commented on #166
@pixelzoom I think @jonathanolson had a good shot of the convention in a comment above
http://cdn.tripwiremagazine.com/wp-content/uploads/2012/06/jquery-carousel-evolution_thumb.jpg

For horizontal, dots should definitely be outside and below

For vertical, I am not sure if we want to have the dots option or not. But if we were going to have such an option, for vertical we would probably need the

[2015-09-14 23:45] pixelzoom commented on #166
In the specific case of Function Builder, we have both horizontal and vertical carousels. @amanda-phet are you wanting the "dots" feature in Function Builder, and do you want it for both horizontal and vertical carousels?

I can imagine why we might now want dots for the vertical carousels in Function Builder, since they are pseudo tables. But in general, I don't know why we wouldn't want this as

[2015-09-14 23:47] pixelzoom commented on #166
Note to self... The "dots" feature will may relative layout of carousels more challenging. Consider:
• For horizontal carousels, put y=0 at the vertical center of the carousel
• For vertical carousels, put x=0 at the horizontal center of the carousel

[2015-09-14 23:59] ariel-phet commented on #197
(1) was acceptable for the same reasons, but not ideal. Were hoping to fix it in the more generalized version.

[2015-09-15 00:27] amanda-phet commented on #166
We did not plan on using dots in Function Builder. I'm open to it, but it was not in the design.

However, in a general carousel design meeting, we decided that it should be an option in the common carousel. They would be below and outside of a horizontal carousel, and could go on the right or left of a vertical carousel, depending on the placement in a sim.

[2015-09-15 00:40] amanda-phet commented on #197
When we had the carousel design meeting a while back, it was pretty clear that these buttons were problematic, but that it was probably important long-term to be able to draw a button with two rounded corners.

One thing I don't like about the button in Area Builder is that it is layered on top of the panel itself, and with the transparency it makes the stroke around the panel gray-ish on the edge

[2015-09-15 03:30] pixelzoom commented on #197
@amanda-phet wrote:

I noticed this too, yuck. The buttons in the new Carousel (and in Function Builder) do not overlap the carousel outline. Whether or not to stroke the edge of the button is optional. See sample in https://github.com/phetsims/sun/issues/197#issuecomment-140231587, where the button is edge is lightly stroked.

[2015-09-15 16:05] pixelzoom commented on #197
A couple of other options that occurred to me, neither of them easy, but worth discussing:

(4) Change the API of scenery.Rectangle so that the radius of each corner can be specified separately.

(5) Change the API of sun.RectangularPushButton so that the radius of each corner can be specified separately.

[2015-09-15 16:12] pixelzoom commented on #197
@ariel-phet and @amanda-phet I'm going to proceed with using buttons where all 4 corners are rounded (option 1) since this is the only option that is currently supported by PhET's button library.

Since this issue has come up before (and is certain to come up again), we should add support for it to sun. I've labeled this issue for discussion at developer meeting, to decide how to proceed.

[2015-09-15 17:55] pixelzoom commented on #197
The button was factored out into CarouselButton, and I've referenced this issue in a TODO item in the code.

[2015-09-15 18:42] pixelzoom commented on #166
FYI... What we've been calling the "dots" features is formally known as a "page control" in the iOS Human Interface Guidelines.  See https://developer.apple.com/library/ios/documentation/UserExperience/Conceptual/MobileHIG/Controls.html#//apple_ref/doc/uid/TP40006556-CH15-SW6

[2015-09-15 21:00] pixelzoom commented on #166
Highlights from a Skype discussion about carousel requirements and implementation...

Regarding whether to use clipping to determine which items are visible:

[9/14/15, 1:00:49 PM] Chris Malley: It certainly makes animation (scrolling) easier.
[9/14/15, 1:05:37 PM] John Blanco: I don't know if there are performance issues.  It worked well for Area Builder, and I've used clipping in a number of oth

[2015-09-15 21:22] pixelzoom commented on #166
Grrrr... Accidentally migrated Carousel and its demo to scenery-phet, when it belongs in sun. I'll move it.

[2015-09-15 21:46] pixelzoom commented on #166
All requests features are implemented, and a demonstration lives in the "Components" screen of the sun demo application (see screenshot below).

There are 3 related source files:
* `Carousel.js` is the main carousel component
* `CarouselButton.js` is the button uses by Carousel
* `PageControl.js` is the iOS-style page control (aka "dots") used by Carousel

As requested, there are a boatload of opt

[2015-09-15 21:48] pixelzoom commented on #166
@ariel-phet I'm transitioning back to Function Builder, where I will be immediately making heavy use of Carousel. Can you please assign someone to review this work?  Recommended to first look for feature gaps, then review the implementation.

[2015-09-16 01:05] ariel-phet commented on #166
@pixelzoom sounds good.

I think @jbphet is the natural reviewer considering his use of a carousel in area builder and in balancing act

@jbphet please review as a high priority.

[2015-09-16 15:19] pixelzoom commented on #166
@jbphet Perhaps as part of the review you could try replacing area-builder.HCarousel with sun.Carousel, to address https://github.com/phetsims/area-builder/issues/81.

[2015-09-16 21:21] pixelzoom commented on #166
Back to me, I just discovered a missing feature. In Function Builder, we need the ability to replace an item in the outputs carousel.

I'm also wondering what other features might be needed in general related to mutability of the items array, or of the items in the array - there has been nothing specified wrt to that. The items are currently specified when the carousel is constructed, and both the

[2015-09-16 21:33] pixelzoom commented on #166
Ah, sorry, no feature gap for Function Builder.  Each cell in the carousels (inputs, outputs and functions) needs to contain a node that manages what's in the cell, so that cards/functions can be dragged out (much like a toolbox).

But still worth discussing the mutability of items and items array at developer meeting.

[2015-09-16 22:03] pixelzoom commented on #166
Also for discussion... Enabling the page control feature makes it difficult to visually center things on the "body" of the carousel.  Let's discuss how important this is, and how to address it.

[2015-09-16 22:24] pixelzoom commented on #166
A couple of options for addressing the layout issue caused by enabling the 'page control' feature in Carousel:

(1) Set Carousel's origin (0,0) to be the center of the carousel's scrolling area. Then do layout using x and y properties, like this:

[code]

(2) Remove the page control option from Carousel (it's already factored out in PageControl.js), and have clients handle creating it.  Example:

[2015-09-17 17:32] pixelzoom opened #198 "color picker"
This has come up several times, most recently when adding ProbeNode to the scenery-phet demo.  PhET needs a 'color picker' user-interface component. Low priority as of this writing.

[2015-09-17 18:40] pixelzoom commented on #166
Consensus at 9/17/15 dev meeting: remove page control option for Carousel.

[2015-09-17 18:58] pixelzoom commented on #197
9/17/15 dev meeting notes:

• add support to kite to create this shape (2 rounded corners)
• 3D look of buttons makes it difficult to do for arbitrary shapes
• investigate how it looks with the shape shoehorned into RectangularButtonView

[2015-09-17 22:28] pixelzoom opened #199 "make PageControl interactive"
Email from @kathy-phet:

[2015-09-17 22:45] pixelzoom commented on #199
I added interactivity and stroke/lineWidth options for the dots. You can now emulated the dots at www.colorado.edu if that's what's desired.

[2015-09-17 22:45] pixelzoom commented on #199
This will be reviewed as part of #166. Closing.

[2015-09-17 23:12] pixelzoom commented on #166
PageControl features have been removed from Carousel, interactivity has been added to PageControl (see #199), and a demo for PageControl has been added to sun.

Ready for review by @jbphet.

[2015-09-18 02:27] pixelzoom commented on #199
Reopening. Pandora is out of the box.

iOS page control (UIPageControl) does have a setting that enabled interactivity. You can see it in action on the home screen of iPad and iPhone. Problem is that it behaves differently than the page control on www.colorado.edu, which is what I implemented.  UIPageControl doesn't seem to let you jump to a specific page. Instead, clicking left/right of the curre

[2015-09-18 02:30] pixelzoom commented on #199
More in-depth information on UIPageControl is at https://developer.apple.com/library/ios/documentation/UserExperience/Conceptual/UIKitUICatalog/UIPageControl.html.

Class reference page is https://developer.apple.com/library/ios/documentation/UIKit/Reference/UIPageControl_Class/index.html#//apple_ref/doc/uid/TP40006781, which says:

So it looks like jumping immediately to a specific page is not su

[2015-09-18 20:44] pixelzoom commented on #199
I think what I'll do here is support both types of interactivity.

[2015-09-21 13:48] samreid commented on #199
@pixelzoom does this still need to be marked for developer-meeting?

[2015-09-21 14:50] pixelzoom commented on #199
Yes.

[2015-09-22 19:55] jonathanolson opened #200 "Consider moving Molecule Shapes TitledPanel into Sun"

[2015-09-22 22:57] pixelzoom commented on #200
To facilitate discussion, here are a couple of examples from molecules-shapes:

![screenshot_09](https://cloud.githubusercontent.com/assets/3046552/10034068/e809f68e-614a-11e5-9f76-7816620bdc9a.png)

[2015-09-22 23:12] pixelzoom commented on #200
Do we really need an entirely new type of panel? It might be better to take the Java approach: have different border types that can be combined, and apply them to a sun.Panel.  In Java, the "Bonding" panel above would be something like:

[code]

Looking at the current implementation... The JSdoc (see below) describes the constraints.  I can imagine needing something other than 'centered' for the t

[2015-09-22 23:19] pixelzoom commented on #200
Above I said:

Even if we don't take the Java approach of separating out borders... It might be better to decide what the desired look is for panel titles for all sims. If this is it, then great, and this seems like a fine solution, and TitledPanel is a fine name.  But if the look is specific to molecule-shapes and a few other sims where the background color constrain is tolerable, then choose a n

[2015-09-22 23:34] samreid commented on #200
Using a decorator pattern seems much more flexible than built-in support specific to borders:
[code]

[2015-09-23 18:26] pixelzoom commented on #199
Comment from @kathy-phet via email:

Can't find my email reply, but the main points are:
• page control doesn't handle swipe
• support for "swipe" and other gestures is a larger issue, not specific to this control
• gestures differ by OS and device
• overriding the native swipe behavior of the browser seems rude
• defining consistent semantic for gestures is essential; e.g., does swipe mean "chang

[2015-09-23 18:29] samreid commented on #199
Swipe is tricky from a pure UI standpoint (ignoring issues of implementation).  Because items in the carousel are often dragged out, the user would have to grab onto part of the carousel that doesn't have an item to drag the carousel.  Could be awkward for carousels that are "packed full" of items and don't have much blank space for dragging the carousel itself.

[2015-09-23 18:40] pixelzoom opened #201 "investigate how RectangularButtonView looks with 2 rounded corners"
This issue was extracted from https://github.com/phetsims/sun/issues/197.

Buttons with 2 rounded corners and 2 square corners are needed. For example, in sun.Carousel:

![87cf3d6c-5b03-11e5-8cea-ad1f7f2674a0](https://cloud.githubusercontent.com/assets/3046552/10054769/14dc9da6-61f0-11e5-847f-adc713fb2173.png)

When support for this shape has been added to kite (see phetsims/kite#56), investigate

[2015-09-23 19:09] pixelzoom commented on #201
I did a quick test by changing line 90 of RectangularButtonView from this:

[code]

to this:

[code]

Here's the "Buttons" screen from the sun demo. It looks OK to me.

![screenshot_10](https://cloud.githubusercontent.com/assets/3046552/10055589/508d563e-61f4-11e5-8fda-985d77fab811.png)

[2015-09-23 19:13] pixelzoom commented on #201
Now the question is how to change the button API so that this button shape can be specified for all buttons that extend RectangularButtonView (i.e., RectangularPushButton, RadioButtonGroupMember, RectangularMomentaryButton, RectangularToggleButton, RectangularStickyToggleButton).

Assigning to @jbphet for his thoughts, since he authored much of this API.

[2015-09-23 19:21] pixelzoom commented on #166
@jbphet Reminder that this is assigned to you for review, with high priority.

[2015-09-23 19:22] jbphet commented on #166
It's on my list for today.

[2015-09-23 19:27] pixelzoom commented on #166
There is one TODO item in Carousel.js that deserves explanation:

Carousel currently sets layout properties (centerX, centerY) of the items that it contains. If those items are used elsewhere (taking advantage of the DAG features of scenery), that will cause problems. My inclination is to leave it as is, and address it if someone has a need to reuse the items.  The alternative is to wrap each item

[2015-09-23 19:30] samreid commented on #166
I think it is a fair assumption for carousel to be able to position the items it is given.  If an application wants to DAG, then it is the application's responsibility to provide the carousel with wrapped nodes.

[2015-09-23 19:37] pixelzoom commented on #166
Agreed. I've replaced the TODO item with this note in the JSdoc:

[code]

[2015-09-23 23:30] jbphet commented on #166
Code looks great - clean, well documented, and makes nice use of underscore/lodash.  A few initial comments:

+ The documentation in Carousel.js says that the ```fill``` option can validly be set to ```null```, but doing so causes an assertion because it is being passed through to the button.
+ The arrow stroke option isn't available when constructing Carousel.js.  Balancing Act using a white stro

[2015-09-23 23:55] pixelzoom commented on #199
In https://github.com/phetsims/sun/issues/166#issuecomment-142759431, @jbphet asked:

Pointer areas will be addressed after we decide what type(s) of interactivity is desired.

[2015-09-23 23:56] pixelzoom commented on #166
Sounds like a deficiency in buttons. Why can't a button have a null fill?

I'll add this option.

The interactivity features of PageControl are still being discussed, see https://github.com/phetsims/sun/issues/199. I've copied this comment to that issue.

Yes, I'll take care of this. The `index` parameter is vestigial from the port of area-builder.HCarousel, see line 110 of that type.

[2015-09-24 00:07] pixelzoom commented on #166
Issues that @jbphet brought up are addressed in the commits immediately above.

Back to @jbphet to integrate into Area Builder.

[2015-09-24 15:59] jonathanolson commented on #200
I would be more than happy with more flexible patterns to add borders/titles/etc. to panels. I can keep TitledPanel specific to Molecule Shapes for now, and refactor to use any improved setup in the future.

[2015-09-24 17:51] pixelzoom commented on #201
9/24/15 dev meeting:
Use the same options as proposed in https://github.com/phetsims/kite/issues/56#issuecomment-143001553, that is:

[code]

[2015-09-24 18:03] pixelzoom commented on #199
9/24/15 dev meeting

• individual dots are not particularly useful as an interactive control, even with mouse
• most likely to use these as just an indicator
• we'll revisit the interactivity issue when someone needs interactivity, and open a new issue

Closing.

[2015-09-24 21:31] jbphet commented on #166
This has been integrated into Area Builder, and works perfectly.  I think that's it for this - thanks @pixelzoom . Closing.

[2015-09-24 21:31] #166 closed

[2015-09-24 23:29] pixelzoom commented on #166
Thanks for the review.

[2015-09-27 03:54] samreid commented on #200
I added the `developer-meeting` label since I expect this to be a common user interface element for future sims (though I may be wrong and am somewhat surprised that it is only used in one HTML5 sim at the moment).

[2015-09-28 04:07] pixelzoom commented on #200
As I said in https://github.com/phetsims/sun/issues/200#issuecomment-142449797, I think that whether this panel is the desired look for titled panels is a *design* issue.  So before we spend time discussing in a developer meeting, should we pass on to some of the designers for input?

[2015-09-28 16:30] pixelzoom commented on #197
Sub-issues have been broken out into separate issues (shown immediately above), so closing.

[2015-09-28 16:30] #197 closed

[2015-09-28 16:35] samreid commented on #200
We can easily create a kite shape that is "open" at the top and hence does not require the background color trick.

Can you please be more specific in what you recommend here?

[2015-09-28 17:05] pixelzoom commented on #200
Get input from PhET simulations designers to determine if this is the desired look for titled panels in PhET simulations, before spending development resources discussing/generalizing/implementing something that may not in fact be a "look" that is useful in general.

[2015-09-28 17:08] samreid commented on #200
@ariel-phet can you chime in on https://github.com/phetsims/sun/issues/200#issuecomment-143805649 ?  There are screenshots above to show what this looks like.

[2015-09-28 17:11] ariel-phet commented on #200
Yes, this is definitely a desired look. This is kind of like those "most interesting man in the world" commericials...we don't always have titled panels, but when we do, this seems to be a common look in certain sims (especially those with a black background). For instance States of Matter also use this same look (and it tends to save a bit of vertical space).

So simple answer, yes, it would be a

[2015-09-28 17:14] samreid commented on #200
@pixelzoom would you recommend further discussion with designers before expanding on the development discussion?

[2015-09-28 17:22] pixelzoom commented on #200
Design issues:

(1) Does this need to be usable in situations where the background behind the panel doesn't match the panel's background? (Imo yes, otherwise this isn't very generally useful.)

(2) If the answer to (1) is "yes", how should it look? Provide mockups to demonstrate.

(3) Is title alignment a desired option?  If so, are 'left', 'center', 'right' sufficient? Or is more precise position

[2015-09-28 17:24] samreid commented on #200
@ariel-phet can you comment on (1)-(3) and possibly (4) above?

[2015-09-28 18:08] ariel-phet commented on #200
1) Possibly, but that use case has not yet come up

2) That would be nice, but I don't think mockups would be useful. Cannot really be designed in a vacuum, and would need to wait until a sim instance occurs where such a panel is desire and it does not make sense to match the background. I can think of ways to do it, but until seeing it within a sim, we would just be taking a best guess and spinni

[2015-09-28 18:22] pixelzoom commented on #200
That use case exists in other sims that have not been ported yet. See for example and of the "Faraday's Electromagnetic Lab" variations.

I don't understand this comment. How difficult is it to try this type of component on different background colors?  The current implementation does *not* support this, and the major cost of this UI component is in how the title appears.  A quick-&-dirty example

[2015-09-28 18:24] pixelzoom commented on #200
Why does this issue keep getting assigned to me? @jonathanolson owns this.

[2015-09-28 18:55] ariel-phet commented on #200
for 1) and 2) - very possible that the panels will go to this style of having the same background color.

We can try something, but I think the case that exists above is what is most likely to be used. As seen in Molecule Shape, SOM, and likely will also occur in Gas Properties.

In this particular case does not make sense to me to support until we are working on sim where we actually deem in nece

[2015-09-29 16:05] ariel-phet commented on #200
@pixelzoom btw, I often just reassign an issue back and forth when discussing, that does not mean it is officially assigned to you. In this case you and are were discussing, so after it got assigned to me, I was throwing back to your court.

[2015-09-29 17:05] pixelzoom commented on #200
9/29/15 dev meeting:
• deferred. as soon as we need it in some other sim, we'll generalize it.

[2015-09-30 18:59] jessegreenberg commented on #154
This is my recommendation as well.  The user needs to find the disabled element and learn that some kind of interaction is required with the sim to enable the button.  It is not obvious to me why *invisible* elements should receive focus. This could clash with the pedagogical reasons for making the element invisible.

I am imagining that the beaker in Beer's Law Lab would be represented with an ar

[2015-09-30 19:47] samreid commented on #154
I believe this was discussed in the context of an earlier version of forces and motion: basics, where the "go" button is invisible until it was pressable (which seems like it is basically serving the same purpose as enabled/disabled).  We may need to have a more concrete context for discussing invisible components to see if the same rules apply.  If a new button (or other user interface element) g

[2015-09-30 20:18] jessegreenberg commented on #154
I see, that makes a lot of sense for buttons.  I agree that whether other invisible elements should be navigable will depend on context and sim design.

I am unsure at the moment how normal this behavior is.  There is an 'aria-relevant' property that can be used to notify the user that additions and removals have been made to the DOM.  If invisible objects are left out of the accessibility tree th

[2015-10-01 23:16] jbphet commented on #201
Implementing this depends upon https://github.com/phetsims/kite/issues/56.

[2015-10-02 17:46] jbphet commented on #201
I'm thinking that we should preserve ```cornerRadius``` as an option for backward compatibility and because it's a nice convenience.  I'm planning to make the behavior as follows:

+ default corner radius for all corners will be 4, as it is now
+ setting any individual corner specifically will override the default for the corner but will not affect other corners
+ a specific corner setting (e.g. `

[2015-10-02 18:21] jbphet commented on #201
This is how the carousels now look:
![buttons-on-carousel](https://cloud.githubusercontent.com/assets/3082831/10254185/4a88261c-68ff-11e5-90ec-f6949bc95094.png)

...and here is some test code that was put into the ButtonView.js file in the sun demo but not committed:

[code]

...and this is what the buttons in the demo looked like with the options shown above (buttons 3 and 4 can be ignored):

![b

[2015-10-02 18:24] jbphet commented on #201
Assigning to @pixelzoom for review and discussion.  One other specific question: Should we change the CarouselButton API to be a bit simpler and have something like a ```position``` option that can be either top, bottom, left, or right, and have this option control the corners as well as the arrow direction?

[2015-10-02 22:02] pixelzoom commented on #201
@jbphet Re CarouselButton API... How about `options.arrowDirection` and `options.cornerRadius`, then let CarouselButton populate the proper '*CornerRadius' options to RectangularPushButton based on arrowDirection?

[2015-10-06 19:07] jbphet commented on #201
I went ahead and implemented the suggestion in the previous comment, but it seems a little awkward to me.  It would feel more intuitive IMO if we were to get rid of the ```arrowDirection``` option, add a ```position``` option with potential values of 'top', 'bottom', 'left', or 'right', and have both the arrow direction and the rounded corners derive from the value of the ```position``` option.

@

[2015-10-06 20:14] pixelzoom commented on #201
I'm fine with changing arrowDirection to position - same thing, different enumeration.  But how can the cornerRadius possibly be derived from the position (or arrowDirection)? The radius must be provided by the client.  In the case of a Carousel client, the radius must match the Carousel's cornerRadius.

[2015-10-06 20:16] pixelzoom commented on #201
Btw... If we think CarouselButton might be useful in situations other than Carousel, then I would feel more strongly about keeping the more general `arrowDirection` option.  The `position` option implies its location in some container.

[2015-10-07 17:20] jbphet commented on #201
Sorry, I guess I wasn't particularly clear.  I'm thinking that the ```cornerRadius``` option would be retained, and the ```position``` option would be used to determine *which* corners were rounded, not the rounding radius (in addition to the direction of the arrow).

Since it is currently specific to the carousel (and is called CarouselButton), how about we make these changes, and generalize it i

[2015-10-07 19:21] pixelzoom commented on #201
I'm not clear on why `position` is less "awkward" (or better) than `arrowDirection`.

Here's the current option documentation in CarouselButton:

`arrowDirection: 'up', // {string} direction that the arrow points, 'up'|'down'|'left'|'right'`

This would presumably become:

`position: 'top', // {string} where the button is located in the Carousel, 'top'|'bottom'|'left'|'right'

I don't like this be

[2015-10-08 19:23] pixelzoom opened #202 "touchArea API for HSlider"
From 10/8/15 dev meeting notes:

How to set touchArea for private subcomponents of a UI component is a general problem. We discussed this in the context of HSlider, where @jonathanolson has a need to change the thumb's touchArea.

We considered making the thumbNode public, but that's a slippery slope.

The consensus was to
• create dot.Insets
• add options.thumbTouchAreaInsets (or similar name)
•

[2015-10-08 20:33] jonathanolson commented on #202
Should we create the mouseArea part too?

[2015-10-08 20:34] pixelzoom commented on #202
I can't recall ever having to increase mouseArea for a slider thumb.

[2015-10-29 15:01] aaronsamuel137 commented on #43
I have no plans to work on this. The png seems to be working fine in GAO and I am not aware of any other sims that will need this same icon.

Unassigning

[2015-10-30 21:24] jbphet commented on #201
Okay, let's leave it as is.  Closing.

[2015-10-30 21:24] #201 closed

[2015-11-03 03:26] ariel-phet opened #203 "Why isn't "step" button in play controls a "fire on hold" button?"
@pixelzoom only assigning you since I figure you can answer this question, but also could be an appropriate developer meeting question.

It seems to me the default for our "step" button when it comes to play/pause/step controls should be that it is a "fire on hold" button like the tweaker. Would that be an easy change to make. I encountered this while using bending light and it seemed it would be

[2015-11-03 03:37] samreid commented on #203
In discussion with @ariel-phet, he suggested firing a step event every 250ms or so.

[2015-11-03 04:11] pixelzoom commented on #203
Do you mean scenery-phet.StepButton? (This issue is in sun.)

Fire-on-hold seems like a fine option to add this button (on by default?)  It's implemented in sun.PushButtonModel (options below), so you should be able to add it easily to StepButton.  I would start with the default delay and interval and see how that feels.

[code]

[2015-11-03 06:21] samreid commented on #203
I added fireOnHold to StepButton (on by default) in the above commit, this will affect all sims that use StepButton.  We should spot-test a few sims that use this feature.  It is working great in Bending Light.

[2015-11-03 06:22] samreid commented on #203
I used the default options and they seemed good in Bending Light.

[2015-11-03 15:12] ariel-phet commented on #203
BTW @pixelzoom I did not know where StepButton lived, so sun was my best guess...

[2015-11-03 15:15] pixelzoom commented on #203
No problem. I've never used the step button, and didn't know if there was in fact one, so thought it best to clarify.  Also didn't notice when reading the GitHub notification on my phone that you had created the issue.

[2015-11-03 15:57] jbphet commented on #203
Just tried this in Neuron, and it works great, but it was weird that the StepBackButton didn't work the same way, so I've added it there as well.

[2015-11-03 16:01] jessegreenberg commented on #203
Just tried it in Molecules and Light, works well and the default options look good there too.

[2015-11-03 17:28] pixelzoom commented on #203
No usages is my sims.

[2015-11-03 17:29] jbphet commented on #203
All devs will test the sims for which they are responsible and will report any issues here.  If nothing found in a week, this can be closed.

[2015-11-03 17:30] pixelzoom commented on #203
Sims to be tested:

- [ ] bending-light
- [ ] color-vision
- [ ] energy-forms-and-changes
- [ ] energy-skate-park-basics
- [ ] fluid-pressure-and-flow
- [ ] gravity-and-orbits
- [ ] molecules-and-light
- [ ] neuron
- [ ] pendulum-lab
- [ ] rutherford-scattering
- [ ] states-of-matter
- [ ] wave-on-a-string

[2015-11-06 14:43] samreid commented on #203
I checked all of the sims for which I am primary developer, as well as pendulum lab and wave on a string.  Everything looks great, nice suggestion @ariel-phet. Closing.

[2015-11-06 14:43] #203 closed

[2015-11-06 19:27] ariel-phet commented on #127
@samreid looks like this issue is quite stale...please comment, close, or lets revisit

[2015-11-07 02:52] samreid commented on #127
My recommendation is to close this issue and reopen if/when any of the following occurs:

(a) we need the look and feel from joist in some other part of a simulation (so far has not been the case)
(b) the difference in implementation becomes problematic for phet-io, accessibility or some other concern (so far has not been the case)

[2015-11-07 02:52] #127 closed

[2015-11-10 00:42] pixelzoom commented on #127
+1 to close.

[2015-11-10 17:41] samreid opened #204 "Standardize API for touch area expansion"
During Nov 10 developer meeting, @pixelzoom said:

We agreed this would be good to look at eventually, though not high priority.  This applies to all common repos (including but not limited to sun).

[2015-11-11 17:58] ariel-phet commented on #121
I kind of want to unassign this issue from myself...but it seems like we might want a new universal label such as "address during instrumentation" or such (but less verbose). Since it seems with instrumentation work there will be many associated sub issues

[2015-11-12 01:33] samreid commented on #121
In my opinion, this issue would be discovered by a together utility that tracks instance counts during instrumentation, I created a together issue for it.  In my opinion, this issue can be unassigned since it is not important enough to be solved for S2015R.

[2015-11-12 19:28] pixelzoom commented on #121
At 11/12/15 dev meeting, we decided:

(1) Adding `dispose` to sun components is important, because sun is supposed to be generally useful outside of PhET.  So we should be proactive about fixing them.

(2) PhET-specific common components (e.g. scenery-phet) will be fixed as we hit them.

[2015-11-16 04:23] pixelzoom opened #205 "add namespace"
See https://github.com/phetsims/tasks/issues/378

[2015-11-16 18:43] pixelzoom opened #206 "ButtonModel: unnecessary override of dispose"
ButtonModel extends PropertySet, then overrides dispose:

[code]

There is no new functionality added to dispose here, so it's unnecessary.

[2015-11-16 23:38] pixelzoom opened #207 "sun: defaults for touchArea dilation should be zero"
Search for `touchArea =` to find cases where a default touchArea is being set.  For example, RoundButtonView and RectangularButtonView are both dilating the touchArea by default.

Sun is a general-purpose library of UI components. It has no prior knowledge about how large a UI component will be. The client has control over the size of the UI component. So (imo) the client should also be responsibl

[2015-11-17 14:41] samreid commented on #207
Not feeling too strongly on the issue, but wanted to make sure someone elucidated the counter-points: (a) having a default touch area for buttons makes them touch friendly when used at their normal size and not directly adjacent to each other
(b) if we set the touchArea dilation to 0 as a default, how many simulations will we have to iterate through and duplicate the code "touchAreaExpansionX:5, t

[2015-11-17 16:23] pixelzoom commented on #207
How does a button have any inherent "normal size"? The size of a button is fully dependent on its content and margin. And sun is a general-purpose API, not PhET specific.

[2015-11-17 21:20] jbphet commented on #206
Not sure why that was there - whether there were other things that were subsequently removed, if it was copied from something else, or what.  At any rate, it is gone now.  Closing.

[2015-11-17 21:20] #206 closed

[2015-11-18 00:14] jbphet commented on #195
Did this, closing.

[2015-11-18 01:10] ariel-phet commented on #85
@pixelzoom this issue is pretty stale, and I am unsure of the current state, can it be closed?

[2015-11-18 15:52] pixelzoom commented on #85
@ariel-phet As mentioned above, we have 3 different "looks" for spinners. It's not clear whether that's necessary, or whether it's a design oversight.  So the first step would be to have designers decide what the standard look(s) are for spinners.  Until that's sorted out, there's nothing to do on the implementation side. So back to you... You can either unassign (defer) or assign to a designer to

[2015-11-18 16:02] pixelzoom commented on #85
Btw... There are some additional variants on this.

`NumberPicker` (generalized in scenery-phet) is used when putting up/down arrows to the right of the number would interfere in the visual flow. For example, in equations, like this:

![screenshot_69](https://cloud.githubusercontent.com/assets/3046552/11245841/048cb54a-8dd2-11e5-9786-8f438871ac20.png)

`NumberSpinner` (currently specific to reacta

[2015-11-18 16:14] ariel-phet commented on #85
@pixelzoom thanks for the further thoughts.

@amanda-phet likely has yet another design in expression exchange (very similar, but with the spinners horizontally on each side). That does seem like something that should be unified with NumberSpinnner.

Assigning to @jbphet to look at when he works on Expression Exchange.

[2015-11-18 16:21] pixelzoom commented on #85
scenery-phet has `UpDownSpinner` and `LeftRightSpinner`.

`UpDownSpinner` example:

![screenshot_74](https://cloud.githubusercontent.com/assets/3046552/11246417/d5918056-8dd4-11e5-8f01-8be3e8aba73f.png)

`LeftRightSpinner` example:

![screenshot_75](https://cloud.githubusercontent.com/assets/3046552/11246418/d5ac2e56-8dd4-11e5-8770-8b1215d9934b.png)

Both of these are a bit misleading - neither on

[2015-11-18 16:39] amanda-phet commented on #85
What I had in mind for Expression Exchange was something like these buttons:
<img width="200" alt="screen shot 2015-11-18 at 9 32 03 am" src="https://cloud.githubusercontent.com/assets/7852916/11247155/1ae7c1f8-8dd8-11e5-9530-797719477445.png">
<img width="167" alt="screen shot 2015-11-18 at 9 33 43 am" src="https://cloud.githubusercontent.com/assets/7852916/11247161/1e9f64e0-8dd8-11e5-8aec-f02cc0

[2015-11-18 16:42] ariel-phet commented on #85
@amanda-phet can you just paste in the mockup you have so far?

[2015-11-18 16:52] amanda-phet commented on #85
![screen shot 2015-11-18 at 9 51 46 am](https://cloud.githubusercontent.com/assets/7852916/11247619/115b786c-8dda-11e5-94f5-86b9ef091f0e.png)

[2015-11-18 17:17] jonathanolson commented on #85
My sims have been pretty much spinner-free.

[2015-11-18 17:42] jbphet commented on #85
Build an Atom has some like this:

![baa-spinner-example](https://cloud.githubusercontent.com/assets/3082831/11248892/c11a06a0-8de0-11e5-8220-71fb78cb9771.png)

[2015-11-20 22:14] jbphet commented on #195
A few updated are needed based on things that were discussed in the 11/19/2015 status meeting, namely that annotations for tandem should be ```@public (tandem)``` and those for accessibility should be ```@public (accessibility)```.

[2015-11-23 20:24] jbphet opened #208 "several mentions of "together" in comments and annotations"
in the course of working on adding visibility annotations (see #195), I noticed that there are a number of comments and annotations that mention the ```together``` feature/repository.  That repository is private, and the ```sun``` repo is intended to be potentially used without ```together``` and without much of the other PhET infrastructure.  Should these comments be modified to reference ```tand

[2015-11-23 20:38] jbphet commented on #195
Additional annotations added, this should cover it, closing (again).

[2015-11-23 20:38] #195 closed

[2015-11-25 19:12] pixelzoom commented on #43
If this is the "Undo" button in GAO:

![screenshot_104](https://cloud.githubusercontent.com/assets/3046552/11407015/8384be60-936d-11e5-881a-1b65e3b0cd28.png)

.. then it's not performing what I would consider to be an "Undo" operation.  It's resetting the selected system (and only the selected system) to it's initial state.

[2015-11-25 22:09] samreid commented on #43
Here is the "replay video" icon in youtube:
![image](https://cloud.githubusercontent.com/assets/679486/11410630/2e8bbb48-9386-11e5-9abf-42eb3da805b7.png)

Here is the font awesome "undo" icon:
![image](https://cloud.githubusercontent.com/assets/679486/11410655/5d79ae2e-9386-11e5-9415-d55a7c20cf3c.png)

Perhaps the icon in gravity and orbits should be named a "reset scene" button rather than "undo

[2015-11-30 17:23] jbphet commented on #43
There is a ResetAllShape.js file that defines the shape used on the reset all button.  Might this be useful?  It currently takes only a radius as a parameter, but other parameters could be added (probably as an options hash) for thickness, start angle, and so forth.

[2015-11-30 17:26] samreid commented on #43
@jbphet I like the idea of using the same shape implementation--that will provide stylistic consistency as well as having less images/files to manage.

[2015-12-01 19:10] pixelzoom opened #209 "Carousel: add ability to scroll to a specified page or item"
Given an item, scroll the carousel to the page that shows that item. This is needed in function-builder, and seems generally useful.

Two changes are required:

(1) make `pageNumberProperty` public
(2) add `scrollToItem: function( item )`

[2015-12-01 19:11] pixelzoom commented on #209
(1) is already done:

`this.pageNumberProperty = pageNumberProperty; // @public {Property<number>} page number that is currently visible`

[2015-12-01 19:38] pixelzoom commented on #209
Feature added.  I've also added a button to sun_en.html to demonstrate the feature. @jbphet would you mind reviewing, since you reviewed Carousel?

[2015-12-01 19:49] pixelzoom commented on #209
I added buttons in the sun demo, to test scrolling to page or item.  Here's what the Components screen looks like:

![screenshot_85](https://cloud.githubusercontent.com/assets/3046552/11512138/f62078c2-9829-11e5-9954-32463ec198a0.png)

[2015-12-03 18:10] pixelzoom commented on #209
It would also be useful to have Carousel.scrollToItemIndex, so I'll add that.

[2015-12-03 18:15] pixelzoom commented on #209
Done, back to @jbphet.   To summarize: `scrollToItemIndex` and `scrollToItem` were added, along with private fields to support them.

[2015-12-04 07:09] samreid commented on #208
I think `@public (together)` is the most accurate modifier for such instances, because it is the together wrapper code that would want to access these attributes.  Alternatively, the attributes could register themselves with tandem--it is unclear to me when we should favor one approach over the other or if we could get away with only one approach.

Whether we have docs referring to together, or me

[2015-12-04 13:15] samreid commented on #208
Above I removed an occurrence of an object property that is no longer needed when using the tandem-style markup.

[2015-12-04 13:20] samreid commented on #208
Removed another one.  All other `@public (together)` mentions (3 or 4 of them) in together are currently necessary.