[2015-12-08 21:48] jbphet commented on #205
Assigning to @pixelzoom for review.

[2015-12-09 16:56] pixelzoom commented on #205
Looks good.

I noticed one incorrect registration of an inner type ('PageControl.DotNode'), fixed in the above commit.  Other inner types were registered correctly, so this was undoubtedly just a random error.

Closing.

[2015-12-09 16:56] #205 closed

[2015-12-10 19:23] pixelzoom opened #210 "fix API for momentary buttons"
Here's the constructor for RoundToggleButton:

`function RoundToggleButton( valueA, valueB, property, options )`

Here's the constructor for RoundMomentaryButton:

`function RoundMomentaryButton( onProperty, options )`

Similar for rectangular versions.  The API for momentary buttons should be the same as toggle buttons, since they are a form of toggle button, e.g.:

`function RoundMomentaryButton

[2015-12-10 19:37] pixelzoom commented on #210
The `valueA` and `valueB` parameters (and their doc) tell us nothing about how those values correspond to button state.  This should be fixed in RoundToggleButton and RectangularToggleButton, and I'll create a separate issue for that.

So the constructors I'll use for momentary buttons are:

`function RoundMomentaryButton( upValue, downValue, property, options );`
`function RectangularMomentaryBut

[2015-12-10 19:44] pixelzoom opened #211 "rename constructor parameters for toggle buttons"
Here's the constructor for RoundToggleButton:

[code]

Similar constructors and doc for RectangularToggleButton and ToggleButtonModel.

The params `valueA` and `valueB` (and their doc) don't tell us how the values relate to the state of the button.  You must either experiment or read to the code to discover that `valueA` is when the button is toggled off, `valueB` is when the button is toggled on.

[2015-12-10 20:19] pixelzoom commented on #211
Done, see above commit. Assigned to @jbphet for review.

[2015-12-10 20:22] pixelzoom commented on #210
Done. Assigned to @jbphet for review.

[2015-12-16 20:41] pixelzoom commented on #209
I'm starting to use this feature in function-builder, so raising the priority of my review request.

[2015-12-23 18:01] pixelzoom commented on #192
This is still an issue, and has come up again in https://github.com/phetsims/beers-law-lab/issues/131. Let's resolve this.

[2015-12-23 18:16] pixelzoom opened #212 "sun buttons leak memory"
Most sun buttons are passed one or more axon.Properties (either as constructor args or options), which they link to.  The existing dispose calls on sun buttons do not handle unlinking from those Properties.

(1) Some buttons have no dispose functions. E.g., RectangularToggleButton, RoundStickyToggleButton, RectangularStickyToggleButton

(2) Some buttons have a dispose function that is inadequate.

[2015-12-23 18:21] pixelzoom commented on #212
In https://github.com/phetsims/models-of-the-hydrogen-atom/issues/2 (generalize LightNode), the toggle button on the light needs to be disposed of when the light is disposed of.  There is no such dispose function, so the light node will leak memory.

At 12/17/15 developer meeting, @ariel-phet advised me to add dispose to the buttons needed for LightNode. I attempted to do that, ran into problems.

[2015-12-23 18:25] pixelzoom commented on #212
Recommend to assign this to the original designers of sun buttons (@jbphet, @samreid) to address. Assigning to @ariel-phet to decided how to proceed.

[2015-12-23 18:52] pixelzoom commented on #212
I've added stubs for the dispose functions needed by LaserPointNode, so that I can proceed with  phetsims/models-of-the-hydrogen-atom#2.  Until those stubs are implemented, LaserPointer will leak.

[2015-12-23 18:53] pixelzoom commented on #212
In the above commit, I added stubs for missing dispose functions, and TODO items for dispose functions that fail with assertions enabled. (This analysis is non-exhaustive.)

The stubs will allow me to proceed with  phetsims/models-of-the-hydrogen-atom#2.  Until those stubs are implemented, LaserPointer will leak.

[2015-12-28 17:32] samreid commented on #212
From skype, I said:

I think iterating through all of the sites and removing linked listeners will probably be the best solution. But I also thought of another strategy we may wish to discuss.  I’ll just write it here then we can identify its disadvantages: Imagine if RoundStickyToggleButton created its own Property for managing the button state, then the model Property and the button Property are

[2015-12-28 17:32] samreid commented on #212
On skype, @pixelzoom replied:

It does seem like sweeping the problem under the rug. But it may be the best solution to a fundamental design oversight.  The way the passed-in Property is currently shared around is complex, making it difficult to keep track of what has linked to it, and what needs to be cleaned up.

There are also internal "order of disposal issues".  To clean up the interactionSta

[2016-01-04 20:54] pixelzoom commented on #209
@jbphet ping

[2016-01-05 00:44] pixelzoom commented on #211
@jbphet can you get to this, or should I assign to someone else to review?

[2016-01-05 00:45] pixelzoom commented on #210
@jbphet can you get to this, or should I assign to someone else to review?

[2016-01-05 00:45] pixelzoom commented on #209
@jbphet can you get to this, or should I assign to someone else to review?

[2016-01-05 17:56] jbphet commented on #209
Looks good to me.  I also did some testing, doing things like setting out of range values and invoking ```scrollToItem``` with non-contained nodes as the parameter, and all cases were handled well (hit assertions).  Closing.

[2016-01-05 17:56] #209 closed

[2016-01-05 18:15] pixelzoom opened #213 "pointerAreas can't be set for Carousel buttons"
`Carousel` needs a way to set the pointerAreas for its `CarouselButtons`.

The buttons are currently dilated a little bit (but not enough) by supertype `RectangularPushButton`.
![screenshot_101](https://cloud.githubusercontent.com/assets/3046552/12123270/4b6a9f2c-b39d-11e5-9eb4-e68acf9d8a17.png)

And we shouldn't be relying on the pointerAreas set by `RectangularPushButton`, because it shouldn't b

[2016-01-05 18:18] jbphet commented on #211
Changes look good, improves usability, and appears to work in the Sun demo.  Closing.

[2016-01-05 18:18] #211 closed

[2016-01-05 18:19] pixelzoom commented on #213
Also note that the default touchArea starts to encroach on the contents of the Carousel.  This is probably not what we want. In the above examples, we want the touchAreas to extend out from the ends of the Carousel.

[2016-01-05 18:29] pixelzoom opened #214 "pointerArea API for sun buttons is inadequate"
Two major problems with the API for pointerAreas in sun buttons:

(1) No support for mouseArea

(2) Support for touchArea is symmetrical only, leading to problems like https://github.com/phetsims/sun/issues/213. Eg, options for RectangularPushButton:

[code]

[2016-01-05 18:41] pixelzoom commented on #212
After ruminating on this, I think what @samreid suggested in https://github.com/phetsims/sun/issues/212#issuecomment-167608250 (using a proxy Property) may in fact be the best solution.

[2016-01-05 18:42] pixelzoom commented on #214
As was pointed out in Skype, one can use options.mouseArea and touchArea, or set these directly after instantiation.  Which begs the question of why we have these confusing "convenience" options.

[2016-01-05 19:07] jbphet commented on #208
In principle, it still seems odd to me to have an open source library that we have said should be available and usable by organizations outside of PhET, and in that library have comments about another library that is *not* available to organizations outside of PhET.  This is bound to be confusing to any potential external users.  However, the practical reality is that we don't know of anyone other

[2016-01-05 19:07] #208 closed

[2016-01-06 01:31] samreid commented on #192
I proposed a band-aid in https://github.com/phetsims/beers-law-lab/issues/133

@pixelzoom responded:

[2016-01-06 01:39] samreid commented on #192
One way to implement the band-aid (if we decide to continue with it) would be to create a new Tandem method, something like `tandem.createSupertypeTandem()`.  It would be used like this:

[code]

createSupertypeTandem could transform addInstance into a no-op and otherwise behave like a normal Tandem (thus allowing sub-tandems to be created, registered, etc.)

Even though this approach was proposed

[2016-01-07 17:28] pixelzoom commented on #204
This issue was create in sun, but it also applies to scenery-phet and other repositories that use the scenery pointer area features (`mouseArea` and `touchArea`).

There is currently no standardization of this API, the option names are all over the place. A quick survey shows the following examples (not complete) in common code:

[code]

I need to add this API to sun.Carousel (see https://github.c

[2016-01-07 17:33] pixelzoom commented on #204
Also worth noting is the the tendency in common code to support `touchArea`, but not `mouseArea`.  The cost to implement both at the same time is significantly lower than the cost to add `mouseArea` later.  So perhaps we should (as a general policy) implement support for both `touchArea` and `mouseArea` at the same time.

[2016-01-07 19:31] samreid commented on #204
@pixelzoom will propose a standard

[2016-01-07 19:42] pixelzoom commented on #207
1/7/16 dev meeting: We decided to set defaults to 0, and add testing with `?showPointerAreas` to QA checklist.

[2016-01-07 19:43] samreid commented on #207
1/7/16 dev meeting: perhaps composite components such as radio button groups should set the touch areas of its own components.

[2016-01-07 19:43] samreid commented on #207
1/7/16 dev meeting: @jonathanolson suggests providing a bounding box for a component or group of components, so that the touch areas of elements expand to fill the bounding box.

[2016-01-07 22:39] pixelzoom commented on #213
Feature added.  Pointer areas are dilated such that they do not overlap the Carousel's content.  Here's an example of what this looks like, from the sun demo application:

![screenshot_102](https://cloud.githubusercontent.com/assets/3046552/12184798/b968b83e-b554-11e5-9f82-8f8aa6d137d8.png)

@jbphet would you mind reviewing, since you've reviewed other Carousel features?

[2016-01-07 23:24] jbphet commented on #210
For the most part this looks good to me.  My one caveat is that I personally prefer the parameter names of ```upValue``` and ```downValue```, as committed in https://github.com/phetsims/sun/commit/913e01dea7238de510d19151c418bc0a2ec2fa9d versus the names ```valueOff``` and ```valueOn```, as committed in https://github.com/phetsims/sun/commit/8b34cdf6276789f2dd9a00e70f2dee61c64a24ce.  I understand

[2016-01-07 23:59] pixelzoom opened #215 "JSdoc of button options is out of sync with implementation"
These options were added to PushButtonModel:

[code]

... but were not added to the documentation in various button types that use PushButtonModel (eg, RectangularPushButton, RoundPushButton).

This demonstrates a problem with trying to enumerate all options in the JSdoc of the top-level button types - they are prone to become out of sync with reality.

A better approach to documentation might be

[2016-01-08 19:19] pixelzoom commented on #210
A momentary button by definition have 2 states: 'off' and 'on'. E.g. the JSdoc in RectangularMomentaryButton:

The states are not 'up' and 'down', that's the pointer state.  So I'd prefer to leave the value parameters as `valueOff` and `valueOn`.

Closing.

[2016-01-08 19:19] #210 closed

[2016-01-08 19:27] pixelzoom commented on #207
I set the touchArea-related options to zero for sun.buttons.  Have not addressed other type in sun.

[2016-01-08 19:34] pixelzoom commented on #207
Only 2 components remaining that have non-zero pointer area options:

AccordionBox
VerticalAquaRadioButtonGroup

Looks like it would fairly straightforward to move the non-zero value to the client call sites, so that sim behavior is unchanged for these components.

[2016-01-08 20:25] pixelzoom commented on #192
In the situations mentioned in https://github.com/phetsims/sun/issues/192#issue-94811675, why do the subtypes need to call addInstance? Why shouldn't this be the responsibility of the supertype?  I suspect that rather than needing a workaround like `tandem.createSupertypeTandem`, we need to simply put the call to `addInstance` where it belongs.

[2016-01-08 20:37] samreid commented on #192
When an instance is registered with tandem, it may be customized by any customization code.  For instance, let's say a client wants to customize the text on a TextButton (which, for the purposes of this discussion) extends Button.  Here is the sequence of actions *if Button calls addInstance*:

1. TextButton constructor invoked
2. TextButton calls Button.call(this,...)
3. Button calls tandem.addIn

[2016-01-08 21:04] pixelzoom commented on #192
So if I'm passing the tandem to a supertype constructor, when would I pass anything other than `tandem.createSupertypeTandem()` ?  Wouldn't this pattern would need to be used in all cases involving inheritance.

Another solution would be to call the supertype constructor last (which is the pattern I've been using lately when extending Node), but I realize that creates an order dependency and isn't

[2016-01-08 21:19] samreid commented on #192
Yes, if we adopt this paradigm, we would probably adopt the convention of always calling `tandem.createSupertypeTandem()` when dealing with tandems in subclasses.

Calling the supertype constructor last makes it impossible to call supertype methods during the subtype constructor, so it seems impractical in the general case.

[2016-01-08 21:23] pixelzoom commented on #192
Still not wild about this pattern, but I don't have an alternative to suggest. Should we ask other developers for ideas?

[2016-01-08 21:25] samreid commented on #192
You summarized my thoughts exactly, I'll put this on agenda for an upcoming developer meeting. It would also be great if @jonathanolson @jessegreenberg and @jbphet could take a look in advance.  If we could get this sorted out before the next meeting, so much the better!

[2016-01-08 21:50] pixelzoom commented on #204
Proposal:

For rectangular components (eg, RectangularPushButton):

`touchAreaXDilation`
`touchAreaYDilation`
`mouseAreaXDilation`
`mouseAreaYDilation`

For round components (eg, RoundPushButton):

`touchAreaDilation`
`mouseAreaDilation`

For rectangular subcomponents (eg 'button' in AccordionBox):

`buttonTouchAreaXDilation`
`buttonTouchAreaYDilation`
`buttonMouseAreaXDilation`
`buttonMouseAreaYD

[2016-01-08 22:51] pixelzoom opened #216 "disabled button continues to fire"
Originally reported in https://github.com/phetsims/reactants-products-and-leftovers/issues/42, but isolated to sun.

Under certain conditions, a button with `fireOnHold:true` will continue to fire after it has been disabled.

To reproduce, add this bit of code to `sun.ButtonsView`:

[code]

Run the sun demo application, and you'll see this button at the bottom-center of the "Buttons" screen:

![sc

[2016-01-08 22:53] pixelzoom commented on #216
As noted in https://github.com/phetsims/reactants-products-and-leftovers/issues/42#issuecomment-169841473:

[2016-01-08 23:18] pixelzoom opened #217 "multiple problems in the button type hierarchy related to buttonModel"
There seems to be some confusion/inconsistency in the sun button hierarchy about where the buttonModel is managed.  Here's an example for rectangular buttons:

RectangularPushButton constructor:

[code]

RectangularButtonView constructor:

[code]

Problems:

(1) Assigning to `this.buttonModel` twice (in the supertype and subtype).  The assignment in `RectangularPushButton` is unnecessary, `Rectang

[2016-01-08 23:27] pixelzoom commented on #217
@jbphet let's discuss how to straighten this out.

[2016-01-08 23:32] pixelzoom commented on #217
Re (2)... Perhaps there was a decision made that only push buttons can have listeners?

[2016-01-09 00:00] pixelzoom commented on #216
When we start with value = MIN_VALUE + 1, the call to `sun.CallbackTimer.stop` is a no-op, because both delayID and intervalID are null. But (somehow) the timer continues to fire.

When we start with value = MIN_VALUE + 2, the call to `sun.CallbackTimer.stop` stops the timer, because `intervalID` is non-null.

[2016-01-09 00:02] samreid opened #218 "Property/Emitter"
While looking at https://github.com/phetsims/sun/issues/217 I noticed a possibility for buttons that I wanted to point out.

Some buttons like AquaRadioButton are stateful and use axon.Property.  Some buttons are stateless and use function() for callback.  For the stateless buttons that only send notifications, I am wondering if they should use Emitter.  To me, Emitter and Property are two sides o

[2016-01-09 00:03] pixelzoom commented on #216
Hmmm.... `CallbackTimer.stop` see `intervalID === null`, but `CallbackTimer.fire` shows a valid `intervalID`.

[2016-01-09 00:12] pixelzoom commented on #216
The bug is in `CallbackTimer.start`, which looks like this:

[code]

On line 60, `fire` is called after `delayID` is cleared and before `intervalID` is set.  If this first `fire` call results in the button being disabled, then the call to `stop` will be a no-op, because `delayID` and `intervalID` are both null.

The fix is to either (a) swap lines 59 & 60, or (b) move line 60 to after `intervalID`

[2016-01-09 00:19] pixelzoom commented on #216
I chose option (b), calling `fire` after `intervalID` is set.

I'll leave this open until it's verified in phetsims/reactants-products-and-leftovers#42.

CallbackTimer is used only in `FireOnHoldInputListener` and `PushButtonModel`, so assigning to @jbphet to review.  High priority since this is blocking publication of RPAL 1.1.0.

[2016-01-09 14:32] samreid commented on #215
Yes, that sounds scaleable, more maintainable and easier to implement.

[2016-01-09 14:37] samreid commented on #204
https://github.com/phetsims/sun/issues/204#issuecomment-170137876 sounds good to me

[2016-01-11 06:06] pixelzoom opened #219 "dependency on joist in sun"
While working on https://github.com/phetsims/sun/issues/216, I noticed that the "fire on hold" feature that was added to sun buttons introduced a dependency on joist.  `sun.PushButtonModel` uses `sun.CallbackTimer`, which uses `joist.Timer`. The dependency was added in @3d9fe824652fffc958ad8993632c749b0b183582 for work on https://github.com/phetsims/scenery-phet/issues/71.  `sun` is supposed to be

[2016-01-11 06:11] samreid commented on #219
Brainstorming another option: we could move joist.Timer to sun or one of its true dependencies.

Also, I noticed sun/CallbackTimer.js also depends on joist.Timer.

[2016-01-11 16:04] jbphet commented on #219
Good catch @pixelzoom.  IMO, timers are pretty basic functionality and we should definitely have one available for our UI components.  I like the idea of moving Timer from Joist to something more general.  Moving it to Sun doesn't seem quite right.  Phetcommon?

[2016-01-11 16:10] pixelzoom commented on #219
Yes, that's what I noted in the first comment.

[2016-01-11 16:11] pixelzoom commented on #219
@jbphet said:

If the longterm intention is to deprecate phetcommon (see https://github.com/phetsims/phetcommon/issues/24), then phet-core might be a better place for it.

[2016-01-11 16:18] pixelzoom commented on #219
Probably also better to move to phet-core since there's precedent for having that repo as a dependency  in other repos that are useful outside of PhET (eg, in scenery, kit, dot).  That dependency is necessary to access PHET_CORE.inheit.

[2016-01-11 16:23] jbphet commented on #219
Moving Timer.js to phet-core sounds good to me.  Shall I just do it, or do we want to run it by the other devs in the next dev meeting?

[2016-01-11 16:27] samreid commented on #219
Phet core sounds good.

[2016-01-11 16:33] pixelzoom commented on #219
Just do it.™

[2016-01-11 17:33] jbphet commented on #216
Changes look good.  That was a subtle one, eh? Closing.

[2016-01-11 17:33] #216 closed

[2016-01-11 17:55] pixelzoom opened #220 "add lighting direction option for 3D appearance strategy"
The 3D appearance strategy in sun.buttons uses a lighting direction that is PhET-specific, where the light source comes from the upper-left.  That may not be appropriate for other clients, and PhET is supposed to be useful outside of PhET.   Provide support for specifying lighting direction, so that clients don't need to write an entire custom appearance strategy just to get different lighting .

[2016-01-11 17:57] pixelzoom commented on #220
@jbphet documented the existing lighting cues in https://github.com/phetsims/sun/commit/fb24d8d226cdd79b1219cfb721fcc82a2e09ded2.

[2016-01-11 18:01] jbphet commented on #220
...and in cc613668ee6af558249b56f80cbe5281c06568f4.

[2016-01-11 18:04] jonathanolson commented on #204
Looks great to me.

[2016-01-11 18:12] jbphet commented on #213
Changes look good, closing.

[2016-01-11 18:12] #213 closed

[2016-01-11 18:12] pixelzoom commented on #207
Here's what the default AccordionBox touchArea looks like, way too large and likely to bump into something in the general case.

![screenshot_103](https://cloud.githubusercontent.com/assets/3046552/12242079/22369fd2-b854-11e5-9026-a4beec7e05d4.png)

[2016-01-11 18:22] jessegreenberg commented on #204
This seems great to me.

[2016-01-11 18:32] pixelzoom commented on #207
Done. To summarize:

• For sun.buttons, set default values for pointer area options to zero, did not adjust call sites. We will identify any problems with standard `?showPointerAreas` test.

• For AccordionBox and VerticalAquaRadioButtonGroup, set default values for pointer area options to zero.  At all call sites, added options for the old default values.

• No other sun components have options r

[2016-01-11 18:34] pixelzoom commented on #204
Since it has a +1 from everyone except @jbphet, I'm going to proceed with the proposal in https://github.com/phetsims/sun/issues/204#issuecomment-170137876.

[2016-01-11 19:30] jbphet commented on #219
My plan would be to still have the timer clocked in Joist as is currently done in Sim.js, but to have the timer itself reside in phet-core.

[2016-01-11 19:33] pixelzoom commented on #219
That sounds good. We don't need any change in functionality, just a change in where joist.Timer lives.

[2016-01-11 22:09] jbphet commented on #219
Did the change.  I'm leaving it labeled for dev meeting to let folks know about it and warn them to watch for any weirdness.

[2016-01-12 17:49] samreid commented on #192
@pixelzoom pointed out that instances in the simulation may be constructed dynamically (like a scene being created dynamically), so applying customizations as a batch after the sim started up may be difficult.

[2016-01-12 17:56] jbphet commented on #192
This was discussed in the 1/12/2016 dev meeting, and after going around for a bit, decided that we didn't have better ideas than ```tandem.createSupertypeTandem```.

[2016-01-12 18:05] jbphet commented on #215
I agree that it would be better have the usage of options documented where the options are declared, and have it be the developers responsibility to look at where the options are passed and figure out which ones are available to the client.  This is a bit of a pain, but far more maintainable.

I will assign this to myself to clean it up in the Sun buttons.

[2016-01-12 18:23] jbphet commented on #219
Discussed in dev meeting to create awareness, closing.

[2016-01-12 21:08] pixelzoom commented on #215
I bumped up against this while working on https://github.com/phetsims/sun/issues/204, so decided to take care of its.  @jbphet please review.

[2016-01-12 21:09] pixelzoom commented on #215
Note that I also fixed some bad doc, like: `{object} options`, `{options} options`, `{Object} options`.

[2016-01-12 22:12] pixelzoom commented on #204
I implemented the proposal in https://github.com/phetsims/sun/issues/204#issuecomment-170137876 for common code, and tried to use the "dilation" terminology consistently in sims by inspecting searches for things like "expand", "expansion", "padding", "touchArea =", "mouseArea =".

Since @jbphet didn't weigh in on this, assigning him to take a peek so that he's aware that this has been done.

[2016-01-15 19:59] pixelzoom commented on #219
Reopening. Namespace wasn't adjusted when Timer was moved to phet-core.

[2016-01-15 20:00] pixelzoom commented on #219
Namespace fixed. Assigned to @jbphet to review.

[2016-01-15 20:37] jbphet commented on #219
Good catch, change looks good, closing.

[2016-01-15 20:37] #219 closed

[2016-01-19 18:24] pixelzoom opened #221 "PageControl: add pointer area dilation to dots"
Needed in function-builder.

[2016-01-19 18:34] pixelzoom commented on #221
Done, here's how it looks in the sun demo:

![screenshot_134](https://cloud.githubusercontent.com/assets/3046552/12428186/746df640-bea0-11e5-9a5c-1436053bedf8.png)

Since this was a trivial enhancement, I'm going to go ahead and close this. If anyone wants to take a peek, go for it.

[2016-01-19 18:34] #221 closed

[2016-01-22 20:16] pixelzoom commented on #192
Related to https://github.com/phetsims/scenery-phet/issues/171

[2016-01-22 20:18] pixelzoom commented on #192
Should we consolidate this issue and phetsims/scenery-phet#171 in a new issue in the proper repository? (which I believe would be tandem).

[2016-01-26 05:32] samreid commented on #192
Yes.  I created https://github.com/phetsims/tandem/issues/7

[2016-01-28 03:24] pixelzoom opened #222 "Carousel: add ability to disable scrolling animation"
In function-builder, I need to programmatically scroll the carousel in order to determine the location of each item in the carousel in the global coordinate frame.  Because of the animation that takes place when you call `Carousel.scrollToItem` or `scrollToItemIndex`, I was getting the incorrect result.  So this is one situation in which disabling animation is useful, and it seems like a generally

[2016-01-28 03:28] pixelzoom commented on #222
Feature implemented.  Assigning to @jonathanolson to review, since we discussed this briefly today. Rather than adding an `animationEnabled` flag to `scrollToItem` and `scrollToItem`, I added option `animationEnabled` and setter/getter for `animationEnabled` field.  This allows you to enable/disable animation not only for the scroll functions, but for the Carousel in general.

[2016-01-28 17:28] pixelzoom commented on #192
@samreid Can we close this issue?

[2016-01-28 17:30] samreid commented on #192
Yes, closing.

[2016-01-28 17:30] #192 closed

[2016-01-28 22:15] jonathanolson commented on #222
Looks good, although one question (unlikely to come up in practice):

I saw ```scrollTween && scrollTween.stop()``` was only run if animation was enabled. If the client:
1. Sets animationEnabled to true
2. Calls scrollToItem to kick off animation (to item A)
and before the animation completes:
3. Sets animationEnabled to false
4. Calls scrollToItem to something on another page (item B)

Presumably

[2016-01-29 00:42] pixelzoom commented on #222
Good point.  Should probably call `scrollTween && scrollTween.stop()` regardless of whether `animationEnabled`.

[2016-01-29 00:43] pixelzoom commented on #222
Done. @jonathanolson anything else?

[2016-01-29 05:48] jonathanolson commented on #222
Nope, thanks!

[2016-02-03 14:34] samreid opened #223 "sun: default touch area dilation for sub-components should be zero"
From #207:

ExpandCollapseBar also has:

[code]

[2016-02-03 14:35] samreid commented on #223
Looks like carousels probably have a similar issue:

![image](https://cloud.githubusercontent.com/assets/679486/12785222/ab8be246-ca48-11e5-952a-92f136bbb401.png)

[2016-02-03 14:35] samreid commented on #223
Looks like PageControl has a similar issue:

![image](https://cloud.githubusercontent.com/assets/679486/12785237/c12f8166-ca48-11e5-8a6c-8c76c61fff3a.png)

[2016-02-03 14:36] samreid commented on #223
Summarizing the above:

- [ ] HSlider
- [ ] OnOffSwitch
- [ ] ExpandCollapseBar
- [ ] Carousel
- [ ] PageControl

[2016-02-03 14:41] samreid commented on #207
I created a new issue #223 for tracking subcomponents.  Skimming through the code and testing sun's example, I did not see any other issues, closing.

[2016-02-03 14:41] #207 closed

[2016-02-04 23:38] jessegreenberg opened #224 "New HSlider features: snap to value and disable range"
From https://github.com/phetsims/forces-and-motion-basics/issues/104, it was decided that the FAMB slider should be updated to match the look and feel of sun's HSlider

@samreid said:

From July 30 developer meeting:

SR: Sounds good, let’s go for it. We can also try to implement this in a way that doesn’t complicate HSlider too much.

@samreid said:

Now that FAMB is up for redeploy, it is time t

[2016-02-09 20:05] jbphet commented on #204
Peek taken, looks good, closing.

[2016-02-09 20:05] #204 closed

[2016-02-10 06:37] ariel-phet commented on #224
@jessegreenberg you might want to talk to @pixelzoom

The slider for function builder is going to need to have the ability to disable portions of the slider to restrict values, so we should make this disabling a portion more general, not just disabling half the slider.

[2016-02-10 15:33] pixelzoom commented on #224
Thoughts...

(1) I'm at least 1 week out from working on this for function-builder, and I won't have the luxury of implementing a general solution.  Generalization will need to occur much later.  So my advise to @jessegreenberg is to proceed with what you need for FAMB, after familiarizing yourself with the requirements for function-builder.

(2) HSlider is already rather complicated. Rather than

[2016-02-10 19:18] jbphet commented on #215
Looks good, closing.

[2016-02-10 19:18] #215 closed

[2016-02-10 20:07] pixelzoom commented on #222
Reopening. There's a bug in this feature, it only works for horizontal carousels.

[2016-02-10 20:09] pixelzoom commented on #222
Fixed and closing.

[2016-02-15 17:19] jessegreenberg opened #225 "Remove references to 'focusable'"
The 'focusable' property of scenery/Node.js is now deprecated.  User interface components in sun will be implicitly added to the navigation order in the parallel DOM without ```focusable: true```.

There are six references to ```focusable: true``` in sun files, and these should be removed.

[2016-02-15 17:42] jessegreenberg commented on #225
Done, closing.

[2016-02-15 17:42] #225 closed

[2016-02-18 22:47] samreid opened #226 "HSlider should become unpickable when disabled"
HSlider should become unpickable when disabled, see https://github.com/phetsims/phet-io/issues/282

[2016-02-19 04:57] samreid opened #227 "Disabled components should not be pickable"
While investigating phetsims/phet-io#282 I saw the following components that had setEnabled or set enabled without obvious setting of pickable:false:

- [ ] RoundButtonView
- [ ] RectangularButtonView
- [ ] NodesPushButton
- [ ] HSlider, see #226
- [ ] ABSwitch

[2016-02-19 23:34] samreid opened #228 "HSlider should send an event on endDrag"
See https://github.com/phetsims/phet-io/issues/348

There is an undefined error because no event is passed to endDrag in this code:

[code]

This bug is exhibited in phet-io, but a general problem for maintainability.  It crashes phet-io sims, so I'm marking as high-priority.

[2016-02-22 16:37] samreid commented on #226
What should we do if the slider becomes disabled while dragging?  I suspect this would not remove the Pointer listener, and hence the Slider would still receive input events.  Currently the HSlider defends itsel like so:

[code]

Perhaps we should keep that defense even if we change pickability.  @jonathanolson thoughts?

[2016-02-22 16:58] samreid commented on #226
Oh, there is already this to deal with enabled/disabled:

[code]

[2016-02-22 17:03] samreid commented on #226
I also made the slider unpickable when disabled and tested with this:

[code]

Seems like it is behaving properly.   I suspect we need all of these other defense functions to handle multitouch issues, but I'm not 100% sure.  Discussing that will be the last step of this issue.

[2016-02-22 17:09] samreid commented on #228
Note this is the same code being discussed in #226

[2016-02-22 17:15] samreid commented on #226
I discussed this with @jonathanolson and he said it is beneficial to call endDrag like this, it is a defensive function that we should keep.  We may also consider using this strategy elsewhere to handle multitouch.

[2016-02-22 17:15] #226 closed

[2016-02-22 17:17] samreid commented on #228
@jonathanolson said there is a good possibility we may use endDrag() with no arguments to handle multitouch issues, and it would be best for now to make phet-io not require arguments here.

[2016-02-22 17:20] samreid commented on #228
Oops, still need to fix this.

[2016-02-22 19:04] samreid commented on #228
We need a much larger issue about redacting arguments from endDrag, and I'll continue the work in the phet-io issue.

[2016-02-22 19:04] #228 closed

[2016-02-23 01:12] jessegreenberg commented on #224
Thanks for the recommendations @pixelzoom.  I like the idea of a 'SliderTrack' abstraction, I think I will try that solution first.

Sliders often do not include 0 in their range.  The desired features are more accurately described by 'snap to value on release' and 'disable range contained by slider'.  I will update issue name to reflect this.

[2016-02-23 18:01] jessegreenberg commented on #224
I suppose it would be more helpful to **enable** a sub range of the slider.  This way, a sub range in the middle of the slider could be enabled, while the ends around the min and max of the slider range could be disabled.

[2016-02-23 18:02] samreid commented on #224
Yes, this seems like the more natural way to frame it, good idea.

[2016-02-24 18:47] jessegreenberg commented on #224
These features were added in the commits above.  Added check boxes to sun/demo/ComponentsView to test and play with these feature.  @samreid would you be able to review these changes?

[2016-02-24 18:48] samreid commented on #224
Sure, I'll take a look.

[2016-02-25 19:41] samreid commented on #224
It looks like these options are duplicated between HSlider and SliderTrack:

[code]

Should some of these be de-duplicated?

[2016-02-25 19:41] samreid commented on #224
Also, snapToValue is duplicated in both HSlider and SliderTrack:

[code]

Can it be declared once and referenced twice?

[2016-02-25 19:42] samreid commented on #224
What do you think about renaming SliderTrack.js to HSliderTrack.js so it will be more clear that they belong together, and they alphabetically become colocated?

[2016-02-25 19:44] samreid commented on #224
Can you document the new option `snapValue: null`?  It is not clear what it is for.  It seems from context that it is a number.  Ah, it is for sliders that jump back to a single value (not snapping to ticks).

[2016-02-25 19:52] jessegreenberg commented on #224
Good points @samreid.  I wasn't sure if SliderTrack would be specific to HSlider, or available for use with other components. Options were duplicated to make sure that those options were defined if used outside of HSlider.  But now I cannot think of a case where SliderTrack would be useful outside of HSlider.

+1 for changing to HSliderTrack if this abstraction will only ever be used with HSlider.

[2016-02-25 22:25] jessegreenberg commented on #224
Thanks for the review comments @samreid.  Commits above make the recommended changes.  Please let me know if there are other issues I should resolve here.

[2016-02-27 00:57] jessegreenberg commented on #224
HSliderTrack was getting Slider's tandem with pass through options.  In the commit above, SliderTrack receives a cloned set of options so that its tandem can be unique.

[2016-03-02 21:05] samreid opened #229 "ComboBox puts the list in the wrong z-order"
ComboBox adds the popup "list" eagerly (in its constructor), so if the ComboBox is constructed too soon, the list will be behind other objects.

Workaround 1: create ComboBox last
Workaround 2: give ComboBox a listParent that is guaranteed to be in front

But perhaps we should rewrite combo box to add the list to the list parent dynamically, when the list is shown?

[2016-03-02 21:06] samreid commented on #229
I'm not too excited about spending a lot of time on this now, but I want to raise for discussion at developer meeting to make sure I understand the problem and its implications.

[2016-03-03 17:13] pixelzoom commented on #229
I don't understand how Workaround 1 (create ComboBox last) has any bearing on this issue. The position of a ComboBox in the rendering order has no bearing on where it's popup list appears.

The current approach is Workaround 2 (give ComboBox a listParent that is guaranteed to be in front).   With this approach, adding on-demand vs eagerly would insure that multiple combo boxes could share the same

[2016-03-03 17:17] pixelzoom commented on #229
With Workaround 2 (give ComboBox a listParent that is guaranteed to be in front), adding on-demand vs eagerly would insure that multiple combo boxes could share the same listParent, and the correct (most recent) list would be on top. (Whether that's important for multi-touch is up for debate.)  It would also make it possible to decorate listParent after ComboBox instantiation - currently children

[2016-03-03 17:49] jonathanolson commented on #229
Sounds fine to me.

[2016-03-03 19:27] samreid commented on #229
Meeting consensus: we decided to try making addChild dynamic and see if the performance is good enough on iPad.

[2016-03-04 20:22] pixelzoom opened #230 "need to know whether an item is visible in Carousel"
In function-builder, I need to know whether an item is currently visible in the carousel. This is important for the "erase" button feature associated with the output carousel.  Items that are visible in the carousel will be animated back to the input carousel, while those that are not visible will be moved immediately to the input carousel.

[2016-03-04 20:52] pixelzoom commented on #230
Work completed. Add `isItemVisible` and factored out `itemIndexToPageNumber`.  Feature is currently used by "erase" button for output carousel in Function Builder.

Assigning to @jbphet for review, since he's reviewed the last couple of enhancements to Carousel.

[2016-03-07 20:03] jbphet commented on #230
The changes look reasonable.  However, the feature itself feels a little odd to me because I've never used the carousel in a way where items are added and removed.  Generally, I've used it more as a tool box sort of thing, where it contains creator nodes that stay on the carousel.  I could envision a case where the code would need to know whether the creator node corresponding to a given model ele

[2016-03-07 20:18] pixelzoom commented on #230
Discussed with @jbphet via Skype, sounds like this approach is sufficiently general for now. Closing.

[2016-03-07 20:18] #230 closed

[2016-03-08 01:40] jessegreenberg opened #231 "enabled/disabled check box support for VerticalCheckBoxGroup"
If a check box is in a group and needs to be disabled, a custom panel is required so that the check box can be referenced to set enabled/disabled.  It would be convenient if VerticalCheckBoxGroup could support enabling check boxes.

One option for the solution:
  1.  CheckBox has an optional ```checkBoxEnabledProperty```
  2.  checkBox.enabled is linked to optional ```checkBoxEnabledProperty```

[2016-03-08 03:07] pixelzoom commented on #231
Not recommended to use VerticalCheckBoxGroup, I'd like to see them go away. See https://github.com/phetsims/sun/issues/30.

[2016-03-08 03:08] pixelzoom commented on #231
Not recommended to use VerticalCheckBoxGroup, I'd like to see them go away. See #30.

In this type of situation, you're better off creating your own CheckBox instances, and handling layout with your own VBox.

[2016-03-08 16:32] jessegreenberg commented on #231
I see, I didn't realize that.  Thanks for pointing out that issue.  I will proceed with custom layout for check box groups.  Closing, removing developer meeting label.

[2016-03-08 16:32] #231 closed

[2016-03-09 20:38] jessegreenberg commented on #224
Two more things after use in https://github.com/phetsims/forces-and-motion-basics/issues/166

1) It should be possible to set the snap value
2) After a refactor, the disabled track has a 'pointer' cursor

[2016-03-09 21:31] jessegreenberg commented on #224
Done in commits above.

[2016-03-10 12:53] samreid opened #232 "Add an option to set the maxTextWidth for TextPushButton"
Discovered in https://github.com/phetsims/fraction-matcher/issues/90#issuecomment-194828638, TextPushButton can have its maxWidth set, but not its maxTextWidth.  This means that the button "chrome" (shadows, highlights, bevel, etc) would be scaled instead of just the text content of the button, which could look odd or inconsistent, particularly if buttons are shown next to each other (with differe

[2016-03-10 12:59] samreid commented on #232
Fixed above and tested with and without passing maxTextWidth (since I wasn't sure how maxWidth=null would be handled), it seemed correct in both cases.  @jonathanolson @pixelzoom @jbphet or @jessegreenberg can you please review this issue?  I'll mark for developer meeting to make sure someone volunteers :)  If you volunteer before then, please self-assign and remove the "developer meeting" label.

[2016-03-10 18:38] pixelzoom commented on #232
I inspected the commit, looks correct to me.

[2016-03-10 18:38] samreid commented on #232
Thanks @pixelzoom, closing.

[2016-03-10 18:38] #232 closed

[2016-03-11 04:54] samreid commented on #224
Currently the HSlider and HSliderTrack both have a _snapValue, and getters and setters for it, is this intentional?  Should the HSlider snapValue and HSliderTrack snapValue be able to vary independently?

Range parameter seems unused in HSliderTrack.

[2016-03-24 18:06] pixelzoom opened #233 "AccordionBox: simplify title bar"
When the AccordionBox is expanded with option `showTitleWhenExpanded: true`, the top corners of the title bar must have corners that match the box, while the bottom corners of the title bar must be square.

Here's an example in reactants-products-and-leftovers:

![screenshot_146](https://cloud.githubusercontent.com/assets/3046552/14027081/90e87ebe-f1bb-11e5-964b-9275b039b6d7.png)

Here's the relat

[2016-03-24 18:29] pixelzoom commented on #233
Simplified as described above.

Tested in reactants-products-and-left-overs (`showTitleWhenExpanded: true`) and area-builder (`showTitleWhenExpanded: false`).

Randomly assigning to @jbphet to review.

[2016-03-29 19:12] jbphet commented on #233
Nice simplification!  Changes look good, and I did a quick test on three sims that I know of that use this component - Area Builder, Build and Atom, and Isotopes and Atomic Mass - and the accordion box appeared to work fine in all of them.  Closing.

[2016-03-29 19:12] #233 closed

[2016-04-07 19:35] pixelzoom commented on #121
4/7/16 dev meeting:
Assign to @andrewadare, consult with @pixelzoom. Chip away at this gradually.  Main repos are sun and scenery-phet, and there are some component-specific issues. Use Chrome dev tools to test for memory leaks.  If sim leaks are noticed, create an issue for the sim.

[2016-04-07 19:43] pixelzoom commented on #212
Related to phetsims/sun#121. Assigned to @andrewadare.

[2016-04-07 19:52] pixelzoom commented on #214
Options are now called `touchAreaXDilation` and `touchAreaYDilation`.

[2016-04-07 19:53] pixelzoom commented on #214
4/7/16 dev meeting:
We'll keep touchArea-specific options since some people find them useful.
We won't add mouseArea-specific options since we rarely change mouseArea.

[2016-04-07 19:53] #214 closed

[2016-04-11 22:11] pixelzoom commented on #222
Reopening.

To reset a carousel without scrolling, the client has to currently do something like this:

[code]

In Function Builder, I have 3 carousels to reset, so this gets quite ugly. What I'd really like to do is tell `reset` to disable animation, and let it handle saving and restoring the animation state, e.g.:

[code]

[2016-04-11 22:14] pixelzoom commented on #222
Done, closing. If anyone wants to review, go for it.

[2016-04-11 22:14] #222 closed

[2016-04-12 04:22] jessegreenberg commented on #224
It was intentional, though the two values should not vary independently.  It was a solution to the problem that HSliderTrack needs to track a changing 'snapValue' for its unique drag handler.  But it seems that the getters and setters are not necessary.  Removing these showed that the enabledRangeObserver could be handled just in HSlider.  @samreid would you mind reviewing these changes?

[2016-04-12 16:02] samreid commented on #224
Sure, I'll take a look.  Marking as high-priority so it will appear on my todo list for the near future.

[2016-04-12 19:41] samreid commented on #224
https://github.com/phetsims/sun/commit/3c696e66010e9d43f127e57b0367e64d3cdf61c6 seems good to me.  Anything else to do here @jessegreenberg ?

[2016-04-12 22:46] andrewadare commented on #212
@pixelzoom, can you advise on a good starting point (i.e. module or class) to dig into this?

Seems prudent to start with the least spaghetti-like cases first.

[2016-04-12 22:54] pixelzoom commented on #212
I would start with something other than sun buttons, since implementing dispose will not be as straightforward as other UI components.  Recommended to start with the (likely incomplete) list of scenery-phet UI components in https://github.com/phetsims/sun/issues/121. Have a look at that list, then let's tackle one together, to familiarize you with the general pattern.

[2016-04-12 23:05] pixelzoom commented on #121
@andrewadare see scenery-phet.FaucetNode for a good example of the patterns that are typically employed in `dispose`.   The 3 areas of house-keeping are typically:

(1) remove observers from things (Property, Emitter, Events) that were provided by the client
(2) dispose of any subcomponents that require disposal
(3) de-registration from tandem (data collection)

[2016-04-12 23:09] pixelzoom commented on #121
Also note in FaucetNode that `dispose` calls `disposeFaucetNode`, which is `@private` and does all of the work. This is a general pattern, designed to avoid having to create a lot of `this` fields for things that are needed solely by dispose. The name of the private function is always of the form `dispose + constructor.name`, in this example `dispose + FaucetNode`.

[2016-04-13 16:54] jessegreenberg commented on #224
Not that I am aware of, thanks for the review comments @samreid!  Closing.

[2016-04-13 18:17] pixelzoom opened #234 "button content not centered with 3D appearance strategy"
Here's an example, from MOTA.

RecordStopButton with 3D appearance strategy, icon looks a little "off" due to button shading:

![screenshot_44](https://cloud.githubusercontent.com/assets/3046552/14504177/e7e64dbc-0170-11e6-9c3d-47521bee780f.png)

The same button with flat appearance strategy, icon looks properly centered:

![screenshot_01](https://cloud.githubusercontent.com/assets/3046552/1450421

[2016-04-13 18:20] pixelzoom commented on #234
It appears that ResetButton must already contain some code that compensated for this (option 2 above).  Here's the same MOTHA screenshot with flat appearance strategy for the reset button.  Note that the icon no longer appears to be centered.  This is bad; if we want to switch to flat appearance strategy, the rest button (which is used everywhere) will look wrong.

![screenshot_02](https://cloud.g

[2016-04-13 18:21] pixelzoom commented on #234
Here's the offending code in ResetButton, line 35:

[code]

[2016-04-13 18:22] pixelzoom commented on #234
Wondering... Are there other buttons that are compensation for this, and will also look wrong for flat appearance strategy?

[2016-04-13 18:39] pixelzoom commented on #234
https://github.com/phetsims/sun/issues/234#issuecomment-209578290 is apparently not the only issue with ResetButton. With `flatAppearanceStrategy`, `xContentOffset:0`, `yContentOffset:0), the icon is indeed centered. But it appears shifted slight right due to the arrow head.  Example:

![screenshot_03](https://cloud.githubusercontent.com/assets/3046552/14505071/c9ddbc48-0174-11e6-9015-0995964ebe4f

[2016-04-13 18:47] pixelzoom commented on #234
Skype:
[4/13/16, 12:44:57 PM] Chris Malley: The specific fix for ResetButton is to pair the arrow shape with a transparent circle that has the proper radius to encompass the entire shape (including arrow head).  Then use that as the icon, so that it centers correctly.
[4/13/16, 12:46:46 PM] Chris Malley: The general fix for 3D appearance strategy is to set xContentOffset and yContentOffset (which

[2016-04-13 18:58] pixelzoom opened #235 "button content not centered with flat appearance strategy"
Discovered in #234, starting with comment https://github.com/phetsims/sun/issues/234#issuecomment-209578097.

Here's a typical ResetButton with its default 3D appearance strategy, looks great:

![screenshot_04](https://cloud.githubusercontent.com/assets/3046552/14505502/af1d7aea-0176-11e6-8f08-a3e59d4ba7be.png)

Here's the same button with flat appearance strategy. It looks wrong, the icon is shif

[2016-04-13 19:02] pixelzoom commented on #234
Other buttons that are compensating for 3D and will look wrong in flat:

scenery-phet.LeftRightSpinner
scenery-phet.StepButton
scenery-phet.StepBackButton
energy-skate-park-basics.ControlPointUI.deleteButton

[2016-04-13 19:03] pixelzoom commented on #235
Other buttons that are compensating for 3D and will look wrong in flat:

scenery-phet.LeftRightSpinner
scenery-phet.StepButton
scenery-phet.StepBackButton
energy-skate-park-basics.ControlPointUI.deleteButton

[2016-04-13 19:07] pixelzoom commented on #235
This should technically be in scenery-phet, but at this point I'm not going to move it.  And there is sun work to be done here.

[2016-04-13 19:08] pixelzoom commented on #234
This should technically be in scenery-phet, but at this point I'm not going to move it. And there is sun work to be done here.

[2016-04-14 17:32] pixelzoom commented on #212
@jbphet please weigh in on the approach that we're proposing.

[2016-04-14 17:40] pixelzoom commented on #212
Assigning to @jbphet for feedback. Assign back to @andrewadare when done.

[2016-04-14 18:28] pixelzoom commented on #234
I will work on this when I have time, maybe with @jbphet's help.

[2016-04-14 18:28] pixelzoom commented on #235
I will work on this when I have time, maybe with @jbphet's help.

[2016-04-14 19:23] pixelzoom commented on #235
Resolved this in ResetButton by adjusting the localBounds of the icon like this:

[code]

I also adjusted the default value of `option.xContentOffset` so that the button appears identical to how it did previously with 3D appearance strategy.

[2016-04-14 20:03] pixelzoom opened #236 "button content offset should be handled in threeDAppearanceStrategy"
This issue was factored out of #234 and #235.

Instead of setting `xContentOffset` and `yContentOffset` in (for example) ResetButton to compensate for the gradient in threeDAppearanceStrategy, that compensation should be handled (with some default values) in threeDAppearanceStrategy.   It's not immediately clear to me how to do this.

@jbphet Since I took care of making ResetButton look good for f

[2016-04-14 20:03] pixelzoom commented on #236
Other buttons that are compensating for 3D and will look wrong in flat:

scenery-phet.LeftRightSpinner
scenery-phet.StepButton
scenery-phet.StepBackButton
energy-skate-park-basics.ControlPointUI.deleteButton

[2016-04-14 20:05] pixelzoom commented on #235
Moving the issue of offset compensation for 3D to https://github.com/phetsims/sun/issues/236.

@jbphet please review the changes I made to ResetButton in https://github.com/phetsims/scenery-phet/commit/aae06db378f63fefc7ec06420a52e1a617f814e2.  Then you can close this issue.

[2016-04-14 20:05] pixelzoom commented on #234
Moving the issue of offset compensation for 3D to #236.  Closing this issue.

[2016-04-14 20:05] #234 closed

[2016-04-14 20:57] jbphet commented on #212
The idea of having a proxy property seems pretty reasonable to me since in some cases it will almost certainly save a lot of digging through the code to find where properties have gone and links have occurred, and will be easier to maintain as well.  I'd suggest that @andrewadare use this pattern when it makes sense, i.e. when the property is passed on to other contained classes or parent classes.

[2016-04-15 15:41] samreid commented on #212
The sun memory tester would be great at identifying leaks in the sun buttons.  See MemoryTestsView.js

[2016-04-20 22:04] samreid commented on #229
Calling `moveToFront` when the list is shown also seems like a nice solution.

[2016-04-21 02:00] samreid commented on #229
Committed above and tested in Circuit Construction Kit: Basics.

Before:
![image](https://cloud.githubusercontent.com/assets/679486/14695749/75aeb442-0732-11e6-90a3-47d4198fe7dc.png)

After:
![image](https://cloud.githubusercontent.com/assets/679486/14695755/8232e8e6-0732-11e6-9403-9f02f5f76fef.png)

It would be great if @jonathanolson or @pixelzoom could sign off on this strategy.  I went with mo

[2016-04-21 02:02] samreid opened #237 "ComboBox popup drifts when the screen reshapes"
Discovered during #229 ComboBox popup drifts when the screen reshapes.

![image](https://cloud.githubusercontent.com/assets/679486/14695791/bc335558-0732-11e6-942b-02f607c62766.png)

[2016-04-21 21:32] pixelzoom commented on #237
Is this specific to CCK? Are you relocating the combo box, but not relocating the popup's parent?

[2016-04-21 21:34] pixelzoom commented on #237
No such drift problem with combo boxes in Beer's Law Lab, so I'm guessing this is a CCK problem.

[2016-04-21 21:38] pixelzoom commented on #229
The `moveToFront` approach looks reasonable to me. But worth noting that it won't address occlusion issues caused by something in front of a ComboBox's `listParent`.

[2016-04-22 20:41] jbphet commented on #236
In #235, @pixelzoom compensated for the look of the reset button by adjusting the local bounds of the icon.  He essentially reflected the original shape, merged the two shapes, and then used the combined bounds, which then looks reasonably centered on the flat strategy.  The following image illustrates:

![reset-button-sequence](https://cloud.githubusercontent.com/assets/3082831/14754176/dfd84bc0-

[2016-04-22 20:57] pixelzoom commented on #236
@jbphet I think you're confusing 2 unrelated issues. Creating a censorable icon and adjusting the offset for 3D appearance are two *separate issues*.  You start with a censorable icon (as we now have for ResetButton), then compensate for centering in 3D appearance.

In the case of how the ResetButton icons is now created, it's not supposed to be a general solution. It's the centering solution that

[2016-04-22 22:39] pixelzoom commented on #236
Summary of Skype voice discussion with @jbphet:

In both flat and 3D appearance strategy, the content is centered on the button, subject to some offsets. `xContentOffset` and `yContentOffset` (the content offset) are applicable to both flat and 3D appearance strategies, and their default values are zero.

In the case of flat appearance strategy, the content offsets are applied without modification

[2016-04-23 12:32] samreid commented on #237
In CCK, the combo box parent is the ScreenView.  This is a problem for all sims that do not move the combo box parent (including but not limited to CCK).  Are there good reasons not to update the popup location in ComboBox.js when the visible screen bounds or layout bounds change?

[2016-04-23 13:26] samreid commented on #229
Neither would adding it to `listParent` lazily, right?

Please close this issue if there is nothing else to do or discuss here.

[2016-04-25 16:22] pixelzoom commented on #237
Yes. It's unnecessary.  Instead of using the ScreenView as the listParent, just add an addition Node to the ScreenView, and use that as the listParent.

[2016-04-25 16:26] samreid commented on #237
But I would need to keep that additional Node position synchronized with the position of the ComboBox, right?

[2016-04-25 16:29] pixelzoom commented on #229
Correct.

But we had discussed general solutions, and this isn't general.  Having popups in front is a general need that's exclusive to combo box -- it's needed by other things, like menus and dialogs.  Imo we need an approach that is shared by all popups, including combo box.

I don't think you need to address this here. But it is kicking the can down the road.

[2016-04-25 16:33] samreid opened #238 "Add support for popups to be "in front""
From https://github.com/phetsims/sun/issues/229#issuecomment-214430328

[2016-04-25 16:33] samreid commented on #229
OK I created another sun issue for "Add support for popups to be "in front" #238", and will close this one.

[2016-04-25 16:33] #229 closed

[2016-04-25 16:36] pixelzoom commented on #237
No.  Changing the size of the window will have no affect on the listParent position.

[code]

[2016-04-25 16:45] samreid commented on #237
@pixelzoom suggested dismissing the popup when the combobox changes location.  I can coordinate with @jonathanolson to find out the best way to determine whether the combobox has changed location.

[2016-04-25 16:47] samreid commented on #237
@pixelzoom said we could add an API to ComboBox to programmatically dismiss the popup, though the more general solution may be preferable.

[2016-04-25 16:47] samreid commented on #237
@jonathanolson is there a nice scenery way to get a callback when a node's global position has changed?  Would that work for this case?

[2016-04-25 16:51] samreid commented on #237
@jonathanolson said:

[2016-06-04 02:45] samreid commented on #237
It looks like TransformTracker requires the trail, so we could not wire this up automatically in ComboBox's constructor, we would have to wait until it is added into the scene graph.  Alternatively, we could pass in the screen view bounds property as an option to combo box, and when that changes it could collapse the combo box.  @pixelzoom and @jonathanolson what do you think?  Or should we just p

[2016-06-05 16:55] pixelzoom commented on #237
I would punt for now.  But perhaps we should have a general issue somewhere (joist?) that provides a more general API that could be used by all popups (combo box, menus, etc.)

[2016-06-30 18:37] pixelzoom commented on #202
Following conventions used elsewhere in sun, the options should be:

[code]

But there is a slight problem with the touchArea.  It currently defaults to some percentage of the thumb's dimensions.  Here's the relevant code in HSlider:

[code]

If we set the defaults to zero (or any specific value, for that matter), then this affect all clients of HSlider.   So perhaps we should use 'null' as the de

[2016-06-30 18:38] pixelzoom commented on #202
We'll also have to decide whether these options apply only to the default thumb, or to a custom thumb provided via `options.thumbNode`.

[2016-07-01 14:39] veillette commented on #202
for the record, forces-and-motion-basics, masses-and-springs and molecules-and-light uses a custom thumbNode,

[2016-07-01 14:45] veillette commented on #222
I assigned this commit to the wrong ticket

[2016-07-01 14:54] pixelzoom commented on #202
Do they use a custom thumbNode because they require a different "look" for the thumb, or as a workaround for changing the thumb's touchArea?

[2016-07-01 14:54] pixelzoom commented on #202
@veillette Do they use a custom thumbNode because they require a different "look" for the thumb, or as a workaround for changing the thumb's touchArea?

[2016-07-01 15:00] veillette commented on #202
Currently if options.thumbNode is non-null, then the touchArea is the responsibility of the client.
Most clients don't bother with touchArea though.

In any case, I didn't want to change the behavior,
[code]
The commit is here https://github.com/phetsims/sun/commit/c5dbf7cdfa530d559f8d1ded3d9714d84a5c3570  (I got the wrong issue number)

In this way there is no changes in behavior for all clients

[2016-07-01 15:07] veillette commented on #202
Sorry I never addressed your question.
Forces and motion basics and Molecules and light get a different thumb look.
Masses and springs is under construction. I don't see any reason why one would want to use a custom thumbNode for their case. it doesn't change the touchArea.

[2016-07-01 15:14] pixelzoom commented on #202
I inspected the changes made by @veillette, they look OK, but I don't have time to regression test sims right now (tying to meet another deadline).   @ariel-phet You may want to have someone test drive a few sims.

This does enable @veillette  to proceed with curve-fitting (see https://github.com/phetsims/curve-fitting/issues/76).  But I don't think the above change is sufficient to close this iss

[2016-07-01 15:15] veillette commented on #202
I see what you are hinting at.
One could create a
[code]
That never occured to me.
That would also work for the purpose of the curve-fitting.

[2016-07-01 15:16] pixelzoom commented on #202
I wasn't hinting at that at all.  HSlider.ThumbNode constructor is documented as `@private`.

[2016-07-01 15:25] ariel-phet commented on #202
@veillette feel free to create a testing "task" for regression testing slider changes and assign to @phet-steele

[2016-07-06 17:55] pixelzoom commented on #236
I'm smacking up against this issue again in https://github.com/phetsims/scenery-phet/issues/243, where the only reason for having separate "forward" and "back" step buttons is because their `xContent` option needs to be different to work around this issue.

[2016-07-07 16:05] pixelzoom commented on #227
According to comment https://github.com/phetsims/phet-info/issues/24#issuecomment-231123503, this is not true, disabled components must be pickable to support a11y.

[2016-07-07 18:09] samreid commented on #227
Maybe we need to iterate through all components and make sure they remain pickable: true while enabled: false?

[2016-07-07 18:11] samreid commented on #227
We reopened https://github.com/phetsims/phet-io/issues/282 and will send messages even from disabled objects.  Now we are discussing whether to close this issue and how to become consistent about enabled and its impact on pickability.

[2016-07-07 18:14] jessegreenberg commented on #227
We decided that components that are disabled should be pickable for discoverability and accessibility.    We will create new issues in common repositories to make sure that disabled elements are pickable, as suggested by @samreid in https://github.com/phetsims/sun/issues/227#issuecomment-231160857.  Closing this issue, @jessegreenberg will create new issues.

[2016-07-07 18:14] #227 closed

[2016-07-07 22:40] jessegreenberg opened #239 "Disabled components should be pickable"
It has been part of the code review checklist to make sure that user interface components with enabled:false also have pickable:false.  For accessibility, we need disabled components to be pickable so that they can still be discovered with the mouse or finger.

We will need to go through interface components and make sure that elements have pickable:true while disabled.  If we set pickable to true

[2016-07-18 14:56] samreid opened #240 "branch: phet-io-types"
See https://github.com/phetsims/phet-io/issues/489

I emailed the developer list:

PhET Developers,

I'm about to create branches in 6 repos to support the work-in-progress for moving phet-io types to simulations as part of https://github.com/phetsims/phet-io/issues/489

This approach seems feasible, so please keep in mind that changes to these repos will eventually need to merge.

Currently the r

[2016-07-20 17:38] pixelzoom opened #241 "pattern for enabling/disabling UI components"
This came up in https://github.com/phetsims/scenery-phet/issues/229 (NumberControl should have enabled/disable). PhET UI components (primarily in sun and scenery-phet) currently implement a variety of patterns for enabling and disabling those components.  And it's not clear which pattern to use in NumberControl, or components in general.

This issue considers:

• What are the current patterns?
• A

[2016-07-20 17:44] pixelzoom commented on #241
# Pattern #1:  Constructor option

In this pattern, an `enabledProperty` of type `{Property.<boolean>}` may be provided as an option to the UI component's constructor.  The client is free to ignore this option if there's no need to disable the component. The component links to `enabledProperty` to manage its state, and must unlink from `enabledProperty` in `dispose`.

Typical implementation:

[cod

[2016-07-20 17:46] pixelzoom commented on #241
# Pattern #1:  Require constructor parameter

In this pattern, an `enabledProperty` of type `{Property.<boolean>}` must be provided as an argument to the UI component's constructor.  The client must provide this Property even if it has no need to disable the component. The component links to `enabledProperty` to manage its state, and must unlink from `enabledProperty` in `dispose`.

Typical implem

[2016-07-20 17:53] pixelzoom commented on #241
# Pattern 3: Setter/getter

In this pattern, the UI component does not observe a Property. Instead, its API provides set/get functions for mutating its state.  This approach does not necessitate implementing `dispose`, and does not require a dedicated Property to control state.

Typical implementation:

[code]

Usage 3.1:

[code]

Usage 3.2:

[code]

[2016-07-20 18:07] pixelzoom commented on #241
# Pattern 4: Constructor option + setter/getter

This pattern combines patterns 1 & 3, providing both an option and setter/getter.  While this may be convenient for some scenarios, it complicates the implementation by providing 2 ways to do the same thing (generally something to avoid in an API).

Typical implementation:

[code]

Usage 4.1:

[code]

Usage 4.2 - use Property, ignore setter

[code]

[2016-07-21 17:22] pixelzoom commented on #241
7/21/16 dev meeting: Consensus is to go with Pattern 4 (https://github.com/phetsims/sun/issues/241#issuecomment-234031982), and use Property or setter (but not both) in a situation, as appropriate.  Investigate factoring out setter/getter and enabledProperty into something like a mixin.

[2016-07-21 17:22] samreid commented on #241
Investigate mixin *or* parent class *or* auxiliary library code.

[2016-07-21 17:37] pixelzoom commented on #241
# Pattern 5: Component provide the Property

Noticed during dev meeting.... sun buttons actually create the `enabledProperty` (see ButtonModel) and don't allow you to provide one.  Decided that we should avoid this pattern.

Typical implementation:

[code]

Usage 5.1:

[code]

[2016-07-21 17:39] pixelzoom commented on #241
Next task would be to change all existing UI components to implement Pattern 4.

[2016-07-21 19:08] pixelzoom commented on #85
The spinners in RPAL and Build an Atom look nearly identical.

There a need in Projectile Motion for spinners that looks like the ones in the Expression Exchange design.  But looking at the implementation, it appears that Expression Exchange ultimately had no spinners. Is that correct @jbphet?

[2016-07-21 19:11] pixelzoom commented on #85
At 7/21/16 design meeting, @ariel-phet suggested that I work with @andrea-phet to generalize one of the spinner implementations (probably RPAL.NumberSpinner) for use in Projectile Motion.

[2016-07-21 21:00] samreid commented on #240
Merged to master and deleted branch, see https://github.com/phetsims/phet-io/issues/498

Closing.

[2016-07-21 21:00] #240 closed

[2016-07-22 17:18] jbphet commented on #85
In response to https://github.com/phetsims/sun/issues/85#issuecomment-234353048, there **are** spinners in Expression Exchange, see the screenshot from the most recent dev version below.  Truth be known, I had forgotten that this UI element is referred to as a "spinner" and had called it a "tweaker", which is probably why @pixelzoom was unable to find it.  I've renamed it to LeftRightNumberSpinner

[2016-07-25 15:34] pixelzoom commented on #85
expression-exchange.LeftRightNumberSpinner also contains the label to the left of the spinner, e.g. "x =".   So I'm not going to attempt to generalize it, and will leave it to @jbphet to use rpal.NumberSpinner in expression-exchange.LeftRightNumberSpinner.

[2016-07-25 16:40] pixelzoom commented on #85
Pairing with @andrea-phet on generalizing rpal.NumberSpinner.

TODO list

- [ ] move ArrowButton from scenery-phet to sun, since it's used by NumberSpinner
- [ ] move NumberSpinner to sun
- [ ] add NumberSpinner demo to sun
- [ ] add button layout options ('leftRight', 'upDown' ?)
- [ ] make range optional, instead of required constructor parameter
- [ ] support different formatting of value (so w

[2016-07-25 18:40] pixelzoom commented on #85
@andrea-phet and I made good progress on this, but stopped at the "use NumberDisplay..." item in the checklist above.  That's going to be a fair bit of work, which we'll address at another pairing session.

In the meantime, NumberSpinner still works (and looks) the same for its sole client (RPAL).

[2016-07-26 16:42] pixelzoom opened #242 "specifying T type for a ComboBox is inappropriate"
Related to code review https://github.com/phetsims/beers-law-lab/issues/181.

In beers-law-lab.SoluteComboBox, I noticed this:

[code]

In general, ComboBox's `items` parameter is an array of objects, and there's no requirement that the array (or the values assigned to it `property` parameter) must be homogenous.   So this bit in ComboBox is totally inappropriate:

[code]

[2016-07-26 19:56] samreid commented on #242
Putting to high priority so it's on my TODO list.  I can try taking out the type parameter from TComboBox and see what happens.

[2016-07-26 20:40] pixelzoom commented on #85
@andrea-phet I made a few additional changes after our pairing session yesterday, see above commits.  I occurred to me that there were a few things that I didn't want to leave in a semi-broken state between now and the next time we work on this.

[2016-07-27 02:26] andrea-phet commented on #85
Thanks @pixelzoom!

[2016-07-27 02:30] andrea-phet commented on #85
It would be nice if the width of the backgroundNode could be custom set. I'm running into this layout/alignment problem with projectile-motion, which could be resolved if I could fix the width of all three number spinners:
![image](https://cloud.githubusercontent.com/assets/7988696/17162056/b3a0afa6-536f-11e6-8e2c-64a93d9e6312.png)
So that it looks more like the design doc:
![image](https://cloud.

[2016-07-28 15:23] andrea-phet commented on #85
Related to the images in the previous comment, it would be nice to be able to change the outline weight and color of the background node and arrows.

[2016-08-08 17:07] pixelzoom commented on #85
@andrea-phet and I looked at using NumberDisplay in NumberSpinner, but NumberDisplay has some problems with how it formats the number and optional units. Rather than passing in pattern and units separately, it would be preferable to have default pattern of '{0}', and (if units are desire) add the units to the optional pattern (e.g. '{0} L'). Also complication the issue is that (1) NumberDisplay is

[2016-08-08 17:28] pixelzoom commented on #85
We followed the enabled/disabled pattern that was agreed on in https://github.com/phetsims/sun/issues/241#issuecomment-234322865.

[2016-08-08 17:30] pixelzoom commented on #85
We decided not to support the radically different look for the arrow buttons that's shown in https://github.com/phetsims/sun/issues/85#issuecomment-157766290.

[2016-08-08 17:40] pixelzoom commented on #85
Our work here is done. Since we paired on this, we didn't feel the need to have a 3rd developer review, so closing.

[2016-08-08 17:40] #85 closed

[2016-08-08 18:39] andrea-phet opened #243 "NumberSpinner: backgroundMinWidth option is misleading"
Currently, the `backgroundMinWidth` option is misleading because it doesn't exactly set the width of the background node - it sets the width minus the margins:
[code]
I think that line should be
[code]
so `backgroundMinWidth` actually sets the width of that white background rectangle.

Related to work @pixelzoom and I did for #85

[2016-08-08 18:46] andrea-phet commented on #243
Assigning to @pixelzoom for review

[2016-08-08 18:59] pixelzoom commented on #243
👍 Closing.

[2016-08-08 18:59] #243 closed

[2016-08-10 19:31] samreid commented on #242
The `valueType` is used to convert the value to a state object which can appear in the data stream and is therefore is quite useful.

Even though our combo box supports heterogeneous types, we may want to constrain ourselves to use homogeneous types to reduce complexity and improve maintainability.  For instance, in Java, you can instantiate an ArrayList without type arguments (good for any type)

[2016-08-10 19:32] samreid commented on #242
Reassigned to @pixelzoom for discussion.

[2016-08-10 19:45] pixelzoom commented on #242
I guess I'm OK with requiring combo box items to be homogeneous. But if that's going to be a requirement, then it should be documented/verified/enforced in ComboBox.

[2016-08-11 22:59] samreid commented on #242
This seems like a good spot for me to collaborate with @andrewadare or @pixelzoom on.

[2016-08-15 22:20] veillette opened #244 "Performance issues while repeatedly tapping buttons on iPad2"
This issue came about while trying to address https://github.com/phetsims/plinko-probability/issues/26.

Plinko-probability uses a play button to launch a ball. The user is likely to use this button in a firing motion by tapping the button.  On iPad2 , the frame rate drops considerably while tapping the play Button. However this is not due to the listener attached to the button.

One can recreate

[2016-08-18 20:13] pixelzoom opened #245 "HSlider passes all of its options to sub-components"
HSlider line 111:

[code]

This passes all of the HSlider options to ThumbNode, including layout (x,y,left,right,...) and transforms (scale,...)   This is currently working only because `centerY` is set on the next line, and centerX is set to match `valueProperty`.

[2016-08-18 20:24] pixelzoom opened #246 "HSlider: touchArea dilation is ignored for custom thumbs"
Options `thumbTouchAreaXDilation` and `thumbTouchAreaYDilation` are currently being ignored if a custom thumb is provided.  The bug is in this block of code, HSlider line 132:

[code]

Moving the touchArea assignment outside of the if statement fixes the problem. I.e.:

[code]

Note that this change may affect sims that are depending on the buggy behavior.

[2016-08-18 20:28] pixelzoom commented on #246
I searched for "thumbNode:" to locate sims that use a custom thumb:

forces-and-motion-basics  (does not set touchArea)
molecules-and-light (does set touchArea)

[2016-08-18 20:32] pixelzoom commented on #245
Similar problem for the slider track, line 118:

[code]

[2016-08-18 20:41] pixelzoom commented on #246
On second thought... Let's make the client responsible for dilating the custom thumb.  I'll update the documentation of `thumbTouchAreaXDilation` and `thumbTouchAreaYDilation` to indicate that.

[2016-08-18 20:46] pixelzoom commented on #246
There's another problem here as well. It's impossible to turn off touchArea dilation.  The default options are:

[code]

And the test is:

[code]

The above bit of code is probably there so that we don't change the behavior of sims that are rely on a default touchArea.  Sims that don't want touchArea expansion would hopefully be able to provide options like this:

[code]

But that's still going to

[2016-08-18 20:59] pixelzoom commented on #246
Two changes in the above commit:

(1) Documented the fact that the touchArea dilation options apply only to the default thumb.

(2) Explicitly test for `null` (e.g. `if ( options.thumbTouchAreaXDilation === null )` ) when deciding whether to compute default touchArea dilation.

Randomly selected @jessegreenberg to review.

[2016-08-19 19:16] jessegreenberg commented on #246
Looks good to me, thanks for fixing this.  I agree that the client should be responsible for setting the dilation on custom thumb touch areas.  Closing.

[2016-08-19 19:16] #246 closed

[2016-08-19 20:12] pixelzoom commented on #224
@jessegreenberg and @samreid...

I'm reopening this. Problems noted while working on https://github.com/phetsims/sun/issues/245.

(1) HSliderTrack has no default values for some of its options.  Specifically, these options are referenced in the constructor, but are missing from the options hash: `enabledProperty`, `startDrag`, `endDrag`, `snapValue`, `constrainValue`.  In general, any option that

[2016-08-19 20:15] pixelzoom commented on #224
I've addressed (1) in the above commit, by providing missing default values and documentation for options. @jessegreenberg please review.

(2) will need to be addressed after #245.

[2016-08-19 20:18] pixelzoom opened #247 "HSliderTrack and HSliderThumb use unnecessary prefix on option names"
This issue was factored out of https://github.com/phetsims/sun/issues/224#issuecomment-241122710.

In HSliderTrack, many of the options are named with a 'track' prefix: `trackSize`, `trackFillEnabled`, `trackFillDisabled`, `trackStroke`, `trackLineWidth`.  That prefix was important when the track was created inside of HSlider.  But the prefix is inappropriate now that HSliderTrack has been factore

[2016-08-19 20:19] pixelzoom commented on #224
Moved issue (2) to https://github.com/phetsims/sun/issues/247.

@jessegreenberg feel free to close this after reviewing the changes noted in https://github.com/phetsims/sun/issues/224#issuecomment-241123431.

[2016-08-19 20:45] pixelzoom commented on #245
In the above commit, I propagated only the options that are relevant to HSliderTrack and HSliderThumb.  This approach is admittedly "brute force", but we're currently lacking a general/elegant way of propagating options to subcomponents (see discussion in https://github.com/phetsims/scenery-phet/issues/255).

@jessegreenberg please review. I tested in sun demo and several sims, but please check a

[2016-08-19 20:48] pixelzoom commented on #247
Resolved this issue and #245 in the above commits.  @jessegreenberg please review.

[2016-08-19 20:52] pixelzoom opened #248 "no tandem for HSlider thumb"
Noted while working on https://github.com/phetsims/sun/issues/245.

HSlider currently creates a tandem for its track (HSliderTrack) but not for its thumb (HSliderThumb). Why?

HSliderTrack is created at HSlider line 126.

HSliderThumb is created at HSlider line 147.

[2016-08-19 20:54] pixelzoom commented on #248
The tandem name for the track ('sliderTrack') also seems a little over qualified.  Wouldn't 'track' be sufficient?

[2016-08-19 20:55] pixelzoom commented on #248
Mentioning @jessegreenberg because he added the tandem for HSliderTrack.

[2016-08-19 21:00] pixelzoom opened #249 "HSlider saves all of its options"
Address this TODO in HSlider:

[code]

[2016-08-19 21:08] pixelzoom commented on #249
Addressed in above commit. Assigning to @jessegreenberg since he's reviewing other HSlider issues.

[2016-08-19 22:05] pixelzoom opened #250 "HSlider doesn't verify that "enabledRange" is within the slider's range"
`enabledRangeProperty` was added in @2b83e994039b2d33845d5e51d7735d144c188d97 by @jessegreenberg.   When `enbledRangeProperty` changes, there is currently no verification that its value is within the range of the slider value.

[2016-08-19 22:08] pixelzoom commented on #250
Fixed in above commit. Assigned to @jessegreenberg to review.

[2016-08-19 23:22] jessegreenberg commented on #224
These options were discussed as part of the review.  The only options in HSliderTrack were those that were not otherwise needed by HSlider.  We agreed that having them in both files created a duplication of options and initial values.  The options missing from ```_.extend``` in HSliderTrack had initial values defined in HSlider.

[2016-08-19 23:25] jessegreenberg commented on #224
After thinking about this a bit more, I agree that this is most important:

```_.extend``` serves as important documentation.  Changes in https://github.com/phetsims/sun/commit/a862631e2a5c913b4fe6ba22e29beb396541b467 look good to me.  Closing.

[2016-08-19 23:25] #224 closed

[2016-08-20 02:59] samreid commented on #248
I can see the asymmetry of this, thanks for pointing it out.  The reason it was developed this way is that the track emits input events when the user clicks on the track and the slider (not the knob) emits events when the knob is dragged.  Hence the track and slider needed to be instrumented to get the events into the data stream.  It seems like we should instrument the knob for completeness, so t

[2016-08-20 03:15] pixelzoom commented on #248
I don't understand instrumenting the track and "slider".  The track is part of the slider. If you're instrumenting the track, then shouldn't you be instrumenting the track and thumb, and not the "slider"?

[2016-08-20 03:16] pixelzoom commented on #248
Let's be sure to refer to this as the "thumb", not the "knob".

[2016-08-22 02:26] samreid commented on #248
Good call, will do.

There are 3 classes at play: HSlider, ThumbNode and TrackNode.

HSlider defines an input listener on line 143 which is added to the thumbNode.  TrackNode defines an input listener that listens for events in the track.  ThumbNode does not handle drag events.  It was implemented this way to make the thumb customizable without having the client having to attach the listeners.  Ho

[2016-08-22 21:03] jessegreenberg commented on #250
Thanks @pixelzoom this is an important think to check.  Commit looks good and it caught the error when I tried it out.  Closing.

[2016-08-22 21:03] #250 closed

[2016-08-22 21:21] jessegreenberg commented on #249
Looks great to me.  I thought about picking out thumb and track options in the same way so that options are distributed in the same way, but it is more complicated since tandem needs to be added to the track options.  Closing.

[2016-08-22 21:21] #249 closed

[2016-08-22 21:45] jessegreenberg commented on #245
Thanks @pixelzoom, looks good to me.  I tested molecules-and-light, hookes-law, ohm's-law, and forces-and-motion-basics.

[2016-08-22 21:45] #245 closed

[2016-08-22 21:47] jessegreenberg commented on #247
Commits look good to me, and everything works well with #245.  Thanks for adding the documentation in https://github.com/phetsims/sun/commit/462d396b84ffb0c9ba0c6af5468daa200f26f4fd.  Closing.

[2016-08-22 21:47] #247 closed

[2016-08-23 15:54] samreid commented on #248
I instrumented the HSliderThumb in the preceding commit.  @pixelzoom would you like to review?

[2016-08-23 17:10] pixelzoom commented on #248
The track (`this.track`) and thumb (`var thumbNode`) tandems are named like this:

[code]

How about this?

[code]

And if there's some (inconsistently applied) convention to name the tandem the same as the `var`, then I'd be in favor of renaming `thumbNode` to `thumb`.

[2016-08-23 17:11] pixelzoom commented on #248
The track (`this.track`) and thumb (`var thumbNode`) tandems are named like this:

[code]

This seems a little awkward/inconsistent. How about changing to this?

[code]

And if there's some (inconsistently applied) convention to name the tandem the same as the `var`, then I'd be in favor of renaming `thumbNode` to `thumb`.

[2016-08-23 17:54] pixelzoom opened #251 "patterns for setting pointer areas of subcomponents"
While trying to resolve pointer area issues in WavelengthSlider (https://github.com/phetsims/scenery-phet/issues/261), I noticed that we have (at least) 3 different patterns for dilating pointers areas of subcomponents.  I will describe them below.

Questions I'd like to answer:

(1) Are there other patterns?

(2) Should we standardize on one of these patterns?

(3) Is there significant value to h

[2016-08-23 17:59] pixelzoom commented on #251
# Pattern 1: No default dilation of pointer areas

Pros:
• simplest implementation

Cons:
• no "typical" default pointer areas, all clients must set them

Example:

[code]

[2016-08-23 18:04] pixelzoom commented on #251
# Pattern 2: Default dilation proportional to subcomponent size

Pros:
• provides a typical default

Cons:
• messy `null` values and tests required to support setting dilation options to zero
• "typical default" may be appropriate for PhET-specific libs (e.g. scenery-phet, joist), but not a appropriate for general libs (e.g. sun)

Example:

[code]

[2016-08-23 18:12] pixelzoom commented on #251
# Pattern 3: implementation variation of Pattern 2

This is a variation of Pattern 2 that doesn't require the `null` default values and tests.

Pros:
• provides a typical default (which sims may be expecting)
• client can set default to 0 if desired
• doesn't require messy `null` values and tests as in Pattern 2

Cons:
• requires computing default values before `_.extend` call, which is a bit non-

[2016-08-23 18:28] pixelzoom commented on #251
Labeled for discussion at developer meeting.

[2016-08-23 19:48] samreid commented on #248
I think it has generally worked well to name node vars with a node suffix.  Please correct me if this is incorrect. But in this case it may be best to use `var trackNode` and `var thumbNode` and use `trackNode` and `thumbNode` for the tandems.  Whichever we choose, the tandem names and var names should be consistent.

[2016-08-23 19:50] pixelzoom commented on #248
Agreed. This would be fine too:

[code]

[2016-08-23 20:01] pixelzoom commented on #248
@samreid said:

I see exceptions to this in the first sim that I looked at. concentration.ConcentrationSlider, uses 'track' and 'thumb', as I proposed:

[code]

[2016-08-23 20:50] samreid commented on #248
What about this proposed convention:

For view components that have a corresponding model component, use the `Node` suffix.  For view components that do not have a corresponding model component, omit the `Node` suffix.

For instance:
[code]

[2016-08-23 21:26] pixelzoom opened #252 "Panel: change default for option.align to 'left'"
Panel has option `align`, which currently defaults to `'right'`:

[code]

This seems like the least likely of the 3 values, and likely to cause i18n layout bugs (e.g. https://github.com/phetsims/plinko-probability/issues/52).  Why is `'right'` the default?  And should we change it?

[2016-08-23 21:29] pixelzoom commented on #252
I spot checked a dozen or so panels, and they are all setting `align` to `'left'` or `'center'`.  But there are 150 occurrences of "var Panel = require", so determining whether changing the default to (e.g.) 'center' would affect any sims would be time consuming.   Does anyone recall using a Panel that needs to be right aligned?

[2016-08-23 21:34] pixelzoom commented on #252
Looking at GitHub history... The `align` option appeared for awhile with default `'center'`, then disappeared for awhile, then was resurrected (inadvertently?) with with default `'right'`.   There are a bunch of commits with message "Merge remote-tracking branch 'origin/master'", so it's possible that there was some funny business going on here.

[2016-08-23 21:36] pixelzoom commented on #248
That's the convention that I've been trying to use for naming variables and types.  Not sure how consistent I've been.

I'm also not totally sold on the need to have the tandem and var names match.

[2016-08-24 02:34] samreid commented on #248
This has served as a good rule of thumb, mainly to (a) help us give good descriptive var names (b) make text searches yield both results (i.e. renaming `myVar` also renames the `myVar` tandem.)  Are there cases you can think of where they should intentionally not match?

[2016-08-25 02:15] samreid commented on #252
How are you seeing this?  When I show "history for selection", it indicates that a5e0a77c29c9e58dd8082f7e6cc595103db36b79 introduced `align:right` and it has remained so ever sense.  Here's the issue comment that describes that commit: https://github.com/phetsims/sun/issues/158#issuecomment-75855977

[2016-08-25 02:52] samreid commented on #252
Perhaps it was to get checkboxes to line up?

[2016-08-25 16:21] pixelzoom commented on #252
@samreid I don't follow... How does `align:'right'` cause check boxes to line up? That would be `align:'left'`.

[2016-08-25 16:32] pixelzoom commented on #252
@samreid asked:

You didn't look back far enough in the history. The commit you referenced (@a5e0a77c29c9e58dd8082f7e6cc595103db36b79) is from 2/24/15. The `align` option was added in @14d7e60e4940953881e2f870ea299f79438edd91  (11/27/13), then was "back out" in @d75cc36443a8be0225699ea0a79ef1bccb63264c (11/29/13).

[2016-08-25 16:35] samreid commented on #252
My mistake, I thought the checkboxes were on the other side.

I see the history now, thanks!

[2016-08-25 19:27] samreid commented on #251
Consensus: touch area expansions should all be in pixels, never percentages.  Large buttons need smaller touch areas (because the button is easier to hit), not proportionally larger touch areas.  Likewise, smaller buttons need larger touch areas.

[2016-08-25 19:29] pixelzoom commented on #251
... so that means use Pattern 1.

[2016-08-25 19:35] samreid commented on #251
# Pattern 4: Common code support for bounds expansion for symmetric cases

Default dilation is constant, unrelated to the size of the subcomponent.

[code]

[2016-08-25 19:40] pixelzoom commented on #252
8/25/16 dev meeting:
Change to 'left', add assertion in Panel to check for any cases when options.align is not specified and relying on 'right' default, run test-server.  I'll do this.

[2016-08-25 19:40] samreid commented on #252
You can get a stack trace at any point by doing this trick (from phetAllocation.js)

[code]

[2016-08-25 19:55] pixelzoom commented on #248
8/25/16 discussion with @samreid and @jbphet:

For HSlider, let's use 'track' and 'thumb' for both the tandem and var names. I'll do this.

[2016-08-25 19:58] pixelzoom commented on #248
Nothing left to do here, closing.

[2016-08-25 19:58] #248 closed

[2016-08-25 22:40] pixelzoom commented on #252
I (temporarily) added this to the first line of Panel's constructor, to catch cases where sims are relying on the default of `align:'right'`.  I'll run test-server, and create sim-specific issues.

[code]

[2016-08-25 23:42] pixelzoom opened #253 "sim relies on align:'right' default for Panels"
Related to https://github.com/phetsims/sun/issues/252, this sim relies on the old default of `align:'right'` for Panels.  Below are the stack traces for occurrences that need to be checked. These are the occurrences noted when loading the sim in requirejs mode. If the sim creates Panels dynamically, you should do further checking with fuzzMouse.

[code]

[2016-08-25 23:47] pixelzoom commented on #252
As you can see from the issues I created above, many sims are using the old default of `align:'right'`.  Some (most?) of these may be unaffected by the change to `align:'left'`.  But I don't have time to check them all.  So I've assigned issues to the developers responsible for each sim.

[2016-08-25 23:58] pixelzoom commented on #253
Default value change does not affect this runnable. Closing.

[2016-08-25 23:58] #253 closed

[2016-08-26 12:52] samreid commented on #252
I think we've both misinterpreted the align values for Panel.  The Panel constructor is:

[code]

The panel takes a single child, the align is choosing where to put that single child within the bounding rectangle of the Panel.

I modified the layout code to show the difference between left/center/right like so:

[code]

When running with Balloons and Static Electricity, I saw these values:
[code]

[2016-08-26 14:11] pixelzoom commented on #252
Correct, `align` does operate on the `content`.  And it's largely irrelevant -- except when you specify the `minWidth` option.   If `minWidth` > `content.width`, then you'll see the effects of `align`.

So I'm going to rerun with this check as the first line of Panel's constructor:

[code]

[2016-08-26 14:20] pixelzoom commented on #252
I verified that the above test is correct by commenting out `align:'left'` at this call site in ABSControlPanel, which also specifies `minWidth`:

[code]

Then I verified that the layout of the control panels was affected. See screenshot below, where the Views panel is now right aligned.

![screenshot_90](https://cloud.githubusercontent.com/assets/3046552/18008590/f7f6f436-6b65-11e6-965e-ed99516a8

[2016-08-26 14:49] pixelzoom commented on #252
With the new error test, the sims that may have problems are:

- [ ] atomic-interactions (@jbphet)
- [ ] fluid-pressure-and-flow (@samreid)
- [ ] molecules-shapes (@jonathanolson)
- [ ] states-of-matter (@jbphet)
- [ ] under-pressure (@samreid)

To be clear: This sims may have a problem because they were using Panel's `minWidth` option while not specifying the `align` options.   Therefore the alig

[2016-08-26 15:05] pixelzoom commented on #252
I visually inspected the 5 above sims, and I see no adverse affects of changing the default to `align:'left'`.  I've left the associated issues open (and assigned) in case the primary developers want to confirm for themselves.

Work is done here. @samreid would you mind sanity checking?  The only direct commit is https://github.com/phetsims/sun/commit/39970e66344fa0c222cbe76f06b2955d9208019d.

[2016-08-26 15:24] samreid commented on #252
I think we should change the default alignment to "center".  This refers to whether the content is centered inside the panel, and should nearly always be true, unless a simulation has a need for asymmetry in the panel.

[2016-08-26 17:08] pixelzoom commented on #252
Disagree. `align` is relevant when `minWidth` is used. `minWidth` is typically used to create multiple panels that have the same width.  And in that case, PhET typically wants components in the panels to left align with each other.  Examples:

acid-base-solutions:

![screenshot_92](https://cloud.githubusercontent.com/assets/3046552/18013655/5186ff12-6b7c-11e6-951d-df907144eb2b.png)

under-pressure

[2016-08-26 17:38] samreid commented on #252
This sounds like it would lead to control panels that have differing font sizes, which sounds like poor design.  Can you show some examples of this so I can take a look?  My memory is fuzzy and I can't find examples at the moment, but I thought I've used a pattern that adds a horizontal strut to make sure the panels match widths without having different font sizes.

I agree completely with this, b

[2016-08-26 17:41] samreid commented on #252
If using `minWidth` to match panel widths is a common pattern and the different font sizes is not a problem, and it doesn't matter if the content is exactly centered in the panel, then `align: left` sounds reasonable.  But I'm also wondering: why do `align: left` and `align: center` give different results when `minWidth` is not used?

[2016-08-26 17:47] pixelzoom commented on #252
Example in ABSControlPanel, line 65:

[code]

Which looks like this:

![screenshot_94](https://cloud.githubusercontent.com/assets/3046552/18014991/c9209cbc-6b82-11e6-808d-2ec332ee3ed0.png)

[2016-08-26 18:24] samreid commented on #252
@pixelzoom and I collaborated in the preceding commit to make the alignments match when content width >= minWidth.

[2016-08-26 18:35] #252 closed

[2016-08-29 15:30] pixelzoom commented on #244
Raising priority to high, since this is affecting plinks-probability, which is now in the "home stretch".

@veillette Does this problem occur occur with both the 3D and flat appearance strategy? Or only with 3D?

@jbphet Any idea what's going on here.

[2016-08-29 15:33] pixelzoom commented on #244
My WAG is that this is a 3D appearance issue caused by gradient performance. Looking at RoundButtonView as an example (RectangularButtonView is similar)... While the gradients are pre-computed, the button's fill, and the "overlay" fill and stroke are changed on every button state change. E.g. RoundButtonView line 239:

[code]

[2016-08-29 15:35] pixelzoom commented on #244
@jbphet Question: Why are 2 gradients (button.fill and overlayForShadowGradient.fill) required for the 3D appearance?  Why can't this be created with a single fill for `button`?

[2016-08-29 15:43] ariel-phet commented on #244
@pixelzoom in https://github.com/phetsims/plinko-probability/issues/26#issuecomment-239941610 @veillette claimed that with the flat strategy he could only get the fps down to about 30 (so much less of an issue)

[2016-08-29 15:44] jbphet commented on #244
One of the gradients is for the highlighting/shading at the top and bottom of the button, the other is for highlighting/shading at the left and right.  @jonathanolson had once talked about having more elaborate specs than the currently available linear and radial gradients so that we could use a single gradient in a situation like this, but I don't think anything was ever implemented along those l

[2016-08-29 15:47] jbphet commented on #244
The redrawing of the buttons could well be the culprit.  Would it be a possibility to detect iOS and use the flat button strategy?

[2016-08-29 15:49] pixelzoom commented on #244
This issue is not specific to plinko-probability, it potentially affects all sims.  So I don't think that "change to flat appearance" is a viable workaround.

[2016-08-29 15:51] pixelzoom commented on #244
@jbphet said:

Ditto for this suggestion. Should we just turn off 3D appearance for all sims on iOS?

[2016-08-29 15:51] jbphet commented on #244
In the original description, @veillette describes using the sim by frequently tapping a button.  To my knowledge, this doesn't happen in many sims, so I see this as somewhat of a unique situation.

[2016-08-29 15:52] pixelzoom commented on #244
Any sim that has a fire button will involve frequently (more accurately, "repeatedly") tapping the button.

[2016-08-29 15:53] pixelzoom commented on #244
Any sim that has a fire button will involve frequently (more accurately, "repeatedly") tapping the button.  So I don't agree that this is a unique (if that implies "rare") situation.

[2016-08-29 15:56] jbphet commented on #244
@pixelzoom - what percentage of the currently live HTML5 sims would you say have a fire button that is intended to be repeatedly tapped by the user in this way?

[2016-08-29 16:06] pixelzoom commented on #244
@jbphet  The presence of such a button in the currently-published sims has no bearing on whether this is a "unique" situation.  Sun is a general button package, supposedly useful outside of PhET.  And PhET will surely have other sims like plinko-probability that need a fire button.

[2016-08-29 16:07] ariel-phet commented on #244
(projectile motion will have a fire button)

[2016-08-29 16:13] jbphet commented on #244
One way to improve performance might be to create the buttons in Scenery and turn all of the different representations (not-pressed, pressed, disabled) into images instead of rendering the gradients.

[2016-08-29 16:14] pixelzoom commented on #244
Membrane Channels, Nuclear Fission and Wave Interference (none of which have been ported yet) all have buttons that are designed to be pressed repeatedly.

[2016-08-29 16:15] pixelzoom commented on #244
Or instead of changing `fill`, have different scenery nodes for each state, and change visibility (which is relatively inexpensive).

[2016-08-29 16:28] pixelzoom opened #254 "HSlider: use pixels instead of percentages for touchArea default"
In light of https://github.com/phetsims/sun/issues/251#issuecomment-242508522, HSlider's defaults for touchArea should be changed to pixels instead of percentages. This will certainly affect many clients.

[2016-08-29 16:29] pixelzoom commented on #254
The bit of code to be changed is at line 162:

[code]

[2016-08-29 16:35] pixelzoom commented on #254
Proposal: Change the default touch dilations to be 0.5 and 0.25 of the default thumb width and height respectively.  I.e.,

``js
     thumbSize: new Dimension2( 22, 45 ),
     ...
      thumbTouchAreaXDilation: 11,
      thumbTouchAreaYDilation: 11.25,
[code]

[2016-08-29 16:37] pixelzoom commented on #254
45 occurrence of "thumbSize:" in 25 sims.

[2016-08-29 16:40] samreid commented on #254
Likewise I see 3 places where `thumbNode` is passed in to `HSlider`.  If those thumbs have different sizes, the behavior could be a bit different.  (Not a reason to invalidate your proposal, but they are cases that should probably be checked after the changes are made).

I don't see any other problems with the plan, but would recommend to test a case or two manually and make sure things are matchi

[2016-08-29 16:42] pixelzoom commented on #254
@samreid said:

When a custom thumbNode is provided, the client is responsible for its pointer areas, as indicated in the documentation:

[code]

[2016-08-29 16:44] samreid commented on #254
I see that now, thanks for showing me.  Everything seems good to proceed.

[2016-08-29 16:47] pixelzoom opened #255 "OnOffSwitch: use pixels instead of percentages for touchArea default"
In light of https://github.com/phetsims/sun/issues/251#issuecomment-242508522, OnOffSwitch's defaults for touchArea should be changed to pixels instead of percentages.

Relevant code in OnOffSwitch:

[code]

[2016-08-29 17:00] pixelzoom commented on #255
ABSwitch will be affected, since it has OnOffSwitch as a subcomponent. Will need to add options for pointer areas.

[2016-08-29 17:23] pixelzoom commented on #255
ABSwitch is used by 9 sims, but currently has no way to change pointer areas of the OnOffSwitch.  So there should be no impact on existing clients.  But I will add options for future use.

[2016-08-29 17:58] pixelzoom commented on #255
Work is completed.

Summary of what was done:

• added pointer areas options for OnOffSwitch thumb, with default values that correspond to previous behavior for default `size`
• adjusted touchArea options for clients of OnOffSwitch that use a custom `size` (color-vision only)
• added pointer area options for ABSwitch thumb, with default values that correspond to previous behavior for default `swit

[2016-08-29 18:50] pixelzoom commented on #251
Since we have consensus, this is being addressed in the above issues.

Closing.

[2016-08-29 18:50] #251 closed

[2016-08-29 19:02] pixelzoom commented on #254
I might as well add mouseArea options while I'm at it.

[2016-08-29 19:40] pixelzoom commented on #254
Issues have been created for all sims that require adjustment, see list of issues immediately above. These are the sims that create one or more HSliders with the `thumbSize` option. They will also need to specify `thumbTouchAreaXDilation` and `thumbTouchAreaXDilation`.

[2016-08-29 22:36] pixelzoom commented on #254
I took care of all the sims that didn't have a clear primary developer (color-vision, etc.)  The remaining issues are assigned to their respective primary developer(s).

[2016-08-29 22:37] pixelzoom commented on #254
@jbphet selected at random to review.

[2016-08-30 16:11] pixelzoom commented on #235
@jbphet Still awaiting your review of this. It's come up again in plinks-probability, so I'd like to put this issue to reset.

[2016-08-30 16:13] pixelzoom commented on #236
This is an issue once again in plinks-probability, see https://github.com/phetsims/plinko-probability/issues/26#issuecomment-243491837.  If we're going to use 'flat' as a means of addressing performance issues, then we need to allocate some time to address this issue.

[2016-08-30 16:56] jbphet commented on #254
The commits all look good.  I tested by running the sun demo with ```showPointerAreas``` and changing the mouse and touch area dilation amounts in the HSlider options in ComponentsView.js, and everything worked correctly.  I also did some testing on States of Matter yesterday and noticed some asymmetry in the touch area, which @pixelzoom addressed in the commit shown just above.  Bottom line: Look

[2016-08-30 16:56] #254 closed

[2016-08-30 20:14] pixelzoom commented on #236
Discussed via Skype with @jbphet, he asked me to label this for developer meeting, to discuss prioritization.

[2016-08-30 20:20] pixelzoom commented on #244
Re  phetsims/plinko-probability#26... That sim has other performance issues which I think may be contributing to the Play button issue.  And the designers have said that they are willing to use flat appearance for the Play button as a means of resolving the issue.  So I'm going to remove the high priority label from this issue for now.

[2016-08-30 20:42] jbphet commented on #235
Just to be clear, what I think I'm reviewing here is the way that the bounds of the reset button icon were adjusted by overlaying a "reflection" so that it would be possible to center the button on its own without requiring compensation.  This looks good to me, and we will potentially want to apply a similar approach to other icons.  What this buys us is the ability to use such icons on flat butto

[2016-08-30 20:42] #235 closed

[2016-08-31 21:02] pixelzoom opened #256 "ComboBox: add enabled/disabled feature"
Needed in https://github.com/phetsims/phet-io/issues/576.

Should follow the pattern agreed on in https://github.com/phetsims/sun/issues/241

[2016-08-31 23:19] pixelzoom commented on #256
Feature added, demonstrated in sun demo.

@samreid please review, and verify that this feature is used in phetsims/phet-io#576.

[2016-09-01 16:33] pixelzoom opened #257 "how to add enabled/disabled feature to UI components?"
Developer consensus was to use this pattern for implementing enabled/disabled feature: https://github.com/phetsims/sun/issues/241#issuecomment-234031982.  But as @samreid hinted at in https://github.com/phetsims/sun/issues/241#issuecomment-234323014, adding this feature currently requires duplicate/boilerplate code.  I've recently added this feature to ComboBox and NumberControl, and thought we sh

[2016-09-01 18:06] pixelzoom commented on #236
9/1/16 dev meeting:
@ariel-phet does want to address it, medium-low priority. Revisit after expression-exchange.

[2016-09-01 18:47] jessegreenberg commented on #257
Options discussed 9/1/16 meeting:

- Investigate a mixin pattern
- Add this functionality directly to scenery/Node.js
- Create some subtype of Node.js that handles this for components that can be disabled

Adding functionality directly to scenery/Node.js is the favorite for now.  But would modifying Node.js impact memory or are there other concerns?  Assigning to @jonathanolson and @ariel-phet for

[2016-09-02 03:43] samreid commented on #256
In the preceding commit, I fixed a problem where tandem customization was being overwritten later in the constructor.  I fixed this by moving Tandem.addInstance to the bottom of the constructor.

[2016-09-02 15:57] samreid commented on #256
Change set looks good, aside from the issue I addressed in my preceding commit.  Test in sun example looks good.  We may revisit this if "setEnabled" moves into Node.  Reassigned to @pixelzoom to discuss my change, if necessary.

[2016-09-02 17:08] pixelzoom commented on #256
I don't see the problem you're describing.  Between where `addInstance` is now and where it was before, there is no code executed that uses the tandem:

``js
    // enable/disable the combo box
    var enabledObserver = function( enabled ) {
      self.pickable = enabled;
      self.opacity = enabled ? 1.0 : options.disabledOpacity;
    };
    this.enabledProperty.link( enabledObserver );

    //

[2016-09-02 17:11] samreid commented on #256
Customization code can be called synchronously right after `addInstance`.  In this case, the customization was being overriden by the `link` which happened afterwards.

[2016-09-02 17:16] pixelzoom commented on #256
By "customization code", do you mean PhET-iO customizations?  And by "can be" do you mean that this is where any customization code *will be* called, or might be called?

[2016-09-02 17:19] samreid commented on #256
Yes.  PhET-iO supports synchronous customization which are applied immediately after objects are registered with `addInstance` as well as dynamic customization (calling methods on objects) after they are created (asychronously).

[2016-09-02 17:33] samreid opened #258 "Should we refactor AquaRadioButton to consolidate the circles for PhET-iO?"
In https://github.com/phetsims/phet-io/issues/576#issuecomment-244436190

@pixelzoom said:

@samreid Your implementation requires setting the pieces of the button separately. I.e., in beers-law-lab-wrapper.js:

[code]

A better solution would restructure AquaRadioButton so we are controlling visiblity of the button, not each of its parts separately. The API entry would then look like this:

[code]

[2016-09-02 17:36] pixelzoom commented on #258
Yes, we should.

[2016-09-02 17:42] pixelzoom commented on #258
@samreid Do we need to discuss? Are you doing this or me?

[2016-09-02 17:45] pixelzoom commented on #258
`AquaRadioButton` is (imo) the wrong place to add instrumentation. Move the instrumentation into the `RadioButton` subtype, where already have `selectedNode` and `deselectedNode`. And presumably we'll want similar instrumentation for other subtypes of `RadioButton`.

[2016-09-02 17:49] pixelzoom commented on #258
Also wanted to point out that you need to hide both `selectedNode` and `deselected` node, for the case where the initial state of the button is unselected.   In beers-law-lab customization, you only hid `innerCircle` and `outerCircleSelected`, an approach that is highly dependent on the initial state of the button.

[2016-09-02 18:30] samreid commented on #258
@pixelzoom and I addressed this in the above commit, closing.

[2016-09-02 18:30] #258 closed

[2016-09-02 18:45] pixelzoom commented on #256
Got it, thanks for explaining.

Closing.

[2016-09-02 18:45] #256 closed

[2016-09-06 05:17] samreid commented on #257
@jessegreenberg @pixelzoom and @jonathanolson, does this still need to be marked for developer meeting?

[2016-09-07 05:26] samreid commented on #4
@pixelzoom please open a new issue describing any outstanding work to be done for radio buttons (if any).

[2016-09-07 16:12] pixelzoom commented on #257
Yes, it should remain marked for developer meeting. @ariel-phet is going to get feedback from @jonathanolson before the next meeting, when we will discuss again.

[2016-09-07 17:05] pixelzoom commented on #4
Outstanding work:

• Are there other types of radio buttons that would be useful for PhET sims? That was the "design" part of this issue before it became the "implement RadioButtonGroup" issue.  I see no evidence the general design discussion was completed.

• Do we need 3D vs flat look for radio buttons, as we have for other buttons?

• Why don't radio buttons use the sun "button" framework?  Tha

[2016-09-07 17:12] pixelzoom commented on #257
Looks like @jonathanolson created https://github.com/phetsims/sun/issues/19 for this way back on 9/5/13.  I'm going to close the issue, since the only useful information is a pointer to https://github.com/phetsims/scenery/issues/17.

In https://github.com/phetsims/scenery/issues/17, there was discussion of adding this feature to scenery. But it looks like the conclusion was to *not* add this featu

[2016-09-07 17:12] pixelzoom commented on #19
Duplicate of https://github.com/phetsims/sun/issues/257. Closing.

[2016-09-07 17:12] #19 closed

[2016-09-07 17:16] pixelzoom commented on #257
Also worth noting.... At the 9/1/16 meeting, no one seemed to have a clear concept of how "mix-in" is currently implemented, as used by @jonathanolson in scenery.  And there were concerns about whether the current mix-in approach prevents the mix-in from accidentally overwriting something in the base type.

[2016-09-07 17:20] ariel-phet commented on #257
Admission - I spaced on asking @jonathanolson to take a look at this on our skype call, but just requested him to take a look today. He might also be attending dev meeting remotely tomorrow.

[2016-09-07 18:12] jonathanolson commented on #257
It seems unlikely we'd want to bake in the "only a fixed level of opacity can be used to indicate disabled" into Scenery.

Setting pickability also seems weird (usually don't want to set it to false, but null which is the default). Additionally, when it's set to false, input events will go right through it to what is behind. Presumably instead the desired behavior is that it would absorb (but not

[2016-09-07 20:04] pixelzoom commented on #257
Most of the current implementations have an option for setting the opacity, as indicated in the example shown in https://github.com/phetsims/sun/issues/257#issue-174569595.

Also discussed at dev meeting (but not captured in comments above) was that using opacity to indicate disabled would be the default strategy (since that is the current approach that was arrived at via consensus), with the abil

[2016-09-07 20:07] pixelzoom commented on #257
@jonathanolson asked:

Because `enabledProperty` can be provide by the client via options. So we don't know where that Property is owned by the client or the component.  This is the pattern that was agreed on in https://github.com/phetsims/sun/issues/241#issuecomment-234322865.

[2016-09-08 03:13] jonathanolson commented on #257
Sounds good to me, although it sounds like this should be something like a mix-in (rather than in Node.js directly). The mix-in could live in Scenery, or if it's Sun-specific, in Sun?

Sounds good, I overlooked that it could be provided in options.

[2016-09-08 03:18] samreid commented on #257
@jonathanolson I don't disagree but could you clarify your reasoning here?

[2016-09-08 04:43] samreid commented on #4
I'm inclined to turn each of the bullets from https://github.com/phetsims/sun/issues/4#issuecomment-245349626 into separate issues and close this one.  All opposed?  All in favor?

[2016-09-08 06:05] jonathanolson commented on #257
Node already provides the needed tools (opacity or other visual changes are available) and is much more general than representing just UI controls.

Being "enabled" seems like it's part of the element's (e.g. a button's) model. The button's view can then decide whether being disabled means lower opacity, a different gradient, or another effect.

We don't just use nodes for UI controls, but also us

[2016-09-08 17:53] samreid commented on #4
Meeting consensus: let's make each a separate issue

[2016-09-08 18:23] samreid commented on #257
@jonathanolson mentioned we could create ComponentNode.js which adds enabled/disabled features (instead of using a mixin).

[2016-09-08 18:32] samreid commented on #257
Let's leave this issue open and unassigned until someone needs to deal more with `enabled` features.  When someone needs to add enabled/disabled to a new component, this issue will be assigned to them for investigating adding ComponentNode.js to scenery and using it.

[2016-09-08 18:34] samreid commented on #257
@pixelzoom suggests putting ComponentNode.js in sun, that's OK with me.

[2016-09-08 18:35] samreid commented on #257
@pixelzoom volunteered to take it for a test drive.

[2016-09-10 04:09] samreid opened #259 "Do we need other types of Radio Buttons?"
From #4, @pixelzoom said:

[2016-09-10 04:10] samreid opened #260 "Do we need 3D vs flat look for radio buttons?"
From #4, @pixelzoom said:

[2016-09-10 04:11] samreid opened #261 "Why don't radio buttons use the sun "button" framework?"
From #4, @pixelzoom said:

[2016-09-10 04:12] samreid opened #262 "Do we need both RadioButtonGroup and VerticalAquaRadioButtonGroup?"
From #4 @pixelzoom said:

[2016-09-10 04:12] samreid opened #263 "Why are some radio buttons is sun/js/buttons/ while others are in sun/js/?"
From #4 @pixelzoom said:

[2016-09-10 04:13] samreid opened #264 "RadioButton not used by RadioButtonGroup. Should it be? Do we still need it?"
From #4 @pixelzoom said:

[2016-09-10 04:14] samreid commented on #4
New issues noted above, closing.

[2016-09-10 04:14] #4 closed

[2016-09-13 23:21] pixelzoom commented on #257
I implemented the enabled/disabled feature in base type `UIComponent`, which is checked into master but not used by any code that is checked into master.  I experimented with using it in subtypes `ComboBox` and `NumberControl`, and it worked as expected.  I did not commit changes to ComboBox and NumberControl, but I'm sure you can see how they'd use UIComponent.

`UIComponent` contains several TOD

[2016-09-14 16:35] jessegreenberg opened #265 "Add a multiple arrow button"
From https://github.com/phetsims/forces-and-motion-basics/issues/199 there was a request for a button with two arrows, which looks like a fast forward button.  This seems like useful thing to add to sun.

We could
 1. Add a new type that supports a button with multiple arrows
 2. Generalize ArrowButton to support N arrows

Option 2 seems very easy, an optional parameter could be passed in to speci

[2016-09-14 17:16] jessegreenberg commented on #265
With the above commit, ArrowButton can have N arrows.  Each arrow in the button has the same shape and styling.  It is being used in forces-and-motion-basics, I tested in a few other sims, and ran test server.

@pixelzoom would you mind reviewing https://github.com/phetsims/sun/commit/f2bd9d60cd649fc2c873815bef82a7bcb590ceb2 since you were the original author of ArrowButton?

[2016-09-14 20:56] pixelzoom commented on #265
For purposes of discussion, here's what ArrowButton looks like in forces-and-motion-basics, with these options:

[code]

![screenshot_196](https://cloud.githubusercontent.com/assets/3046552/18529604/046deba0-7a8b-11e6-97b2-4a312f1b6927.png)

[2016-09-14 21:05] pixelzoom commented on #265
(1) The current implementation creates a Path node for each arrow.  It would be more efficient to create a single Path with one Shape.  Not a big deal unless you have a lot of these buttons, or (unlikely) a button with a lot of arrows.  But I thought I'd mention it anyway.

(2) The bigger issue is (I think) how this looks.  In FAMB, to my eye, it looks very odd that the double arrows have differen

[2016-09-14 21:17] pixelzoom commented on #265
(3) In FAMB, should the double arrow buttons be swapped with the single arrow buttons? It seems like the smaller increment buttons should be closer to the value.

[2016-09-14 23:18] jessegreenberg commented on #265
Thanks @pixelzoom, in response to the above points:
 1. Good point.  Once point 2 is sorted out, I can look at look into using a single path for the arrows.
 2. There is a discussion about the arrow styling in https://github.com/phetsims/forces-and-motion-basics/issues/199, I will move comments and recommendations there.
 3. Same as 2, moving to https://github.com/phetsims/forces-and-motion-basics

[2016-09-15 18:46] pixelzoom commented on #257
9/15/16 dev meeting: These developers will be involved going forward: @jessegreenberg for accessibility perspective, @samreid for input on TODO items.

[2016-09-15 22:48] pixelzoom opened #266 "lint errors"
After adding eslint rules related to switch statements (https://github.com/phetsims/chipper/issues/485), this sim is failing lint.

[code]

[2016-09-15 22:56] pixelzoom commented on #266
Default cases added. @jbphet please review.

[2016-09-16 16:42] jbphet commented on #266
Changes look good, and the buttons all seem to behave correctly with no errors shown in the console when tested in the sun demo.  Closing.

[2016-09-16 16:42] #266 closed

[2016-09-16 20:35] pixelzoom commented on #257
Here are the TODO items in UIComponent:

[code]

@samreid @jessegreenberg feel free to comment on these (or anything else) in this issue. Or we can schedule a Skype call if that would be more efficient.

[2016-09-16 23:18] samreid commented on #257
Yes, other behavior will probably accrue here, though maybe not for a while.  Enabled/disabled support will need hooks for accessibility & phet-io, other types of behavior may follow.

Subclassing provides a nice way to JSDoc the function, but passing via function seems more idiomatic (we rarely use subclassing to override functions).  I'm not sure what's best.  Either is probably OK.

I'd recomme

[2016-09-19 15:28] pixelzoom commented on #257
@samreid said:

`this.disabledOpacity` is applicable only to the default strategy (changing opacity). Other strategies may require other options that will need to be included in the `options` arg to the constructor. If `updateEnabled` has no args, how do you proposed to pass those options to `updateEnabled`?

@jonathanolson indicates issues with using `pickable` inhttps://github.com/phetsims/sun/i

[2016-09-19 15:32] pixelzoom commented on #257
@jonathanolson I thought you might be interested in this, so adding you to assignees. If you're not interested, feel free to self-unassign.

[2016-09-19 15:37] pixelzoom commented on #257
@samreid Do you object to passing the value of `enabled` to `updateEnabled`?  It is an observer of `this.enabledProperty`, so will be passed the value regardless of its signature.

[2016-09-19 15:43] pixelzoom commented on #257
Using the approach in https://github.com/phetsims/sun/issues/257#issuecomment-248027906... If we specify `updateEnabled` via options instead of override, then we'll need to do call bind to provide the correct context.

In @samreid's example:

[code]

[2016-09-19 15:56] pixelzoom commented on #257
I the above commit:
• deleted the TODO items that have been resolved
• replaced `function updateEnabled` with `options.enabledObserver`

I agree with @samreid (https://github.com/phetsims/sun/issues/257#issuecomment-247730287) that passing via options seems more idiomatic.  @samreid do you prefer this implementation?

[2016-09-19 16:22] jessegreenberg commented on #239
This issue is dependent on https://github.com/phetsims/scenery/issues/41.  If we can get the accessible DOM to handle discoverability, pickability is no longer an issue for accessibility.

[2016-09-19 16:52] jessegreenberg commented on #257
Using pickable should no longer be problematic for accessibility.  I thought disabled elements would need to be picakble for discoverability through touch and mouse events, but it seems very likely that the parallel DOM can handle this for us.  The related scenery issue is https://github.com/phetsims/scenery/issues/41.  Absorbing the event also makes sense to me.

[2016-09-19 17:21] pixelzoom opened #267 "pattern for specifying options for UI subcomponents"
We currently have a hodgepodge of patterns for addressing this. It would be nice if we had a general approach. Investigation began in https://github.com/phetsims/scenery-phet/issues/255, but turned into a major project. I ultimately resolved that specific issue (in NumberControl) and punted on the general issue.

[2016-09-19 22:21] pixelzoom commented on #257
@jonathanolson said:

@jessegreenberg said:

Is "absorbing" an event equivalent to calling `event.handled`?

My understanding is that if a Node is not pickable, then it won't received events.  So how can a Node that's not pickable absorb an event?

[2016-09-20 16:43] samreid commented on #257
It will have to be made pickable, but with cursor: none and make sure it blocks the event before any of the listeners get to it.  Or we will have to build special support for this feature.

[2016-09-20 17:59] pixelzoom opened #268 "RadioButtonGroup options.align is broken"
Noticed while attempting to left-align radio button content in models-of-the-hydrogen-atom.

`RadioButtonGroup` has option `align`, which one might expect to align the content on the buttons. In reality, it appears to do nothing. The problem appears to be that `RadioButtonGroup` is passing `align` to `RectangularButtonView`, and expecting it to handle alignment. But `RectangularButtonView` has no

[2016-09-20 21:49] pixelzoom opened #432 "memory leaks in Dialog"
Multiple leaks in joist.Dialog:

[code]

Dialog doesn't own any of these things that it's adding listeners to; `content` is a constructor argument, and `titleNode` is an alias for `options.title`. Dialog also has no `dispose` function to remove the listeners, so it would technically fail a code review.

Assigning to @ariel-phet to prioritize and assign.

[2016-09-20 22:05] ariel-phet commented on #268
Assigned to @jbphet to work on once SOM is out the door

[2016-09-21 07:26] jonathanolson opened #269 "[branch] slider-artifacts"
Test commit for https://github.com/phetsims/plinko-probability/issues/93

[2016-09-21 17:05] samreid opened #270 "Make it possible to reuse FontAwesome shapes without introducing memory leaks"
From https://github.com/phetsims/joist/issues/329 we removed caching from FontAwesomeNode because it was causing a memory leak.  In https://github.com/phetsims/function-builder/issues/102 we identified that some sims, such as Function Builder spend a lot of time (like 1000ms) during startup parsing the same svg path over and over.

The memory leak was caused because Path assumes the Shape is dynam

[2016-09-21 23:03] jonathanolson commented on #270
A staticShape option sounds fine, although it might be more convenient to have an 'immutable' flag on the Shape itself.

If we have the flag on the Shape, it can fail out when attempts are made to mutate it, and could be performed at the end of creating a shape, e.g. ```new Shape().drawStuff().close().done()```.

Thoughts @pixelzoom and @samreid?

[2016-09-21 23:21] samreid commented on #270
@jonathanolson it sounds good to me.  Let's hear from @pixelzoom.

[2016-09-21 23:29] jonathanolson commented on #257
There seem to be multiple meanings of "absorb":

- A node (with pickable:true or input listeners) that's in front of other things will "absorb" the event, in that it will no events will fire for objects that were behind it.
- A node with an input listener that calls event.handle() or event.abort() will prevent listeners on its ancestors from being called if the node receives an event.

I've intern

[2016-09-22 01:08] pixelzoom commented on #270
+1 for marking the Shape as immutable.

[2016-09-22 16:55] pixelzoom commented on #270
Here's what I had in mind:

[code]

[code]

[2016-09-22 17:15] samreid commented on #270
Regarding subclassing Shape for the icons, I augmented the code like so to generate the transformed SVG Strings:

[code]

However, this takes the file size from 11kb to 83kb because the strings look like this:
[code]

[2016-09-22 17:26] pixelzoom commented on #270
Unless applying the transform is a performance issue, I'd prefer not to add additional preprocessing steps to integration fontawesome SVG data.  I think it's advantageous for the data to appear as it does in the fontawesome source.

[2016-09-22 17:33] pixelzoom commented on #270
Before we get too much further into this, we should verify that there's going to be a performance payoff.  In https://github.com/phetsims/function-builder/issues/102, @samreid did some benchmarking that identified creation of FontAwesomeNode as a performance issue.  Caching assumes that most of the cost is in parsing the SVG and creating the Shape.  Is that true?  If a significant portion of the c

[2016-09-22 19:29] pixelzoom commented on #270
9/22/16 dev meeting: @pixelzoom @samreid and @jonathanolson will work on this, no need to involve other developers.

[2016-09-23 19:19] jonathanolson commented on #270
Pretty sure that was true the last time. Path generally just asks the Shape for its bounds, svg string, etc., all of which should be faster with one Shape.

@samreid, any preferences on how to make a Shape immutable? I have a slight preference for a method so it can be chained at the end (like is common for constructing Shapes), like .done() or .makeImmutable(). @pixelzoom suggested "this.mutable

[2016-09-23 19:24] pixelzoom commented on #270
Currently in FontAwesomeNode we have:

[code]

So add `.done()` to the end, like this?

[code]

[2016-09-23 19:25] pixelzoom commented on #270
@jonathanolson Any thoughts on this TODO in https://github.com/phetsims/sun/issues/270#issuecomment-248962756?

[code]

[2016-09-23 20:25] jonathanolson commented on #270
That would be the plan.

I don't like the overhead of creating two Shapes (with two copies of each segment in the Shape), but I believe it's currently the best way (given that each segment only has a transformed() immutable-style method).

Presumably if we add mutable transforms to Shape and segments in the future, we'll find this location in searches, so we can remove the TODO when doing the refa

[2016-09-23 20:31] pixelzoom commented on #270
Please take a close look at the `FontAwesomeShape` example.  How can `FontAwesomeShape` extend `Shape` if we need to create 2 Shapes?

[2016-09-23 20:45] jonathanolson commented on #270
I saw the example, but I wasn't sure why we were creating FontAwesomeShape. I didn't see any methods added.

A global FontAwesomeNode.getShape( name ) sounds preferable?

[2016-09-23 20:50] pixelzoom commented on #270
Why is that preferable? That would be like `ArrowButton.createShape()` instead of `new ArrowShape()`.  Clients should be able to create and manage FontAwesomeShapes independently of FontAwesomeNode.

[2016-09-23 22:41] samreid commented on #270
.makeImmutable() seems clearest and most consistent with existing shape API.

[2016-09-24 05:57] jonathanolson commented on #270
First, I'm not sure why we'd want clients to create the shapes. Every 'check_empty' shape would be identical except for duplicated instance objects (since it will be immutable), so we really only want a shared shape for each type (one shared shape instance for 'check_empty', ideally allocated when it is initially requested).

Additionally, I don't feel like managing FontAwesomeShapes without a req

[2016-09-26 16:01] pixelzoom commented on #270
@jonathanolson said:

To be able to create and manage a Shape that is based on fontawesome data with having to use the caching feature.  With caching, once a Shape is in the cache, it's in the cache for the lifetime of the sim.  Unless you want to complicate matters and add a "flush cache" feature.

@jonathanolson said

I don't agree at all in this case that forgoing inheritance is simpler.  FontA

[2016-09-26 16:13] pixelzoom commented on #270
I also suspect that the objection to FontAwesomeShape has more to do with https://github.com/phetsims/sun/issues/270#issuecomment-249293716 than with the use of inheritance. Each segment is immutable, so the only way to transform a Shape is to create another Shape. And that makes implementing FontAwesomeShape (as I've proposed it) currently impossible.

[2016-09-26 16:45] pixelzoom commented on #270
Adding @samreid to assignees since this is now block https://github.com/phetsims/phet-io/issues/642, which he needs to complete by Thursday, 9/29.

How should we proceed?

[2016-09-26 16:48] jonathanolson commented on #270
I can give Shape .makeImmutable(), I'll be fine with however you decide FontAwesome*.js should look.

[2016-09-26 17:08] pixelzoom commented on #270
OK, I'll proceed with `sun` work.

Is this necessary in FontAwesomeNode?

[code]

[2016-09-26 17:18] pixelzoom commented on #270
Shape caching added in above commit.  This will leak memory until Shape.makeImmutable call is added on this line of FontAwesomeNode:

[code]

@jonathanolson Feel free to test `makeImmutable` in this context, and address the above TODO.

[2016-09-26 17:52] samreid commented on #270
// Font awesome nodes are expensive to pick (and have a lot of holes in them which you may wish to pick anyways,
      // such as the door of the 'home' icon, so don't pick by default.
      pickable: false,
[code]

[2016-09-26 17:55] samreid commented on #270
I'm not sure if you need other feedback from me, let me know is so.

[2016-09-26 17:58] jonathanolson commented on #270
I'm working on Shape immutability now.

Seems fairly common, as all checkboxes and reset-all/volume/home buttons probably have listeners or are descendants of something with listeners, and many of the font-awesome icons seem well suited to being on buttons.

pickable:false seems like an appropriate default to me, as long as it can be overridden.

[2016-09-26 18:19] jonathanolson commented on #270
Commits above to add immutability. @pixelzoom or @samreid, do we have a sim for testing that would exhibit a major memory leak if this caused them again?

[2016-09-26 18:50] pixelzoom commented on #270
Caching was originally removed because of this issue:  https://github.com/phetsims/joist/issues/329

[2016-09-26 18:52] pixelzoom commented on #270
The only sim that I'm aware of that would demonstrate a leak is model-of-the-hydrogen-atom (in development).  Pressing the camera button on the spectrometer creates snapshots.  Pressing the "View snapshots" button opens a dialog, with `FontAwesomeNode( 'trash' )` icons on buttons.

[2016-09-26 19:33] pixelzoom commented on #270
I reviewed the changes to Shape, looks straightforward.

@samreid Would you please review the changes to FontAwesomeNode?

[2016-09-26 19:41] pixelzoom commented on #257
It also seems like a component should absorb an event only if it was previously supposed to handle events.  It's not inconceivable that there may be some UI element on screen that is not interactive, but can still be enabled and disabled.

The current implementation of `enabledObserver` (see https://github.com/phetsims/sun/issues/257) s:

[code]

@jonathanolson Do you want to take a stab at what t

[2016-09-26 20:43] jonathanolson commented on #257
(This turned out a bit too "stream of consciousness", will think it over more to provide a proposal later. Wanted to get initial opinions/discussion)

That sounds like a good principle. In practice, that would (currently) mean every listener underneath the disabled component (e.g. slider thumb, slider track, etc.) would need to check the enabled flag, and event.handle() or event.abort(). That soun

[2016-09-26 20:48] jonathanolson commented on #257
A brief summary would be:

If node.preventDispatch (or another name) is set to true, input events that would be dispatched to this node or a descendant would not trigger any listeners on this node's subtree, but instead the event dispatch would start at the node's parent (whichever parent was in the picked trail). When a mouse hovers over, the mouse cursor of this node would be used (instead of a

[2016-09-27 17:44] samreid commented on #257
That seems like the right behavior, however there seem to be many complications in dealing with this as a new scenery feature.  I wonder if we should discuss shortcut/workarounds.  For instance, we could add an invisible rectangular background (or foreground?) node behind UIComponent.js that has `pickable:true` and does nothing.

Or (correct me if this is already what you discussed above), a flag

[2016-09-27 18:18] samreid commented on #270
I thought one of the problems with Shape (see discussion in https://github.com/phetsims/sun/issues/270#issue-178406865) was the back-reference in lines like:

[code]

Setting an immutable flag after the listeners have already been added doesn't seem to mitigate this problem at all.  @jonathanolson and @pixelzoom can you comment?

[2016-09-27 18:20] samreid commented on #270
Though I have a faint memory that the memory leak is through a Path parent reference, not through shape listeners....

[2016-09-27 18:25] samreid commented on #270
The code changes in FontAwesomeNode look correct.  I can take it for more of a test drive once the discussion above concludes.

[2016-09-27 18:40] jonathanolson commented on #270
Yup, https://github.com/phetsims/scenery/commit/ff21c54932df41202549b24b040fb1f6505e174c should fix that. I left the listeners from segment=>subpath and subpath=>shape so that if someone mutates a segment of an immutable shape then it will fail an assertion.

Unless people are holding references to very specific things inside of Shapes, then a Shape, its subpaths and segments should all be collect

[2016-09-27 19:14] jonathanolson commented on #257
Definitely. Controls could be expected to wire all of their listeners up to an enabledProperty, and be a no-op if it is false. They could also be required to change any cursors to the default when not enabled. That is the simple non-Scenery fix to me.

Won't work for circular buttons (or other shapes of controls).

I'm not sure what you mean about "still receiving" events but not iterating over li

[2016-09-27 19:58] samreid commented on #257
What is the part of scenery that tells only one node to receive events?  For instance if I have 2 sliders on top of each other, only the topmost slider will get dragged.  I'm suggesting that scenery would still send the events to the topmost slider, and it would signify that it handled the events, but it wouldn't actually do anything.

[2016-09-27 20:09] samreid commented on #270
I tested out the FontAwesomeNode runtime and it seems good.  With memory leak:

![image](https://cloud.githubusercontent.com/assets/679486/18889809/d1250a36-84bb-11e6-9338-bcf9543a4521.png)

Without memory leak:
![image](https://cloud.githubusercontent.com/assets/679486/18889828/e3d3e9a4-84bb-11e6-9fd7-ee76a5b8c511.png)

[code]

[2016-09-27 20:10] jonathanolson commented on #257
Say you have a root node, with two sliders (slider1 on top, and slider2 below).

The hit-test will return a Trail, so say the event is over both and it's a mouse-down. downEvent() is called, which calls ```this.rootNode.trailUnderPointer( pointer )```. This traverses depth-first (children handled top to bottom). Since slider1 is on top, the returned Trail would essentially be [root, slider1]. This

[2016-09-27 20:14] samreid commented on #257
Yes, I think we are thinking along the same lines.

[2016-09-28 00:37] jonathanolson commented on #257
Tagged to decide if Scenery feature proposal is acceptable (and/or to schedule a sub-meeting later).

[2016-09-28 01:48] samreid commented on #257
@jonathanolson can you propose a specific Node API?  What would it be called?  Would it be a new value for `pickable` or something orthogonal?

[2016-09-28 04:40] jonathanolson commented on #257
It's completely orthogonal to pickable, it should be a new value.

preventDispatch? skipEvents? ignoreEvents? ignoreInput? asleep? blockInput? blockEvents? Really, whatever people like.

So far my best description:

[2016-09-28 16:53] pixelzoom commented on #257
enabled?

[2016-09-28 18:28] jonathanolson commented on #257
That would have been my go-to name if we didn't inherit from Node with a ton of namespace conflicts.

[2016-09-28 18:41] jonathanolson commented on #270
It seems like a fairly rare case (usually you would construct the Shape and then mark it as immutable before it ever gets to Path).

I decided when implementing that this wasn't worth (to me) Path having to add yet another listener to Shape, just to listen for when it was made immutable (addShapeBecameImmutableListener?).

Path's setShape could use a note about this interaction.

Let me know if th

[2016-09-28 19:01] pixelzoom commented on #270
My feeling that if it's something that's possible to do, then it should be handled.   And seems relatively easy to handle this case:

In Shape, call `invalidate` in `makeImmutable`:
[code]

In Path, remove the listener when a Shape becomes immutable:

[code]

[2016-09-28 19:44] jonathanolson commented on #270
Changes as described pushed.

[2016-09-28 19:48] pixelzoom commented on #270
@samreid Do you want to take another look at this before it goes live in https://github.com/phetsims/phet-io/issues/642?

[2016-09-28 20:25] samreid commented on #257
How about `nodeEnabled`?

To avoid name conflicts, we sometimes prepend or append the type name, like: `this.disposePullerNode`.

[2016-09-28 20:29] pixelzoom commented on #257
`inputEnabled`, default `true`?

[2016-09-28 20:30] pixelzoom commented on #257
`inputEnabled`, default `true`? We may want to enable/disable other features in the future, so indicate that this option is related to input event processing.

[2016-09-28 20:31] pixelzoom commented on #257
The things I don't like about these names is that they are sort of like double negatives. E.g. `preventDispatch:true` is equivalent to `dispatchEnabled:false`.

[2016-09-28 21:44] jonathanolson commented on #257
I like that name.

[2016-09-28 21:58] samreid commented on #257
+1 for `inputEnabled`

[2016-09-28 22:40] samreid commented on #270
The change set looks correct, it seems OK to close.

[2016-09-29 00:45] pixelzoom commented on #257
In https://github.com/phetsims/sun/issues/257#issuecomment-247415804 we decided not to include the entire dev team in this issue, only the developer who were interested.  So I'm going to remove the meeting:developer label from this issue.  @jonathanolson Since you most recently added the label, if you feel strongly that this requires discussion at developer meeting, then restore the label.

[2016-09-29 15:28] jonathanolson commented on #257
Sounds good.

@pixelzoom, @samreid and @jessegreenberg, any (more) thoughts on the proposed solution, or should I start work in a Scenery branch?

[2016-09-29 16:11] pixelzoom commented on #270
Reopening.  This behavior (console) doesn't look correct:

[code]

According to the commit message for @https://github.com/phetsims/scenery/commit/e9485095e09c23162bde7b32ec81c481647df362, the Path should remove the listener from the shape, and there should be no error here.

[2016-09-29 16:14] pixelzoom commented on #257
I don't have any more input at this time.

[2016-09-29 16:15] pixelzoom commented on #257
I don't have any more input at this time. Let me know when scenery support is available, and I'll integrate into UIComponentNode.  Or feel free to modify UIComponentNode as an example.

[2016-09-29 16:28] jessegreenberg commented on #257
```inputEnabled``` sounds great to me, I have nothing more to add regarding the proposed solution.

[2016-09-29 16:40] samreid commented on #257
It sounds like it is ready for work, but keep in mind there are other live branches of scenery that will need to be managed, like cleanup.

[2016-09-29 20:51] jonathanolson commented on #270
Sorry about that, it may be that we're not using that ordering pattern in any sims.

Since those are static listeners, we can't modify the listener list while it is iterating. Making it non-static would cause extra allocations in places we don't want, so presumably we'll want another event for this purpose?

Alternatively, we could have making a Shape immutable an assertion failure if it has any i

[2016-09-29 21:08] andrewadare commented on #255
Code looks good to me, only question I have is whether it might be better to assign some kind of global constant for the frequently-used values (e.g. 5px dilations) instead of hard-coding them everywhere, so that if it's decided to change it later, one change would do it. Or, maybe that's not at all what you want; not sure.

[2016-09-29 21:37] jessegreenberg commented on #265
The commit above should handle points (1) and (2) in the review comment https://github.com/phetsims/sun/issues/265#issuecomment-247153292.  Button content now uses a single path.

Here is an example of what the arrows look like now, with the last four buttons on the right showing examples with extra optional spacing:
![arrow-buttons](https://cloud.githubusercontent.com/assets/6396244/18973330/32ad

[2016-09-30 02:50] samreid commented on #270
Since I am aware of the issue I am fine with the current behavior (as long as you document that makeImmutable must be called before new Path() is called).  But it may be opaque to others and the assertion @jonathanolson mentioned may be best, if that's straightforward.

[2016-10-03 20:22] pixelzoom commented on #212
This was apparently an issue during memory-leak testing for unit-rates. From implementation-notes.md:

SUN/buttons/RectangularPushButton's being used. Apparently SUN buttons dispose fails when assertions are enabled, so the disposes are turned off if asserts are turned on (see sun/#212)

Since this issue was created in December 2015 and has had no forward progress, labeling for discussion at devel

[2016-10-04 02:38] pixelzoom commented on #270
Sounds good.

[2016-10-04 02:40] pixelzoom commented on #265
👍 Closing.

[2016-10-04 02:40] #265 closed

[2016-10-04 04:48] pixelzoom commented on #255
There are 14 occurrences of "var ABSwitch".  I inspected the uses of ABSwitch, and only those in area-builder, balancing-act and expression-exchange (all @jbphet sims) are using 5px dilations.  All others are using the defaults (8px), except pendulum lab (3.5px).  So no, I don't think we need global constants for the 5px dilation.  Closing.

[2016-10-04 04:48] #255 closed

[2016-10-05 20:54] jonathanolson commented on #270
@samreid, what is the correct way to check an Events object for the existence of a listener for a certain name? Might need a new method for that.

[2016-10-05 23:53] samreid commented on #270
Events is deprecated and we should port to using Emitter instead.  Will that work for this case or do we need something for Events?

[2016-10-06 05:45] jonathanolson commented on #270
Added issue for handling Events => Emitter for Kite, as that's a prerequisite.

[2016-10-06 18:41] andrewadare commented on #212
I agreed at developer meeting to pick a couple sun or scenery-phet components and go through the disposal process.

[2016-10-07 05:14] jonathanolson commented on #257
Implemented in Scenery. @pixelzoom, feel free to integrate into UIComponentNode. Let me know if you run into any issues with enter/exit events getting mismatched when inputEnabled is false (I presume we might need to re-work some controls that work on matching enter/exits that get disabled).

[2016-10-07 17:00] pixelzoom opened #271 "why do we have 2 SVG files for fontawesome icons?"
From https://github.com/phetsims/unit-rates/issues/123#issuecomment-252303331:

FontAwesomeNode documentation says:

[code]

We have 2 svg files in sherpa:

[code]

@samreid  Why do we need fontawesome-webfont-3.0.2.svg? Can we just use font-awesome-4.5.0/fonts/fontawesome-webfont.svg?

[2016-10-12 21:11] andrewadare commented on #212
@jbphet can you briefly review my change to Carousel.js in e3da136, since @pixelzoom is out this week? I ran Expression Exchange and Area Builder with `?fuzzMouse=100` to test, since those two make use of Carousel instances. The former threw an exception, for what looks to be an unrelated reason (I realize it is still under development). Area Builder tested fine.

If the pattern I followed is reas

[2016-10-18 02:10] pixelzoom commented on #257
I believe that this involves a 1-line change to UIComponent, as shown in the above commit. @jonathanolson is that correct?

[2016-10-19 03:10] pixelzoom opened #272 "problems with Boolean*ToggleButton"
Problems with BooleanRoundToggleButton and BooleanRectangularToggleButton, noted while working on https://github.com/phetsims/unit-rates/issues/125.

(1) Allows the client to specify options.content.  That option should be blacklisted, since the constructor args are used to create the button's content.

(2) Uses a ToggleNode to switch between different Nodes for true and false state. But ToggleNod

[2016-10-19 03:13] pixelzoom commented on #272
Issue (1) addressed in above commit. If any sim is trying to set options.content for a BooleanRoundToggleButton, it will now fail an assertion.  Such sims should be using RoundToggleButton.

[2016-10-19 03:16] pixelzoom commented on #272
ToggleNode is currently used in balloons-and-static-electricity (ControlPanel), forces-and-motion-basics( GoPauseButton), and sun (BooleanRoundToggleButton, BooleanRectangularToggleButton).  Shall we make ToggleNode align the centers of its child Nodes, and test the above usages? Or is there some more general use case for ToggleNode that will be affected?

[2016-10-19 03:18] pixelzoom commented on #272
Or we could just add this to BooleanRoundToggleButton and BooleanRectangularToggleButton:

[code]

[2016-10-19 03:30] pixelzoom commented on #272
Or require the client to handle it the centering. E.g.:

[code]

[2016-10-19 13:01] pixelzoom commented on #272
I don't like the approach described in https://github.com/phetsims/sun/issues/272#issuecomment-254701469, because it relies on internal knowledge of BooleanRoundToggleButton --- specifically, that BooleanRoundToggleButton and ToggleNode don't set the position of trueNode and falseNode.

[2016-10-19 13:09] pixelzoom opened #273 "remove ToggleNode wrapChildren option?"
ToggleNode currently has this option:

[code]

Which is handled in ToggleNode constructor:

[code]

Problems with this feature:

(1) This is something that could be a feature for _any_ composite Node, and I don't believe it belongs in ToggleNode.  Wrapping nodes for the purposes of using scenery's DAG feature should be the responsibility of clients.

(2) Having the client wrap the nodes would make

[2016-10-19 13:12] pixelzoom commented on #273
The decision to add this option is documented in https://github.com/phetsims/sun/issues/36#issuecomment-28173209.

[2016-10-19 13:23] pixelzoom commented on #239
Disabled components should now be using scenery's new `inputEnabled` option instead of `pickable`.  It will take some time to update all UI components that are currently using pickable, but see https://github.com/phetsims/sun/issues/257.

@jessegreenberg Can we close this issue?

[2016-10-19 18:39] jbphet commented on #212
The carousel is a bit of an unusual case.  The property in question - ```pageNumberProperty``` - is actually created by the carousel, and there is no ability to supply it as an option (which surprises me a bit and may be something we should change).  Therefore, the dispose function isn't really needed in this case.  The problems arise in when a property originates outside of the object, and linkin

[2016-10-20 12:17] pixelzoom commented on #212
@jbphet said:

Not true, `dispose` also needs to address Properties (like `pageNumberProperty`) that are owned by the object being disposed. If such a Property still has listeners, then we need to either (1) treat that as an error, or (2) silently remove all listeners. I don't believe that we've standardized on this, since I've seen both approached used in common code.

Regarding whether `pageNumb

[2016-10-20 18:57] mattpen commented on #271
@pixelzoom - fontawesome-webfont-3.0.2.svg is used by FontAwesomeNode, and font-awesome-4.5.0/fonts/fontawesome-webfont.svg is used by the phet-io website and phet-io wrappers.

Do we need to consolidate?  It appears that v4 is not backwards compatible with v3 and upgrading may be an intensive process.

[2016-10-20 22:15] jbphet commented on #212
True, it would be a good idea to check properties owned by an object for listeners if and when disposal occurs .  My first inclination would be to make this an error case (via assert) rather than have the listeners silently removed.  Silently removing them seems kind of pointless, since if the object itself is no longer referenced anywhere, it would just be garbage collected along with its propert

[2016-10-23 20:41] pixelzoom commented on #257
@jonathanolson ping.

[2016-10-24 17:41] pixelzoom commented on #271
@mattpen I don't understand how the version dependency or compatibility issues. We add an icon to FontAwesomeNode by copy-pasting SVG data from fontawesome-webfont.svg.  Are you saying that the SVG format is different for 3.0.2 vs 4.5.0?  I recently added `level_down` to  FontAwesomeNode by copying it from the 4.5.0 version of fontawesome-webfont.svg, and I saw no problems.

[2016-10-24 18:01] pixelzoom commented on #273
ToggleNode is used directly by balloons-and-static-electricity, forces-and-motion-basics, neither of which appears to have a need to use scenery's DAG feature.

BooleanRoundToggleButton is by scenery-phet PlayPauseButton and RecordStopButton, neither of which appears to have a need to use scenery's DAG feature.

BooleanRectangularToggleButton is used by pendulum-lab and and scenery-phet (SoundTogg

[2016-10-24 18:06] pixelzoom commented on #273
In https://github.com/phetsims/sun/issues/36#issue-22427104, @samreid said:

There are currently no uses of ToggleNode in joist, so perhaps this is something that is no longer needed?

[2016-10-24 18:50] jessegreenberg commented on #239
Yes, this issue can be closed now.  We will have to follow through with https://github.com/phetsims/scenery/issues/41 for discoverability.

[2016-10-24 18:50] #239 closed

[2016-10-25 02:25] mattpen commented on #271
@pixelzoom - I'm not familiar with FontAwesomeNode enough to say whether we can upgrade easily or not.  I'm not aware of what changes there have been to the svg format, if any.  [According to their github page](https://github.com/FortAwesome/Font-Awesome/wiki/Upgrading-from-3.2.1-to-4), it mostly looks like the css classes changed names.  If we are copy/pasting code from the svg file, then its pro

[2016-10-25 16:46] pixelzoom commented on #271
I proposed to that we delete sherpa/lib/fontawesome-webfont-3.0.2.svg, and change the documentation in FontAwesomeNode as shown below (agnostic of version number):

[code]

Labeled for developer meeting.

[2016-10-26 15:39] ariel-phet commented on #202
@pixelzoom this issue has been sitting fallow for awhile, it seems like there is some work left to do and some regression testing that would be good. Do you mind making a test task for @phet-steele since our QA resources are not too strained at the moment? And perhaps we can polish off this issue (not necessarily you) after this testing?

[2016-10-26 15:40] ariel-phet commented on #202
@pixelzoom sorry, looks like that testing was already done....do you feel like tackling the remaining work, if not, please assign back to me.

[2016-10-27 04:58] samreid commented on #273
I haven't had an opportunity to investigate this yet.

[2016-10-27 16:16] jonathanolson commented on #273
Agreed, it works that way for most other buttons or components.

[2016-10-27 18:32] pixelzoom commented on #271
10/27/16 dev meeting, we decided to do what I proposed in https://github.com/phetsims/sun/issues/271#issuecomment-256091764.  I'll do it.

[2016-10-27 18:54] pixelzoom commented on #272
10/27/16 dev meeting: Change ToggleNode to center by default.  We can add `xAlign` and `yAlign` options in the future if necessary. Enumerate sims that need to be tested. I'll do this.

[2016-10-27 18:56] pixelzoom commented on #273
10/27/16 dev meeting: Delete this feature, I'll do it.

[2016-10-27 22:00] pixelzoom commented on #271
I deleted sherpa/lib/fontawesome-webfont-3.0.2.svg and adjusted all license-related files to point to sherpa/lib/font-awesome-4.5.0/fonts/fontawesome-webfont.svg.  The SVG font information (which is the sole portion used in PhET sims) remains licensed under SIL OPEN FONT LICENSE Version 1.1, so I simply renamed the license text file to sherpa/licenses/font-awesome-4.5.0.txt.

@mattpen Please verif

[2016-10-27 22:01] pixelzoom commented on #271
Note that I also tested a sim build, confirmed that the correct license info is in the sim's HTML file, and regenerated third-party-licenses.md.

[2016-10-28 01:46] pixelzoom commented on #273
Done, testing with various sims that use ToggleNode directly, and with toggle buttons. @samreid please review.

[2016-10-28 01:55] pixelzoom commented on #272
Done. Tested in (all?) sims that use ToggleNode, or one of the buttons that uses ToggleNode.

@samreid please take a peek.

[2016-10-28 13:47] mattpen commented on #271
The website and the io wrappers are still working in terms of font-awesome, thanks @pixelzoom.

[2016-10-28 13:47] #271 closed

[2016-10-31 00:13] pixelzoom commented on #257
@jonathanolson ping.

[2016-10-31 05:16] jonathanolson commented on #257
For UIComponent itself, yes. As noted earlier:

Has this been addressed, and is anything using UIComponent?

[2016-10-31 15:49] zepumph commented on #242
Discussed in 10/31 phet-io meeting with @andrewadare and @samreid. Happy Halloween!

In axon with property, we use the option phetioValueType to say what the property T type is.
We looked into the pattern used for RadioButtonGroup also, because they should use the same conventions.

@samreid's argument for homogenious types within these groups is less repeat code, and easier to maintain. Heterogen

[2016-10-31 16:49] samreid commented on #242
As we saw in #773, the phetioValueType is redundant and we should adopt the phetioValueType of the ComboBox Property instance.

[2016-10-31 16:51] andrewadare commented on #242
Let's assign to both @samreid  and myself, whoever gets to it first can take it.

[2016-10-31 22:11] pixelzoom commented on #257
UIComponent is currently not used.  Should I start integrating it into some components? @jonathanolson do you have suggestions for which components might expose the entry/exit problem that you mentioned? (Search sun and scenery-phet for `enabledProperty`.)

[2016-10-31 22:15] pixelzoom commented on #202
This was already addressed via 4c3ea1703434aac68c7ca80828e57f7c29f5490d for https://github.com/phetsims/sun/issues/254.  The default are in pixels:

[code]

Closing.

[2016-10-31 22:15] #202 closed

[2016-10-31 22:37] pixelzoom commented on #242
Let's also make sure that we document/verify/enforce that the type of items in a ComboBox is homogeneous.

[2016-11-02 15:28] samreid commented on #242
I'm going to take a look at this now.

[2016-11-03 18:35] pixelzoom opened #274 "Convert from PropertySet to Property"
Per https://github.com/phetsims/axon/issues/102...  Convert from PropertySet to Property.

PropertySet is only used in ButtonModel, but chasing down all usages of its Properties may be difficult.

[2016-11-05 23:57] samreid commented on #242
If the type is provided by AXON/Property but only for phet-io instrumented types, it will be difficult to consistently verify that values are of the right type.  For phet-io instrumented types, this type verification should be provide by Property (though I don't know how this would be implemented).  If we had something like that in Property, then we could validate all of the ComboBox values during

[2016-11-06 00:01] samreid commented on #242
I removed the ComboBox parameter above, and am using the phetioValueType from the Property.  @andrewadare can you please review?

[2016-11-07 15:55] andrewadare commented on #242
Soon, it would be good to discuss the pattern where we assign `tandem: null` in the ComboBox.js options object, then make subsequent checks for null. But that's a separate (wider) issue.

For phet-io/#773, we added an [assertion](https://github.com/phetsims/sun/blob/fa1a19058d43cb0fc10ee525acfb7f3c4568e66a/js/buttons/RadioButtonGroup.js#L150-L151) that enforces homogeneity. I didn't see anything s

[2016-11-07 16:01] pixelzoom commented on #242
It seems like the homogeneity check should be independent of PhET-iO. Could we iterate over ComboBox's `items` arg and verify that the `value` property of each item has the same type?

[2016-11-07 17:05] pixelzoom commented on #257
@jonathanolson ping.

[2016-11-07 17:18] jonathanolson commented on #257
Sure

ButtonListener's exit may not fire if it gets disabled while the mouse is over it. ComboBox also seems to use that pattern.

With the model-view separation between the button models and views with listeners, it's a bit harder to find cases that would be problematic.

[2016-11-07 18:23] jbphet commented on #274
Adding @ariel-phet to list of assignees to help with prioritization (and because he asked me to).

[2016-11-07 18:41] samreid commented on #242
Not necessarily, some of the types may be subtypes:
[code]

Would error out with `fish not instance of Mammal`.

[2016-11-07 18:47] pixelzoom commented on #242
How about at least documenting that `items` should be homogenous?

[2016-11-07 19:43] pixelzoom commented on #212
The above commit is causing sim failures. rutherford-scattering is failing at startup. MOTHA is failing fuzzMouse (https://github.com/phetsims/models-of-the-hydrogen-atom/issues/10).

[2016-11-07 19:53] samreid commented on #242
Like this? https://github.com/phetsims/sun/commit/76bbb73265c19bba930a9ab2cf464ba566aec14e

[2016-11-07 20:02] pixelzoom commented on #242
👍

[2016-11-07 20:59] andrewadare commented on #212
@pixelzoom I pushed revisions to Panel.js on the ama/dispose branch in 05d99f6. Both Rutherford and MOTHA work for me without problems in local testing.

In 7754d0a, my introduction of `this.disposePanel()` as a delegate for dispose() causes problems, even if the body of the function is completely empty. So I followed the pattern in CheckBox, which amounts to attaching all needed items to `this`.

[2016-11-07 21:01] andrewadare commented on #212
@pixelzoom Please review my commit on the ama/dispose branch, and suggest improvements if you see any. If this looks okay, I can merge it to master.

[2016-11-07 21:07] pixelzoom commented on #212
I don't know what the MOTHA problem was.  But for rutherford-scattering:

Skype:
[11/7/16, 2:05:41 PM] Chris Malley: Adding this.disposePanel to Panel was not your problem. The problem was that rutherford-scattering was then redefining this.disposePanel in subtypes.  Eg in AlphaParticlePropertiesPanel and AtomPropertiesPanel.
[11/7/16, 2:06:14 PM] Chris Malley: Those subtypes should have been defi

[2016-11-07 21:30] andrewadare commented on #212
So it turns out that adding disposePanel to Panel.js had the unfortunate effect of introducing a name that was shadowed by AlphaParticlePropertiesPanel and AtomPropertiesPanel in Rutherford Scattering.

This underscores the importance of following the convention that our private disposeMySubType() methods use the full MySubType name instead taking shortcuts with names like disposeType.

[2016-11-08 16:20] pixelzoom commented on #242
Seems like @andrewadare still had a question in https://github.com/phetsims/sun/issues/242#issuecomment-258874590.  Back to @andrewadare and @samreid to resolve.

[2016-11-08 16:47] andrewadare commented on #242
I don't have any further comments (we have other issues to deal with the null Tandem patterns in our code, I was just reminded of that while reviewing this.)

[2016-11-08 16:47] #242 closed

[2016-11-08 20:15] pixelzoom commented on #257
This will require multiple changes in master, which will affect phet-io deploys. Deferred until https://github.com/phetsims/phet-io/issues/831 is addressed.

[2016-11-09 18:21] ariel-phet commented on #274
@jbphet lets discuss once SOM is in QA testing

[2016-11-09 19:25] samreid commented on #212
This looks like it is causing https://github.com/phetsims/circuit-construction-kit-black-box-study/issues/2

[2016-11-10 15:55] andrewadare commented on #212
It's clear from multiple events this week that adding dispose methods to sun and scenery-phet code can have far-reaching consequences and fallout.

For example, even though I implemented dispose() for Panel properly in 05d99f6, the new private disposePanel method instantly broke Rutherford Scattering because RS also contained (unconventionally) named methods that shadowed it. I did not run the ful

[2016-11-10 16:52] samreid commented on #212
I'm hoping to address https://github.com/phetsims/circuit-construction-kit-black-box-study/issues/2 in the next week or two, and it will probably involve some fixes (but not all) for this issue.

[2016-11-10 19:41] samreid commented on #212
It is unclear whether the "sweep it under the rug" proxy property strategy will work, if there are other properties (such as overProperty) that can have listeners added from outside the button.

[2016-11-10 19:42] samreid commented on #212
@jessegreenberg and @andrewadare will work on dispose for sun components.

[2016-11-12 07:17] jonathanolson opened #275 "TextPushButton default font"
```new Font( 20 )``` actually has size 10, since Font isn't PhetFont.

I didn't want to bump the default size up by 2x (since this code is used everywhere), but should that be done?

[2016-11-13 23:02] pixelzoom commented on #257
Re phetsims/phet-io#831... we decided OK to continue working in master. Removing "on-hold" label.

[2016-11-16 00:17] pixelzoom commented on #270
I believe that all work is done here, or moved to new issues.

Closing.

[2016-11-16 00:17] #270 closed

[2016-11-16 00:21] pixelzoom commented on #275
Options:

1. Change `new Font(20)` to `new PhetFont(20)`. Visit 69 (?) call sites of `new TextPushButton` and add `font: new PhetFont( 10 )` option to all TextPushButtons that don't specify a font.

2. Overload `Font` constructor to support a `{number} size` arg, ala PhetFont.

Given the effort involved in (1), I'd probably go for (2). @jonathanolson your opinion?

[2016-11-16 01:16] jonathanolson commented on #275
Sun can't rely on PhetFont though, correct?

[2016-11-16 16:26] pixelzoom commented on #275
Ah right... sun can't rely on scenery-phet.

[2016-11-17 01:51] pixelzoom commented on #275
So @jonathanolson... It looks like the work here is done, and it's ready for review?

[2016-11-17 03:37] jonathanolson commented on #275
If the answer is "no, do not bump up the font size", then it is done and can be closed.

[2016-11-17 15:35] pixelzoom commented on #275
If `Font(20)` is actually size 10, can't you just change TextPushButton line 26 from:

```font: new Font( 20 ),```

to:

```font: new Font( { size: 10 } ),```

?

[2016-11-17 15:44] jonathanolson commented on #275
Yes, the behavior would be identical. But the default font is already size 10, so should that be added in?

Just as a clarification, I've already simplified the code by removing the font declaration completely (https://github.com/phetsims/sun/commit/a822decd3410f5d6066ee657fc3b92358fb46ae9), so is it desired to:

1. Change the default font to something not-10? I'd prefer to keep it the way it is,

[2016-11-17 15:52] pixelzoom commented on #275
Sorry, my working copy was behind 1 commit (was looking at this issue on a different machine).  I think what you've done is fine, and should have no affect on existing clients.

I'm going to close this, since I see no need for @jbphet to (re)review.

[2016-11-17 15:52] #275 closed

[2016-11-17 19:53] samreid commented on #212
Unassigning from myself until I resume work on https://github.com/phetsims/circuit-construction-kit-black-box-study/issues/2

[2016-11-21 22:46] jbphet commented on #274
I have committed code for this and done a fair amount of testing on my own.  This affects every simulation, so some additional testing is warranted.  Assigning to @phet-steele to test.  I suggest running the automated fuzz testing, fuzz testing the phet-io sims, and manually spot checking a bunch of sims - particularly those with lots of buttons - for correct operation of all button-related functi

[2016-11-21 23:01] pixelzoom commented on #274
This looks like a bug, AreaBuilderGameView line 906:

[code]

Shouldn't `checkAnswerButton.enabled =` be `checkAnswerButton.enabledProperty.value =` ?

[2016-11-21 23:56] pixelzoom commented on #274
Ah, never mind...  `this.checkAnswerButton.enabled` is using the ES5 setter of ButtonView, not the enabledProperty of ButtonModel.  These separation of view and model continues to mess me up.

[2016-11-21 23:57] pixelzoom commented on #274
sun is failing lint.

[2016-11-21 23:58] pixelzoom commented on #274
@jbphet said in Skype:

Via inspection. But then I realized that `this.checkAnswerButton.enabled` is using the ES5 setter of ButtonView, not the enabledProperty of ButtonModel.  These separation of view and model continues to mess me up.

[2016-11-21 23:59] pixelzoom commented on #274
I should also point out that we recently decided on a pattern for enabling/disabling UI components. And this doesn't conform.

[2016-11-22 00:15] jbphet commented on #274
@pixelzoom and I discussed this.  The crux of the issue was to move the buttons off of PropertySet, and I kept API to the buttons the same, so the ES5 getter/setter for button state (which is separate from the underlying button model) was left in place.  We should probably deal with the inconsistency with how enabled/disabled is handled at some point, but we agreed that this is outside the scope o

[2016-11-22 18:36] jonathanolson opened #276 "Panel minWidth mutability/shared minWidths"
Currently, it's a bit clunky to properly align Panels (so that vertically stacked panels have the same width, etc.)

Something like this seems required:
[code]

with the disadvantages:

1. All content needs to be created and referenced first to determine the maximum content size. Especially annoying if one Panel is created in a supertype and another in a subtype that need to be overridden.
2. Doub

[2016-11-27 20:44] samreid commented on #212
If we follow the proxy property pattern suggested in https://github.com/phetsims/sun/issues/212#issuecomment-167608250, then how do we implement dispose in those buttons?  Do we call dispose on the other internal properties, such as PushButtonInteractionStateProperty?  I tried tackling those listeners in https://github.com/phetsims/circuit-construction-kit-black-box-study/issues/2 but it is provin

[2016-11-28 03:16] pixelzoom commented on #212
Unfortunately, I don't think the proxy pattern is going to work.

[2016-11-28 16:43] samreid commented on #212
I suspected that.  So should we proceed with implementing the standard dispose pattern throughout the sun buttons?

[2016-11-28 17:05] pixelzoom commented on #212
I guess so... but I tried that initially and ran into serious problems, see https://github.com/phetsims/sun/issues/212#issuecomment-166962945.

[2016-11-28 17:07] pixelzoom commented on #212
Perhaps we should split this issue into 2 issues?  One for sun buttons (which are proving to be difficult) and one for all other sun components (which should be more straightforward).

[2016-11-30 00:59] pixelzoom commented on #274
@jbphet When you moved ButtonModel away from PropertySet, that broke somethings, because ButtonModel no longer has a dispose function (which it inherited from PropertySet).

E.g. in this code from `unit-rates.EditNumberDisplay`, where `editButton` is a RectangularPushButton:

[code]

`RectangularPushButton.dispose` calls `PushButtonModel.dispose`, which calls ButtonModel.dispose.  And `ButtonModel

[2016-11-30 01:00] pixelzoom commented on #274
You also didn't implement `reset` for the 3 Properties owned by ButtonModel.

[2016-11-30 01:04] pixelzoom commented on #274
`ButtonModel.prototype.dispose.call( this )` is invoked by these subtypes:

MomentaryButtonModel
PushButtonModel
ToggleButtonModel

[2016-11-30 01:07] pixelzoom commented on #274
I implemente `dispose` and `reset` for ButtonModel. @jbphet please review the above commit.

[2016-12-01 16:59] samreid commented on #276
Brainstorming: what about SameWidthNode(others) which would be used for the content of the panels?  You would still need to create contents first, but this could address margins and dynamic changes.

Usage:
[code]

[2016-12-01 17:46] pixelzoom commented on #276
Short term: Along the lines of @samreid's suggestion (SameWidthNode), there are 2 others that I would find to be immediately useful:  SameHeightNode, SameCenterNode.

Long term: I don't think that this type of layout responsibility belongs in Node subtypes. And putting these responsibilities in Node subtypes builds technical debt. A better solution would be something like [Java's layout managers](

[2016-12-01 17:49] samreid commented on #276
LayoutManagers sound reasonable, but it's a large area of uncertainty (how would the API look? how would it be implemented?).  Can we implement something unintrusive, so that our explicit layouts which we commonly use (like setting panel1.left = panel2.left) still work perfectly.

[2016-12-01 20:21] jonathanolson commented on #276
I'll investigate options.

[2016-12-02 17:11] samreid commented on #276
What about a method on HBox that tells the children to fill to max width?

[2016-12-02 17:15] pixelzoom commented on #276
You mean min width, no?

[2016-12-02 18:10] samreid commented on #276
"Set all of the children's width to be equal to the maximum width of the children."

[2016-12-02 18:14] jonathanolson commented on #276
How would an HBox option help with the described Panel case?

[2016-12-02 19:19] jbphet commented on #274
@pixelzoom - thanks for taking a stab at these.  There are a couple of things I'd like to discuss about the changes.

First, the idea of having a reset function seems a little suspect to me since this model is generally driven by input events.  If the reset were called when a pointer was over a button and/or down on a button, it could potentially confuse the state machine.  I could see this happen

[2016-12-02 19:36] pixelzoom commented on #274
(Ignore above 2 commits. I misunderstood something, then reverted.)

If you don't think there's ever going to be a need to reset a button, then feel free to remove `reset` from ButtonModel. I added it for backward compatibility with PropertySet.  Before doing so, please verify that there are no clients relying on it (as they were with `dispose`).

Re `dispose`... Yes, calling `dispose` on the Prop

[2016-12-02 21:35] samreid commented on #276
[code]

[2016-12-02 21:55] jonathanolson commented on #276
Changing the width of the children (Panels) with localBounds wouldn't resize the panels?

Ran into a case in ProportionPlayground where it would be ideal to have a same-sizing effect with alignment for each item (the ABSwitch needs to be logically centered, easy if we just say "left and right labels take up the same bounds size, but left is left-aligned and right is right-aligned". I'll plan to ad

[2016-12-02 21:59] samreid commented on #276
I didn't think it would, but I'm not too certain.

[2016-12-05 05:56] samreid opened #277 "RadioButton should use Property's phetioValueType"
As we did for RadioButtonGroup and ComboBox, RadioButton should use the phetioValueType from the Property.

[2016-12-05 05:59] samreid commented on #277
Fixed above and tested by linting and running BLL, which is instrumented and uses the RadioButton type.  Aqua shows green so far, but I'll report back if I see trouble:

![image](https://cloud.githubusercontent.com/assets/679486/20875115/5b5929a0-ba75-11e6-8b0e-51c4d622d9d5.png)

[2016-12-05 06:26] samreid commented on #277
@zepumph or @andrewadare can you please review?

[2016-12-05 17:03] zepumph commented on #277
@samreid I would love to review, let's collaborate on it sometime so that we can make sure that I'm reviewing the right stuff.

[2016-12-05 19:39] jonathanolson commented on #276
I've added AlignBox and AlignGroup as a proposal for how to handle these situations.

AlignBox takes a single content node, and allows the content to be aligned within a specified bounding box, with controls for horizontal/vertical alignment and margins on each side. Its local bounds will be that of the specified bounding box.

For example:
[code]

margins can also be specified:
[code]

and can be

[2016-12-05 19:40] jonathanolson commented on #276
Retagging for developer meeting, as it would be good to get people's thoughts on the above comment (https://github.com/phetsims/sun/issues/276#issuecomment-264954312) and currently-existing code (see Scenery's AlignBox/AlignGroup, they should be documented).

[2016-12-06 00:01] zepumph commented on #277
All looked good when reviewing with @samreid. We even used the phet-io brand aqua tests to convince ourselves.

[2016-12-06 00:01] #277 closed

[2016-12-06 23:25] pixelzoom commented on #257
I'm unlikely to work on this for a long long time.  If anyone wants to pick this up... The next thing to do is integrate this into `ComboBox`, by making `ComboBox` extend `UIComponent`.

[2016-12-07 17:38] pixelzoom opened #278 "ComboBox: add optional scrolling list"
https://github.com/phetsims/scenery-phet/issues/286 demonstrated what happens when the number of items in a ComboBox gets large.  When the list is popped up, it may fall outside the layoutBounds, making one or more items inaccessible.

This can be addressed by:
(1) Keeping the number of items in a combo box "reasonable". https://github.com/phetsims/scenery-phet/issues/286 is admittedly a scenario

[2016-12-07 17:43] pixelzoom commented on #278
Suggested options:

[code]

[2016-12-08 19:54] pixelzoom commented on #276
Code review issue: AlignBox is calling private functions of AlignGroup: onAlignBoxResized, removeAlignBox

[2016-12-08 19:56] pixelzoom commented on #268
Suggested to fix this AlignBox and AlignGroug. See using https://github.com/phetsims/sun/issues/276 (

[2016-12-08 20:00] pixelzoom commented on #276
12/8/16 dev meeting: Devs will test drive as they have time. I will try using this in unit-rates.

[2016-12-11 19:54] samreid commented on #273
The code change looks good and I tested it in Tug Of War, all seems well, closing.

[2016-12-11 19:54] #273 closed

[2016-12-11 19:56] samreid commented on #272
The changes look good, closing.

[2016-12-11 19:56] #272 closed

[2016-12-20 17:54] pixelzoom opened #279 "ComboBox: define default options for ButtonNode inner type"
ButtonNode uses a bunch of options, but doesn't have `_.extend` that defines the options and their defaults.

[2016-12-20 17:55] pixelzoom commented on #279
@samreid mentioned phetsims/tasks#730 for alternative approaches to propagating options. But I'm not sure we want to tackle that here.

[2016-12-20 18:07] pixelzoom commented on #279
Done, tested in a few sims, closing.

[2016-12-20 18:07] #279 closed

[2017-01-14 21:12] pixelzoom opened #280 "AccordionBox layout bug"
Noticed while working on unit-rates.

If the contentNode for an AccordionBox has its origin (x=0,y=0) at somewhere other than the upper-left corner of its bounding box, then the layout will be messed up.

For example, this bit of code in a ScreenView constructor:

[code]

... looks like this:

![screenshot_117](https://cloud.githubusercontent.com/assets/3046552/21958128/41c8819e-da63-11e6-9728-772

[2017-01-14 21:21] pixelzoom commented on #280
It's not obvious to me how to fix this.  The bug is probably in the chuck of code labeled "content layout", but I'm not grok'ing this.  Looks like this bit of code was significantly revised by @jbphet in @de72ee4f07ba180393d395e67bcf1105518d9875 and @21b619ac56f3d3b3698583494ab6587e1e2037fe.  @jbphet would you mind looking into this?

[2017-01-14 21:30] pixelzoom commented on #280
Here's the problem....

On line 110, we have:

[code]

Then the computations for layout appear later:

[code]

Since `contentNode` is already a child of `expandedBox`, the computation that use `expandedBox` are incorrect.  So I believe that we should be doing `expandedBox.addChild( contentNode );` _after_ the layout computations.

@jbphet Does that make sound right?

[2017-01-14 21:36] pixelzoom commented on #280
I went ahead and made the change, after testing in a bunch of sims that use AccordionBox (area-builder, build-an-atom, RPAL, MOTHA, unit-rates,...)

@jbphet please verify.  High priority, since this has the potential to mess up sims.

[2017-01-18 16:32] ariel-phet commented on #268
@jbphet I thinik now that SOM is out, time to work on this issue.

[2017-01-18 20:54] jbphet commented on #280
The reasoning makes sense and the change looks reasonable.  I also tested on several simulations, specifically Build an Atom, States of Matter, and Expression Exchange and saw no problems.  Closing.

[2017-01-18 20:54] #280 closed

[2017-01-27 19:43] jbphet commented on #268
For reference, below is an example of what @pixelzoom was trying to accomplish when he ran into this issue.  Note that the content of the radio buttons are all left aligned.  This was taken from the current master version of Models of the Hydrogen Atom.

![motha-control-panel](https://cloud.githubusercontent.com/assets/3082831/22385015/26e2b1f8-e48e-11e6-9002-d774bafc7380.PNG)

[2017-01-28 02:22] jbphet commented on #268
I've added alignment options to `RectangularButtonView` and added that capability to pass this option through the `RadioButtonGroup` constructor.  @pixelzoom suggested that there be different options for handling vertical and horizontal alignment for the `RadioButtonGroup` as a whole versus the content nodes for the buttons.  I don't quite understand this, because the group as a whole doesn't have

[2017-01-28 02:28] jbphet commented on #268
I also backed out the workaround in Models of the Hydrogen atom, but left it commented out in case there are problems.  @pixelzoom - please review and removed the commented-out code if this looks okay.

[2017-01-31 05:47] jonathanolson opened #281 "Working around immutable components"
Many components are written so that colors or other initial options can't be changed. Some would be somewhat time-consuming to refactor/rewrite. I've run into this a lot with various buttons, NumberPicker (https://github.com/phetsims/scenery-phet/issues/287), ShadedSphereNode, etc.

I have a prototype solution that I'd like to propose, as I don't have the time currently to independently modify eac

[2017-01-31 05:50] jonathanolson commented on #281
Docs from the prototype constructor:

Given a type that has an option that can only be provided on construction (e.g. 'color' option for NumberPicker),
MutableOptionsNode can act like a mutable form of that Node. For example, if you have a color property:

[code]

You can create a NumberPicker equivalent:
[code]

Now pickerContainer will have a child that is a NumberPicker, and pickerContainer.nod

[2017-01-31 23:56] jonathanolson commented on #281
Of note, the prototype has helped in proportion-playground with:

- ShadedSphereNode (main/highlight/shadow colors are not mutable)
- NumberPicker (color is not mutable)
- RadioButtonGroup (selectedStroke/baseColor are not mutable)
- ResetButton (baseColor actually looks mutable in retrospect, but a colorProperty isn't accepted)

[2017-02-01 23:21] pixelzoom commented on #268
@jbphet said:

I'm not suggesting "as a whole". The alignment determines how the content on the buttons is aligned.  Feel free to call it `buttonContentAlign` if you think that's clearer.  I would be happy with `align` that works properly and is documented.

[2017-02-01 23:46] pixelzoom commented on #268
Issues:

(1) Why does RadioButtonGroup still have an `align` option? Is it used somewhere?

(2) Dubious test harness in sun demo.

In https://github.com/phetsims/sun/issues/268#issue-178131092, I said:

There's 1 RadioButtonGroup in the sun demo:

[code]

Am I supposed to test RadioButtonGroup by manually changing the options?  To test `buttonContentYAlign`, I had to figure out that I also had to

[2017-02-02 18:12] samreid commented on #281
This seems like a nice pattern to use.  I'm wondering if you picture it as a long-term solution or just a holdover until each of those elements is mutable.  Also, where else do you think it will be used outside of color customization?

[2017-02-02 18:31] jonathanolson commented on #281
It can work as a long-term solution for things that we want to keep as immutable. For some components, I view it as a workaround due to the cost of making them mutable given the prevalent "options construction" pattern.

Depends, could be stroke sizes, changing listeners for components, changing icons, etc.

[2017-02-02 18:47] #281 closed

[2017-02-02 19:22] pixelzoom commented on #268
I removed the workaround in MOTHA.

I paired with @jbphet  to address the remaining issues mentioned in https://github.com/phetsims/sun/issues/268#issuecomment-276820873. See above commit.

Closing.

[2017-02-02 19:22] #268 closed

[2017-02-10 18:43] samreid opened #282 "HSlider layout changes based on position of thumb"
In issues like:
https://github.com/phetsims/circuit-construction-kit-common/issues/253
https://github.com/phetsims/rutherford-scattering/issues/97

And in many places in our codebase.  For instance, in MediumControlPanel.js

[code]

There are workarounds for the fact that HSlider bounds change based on the position of the thumb/knob (when it goes over the edge).

To address this problem, we could

[2017-02-12 15:50] pixelzoom commented on #282
Could AlignBox/AlignGroup be applied to this problem?

[2017-02-14 21:31] pixelzoom opened #283 "AccordionBox: option to turn off expand/collapse feature of title bar"
Clicking in the title bar of an AccordionBox is currently equivalent to clicking its expand/collapse button.  In unit-rates, there are some buttons that are a bit close to the title bar, for example:

![screenshot_137](https://cloud.githubusercontent.com/assets/3046552/22950220/1f863e92-f2c2-11e6-8626-84ac70379664.png)

It's a little too easy to accidentally collapse the AccordionBox by hitting th

[2017-02-14 21:38] pixelzoom commented on #283
Here's the new option:

[code]

Other options related to title bar have "titleBar" prefix, so this seemed like a reasonable name.

I'm using `titleBarExpandCollapse: false` in unit-rates.

[2017-02-14 21:41] pixelzoom commented on #283
@jonathanolson randomly chosen to review:

[code]

[2017-02-14 23:06] jonathanolson commented on #283
Haven't worked with AccordionBox before, but the commit looks correct and fairly simple. It seems there's always an expand/collapse button, so turning off both expanding and collapsing for the title should be fine.

Closing.

[2017-02-14 23:06] #283 closed

[2017-02-14 23:15] jonathanolson commented on #282
Overriding localBounds OR using a Spacer would both be preferable to using a Rectangle that is transparent.

AlignBox/AlignGroup can't help predict the maximum bounds over all possible configurations of component-specific movement (e.g. knowing the min and max slider positions). It's not an alignment / sizing issue that would be recommended for AlignBox/AlignGroup.

[2017-02-15 03:43] samreid commented on #282
OK I'll look into localBounds or spacer, thanks @jonathanolson!

[2017-02-15 16:22] samreid commented on #282
In the above commit, I'm dilating the track localBounds.  Here's what I checked to make sure it seems OK:

1. It corrects https://github.com/phetsims/circuit-construction-kit-common/issues/253
2. It has no lint errors
3. The "Evaporation" slider in concentration looks identical after this change and still works properly.
4. The gravity and orbits sliders appear identical after this change, and app

[2017-02-15 16:39] pixelzoom commented on #282
No documentation in the code about why `track.localBounds` is being dilated? No reference to this issue?

[2017-02-15 16:48] samreid commented on #282
Many thanks @pixelzoom, I added documentation in the preceding commit.

[2017-02-15 17:10] pixelzoom commented on #282
I tested sliders in all of my sims, and removed `resize: false` workarounds as noted in above commits.

Hooke's Law sliders are currently broken (see https://github.com/phetsims/hookes-law/issues/45) but I suspect that's related to PropertySet conversion.

[2017-02-15 17:13] samreid commented on #282
Thanks, I'll close the issue.

[2017-02-15 17:13] #282 closed

[2017-03-13 21:34] jbphet opened #284 "overriding addListener in a button subclass doesn't apply to listeners added through options"
In https://github.com/phetsims/scenery-phet/issues/291, @jessegreenberg needs to wrap listeners for Reset All buttons inside another function to prevent a flood of voice notifications upon reset when a screen reader is being used.  Wrapping the listener has turned out to be a bit tricky because listeners that are passed in through the options are added directly to the list of listeners in `ButtonM

[2017-03-16 06:54] jonathanolson commented on #284
This is probably like the 4th time I've thought about generalizing Node's pattern for more general use.

Node does this by forwarding any (legitimate) option to an ES5 getter (and typically to a function), so equivalently transforming:

- `var node = new Node( { opacity: 5 } )`
- to `var node = new Node(); node.opacity = 5;`
- to `var node = new Node(); node.setOpacity( 5 );` where overloading is

[2017-03-16 15:36] jessegreenberg commented on #284
I don't think that would solve this problem, the issue is that ```PushButtonModel``` adds ```options.listener``` without going through ```RoundPushButton.addListener()``` since all options in ```RoundPushButton``` are passed directly to ```PushButtonModel```.

[2017-03-16 15:43] jessegreenberg commented on #284
Could this option be removed from PushButtonModel:
[code]
so that clients must use addListener() in the button views to add a listener?  Button views could still support ```options.listener```.

[2017-03-16 17:18] jbphet commented on #284
Discussed at dev meeting, decided that it would be better if the hierarchy handled the issue, and overriding `addListener` just worked. I'll implement this.

[2017-04-10 16:46] pixelzoom opened #285 "CheckBox.getCheckBoxColor is broken"
Current implementation:

[code]

Should be:

[code]

There is also some broken JSdoc which I'll fix at the same time.

[2017-04-10 16:48] pixelzoom commented on #285
`getCheckboxColor` and its corresponding ES5 getter are not used anywhere, so no testing needed.

[2017-04-10 16:48] #285 closed

[2017-04-26 22:13] pixelzoom opened #286 "CheckBox.createTextCheckBox is not instrumented for PhET-iO"
While dev testing the instrumentation of Molarity (https://github.com/phetsims/tasks/issues/821), @phet-steele pointed out that the label on the "Show values" check box is not instrumented.  That check box is created like this:

[code]

The problem here is that `CheckBox.createTextCheckBox` has not been instrumented, there is no way to pass a tandem to the `Text` node that it creates.

[2017-04-26 22:14] pixelzoom commented on #286
Oh wait... Looks like I can use the `textOptions` parameter.  Closing.

[2017-04-26 22:14] #286 closed

[2017-04-27 03:42] pixelzoom commented on #284
@jbphet Why not just add all listeners via the same code path. I.e., add `options.listener` by calling `this.addListener`?

[2017-04-27 03:44] pixelzoom commented on #274
@jbphet What do we need to do to close this?

[2017-04-27 03:46] pixelzoom commented on #267
I used nested options in unit-rates, and it worked very nicely.   See for example `unit-rates.DoubleNumberLine`.

[2017-04-27 03:48] pixelzoom commented on #267
From units-rates [implementation-notes.md](https://github.com/phetsims/unit-rates/blob/master/doc/implementation-notes.md):

(e.g. in `DoubleNumberLine`).  The general pattern is:

[2017-04-27 03:52] pixelzoom commented on #173
@jbphet Reminder that we've just passed the 2-year anniversary of this issue.

[2017-04-27 03:56] pixelzoom commented on #43
In unit-rates, we used the fontawesome "undo" icon.

![screenshot_235](https://cloud.githubusercontent.com/assets/3046552/25467400/29ca8886-2acb-11e7-8618-7f2dd47c750c.png)

Unfortunate that it's similar to the Reset All icon, but... so it goes.

[2017-04-27 04:04] pixelzoom commented on #30
I have to say... This got even worse after it was instrumented for PhET-iO.

For example, in VerticalCheckBoxGroup, the tandem for each check box is set like this:

[code]

If I had used this in BLL, the `tandemName` for each item is the same as the solution name.  So there would be no "CheckBox" in any of the tandem id for the check boxes. Whereas if I had created individual CheckBox instances, I

[2017-04-27 14:06] samreid commented on #30
I agree this is problematic.  I think we struggled with the same problem in ComboBox and settled on a similar strategy:

[code]

Forces and Motion: Basics uses VerticalCheckBoxGroup like so:

[code]

Perhaps we should document (and possibly have assertions?) that the item tandems should end in "CheckBox" for VCBG and "RadioButton" for VARBG?

[2017-04-27 14:09] pixelzoom commented on #30
In ComboBox, it's the item tandem ids that are automatically created.  So we end up with ids like `solutionCheckBox.drinkMix`, which seems perfectly reasonable.

[2017-04-27 14:10] samreid commented on #30
Why would it be reasonable to have `solutionComboBox.drinkMix` but not `solutionRadioButtonPanel.drinkMix`?

[2017-04-27 14:11] pixelzoom commented on #30
It should be `solutionRadioButtonPanel.drinkMixRadioButton`.

[2017-04-27 14:12] samreid commented on #30
I'm confused, we should chat!

[2017-04-27 14:15] pixelzoom commented on #30
If you create you own CheckBox inside of a Panel, the id for the Panel would presumably be something like 'forcesControlPanel', and the CheckBox would be 'forcesControlPanel.showAppliedForceCheckBox, not `'forcesControlPanel.showAppliedForce`.

[2017-04-27 16:01] jbphet commented on #284
Yes, that's the plan. Thanks for the ping, I'll do it on Friday.

[2017-04-27 16:26] jbphet commented on #274
Thanks for the ping.  I'll take a look at it on Friday of this week (currently my common code day) and see what needs to be done and if I can just do it.

[2017-04-27 16:29] jbphet commented on #173
Happy anniversary!  I'll put this on this list of items to look at during my next common code day, which is Friday 4/28/2017.

[2017-04-27 16:31] samreid commented on #30
As pointed out in https://github.com/phetsims/sun/issues/30#issuecomment-297723334 the tandems end in `showSpeedCheckBox` not `showSpeed`.  That is as-desired, right?  So what is the problem?

[2017-04-27 18:36] pixelzoom commented on #30
OK, I see... The client is responsible for the "*CheckBox" name.

[2017-04-28 23:39] jbphet commented on #284
I committed a fix for this, but I had to duplicate the code in two places.  There is already an issue about how the button hierarchy leads to code duplication, see #133.  I'm going to look at refactoring the hierarchy in order to eliminate this duplication before saying that this has been fully addressed.

[2017-05-01 17:41] jbphet commented on #274
I went ahead and removed the reset function.  I think allowing reset of the button model would open a can of worms.  It was previously available as a side effect of descending from `PropertySet`, but I am fairly certain it was never used.  Having it explicitly implement would potentially indicate to future users of this class that it can and should be reset in some situations, and I don't want to

[2017-05-01 18:54] jbphet commented on #274
I just checked the results of the automated testing and I'm not seeing any instances of new errors that appear to be related to the removal of the `reset` method from `ButtonModel.js`.

[2017-05-02 13:39] veillette opened #287 "Cannot read property 'concat' of undefined in TResetAllButton.js"
Simulations cannot run :(

TResetAllButton.js?bust=1493732212455:39 Uncaught TypeError: Cannot read property 'concat' of undefined
    at TResetAllButton.js?bust=1493732212455:39
    at Object.execCb (require-2.1.11.js:1650)
    at Module.check (require-2.1.11.js:866)
    at Module.<anonymous> (require-2.1.11.js:1113)
    at require-2.1.11.js:132
    at require-2.1.11.js:1156
    at each (require-

[2017-05-02 15:24] #287 closed

[2017-05-03 19:22] zepumph opened #288 "HSlider clickXOffset is wrong if using thumbNode"
Currently most of the HSliders use the default thumb. But if you specify the thumbNode from options, there is a bug in the start function of the TandemSimpleDragHandler, see https://github.com/phetsims/resistance-in-a-wire/issues/85#issuecomment-299003588 for gifs of the problem, both in vertical and horizontal applications. Basically the first drag jumps up the slider about half the width of the

[2017-05-03 20:00] veillette commented on #288
Molecules-And-Light makes its own thumbNode but the slider behavior is fine. FYI, the thumb in Molecule and light is a scenery Path whereas the resistance-in-wire it's an Image. I don't know yet if this is relevant.

[2017-05-03 20:22] zepumph commented on #288
@samreid and I worked through this problem, and found that  we need to use 'centerX' instead of 'x', because some thumb nodes don't have the same values for these, but the default one (used in most sims) does have the same value.

[2017-05-03 20:33] zepumph commented on #288
@veillette, I actually found the same skipping problem in Molecules-and-light if I revert the line change I made for the bug fix.  Here is the thumbShape that is in MAL:
[code]
The 'center' (0,0) is in the top left corner, this is why I was not surprised to see a jump in this as well. It is probably also worth noting that the amount of jump correlates to the width of the slider, so this jump is on

[2017-05-03 21:29] zepumph opened #289 "Centralize slider thumb design for PhET Look and Feel?"
From https://github.com/phetsims/sun/issues/288, it would make sense to change old sliders to what we now use in all sims. The default can be seen in color vision and energy skate park basics. Here are some pictures of old and random sliders (not sure the exact age of many of these, but @samreid said they were old).

The general default, here seen in ESPB:
![image](https://cloud.githubusercontent.

[2017-05-03 21:33] samreid commented on #289
I think it would be great to have a consistent look and feel for sliders across our simulations.  Other benefits of a shared implementation: less code to maintain, less places bugs can sneak in and (marginally) smaller downloads.

[2017-05-03 22:47] zepumph commented on #288
I tested all of the fuzzing for all sims (phet and phet-io brand), as well as looking at specific sims, both that implement their own thumbNode (MAL, RIAW, OM), and that use the default (ESPB, CV). All seems good. I also updated the documentation so that it is know that the thumbNode no longer has to have a center of 0,0. We also simplified HSliderThumb so that it doesn't need to center around 0,0

[2017-05-04 04:47] samreid commented on #288
The code changes look great.  In the above commit, I revised the documentation a bit.  I also tested Hooke's Law before/after and it looks pixel-perfect.  I noticed @pixelzoom is an author for HSlider, do you want to take a quick look before we close?

[2017-05-04 15:25] jbphet commented on #274
I'd like to get some input from the developers as to whether it really makes sense to call the `Property.dispose` method from the `dispose` method of a button.

[2017-05-04 16:03] pixelzoom commented on #274
If the Property is owned by the button, then calling `Property.dispose` will verify that there is nothing observing a disposed button.  That would also mean that observers would need to `unlink` before calling dispose on the button.

[2017-05-04 16:05] pixelzoom commented on #274
... that said.  I don't believe the most (any?) common-code components call `dispose` on their owned Properties.  And if a Property is passed in via options, determining whether the component owns the Property is problematic.   So I'm not sure what to recommend for buttons.

[2017-05-04 16:21] #288 closed

[2017-05-04 18:24] samreid commented on #274
We discussed clearing listeners from a disposed Property instead of asserting an error.

[2017-05-04 18:25] samreid commented on #274
So the new dispose will be (with added documentation still to be added):

[code]

[2017-05-04 18:26] samreid commented on #274
And we should remove the `PHET_IO_FUNCTION` everywhere.

[2017-05-04 18:28] samreid commented on #274
@pixelzoom recommends to scan through property creation in common libs and make sure that Properties are disposed.  We have to look for `new Property` and other Property subclasses such as `new BooleanProperty`, etc.

[2017-05-09 17:35] ariel-phet commented on #289
@zepumph @samreid the sliders in Ohm's Law and RIAW can certainly be made to be consistent with other sims (however please give them a more "silver"/light gray appearance) to match better with the original look.

The slider thumb in MAL is quite specific, and so that should stay, although perhaps there is a way to use the general slider implementation but specify a different thumb?

The slider in